[2020-03-31 13:59] robinv85 opened #18 "Medical Info Page"
- [x]  local emergency number ( fetch from country info on Airtable ) ( #27 )
- [x] nearest hospitals based on users location ( g maps )

[2020-03-31 14:11] MohamedEl1 opened #19 "Symptoms checker"
- [x] Initial version is merged

there is still some work to finish the whole flow (so feel free to assign yourself to do this):

- [ ] add results page based on answers
- [ ] adjust flow with questions for 1st or 3d person
- [ ] optimize data model ( does it need to be saved? Better use translation keys for additional logic and adding translations.

The code can also be optimized to more reusable

[2020-03-31 14:16] robinv85 opened #20 "Feed page - Backend"
- [x] - posts backend & API support
- [x] - comment backend & API support

[2020-03-31 14:24] robinv85 opened #21 "User profile -Backend"
- [x] backend / API support to get user info

[2020-03-31 14:27] robinv85 opened #22 "Organization profile - Backend"
- [x]  backend / API support to get organistion info

[2020-03-31 15:14] robinv85 opened #23 "Update frontend styling to match the mobile UX designs"
Check the Figma designs and update the colors, buttons etc. to match mobile screens (mobile first responsive layout)

[2020-03-31 15:18] robinv85 opened #24 "Update frontend tooling"
- [ ] Add styled components & convert inline styles
- [x] Add prettier formatting (#25)

[2020-03-31 21:57] shivanshs9 commented on #21
I'd like to work on this if no one else's working on it.

[2020-03-31 22:06] robinv85 commented on #19
I think it has to be redone with the step wizard flow like need-help and offer-help

[2020-04-01 00:52] MohamedEl1 commented on #21
yes you can go ahead with it @shivanshs9

[2020-04-01 12:47] #23 closed

[2020-04-01 12:47] #24 closed

[2020-04-01 15:58] Gtstride commented on #19
I did that already, but can't seem to push to the repos, without conflict

[2020-04-01 17:28] indirabhowmick opened #32 "Fight-Pandemics - MVP Scope"
This flow is for users requesting Medical help.
The project will include 3 modules:
- Symptom Checker
- Local info (phone + local hospitals)
- A social media where people or organizations that are providing help can connect with the ones that need help.

[2020-04-01 17:39] indirabhowmick opened #33 "Requirements for Symptoms Checker UI"

[2020-04-01 20:32] PriyalPatney commented on #22
I’d like to write this API.

[2020-04-01 20:56] anniegiang commented on #20
I can help out with backend if needed.

[2020-04-02 06:40] shivanshs9 opened #36 "User doesn't remain authenticated across refreshes - Auth0"

[2020-04-02 18:21] jjho opened #39 "Requirements for User Sign up/Login and Completing Profile"
- In order for someone to create a post, they must be a) have an account, and b) has signed in.
-New user is able to create a new account by the following ways:
1) typing in email address and password. This method of creating user account will be verified by sending a verification email to the email address.
2) sign in via alternative social media account or Gmail account
-Store user account with

[2020-04-02 20:15] robinv85 commented on #19
So I'm working on this, reviewing what is done and will merge it properly to master

[2020-04-03 01:32] indirabhowmick opened #41 "Landing Page"

[2020-04-03 01:44] manualzuru commented on #39
I think it looks good @jjho, However, I think isn't complete and the flow isn't correct. @robinv85 maybe it's 1 ticket because the whole logic seems to me like isn't complete as it's important to say that this screen is the same for login/register and the logic is that if the user isn't already in our data base, then it creates a profile. otherwise, it logs you in.

1. username can be interpreted

[2020-04-03 01:46] indirabhowmick opened #42 "Sign up UI, Priority - Critical"
**Please refer to Notion for detailed requirements:**
[](https://www.notion.so/fightpandemics/1e414137c4424e32813c0a09d3d8f3d1?v=504dc384e20e4fd4b1efb1d2d70faed3&p=25cc9f92f870497b9f9cf4c26878f3de)
---------------------------------------------------------------------------------------------
**Tasks**
- [ ] - Develop the UI
- [ ] - Social media validation using Auth0 service
-----------------------

[2020-04-03 03:19] anniegiang opened #43 "Running "docker-compose up" doesn't watch for file changes"
Right now I can't see file changes instantly when developing.

To see changes I need to kill the server and rebuild using `docker-compose up --build`.

Is there a way to have docker watch for file changes without rebuilding each time?

[2020-04-03 04:31] neemiasjnr commented on #43
@anniegiang Good point, I created a production ready container so it won't watch for changes unfortunately. But it's possible to create a Dockerfile.dev and watch for changes, I'm gonna work on that today

[2020-04-03 04:43] anniegiang commented on #43
@neemiasjnr sounds good!

[2020-04-03 09:35] neemiasjnr opened #46 "Move authentication logic with Auth0 to backend"

[2020-04-03 10:34] #43 closed

[2020-04-03 21:06] MohamedEl1 opened #49 "Feed page - Front end"
- [ ]  - show posts in frontend
- [ ]  - show comments in frontend

[2020-04-03 21:09] MohamedEl1 opened #50 "User Profile - Front End"
- [x] frontend user profile

[2020-04-04 00:38] robinv85 commented on #46
So I think this can be closed since #47 was merged

[2020-04-04 00:44] robinv85 commented on #20
I guess when posts, comments and likes are merged ( llast one #52 ) for initial version this can be closed

[2020-04-04 14:26] pavanmt commented on #22
Will start working on API dev.

[2020-04-04 17:16] MohamedEl1 commented on #22
Sure

[2020-04-04 17:22] robinv85 opened #56 "Backend: upgrade to Fastify + tools for API schema documentation & validation"
- [x] OpenAPI specs
- [x]  Swagger UI via docker
- [x]  Upgrade to Fastify (includes schema validation)
- [x]  nice to have: generate JSON schema's for validation from API specs from

[2020-04-04 17:24] neemiasjnr commented on #56
Amazing bro

[2020-04-05 02:08] indirabhowmick commented on #41
- Develop the Home Page UI

Refer to the Requirements Documentation in Notion:
https://www.notion.so/fightpandemics/Home-Page-a8730bc6d96d4d5bbdce9410fdb28f31

[2020-04-05 02:41] indirabhowmick opened #61 "Home Page UI, Priority - Critical"
Refer to the Requirements in Notion
https://www.notion.so/fightpandemics/Home-Page-a8730bc6d96d4d5bbdce9410fdb28f31

Tasks
- [x] Develop the Home Page UI

Acceptance Criteria - As per the requirements documented

[2020-04-05 02:47] indirabhowmick commented on #42
Refer to the detailed Requirements:
https://www.notion.so/fightpandemics/Sign-Up-UI-61f9574c1a0d4debaed9fe812ad66d48

Acceptance Criteria as per the Requirements

[2020-04-05 04:57] indirabhowmick opened #62 "Login - Register UI, Priority - Critical"
- [x] Develop the UI

- [ ] Backend Validation to make sure the user is registered in the system.

Detailed Requirements:
https://www.notion.so/fightpandemics/Login-Register-UI-077a4a57e0c944428379715a09637894

Acceptance Criteria as per the requirement

[2020-04-05 05:02] indirabhowmick opened #63 "Recover Password UI"
- [ ] Develop the UI

Detailed Requirements in Notion
https://www.notion.so/fightpandemics/Recover-Password-UI-87b6fce7cffb4f5c823d5b81234cb3c3

[2020-04-05 05:04] indirabhowmick commented on #49
Requirements for Feed UI
https://www.notion.so/fightpandemics/Feed-UI-653658508c4649869787c48f3e4eee13

[2020-04-05 05:08] indirabhowmick opened #64 "Filters for the Feed UI - Priority Critical"
- [ ] Develop the filters for the Feed UI

Detailed Requirements:
https://www.notion.so/fightpandemics/Filters-for-the-Feed-UI-9889702415454f65b8e137e58b8458f4

[2020-04-05 05:29] indirabhowmick opened #65 "Create a Post UI - Front end"
Priority - Critical
Requirements:
https://www.notion.so/fightpandemics/Create-a-Post-UI-As-an-Individual-07559621512241848b8bbc7ddc981330

- [ ] Develop the UI

[2020-04-05 05:34] indirabhowmick opened #66 "Create a Post UI - Back end"
- [x] posts backend & API support

Requirements:
https://www.notion.so/fightpandemics/Create-a-Post-UI-As-an-Individual-07559621512241848b8bbc7ddc981330

[2020-04-05 11:14] pavanmt commented on #22
PR:
https://github.com/manualzuru/FightPandemics.com/pull/68

[2020-04-05 15:50] MohamedEl1 opened #69 "Mobile Organization profile - Front end"
- [ ] frontend organisation profile

[2020-04-05 18:35] #42 closed

[2020-04-06 04:59] indirabhowmick commented on #50
Here is the Requirements for Create Individual Profile UI
https://www.notion.so/fightpandemics/Create-Individual-Profile-UI-cf719e2292874303a2ce943c912bdbf3

[2020-04-06 05:00] indirabhowmick commented on #69
Here is the Requirement for Create Org Profile UI
https://www.notion.so/fightpandemics/Create-Org-Profile-UI-d1438cad0cdb4ca09a9684366009fc8f

[2020-04-06 11:08] shivanshs9 commented on #62
@neemiasjnr backend part is remaining to be implemented and linked.

[2020-04-06 11:54] #66 closed

[2020-04-06 11:54] #61 closed

[2020-04-06 11:55] #20 closed

[2020-04-06 11:55] #21 closed

[2020-04-06 19:06] #49 closed

[2020-04-06 19:06] #64 closed

[2020-04-06 21:30] luxumbra opened #74 "Complete theming and remove SASS"
As well as colors, it would be useful to also have font-sizes, etc in the theme.

I am happy to do this as a first contribution. :)

:information_source:  **Update: I have done some of the work toward the theme in PR #99, which has now been merged. I have renamed the issue to better reflect the work left to do.**

[2020-04-06 22:01] robinv85 commented on #56
Most of the work has been done, updating the API spec is pretty much "cointinuously"
most important part right now I think is that the request validation schema's can be automatically generated

[2020-04-06 22:01] #56 closed

[2020-04-06 22:39] robinv85 commented on #74
Hey @luxumbra thanks for the suggestion!
However the scss styles and node-sass were added to work with Bootstrap for the initial POC made during the hackathon.
Now it’s kind of the goal to remove Bootstrap, scss and also preferably css & inline styles as much as possible, as well as the node-sass dependency.
This way we can use styled components everywhere...
Apologies  if this wasn’t clearly docu

[2020-04-06 22:40] robinv85 commented on #74
The plan was more or less to use a theme.js file next to the colors and leverage styled components, theme provider or a similar configuration... open to suggestions.

[2020-04-07 00:37] luxumbra commented on #74
Ah OK. No worries. I was asking in chat if there were any vars for font sizes, etc and as there weren't any as yet, it was suggested to add some typographic vars for the theme. No worries though and I'm glad it's styled components, not css modules. :)
Personally, i think using styled components theme provider is a lovely way to work, in my limited experience of React projects. I've worked with tha

[2020-04-07 10:52] robinv85 commented on #74
@luxumbra yeah sure, go ahead... would be nice if it's cleaned up a little
You might also notice there is alibrary added called Grommet, I was testing that but I guess we will also remove it and use our own base components instead.
For typography for example there is a Title component ... would be nice if there is some systematic approach for the components and styling!

[2020-04-07 15:51] #65 closed

[2020-04-07 19:52] #19 closed

[2020-04-07 21:25] Valrud opened #81 "Symptom Check UI"
Requirements:
https://www.notion.so/fightpandemics/Symptoms-Checker-UI-ece79c396f0643f1adbb7bb48da36078

[2020-04-08 01:07] luxumbra commented on #74
Cool, OK. I'll start with the Title component. How did you find Grommet? Any good?

Also, to reduce the use of `!important` properties, if we need to override the default AntD classes, I think it would be good to use [the Babel CSS namespace plugin](https://github.com/QuickBase/babel-plugin-styled-components-css-namespace) for styled components. What do you think?

[2020-04-08 10:22] Jose-Tejera opened #83 "Integrating GTM"
We would like to include Google Tag Manager to the WebApp and main website/landing page so we are able to add tracking and add tags on the fly without the need of deploying new code.

To add GTM to the website, we need to add the following as high as possible after <head>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({‘gtm.start’:
new Date().getTime(),event:‘gtm.js’});var f=d.getElementsBy

[2020-04-08 21:49] anniegiang opened #85 "React failing to compile material ui icons"
I've tried npm install in client and docker rebuild but still run into this issue... For now I comment out that file where it imports it

<img width="962" alt="Screen Shot 2020-04-08 at 2 45 38 PM" src="https://user-images.githubusercontent.com/42228386/78836952-f7ac8780-79a7-11ea-96bd-a8f6b40b9c4c.png">

[2020-04-08 22:01] robinv85 commented on #85
Hmm @anniegiang is the module installed? Did you check package.json?
Maybe try to install it again and check if  something was wrong with package or package-lock ...
I've pulled latest master and besides a bunch of lint warnings it seems to work

[2020-04-08 22:20] anniegiang commented on #85
The module is in client/package.json and I've tried npm install and rebuilding docker but no luck

[2020-04-08 22:53] robinv85 commented on #85
@anniegiang do you only run the react app from inside docker, or also locally with just running `npm start` from `./client` ?

[2020-04-08 23:09] anniegiang commented on #85
normally I run `docker-compose up` from the root folder.  i can try just running the client if i'm working on frontend

[2020-04-09 00:23] robinv85 commented on #85
Yeah seems like the docker-compose file is broken because of change in PR #60
Was trying to make it consistent use of quotes but forgot that YAML has different use for single / double quotes ... in many cases they can even be omitted so I'll make hotfix that hopefully fixes this.

[2020-04-09 00:48] #85 closed

[2020-04-09 13:23] luxumbra opened #88 "Add correct fonts and homepage tweaks"
1. The correct fonts for the App are Poppins and Work Sans, neither are being used at present.
2. The Menu icon is an ellipsis but in the designs it's showing a hamburger. It's also not vertically aligned with the logo.
3. Vertical white space on the homepage needs tweaking

[2020-04-09 13:35] luxumbra commented on #88
1. I've added in imports the same way we were importing Roboto (`typeface-roboto`) with `typeface-poppins` and `typeface-work-sans`. Poppins is working a treat but despite `typeface-work-sans` being installed in `node_modules`, I am getting the following error:
`./src/index.js
Module not found: Can't resolve 'typeface-work-sans' in '/app/src'`
2. I've changed the icon for the menu and is now the c

[2020-04-10 21:00] #36 closed

[2020-04-10 21:27] robinv85 commented on #88
@luxumbra seems like this was also updated in #89 see https://github.com/manualzuru/FightPandemics.com/pull/89/files#r406724649

Any idea about current status? Seems to me that Roboto can be removed, and that "Poppins" is now added as a Google font, so maybe can be removed from npm depencencies?

[2020-04-10 23:23] robinv85 commented on #74
@luxumbra I thought luxumbra was pretty good, haven't really used it that much, only tested a few components
It could be better than completely rolling our own base components, for now I've removed react-bootstrap and also some grommet buttons in some files and replaced by our base components just for the sake of consistency.

And yeah... hmm not sure, haven't used or seen that Babel plugin before

[2020-04-11 00:04] CeesWang commented on #50
- Finished styling the user profile,
- created edit-profile / edit-account routes and components

wip
-   styling on edit-profile and edit-account components
-  handle data flow for my activity in user profile

[2020-04-11 19:21] robinv85 commented on #18
This can be closed when #90 is merged... then we just need to check if everything is ok and maybe tweak some things, probably also need to add a tabs component

[2020-04-11 19:43] robinv85 opened #102 "Like / unlike a post API"

[2020-04-11 20:49] mannykary commented on #22
@pavanmt Hope you don't mind me picking up this issue. I was asked by @robinv85 to work on implementing this in Node.js/Fastify, rather than Python/Flask as you had done. If you would like to work with me on this, let me know.

[2020-04-11 21:40] luxumbra commented on #81
@mutebironald are you working on this? I have been working on the Onboarding wizard, which I am assuming shares code. Just wondering if you've done any work on this yet.

[2020-04-11 22:30] mutebironald commented on #81
@luxumbra , I am working on this though I don't think it shares functionality with the onboarding wizard. I just display relevant messages on the result dashboard depending on the answers given.

[2020-04-12 01:45] luxumbra commented on #81
:+1: OK thanks mate.

[2020-04-12 01:55] luxumbra commented on #88
I have some tweaking to do after feedback from design, then the other wizards will need to have the new styled components that I've created added to them, which should bring them all into line with designs. I'll remove roboto and the poppins dependency. Thanks

[2020-04-12 11:34] #102 closed

[2020-04-12 14:29] luxumbra commented on #74
@robinv85 Yeah, it seems pretty good and seems less opinionated regards to styles...less overrides needed.
Good plan to remove the .scss files - at the moment, both @anniegiang and I have used the theme.scss file to import google fonts. Without having to install & import a module to handle these fonts (i'm having issues with that), where can those `@imports` go?

[2020-04-12 20:50] robinv85 commented on #62
backend using username / password is working, code can use a little bit of polish
need to check the social logins when other PR's are merged

[2020-04-12 22:01] robinv85 opened #111 "Comments on Posts backend"
- [x]   create a comment on a post or sub comment (only 1 level of nesting for now)
- [x]   get tree structure of comments when getting post details
- [x]   get number of comments for every post when getting list of posts
- [x]   delete comment + sub comments
- [x]   update comment
- [x]   like a comment
- [x]   unlike a comment
- [x]   delete all comments if a post is deleted

[2020-04-13 21:25] luxumbra commented on #41
Hi @indirabhowmick I see that the mentioned Home Page UI (#41) ticket has been closed. Is there still a requirement for work on this? Also, I remember it being mentioned in one of the channels on Slack that there may be some more content added to the homepage. If that's the case, is there a document in Notion that covers this? Thanks :smile:

[2020-04-14 03:22] anniegiang opened #114 "npm error"
Several people from the product team are getting this error when they first clone the repo:

[code]

Currently I instruct them to remove `package.json.lock` and `client/node_modules`, and then run `docker-compose run client npm install`

This wasn't an issue before so it's best to figure out what happened.

[2020-04-14 16:00] luxumbra commented on #88
The work this issue was created for has been completed and merged, so I am closing this. I'll open a new issue for the work required for integrating the styled components I created for the wizards. Any additional font / theme oriented work can be done under issue #74. @robinv85 @anniegiang does this seem reasonable?

[2020-04-14 19:51] dfrancks opened #115 "Update requests to update/delete posts to authenticate user - backend"
TODO:
* Ensure the JWT is set as authorization header (Bearer token) with user id to secure the API endpoints
* Make sure that a user can only delete or update their own posts
* Make sure that the user is authorized to comment/like/delete likes or comments on a post (not sure what the rules are here around post visibility)

Possible approach:
* Use the JWT to get the current user ID, and confirm t

[2020-04-14 20:11] elisechant opened #116 "Social links in the footer don't link out correctly"
# What happened

Clicking Facebook, Instagram, etc links in the footer at the website https://fightpandemics.com/, don't link out correctly to the associated social domains. Rather they link to https://fightpandemics.com/#.

# Expected

Clicking Twitter icon should link to https://twitter.com/FightPandemics rather than https://fightpandemics.com/#, and so on.

[2020-04-14 21:42] Valrud opened #117 "User Feedback UI"
**Priority**: High

**Requirements**: https://www.notion.so/fightpandemics/User-Feedback-UI-645a5edc39c44d91843d3b6e56f2eff8

**Description**: User can give feedback over a user feedback functionality included in the hamburger menu (mobile) / top menu bar (desktop).

**Tasks**:
- Frontend: the creation of  UI

Please contact Valentin Rudloff if there are any questions related to the requirements

[2020-04-15 01:43] mannykary opened #119 "[backend] Look into automatically adding additionalProperties: false to all fluent schemas"
See Robin's comment:

Only disadvantage is that it's a risk to forget this in the schema. For me this is ok but would be nice if we can set it as a default without risking to forget it in the schema's.
@mannykary Can you also add this in the readme?

_Originally posted by @robinv85 in https://github.com/FightPandemics/FightPandemics/pull/105_

[2020-04-15 05:05] indirabhowmick opened #120 "Login-Register UI Defects"
Issues identified during Testing:
https://www.notion.so/fightpandemics/Login-Register-UI-Defects-ca2addb42ae249768e054f7bda3b20fe

[2020-04-15 05:07] indirabhowmick opened #121 "Homepage UI Defects"
Issues identified during Testing:
https://www.notion.so/fightpandemics/Homepage-UI-Defects-910a5fed52104f3691c9da8fa46265f2

[2020-04-15 05:08] indirabhowmick opened #122 "Onboarding - Need Help - Medical Help - UI Testing defects"
Issues identified in the flow:
https://www.notion.so/fightpandemics/Onboarding-Need-Help-Medical-Help-UI-Testing-defects-228519f361354bb9b08de05f2358f2ae

[2020-04-15 05:09] indirabhowmick opened #123 "Onboarding - Give Help - UI Defects"
Issue identified during Testing:
https://www.notion.so/fightpandemics/Onboarding-Give-Help-UI-Defects-a9c75a74a84e40369c9afbbdbcf4a0c5

[2020-04-15 12:23] #22 closed

[2020-04-15 16:04] #111 closed

[2020-04-15 16:29] dfrancks opened #125 "Add capability to login using social media account"
Going to let @robinv85 add the details here, I know he was planning on working on this

[2020-04-15 16:29] dfrancks opened #126 "Implement Pagination on the Backend"
We need to implement pagination when the user loads posts. We'll implement lazy loading on the frontend in https://github.com/FightPandemics/FightPandemics/issues/127

@robinv85 thinks this might be best handled using mongo "skip" and "limit" parameters https://fightpandemics.slack.com/archives/C010V0DDHLN/p1586966620489600?thread_ts=1586966336.487500&cid=C010V0DDHLN

Let's shoot for loading 5 pos

[2020-04-15 16:29] dfrancks opened #127 "Implement Lazy Loading on the Frontend"
In https://github.com/FightPandemics/FightPandemics/issues/126, we'll implement pagination on the backend - this is to implement the lazy loading on the frontend.

The idea is that we'll only load 5 posts at a time, and will automatically load the next page when the user scrolls down a certain amount in their feed.

Check out `backend/lib/endpoints/schema/posts.js` for the BE schema:
[code]

[2020-04-15 16:41] nadinejuraschek commented on #116
I should be able to fix that!

[2020-04-15 17:18] #81 closed

[2020-04-15 17:50] luxumbra commented on #122
I have just pushed a branch, 664a7ff,  which has a slight refactor of the Need help wizard, so it now uses the additional styled components in `components/StepWizard/` I created in a previous chunk of work (now merged). If someone wants to take on this branch to attend to the issues in this ticket, that'd be cool. I'm not sure if that's best practice?

[2020-04-16 20:00] robinv85 opened #133 "Auth check API calls in backend with JWT Bearer token"
#115

[2020-04-16 20:01] robinv85 commented on #18
@PriyalPatney im going to close this ticket since I guess you have implemented this functionality
@Gtstride seems like you have an open PR related to this
would be nice to be more specific about what still has to be done and what exactly is done in a PR

[2020-04-16 20:01] #18 closed

[2020-04-16 20:02] robinv85 commented on #62
closing this as newer issues contain more information about remaining work to do

[2020-04-16 20:18] robinv85 commented on #133
duplicate of #115
wasn't on the project board but i found a way to add it

[2020-04-16 20:18] #133 closed

[2020-04-17 14:34] robinv85 opened #136 "Front page SVG button issues (Firefox)"
When I rebuilt latest master and tested it locally, I saw following issues
- there is no text on the 2 buttons
- the hover style for the SVG images doesn't work (purple on purple background)

Tested in Firefox, see screenshot:
![image](https://user-images.githubusercontent.com/1286347/79580427-44d7da00-80c9-11ea-8212-96dd7fcc45ae.png)

[2020-04-17 16:27] nadinejuraschek commented on #116
Solved!
Links for facebook, instagram, and twitter work now. I disabled Google+ and RSS, because I don't think we have accounts for those?

[2020-04-18 22:36] #116 closed

[2020-04-18 22:38] manualzuru commented on #33
@indirabhowmick should we close this?

[2020-04-19 01:07] indirabhowmick commented on #33
The Requirements have been drafted in Notion.
https://www.notion.so/fightpandemics/Symptoms-Checker-UI-ece79c396f0643f1adbb7bb48da36078

[2020-04-19 01:07] #33 closed

[2020-04-20 01:45] indirabhowmick commented on #32
Requirement documents for features have been added in Notion
https://www.notion.so/fightpandemics/a729bd46f001461393a0ad707161f299?v=16cb1b0a7a1c4d5ba0a1aea6184cf734

[2020-04-20 01:45] #32 closed

[2020-04-20 17:18] dfrancks opened #146 "Add Expiration Date to Posts"
We need to add `expireAt` to the Post model and the Post endpoints.

In a future ticket, we will add filtering on the backend to filter out expired posts before serving them to the FE.

When editing the post, the `expireAt` should be referenced from the time the person is editing the post, not the original time of posting.

[2020-04-20 17:33] robinv85 commented on #146
I think the backend will apply filters based on query params that are sent by the frontend? Well that makes more sense to me anyway... maybe I didn't understand the requirements exactly, haven't looked at the designs for the feed in detail yet.

[2020-04-20 17:45] dfrancks commented on #146
That makes sense, thanks Robin. Updated the ticket

[2020-04-20 21:26] indirabhowmick opened #148 "User Feedback Backend"
Backend: the creation of a database for collecting feedback that lists user (if registered and logged in) or IP-address together with location based on IP address and answers to feedback questions

Requirements:
https://www.notion.so/fightpandemics/User-Feedback-UI-645a5edc39c44d91843d3b6e56f2eff8
Please contact Valentin Rudloff if there are any questions related to the requirements.

[2020-04-20 23:25] indirabhowmick opened #149 "Create Footnote for Mobile and Desktop"
- [ ] Create Footnote for Mobile and Desktop

- [ ] All the UI's need to include the Footnote

Requirements:
https://www.notion.so/fightpandemics/Footnote-24895e52864547a5be0c365fcccc3595

[2020-04-20 23:56] indirabhowmick opened #150 "Policy Page updates"
These are the 3 policy pages:
www.fightpandemics.com/terms-conditions
www.fightpandemics.com/privacy-policy
www.fightpandemics.com/cookies-policy

Please work with Edwin Mata to add content to the page.

[2020-04-21 01:24] manualzuru commented on #69
@indirabhowmick I believe this isn't the latest. We have changed some of the things, didn't we?

[2020-04-21 01:28] indirabhowmick commented on #69
Please refer to the updated UI design from FIGMA:
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=775%3A538

[2020-04-21 04:00] nadinejuraschek commented on #41
see above :) Would love to know if this is completed or not as well

[2020-04-21 04:29] indirabhowmick commented on #41
Here is the updated Requirement:
https://www.notion.so/fightpandemics/Home-Page-a8730bc6d96d4d5bbdce9410fdb28f31

I have created separate tickets in GitHub to create FootNote and add the contents on the Policy Pages which will be launched from Home Page.
https://github.com/FightPandemics/FightPandemics/issues/150
https://github.com/FightPandemics/FightPandemics/issues/149

[2020-04-21 04:38] markthien commented on #63
created pull request for this

[2020-04-21 04:48] indirabhowmick commented on #63
Thanks so much!

[2020-04-21 13:50] Naraujo13 commented on #146
When creating the post, we set the expireAt (I suggest that name to keep the consistency with createdAt and updatedAt timestamps) at X time after the current date and then filtering it by the fronted params should be easy at the backend as @robinv85 said.

What is still not clear to me about this feature @dfrancks is when editing, what is the reference date? If the user edits a post and sets to ex

[2020-04-21 16:06] dfrancks commented on #146
I think one week from editing makes more sense. I'll update the ticket.

[2020-04-21 16:08] dfrancks commented on #146
I think one week from editing makes more sense. I'll update the ticket.

[2020-04-21 18:03] #136 closed

[2020-04-21 18:48] indirabhowmick commented on #63
@markthien Please refer to the latest UI design in FIGMA:
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=11%3A2.

I have moved the ticket to In Progress Column

[2020-04-22 01:03] #120 closed

[2020-04-22 01:03] #121 closed

[2020-04-22 01:03] #122 closed

[2020-04-22 01:04] #123 closed

[2020-04-24 17:21] robinv85 commented on #46
fixed now in other pr's

[2020-04-24 17:21] #46 closed

[2020-04-25 01:53] #149 closed

[2020-04-25 01:57] anniegiang commented on #39
@manualzuru @robinv85 Is this issue still relevant?

[2020-04-25 01:59] #88 closed

[2020-04-25 01:59] #114 closed

[2020-04-25 02:46] anniegiang opened #163 "Create a script that parses and imports posts data into database"
Currently we have data from Airtable that we want to migrate over to MongoDB.

We want a script that parses the data from Airtable and structures the data to fit our current models. The script should also insert the parsed data into our MongoDB database.

[2020-04-25 03:46] anniegiang opened #164 "Post Filter: Integrate the location filter with the Google Maps API"
The location filter filters Posts displayed in the Feed by location. Posts are filtered by the most specific location entered (e.g. if a state was selected, will filter by that state) and sorting by location (nearest posts first).

Requirements:
- User enters a location or clicks on "share my location", in the background we get the following information:
  - City, State, Country
- Save searched lo

[2020-04-25 09:57] #125 closed

[2020-04-25 19:23] anniegiang opened #165 "Frontend changes needed for the mobile Symptoms Checker page"
- Need to update all styles and text based on the latest designs on Figma.
- Designs need to be more pixel perfect.

Mobile Design:
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=11%3A2

[2020-04-25 21:10] anniegiang opened #167 "Frontend style changes needed for mobile Login/Sign Up pages"
The current implementation needs to be more pixel perfect to reflect the current designs on Figma.

Mobile Design: https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=11%3A2

[2020-04-25 22:32] indirabhowmick opened #169 "Home Page for Desktop version"
- [ ] Update current Home page styling for desktop.
Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ] Designs need to be pixel perfect

[2020-04-25 23:09] indirabhowmick opened #170 "Login Page for Desktop"
- [ ]  Update current Login page styling for desktop.
 Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ]  Designs need to be pixel perfect

[2020-04-26 00:09] indirabhowmick opened #171 "Update Sign-up page styling for desktop."
- [ ] Update current Sign-up page styling for desktop.
Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ]  Designs need to be pixel perfect

[2020-04-26 00:15] indirabhowmick commented on #63
@markthien

- [ ] Can you please include the styling updates for Desktop also in the same PR?

Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ] Designs need to be pixel perfect

[2020-04-26 00:32] indirabhowmick commented on #117
@DanielAlexander84

- [ ] Can you please include the styling changes for Desktop in the same PR?
Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A802

- [ ]  Designs need to be pixel perfect

[2020-04-26 00:40] indirabhowmick opened #172 "Create Post - Update Styling for Desktop"
- [ ] Update current Create Post page styling for desktop.
Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ]  Designs need to be pixel perfect

![Screen Shot 2020-05-18 at 6 19 13 PM](https://user-images.githubusercontent.com/42228386/82274100-1baea180-9934-11ea-8cde-aa21d9f1af31.png)

[2020-04-26 00:45] indirabhowmick opened #173 "Update Nearest Hospital UI styling for Desktop"
- [ ]  Update current Nearest Hospital page styling for desktop.

Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ] Designs need to be pixel perfect

[2020-04-26 00:46] indirabhowmick opened #174 "Update Feed UI styling for Desktop"
- [ ]  Update current Feed page styling for desktop.

Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ] Designs need to be pixel perfect

[2020-04-26 00:50] indirabhowmick opened #175 "Update styling for Symptoms Check for Desktop"
- [ ] Update current Symptoms Check UI's styling for desktop.

Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ]  Designs need to be pixel perfect

[2020-04-26 00:53] indirabhowmick opened #176 "Update styling for Create User Profile for desktop"
- [x] Update current Create User Profile page styling for desktop.

Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [x]  Designs need to be pixel perfect

[2020-04-26 00:55] indirabhowmick opened #177 "Update styling for Create Org Profile for Desktop"
- [ ] Update current Create Org Profile page styling for desktop.

Refer to the latest design in FIGMA under Desktop App MVP.
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

- [ ]  Designs need to be pixel perfect

[2020-04-26 07:53] DanielAlexander84 commented on #117
I can do that, but am not 100% sure which changes are meant with that. When I click on the link it leads to only the logo.

[2020-04-26 15:17] dbenyamin opened #178 "path from need help / offer help w/o symptoms doesn’t work"
Choosing either path (need help / offer help) doesnt take you to the feed, per spec:

https://www.notion.so/fightpandemics/Feed-653658508c4649869787c48f3e4eee13#f6992b37a3b1406292c7f54c4cdb33d7

It instead takes you to the emergency contact page. This page should only be shown if one chooses Need Help -> Have Symptoms

[2020-04-26 17:16] indirabhowmick commented on #117
@DanielAlexander84 : My bad.
Here is the link:https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

[2020-04-26 18:36] DanielAlexander84 commented on #148
I would like to do this in addition to the frontend [issue](https://github.com/FightPandemics/FightPandemics/issues/117) associated with it to get to know the project better. If anyone has an issue with this or I am taking too long, please let me know. 😄

[2020-04-26 19:18] anniegiang opened #179 "Connect API with the Feed for displaying Posts"
The`/feed` page displays posts with the following features:

- [ ] On initial render, the Feed component makes a `GET` request to `/api/posts/` to fetch posts to display.
- [ ] On subsequent renders, the Feed component makes a `GET`  request to `<tbd_endpoint>` to fetch **filtered posts** based on the selected filters.
  - [ ] The feed should have endless scrolling, with lazy loading of 10 posts.

[2020-04-26 19:32] anniegiang opened #180 "Connect API for Liking and Unliking a Post"
- Logged in
  - [ ] Make a `PUT` request to `/api/:postId/likes/:userId` if a user HAS NOT liked a post.
  - [ ] Make a `DELETE` request to `/api/:postId/likes/:userId` if a user HAS liked a post.
- Not logged in
  - Redirect to login/sign up

More reference:
https://www.notion.so/fightpandemics/Feed-653658508c4649869787c48f3e4eee13

Contact @anniegiang for questions about how the frontend of the

[2020-04-26 19:37] anniegiang opened #181 "Connect API for Commenting a Post"
Comment on a post (logged-in)
- [ ] Make a `POST` request to `/api/:postId/comments`, sending along the required data in the request body to the server.

If not logged in, redirect the user to login/sign up.

More reference:
https://www.notion.so/fightpandemics/Feed-653658508c4649869787c48f3e4eee13

Contact @anniegiang for questions about how the frontend of the Feed was built.

[2020-04-26 19:56] anniegiang opened #182 "Connect API for Post CRUD operations"
A not logged-in user is redirected to login/signup.

A logged-in user can:

1. Create a Post
   - [x] Make a `POST` request to `/api/posts/`, sending along the required data in the request body to the server.

2. Access any post (no auth required)
   - [x] Make a `GET` request to `/api/posts/:postId`.

3. Edit a post that they authored
   - [ ] Make a `PATCH` request to `/api/posts/:postId`, sendi

[2020-04-26 20:02] anniegiang opened #183 "Connect API for Liking and Unliking a Comment"
- Logged in
  - [ ] Make a `PUT` request to `/api/:postId/comments/:commentId/likes/:userId` if a user HAS NOT liked a comment.
  - [ ] Make a `DELETE` request to `/api/:postId/comments/:commentId/likes/:userId` if a user HAS liked a comment.
- Not logged in
  - Redirect to login/sign up

More reference:
https://www.notion.so/fightpandemics/a729bd46f001461393a0ad707161f299?v=16cb1b0a7a1c4d5ba0a1ae

[2020-04-26 20:24] anniegiang opened #184 "Add filters to /posts endpoint"
In the `/feed` page, a user can filter posts based on the following filters:
1. Location (will use Google Maps API)
   - Related to Issue #64
2. From Whom
3. Type
4. Need or give help

After a user selects filters, the Feed will make a `GET` request  to `/api/posts` that:
 - [ ] Accepts queries of filter values.
 - [ ] Queries into database based on filter values.
 - [ ] Return to the client filte

[2020-04-27 01:59] indirabhowmick commented on #148
@DanielAlexander84 awesome. Thanks for volunteering. I think for this you have to create the API to post the user feedback. The table has already been created to store data and should be present in the data model. I will create another ticket to connect the front end with back end - API connectivity. Any questions related to the data model, please contact Nicholas.

[2020-04-27 18:51] robinv85 commented on #184
So I guess title of the endpoint can change to "add filter parameters to posts API" or something like that instead of creating a new endpoint, I don't think that's necessary.

[2020-04-28 00:49] anniegiang commented on #184
@robinv85 Yea I agree, will update the issue.

[2020-04-28 16:17] nadinejuraschek opened #188 "Cookie Message that displays on the top or bottom of the page when it is first opened"
@EdwinMata, our lawyer, asked to open this issue.

TO DO:
* Connect with @Yu on Slack for design.
* Message needs to say something like: "We use cookies. By continuing to browse this site you are agreeing to our use of cookies. Read more."
* Read more should redirect user to /cookies-policy

[2020-04-28 21:48] mushketyk commented on #126
I can help with this.

[2020-04-28 21:54] robinv85 commented on #126
Yeah it seems like there is a large branch of work in progress with updated data model for the mongoose schema's and backend code, possibly including endpoints and API schema''s... I am not sure about current status and progress, but I think @Naraujo13 mentioned that he would like to implement a reusable function that would allow something like using `page, limit` parameters or similar instead of

[2020-04-29 00:00] #150 closed

[2020-04-29 09:11] mushketyk opened #194 "Implement seeding scripts to create data for testing/development"
Implement a seeding script that should create projects and organizations.

We can use Mongo Seeding project for this: https://github.com/pkosiec/mongo-seeding

[2020-04-29 09:19] mushketyk opened #195 "Expose a debugger port on the backend to allow to connect IDE debugger"

[2020-04-29 09:20] mushketyk opened #196 "Configure logger on the backend"
Pino logger seems to be popular now: https://github.com/pinojs/pino

[2020-04-29 09:52] mushketyk commented on #194
Duplicate of #163

[2020-04-29 10:06] mushketyk commented on #126
Damn. Already implemented it for projects API and created a PR :)

[2020-04-29 10:14] mushketyk commented on #126
@robinv85 @Naraujo13  Any suggestions on how to organize our work?

[2020-04-29 11:52] robinv85 commented on #196
@mushketyk Fastify comes with the Pino logger built-in by default https://www.fastify.io/docs/latest/Logging/
If you look at the code you can see there are aleady some places where we are logging things (you can just use `req.log.info()` inside handlers etc.) So I guess this can be closed unless you want to add some more specific logging.

Some things that I feel are missing here though, is the ca

[2020-04-29 12:08] robinv85 commented on #126
@mushketyk yeah I didn't know there was so many work in progress without clear indication of status on the Github issue tracker and I've asked @Naraujo13 to split up the branch that they're working on in multiple parts so it's easier to digest in reviews and also to put tickets in progress and assign them where needed, because indeed we need to make sure we can collaborate with more people that wa

[2020-04-29 18:19] anniegiang opened #198 "Clean up: Export default named React Components"
Currently a few of our React components are exported as anonymous functions. To follow  [convention and best practices](https://twitter.com/dan_abramov/status/1255229440860262400), we want to export default React components with names.

Things to keep in mind:
- Please also update import statements in components that use other components in order to prevent rendering issues.
- This will likely cau

[2020-04-29 18:24] robinv85 commented on #198
Does that last example even work? As far as I know it should be either `export default function ...` or `export default class ...` ? See https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export

[2020-04-29 18:38] anniegiang commented on #198
@robinv85 Ah for the last example I forgot to add `const`, in which case would work.

[2020-04-29 18:42] anniegiang commented on #198
@robinv85 Also since we're sticking with Hooks I think it's best we stick with arrow functions and/or function statements and not use classes for our React components

[2020-04-29 18:48] robinv85 commented on #198
@anniegiang actually I think the default exports don't work with const, I tried before so I'm pretty sure :)
https://stackoverflow.com/questions/36261225/why-is-export-default-const-invalid there's probably a logical explanation for it... so just saying that when using `const` with arrow functions and default exports it's probably needed to do it in 2 steps.

[2020-04-29 18:55] anniegiang commented on #198
@robinv85 Ah my mistake, I'll remove the third example. I misread `export const ` as `export default const` when I was googling.

I'm also surprised how the the official React docs don't really talk about how to import/ export properly... or maybe I haven't searched deep enough in their docs

[2020-04-29 19:16] anniegiang opened #199 "Configure an ESLint rule for alphabetization"
- [ ] Alphabetize imports

[code]

- [ ] Alphabetize object properties

[code]

[2020-04-29 21:38] #115 closed

[2020-04-29 21:40] nadinejuraschek opened #203 "Convert last class components to functional components"
These remaining class components need to be refactored:
- [x] ~/pages/AirTableCOVID
- [x] ~/pages/NrMap

[2020-04-29 22:16] Naraujo13 commented on #126
@mushketyk just reviewed your PR, left some comments there. Thank you for taking the initiative and trying to help.

As @robinv85 said, I am currently migrating the data models, though not on that arbitrary monolithic way. To avoid that, we're modulating it as a single model change at a time, swapping the mongoose model, and adapting the endpoints that use it(field names and etc), but not adding a

[2020-04-29 22:40] Naraujo13 opened #204 "Change Post data model to v2"
Change Post mongoose model to [v2 data model version](https://github.com/FightPandemics/DataModel) and adapt the posts endpoints to reflect those changes.

[2020-04-29 22:44] Naraujo13 opened #205 "Change Comment data model to v2"
Change the Comment mongoose model to [v2 data model version](https://github.com/FightPandemics/DataModel) and adapt the comments endpoints to reflect those changes.

[2020-04-29 22:52] Naraujo13 opened #206 "Change User data model to v2"
Change the User mongoose model to [v2 data model version](https://github.com/FightPandemics/DataModel) and adapt the user endpoints to reflect those changes.

[2020-04-29 22:54] Naraujo13 opened #207 "Change Organization data model to v2"
Change the Organization mongoose model to [v2 data model version](https://github.com/FightPandemics/DataModel) and adapt the organization's endpoints to reflect those changes.

[2020-04-29 23:05] Naraujo13 commented on #148
Hi @DanielAlexander84, if you need any help with the data model, please reach out.

[Here](https://github.com/FightPandemics/DataModel/blob/master/v2/scripts/Mongoose_Script/feedbacks.js) is the definition of the feedback model, already in mongoose, so you can use it to save some time and focus on the endpoints.

[2020-04-30 07:55] mushketyk commented on #196
@robinv85 Good points!

I'll create an issue to create a catch-all handler. I think the logic should be pretty straightforward: if this is a 5xx error we should return a generic error message in a response. If this is a 4xx error we should return an error message from an exception.

I am not familiar with Heroku, but is there a way to get output from a process' stdout and ship to log storage?

[2020-04-30 07:57] mushketyk commented on #126
Thank you for the comments @Naraujo13. All make sense. I'll try to update the PR today.

[2020-04-30 07:59] mushketyk commented on #119
Would it be a good idea to create a function like this:

[code]

it can then be used everywhere where we define objects' schemas.

[2020-04-30 11:10] robinv85 opened #210 "Add Fastify sensible plugin for some more consistency and coding conventions"
Fastify Sensible is an official plugin that provides some sensible defaults https://github.com/fastify/fastify-sensible
It's very similar to what we are currently doing already, with the `httpErrors` package built-in on the Fastify instance and the `reply` objects.
It comes with some useful things built-in that we can consider which can improve the codebase
- assertions on the fastify instance
- t

[2020-04-30 11:26] robinv85 opened #211 "Add fastify env-schema plugin to validate the .env config"
There is currently some validation in the `config.js` file after loading some environment variables but it could definitely be improved and it looks like the fastify env-schema plugin would provide exactly what we need https://github.com/fastify/env-schema and since we are already using `fluent-schema` for the API request validation it's probably better to use the same approach.

[2020-04-30 11:37] DanielAlexander84 commented on #148
Thank you both for the info. I plan on working on this during the weekend when I will have more free time. 😄

[2020-04-30 11:39] robinv85 commented on #196
@mushketyk I've created an issue to propose adding the fastify-sensible plugin https://github.com/FightPandemics/FightPandemics/issues/210
This would solve the catch-all error handler problem with a better default, and also add some other useful thigns.

Also we are working on the move to AWS so Heroku will probably not be used anymore.

We could also look at better configuration for the logger if

[2020-04-30 11:42] robinv85 commented on #119
@mushketyk yes something like that is what I had in mind
Furhtermore it can probably be automatically added to all the request schema's, to the `body` , `params` etc. if those are present? We might be able to find some standard plugin for that, I think @mannykary tried one but it wasn't working well

[2020-04-30 15:50] #74 closed

[2020-04-30 16:18] #188 closed

[2020-04-30 16:32] anniegiang opened #213 "Configure an ESLint rule for prefer export default"
When there is only a single export from a module, prefer using default export over named export.

[code]

[code]

For your reference or inspiration:
https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/prefer-default-export.md

[2020-04-30 16:39] anniegiang opened #214 "Create reusable SVG Icon components"
Currently this is how we use SVG icons:

Step 1: Create a SVG file in `src/assets/icons`
Step 2: Create a styled-component of the SVG in `src/components/Icon`
Step 3: Use the styled-component of the SVG icon

This issue:
- [x] Create a reusable SVG Icon component

Perhaps a source of reference/inspiration:
https://blog.lftechnology.com/using-svg-icons-components-in-react-44fbe8e5f91

[2020-04-30 17:26] mushketyk commented on #196
We can configure Elasticsearch on AWS for logs, if we have a budget for this.

I like to make log output human-readable in dev, but then use JSON for staging/production, so that it could be parsed by CloudWatch logs/Elasticsearch.

[2020-04-30 17:26] mushketyk commented on #196
I'll close this PR, as a duplicate

[2020-04-30 17:26] #196 closed

[2020-04-30 17:57] agmaal1 commented on #203
created feature/203classtohooks branch to solve this issue.

[2020-04-30 17:59] agmaal1 commented on #203
already refactored src/pages/AirTableCOVID.js

[2020-04-30 19:57] #198 closed

[2020-04-30 20:52] robinv85 commented on #195
@mushketyk I guess this is a duplicate of https://github.com/FightPandemics/FightPandemics/pull/215 ?

[2020-04-30 20:56] robinv85 commented on #146
@Naraujo13 this is also implemented on your posts PR right?

[2020-04-30 20:57] robinv85 commented on #39
I think the requirements here are mostly clear except for some details like for social media linking
and in case we don't have an email from a social media channel it might make some things more complex

[2020-04-30 21:00] robinv85 opened #217 "Back button for need-help and offer-help flows should use react router"
Instead of currently using a `href="/"` link it should use react router and not do a hard refresh.

[2020-04-30 21:07] #119 closed

[2020-04-30 21:24] mannykary commented on #119
@mushketyk Nice, thanks for tackling this! Would you mind updating the resume to mention this function? There is already a note to use `additionalProperties(false)` so we would just need to update the note to use the `strictSchema`.

[2020-04-30 21:42] robinv85 opened #220 "Add "confirm password" field to `/api/signup`"
The `/api/signup` route should have an additional required field in the request body with the `confirmPassword` value to make sure that the user has entered their password exactly the same, twice, before creating a user in the Auth0 database.

[2020-04-30 22:04] anniegiang opened #221 "Resolve console warning in NrMap.js"
[code]

- [ ] Line 90:32:   Expected to return a value in arrow function  array-callback-return

- [x] Line 105:22:  Expected '===' and instead saw '=='           eqeqeq

- [ ] Line 123:28:  Expected to return a value in arrow function  array-callback-return

[2020-04-30 22:05] anniegiang opened #222 "Resolve console warning in utils/common.js"
[code]

[2020-04-30 22:06] robinv85 commented on #119
@mannykary I've also just thought about that, I'm adding fastify-sensible and will update the readme about backend so I can also change this in the process

[2020-05-01 00:01] robinv85 opened #223 "Fix Ajv configuration without eslint warning"
ESLint marked the line `require("ajv")` because of the `no-extraneous-dependencies` rule
I've added an ignore rule for now to be able to commit changes, but this should be fixed.
Fastify includes Ajv by default and this was imported to adjust the configuration,

This example was taken from possibly outdated documentation
https://www.fastify.io/docs/v2.10.x/Validation-and-Serialization/

There shou

[2020-05-01 01:12] anniegiang opened #225 "Need descriptive error responses from the server for signing up"
Ran into a vague response when trying to sign up:
<img width="705" alt="Screen Shot 2020-04-30 at 5 40 36 PM" src="https://user-images.githubusercontent.com/42228386/80772838-da815980-8b0c-11ea-8f6f-8efa11412c42.png">

While in the terminal you can see that the specific reason for the 500 error is because the password is too weak
  - I was able to sign up after using a stronger password with capit

[2020-05-01 03:24] Naraujo13 commented on #146
Yes, I've added the `expireAt` at both posts endpoints, this should be solved with the posts migration.

[2020-05-01 07:34] mushketyk commented on #211
Working on it.

[2020-05-01 11:02] robinv85 commented on #225
ah yes, good find, I forgot to handle that error case.
I added more explanation about the error handling in my PR https://github.com/FightPandemics/FightPandemics/pull/224/files while adding the fastify-sensible plugin which will also return a 500 error if something goes wrong.

There is still a to do in the code in the Auth0 component
[code]

[2020-05-01 13:57] #210 closed

[2020-05-01 16:08] #211 closed

[2020-05-01 20:34] #222 closed

[2020-05-02 07:50] mushketyk commented on #220
I will look into it.

[2020-05-02 11:07] mushketyk commented on #220
@robinv85 Sorry, I don't understand how this should work. Should this be a flag that frontend sets if a user entered a password twice exactly the same? If this is the case, a frontend can simply make a check and do not send a request if passwords a different.

[2020-05-02 12:06] robinv85 commented on #220
@mushketyk yeah the validation can happen client-side too, but adding it on the back-end makes it  certain that it works regardless of different clients making a request... i've seen this before, you might think it's overkill, to me it seems good to be more clear about splitting up /signup and /login as well.

[2020-05-02 21:34] mushketyk commented on #220
@robinv85 Ok, I think there is a benefit in having this. Should be easy to implement

[2020-05-02 21:34] mushketyk commented on #195
@robinv85 #215 closes this issue

[2020-05-02 21:34] #195 closed

[2020-05-03 11:08] mushketyk opened #232 "Add Swagger documentation for the API"
Add auto-generated Swagger documentation using [fastify-swagger](https://github.com/fastify/fastify-swagger).

[2020-05-03 13:28] robinv85 commented on #232
Hey @mushketyk we already have API documentation using [`fastify-oas`](https://www.npmjs.com/package/fastify-oas) which is based on fastif`y-swagger` but compaitble with Open API 3+
As mentioned in the readme, you can access this at http://localhost:8000/documentation

[2020-05-03 13:41] mushketyk opened #233 "Print logs in a human-readable format in dev. environment"
At the moment our logger displays output in JSON, but when running the application locally it would be better to display logs in a human-readable format. Pino logger has [pino-pretty](https://github.com/pinojs/pino-pretty) mode that implements this.

To do this we should create a logger like:

[code]

Notice that:
* In non-development environment we still need to generate logs in JSON format
* We

[2020-05-03 16:48] anniegiang opened #234 "Setup environment variables"
We currently do not have `ENVIRONMENT` variable in our configuration, and it should be added.

[2020-05-03 19:05] mannykary opened #236 "Update Docker Compose to initialize a database"
Since we are using `mongoose.createConnection()` in the code which requires a database name to be specified, we should initialize a database in the Mongo container, and also update `MONGO_URI` to include the database name.

[2020-05-03 19:42] mushketyk commented on #232
@robinv85 Sorry, my bad.

[2020-05-03 19:42] #232 closed

[2020-05-03 19:43] mushketyk commented on #233
Name of an environment is defined here #235

[2020-05-03 20:17] mannykary opened #238 "Separate backend .env files for local and Docker"
There is some confusion with the environment variables in the docker compose file overriding the .env file. To avoid confusion, we should create two example .env files - `.env.example_docker` and `.env.example_local`, and remove the overriding environment variables in docker compose.

Also update the readme.

[2020-05-03 20:26] #236 closed

[2020-05-04 04:01] #234 closed

[2020-05-04 04:54] #214 closed

[2020-05-04 05:22] #238 closed

[2020-05-04 13:34] Chimaobi-Johnson commented on #176
There seems to be no existing create user profile, unless you re talking about user profile?

[2020-05-04 13:43] Chimaobi-Johnson commented on #177
There seems to be no current Create Org Profile page, do you mean the Organization Profile itself?

[2020-05-04 13:54] #148 closed

[2020-05-04 13:57] #220 closed

[2020-05-04 13:57] robinv85 commented on #176
@Chimaobi-Johnson I think you're right, there probably isn't a page yet.
A while ago I added some redirection logic while updating the auth, so that will probably need to be extended to redirect to "create profile" at the right time, making the redirection part even more complex.
There is still a pull request in progress for the backend to create a user as well: #130
And I think for the first vers

[2020-05-05 00:16] anniegiang opened #246 "Setup absolute imports for CRA"
- [x] Setup absolute imports with a baseUrl of `src`
- [x] Update all relative paths in `client/src` to use absolute paths

[code]

Resource:
https://create-react-app.dev/docs/importing-a-component/#absolute-imports

[2020-05-05 01:14] anniegiang opened #248 "Create a customizable Button"
We currently have a `CustomButton` that needs to be refactored to handle different props more cleanly.

The CustomButton should ideally reflect the design theme and be reusable anywhere in order to achieve better style maintenance.

[2020-05-05 02:31] nadinejuraschek commented on #41
So should we close this issue?

[2020-05-05 02:52] #167 closed

[2020-05-05 18:02] #203 closed

[2020-05-05 18:15] #248 closed

[2020-05-05 23:46] Chimaobi-Johnson commented on #171
@CeesWang i think this is the same issue as issue #170 Login Page for Desktop which am currently working on.

[2020-05-06 00:19] CeesWang commented on #171
@Chimaobi-Johnson It is exactly the same. I didn't know there there was a duplicate issue. How far are you in ?

[2020-05-06 01:02] TenNga commented on #199
I'm a little confused as I'm not familiar with ESLint, does Alphabetize import and exports mean arrange import Alphabetically?
Like changing the following:
2.  import Home from './Component/Home.js';
3.  import Call from './Component/Something.js';
to this:
2. import Call from './Component/Something.js';
3. import Home from './Component/Home.js';

[2020-05-06 01:07] anniegiang commented on #199
@TenNga Just updated the issue with examples.

[2020-05-06 02:33] indirabhowmick commented on #170
@Chimaobi-Johnson @CeesWang Login and Signup pages are different.
Please refer to the design in FIGMA

[2020-05-06 02:35] indirabhowmick commented on #41
@nadinejuraschek - Yes Please. Thanks

[2020-05-06 02:35] #41 closed

[2020-05-06 02:40] CeesWang commented on #170
@indirabhowmick The only difference is the picture and certain text based on the condition whether the user is logging in or signing up. This however is rendered conditionally in the same component. Which would mean that we are working in the same component trying to accomplish the same thing. Please let me know if this is not the case.

[2020-05-06 02:48] indirabhowmick commented on #170
@CeesWang I agree. Thanks!

[2020-05-06 14:02] galeza opened #261 "Add validation for email on the need-help step 3 page"
environment : https://staging.fightpandemics.work/need-help#Step3

Steps:
1. Select Need Help on the Main page
2. Go to step 3
3. enter one letter click Submit button

User should see validation for email

[2020-05-06 14:04] joshmorel commented on #163
We are both seeding data initially then importing additional data post go-live. All posts will be assigned to "Sourced by FightPandemics".

[2020-05-06 14:10] joshmorel commented on #194
@mushketyk - on further consideration I don't think this is a duplicate of #163. #163 is about importing data sourced by the data collection team into the production database mongo both one-time and as part of incremental load. It could be used for development as well but separating this makes sense I think due to the different purpose.

This would be for seeding databases for all collections (not

[2020-05-06 14:31] galeza opened #262 "Give Help question 1 page - back button doesn't work"
env: https://staging.fightpandemics.work/offer-help

steps:
1. From main screen click Give Help button
2. Give Help question 1 screen is open
3. Press back button (blue arrow on the left)

Should navigate back to the main screen.

[2020-05-06 14:41] #217 closed

[2020-05-06 14:49] galeza opened #263 "Add validations while navigating between Give Help questions pages"
env: https://staging.fightpandemics.work/offer-help

steps:
1. From main menu select Give Help. Question 1 screen is open.
2. Do not select any checkbox
3. Click on next arrow.
Repeat for Question 2 and 3 pages.
4. On the Question 3 screen click submit

There should be error messages - select data

[2020-05-06 16:28] anniegiang opened #264 "Resolve required NODE_ENV"
When starting the app in the terminal:

<img width="1021" alt="Screen Shot 2020-05-06 at 9 00 05 AM" src="https://user-images.githubusercontent.com/42228386/81202658-c8277580-8f7b-11ea-810b-1fe90e827933.png">

[2020-05-06 16:39] anniegiang commented on #262
PR #252 Resolves this.

[2020-05-06 16:39] #262 closed

[2020-05-06 17:20] joshmorel commented on #264
I think we just need to tell everyone in the channel - about https://github.com/FightPandemics/FightPandemics/commit/fb51532d0e1722437aeda9fa61de7b8515a82ce4

Unless we want to make the default to `'dev'` here - https://github.com/FightPandemics/FightPandemics/blob/master/backend/config.js - (or is this risky)?

[2020-05-06 17:36] anniegiang commented on #264
@joshmorel Ah, you're right. I forgot to implement the changes that Manny talked about. That should fix it.

We shouldn't add a default `dev` as mentioned [here](https://github.com/FightPandemics/FightPandemics/pull/235/files/cd508b93aa373565cc61b8cbc00b8d57af43b43b#r419132281)
<img width="1424" alt="Screen Shot 2020-05-06 at 10 35 45 AM" src="https://user-images.githubusercontent.com/42228386/812

[2020-05-06 17:36] #264 closed

[2020-05-06 19:25] anniegiang commented on #263
I removed @indirabhowmick as an assignee because she is a PM  and to not confuse other developers that this issue is taken.

[2020-05-06 19:25] anniegiang commented on #261
I removed @indirabhowmick as an assignee because she is a PM  and to not confuse other developers that this issue is taken.

[2020-05-06 19:29] omarzoghayyer commented on #263
I tried the steps above, and I don't see any error messages after selecting the submit button.

[2020-05-06 19:38] omarzoghayyer commented on #263
Ill work on this issue

[2020-05-07 12:52] galeza opened #266 "View Community Postings screen link View More is disabled"
env: https://staging.fightpandemics.work/feed

1. From main screen select View Community Posting link. View Community Postings screen is open.
2. Select View More link.
Link is disabled.

Should this link be enable for example for the first post on this page?

[2020-05-07 16:06] manualzuru commented on #146
@Naraujo13 should we close this ticket?

[2020-05-07 17:03] T-Allen commented on #176
Although this issue pertains to desktop styling, might we add mobile styling as well? As @robinv85 said, there isn't a page for this yet, so I went ahead and made one and added it to the routes.

[2020-05-07 18:47] #170 closed

[2020-05-07 18:47] #171 closed

[2020-05-08 00:25] omarzoghayyer commented on #266
Ill work on this issue

[2020-05-08 01:31] Naraujo13 commented on #146
It's not done yet, but I will assign this issue to me and link it with the PR for Posts migration since it is being done there.
It is currently being reviewed.

[2020-05-08 20:08] omarzoghayyer commented on #261
I'll work on this task.

[2020-05-09 01:18] anniegiang opened #271 "Integrate auth logic into Feed and Posts"
- [ ] Implement auth logic for liking/unliking posts.
- [ ] Implement auth logic for "View More".
- [ ] Implement auth logic for commenting posts.
- [ ] Implement auth logic for commenting comments.

For detailed requirements refer to:
https://www.notion.so/fightpandemics/a729bd46f001461393a0ad707161f299?v=16cb1b0a7a1c4d5ba0a1aea6184cf734&p=653658508c4649869787c48f3e4eee13

[2020-05-09 10:33] agmaal1 commented on #175
Hi, I've created a new branch to address this issue. feature/175symptomscheckstyling

[2020-05-09 10:56] agmaal1 commented on #175
@anniegiang @robinv85 @manualzuru   Since the symptoms check relies on the step wizard, I am not sure if what we want is to style differently the step wizard for the symptoms check or change the styles for the step wizzard itselves and therefore apply that styling in other parts that rely on it as the need help part.

In other words, should I modify the styles directly in the stepwizard's componen

[2020-05-09 19:38] anniegiang commented on #175
@agmaal1 Thanks for starting on this!

[2020-05-09 20:12] manualzuru commented on #69
@YehualashetGit isn't responsive so I'm putting this back to New.

[2020-05-09 20:28] limaneto commented on #271
Can I be responsible for the first item?
Implement auth logic for liking/unliking posts.

[2020-05-09 21:09] anniegiang commented on #266
duplicate of https://github.com/FightPandemics/FightPandemics/issues/271

[2020-05-09 21:09] #266 closed

[2020-05-09 21:10] robinv85 opened #273 "Refactor mongo model loading to allow easier customization"
Related to changes needed for the data model updates, see https://github.com/FightPandemics/FightPandemics/pull/191#discussion_r422541901
The mongoose integration with fastify currently loads schema files automatically and generates models, but there should be an easier way to customize the models. ( see `backend/lib/models/index.js` )

It can be also imported manually with hard-coded import paths

[2020-05-10 02:14] stavares843 opened #274 "fix close icon icon on cookies bar"
flow
- go to https://staging.fightpandemics.work/
- will appear a cookies bar info on the bottom
- close icon is not very visible

<img width="1865" alt="Screenshot 2020-05-10 at 03 13 26" src="https://user-images.githubusercontent.com/29093946/81489360-56e20e00-926c-11ea-9086-0e953068c202.png">

iMac, Chrome

[2020-05-10 03:36] harithzamri commented on #274
i will take a look at this

[2020-05-10 20:09] manualzuru commented on #69
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1806%3A13250

[2020-05-10 20:55] indirabhowmick commented on #174
@silenceway- any updates on this issue?

[2020-05-10 21:00] stavares843 opened #278 "fix refresh on link"
flow
- go to https://staging.fightpandemics.work/
- click on need help
- refresh
- returns 404

<img width="1863" alt="Screenshot 2020-05-10 at 21 59 13" src="https://user-images.githubusercontent.com/29093946/81510427-87c45080-9309-11ea-8f80-3486ec977141.png">

[code]

[2020-05-10 21:02] stavares843 opened #279 "fix icon layout on feed"
flow
- go to https://staging.fightpandemics.work/
- click on view community postings
- add a comment
- reply to that comment
- avatar is cut off

asset
https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGhWTUkY0xGbbdHyReD6227iz53ADtRmcn1PTN4GUS3clC6MCT&usqp=CAU

<img width="1012" alt="Screenshot 2020-05-10 at 22 01 52" src="https://user-images.githubusercontent.com/29093946/81510500-f99c9a00

[2020-05-10 22:29] anniegiang opened #283 "Link Contributing doc in PR checklist"
Currently it's linking to [this](https://github.com/FightPandemics/FightPandemics/CONTRIBUTING.md) instead of [this](https://github.com/FightPandemics/FightPandemics/blob/master/CONTRIBUTING.md).

<img width="577" alt="Screen Shot 2020-05-10 at 3 28 59 PM" src="https://user-images.githubusercontent.com/42228386/81512120-fa660980-92d2-11ea-8e7b-01e58d8ccd42.png">

[2020-05-10 22:57] manualzuru commented on #169
@TenNga please give us an update?

[2020-05-10 22:59] manualzuru commented on #274
@harithzamri are you taking this one?

[2020-05-10 23:15] #283 closed

[2020-05-10 23:45] manualzuru commented on #261
@omarzoghayyer should we put this in progress?

[2020-05-10 23:57] anniegiang commented on #261
There's a PR in review for this

[2020-05-11 00:42] harithzamri commented on #274
@manualzuru yes, i'm taking this one

[2020-05-11 00:50] peterwra opened #287 "Fix last name in backend\lib\endpoints\users.js"
Code:
`return {
      email: result.email,
      firstName: result.firstName,
      id: result._id,
      lastName: result.firstName,
    };`

Noticed the `lastName` is set to `result.firstName` when it should be `result.lastName` according to the schema.

Noticed #130 has modified the file so don't want to create a merge conflict by doing another pull request.

[2020-05-11 01:20] #246 closed

[2020-05-11 02:29] stavares843 opened #288 "fix layout on landing view"
flow
- go to https://staging.fightpandemics.work/

layout issues

1 - logo is not aligned on the left with the title (may be a navbar problem)
2 - spacing below logo
2 - missing title
3 - spacing between title and subtitle
4 - spacing on lines on subtitle
5 - no rounded borders in the blue box
6 - no left margin
7 - incorrect font styles used in the blue box

<img width="2020" alt="Screenshot 2020

[2020-05-11 02:31] stavares843 opened #289 "fix blue border"
flow
- go to https://staging.fightpandemics.work/
- hover on the icons
- appears a blue light border inside the icon

<img width="838" alt="Screenshot 2020-05-11 at 00 08 31" src="https://user-images.githubusercontent.com/29093946/81519051-c83ac300-9337-11ea-937d-5d5816f97a3f.png">

iMac, Chrome

[2020-05-11 02:34] stavares843 opened #290 "arrow doesn't work on the first step on the flow"
flow
- go to https://staging.fightpandemics.work/
- click on need help
- click on the back arrow
- back arrow doesn't work on the first step on the flow

<img width="1380" alt="Screenshot 2020-05-11 at 03 33 19" src="https://user-images.githubusercontent.com/29093946/81519202-58790800-9338-11ea-827e-cdb01a8a96b2.png">

[2020-05-11 03:10] nadinejuraschek commented on #288
So the padding for the header / navigation bar has to be changed? That will change it for all pages. Just want to make sure that's alright before I start working on this!

[2020-05-11 03:15] stavares843 commented on #288
cc @anniegiang

[2020-05-11 04:44] anniegiang opened #293 "Create a reusable mobile tabs component"
- [ ] Use the Tabs component provided by [antd-mobile](https://mobile.ant.design/components/tabs/)
- [ ] Accepts and displays data as props
- [ ] Handles any amount of tabs to display
- [ ] Styles should be pixel perfect:
<img width="455" alt="Screen Shot 2020-05-10 at 9 34 31 PM" src="https://user-images.githubusercontent.com/42228386/81524490-3d8da000-9306-11ea-9caa-a6514b4b07ec.png">

Reference

[2020-05-11 04:51] anniegiang opened #294 "Create a reusable button with icons"
- [ ] Work off of `SubmitButton.js` (not strict but ideal since it already accepts props that changes color themes)
- [ ] Accepts a prop that controls which side the icon is
- [ ] Can accept and display any kind of icon and text props
- [ ] Styles should be pixel perfect:

<img width="631" alt="Screen Shot 2020-05-10 at 9 45 47 PM" src="https://user-images.githubusercontent.com/42228386/81524945-e

[2020-05-11 04:57] anniegiang opened #295 "Create a reusable heading component"
- [x] Create one component that accepts props to dynamically handle any kind of heading AND font-size
- [x] Use the Typography component provided by [antd](https://ant.design/components/typography/) (not strict but ideal)
- [x] Styles should be pixel perfect:
<img width="816" alt="Screen Shot 2020-05-10 at 9 53 16 PM" src="https://user-images.githubusercontent.com/42228386/81525297-11275300-9309-1

[2020-05-11 05:06] anniegiang opened #296 "Create a Navbar component for desktop UI"
- [ ] Show desktop navbar in desktop screens
- [ ] Hamburger menu should show in mobile screens only
- [ ] Styles should be pixel perfect:
<img width="757" alt="Screen Shot 2020-05-10 at 9 59 16 PM" src="https://user-images.githubusercontent.com/42228386/81525542-ee496e80-9309-11ea-86e2-871c37fa9fdb.png">

Reference:
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?nod

[2020-05-11 05:10] anniegiang opened #297 "Create a reusable description card component"
- [ ]  Use the Card component provided by [antd](https://ant.design/components/card/) (not strict but ideal)
- [ ] Can accept and display data passed in as props
- [ ] Styles should be pixel perfect:
<img width="735" alt="Screen Shot 2020-05-10 at 10 06 38 PM" src="https://user-images.githubusercontent.com/42228386/81525848-db836980-930a-11ea-86ba-322e683f2fdb.png">

Reference:
https://www.figma.c

[2020-05-11 05:24] nadinejuraschek opened #298 "Fixing the footer and adding the Desktop style"

[2020-05-11 05:27] anniegiang commented on #288
Not sure... But for this issue specifically it looks like there's some padding/margin on the left of the blue box. Maybe we could set either of them to be 0 so that it's right next to the left side.

[2020-05-11 06:17] anniegiang commented on #288
Ah ok so I just played with the styles in the console and removed the margin added on the right and left side of `<main>`. I also removed the unnessccary rounded borders to the box:

<img width="1012" alt="Screen Shot 2020-05-10 at 11 16 09 PM" src="https://user-images.githubusercontent.com/42228386/81529707-3d949c80-9314-11ea-98cb-cc6368a66a69.png">

[2020-05-11 11:51] agmaal1 commented on #175
@anniegiang @robinv85  I've styled step 1 and 2. Could you take a look to the changes in the branch before proceed with the rest of the steps?

As we agreed, I'm doing it without overwriting the wizards components, but I'm not sure it that's the best way since leads to a lot of code repetition. Wouldn't be better to change directly in the wizard components styles to make them able to change depend

[2020-05-11 12:13] galeza opened #304 "Symptoms check - steps 4 page opens white - text invisible"
Env: https://staging.fightpandemics.work/symptoms-check
Steps:
1. Go to Symptoms checker
2. Click arrow and go to the Step 3. When Step 3 opens user sees the center of the text. Scrolling is necessary to see the beginning of the text.
3. Scroll down and click the arrow.
4. Step 4 page is open. User sees empty/white screen with two arrows (Please see attached screenshot). It's not intuitive. Scroll

[2020-05-11 12:34] galeza opened #305 "Symptoms check - responses are incorrectly shown on Step 10 page"
env. https://staging.fightpandemics.work/symptoms-check#step10

Steps:
1. Open Symptoms check
2. Select several symptoms while answering to questions 2 and 3.
3. Go to step 10.
Responses section: Answers are shown in one line. No space between answers. Please see screen attached.
![Screen Shot 2020-05-11 at 14 26 03](https://user-images.githubusercontent.com/21987083/81561881-3319e780-9394-11ea-8f

[2020-05-11 12:44] galeza opened #306 "Symptom check - Button Done on Step 10 page doesn't work"
env. https://staging.fightpandemics.work/symptoms-check#step10

Steps:
1. Go to Symptom check
2. Answer questions and go to Step 10.
3. Scroll down to the button Done.
Done looks like enabled button(css div class sc-fzpans cKJzHK) but it doesn't work. Should it redirect somewhere? Message sent on slack to  @Yu.

![Screen Shot 2020-05-11 at 14 43 07](https://user-images.githubusercontent.com/219870

[2020-05-11 15:53] anniegiang opened #307 "Replace usage of Material UI and Grommet"
- [ ] Replace any usage of Material UI icons with the icons provided on Figma (instructions in README).
- [x] Replace any usage of Material UI fonts and with the current fonts used.
- [x] Replace any usage of Grommet components with styled-components or antd components.

[2020-05-11 16:01] robinv85 commented on #307
I think I've already removed Grommet in a previous issue, might have been reverted by some other merge, Quick search just shows entry in package.json https://github.com/FightPandemics/FightPandemics/search?q=grommet&unscoped_q=grommet

[2020-05-11 16:05] anniegiang commented on #307
Hmm interesting.. Looks there are some Grommet remains in the code base right now:

![Screen Shot 2020-05-11 at 9 05 01 AM](https://user-images.githubusercontent.com/42228386/81583655-8117f680-9366-11ea-9e30-b2cd8590550d.png)

[2020-05-11 16:15] snowiesuet commented on #307
The Grommet icons in the current code base are being commented so they are not in use @anniegiang

[2020-05-11 18:12] TenNga commented on #290
Back button works while running on localhost, is https://staging.fightpandemics.work/ running latest code?

[2020-05-11 18:14] stavares843 commented on #290
When a pull request is merged to master, it will automatically be deployed to the staging environment. You can view the build logs in GitHub Actions. After the build successfully completes, wait a few minutes for the changes to be reflected, and then access the staging app at http://staging.fightpandemics.work.

seems staging would always be automatically updated when merging a PR

[2020-05-11 18:21] anniegiang opened #308 "Document development workflow in README"
Purpose: Provide new engineers with a clearer understanding of the development workflow in the README.

- [ ] Provide context on how teams work together between product, design, and engineering.
- [ ] Provide a clearer understanding on how to pick up issues and how to look under the Projects tab to see project process.
- [ ] Link the Notion doc that describes how to open pull requests and issues.

[2020-05-11 20:46] Fersubair40 commented on #306
I'm working on it.

[2020-05-11 21:23] omarzoghayyer commented on #305
Ill work on this issue

[2020-05-11 22:11] anniegiang commented on #306
Thanks! In the future please assign yourself on the right hand side.

[2020-05-11 22:11] #306 closed

[2020-05-12 01:26] #274 closed

[2020-05-12 01:33] anniegiang opened #314 "Render CookieAlert only once"
Currently it appears on every page even after closing it the first time.

- [ ] Should show only once on very first visit to site
- [ ] Should not appear again on any pages after closing it

![Screen Shot 2020-05-11 at 6 32 44 PM](https://user-images.githubusercontent.com/42228386/81628551-d0d1de80-93b5-11ea-8e40-601b74e55c23.png)

[2020-05-12 02:21] anniegiang opened #315 "Refactor SymptomsChecker Mobile pages"
- [ ] Match styles with latest [Figma designs](https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=11%3A2)
- [ ] Styles need to be pixel perfect

![Screen Shot 2020-05-11 at 7 07 58 PM](https://user-images.githubusercontent.com/42228386/81632795-fbc13000-93bf-11ea-8ec4-83efbfa23dcb.png)

[2020-05-12 02:30] pthoma14 commented on #117
@DanielAlexander84 what is your current status for User Feedback Frontend?

[2020-05-12 03:13] harithzamri commented on #314
i will work on this

[2020-05-12 03:29] #314 closed

[2020-05-12 03:37] #287 closed

[2020-05-12 03:58] stavares843 opened #322 "clicking on done doesn't do anything"
flow
- go to https://staging.fightpandemics.work/
- click on need help
- symptoms checker flow
- on the end of the flow, clicking on done button doesn't do anything

<img width="1346" alt="Screenshot 2020-05-12 at 04 57 55" src="https://user-images.githubusercontent.com/29093946/81637012-29809600-940d-11ea-969a-daa60dc9c608.png">

[2020-05-12 07:06] DanielAlexander84 commented on #117
@pthoma14 I am still working on it. I have pretty limited hours during the week, so most of my work is done on the weekend. I currently have the first two modal pops ups designed and spent Sunday working on getting the data handling working with Redux. My plan is to hopefully get a PR up on the weekend.

[2020-05-12 11:21] galeza commented on #322
Duplicate #306.

[2020-05-12 11:49] galeza opened #323 "AirTableCOVID screen - buttons are not separated, not aligned correctly"
env: https://staging.fightpandemics.work/AirTableCOVID
1. From main screen select Give Help
2. Go to the Question 3
3. Select Skip link
4. AirTableCOVID screen is open.

Buttons are too big, overleaping. Not aligned correctly.
![Screen Shot 2020-05-12 at 13 46 46](https://user-images.githubusercontent.com/21987083/81684215-109cd280-9457-11ea-9972-5389501684eb.png)

Expected results:
Could we impro

[2020-05-12 11:55] robinv85 commented on #323
A while ago I updated that page bevcause it was using Bootstrap components and I replaced it with some other components without looking much at the styling, but I think that page will be removed eventually if I'm not mistaken, maybe @anniegiang knows?

[2020-05-12 12:07] galeza opened #324 "Need Help Other Onboarding - Submit on question 3 page should open Feed page"
env: https://staging.fightpandemics.work/need-help#Step3

Steps:
1. Select Need Help
2. Question 1 : Other Help
3. Go to Question 3 and click Submit button
4. https://staging.fightpandemics.work/medical is open

According to Figma user should be redirected to the Feed page
![Screen Shot 2020-05-12 at 14 06 06](https://user-images.githubusercontent.com/21987083/81688229-c2d59980-9459-11ea-97c1-e7f2

[2020-05-12 12:16] galeza commented on #323
Ok thank you! If it will be removed, please @anniegiang close this issue.

[2020-05-12 12:18] galeza commented on #324
message sent to #design slack channel to confirm.

[2020-05-12 13:30] indirabhowmick commented on #50
@CeesWang - any updates on this issue?

[2020-05-12 13:31] indirabhowmick commented on #63
@markthien any updates on this issue?

[2020-05-12 13:38] Samdisha opened #325 "Create post as an organization: layout is different than the mocks"
Env: https://staging.fightpandemics.work/

Steps to recreate:
1. Land on https://staging.fightpandemics.work/
2. Offer help as an organization
3. Observe the next screen
<img width="1278" alt="Screen Shot 2020-05-12 at 09 32 45" src="https://user-images.githubusercontent.com/3345129/81698164-99097c00-9433-11ea-9f1d-785bef3e8587.png">

Current behaviour:
1. Heading 'Question 1/3' is not centre alig

[2020-05-12 13:42] indirabhowmick commented on #169
@TenNga What is the status of this issue? Please provide an update

[2020-05-12 14:13] TenNga commented on #169
Navigation still needs progress and someone else is working on the footer, I am trying to use the existing code for desktop but its kind of hard for me to figure out fast, otherwise I might need to write a new nav for desktop (not optimal way).

[2020-05-12 14:15] indirabhowmick commented on #169
@anniegiang - Please refer to the previous comment from Kevin. Can you help?

[2020-05-12 16:41] robinv85 opened #327 "Extend ESLint config in frontend"
This issue is created to support ESLint configuration for  #199 and #213 since there was some confusion and the pull requests that are currently in review each have their own way to fix this.

Also see [my comment](https://github.com/FightPandemics/FightPandemics/pull/258#discussion_r422545352) on #258

Since we use [Create React App](https://create-react-app.dev/), ESLint is already included and

[2020-05-12 16:57] galeza commented on #324
Should open Feed screen

[2020-05-12 17:00] Samdisha opened #328 "Create a post as an organization: Question 2/3 layout"
Env: https://staging.fightpandemics.work/

Steps to recreate:
1. Land on https://staging.fightpandemics.work/
2. Offer help as an organization
3. Select post as an organization
4. Observe the next screen

Current behaviour:
<img width="1280" alt="Screen Shot 2020-05-12 at 09 42 21" src="https://user-images.githubusercontent.com/3345129/81723138-67eb7480-9450-11ea-90bb-8fe5fcaae016.png">

- [ ]  He

[2020-05-12 20:53] omarzoghayyer commented on #324
Ill work on this issue

[2020-05-12 22:33] robinv85 commented on #290
Seems to work now, this was recently fixed, maybe it wasn't deployed that at the time of creating this issue...

[2020-05-12 22:34] robinv85 commented on #271
@limaneto is this  in progress? If yes, would be nice to drag it to the column on project tracker https://github.com/FightPandemics/FightPandemics/projects/1

[2020-05-12 22:38] robinv85 commented on #164
@anniegiang is this frontend or mobile app?
Maybe we need to split up some of this functionality between mobile web and native mobile app...?
Because the HTML5 geolocation works totally different from native apps functionality I think, and the pop-up for permission etc...

[2020-05-13 00:09] #290 closed

[2020-05-13 04:20] #322 closed

[2020-05-13 05:24] #289 closed

[2020-05-13 05:35] anniegiang commented on #323
@galeza @robinv85 Yes I believe we will be removing this page. We will use the "posts" from this page to be in the Feed after mapping the data from Airtable to our database.

[2020-05-13 05:35] #323 closed

[2020-05-13 05:38] anniegiang commented on #169
I'm sorta confused, I think this was already implemented? I'm aware there are just finishing touches that need to be made from PR #300. Otherwise was there a PR linked to this? If so please link on the right side.

[2020-05-13 06:54] mannykary opened #336 "Fix HTML5 Geolocation call"
For some reason, the HTML5 geolocation call is failing, and returning an empty geolocation object. Consequently, the API call to our geoservice endpoint on the backend failed when the geolocation object was empty, since passing in the latitude and  longitude query parameters was required.

I have temporarily defaulted the geolocation latitude/longitude to San Francisco if the geolocation object is

[2020-05-13 06:56] mannykary opened #337 "Expose Swagger API docs"
We should be able to access the docs at `/api/documentation`

[2020-05-13 06:58] mannykary opened #338 "Fix callouts from client container to backend container in staging"
It is currently broken because NGINX isn't configured correctly. We should proxy calls to `/api` to the backend container.

[2020-05-13 12:36] #327 closed

[2020-05-13 12:51] #273 closed

[2020-05-13 13:47] galeza opened #339 "Sign In page - icon for masking/unmasking password"
env: https://staging.fightpandemics.work/auth/login
Steps:
1. Open Sign In page
2. Start typing in the password field
3. Click on the eye: password is visible but icon is the same.
Usually there is a mask/unmask icon. Like in this example:
![Screen Shot 2020-05-13 at 15 44 07](https://user-images.githubusercontent.com/21987083/81820337-c8ea7980-9530-11ea-84e8-6d0237b63353.png)

[2020-05-13 15:57] #296 closed

[2020-05-13 18:05] Chimaobi-Johnson commented on #297
@limaneto have you started on this? it is related to the issue im working on which is #313 and i have already created the component

[2020-05-13 18:11] limaneto commented on #297
No, sorry!

[2020-05-13 19:03] anniegiang commented on #164
@robinv85 I thought this was for both mobile and desktop but yes we should slip it if the functionality is different

[2020-05-13 19:43] CeesWang commented on #50
@indirabhowmick talking to T-Allen regarding further progress.

[2020-05-13 22:34] indirabhowmick commented on #50
@CeesWang Thanks for the update. Please keep us posted on the progress of the issue

[2020-05-14 03:18] #174 closed

[2020-05-14 04:02] #324 closed

[2020-05-14 04:29] #278 closed

[2020-05-14 04:29] #337 closed

[2020-05-14 04:29] #338 closed

[2020-05-14 04:47] mannykary opened #342 "Medical page not getting emergency number"
The Medical page does not show the emergency number:
![image](https://user-images.githubusercontent.com/4285073/81893743-167fda00-9563-11ea-8584-560e379d6620.png)

Browser console shows the following error:
![image](https://user-images.githubusercontent.com/4285073/81893711-f94b0b80-9562-11ea-8876-bdf2f53e1cdc.png)

Looks like it is failing to call AirTable at the following URL: https://api.airtab

[2020-05-14 04:52] mannykary commented on #342
This could potentially be a problem with the API environment variables being passed into the client Docker container when it is being built and then deployed to staging. I will see if updating the secrets in the Github repo settings will fix this issue.

[2020-05-14 04:57] mannykary commented on #342
I updated the API key and base secrets in GitHub secrets, and this should fixed in the next deploy to staging. I will keep an eye on this.

[2020-05-14 06:22] captchadex commented on #336
@mannykary hi there, I'm new to this project. Which page in the app triggers the geolocation call?

Thanks!

[2020-05-14 08:52] robinv85 commented on #164
@anniegiang Yeah I don't mean "mobile web" but "native mobile app" since that's a totally different way to integrate the location stuff as far as I know... it's just that the settings on the left in the image "allow while using the app" only make sense for a native mobile app.

The problem I think for web is also with the different flows, and whether or not the user is logged in with a registered

[2020-05-14 11:15] dilas12345 commented on #342
Hi there, is this fixed so i can close the issue?

[2020-05-14 12:02] Oluwadamilareolusakin commented on #325
I will work on this!

[2020-05-14 13:19] galeza opened #343 "[Mobile] Landing/Home Screen - description disappears when screen is rotating"
env. https://staging.fightpandemics.work/

Steps:
1. Open https://staging.fightpandemics.work/ on your mobile
2. Rotate screen
3. When screen is rotated description : Pandemics will continue to happen. We help communities prepare and respond - is not visible

![Screenshot_2020-05-14-15-12-19-657_com android chrome](https://user-images.githubusercontent.com/21987083/81938884-dae22000-95f5-11ea-884d

[2020-05-14 17:46] galeza opened #345 "[Mobile] design when screen rotates - it's not mobile but web desktop is shown"
env: https://staging.fightpandemics.work/
Steps:
1. Open staging on your mobile phone
2. Rotate your phone
3. When phone is rotated app shows design for desktop. Please see screen attached:
![Screenshot_2020-05-14-19-40-36-407_com android chrome](https://user-images.githubusercontent.com/21987083/81967598-76d25280-961b-11ea-9e44-999a18905f7e.jpg)
![Screenshot_2020-05-14-19-40-23-314_com android ch

[2020-05-14 19:55] #308 closed

[2020-05-14 20:23] anniegiang commented on #271
duplicate of #179 - #183

[2020-05-14 20:23] #271 closed

[2020-05-14 23:12] nadinejuraschek commented on #298
Please keep working on the Footnote branch to fix this issue! The Desktop styles for the footer are there already, but the positioning issue needs to be fixed. There is a PR for it as well, feel free to just take over! Or reach out on Slack!

[2020-05-15 00:09] #339 closed

[2020-05-15 01:26] mannykary commented on #342
@dilas12345 This does not appear to be fixed, so I will need to investigate further.

[2020-05-15 01:28] mannykary opened #350 "Set up multiple tenants for Auth0 (one for each environment)"
We need a separate tenant for each environment (one for staging, one for review, and one for production). Once they are created, we'll need to update the Github secrets to store each environments API keys, and update the build script to pull the correct API key based on the environment being deployed to.

[2020-05-15 05:10] vikjoshi commented on #117
@pthoma14 @DanielAlexander84 , I'm writing the E2E test for the feedback UI. @DanielAlexander84 , will your implementation cover both desktop webapp and mobile webapp?

[2020-05-15 05:41] vikjoshi opened #351 "Symptom Checker- Desktop and Mobile-Missing Landing Page and Disclaimer Page from Figma MVP"
![image](https://user-images.githubusercontent.com/41554004/82015358-6cbc4e00-9633-11ea-95d0-165fa89cdd66.png)

1. Landing page of Symptom checker needs to be updated to match Figma Design MVP (https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=4147%3A17391).
2. Also missing the Disclaimer page from MVP

[2020-05-15 05:57] vikjoshi opened #352 "Symptom Checker- Desktop and Mobile- Update SC Call Page to match Figma MVP"
Currently, SC Call page on staging looks like below-
![image](https://user-images.githubusercontent.com/41554004/82015786-6d091900-9634-11ea-9f4e-417eb4567765.png)

Update staging to match MVP. Changes include:
1. Match styling to MVP (fonts of 911 message
2. Update options to match MVP ("Yes, I am experiencing these symptoms", "No, I'm not experiencing these symptoms")
3. User should not be able

[2020-05-15 06:03] vikjoshi opened #353 "Symptom Checker- Desktop-Can proceed to next question without making selection"
For each question on the Symptom checker:
Current Behavior: I can click next arrow without selecting any choices on the page
Expected Behavior: I must choose an option before clicking on the next arrow

[2020-05-15 06:07] vikjoshi opened #354 "Symptom Checker-Desktop and Mobile- Under 18"
If user selects they are "under 18" for question "How old are you?", page should pop up matching the design and functionality of MVP SC-Age-Msg.

[2020-05-15 06:10] vikjoshi opened #355 "Symptom Checker- Desktop- Multi-choice selection logic"
For Question "If so, have you traveled to an area..." and "Accordingly to what you know...":
Expected Behavior: User can select multiple options like in earlier questions
Actual Behavior: User can only select one option

[2020-05-15 06:14] vikjoshi opened #356 "Symptom Checker- Desktop and Mobile- Question Numbering Incorrect"
The question numbering goes from 6/9 to 8/10 (see screenshot below). Let's fix for all questions after Question 6.
![image](https://user-images.githubusercontent.com/41554004/82017695-90ce5e00-9638-11ea-8eb3-7788b7bffd5a.png)

[2020-05-15 06:19] vikjoshi commented on #305
@omarzoghayyer , I think I'm still seeing this issue- see screenshot below.
![image](https://user-images.githubusercontent.com/41554004/82018046-4ac5ca00-9639-11ea-89c9-71358528a248.png)

This is on Chrome Desktop

[2020-05-15 06:48] vikjoshi opened #357 "Symptom Checker- Mobile- Highlighting Behavior for Multi-choice selections"
On questions where you are able to select more than one option like for below question:

Actual Behavior: Currently, once I click on a symptom, it gets selected, moves down the list, and the next symptom on the list is automatically highlighted.

Expected Behavior:
1. Clicking on a symptom should highlight the symptom and its placement on the page should not change.
2. Clicking on a highlighted sy

[2020-05-15 06:52] vikjoshi opened #358 "Symptom Checker- Mobile- Preexisting Conditions Question Bug"
On page below (iOS Chrome v81),
Expected Behavior: Selecting "None of these" should unselect all other selected options
Actual Behavior: Selecting "None of these" does not unselect all other options.

![IMG_1341](https://user-images.githubusercontent.com/41554004/82020430-e78a6680-963d-11ea-95d5-55d61dba79fb.jpg)

[2020-05-15 15:10] snowiesuet opened #361 "Improve Webapp's performance speed"
![image](https://user-images.githubusercontent.com/3907305/82064781-39150e80-969b-11ea-8888-a33339bafcb7.png)

Our current website's performance speed has a very low score in Google's [audit](https://developers.google.com/web/tools/lighthouse/) tool. We should try to fix these issues as our team and project get bigger.

Some of the issues we should consider fixing :
[ ] Serve static assets with an

[2020-05-15 17:08] jyclam commented on #279
Hi @anniegiang, I believe I have a fix for this, but don't have permission to submit a PR.

[2020-05-15 18:15] DanielAlexander84 commented on #117
@vikjoshi I was planning to cover the design for both the web and mobile webapp. And you do not need to be logged in in order to submit feedback. For "users" that are not logged in, only the IP will be logged.

[2020-05-15 18:27] omarzoghayyer commented on #305
@vikjoshi  I think these weren't merged since the whole page need to be redesigned. Please reach out to @anniegiang  regarding that.

[2020-05-15 18:48] omarzoghayyer commented on #356
I'll have it done today.

[2020-05-15 19:34] anniegiang commented on #305
@omarzoghayyer @vikjoshi

Good catch! Yes I opened issue #315, which is a major refactoring of all the mobile pages for Symptoms Check. Now that I think of it, that issue may be too large and smaller issues like this may be more reasonable.

[2020-05-15 19:40] #356 closed

[2020-05-15 19:46] anniegiang commented on #279
@jyclam I've invited you to join, please accept it.

[2020-05-15 19:49] joshmorel commented on #63
@indirabhowmick I'm going to take over this work. @robinv85 I'm referencing the work done so far as a starting point but it's only front-end. This PR should include back-end and should be [this Auth0 endpoint](https://auth0.com/docs/api/management/v2#!/Tickets/post_password_change), correct? (there is [another change password endpoint](https://auth0.com/docs/api/authentication#change-password) but

[2020-05-15 21:07] omarzoghayyer commented on #304
@galeza It looks like you need to scroll up in order to see the content. So you are requesting to scroll up in default ?

[2020-05-15 21:19] #307 closed

[2020-05-15 23:06] omarzoghayyer commented on #358
Ill work on this issue.

[2020-05-16 00:06] silenceway commented on #127
Hi @robinv85.
Are you working on this? It seems related to https://github.com/FightPandemics/FightPandemics/issues/179 and I`m working in API integration.

[2020-05-16 03:49] jyclam opened #365 "Fix comments and reply being squeezed"
**Steps to re-create:**
- go to https://staging.fightpandemics.work/
- click on view community postings
- add a comment
- reply to that comment
- reply to that comment

After a few nested replies, open DevTools and view as a mobile device, ie. iPhone X

![Screen Shot 2020-05-15 at 8 13 32 PM](https://user-images.githubusercontent.com/26049767/82109750-69859880-96ed-11ea-82d0-f9eb92f40b96.png)

[2020-05-16 06:09] #146 closed

[2020-05-16 06:09] #204 closed

[2020-05-16 06:25] Naraujo13 commented on #182
Backend endpoints merged at #284

[2020-05-16 06:26] Naraujo13 commented on #182
One quick thing, I think `/posts` doesn't require auth, but `/post/:postId` does (unauthenticated users can't access the post screen to see comments).

[2020-05-16 06:27] Naraujo13 commented on #180
@limaneto Backend endpoints merged at #284

[2020-05-16 07:31] robinv85 commented on #127
Ah yes I was waiting for the Posts backend PR to be merged, it just got merged an hour ago or so, but feel free to take this over if you're working on the feed @silenceway

[2020-05-16 15:14] galeza commented on #304
Is it possible to scroll? Currently it doesn't look good.

[2020-05-16 16:19] snowiesuet commented on #305
Should we group up the smaller issues into #315 and just work on the smaller issues instead?

[2020-05-16 16:20] snowiesuet commented on #305
Sorry, accidentally closed.

[2020-05-16 16:38] snowiesuet commented on #355
Not sure if this is a bug or intended. Needs clarification from product team.

[2020-05-16 16:55] #279 closed

[2020-05-16 18:44] manualzuru commented on #69
@alexjmcm do you have any update?

[2020-05-16 19:52] sumerjoshi opened #369 "Client Side Error Handling for Web in User Authentication Flow"
This ticket is kind of a catch all - basically going through the code and updating every situation of which there is possibility for a client error.

Current Behavior: Right now, I don't believe there is a current Behavior for error handling client side errors.
Expected Behavior: Using inline error messages to handle client side errors

[2020-05-16 19:56] sumerjoshi opened #370 "[WEB] Handling errors from server for User Authentication Flow"
Current Behavior: There is no uniform behavior in dealing with server side messages during the User Authentication Flow
Expected Behavior: In every case where there may be possibility for a server side error, there should should be a red box that appears with the appropriate server side error.
<img width="780" alt="Screen Shot 2020-05-16 at 12 50 07 PM" src="https://user-images.githubusercontent.c

[2020-05-16 20:03] sumerjoshi opened #371 "[Mobile] Client side form validation for User Authentication Flow"
Current Behavior: In the case of client side error handling the mobile design, there is no current or uniform way to handle how to display client side error messages to the user.
Expected Behavior: For every situation where there is a client side error, use this inline error message design in the picture below (as an example)
<img width="782" alt="Screen Shot 2020-05-16 at 12 49 47 PM" src="https:

[2020-05-16 20:03] sumerjoshi opened #372 "[Mobile] Handling errors from server for User Authentication Flow"
Current Behavior: In the case of server side error handling the mobile design, there is no current or uniform way to handle how to display client side error messages to the user.
Expected Behavior: For every situation where there is a server side error, use this error message design in the picture below.
<img width="883" alt="Screen Shot 2020-05-16 at 12 49 53 PM" src="https://user-images.githubus

[2020-05-17 00:13] nadinejuraschek commented on #351
Just to make sure: The page is supposed to match this now?
<img width="776" alt="Screen Shot 2020-05-16 at 5 12 53 PM" src="https://user-images.githubusercontent.com/53962732/82132802-96db5080-9798-11ea-9a16-d3c4be35983b.png">

[2020-05-17 00:18] Naraujo13 opened #375 "Ensure index is synced between models and database"
As a developer, I can add/remove indexes at models schema and it will be kept in sync with the application.

[2020-05-17 00:29] Naraujo13 opened #376 "Feed sorting/filtering for unauthenticated users"
As an unauthenticated user, I can access the feed and get posts sorted by location based on my IP address.

- Get location from IP

- Change `/posts` to sort by generated location

- Change `/posts` to filter posts based on visibility (city, state, country and worldwide) with the generated location

[2020-05-17 03:25] #173 closed

[2020-05-17 03:25] #293 closed

[2020-05-17 03:25] #297 closed

[2020-05-17 03:28] #294 closed

[2020-05-17 03:34] #325 closed

[2020-05-17 09:49] jyclam commented on #181
@anniegiang Can I be granted access for the FightPandemics notion page?

[2020-05-17 16:01] snowiesuet commented on #365
We should have a limit of how many replies we can have nested and how the design should look like.

[2020-05-17 16:09] manualzuru commented on #165
@jherkyesse do you have any update?

[2020-05-17 16:50] indirabhowmick commented on #69
@MohamedEl1 - Can you please look into this? This is part of MVP. Back end has already been completed by @mannykary

[2020-05-17 17:07] indirabhowmick commented on #63
@joshmorel - Thanks so much.

[2020-05-17 18:51] joshmorel commented on #372
@sumerjoshi  If no one picks it up by 20/05/2020 I will work on it.

I would suggest the PR to resolve this issue also address these other issues - #371 #370 #369

[2020-05-17 19:02] joshmorel commented on #345
@galeza Should tablet (portrait/landscape) be following the mobile design?

@TenNga / @anniegiang In such a case, similar issues may be encountered on many pages. Do you think it would be more efficient for one person to tackle this as a whole (instead of many separate PRs)?

[2020-05-17 19:15] vikjoshi commented on #351
Hey @nadinejuraschek , in Figma, there are two pages prior to this page that I think need to be implemented in staging. Currently, we are sent directly to this page.

![image](https://user-images.githubusercontent.com/41554004/82157696-fa688b00-9837-11ea-8a50-f6f37fa40f09.png)

[2020-05-17 19:26] vikjoshi commented on #355
@snowiesuet , these are the two questions I'm referring to- it looks like from the Design that they should be multi-choice selections but they're single choice.
Staging:
![image](https://user-images.githubusercontent.com/41554004/82157950-816a3300-9839-11ea-95b7-5828397812e8.png)
![image](https://user-images.githubusercontent.com/41554004/82157960-8dee8b80-9839-11ea-8b31-ad0dc8769652.png)

Figma:

[2020-05-17 21:23] snowiesuet commented on #355
@vikjoshi  Ah I see now, I was looking at the mobile version and all of them don't have checkboxes by default. Apparently only desktop version has the checkboxes.

![image](https://user-images.githubusercontent.com/3907305/82160391-fc940f00-9862-11ea-9c2e-f4374e36b179.png)

[2020-05-17 21:23] #375 closed

[2020-05-17 21:37] robinv85 commented on #345
I guess currently there are just media queries based on the screen size, also known as "responsive web design".
There are ways to add specific code for mobile like user agent detection and stuff like that but I would recommend against that, it's still possible to add some specific CSS rules for ios and android, but now that we have mobile apps in progress as well I would think that a responsive we

[2020-05-17 22:53] snowiesuet commented on #355
Waiting for #374 to be merged to work on this

[2020-05-17 23:31] mannykary commented on #336
@captchadex Thanks for picking up this ticket! The geolocation request is happening in `NeedHelp.js` (there's a call to `asyncGetGeoLocation`). I'm not actually sure if the call is failing, or if it's not saving to the browser local storage properly, which results in the `Medical.js` page not being able to get the `location` from the browser storage.

[2020-05-18 00:21] #179 closed

[2020-05-18 00:56] sumerjoshi commented on #372
@joshmorel I initially thought this would only be one PR, however, after talking to Robin, there might be multiple other places where this error design might need to be implemented. Just wanted to make sure each ticket was granular enough

[2020-05-18 01:16] vikjoshi commented on #69
@MohamedEl1 @alexjmcm @indirabhowmick - can you confirm the pages on the front-end that would be created via this issue? I'm trying to figure out what this encompasses so I can determine if/what new issues need to be created. Thanks!

Pages to "Create Profile:
![image](https://user-images.githubusercontent.com/41554004/82165447-ef2e5300-9869-11ea-9108-a81fef7d0a7f.png)

Pages to Edit/Complete Prof

[2020-05-18 05:19] mannykary opened #387 "Set up Sentry error reporting"
Set up Sentry projects for each environment: review, staging, and production.

* Update backend code to log errors to Sentry
* Add Sentry API keys to AWS SSM Parameter Store
* Update `main.tf` Terraform to pass in Sentry environment variables

[2020-05-18 11:17] robinv85 commented on #355
Should we confirm this with designers if this is correct? It's a bit confusing to me. At first we had checkboxes / radio buttons, then we removed it... now it seems only desktop?

[2020-05-18 13:09] jherkyesse commented on #165
update on branch [frontend#165/sc-page-change](https://github.com/FightPandemics/FightPandemics/tree/frontend%23165/sc-page-change)

[2020-05-18 13:52] galeza commented on #345
@joshmorel I'll ask designers to confirm to change it or not (if web app fulfils most of the requirements)

[2020-05-18 15:31] robinv85 commented on #127
Hey @silenceway if you are working on this also with #179 maybe assign this to you or close it and mention in the other ticket? Or it might be done yet since I see that ticket is closed...

[2020-05-18 15:33] robinv85 commented on #372
@sumerjoshi thanks for opening the tickets, good that there are multiple tickets for this, however it seems a bit confusing, this isn't really a backend ticket, it's rather how the frontend handles errors coming from the backend.
The actual responses on the backend are separate tasks, and should be implemented already, unless some specific cases like here #225 which needs some more work, and can a

[2020-05-18 15:37] robinv85 commented on #371
Hi @sumerjoshi just FYI I've updated the ticket since I think it's more about "client-side validation:" on the forms, I will work on the #372 and this one is related but can be done mostly with the form components

[2020-05-18 16:11] silenceway commented on #127
In https://github.com/FightPandemics/FightPandemics/issues/179 it was only implemented the call, pagination is missing because it was covered in this ticket. So, it's pending.

[2020-05-18 16:54] joshmorel opened #390 "posts.expireAt date not set correctly for "forever" option"
Current Behavior:

`posts.expireAt` is a date set from one of these options:  `["day", "week", "month", "forever"]`. If `"forever"` is selected, during post/patch `expireAt` becomes current date.

 Expected Behaviour:

`posts.expireAt` is unset/null for `"forever"` option.

[2020-05-18 17:06] joshmorel opened #392 "Add state to locationSchema"
Current Behaviour:

`locationSchema` has `country`, `city`, `neighborhood` but no `state`.

Expected Behaviour:

`state` should be included. `neighborhood` likely isn't required but instead zip/postal for individual users (follow up with product/design)

[2020-05-18 17:23] joshmorel opened #393 "Add geocoding (lat/lon from address)"
Current Behaviour:

The geo-service only does reverse geocoding (lat/lon to address).

Expected Behaviour:

Ability to send address and get back latitude/longitude coordinate pair. This is required for load of posts sourced by FightPandemics (to assign coordinates from City, State, Country entered by data team) but likely other purposes as well.

[2020-05-18 17:52] robinv85 opened #395 "Improve UX for password validation"
There could be 2 additional validations for password strength, because currently only the character length is checked (I think client-side only at the moment), so for example:
- add client-side password strength validation: checking at least 1 special character / capitalized letter
- add API-level validation in the JSON schema

Both could perhaps use the same regex if possible
This should match ex

[2020-05-18 18:21] snowiesuet commented on #343
#345 related

[2020-05-18 18:42] omarzoghayyer commented on #304
@galeza Yes, I can try and fix it.

[2020-05-18 19:12] snowiesuet commented on #165
I think this and #315 are similar.

[2020-05-18 19:21] robinv85 commented on #370
Updated title to match with #372
I'll work on these 2 tickets at the same time

[2020-05-18 19:31] vikjoshi commented on #355
@robinv85 @snowiesuet , I checked the requirements doc and for both desktop and mobile, those should be multi-selection with checkboxes/radio buttons so the desktop Figma has it correct. I asked the Design team to update the design so the mobile will match.

[2020-05-18 20:02] omarzoghayyer commented on #358
@joshmorel @vikjoshi Just fixed this issue. I have a pull request under review for it.

[2020-05-18 20:09] vikjoshi commented on #355
Just to further clarify, the selection logic for these questions is similar to Question 2 and 3 in the Symptom checker where the user can select multiple options OR select "None of the above/I'm not sure/they've had no exposure" which unselects any other selected option

[2020-05-18 21:23] joshmorel commented on #345
@robinv85 I do agree we should stick with media queries. Also with further thought and IMHO given the native app development and the drive to launch the MVP I don't think we should be concerned about testing the web app styling in tablets.

So maybe we just focus on getting the web app look to match the mobile design with a phone rotated to landscape for now? In such a case though is the max of 76

[2020-05-19 00:12] sumerjoshi commented on #372
@robinv85 sounds good

[2020-05-19 00:53] #225 closed

[2020-05-19 00:57] #169 closed

[2020-05-19 00:57] #343 closed

[2020-05-19 02:11] anniegiang commented on #345
fixed by #349

[2020-05-19 02:11] #345 closed

[2020-05-19 02:13] anniegiang commented on #315
duplicate of #165

[2020-05-19 02:13] #315 closed

[2020-05-19 02:13] anniegiang commented on #165
@snowiesuet Ah you're right, I closed that one since it's similar to this one.

[2020-05-19 16:52] limaneto opened #405 "Create Post desktop modals before Create Post"
Create steps before displaying the Create Post Form

Refer to Figma section Post Creation:

https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

[2020-05-19 17:01] joshmorel opened #406 "Update share with on front-end to match model"
Current State:

Zip Code is the default which does match the design, however, team decision recently to replace this with City instead that which is reflected in the back-end but not yet the front-end.

(From Slack):

Expected State:

"In my City"/"City"  in `createPostSettings.js` instead of  "In my Zip Code"/"Zip Code"

[2020-05-19 17:43] #390 closed

[2020-05-19 17:47] #392 closed

[2020-05-19 18:05] #358 closed

[2020-05-19 18:21] #350 closed

[2020-05-19 18:40] snowiesuet commented on #355
@vikjoshi thank you for the clarification. Linking this to #357 so we can refactor this component.

[2020-05-19 19:36] snowiesuet commented on #351
#400 will fix the mobile of this, need to add desktop after this is merged.

[2020-05-19 22:16] TenNga commented on #371
The only way I can do this is by DOM getElementById and changing the style color, if there is a better way please let me know. Meanwhile, I will continue doing my way.

[2020-05-19 23:29] vikjoshi commented on #69
@alexjmcm or @anniegiang , could you tell me which screens we are enabling with the PR #399? I'm happy to test as well once the PR has been merged. I'm trying to figure out which other tickets I need to create for mobile based on what's in the Figma

[2020-05-20 02:13] alexjmcm commented on #69
@vikjoshi With the PR #399  we are working on the create-profile screen similar to this:
![Capture 2](https://user-images.githubusercontent.com/23041987/82397220-eda58c00-9a1d-11ea-8bf9-92983265b19e.PNG)

[2020-05-20 12:03] robinv85 commented on #355
Alright, @vikjoshi maybe talk to @agmaal1 who is also looking at the StepWizard components to make them more reusable, so we avoid merge conflicts etc.

[2020-05-20 13:53] joshmorel opened #411 "Add optional auth hook"
Currently in #373 for filtering posts if user is authenticated client is sending `userId` for location based filtering.

Ideally this would be handled on the back-end similar to [authenticate](https://github.com/FightPandemics/FightPandemics/blob/master/backend/lib/plugins/auth.js#L33) but without throwing an error if not authenticated.

[2020-05-20 14:10] manualzuru commented on #50
@CeesWang @T-Allen is this solved?

[2020-05-20 14:51] acsteves commented on #361
Hi @snowiesuet @anniegiang just confirming -- this is not a launch blocker, but should be treated as an enhancement after launch, yes?

[2020-05-20 15:04] indirabhowmick commented on #63
@joshmorel - Please confirm if both the mobile web and desktop web UI's will be covered under the same ticket.

[2020-05-20 15:17] indirabhowmick opened #412 "Hide the Twitter Login for desktop and mobile web UI's"
- [x] Enable feature flag to hide Twitter Login on the Login and Sign up Pages for both desktop and mobile web UI's -
Designs have been updated in FIGMA

[2020-05-20 15:23] #406 closed

[2020-05-20 15:32] snowiesuet commented on #405
Now that we have both mobile & desktop design, we should focus on the responsive implementation instead of just desktop. Just something to keep in mind during implementation 😃

[2020-05-20 15:33] indirabhowmick commented on #371
@TenNga @robinv85 - Who is handling this ticket? @TenNga - Can you please assign the ticket to yourself?

[2020-05-20 15:34] joshmorel opened #413 "Always trim whitespace from Post externalLinks"
Current Behaviour:

Whitespace is not trimmed from external links with post creation.

Expected Behaviour:

Trim whitespace by adding changing `String` to `{ type: String, trim: true }` for all of these:

[code]

[2020-05-20 15:35] indirabhowmick commented on #183
@limaneto - are you working on this ticket? If Yes Please move the ticket to In Progress

[2020-05-20 15:36] indirabhowmick commented on #194
@joshmorel - Should I assign the ticket to you?

[2020-05-20 15:40] manualzuru commented on #127
@robinv85 @silenceway shouldn't this be in New instead then?

[2020-05-20 15:45] manualzuru commented on #126
Is this issue linked to: https://github.com/FightPandemics/FightPandemics/issues/127? @robinv85 @silenceway @Naraujo13

[2020-05-20 15:46] T-Allen commented on #50
@manualzuru is this the same as issue #176 ?

[2020-05-20 16:04] #175 closed

[2020-05-20 16:10] manualzuru commented on #50
It is the same mobile and desktop only styling changes depending on the device @T-Allen

[2020-05-20 16:33] anniegiang commented on #361
Correct performance is not a priority right now and this issue has the "enhancement" label.

[2020-05-20 17:14] T-Allen commented on #50
I'm still confused, because going by what's on Zeplin, the pages seem quite different:

[create-profile (desktop)](https://zpl.io/2EJWx6v)
[create-profile (mobile)](https://zpl.io/ang47mv)
[edit-profile (desktop)](https://zpl.io/bJJ4g99)
[edit-account-info (desktop)](https://zpl.io/VDJ91X3)

[2020-05-20 17:17] joshmorel commented on #163
Dependencies to Complete (all PRs under review): Primary #401, Also #414 #373

Once dependencies merged additional development time to complete: **1 day (~3/4h)**; plus pull request review & approval

Total effort to date including analysis, discussion & coding: ~20h

[2020-05-20 17:20] joshmorel commented on #63
@indirabhowmick Yes I would complete both mobile web and desktop web in same ticket. I'm going to look into dependencies (mostly around Auth0 tenancy stuff) and then make an effort estimate for our MVP launch check list.

[2020-05-20 17:31] indirabhowmick commented on #50
@T-Allen by Mobile we meant mobile web not the native mobile app. Please reach out if there are any questions.

[2020-05-20 17:42] #405 closed

[2020-05-20 17:43] snowiesuet commented on #361
Yes, this is currently on hold.

[2020-05-20 17:43] PriyalPatney commented on #393
I am working on this.

[2020-05-20 17:57] limaneto commented on #172
I will send the PR related to this task today, then it will be missing only some fixes that might come from code review @MohamedEl1

[2020-05-20 18:07] T-Allen commented on #50
@indirabhowmick Right, I am working on the web app.

[2020-05-20 18:07] #413 closed

[2020-05-20 18:13] joshmorel commented on #194
@indirabhowmick I assigned myself. This isn't required for MVP but developer productivity. it is different from #408 as it would be "dummy" data for dev/test of more than just posts - users, comments etc. I will work on it after #408 is done because post imports from Airtable might be enough for now for devs working on MVP.

[2020-05-20 18:13] robinv85 commented on #371
@indirabhowmick @TenNga yes well like I've already mentioned on the PR review I've completely refactored the login & signup flow with another library that we were also using on other pages so this handles most of the client-side validation by default and I've added the validation of server-side errors, it can probably be updated for some styling from the work on this other PR

[2020-05-20 18:14] robinv85 commented on #127
Not sure but if I understand correctly @silenceway is working on this so that's why I asked if he can assign himself to the ticket so we know he is working on it... it's probably included in the scope of the other ticket as well

[2020-05-20 18:15] manualzuru commented on #50
@T-Allen you are right. Those are 2 different screens, you are right. We need both for having profile.

[2020-05-20 18:16] robinv85 commented on #126
@manualzuru yes pagination in the API is what is used to do the lazy loading in the frontend... so if this is already implemented we can close this ticket (cc @Naraujo13 )

[2020-05-20 18:28] robinv85 commented on #63
Hey @joshmorel sorry for the late reply, seems like I've missed this mention among lots of updates, I think this ticket was actually mostly about the frontend, which has an open PR with changes requested... for the backend we should probably add that in our `/auth` endpoints similar to the login and signup routes, and indeed using one of those endpionts that you've mentioned... at first sight I'd

[2020-05-20 18:48] #295 closed

[2020-05-20 18:51] #178 closed

[2020-05-20 19:02] indirabhowmick commented on #146
@Naraujo13 - Can we please move to Done so that PM's can do UAT?

[2020-05-20 21:56] indirabhowmick commented on #194
@joshmorel - Thanks so much for the detailed explanation

[2020-05-20 22:22] vikjoshi opened #416 "Org- "Edit Organization Profile" Page (MVP v1 Mobile Web)"
1. Create the UI for page below in the Figma Mobile Desktop MVP
![image](https://user-images.githubusercontent.com/41554004/82501420-183d2680-9aaa-11ea-8e31-633408190d7f.png)
a. None of the fields are mandatory.
b. As a user, I should be able to update/fill in any of these fields and click on "Save Changes"- on the back-end, DB will have to update whatever changes are made on the profile

2. As an

[2020-05-20 22:56] indirabhowmick commented on #371
@robinv85 Thanks for the explanation. I have assigned the ticket to myself. Once I am able to test the User Authentication, probable this ticket can be marked as closed.

[2020-05-20 22:57] vikjoshi commented on #69
Thanks @alexjmcm . I also want to call out how an organizational user would access this page so we have the right paths built in. Organizational user would access this page:

1. By clicking on "Edit Account Information" from the View Profile page-
![image](https://user-images.githubusercontent.com/41554004/82503871-eed2c980-9aae-11ea-89f8-ff60eff18a5b.png)

2. When submitting a post as an organiza

[2020-05-21 01:12] vikjoshi opened #417 "Org- View Profile Page (MVP v1 Mobile Web)"
Create Profile Page to match Design Below.
1. Profile Page should pull in:
Organization Name- Source: Organization Name field from create-org-profile page in Figma
Email- Source: Organization Contact E-mail field from create-org-profile page in Figma
Location- Source: Address field from create-org-profile page in Figma
About: Source: Organization Description Field from Complete Org Profile Page in

[2020-05-21 01:42] mannykary commented on #387
I estimate this ticket to take a half day to complete.

[2020-05-21 02:06] vikjoshi opened #418 "Org-View Profile Page (MVP v1 Desktop)"
Create Profile Page to match Design Below.
1. Profile Page should pull in:
Organization Name- Source: Organization Name field from create-org-profile page in Figma
Email- Source: Organization Contact E-mail field from create-org-profile page in Figma
Location- Source: Address field from create-org-profile page in Figma
About: Source: Organization Description Field from Complete Org Profile Page in

[2020-05-21 02:37] vikjoshi opened #419 "Org- "Create Profile" Page (MVP v1 Desktop)"
Build two screens to support "Create Profile" flow
1. ![image](https://user-images.githubusercontent.com/41554004/82515682-a8d92e00-9acd-11ea-973d-29961c6df419.png)
- Please follow design (Type and Industry are dropdown, "what are you looking for" is multi-selection, all fields are mandatory)
- User brought to this page from "Create Post" as an "Organization" TBD on other entry points from Design

[2020-05-21 02:47] vikjoshi opened #420 "Org- "Edit Organization Profile" Page (MVP v1 Desktop)"
1. Build out two pages that lets you toggle between "Account Information" and "Profile Information" from the left menubar. Default is to have "Account Information" selected

2. ![image](https://user-images.githubusercontent.com/41554004/82517588-4d5d6f00-9ad2-11ea-9857-fd58cf12cfaf.png)

3. ![image](https://user-images.githubusercontent.com/41554004/82517686-81d12b00-9ad2-11ea-8300-8f2939594632.pn

[2020-05-21 08:43] robinv85 commented on #371
@indirabhowmick well actually my PR #415 contains the updates with the form library, which has error handling and validation, but it doesn't actually display the client-side validation under the inputs, which is what @TenNga was working on in another PR #409 so maybe we can merge those 2 PR's

[2020-05-21 13:52] robinv85 commented on #39
@indirabhowmick @manualzuru can this ticket be closed or is it still used? I will continue on this flow and finish user creation and related issues to auth flow

[2020-05-21 14:51] indirabhowmick commented on #39
@robinv85 - sounds good. I just closed the issue. Thanks

[2020-05-21 14:51] #39 closed

[2020-05-21 15:05] #165 closed

[2020-05-21 15:36] indirabhowmick opened #423 "Individual - Profile Completed Page - Frontend (Desktop and Mobile web UI)"
- [ ] Develop the front end for Complete Profile Page

- [ ] Designs should be pixel perfect, aligned with the design in FIGMA.
![image](https://user-images.githubusercontent.com/57240870/82575874-e2e21880-9b3d-11ea-9e6a-2894bd3c6db4.png)
![image](https://user-images.githubusercontent.com/57240870/82575981-0b6a1280-9b3e-11ea-9d6f-56b220d96ab2.png)

[2020-05-21 17:08] snowiesuet commented on #355
Some of the changes have been updated but I'll fix the bugs in this issue to prevent any confusions/ conflicts.

[2020-05-21 18:44] omarzoghayyer commented on #304
Issue is been fixed on another branch. Also, the initial issue might have been associated the type of browser you are using. This issue will be closed for now.

[2020-05-21 18:59] omarzoghayyer commented on #305
This Issue has been resolved in a different PR. Im going to close it for now.

[2020-05-21 18:59] #305 closed

[2020-05-21 19:16] snowiesuet commented on #304
This issue is caused by antd modal. It is currently taking the height of the content with the highest number of options and applied to all other modal, causing white space at the bottom. I'll investigate further in the future.

[2020-05-21 19:17] snowiesuet commented on #357
Related to #304

[2020-05-21 20:52] tiagocostasilva opened #427 "[WEB] Make pages responsive to zoom in and out - resize proportionally"
Hi team,
the objective would be to make the page zoom in and out proportionally responsive to it.

The description can be seen here.
This is 100%

![image](https://user-images.githubusercontent.com/45389561/82603801-33438f80-9bab-11ea-9423-9fc41e8295ce.png)

This 175%:
![image](https://user-images.githubusercontent.com/45389561/82604057-96352680-9bab-11ea-8613-84381b606e26.png)

On this scenario o

[2020-05-21 21:10] tiagocostasilva opened #428 "[WEB] "Fight Pandemics" text and logo on the browser tab"
Hi Team,
the "Fight Pandemics" text on the browser tab should be corrected to "FightPandemics" in order to be consistent with the text within all pages,
Also the logo, should be set to the new one.
![image](https://user-images.githubusercontent.com/45389561/82606786-90414480-9baf-11ea-82ae-88a28a439df8.png)

Thanks,
Tiago

[2020-05-21 21:12] stavares843 commented on #428
title fixed here

https://github.com/FightPandemics/FightPandemics/pull/429

do you have the new logo?

[2020-05-21 21:27] tiagocostasilva opened #430 "[WEB] Correct weird roudness and flooting of blue square on Home Page"
Hi Team,
on blue square seems to have a weird roundness on the corners comparing to figma and impression that is floating. Can you please check and correct?

![image](https://user-images.githubusercontent.com/45389561/82608187-18284e00-9bb2-11ea-85de-776c2d907b76.png)

Thanks,
Tiago

[2020-05-21 21:30] tiagocostasilva opened #431 "[WEB] Missing background color on Desktop"
Hi Team,
according to Figma there is missing a grey are surrounding the buttons on the main page as well as the text.

Current:
![image](https://user-images.githubusercontent.com/45389561/82608434-971d8680-9bb2-11ea-946a-0f1f833e4891.png)

Figma:
![image](https://user-images.githubusercontent.com/45389561/82608465-a56ba280-9bb2-11ea-9f5a-f9fe0a7ae3d6.png)

Can you please check and correct?

Thanks

[2020-05-21 21:37] nadinejuraschek commented on #431
I've noticed this before, but I think the background color for all pages is meant to be grey for Desktop. And only the footer background color is white?

[2020-05-21 21:45] tiagocostasilva opened #432 "[WEB] Missing envelope icon on top right corner"
Hi Team,
envelope icon is missing on top right corner even logged out.

![image](https://user-images.githubusercontent.com/45389561/82609513-938aff00-9bb4-11ea-8f2e-d991b305972e.png)

The action of the envelope must be also implemented. Please contact @Yu Zhao.

Can you please correct?

Thanks,
Tiago

[2020-05-21 21:56] nadinejuraschek opened #434 "Frontend cleanup: replace hardcoded colors with values from theme.js"
Hi everyone,

while fixing merge conflicts, I've noticed that a lot of the new Desktop styles don't make use of the color values stored in theme.js. I'll clean that up!

[2020-05-21 22:05] tiagocostasilva commented on #431
Hi @nadinejuraschek , according to Figma yes, that´s it.

[2020-05-22 04:57] silenceway opened #437 "Add missing fields to post endpoint."
Please add to the GET /api/post these fields:
* liked (if logged in user liked the post).
* user avatar if the user has a photo and the full name to create a text avatar if the user doesn't have a picture.

[2020-05-22 07:55] #430 closed

[2020-05-22 08:43] #370 closed

[2020-05-22 10:20] tiagocostasilva commented on #428
@stavares843  can you please check with @Yu Zhao where the logo is available please?

[2020-05-22 14:03] joshmorel opened #440 "Clarify requirement for review URL"
Clarify in https://github.com/FightPandemics/FightPandemics#review-branches that for a review URL to succesfully be deployed a PR must be made from within this repo not a fork. Contributions from a fork are fine but they should omit the "feature/" prefix.

[2020-05-22 15:32] stavares843 commented on #428
reopen because still missing updating the logo

[2020-05-22 17:54] joshmorel opened #441 "Document PR approval process"
1) Add reviewers to PR
1) 2 must approve to merge into master
1) The reviewer making the 2nd approval should merge immediately into master if:
    1) There are no un-resolved changes requested by other reviewers
    1) There is merge conflict due to recent commits to master - the reviewer can resolve if they feel they can confidently do so OR ask the requester to resolve and complete the merge

At

[2020-05-22 18:33] Naraujo13 commented on #126
I thought based on our discussion at #197 that @mushketyk was doing this so I didn't add that on the `posts` backend, but if he is not working at it anymore I can add it.

[2020-05-22 18:43] omarzoghayyer commented on #432
@tiagocostasilva Im just waiting on the design team to finish the envelop icon.

[2020-05-22 18:49] Naraujo13 commented on #146
Sure, I moved it to QA thinking that was the state  for that

[2020-05-22 18:55] Naraujo13 commented on #437
Hi @silenceway,
Sure, I'll add the like and photo/avatar.

About the name, isn't that currently available through `post.author.name`, or did you mean something different?

[2020-05-22 20:48] tiagocostasilva commented on #298
Hi, when this issue is corrected it means the footer will be visible both in Mobile and Web version?

[2020-05-22 21:07] tiagocostasilva opened #442 "[Mobile] Correct 2 scenarios when trying to save FP to home screen"
Hi Team,
i noticed that when i open FP (https://staging.fightpandemics.work/ ) on my mobile phone and i try i go to this menu and click on "Add to Home screen":
![image](https://user-images.githubusercontent.com/45389561/82709283-22148480-9c78-11ea-871c-7798a9eabc3f.png)

The following appears:
![image](https://user-images.githubusercontent.com/45389561/82709323-3eb0bc80-9c78-11ea-8358-305c1f9da49

[2020-05-22 21:25] stavares843 commented on #442
title fixed here

https://github.com/FightPandemics/FightPandemics/pull/443

instead of "Create React App Sample" what should it say?

[2020-05-22 21:40] tiagocostasilva commented on #442
Waiting on some opinions from the community here: https://fightpandemics.slack.com/archives/C010QR5D4KY/p1590183606401800

[2020-05-23 15:55] #434 closed

[2020-05-23 16:22] nadinejuraschek opened #449 "remove console warnings"
### **work on branch feature/449**

./src/pages/OfferHelp.js
- [ ] Line 60:10:  'status' is assigned a value but never used
- [x] Line 12:3:  'WizardButtonGroup' is defined but never used

./src/components/CreatePost/CreatePost.js
- [x] Line 12:8:    'SubmitButton' is defined but never used
- [x] Line 129:11:  'setForm' is assigned a value but never used
- [x] Line 129:33:  'setCurrentStep' is ass

[2020-05-23 16:59] #298 closed

[2020-05-23 19:57] joshmorel opened #450 "Upgrade moment to fix 2.25.1 bug"
Encountering error due to can't find module './locale' since resolved in 2.25.3 https://github.com/moment/moment/issues/5484

[2020-05-23 20:03] Samdisha commented on #164
@anniegiang @robinv85  any updates to this issue?

[2020-05-23 21:14] #450 closed

[2020-05-23 21:54] #411 closed

[2020-05-24 01:56] Oluwadamilareolusakin commented on #423
Working on it!

[2020-05-24 16:02] galeza opened #456 "[Desktop] Need Help Question 1 screen Back button design"
env: https://staging.fightpandemics.work/need-help

steps:
1. Select Need help
2. Question 1 screen is open:
![Screen Shot 2020-05-24 at 18 00 12](https://user-images.githubusercontent.com/21987083/82758727-94a47200-9de8-11ea-89e6-f6b77a5c5fc6.png)

Back button according to Figma screen:
![Screen Shot 2020-05-24 at 18 00 26](https://user-images.githubusercontent.com/21987083/82758731-a259f780-9de8

[2020-05-24 16:05] galeza opened #457 "[Desktop] Give Help Question 1 screen Back button design"
env: https://staging.fightpandemics.work/offer-help

Steps:
1. Selects Give Help
2. Question 1 screen is open
![Screen Shot 2020-05-24 at 18 05 02](https://user-images.githubusercontent.com/21987083/82758820-2d3af200-9de9-11ea-95f7-40f34b972ecf.png)

As per Figma design:
![Screen Shot 2020-05-24 at 18 05 17](https://user-images.githubusercontent.com/21987083/82758827-34620000-9de9-11ea-8890-ea9ff5

[2020-05-24 18:22] stavares843 commented on #442
@TiagoaTavares any more suggestions there? should we just say ''Loading''?

[2020-05-24 19:08] joshmorel commented on #393
@Naraujo13 Do you think we still need this on the backend (or the geo-service at all) since all geocoding will be done on the front-end with Google Maps api before sending to the backend?

We should decide before @PriyalPatney gets too far with this one way or the other.

I can come up with some other solution for the import from airtable.

[2020-05-24 19:40] snowiesuet commented on #427
I don't think zooming in and out is part of the responsive development. If we were to accumulate this use case we'll have to spend a long time trying to develop for every screen size and zoom %.

[2020-05-24 20:02] #372 closed

[2020-05-24 20:09] robinv85 commented on #361
@anniegiang and @snowiesuet maybe I was a bit too explicit about improving performance
Performance shouldn't be treated as an after thought, we should always keep it in mind when developing, but we also don't want to do "premature optimization".

In the case of the icons, like I've said, we could also use another approach similar to what Facebook did in their latest update and use SVG components (

[2020-05-24 20:21] Naraujo13 commented on #393
Isn't the frontend currently using the reverse geocode endpoint of the python service to do that?

[2020-05-24 21:30] joshmorel commented on #393
I'm personally not sure the best choice. Current we are using https://github.com/thampiman/reverse-geocoder to get country from lat/lon for a V1.1 feature. It's for offline use but hasn't been updated in awhile so how accurate is it for finer details? We should bring this discussion to Slack engineering.

[2020-05-24 21:38] robinv85 opened #461 "Integrate API with create-user-profile form"
Finish the form & hook up with the API to create the user profile after registration.
Redirect to this page after a user has created an account (and verified email if needed) but hasn't entered the required user information yet to create a user in the database.
When user created successfully it should also show the next screen.

The form should have client-side validation and display error message

[2020-05-24 21:51] robinv85 opened #462 "Clean up forms & layouts"
There are multiple pages with forms and layouts that are very similar
It's best to check the form components and styles so they are optimized for reusability, instead of reinventing the wheel, leveraging libraries such as `react-hook-form` for some consistency.

The layout templates can be set on the route configuration, while some pages seem to have a custom layout without a template, this can be

[2020-05-24 22:05] robinv85 commented on #427
Seems to me that this is already responsive text sizing when I try to resize the viewport size

I can understand the "art direction" part of the design, similar to responsive images and how they resize across different screens, but for zooming I'm not sure if that will work as well, in this case I think maybe it can be adjusted with the container size around the title... this also depends on the t

[2020-05-25 03:35] nadinejuraschek opened #463 "Footnote positioning"
The Footer currently displays differently on all pages. We need it to appear at the bottom of the screen on pages with shorter content (e.g. the Symptoms Checker) without giving it a fixed position, so it will still display at the bottom of all content on longer pages.

[2020-05-25 10:44] robinv85 commented on #164
@Samdisha there were some discussions on Slack I think also with @Naraujo13 and @joshmorel and maybe others so maybe you can read those and add some feedback there

[2020-05-25 10:48] #176 closed

[2020-05-25 11:33] galeza commented on #328
The same screen is required for Need Help question 2/3 screen.

[2020-05-25 12:09] robinv85 commented on #412
Yea to keep it simple I've just added it in a comment, we don't have feature flags at the moment, we could add that later for 1.1 perhaps. MVP doesn't really need feature flags for now since we should all be working on the essential features.

[2020-05-25 12:13] tiagocostasilva commented on #427
@snowiesuet @robinv85 , thanks for the feedback.

I understand your points of view here. Probably for MVP can be too much, but something for sure to take in consideration for future, and break down this in multiple tasks. What do you think?

At this stage, and because we want to launch quickly i would say to try to put it better in the Home Page (fix size and images), in parallel we can do the wor

[2020-05-25 12:14] tiagocostasilva commented on #432
@omarzoghayyer do you have some news about the design ?

[2020-05-25 12:16] #412 closed

[2020-05-25 12:20] tiagocostasilva commented on #442
@tiagocostasilva  you mean? :D Just left a comment on the channel (same post) to get help from our rockstar designers

[2020-05-25 12:52] galeza opened #467 "[Desktop] Give Help - Question 3 screen"
env: https://staging.fightpandemics.work/offer-help#Step3

Steps:
1. Select Give Help
2. Go to the Question 3 screen
![Screen Shot 2020-05-25 at 14 51 29](https://user-images.githubusercontent.com/21987083/82814364-4b5f2b80-9e97-11ea-8dbd-b0ac7a8d8a7e.png)
 As per Figma design:
![Screen Shot 2020-05-25 at 14 51 40](https://user-images.githubusercontent.com/21987083/82814372-531ed000-9e97-11ea-9687

[2020-05-25 13:46] tiagocostasilva commented on #442
Pending designer task to start : https://www.notion.so/fightpandemics/Loading-FP-logo-screen-before-the-app-1d444471f971472b9ca8a0ef41ef3c61

[2020-05-25 13:48] stavares843 commented on #442
edited

[2020-05-25 14:29] robinv85 opened #468 "Update frontend .env / config"
For the ESLint config with Create-React-App there was a recent adjustement to add custom ESLint rules, which requires `EXTEND_ESLINT=true` in the `client/.env` file.

This file is not in added in version control since it's in `.gitignore` because it contains `REACT_APP_AIRTABLE_API_KEY` and `REACT_APP_AIRTABLE_BASE`.

This might cause issues if newcomers setup the repository and forget to add this

[2020-05-25 20:44] joshmorel opened #469 "Implement & leverage geocoding to fulfill MVP requirements"
Geocoding (and reverse geocoding) is required in several places for the MVP. The priority is the front-end web app but there may be similar needs for this service from the native mobile apps and in some cases the backend itself (e.g. post import from airtable).

A resolution to this issue include implementing this geocoding feature as well as potentially implementing a consistent means to it’s use

[2020-05-25 21:54] mannykary opened #470 "Finish setting up Auth0 for each environment"
There are some manual steps required to set up each tenant/environment. I performed these steps for the review tenant. We will need to repeat these steps for staging and production.

Note that these steps still need to be ironed out (so trial and error).

1. Create Auth0 Management API
2. Create Test Application for Auth0 Management API
3. Authorize Test Application with Management API, with scope

[2020-05-25 22:09] tiagocostasilva opened #471 "[Web] Onboarding |Need Help| Design inconsistency with figma"
Hey Team,
We have some design inconsistencies with Figma. Can you please correct?

**Note:** This screens must be consistent with the screens from "Give help". Please pick both issues or align with whom is taking care of: https://github.com/FightPandemics/FightPandemics/issues/473

For "Medical" and "Other help" the designs are not consistent.

**Scenario 1**
1 . You go to https://staging.fightpan

[2020-05-25 22:42] tiagocostasilva opened #473 "[Web] Onboarding |Give Help| Design inconsistency with figma"
Hello Team,
so we need your help to fix some screen inconsistencies with Figma.

**Note:** This screens must be consistent with the screens from "Need help". Please pick both issues or align with whom is taking care of: https://github.com/FightPandemics/FightPandemics/issues/471

**Scenario 1**
1 . You go to https://staging.fightpandemics.work/ on desktop
2. Click on "Give Help"

Please check Figm

[2020-05-25 22:55] #387 closed

[2020-05-25 23:07] tiagocostasilva opened #474 "[WEB][MOBILE] Validate and adjust scrolling acrross FightPandemics"
Hello Team,
we noticed that a lot pages on FightPandemics app have **scrolling** and there isn't the need to have in most of the pages, except for some e.g. like feed.

The goal of the task is to go trough all the the screens in FP and identify:

Suggestion:There should be some sort of guideline to who is creating screens in the future We have something related?

This validation should be done in

[2020-05-25 23:08] vikjoshi commented on #420
https://github.com/FightPandemics/FightPandemics/pull/455 may be helpful here

[2020-05-25 23:10] vikjoshi commented on #419
https://github.com/FightPandemics/FightPandemics/pull/426 may be helpful here

[2020-05-25 23:28] tiagocostasilva commented on #442
@stavares843 the designs are on notion: https://www.notion.so/fightpandemics/Loading-FP-logo-screen-before-the-app-1d444471f971472b9ca8a0ef41ef3c61
Is there any use case where you can see this is useful ?

[2020-05-26 03:56] nadinejuraschek commented on #473
@anniegiang I finally found the footnote positioning error! It was the wizard-container that had a huge margin

[2020-05-26 06:32] ppagarawal opened #476 "[WEB] Multiple Scroll bar issue"
Hey Team,

While performing few checks I came across a scrolling issue on the Homepage and onboarding pages
The screen shows up 2 scroll bars under a specific condition.

Steps to replicate:
1. Download a file on web and let the downloaded file be shown on the footer.
2. You will find multiple scroll bars on the homepage and onboarding pages. Please refer to the image attached.

![2 scroll bar iss

[2020-05-26 06:45] ppagarawal opened #477 "[WEB] Footer links are not working"
Hello Team,

The footer links to "Terms & Conditions | Privacy Policy | Cookies Policy" are not working on web.

Steps to replicate:
1. Go to https://staging.fightpandemics.work/ on web
2. Click on either of Terms & Conditions | Privacy Policy | Cookies Policy at the bottom of the page.

The link does not navigate to the respective terms or policy page.

The goal should be to navigate the user to

[2020-05-26 06:57] nadinejuraschek commented on #471
I'm working on #473. I fixed the buttons and footer positioning, but am having trouble overwriting ant-design for the inputs. Would love to collaborate with someone on this!

[2020-05-26 12:07] galeza commented on #473
Hi,
There are several bugs related to this issue: #456 , #457 , #467 , #328

[2020-05-26 12:59] snowiesuet commented on #476
#304 related

[2020-05-26 13:23] joshmorel commented on #393
Closing as created new issue with better outlined requirements #469

[2020-05-26 13:23] #393 closed

[2020-05-26 13:58] #477 closed

[2020-05-26 16:33] stavares843 commented on #442
still missing fixing the logo

[2020-05-26 16:53] galeza opened #482 "[Desktop][Mobile]- Sign In/Up sign with section missing icon"
env: https://staging.fightpandemics.work/

Steps:
1. Open Sign In or Sign Up
2. Go to the Sign up with section/ Sign in with section
On Figma design there is one additional icon: Twitter. Do designers decided to remove Twitter icon?
Application:
![Screen Shot 2020-05-26 at 18 48 09](https://user-images.githubusercontent.com/21987083/82928152-1f6ca480-9f82-11ea-98eb-99dcc2517bcc.png)
Figma:
![Scree

[2020-05-26 16:56] robinv85 commented on #482
Just fixed #412 recently to hide it for MVP since it doesn't have email and it will require an extra step for users to provide their email but that will be for a later version.

[2020-05-26 16:56] #482 closed

[2020-05-26 16:56] manualzuru commented on #482
@galeza for MVP we decided to remove the twitter Icon as we don't have a clear way of getting their email.

[2020-05-26 16:58] galeza commented on #482
Thank you for your comments!

[2020-05-26 17:41] manualzuru commented on #83
@MohamedEl1 I think this is the wrong GTM. Please get in touch with Federica!

[2020-05-26 18:44] omarzoghayyer commented on #432
@tiagocostasilva  I just finished it now. I still have one more question. Where is this envelop should link to?

[2020-05-26 19:16] galeza opened #483 "[Desktop] [Mobile] Feed screen | Filter section Location not as in Figma design"
env: https://staging.fightpandemics.work/feed
Steps:
1. Open Feed screen
2. Go to Filters -> Location
3. In the search box we have a wrong tooltip, wrong search icon
4. Arrow is different then the design
5. Share My Location text has a different size/font
Application:
![Screen Shot 2020-05-26 at 21 13 55](https://user-images.githubusercontent.com/21987083/82941047-00780d80-9f96-11ea-9821-c3b2fd8fc

[2020-05-26 19:25] ppagarawal opened #484 "[MOBILE] Edit a comment in a post"
Goal: To be able to edit a comment by a logged in User.

Edit:
As a logged in user, I want to edit a comment so that I can rectify my spellings/errors/thoughts.

![image](https://user-images.githubusercontent.com/6276256/82940173-10054f80-9fb2-11ea-87ec-0b33faa92b82.png)

![image](https://user-images.githubusercontent.com/6276256/82940864-0af4d000-9fb3-11ea-9b54-89e10fb8eaa3.png)

Acceptance crite

[2020-05-26 19:27] ppagarawal opened #485 "[MOBILE] Delete a comment in a post"
Goal: To be able to delete a comment by a logged in User.

Delete a comment:
As a logged in user, I want to delete a comment so that I can remove it permanently

![image](https://user-images.githubusercontent.com/6276256/82940173-10054f80-9fb2-11ea-87ec-0b33faa92b82.png)

![image](https://user-images.githubusercontent.com/6276256/82941464-0381f680-9fb4-11ea-8711-0bd5b920b269.png)

Acceptance crite

[2020-05-26 19:34] ppagarawal opened #486 "[WEB] [MOBILE] Edit a comment in a post"
**Goal**: To be able to edit a comment by a logged in User.

**Edit a comment**:
As a logged in user, I want to edit a comment so that I can rectify my spellings/errors/thoughts

Web:
![image](https://user-images.githubusercontent.com/6276256/82942190-38427d80-9fb5-11ea-8243-495c08ea00d1.png)

![image](https://user-images.githubusercontent.com/6276256/82942241-4bede400-9fb5-11ea-8059-c77acd32a5cd.

[2020-05-26 19:37] galeza opened #487 "[Desktop] [Mobile] Feed screen | Filter section spelling mistakes"
**Question was sent to content writer J Cameron.**

env: https://staging.fightpandemics.work/feed

1. Go to Feed screen
2. Open filters section

a. Should we have From who or from whom?
Figma has both options:
![Screen Shot 2020-05-26 at 21 25 15](https://user-images.githubusercontent.com/21987083/82941895-703ac800-9f97-11ea-9dc0-9866d2e5bf82.png)
Applications:
![Screen Shot 2020-05-26 at 21 25 49

[2020-05-26 19:41] ppagarawal opened #488 "[WEB] [MOBILE] Delete a comment"
**Goal**: To be able to edit/delete a comment by a logged in User.

**Delete a comment**:
As a logged in user, I want to delete a comment so that I can remove it permanently
Web:

![image](https://user-images.githubusercontent.com/6276256/82942839-3dec9300-9fb6-11ea-8d53-1b8ca1340a6e.png)

![image](https://user-images.githubusercontent.com/6276256/82942878-4f359f80-9fb6-11ea-87ba-1b6621f17463.png)

[2020-05-26 20:42] robinv85 opened #490 "Remove redux and replace with Context API"
Currently redux is only used for the user authentication: to store the token and initial response from the server (that can contain some user info like name, email, emailVerified, avatar etc.)

For other places we are using mostly local state with useReducer hooks, which is similar to redux but not in global state and requires less boilerplate code.

To avoid confusion with the actions & reducers

[2020-05-26 20:59] indirabhowmick commented on #488
@ppagarawal - can you please include the mobile web requirements in the same ticket, since its just CSS styling change. We do not need separate tickets as discussed.

[2020-05-26 21:00] indirabhowmick commented on #485
@ppagarawal - can you please include the mobile web requirements in the web ticket that you have created, since its just CSS styling change. We do not need separate tickets as discussed. This can then be closed

[2020-05-26 21:12] omarzoghayyer commented on #487
I can help out with cleaning this up.

[2020-05-26 21:27] robinv85 commented on #50
Can we update this ticket or add another ticket and maybe tags to have a better view on the user profile status?
The user v2 data model is not implemented yet and I'm working on "create user" so I think both of these edit / view user aren't implemented with API yet?

[2020-05-26 21:32] omarzoghayyer commented on #487
@galeza This issue has been resolved. In addition to that, I fixed 2 more silly mistakes I just ran into (look at the screenshot) 1. I deleted the space between the last letter and first dot. "Something went wrong ..." To "Something went wrong..."
2. "Create post" to "Create a post"
<img width="789" alt="Screen Shot 2020-05-26 at 2 31 57 PM" src="https://user-images.githubusercontent.com/49251966/

[2020-05-26 22:18] indirabhowmick commented on #371
@robinv85 @TenNga - should I close this ticket?

[2020-05-26 22:32] #487 closed

[2020-05-26 22:42] robinv85 commented on #371
@indirabhowmick actually i think this is still an open PR #409
but it should be refactored with the latest updates with react-hook-form
unless you close it and we only #369 for web + mobile

[2020-05-26 22:46] nadinejuraschek commented on #456
related to these issues:
#[471](https://github.com/FightPandemics/FightPandemics/issues/471),
#[473](https://github.com/FightPandemics/FightPandemics/issues/473)

[2020-05-26 22:46] nadinejuraschek commented on #457
will be closed by this issue:
#[473](https://github.com/FightPandemics/FightPandemics/issues/473)

[2020-05-26 22:47] nadinejuraschek commented on #467
related to these issues:
#[471](https://github.com/FightPandemics/FightPandemics/issues/471),
#[473](https://github.com/FightPandemics/FightPandemics/issues/473)

[2020-05-26 22:47] nadinejuraschek commented on #328
related to these issues:
#[471](https://github.com/FightPandemics/FightPandemics/issues/471),
#[473](https://github.com/FightPandemics/FightPandemics/issues/473)

[2020-05-26 22:52] #437 closed

[2020-05-26 23:01] CeesWang commented on #50
No they are not implemented with API yet

On Tue, May 26, 2020 at 5:27 PM Robin Venneman <notifications@github.com>
wrote:

[2020-05-26 23:17] jsimoncameron commented on #487
@galeza RE (a), 'Providers' might be preferable to 'From Whom'

[2020-05-27 00:08] anniegiang commented on #473
@nadinejuraschek  Wow nice catch!!! 💯

[2020-05-27 01:19] Naraujo13 commented on #469
First of all, thanks @joshmorel for compiling and organizing all that info that was scattered around issues, slack channels, and team members!

Second, this will be a little bit long, but I think it will help us make a decision on which route to take.

--------------------------------------------------------------------------------------------------------------

# What do we need?
Given the outlin

[2020-05-27 02:20] pthoma14 opened #493 "User Auth - Confirmation Email"
**Success Criteria:**
- Sendgrid api should be used as the transactional email service

- The backend needs to be connected with email server

[2020-05-27 02:28] mannykary commented on #470
Dependencies to Complete: none

Time to complete: 1 day (~3/4h). No pull request review & approval needed, as everything is done in the Auth0 console

Total effort to date including analysis and discussion: ~8h

[2020-05-27 06:15] ppagarawal commented on #485
Closing this issue as this has been merged with the web ticket #488

[2020-05-27 06:15] #485 closed

[2020-05-27 06:19] ppagarawal commented on #484
Closing this as the changes have been incorporated into #486 and this is not required

[2020-05-27 06:19] #484 closed

[2020-05-27 11:11] tiagocostasilva commented on #432
@omarzoghayyer we are checking that on https://fightpandemics.slack.com/archives/C01481306UA/p1590577875001000

[2020-05-27 13:20] joshmorel commented on #493
Design:

![image](https://user-images.githubusercontent.com/10546720/83023660-326f8b00-9ffb-11ea-868d-fcb9a74f40e1.png)

[2020-05-27 14:01] galeza opened #495 "[Mobile] Feed Page | Create new post as ind/organisation is half visible"
env: staging
MOBILE phone
Steps:
1. Open application and go to Feed page
2. Click + sign to add a new post
New window is open, half visible:
![Screenshot_2020-05-27-15-51-36-492_com android chrome](https://user-images.githubusercontent.com/21987083/83029900-7f6f5380-a033-11ea-999b-313945aa0d8a.jpg)

[2020-05-27 14:11] galeza opened #496 "[Desktop][Mobile] Sign In/Up screen | facebook icon"
env: https://staging.fightpandemics.work/
Steps:
1. Open application and go to the Sign In/Up screen
When I open this screen for the first time Facebook icon is too small (look at the screenshot below).
When I open Sign In/Up page for the second time facebook icon has a proper dimension.
![Screen Shot 2020-05-27 at 16 14 02](https://user-images.githubusercontent.com/21987083/83031682-256f8d80-a035

[2020-05-27 14:24] galeza opened #497 "[Mobile] Feed screen | footer section wrongly positioned"
env: staging
MOBILE
Steps:
1. Open application and go to the Feed page. On all screen footer section is at the bottom of a screen. Here we have it in the middle of the screen:
![Screenshot_2020-05-27-16-06-40-105_com android chrome](https://user-images.githubusercontent.com/21987083/83032730-80ee4b00-a036-11ea-9762-08d2e106ebb8.jpg)

[2020-05-27 16:31] manualzuru commented on #496
https://github.com/edent/SuperTinyIcons

Here we can find super tiny icons that are optimized for web.

[2020-05-27 16:55] galeza opened #498 "[Desktop][Mobile] Feed screen | change label in the Filter section"
env: staging

In cooperation with @jsimoncameron content writer we want to change label on the Feed screen Filter section: From whom -> to **Providers**

![Screen Shot 2020-05-27 at 18 54 17](https://user-images.githubusercontent.com/21987083/83049447-7be7c680-a04b-11ea-8ddf-40bac7061a95.png)

[2020-05-27 17:19] joshmorel commented on #469
The approach sounds good @Naraujo13 thanks for the analysis. I'm on board with the two endpoints. I'm fine with Python for speed of development and we can migrate functionality to Node.js backend later if it makes sense. @robinv85 does this sound okay or do you think this should be done in Node.js backend to begin with?

[2020-05-27 17:59] omarzoghayyer commented on #432
@tiagocostasilva I talked to @robin. These feed pages are still under progress.

[2020-05-27 18:48] #432 closed

[2020-05-27 18:50] nadinejuraschek commented on #221
@anniegiang This issue can be closed right?

[2020-05-27 18:51] omarzoghayyer commented on #432
This issue has been addressed and fixed in this PR https://github.com/FightPandemics/FightPandemics/pull/489

[2020-05-27 19:05] #457 closed

[2020-05-27 19:05] #473 closed

[2020-05-27 19:11] #498 closed

[2020-05-27 21:19] robinv85 commented on #469
Yeah this is currently the case, right? It's decoupled from the Node API, as a separate service, so whether we use a self-hosted service or replace it with an external one, this would stay the same I think?

I also found a Go service for geocoding which was supposed to be faster but it didn't work that well, I couldn't get responses for all the coordinates so the Python one seemed to work quite we

[2020-05-27 21:34] TiagoaTavares opened #503 "[Desktop] Create a post without login"
Imagine the following current scenario:
--> the user clicks on "View Community Postings" without login  ---> clicks on "create a post" button ! ---> This page shows up:
![image](https://user-images.githubusercontent.com/43705522/83073728-d04d6f00-a068-11ea-9c3e-df95762057b7.png)

However, this can't happen! Without login, after click on "Create a post" button, the user shall be redirected to "logi

[2020-05-27 21:55] manualzuru commented on #503
@TiagoaTavares this behavior isn't only on [Desktop]. It's also on mobile the same

[2020-05-27 22:01] TiagoaTavares commented on #503
@manualzuru i know.. But mobile version doesn't have frontend of this page finished yet.  --> No "create a post" button, and also bad location of filters... However i got in touch with PM lead of "feed"...

[2020-05-27 22:18] anniegiang commented on #221
Not sure, I haven't been following that close to the project progress lately. The last time I checked the two checkboxes that aren't checked weren't fixed yet I think

[2020-05-27 23:15] nadinejuraschek commented on #467
see slack: https://fightpandemics.slack.com/archives/C010P7A17V3/p1590605869106400

[2020-05-27 23:19] nadinejuraschek commented on #221
NrMap was refactored since it was our last class component, so there are still warnings for NrMap, but different ones. I opened an issue for the new ones a few days ago: #449

I'm closing this issue

[2020-05-27 23:19] #221 closed

[2020-05-27 23:38] omarzoghayyer commented on #483
Im waiting on the design team to for the new share my location logo.
<img width="325" alt="Screen Shot 2020-05-27 at 4 38 47 PM" src="https://user-images.githubusercontent.com/49251966/83082521-8b114900-a038-11ea-8121-462e5911dcfd.png">

[2020-05-28 00:39] Naraujo13 commented on #469
Yep, currently, it is a separate service in Python.
I was thinking and we don't need it to be an entirely separated service like that, simply decoupling the geocoding logic to specific endpoints at our API would suffice for that. I just meant to avoid having the location handling code scattered around many different endpoints and even at the frontend.

Anyway, our current backend service does only

[2020-05-28 00:42] Naraujo13 commented on #469
Also about leaving the geolocation service in Python x doing it in Node: for consistency and to make that simpler, I would prefer Node, but tbh I have a good part of the rotation code between APIs done in Python, so that would be faster haha

[2020-05-28 06:56] nadinejuraschek commented on #431
@snowiesuet I fixed this issue with #473

[2020-05-28 12:49] robinv85 commented on #469
Yeah @Naraujo13 I think it's best to consider the reasons why you would pick one or the other, if the logic fits well in our Node app just to rotate between the different services then I would prefer that instead of putting an extra Python service for just that... we also have more developers that can probably help with the Node part if you;d like and lack some time at the moment.

[2020-05-28 13:10] #206 closed

[2020-05-28 16:03] gullwings13 commented on #495
This seems to be fixed* in staging and the version I just pulled from github. Though now the desktop version of the buttons are gone. Trying to figure out what code was used for the buttons shown above.

[2020-05-28 17:30] ppagarawal opened #506 "[WEBAPP] Validation in onboarding pages"
Hello Team,

Please note that the onboarding pages must activate the next icon only when the input is provided and valid. The validation rules need to be followed for both Give Help/Take Help workflows

Validation rules:
Question 1/3
The next button gets activated only after selection of either "Medical" or 'Other Help"

Question 2/3
Location must be from the dropdown/detected and valid for the ne

[2020-05-28 17:43] ppagarawal opened #507 "[WEBAPP] Shadow with buttons"
Hello ,

The buttons in the webapp under question 1/3 shows up for 2 of the 3 buttons. The shadow must not be present as per the design

Figma design:
![image](https://user-images.githubusercontent.com/6276256/83174757-774d0c00-a138-11ea-8d5c-73a3f653c8fa.png)

Actual Image:
![image](https://user-images.githubusercontent.com/6276256/83174708-643a3c00-a138-11ea-839e-1358750d5b1f.png)

Steps to repl

[2020-05-28 18:48] galeza commented on #497
Already solved in staging

[2020-05-28 18:48] #497 closed

[2020-05-28 19:35] joshmorel opened #508 "await User.findById"
Not awaited so it is evaluating to an object instead of false if the user does not exist.

[2020-05-28 19:48] #180 closed

[2020-05-28 21:20] #172 closed

[2020-05-28 21:28] limaneto opened #510 "Create Post confirmation modal"
Show a confirmation modal as the last step when creating a post

https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=1377%3A8027

![image](https://user-images.githubusercontent.com/6009780/83195523-b9faee00-a110-11ea-8c68-1ec6812c27e9.png)

I will be finishing this in two days

[2020-05-28 21:43] joshmorel commented on #508
Resolved by #509

[2020-05-28 21:43] #508 closed

[2020-05-28 21:56] joshmorel opened #512 "Don't (re)set value in IndividualUser setters"
@joaofnds missed this when doing PR review but noticing now when troubleshooting the import script for the new user/org models.

We should have it like `OrganizationUser` just return the value don't set e.g. `this.firstName = firstName` within the setter. Otherwise the setter is recalled (again & again...). Mongoose somehow prevents a loop from running endlessly but it's still called many times so

[2020-05-28 22:01] joshmorel opened #513 "Check for null doc when throwing notFound errors"
We have code like this in several places https://github.com/FightPandemics/FightPandemics/blob/f48489ac7503b140d0f5de399a0c6e4b95bba989/backend/lib/endpoints/posts.js#L175

[code]

But if the doc isn't found `userErr = null` and `user = null`. We should check for null user as well in the condition.

@robinv85 I recall you referencing we should log errors in these kind of scenarios. Should that be

[2020-05-28 23:04] omarzoghayyer commented on #507
@ppagarawal the issue doesn't seem to be there anymore. Take a look at my screenshot below.

<img width="829" alt="Screen Shot 2020-05-28 at 4 03 58 PM" src="https://user-images.githubusercontent.com/49251966/83202634-d8ef8500-a0fc-11ea-9205-938cd70a7796.png">

[2020-05-29 06:29] ppagarawal commented on #507
Apparently, I still find it. Please find the screenshot below. Let me know if you need any system information to resolve this.

![image](https://user-images.githubusercontent.com/6276256/83228356-d1cf8200-a1a3-11ea-9ca6-9938b94acaa0.png)

[2020-05-29 06:52] ppagarawal opened #519 "[WEB] Text colour in a Post"
The text colour in an input text needs to be in sync with the design.
![image](https://user-images.githubusercontent.com/6276256/83230109-d2b5e300-a1a6-11ea-9afc-ea8f796275a0.png)

However, the current implementation uses some other colour. Please see the screenshot below
Sample text: Lorem Ipsum.
![image](https://user-images.githubusercontent.com/6276256/83229993-9d10fa00-a1a6-11ea-91c5-5663fd7a3

[2020-05-29 07:00] ppagarawal opened #520 "[WEB] Scroll bar in a post"
While creating a new post, a new dialog box appears to input the data from the users. This dialog box has a scroll bar as well. The scroll bar is not required and must not be on the screen.

![image](https://user-images.githubusercontent.com/6276256/83230599-a6e72d00-a1a7-11ea-9d8c-d949b32e9c8d.png)

![image](https://user-images.githubusercontent.com/6276256/83230758-f9c0e480-a1a7-11ea-803b-115e1b

[2020-05-29 07:37] omarzoghayyer commented on #507
@ppagarawal  What browser do you use?

[2020-05-29 07:45] ppagarawal commented on #507
@omarzoghayyer I am using Google Chrome Version 83.0.4103.61 (Official Build) (64-bit)

[2020-05-29 07:52] tiagocostasilva opened #521 "Cookies-policy url points to spanish page instead of english"
Hi Team,

On the page "cookies policy", the "Chrome" url on topic 3 is pointing to a Spanish page instead of English page like the others, Can you please correct?

https://staging.fightpandemics.work/cookies-policy

Thanks,
Tiago

[2020-05-29 07:59] tiagocostasilva commented on #428
@stavares843  it seems for me that this ok now, do you confirm?

[2020-05-29 08:02] tiagocostasilva commented on #288
Hello Team,
this issue is still not complete. Please check the below image. The text is still missing:

![image](https://user-images.githubusercontent.com/45389561/83236233-16025880-a18b-11ea-9b9d-69c85f1a2482.png)

Thanks,
Tiago

[2020-05-29 08:03] tiagocostasilva commented on #288
Hello Team,
this issue is still not complete. Please check the below image. The text is still missing:

![image](https://user-images.githubusercontent.com/45389561/83236233-16025880-a18b-11ea-9b9d-69c85f1a2482.png)

Thanks,
Tiago

[2020-05-29 08:09] tiagocostasilva commented on #427
Hi guys,
so whats the verdict ? :) @robinv85 , @snowiesuet

[2020-05-29 08:23] tiagocostasilva commented on #431
Hello Team,
the grey are is completely de-aligned, can you please check?

I am testing this in Mozzilla.
![image](https://user-images.githubusercontent.com/45389561/83238115-df7a0d00-a18d-11ea-96be-6bd40861c006.png)

Also on the right side of the screen (not showing here) is not showing:
![image](https://user-images.githubusercontent.com/45389561/83238240-0c2e2480-a18e-11ea-9d99-54064108d68f.png)

[2020-05-29 12:29] galeza opened #523 "[Desktop][Mobile] Feed | Post Creation | Visibility section"
env: https://staging.fightpandemics.work/feed
Steps:
1. Open app and go to the Feed screen
2. Create a post as an individual
3. Screen opens and visibility is **City**.
According to Figma design it should be Anyone:
"The post will be visible to" Anyone | Forever
https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed034d492a787b8225c0b08
@TiagoaTavares are we going to change dropdown men

[2020-05-29 17:05] nadinejuraschek commented on #519
@snowiesuet @anniegiang I think the design we have here is outdated right? If it is, there would be no point in me changing the text color for an old design, we should just fix that when we redesign it
Just want to make sure, I'm not certain I found the right design for this

<img width="223" alt="Screen Shot 2020-05-29 at 10 05 22 AM" src="https://user-images.githubusercontent.com/53962732/832858

[2020-05-29 17:07] nadinejuraschek commented on #507
@omarzoghayyer and @ppagarawal I'm using Google Chrome too but I don't see a shadow... There is also no box-shadow in the code for the buttons

[2020-05-29 17:11] snowiesuet commented on #427
I think this would be good for future release but for now I don't think it's a priority, because this doesn't just affect homepage, it'll affect all pages.

[2020-05-29 17:13] #440 closed

[2020-05-29 17:39] nadinejuraschek commented on #471
I think some of these issues have been fixed already due to #473 being merged.

[2020-05-29 17:51] #521 closed

[2020-05-29 17:53] snowiesuet commented on #519
@Yu-Alexa-Zhao can you confirm this please?

[2020-05-29 17:57] Yu-Alexa-Zhao commented on #519
I just corrected the design bugs in the above mobile design. The text color for input text should be #282828, when there's no input text, the color is #939393.

![image](https://user-images.githubusercontent.com/44085699/83290177-3e527d00-a1b4-11ea-84e8-742223b583a3.png)

[2020-05-29 18:15] omarzoghayyer commented on #507
@ppagarawal perhaps you can use a different browser and see if the issue is still there?

[2020-05-29 18:24] ppagarawal commented on #507
@omarzoghayyer I tried with internet explorer, however, the page did not load on it (may be due to outdated version). However, I found the same piece of shadow on the mobile web. Please see below

![image](https://user-images.githubusercontent.com/6276256/83292415-ac745f80-a207-11ea-8535-7cb4f0a35d1d.png)

Is that relatable?

[2020-05-29 18:25] omarzoghayyer commented on #507
@ppagarawal thats odd. Thank you for trying.

[2020-05-29 18:31] galeza commented on #495
@gullwings13
I confirm it was solved:
![Screenshot_2020-05-29-20-28-45-488_com android chrome](https://user-images.githubusercontent.com/21987083/83293002-5e516300-a1eb-11ea-88ee-e3350ee31577.jpg)
I'm closing this issue.

[2020-05-29 18:31] #495 closed

[2020-05-29 18:38] omarzoghayyer commented on #507
@nadinejuraschek Any idea why this might happen?

[2020-05-29 19:16] anniegiang commented on #288
Ok good to know. We actually discussed about this in the previous PR because there were conflicting designs showing different things. If I remember correctly some of the things you point out this time did not exist the last time we worked on this. I think engineers need to be better updated on design changes such as this to prevent possible regression.

[2020-05-29 19:27] #127 closed

[2020-05-29 19:34] anniegiang commented on #519
Yea I actually noticed the text color differences from the PR related this but it was taking a while fix revisions so I decided to merge it anyways to speed up progress

[2020-05-29 21:48] #423 closed

[2020-05-29 21:52] robinv85 commented on #513
Yeah I'm not completely sure what the Mongoose API can return here, for example `User.findById()` and similar calls... but I suppose that `userErr` here can be different things, not just "not found"
So in that case I think we shouldn't even return `404` since it can rather be a  `500`
And still if `user === null` then definitely a `404`.
And in the case of `userErr` indeed it seems best that it's

[2020-05-29 21:56] robinv85 commented on #427
Yeah this is definitely not a priority right now... we use rems in lots of places so I think that would probably already be a pretty good part of making everything zoomable? But plenty of other things that are more high priority

[2020-05-29 22:34] TiagoaTavares commented on #523
- Change to Figma Design !

- Regarding to: "Anyone" | "Forever",
we should change to: "Worldwide" | "Forever"

@galeza , one note:  follow figma instead zeplin for MVP launch ...  :)

[2020-05-30 01:29] #126 closed

[2020-05-30 07:56] ppagarawal opened #529 "[WEB][MOBILE] Selecting the checkboxes"
Scenario:
Selecting the checkboxes leads to checking/unchecking of the option in Question 1/3 of "Give Help" page. However, selecting the button does not lead to checking/unchecking of the option.
It is required that the checks toggle when the user clicks on the buttons.

![image](https://user-images.githubusercontent.com/6276256/83322829-61defb80-a278-11ea-9ed7-361863570160.png)

![image](https:/

[2020-05-30 08:10] ppagarawal opened #530 "[WEB][MOBILE] Changing the text on post for submission"
The "post" button in the post dialog box is currently named as "Share". This is required to be changed to "Post" as "share" gives a different meaning to the user. It is required to change the text to "Post".

Steps to replicate:
1. Go to feed
2. Create a post
3. On the dialog box that appears, you will find the "Share" button. See below
4. The text "Share" needs to change to "Post"

![image](https

[2020-05-30 12:06] galeza commented on #523
Hi @TiagoaTavares ,

Ok. We will change to: "Worldwide" | "Forever" by default
+ drop down menu like in figma.

Thank you!

[2020-05-30 14:39] #510 closed

[2020-05-30 14:41] tiagocostasilva commented on #428
Issue is resolved.

[2020-05-30 14:45] snowiesuet commented on #428
Updating the logo, it's not fixed yet

[2020-05-30 14:49] tiagocostasilva commented on #288
Hello @anniegiang. My user would be @tiagocostasilva instead of @TiagoaTavares (this is the other Tiago :D ) but not worries
From what i see when @stavares843 oppened this issue, the things i mention here were already identified, so i think this details were missed. This should not be skipped from the MVP.

[2020-05-30 14:55] tiagocostasilva commented on #427
Perfectly agree with you @robinv85 and @snowiesuet on this that at this moment we want to launch this can be taken care in the future release. For sure we can just double check with other PMs, but i think there will be a common agreement on this. Thanks for your feedback ;)

[2020-05-30 16:14] tiagocostasilva commented on #456
Just a doubt/correction, according to Figma the back button will stay down not on top left corner right?
![image](https://user-images.githubusercontent.com/45389561/83333552-fce7cd80-a298-11ea-96cd-7ecd5b04feec.png)

[2020-05-30 16:22] tiagocostasilva commented on #471
Scenario 1 is **OK** and corrected in https://github.com/FightPandemics/FightPandemics/issues/456

Scenario 2 is still **NOK**
The buttons size/design in question 1 and 2 are not according to figma.
The location screen seems the right one for giving help, but it is not the same menu here yet.

Scenario 3
Same as scenario 2

I would keep this open since i still see different scenarios on give and n

[2020-05-30 16:49] tiagocostasilva commented on #442
@stavares843 any update on this? :)

[2020-05-30 17:23] #530 closed

[2020-05-30 18:22] snowiesuet commented on #288
@tiagocostasilva this page is updated, its in staging now

[2020-05-30 18:44] nadinejuraschek commented on #507
@omarzoghayyer No, I tried it on multiple devices and in various browsers and never had the issue... I also don't see a box-shadow anywhere

[2020-05-30 20:02] #519 closed

[2020-05-30 20:11] #470 closed

[2020-05-30 20:41] mannykary commented on #470
Completed setting up Auth0 tenants for review, staging, and production.

[2020-05-30 22:09] robinv85 opened #534 "Update syncIndexes to fix bug with updated mongoose schema's"
Got this error when running locally or within docker without rebuilding the mongo container
[code]
Seems like the `syncIndexes` function wasn't updated to reflect the updated schema's (might have been merge error as well)

[2020-05-31 11:49] #461 closed

[2020-05-31 15:48] snowiesuet commented on #506
I think @Yu-Alexa-Zhao mentioned that these are not mandatory fields. Please confirm, thanks!

[2020-05-31 16:57] galeza opened #537 "[Desktop][Mobile] SignUp | email validation"
env: https://staging.fightpandemics.work/

Steps:
1. Open Sign Up screen
2. In the email input: xyz@gmail.commmmmmmm(X number of letters)
3. Enter correct password and repeat password.
4. Press Sign Up button

No validation for incorrect email

[2020-05-31 17:17] galeza opened #538 "[Desktop][Mobile] Sign In | password empty | internal server error"
env: https://staging.fightpandemics.work/auth/login

Steps:
1. Open Login screen,
2. I choose email from a dropdown menu (chrome auto complete)
3. Password is empty
4. Button Sign In is enabled
5. Click Sign In button

Error: Internal server error: xhr.js: POST https://staging.fightpandemics.work/api/auth/login 500

{statusCode: 500, error: "Internal Server Error", message: "Internal Server Error"

[2020-05-31 17:40] galeza opened #539 "[Desktop][Mobile] Create Profile screen | refresh button email is empty"
env: https://staging.fightpandemics.work/create-profile

Steps:
1. Open login screen
2. Enter your email and password. Press Sign In button
3. Create profile screen is open with login
4. Press refresh button
Email is empty:
![Screen Shot 2020-05-31 at 19 40 13](https://user-images.githubusercontent.com/21987083/83358844-9802a500-a376-11ea-9a97-454d2bb015e7.png)

![Screen Shot 2020-05-31 at 19 44 4

[2020-05-31 18:01] tiagocostasilva opened #540 "Envelope Icon not sending to Feeback Page"
Hi Team,
on the Home Page the envelope icon when clicked is sending to FEED instead of Feedback page, can you check it ?

![image](https://user-images.githubusercontent.com/45389561/83359146-3d664a80-a370-11ea-8d4a-98ae40dcce61.png)

Thanks,
Tiago

[2020-05-31 18:46] tiagocostasilva opened #541 "Add FAQ to the footer"
Hi Team,
FAQ section will be needed on the footer for MVP and then later the design will be updated.

Already aligned with Yu, please insert FAQ on the footer at the left side separated by a "|" .

![image](https://user-images.githubusercontent.com/45389561/83569221-0d5baa80-a51c-11ea-89f0-8f1f323d8cf0.png)

**Important note:** Please validate it also on mobile to see how it fits the screen

Thank

[2020-05-31 19:07] mannykary opened #542 "Filter out 400 errors sent to Sentry"
We should probably not send 400 errors to Sentry as it would become very noisy when we go live. Filter these out.

[2020-05-31 19:43] ppagarawal opened #543 "Changes to the default values of a post"
The default values of a post needs to be 'Month'. Currently, this is set to 'Forever'.
These changes need to be made for both offering help and receiving help for both individual and organization.

Existing state:
![image](https://user-images.githubusercontent.com/6276256/83361208-a8ca0f80-a3a4-11ea-9309-b03f06a71c1e.png)

Let me know in case of questions.

[2020-05-31 21:14] joshmorel opened #545 "Improve verify-email page content/layout"
I don't see any design for this but we need to improve both the layout and content

Currently it is:

![image](https://user-images.githubusercontent.com/10546720/83362728-84007880-a361-11ea-9b0f-27ba1a01f43a.png)

**Content:** Change `<h1>Please verify your email</h1>` to:

[code]

**Layout:** Center the content horizontally and move the content down on the page so it starts ~25-30% from the top o

[2020-05-31 22:35] omarzoghayyer commented on #540
@TiagoaTavares I think the feedpages aren't ready yet. It should eventually go to the pages below. Ill change it once they are done.
<img width="755" alt="Screen Shot 2020-05-31 at 3 34 49 PM" src="https://user-images.githubusercontent.com/49251966/83364185-4517f600-a354-11ea-8301-c8d81b818d5a.png">

[2020-06-01 02:06] mannykary opened #547 "Set up production environment"
- [x]  Set up MongoDB cluster (after finalizing with contact at Mongo Atlas)
- [x] Run Terraform to set up infrastructure in AWS

[2020-06-01 05:42] BMariscal commented on #529
hello @ppagarawal. I'm working on this ticket and this gif shows my fix. I'd like to verify if this is the expected behavior:

![gif](https://i.imgur.com/dAFdJVe.gif)

Thanks!

[2020-06-01 11:55] ppagarawal commented on #529
@BMariscal The ticket was to fix the area of the button that would 'check' the box. Instead of clicking on the tick box making a check on the option, if we can use the whole button to check the box, that'll be great. Please refer to the diagram to understand this
Current screen that enables a 'check; mark:
![image](https://user-images.githubusercontent.com/6276256/83406622-ae6b3800-a42c-11ea-9a7c-

[2020-06-01 14:00] #542 closed

[2020-06-01 14:03] robinv85 commented on #540
this is WIP on another branch

[2020-06-01 14:03] #540 closed

[2020-06-01 14:09] robinv85 commented on #539
Hey @galeza thanks for reporting, this was actually intentional as the requirements weren't clear and I wanted to focus on MVP functionality

The reason this happens is because if you refresh, the token and the email is in the application state (currently redux) but this is not persisted in local storage or something similar.

We don't went to store this just in local storage because it has securi

[2020-06-01 14:15] robinv85 commented on #538
Hey @galeza thanks for reporting, but the client-side validation hasn't been implemented for that page so maybe this is some premature testing.

I will close this for now since I'm working on that and I want to prevent too many confusing tickets
there is an open PR #409
and there is a ticket #369

So i'm going to re-implement that with the use of the react form library that we are now using

[2020-06-01 14:15] #538 closed

[2020-06-01 14:40] BMariscal commented on #529
Thanks @ppagarawal

[2020-06-01 15:58] snowiesuet commented on #507
I'll look into this. I can see this on Windows Chrome.

[2020-06-01 17:07] Yu-Alexa-Zhao commented on #545
Designer here! Few questions: (1) Is this issue for both mobile and desktop? , (2) we have a pop-up design for the mobile version but the content is different, should we change the content to what you have rn?
![Sign up-modal](https://user-images.githubusercontent.com/44085699/83434617-d0eb5a00-a408-11ea-9ecf-36ebb1e9c511.png)

[2020-06-01 17:23] Yu-Alexa-Zhao commented on #545
This is a design for email-sign-up design (if it works I can export this to Zeplin). Do you have the "resend email" feature? If we do, I can add a button below and main paragraph
![sign-up-email-verify](https://user-images.githubusercontent.com/44085699/83435917-fc6f4400-a40a-11ea-84e8-49e42528f78e.png)

[2020-06-01 18:26] ppagarawal commented on #506
@snowiesuet I understand that these are not mandatory at the moment however, I think that the input needs to be valid. By valid, I mean that the data needs to make sense and cannot be non-realworld data.

[2020-06-01 18:56] robinv85 commented on #369
Checking design inconsistencies, possibly mobile / desktop web variations are different, this design seems wrong with a red "placeholder text" or "input value" instead of a validation error under the input.

[2020-06-01 19:10] joshmorel commented on #493
@pthoma14 @indirabhowmick  This seems to be working in staging so you can test there. There's no code change in our app just a template that we'll be storing in a different repo. https://github.com/FightPandemics/FightPandemics/Auth0

The "please verify your email" page is being improved currently.

[2020-06-01 20:03] Yu-Alexa-Zhao commented on #506
Yes, this is not a mandatory field but still needs validation I think

[2020-06-01 22:09] BMariscal commented on #529
PR here: https://github.com/FightPandemics/FightPandemics/pull/549

[2020-06-02 00:00] silenceway opened #550 "Load Comments."
The idea is that after the user clicks in the comment button, it loads 5 comments and shows a load more button if there are more than 5. This "load more" button will retrieve the next comments from the backend.

`skip` and `limit` properties should be added to the current endpoint.

The new endpoint should be `posts/:postId/comments` and this will be merged in https://github.com/FightPandemics/Fig

[2020-06-02 00:10] silenceway opened #551 "Update comments API to allow replies."
It depends on https://github.com/FightPandemics/FightPandemics/pull/378

[2020-06-02 04:09] ppagarawal commented on #506
@snowiesuet I think that you need to validate the email address in the third step only and then display "Invalid email address" if the email is invalid. Ignore step 1 and step 2 for validation since the data will be populated from the dropdown or given list.

[2020-06-02 12:23] robinv85 commented on #496
issue seems not fixed, SVG icons have been replaced but the small icon is still showing

[2020-06-02 15:23] nadinejuraschek opened #553 "Edit Privacy Policy following changes in the legal document"
Edwin Mata sent me some new content - I will update our current page.

[2020-06-02 16:09] #181 closed

[2020-06-02 18:17] TiagoaTavares commented on #523
@galeza what's your forecast date to close this issue? :)

[2020-06-02 18:57] robinv85 commented on #369
Updated the issue description, removed the screenshot to avoid confusion, talked to designers and the conclusion is to stick to one consistent appraoch from the designs (red error text under the input and red underline)

[2020-06-02 19:02] stavares843 commented on #442
still missing the logo

[2020-06-02 19:04] snowiesuet commented on #506
Got it! Thanks!

[2020-06-02 19:11] #553 closed

[2020-06-02 19:19] BMariscal commented on #486
depends on https://github.com/FightPandemics/FightPandemics/pull/378

[2020-06-02 19:42] BMariscal commented on #488
depends on #378

[2020-06-02 20:07] ppagarawal opened #557 "Page transition scroll issue in onboarding"
When the user clicks on the next button on onboarding pages, he must be able to transition to the next page seamlessly. However, on clicking the next button, the user sees a scroll bar during transitioning.

![scrollissue](https://user-images.githubusercontent.com/6276256/83564653-ac8f9a80-a53a-11ea-86d1-20bdee1b59f7.gif)

For a better experience, the scroll bar should not appear and the screen sh

[2020-06-02 20:12] tiagocostasilva commented on #540
Hello guys, just to follow-up on this. Which ID it is ?

[2020-06-02 20:34] #483 closed

[2020-06-02 20:38] #543 closed

[2020-06-02 20:43] tiagocostasilva commented on #428
@snowiesuet  is there something missing for the logo?

[2020-06-02 21:05] tiagocostasilva commented on #442
You need the design of the logo?

[2020-06-02 21:07] stavares843 commented on #442
i mean, is still missing updating the logo but thats for someone to do, i don't have the ticket assigned

[2020-06-02 21:20] tiagocostasilva commented on #431
@snowiesuet whats the status of the issue?
Now the design is different but not the correct one :S
![image](https://user-images.githubusercontent.com/45389561/83571199-43e6f480-a51f-11ea-9a16-46db71a65a28.png)

[2020-06-03 00:40] #529 closed

[2020-06-03 00:44] CeesWang commented on #557
https://github.com/FightPandemics/FightPandemics/pull/558

[2020-06-03 00:47] CeesWang commented on #520
add overflow-y to the container to hide the scrollbar

[2020-06-03 01:05] CeesWang commented on #496
![facebook-icon-bug](https://user-images.githubusercontent.com/33577774/83584273-9e2e8800-a514-11ea-9e10-2b8c3ef1f648.gif)

The facebook icon does not show up correctly on initial view but it shows up correctly after going to signup and back. This is the same with the desktop version

[2020-06-03 12:29] joshmorel opened #561 "Fix home navbar signed in view"
@robinv85 mentioned this was working awhile ago but not anymore. Can someone get this fixed for both mobile and desktop?

**Mobile**
https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed56445c6ac97228f5752dd
![image](https://user-images.githubusercontent.com/10546720/83635882-f98f6300-a572-11ea-81c4-1c3c9e7778e3.png)

**Important:** Exclude "Health Facilities" and "Symptom Check" links

[2020-06-03 13:48] ppagarawal opened #562 "Fixing the position on buttons on landing pages"
The position of the "Next" and "Back" buttons on onboarding pages seem to change with the change when transitioning from step to another. This position needs to be the same throughout. Please refer to the GIF below.

![nextandbackbutton](https://user-images.githubusercontent.com/6276256/83643796-1ad16d00-a5ce-11ea-838b-7bcb63a18390.gif)

Let me know of questions.

[2020-06-03 15:32] ppagarawal opened #563 "Onboarding flow small UI bugs, and Submit button size issue"
Please help fix the "Submit" button size to equalize to the email address field

![image](https://user-images.githubusercontent.com/6276256/83656487-3bed8a00-a5dd-11ea-878e-e74313a97ed3.png)

Comment/ping me for questions.

[2020-06-03 16:50] galeza commented on #523
Hi @TiagoaTavares
I don't know if we have resources to fix that. This issue is tagged: MVP - Release 1 so I think it should have priority.

[2020-06-03 16:56] galeza commented on #557
Hi @CeesWang
If this issue was fixed in this PR: fixed bug by adding overflow-x and y to hidden #558, could we close this issue?

[2020-06-03 17:06] galeza opened #564 "[Mobile] Home Page | incorrect Need Help, Give Help | no corners"
env: staging

Steps:
1. Open app on mobile phone
2. There are no corners for Need Help, Give Help - please see screenshot

![Screenshot_2020-06-03-19-00-31-592_com android chrome](https://user-images.githubusercontent.com/21987083/83666466-4738b980-a5cd-11ea-84f8-33fc22e9c6b0.jpg)

[2020-06-03 17:23] galeza opened #565 "[Desktop][Mobile] Create Post | no validation when tag is missing"
env: staging

1. Go to the Feed screen
2. Add new post
3. Add title and text
4. Do not add tags
5. Post can be added without tags

@TiagoaTavares is this behaviour correct? Should we add validation: add a tag?
yes -> required

![Screen Shot 2020-06-03 at 19 18 00](https://user-images.githubusercontent.com/21987083/83668042-a7305f80-a5cf-11ea-8808-1a41794c623f.jpg)

[2020-06-03 17:30] joshmorel opened #566 "Fix feed header for user model v2"
Header avatar & author name don't work:

![image](https://user-images.githubusercontent.com/10546720/83668694-5f451480-a59e-11ea-9a22-22c03d528c2a.png)

[code]
These are now in `post.author` object

[2020-06-03 17:35] galeza commented on #565
@manualzuru confirmed that this validation is required

[2020-06-03 17:48] #557 closed

[2020-06-03 19:31] robinv85 opened #571 "Make log level configurable/Set up Papertrail"
The backend uses the built-in logger from Fastify which is Pino and by default uses "info" level.
It should be possible to change this configuration, so you can change, for example for debugging the application locally.
It could also be nice to use a logfile locally for better debugging, both are configurable in fastify which is documented [here](https://github.com/fastify/fastify/blob/master/docs

[2020-06-03 19:34] robinv85 opened #572 "Throw error when Auth0 integration with user mongo_id isn't working"
If a user signs up and there is no mongo_id set in the JWT access token coming from Auth0, currently it falls back to the default and generates a unique _id in mongo, but this way the integration with Auth0 isn't working so the backend should return a 500 error instead of creating the user.

[2020-06-03 19:46] robinv85 commented on #371
Closing it and handling it together with #369

[2020-06-03 19:46] #371 closed

[2020-06-03 20:25] #566 closed

[2020-06-03 21:26] PriyalPatney commented on #541
I'm working on this.

[2020-06-03 21:27] joshmorel opened #574 "Address sync author element issues"
Currently we are syncing author name & type within mongoose SchemaType `set` functions.

After modifying some code so I could post without authentication or location it doesn't seem to be working.  More here: https://github.com/FightPandemics/FightPandemics/pull/526#issuecomment-636324738

I think the reason is the update is async while the setter function is synchronous. If this isn't possible wi

[2020-06-03 21:30] joshmorel opened #575 "Add route to update IndividualUser"
We are missing update on `backend/endpoints/posts.js`.

Once this is implemented we can start troubleshoot this issue #574

[2020-06-03 21:56] #205 closed

[2020-06-03 22:23] tiagocostasilva opened #576 "Hide "Covid-info for MVP"
Hello Team,
"Covid-info" must be hidded since it wont be used for MVP. Can you do it please ?

![image](https://user-images.githubusercontent.com/45389561/83694934-05216f00-a5f1-11ea-955f-b412ea059cc1.png)

Thanks,
Tiago

[2020-06-03 22:27] tiagocostasilva opened #577 "Remove "Data Privacy" from mobile"
Hello Team,
can you remove "Data Privacy" from mobile because we already have it on the footer?

![image](https://user-images.githubusercontent.com/45389561/83695321-b6c0a000-a5f1-11ea-844b-e1beed2990a0.png)

Thanks,
Tiago

[2020-06-03 22:33] stavares843 commented on #541
seems this is already done, going to https://staging.fightpandemics.work/ already has the footer

[2020-06-03 22:36] tiagocostasilva commented on #541
Not yet corrected @stavares843 , the FAQ is missing:
![image](https://user-images.githubusercontent.com/45389561/83695905-ffc52400-a5f2-11ea-8e5d-a876b76715c3.png)

[2020-06-03 22:38] stavares843 commented on #541
ohh k

thanks

[2020-06-03 22:44] stavares843 commented on #520
whats the browser? IE?

[2020-06-03 22:44] stavares843 commented on #520
https://github.com/FightPandemics/FightPandemics/pull/580/

[2020-06-03 22:47] stavares843 opened #581 "fix border on create a post flow"
flow
- go to https://staging.fightpandemics.work/
- do all the flow on need help section
- create a post
- appears like that

<img width="673" alt="Screenshot 2020-06-03 at 23 48 07" src="https://user-images.githubusercontent.com/29093946/83696532-980fd880-a5f4-11ea-946e-ec5878eae575.png">

Chrome

[2020-06-03 23:48] stavares843 opened #583 "close icon not vertically aligned with text on cookie banner"
flow
- open https://staging.fightpandemics.work/ on a anonymous browser
- close icon not vertically aligned with text on cookie banner

<img width="1740" alt="Screenshot 2020-06-04 at 00 38 22" src="https://user-images.githubusercontent.com/29093946/83699824-fe005e00-a5fc-11ea-88a0-a954de777604.png">

Chrome

[2020-06-04 01:06] #537 closed

[2020-06-04 03:12] BMariscal opened #585 "Create a CODEOWNERS file to require a review from the "code owner" before merging changes"
@robinv85 brought up this issue earlier.

To prevent contributors from making changes to code that was architected a certain way for a particular reason, and to allow the contributors and the person who implemented the feature (the "code owner") to have a discussion before merging the changes, a CODEOWNERS file can be created to notify the "code owner" that a change is being made to their implemen

[2020-06-04 04:34] mannykary commented on #571
@robinv85 I'm working on adding Papertrail, so I can take care of this.

[2020-06-04 06:08] PriyalPatney commented on #541
what should go inside the link?

[2020-06-04 09:51] ppagarawal opened #589 "About us page in the header"
As a User, I should be able to learn more about what FightPandemics is so that I can engage.

The About us page will redirect to https://fightpandemics.com/about-us/

Content:
https://www.notion.so/fightpandemics/Create-an-ABOUT-US-page-1b76cb120fe14227b601d3af6fd437df

Note: The header will continue to remain a part on the mobile version. The below image does not cover this.

Design: (reach out i

[2020-06-04 11:44] galeza commented on #577
Hi @stavares843 need one more review to merge PR #579

[2020-06-04 11:44] galeza commented on #576
Hi @stavares843 Need one more review to merge PR #578

[2020-06-04 11:47] #534 closed

[2020-06-04 12:14] robinv85 commented on #585
@BMariscal interesting suggestion, thanks for bringing this up! I'm not really familiar with this, I wonder what @manualzuru thinks about it?

To me it seems we don't really have much guarantees about which volunteers can spend time to really take ownership of specific parts of the codebase, I do know that some people have more knowledge about some specific parts that they worked on... but I would

[2020-06-04 12:16] #576 closed

[2020-06-04 12:17] #577 closed

[2020-06-04 13:16] joshmorel opened #590 "Make Users.email unique"
Email would need to be unique across IndividualUsers & OrganizationalUsers.

We need to decide if we let Mongo handle the error OR use this library to handle with a library: https://www.npmjs.com/package/mongoose-unique-validator

[2020-06-04 13:24] robinv85 commented on #182
@joshmorel @anniegiang any idea about progress, anyone working on this?

[2020-06-04 13:30] joshmorel commented on #513
I think any errors sent back by Mongo should be considered 500 errors then?

So it should be:

[code]

But the do something w 500 error does this change since were using sentry?

[2020-06-04 13:48] #163 closed

[2020-06-04 15:53] joshmorel opened #591 "Add backend AIRTABLE keys to backend example .env files"
Add:
[code]

To both `backend/.env.example_docker` & `backend/.env.example_local` .

`AIRTABLE_API_KEY` is a secret and should not be stored publicly in repo nor shared with anyone who is not trusted.

[2020-06-04 17:01] anniegiang commented on #182
@robinv85  @joshmorel I think this issue is related to PR #402 by @silenceway  ?

@limaneto was working on the frontend too

[2020-06-04 17:49] stavares843 commented on #585
we added a codeowners file on iOS, it automatically adds all the codeowners as reviewers everytime someone added a PR

the persons added on the codeowners file are the most active members on the team

[2020-06-04 18:18] ppagarawal opened #594 "Relink a dead link"
As a user when I click on "Show me postings" on the onboarding page, I should be redirected to the feed page.

![showmelink](https://user-images.githubusercontent.com/6276256/83795640-5f880180-a6bd-11ea-956a-a8d1cdedd75f.gif)

Feed page link: https://staging.fightpandemics.work/feed

Please reach out in case of questions.

[2020-06-04 19:42] ppagarawal opened #599 "Back button flow from feed to onboarding"
When a user clicks on back button after onboarding and landing on feed, he is redirected to a webpage with nearest hospitals, symptoms checker. need help page.

Expected functionality:
Since, the user flow has to be bidirectional, he must land back on the onboarding pages and not land on the medicals page(nearest hospitals, symptoms checker. need help tabs) when the user clicks on back button of t

[2020-06-04 20:46] idjevm commented on #583
Hey @stavares843, I could take on this bug. However, I am wondering if we are taking into consideration lower resolution screens, as I noticed that the close button will stay sort of attached on the top rather than being always centered.
This is what I did for now.
![image](https://user-images.githubusercontent.com/25408660/83808467-d18f2500-a682-11ea-98fa-7d99ce7867e2.png)

However, if I zoom, th

[2020-06-04 20:51] stavares843 commented on #583
not sure, can you tag product or design team about this?

[2020-06-04 21:08] #591 closed

[2020-06-04 21:20] manualzuru commented on #583
Honestly, I think that what you are proposing is fine @idjevm. Go for it!