[2020-10-09 05:41] rabbi08 commented on #1554
Verified in STG  for 'Create Org" as working fine but it is NOT for EDIT org profile, Refer attached GIF:

![image](https://user-images.githubusercontent.com/67168400/95546937-d1f05180-09cf-11eb-8392-f63a6ab1fd6e.png)

adding new bug to fix this issue for EDIT Org page too #1621

![image](https://user-images.githubusercontent.com/67168400/95547010-fd733c00-09cf-11eb-89e4-a737c86b56be.png)

[2020-10-09 06:03] rabbi08 opened #1622 "'Apply filters' is overlapped by the footer if there is no post to display"
1. Navigate to helpboard and apply filter so that there is no result/post is returned.
Sample test data:
Provider: Startup
Type: Legal
-> apply filter

You will observe that no post exist.
Issue: When user scroll on this 'no post' page, you will observe that 'Apply filters' is overlapped with the footer of the page.

Refer attached GIF
https://share.getcloudapp.com/nOuneepw

Please note this works

[2020-10-09 12:55] galeza opened #1623 "Changes introduced by Lokalise - English language"
env: staging

Tests set language to Eng-US

Some tests fail. @doheekim93 Please decide - should we change tests in the below scenarios or open an issue to correct application?:

1. Feedback modal window:
    a. **expected**: What is your age? - question mark was removed.  **Actual: What is your age**
    b.**expected**: Submit Feedback - button name was changed.  **Actual: Submit**

2. Recover Pas

[2020-10-09 12:56] galeza commented on #1623
@jessica-lau FYI

[2020-10-09 13:28] galeza commented on #1623
@TimeaKovacs86 FYI

[2020-10-09 14:24] tejasm2 opened #1625 "Messaging [Desktop][Mobile]: Create message requests page."
As a user,
When someone messages me for the first time,
Then that message should be stored under "Message Requests" tab

When I click on a particular conversation from the Message Requests,
Then I should be able to see all the messages from that conversation along with 3 buttons: "Accept", "Ignore" and "Block"

NOTE: When we are in the message requests tab, a conversation needs to be clicked befor

[2020-10-09 14:55] jessica-lau commented on #1623
@doheekim93 just a side note - I think it would make sense to have punctuation as we already do in the original tests, especially for questions and sentences so that it maintains consistency and clarity.

[2020-10-09 15:29] joshmorel commented on #1622
![image](https://user-images.githubusercontent.com/10546720/95602094-6d121700-0a22-11eb-85eb-1fac653e3099.png)

~This issue also exists in prod but since I started looking into I'll just include this as well. Should be a quick fix.~

Actually I changed my mind. This is probably a good first issue for a frontend onboarding and not that urgent I don't think... Let's save it for someone else.

[2020-10-09 15:52] #1620 closed, assigned to nobody

[2020-10-09 16:04] rabbi08 commented on #1620
Verified in STG, it is working fine, refer below image

![image](https://user-images.githubusercontent.com/67168400/95605839-836ea180-0a27-11eb-8ce9-3e0829cdbe0d.png)

[2020-10-09 17:07] #1621 closed, assigned to nobody

[2020-10-09 17:12] rabbi08 opened #1628 "Mobile-"Blue line" is displayed under profile if user does not select 'I need/want to help' option"
1. Login using valid email/pwd and navigate to Profile.
2. Edit the profile as user does NOT select any option from "I want to" and "I need" checkboxes.

Issue: You will observe that 'blue line' is displayed under the user profile icon. refer below image.
![Screenshot 2020-10-09 at 12 43 46 PM](https://user-images.githubusercontent.com/67168400/95612196-fcbec200-0a30-11eb-8dcf-a3cfc89fb7f1.png)

P

[2020-10-09 17:29] joshmorel commented on #1623
I think we should change these back cc @jyclam to not break tests. And I agree having punctuation there makes sense.

For this one I think the wording is actual wrong (you aren't recovering a password but setting a new one) but not a big deal and if that is to change it should be another issue/PR.

[2020-10-09 17:36] rabbi08 commented on #1623
Agree with @galeza @jessica-lau we should keep the links and button names same as before else the existing e2e test will fail and needed to be updated. Also having proper punctuation will improve the language on the webpage. Thanks

[2020-10-09 17:45] joshmorel commented on #1623
@doheekim93 @rabbi08 I fixed most but with the `forgotPassword` we were using hte same key for both the link and title:

Before:

[code]

We would need to add a key and therefore translate all the other existing languages. We can't just tack a "?" onto the link as that's not how many languages are written.

I kind of want to change "recover" to "forgot" now because it's semantically incorrect but

[2020-10-09 18:15] joshmorel commented on #1290
This has been resolved maybe with #1378 ?

[2020-10-09 18:15] #1290 closed, assigned to idjevm

[2020-10-09 18:17] mvijays commented on #1614
Needs a specification that is completely developed.

[2020-10-09 18:17] #1614 closed, assigned to nobody

[2020-10-09 18:18] mvijays commented on #1617
Needs complete specification

[2020-10-09 18:18] #1617 closed, assigned to nobody

[2020-10-09 18:18] mvijays commented on #1567
Needs complete specification.

[2020-10-09 18:18] #1567 closed, assigned to nobody

[2020-10-09 18:19] mvijays commented on #1616
Needs complete specification.

[2020-10-09 18:19] #1616 closed, assigned to nobody

[2020-10-09 18:20] mvijays commented on #1615
Needs complete specification

[2020-10-09 18:20] #1615 closed, assigned to nobody

[2020-10-09 18:21] mvijays commented on #1584
Needs complete specification.

[2020-10-09 18:21] #1584 closed, assigned to nobody

[2020-10-09 20:22] nivetheatha opened #1629 "Visiblity of the Post from different account"
Environment-Staging
Device Used-Samsung S8
Browser-Google chrome
Steps to create:
1.Login with valid username and password.
2.Create a post as Individual-Request help (location :Bensaelem,Pa Visiblity:To state)
3.Log out.
4.Login with different account.
5.Choose offer help.
6.Choose "As a volunteer"
7.Provide location as "Bensalem,Pa"
Expected Result:
The post should be seen in the help board.
Act

[2020-10-09 20:23] nivetheatha commented on #1629
If the user is not logged in then we can able to see the post in the help board with the same steps.

[2020-10-09 20:42] nivetheatha commented on #1629
Environment:production
The post is visible when we search through different account.

[2020-10-09 20:46] rabbi08 commented on #1629
@joshmorel
This issue looks like regression issue.

[2020-10-10 02:36] #715 closed

[2020-10-10 02:42] mannykary opened #1630 "[Avatar Upload] Fix weird cropping for Safari on iPhone XS"
See thread here: https://fightpandemics.slack.com/archives/C01A1L2BABA/p1601757576000300

<img src="https://user-images.githubusercontent.com/4285073/95643922-72458500-0a67-11eb-9b36-21e6d012c825.png" width="50%" height="50%">

Happening on Safari for IPhone XS.

[2020-10-10 03:15] mannykary commented on #1239
Resolved in this [PR](https://github.com/FightPandemics/infrastructure/pull/9) in infrastructure repo.

[2020-10-10 03:15] #1239 closed

[2020-10-10 03:16] mannykary commented on #1579
Terraform for setting up ElastiCache cluster is in the infrastructure repo, in this [PR](https://github.com/FightPandemics/infrastructure/pull/10)

[2020-10-10 10:08] ddveloper commented on #781
progress update:
1. able to replicate Auth0's demo of accounts linking locally
2. able to reproduce #1226 phenomenon
3. applied user accounts detection code, got 403 error from Auth0

Todo next:
* need access to Auth0 account, to update API rules

[2020-10-10 10:10] ddveloper commented on #1266
I am working on the backend right now #781 , we can do front-end in parallel if anyone wants to work on the front end at the same time.

[2020-10-10 13:05] nivetheatha commented on #1629
I think the profile address affects the search results in staging. If I have profile address as Bensalem, pa or any city from pa.I can able to see my post.If profile address is different state my post is not popping up.
But in production, irrespective of the profile address based on the search criteria the results are displayed.

[2020-10-10 16:25] nivetheatha opened #1631 "Logged in user and unlogged user gets different posts in the help board."
Environment -Staging
Device used-Samsung s8
Browser-Google chrome

Unlogged user
Offer help-->as a volunteer/as a donor-->only individual posts are shown
Offer help-->as a organization-->only organization posts are shown
Logged in user
Offer help-->as a volunteer/donor-->both individual/organization posts are shown
Offer help-->as a organization--> both individual/organization posts are shown

[2020-10-10 19:02] nivetheatha commented on #1631
Environment production
Both unlogged user/login user got the same results
Offer help-->as a volunteer/donor-->both individual/organization posts are shown
Offer help-->as a organization--> both individual/organization posts are shown

[2020-10-10 20:47] #1619 closed, assigned to leon-i

[2020-10-10 21:14] joshmorel commented on #1629
Thanks @nivetheatha was able to recreate.

It is fetching the twice - once without location filter (thus overridden by logged in user), then again with location.

This likely is a bug related `useEffect` or `useCallback` . @OzkanAbdullahoglu is this something you are able to look into any time soon? Otherwise I will or ask someone else but these can be tricky.

![fetch-twice-from-onboarding](https

[2020-10-10 21:28] joshmorel commented on #1631
Thanks @nivetheatha . This code has been here for 3 months but never was actually running until now (due to changes in `useEffect` I think).

![image](https://user-images.githubusercontent.com/10546720/95665314-4553a980-0b1d-11eb-9acc-c641ac0d0a11.png)
https://github.com/FightPandemics/FightPandemics/blame/staging/client/src/pages/Feed.js

Basically if you selected "Organisation" it was supposed t

[2020-10-10 22:57] joshmorel commented on #1562
I'm pretty this is resolved as part of #1548 PR - now in staging soon in prod. If mistaken please reopen (screenshot & file size would help).

[2020-10-10 22:57] #1562 closed, assigned to nobody

[2020-10-11 00:46] OzkanAbdullahoglu commented on #1629
@joshmorel Tomorrow I will be able to check this out.

[2020-10-11 00:55] mannykary commented on #1426
Based on our meeting today, here is our updated plan for the backend:
* We agreed to not use Mongo Atlas for the MVP as it would add unnecessary overhead for CI/CD, and we already have it set up for AWS/Lambda
* We will add a “trigger” to the existing web backend which will create a notification when a like or comment is created
* Lambda will run on a cron job to query for new notifications, and t

[2020-10-11 02:07] rabbi08 commented on #1539
Verified in STG as working. user is able to upload images file type. also verified below issues when user try to upload invalid files, refer below image for error validation.

![avatar error messages](https://user-images.githubusercontent.com/67168400/95668656-fcafe680-0b44-11eb-8bc9-c169a93ef567.png)

[2020-10-11 06:56] #1561 closed, assigned to leon-i

[2020-10-11 09:08] ddveloper commented on #781
progress update:
1. 403 error was due to using a wrong token
2. Auth0 new function `getUsersWithSameEmail()` is completed and tested

Todo next:
* finish integration of functions `linkAccount()` and `unlinkAccount()` + `mergeMetaData()`

Questions:

Discussion:
* what if the user chooses not to link? how to differentiate those accounts then (email cannot be a single key)

[2020-10-11 13:58] joshmorel commented on #1130
This was resolved w #1269

[2020-10-11 13:58] #1130 closed

[2020-10-11 16:53] joshmorel commented on #1585
This was done with accessibe integration around a month ago - you can see on prod.

![image](https://user-images.githubusercontent.com/10546720/95684578-aa141000-0bc0-11eb-87e4-b251d1ee68ce.png)

If you have questions about it ask @kterry1 in Slack.

[2020-10-11 16:53] #1585 closed, assigned to nobody

[2020-10-11 17:05] joshmorel commented on #1374
We've updated (in Auth0 not code base).

[2020-10-11 17:05] #1374 closed, assigned to nobody

[2020-10-11 17:23] joshmorel commented on #1050
Can you try again @sheeba1 - I wonder if this has been fixed. @Carrany tried (on iPhone 11) and there was no issue.

[2020-10-11 18:15] rabbi08 opened #1636 "Non-logged in user -> like post -> sign In -> lands on FP home page and user lose track of respective post"
1. Open "https://staging.fightpandemics.work/"
2. Navigate to Help Board -> Click on 'Like' button for any Post

You will observe that user is directed to Sign In page as expected : PASS
But, user lost the post/track, for which POST user want to LIKE it.

Please note this issue exist in PROD as well.
Also, if non logged in user attempt to add comment, then user is redirected to sign in and after s

[2020-10-11 19:37] mvijays commented on #1585
Ok thanks !

On Sun, Oct 11, 2020 at 12:53 PM Josh Morel <notifications@github.com>
wrote:

[2020-10-11 20:30] mannykary opened #1637 "Web Notifications Backend"
The scope of this ticket is to integrate socket.io with web notifications. As discussed in the meeting on 10/11, this will involve taking the existing socket.io Fastify plugin that is in the direct messages branch `feature/message-modal/1457` and updating it to support notifications. We also need to create the notifications in the database.

[2020-10-11 20:37] mannykary commented on #1637
@Zaydme I created the branch `feature/1637-notifications-web-backend`. I was about to merge in the notification lambda code into this branch, but realized that web notifications does not depend on any of that code, so right now this is an exact copy of `feature/message-modal/1457`. I think you might need the code that is in the `feature/notification-drop-down/1531`, so you will probably have to me

[2020-10-12 05:23] ddveloper commented on #1266
I am working on p_Notifications and won't touch this issue for a while, unassign myself for now (so others can take)

[2020-10-12 14:28] joshmorel opened #1640 "After onboarding, can't reset filters via refresh"
This is in all environments (prod, staging, etc), for both desktop & mobile (dev tools) views.

We are storing these answers in local storage so when you refresh they are still there. This doesn't make sense at all we should just store in app (in-memory) state redux/context so if you refresh the page they are not retained.

I don't think this is expected behaviour. Thoughts @rabbi08 @nivetheatha ?

[2020-10-12 14:37] joshmorel opened #1641 "Backend for Change Password"
See issue #1339 we need to add:

* route in [backend/lib/endpoints/auth.js](https://github.com/FightPandemics/FightPandemics/blob/staging/backend/lib/endpoints/auth.js)
* function in [backend/lib/components/Auth0.js](https://github.com/FightPandemics/FightPandemics/blob/staging/backend/lib/components/Auth0.js) which calls Auth0 Management API's [update user](https://auth0.com/docs/api/management/v

[2020-10-12 14:37] ppagarawal commented on #1374
Great!

[2020-10-12 15:49] doheekim93 opened #1642 "GTM ID need fixes"
**Please make sure the id attributes are updated for the mobile version as well!!**

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element (including any _clickable_ WHITE SPACE around text).
Example: not just the text "Next", but the entire button (including N

[2020-10-12 18:36] doheekim93 opened #1643 "Localisation: GTM IDs not firing"
Please make sure that the ID include all elements in component!

The following IDs have already been assigned to the correct components. Issue is that GTM does not pick up on these IDs.

| Component on page | JSX 'id' attribute |
| --- | --- |
| Chinese Traditional | NAV_LS_ZH_TW |
| English (US) | NAV_LS_EN_US |
| English (UK) | NAV_LS_EN_UK |
| German | NAV_LS_DE |
| Polish | NAV_LS_PL |
| Spani

[2020-10-12 20:18] rabbi08 commented on #1640
Agree @joshmorel , this does seem an issue in the existing behavior. After Browser refresh onboarding filters does not reset (even if user remove the filters -> Refresh brought them back)

Ideally browser refresh should retain user's last state. Thanks

[2020-10-12 20:46] joshmorel commented on #1640
@rabbi08 . I think we should use query string then to store filters. I will ask in Slack in #f_searchkeyword to see what they were planning for that.

[2020-10-12 22:10] nivetheatha commented on #1640
@joshmorel Good catch. I dont think it's an expected behavior.
Like @rabbi08 said It has to retain the last state of the filter during refresh.

[2020-10-12 22:31] doheekim93 opened #1644 "GTM ID not showing up"
**How to set up GTM debugging on Local: [https://www.notion.so/fightpandemics/GTM-Debugging-on-Local-68eba58926a445cc9e2447843bdef255](https://www.notion.so/fightpandemics/GTM-Debugging-on-Local-68eba58926a445cc9e2447843bdef255)

The following IDs have already been assigned to the correct components. Issue is that GTM does **not** pick up on these IDs.

### 1. Onboarding Flow

**Issue:** `Enter ad

[2020-10-12 22:53] rabbi08 opened #1645 "Edit comment -> the timestamp is not displayed correctly."
1. Login in FP using valid email/Pwd
2. Navigate to Help Board and add a comment to the Post.
3. Now EDIT the previously added comment.
Issue: You will observe that the timestamp for comment is not displayed in user readable form. Refer attached GIF and screenshot.
![image](https://user-images.githubusercontent.com/67168400/95796894-1162ba80-0cbc-11eb-855c-22d534749bdd.png)

![ezgif com-gif-maker]

[2020-10-13 00:14] Zaydme commented on #1613
Search bar will only appear when you are on the Help Board

[2020-10-13 04:13] ddveloper commented on #1427
* The User model modification is proposed as below, I'm going to move on with this change if we all agree:

[code]

* Questions: above change will be applied to "IndividualUser", how about "OrganizationUser"?

[2020-10-13 04:25] ddveloper commented on #1427
I am targeting a bitMask format (but I don't know if there is another good type than `Number` to represent it).
it will be easy to scale up to support other combinations, the tradeoff is not so readable, a lookup table is required for decoding it

default 0 will be for notification disabled

![image](https://user-images.githubusercontent.com/44758313/95817069-770f7080-0cd5-11eb-809f-c8e5cf4d9505.p

[2020-10-13 05:22] mannykary commented on #1427
I think a bit mask will be hard to work with. We could do something like this instead?
[code]
More verbose but easier to read and work with.

[2020-10-13 12:05] Zaydme commented on #1427
In the user model we can add
[code]

[2020-10-13 13:20] #1645 closed, assigned to Zaydme

[2020-10-13 16:00] mannykary commented on #1427
@Zaydme your model assumes that the options are mutually exclusive  but the user needs to be able select multiple options (i.e. for likes, they might want both instant and daily)

[2020-10-13 16:12] Zaydme commented on #1427
@mannykary
maybe we can have an array of selected frequencies, that would be

[code]

[2020-10-13 16:21] joshmorel opened #1650 "Can't see Feedback & Language Switch on medium screen width"
Particularly with Spanish.

Not sure if we can decrease font size or other spacing? Input from designer would be useful (is there someone you'd suggest @doheekim93).

![image](https://user-images.githubusercontent.com/10546720/95887774-3e5fad80-0d4e-11eb-8d31-d30e8e7fc12b.png)

[2020-10-13 16:34] ddveloper commented on #1427
I like Manny's version : 0  what do you think @joshmorel

[2020-10-13 16:41] joshmorel commented on #1641
We also need to return if user is social login or username/password because FE needs to decide whether to show or hide (only show for username/password).

`user.authId` will start with `auth0` if username/password:

    authId: 'facebook|1015..., -> social
    authId: 'auth0|5f6ba1ea5924f0006f066aae', -> username/password

We can return that or a derived boolean isSocialAuth

[2020-10-13 17:01] mvijays opened #1651 "Search UI designs - IOS and Android"
Updating  SearcH UI designs for IOS and Android

Priority : High

Feature

Designer : UI/UX - Hanshu Zou working on dark mode.
Design lead : Kelly Chang

[2020-10-13 17:11] #1629 closed, assigned to OzkanAbdullahoglu

[2020-10-13 17:11] #1631 closed, assigned to nobody

[2020-10-13 17:44] ddveloper commented on #1427
from UX perspective, I think giving single choices probably will be good enough, while having multiple choices at the backend doesn't hurt

[2020-10-13 18:33] mannykary commented on #1427
That's a little better, but thinking about how the Lambda and the notification preferences API will query for and filter out recipients that are not subscribed, it is a bit harder to work with.

Consider the Notification Preferences frontend and its corresponding API. The frontend would show checkboxes for each option. The checkboxes need to map to the appropriate setting in the model, and it's ha

[2020-10-13 19:38] Zaydme commented on #1427
Yeah that makes sense

[2020-10-13 19:41] Zaydme commented on #1643
@tr1503 this is issue is being worked on, please check PR #1647

[2020-10-13 20:57] idjevm commented on #1644
Closing this manually as I verified them locally. Feel free to reopen them after testing on staging if the problem persist. It works locally.

[2020-10-13 20:57] #1644 closed, assigned to Zaydme

[2020-10-13 20:57] idjevm commented on #1643
Closing this manually as I verified them locally. Feel free to reopen them after testing on staging if the problem persist. It works locally.

[2020-10-13 20:57] #1643 closed, assigned to tr1503, Zaydme

[2020-10-13 20:57] idjevm commented on #1642
Closing this manually as I verified them locally. Feel free to reopen them after testing on staging if the problem persists. It works locally.

[2020-10-13 20:57] #1642 closed, assigned to ashminbhandari, Zaydme

[2020-10-13 23:34] rabbi08 commented on #1644
@idjevm @Zaydme @doheekim93
Verified in STG,   GTM IDs are being fired as expected. refer below screenshot. Thanks
Filter post as per location:
![FilterlocGTM-I](https://user-images.githubusercontent.com/67168400/95926572-a2a06280-0d8a-11eb-97df-e20789a9ccc8.png)

GTM IDs for Request/Offer help:

![location-GTM](https://user-images.githubusercontent.com/67168400/95926574-a2a06280-0d8a-11eb-8a9b-2b

[2020-10-14 00:13] rabbi08 commented on #1642
@idjevm @Zaydme @joshmorel @doheekim93
STG:
I have following observation, please note these might not be an issue but still wanna highlight as a observation. Hence, kindly confirm, if this expected behavior if the GTM tag is not fired on the click, Also please note that for location filter, GTM tags are being fired as being shown in screenshots attached in PR# 1644

1. GTM tag is not FIRED while s

[2020-10-14 00:20] Zaydme commented on #1642
@rabbi08 please note the "Link click" is not the one that usually fires the GTM tag and the click id will be ""
Please check the "Click" that appears just after/before the "Link click".

Also some GTM tags might not show on the "Fired" section because they have not been added yet, to test just make sure you can see the "Click id"

[2020-10-14 00:29] rabbi08 commented on #1642
@Zaydme
Oh, Agree, that was by mistake, I was referring CLICK only. Refer below screenshot
Ok and So as of now only the GTM tags fired are for location and Filter.

![image](https://user-images.githubusercontent.com/67168400/95929685-95877180-0d92-11eb-8799-3adb4ac65244.png)

[2020-10-14 00:32] Zaydme commented on #1642
Yes, but it doesn't mean other tags aren't working, the ID is being detected, they are just not added on google tags manager yet.

[2020-10-14 00:39] rabbi08 commented on #1642
Verified the IDs for Individual & Org profile avatar but please note that the GTM summary resets after user upload an avatar as shown in the GIF as page refresh. Kindly confirm that the behavior is expected.

![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/67168400/95930414-6245e200-0d94-11eb-87a4-b902a9e88efb.gif)

Below are the screenshots of the IDs detected for the avatars

[2020-10-14 00:43] Zaydme commented on #1642
@rabbi08 Yes, that's not a problem, because the event is sent to google once it's fired, and that will happen before the user selects, crops, and submits the avatar, and before the page refreshes.

[2020-10-14 00:56] doheekim93 commented on #1642
Hi @rabbi08, I just wanted to confirm what @Zaydme has said. The actual `tags` haven't been set up yet in GTM, which is why you won't see anything "firing up" in the Tags tab. However, the `Click ID`'s under the Variables tab are displaying the correct IDs, so we should be good. Also as @Zaydme mentioned, the information should be recorded on the button click event, so the page refresh and GTM res

[2020-10-14 00:57] rabbi08 commented on #1643
Verified in STG, Refer the IDs in below screenshot.

![languageIDs](https://user-images.githubusercontent.com/67168400/95931270-a639e680-0d96-11eb-94b3-62646c9ca896.png)

[2020-10-14 04:24] ddveloper commented on #781
just want to give an update:
slowing down due to another higher priority issue, and I am still working on this : )

[2020-10-14 12:22] #1623 closed, assigned to jyclam, doheekim93

[2020-10-14 12:53] Monica0843 opened #1655 ""Comments"

[2020-10-14 12:56] Monica0843 opened #1656 ""Comments" when hovered over the mouse cursor changes to hand but not clickable"
on any post, hover over the "0 Comments"/"1 Comment" /"n Comments" before opening the post, the cursor becomes a hand, however the "Comments" is not clickable.

[2020-10-14 13:06] #1655 closed, assigned to nobody

[2020-10-14 16:22] mvijays commented on #1651
This is a design task for Android or iOS and ticket will be created in a Design task.

[2020-10-14 16:22] #1651 closed, assigned to nobody

[2020-10-14 17:14] sujatha-m commented on #1656
Need to provide more details, like screen recording to work on this issue.

[2020-10-14 17:19] rabbi08 commented on #1599
@emtay @Zaydme
While testing the feature, I have following observation:
1. If user does not Click on 'View message' after sending the message, below 2 issues have been observed:
    a. the user is not displayed in message section. Refer below GIF, that inbox does not display correct messages/post and other issues occurred due to that (b & c)
![ezgif com-gif-maker (4)](https://user-images.githubuse

[2020-10-14 17:28] rabbi08 commented on #1599
@Zaydme
It looks the online user is having issue, if the user is online it is NOT shown in messages even if I click on 'View message' chat is displayed but when I navigate to other user, the active user is lost. Refer below GIF.
![ezgif com-gif-maker (5)](https://user-images.githubusercontent.com/67168400/96023980-30c72800-0e21-11eb-8fdf-0260430f6f2d.gif)

[2020-10-14 23:54] shrutigupta1981 commented on #1599
Testing

[2020-10-15 00:44] ddveloper commented on #1507
I assume the unsubscribe link will be generated by Lambda, right @mannykary , after the user click on the link, will it send a request to the backend directly? what token are we going to use?

[2020-10-15 08:15] ddveloper commented on #1427
update: add new fields in User Schema, tested OK with fake F/E (able to get and set)
[code]

[2020-10-15 16:07] doheekim93 opened #1658 "Localisation: Language dropdown menu needs to be anchored to the language change button"
The dropdown menu for language select in **mobile** needs to be anchored to the language change button (i.e. the globe icon).

Issue:
The dropdown menu moves when user scrolls.
<img width="300" src="https://user-images.githubusercontent.com/66695502/96156118-57936600-0ed6-11eb-87d7-3cecf698ff5b.gif">

[2020-10-15 17:53] Latha-AP commented on #1599
**While the conversation is archived for user1, and if the user2 sends a message to user1 then , that conversation gets removed from the list of archived conversations and is visible to the user1.**
this Scenario is failing through these steps
1.user 1 archived user2
2.user2 messaged
3. user1 Inbox is not showing the wser2's message since it is archived, but notification on top right corner is inc

[2020-10-15 18:14] jessica-lau opened #1660 "Log In Rate Limit on Backend Server"
After running the login backend test continuously 10+ times, the two tests in the screenshot failed because they're expecting a 429 status error (too many requests) instead of a 401 status error (unauthorized). The message we expect the server to return is 401 unauthorized user. Apparently, the 429 error appears due to rate limits being set to protect the server from intentional abuse. X-RateLimit

[2020-10-15 18:16] jessica-lau commented on #1660
@galeza FYI

[2020-10-15 18:36] ddveloper commented on #1660
here is the rate-limit definition on Auth0 page, add @mannykary to double confirm
https://auth0.com/docs/policies/rate-limit-policy/management-api-endpoint-rate-limits

[2020-10-15 20:52] shrutigupta1981 opened #1663 "Desktop/Mobile : Quit filter button Caption to be changed to Clear filters"
Environment: Windows OS 10 with Chrome Browser
URL used: https://featuremessage-modal1457.fightpandemics.xyz/feed

Steps to reproduce (STR),
1. Open the URL
2. Goto Help Board
3. Click on Filters option

Expected results,
**Clear filters**

Actual results
**Quit filters**

[2020-10-15 21:09] claudiang1357 commented on #1599
'error.http.Network' Error is sometimes encountered from Inbox icon in the header (I am in the inbox and then click on Help Board) to Help Board.  This happens on and off.
![Network Error for Inbox icon to Help Board](https://user-images.githubusercontent.com/72559826/96186122-f933ab00-0f08-11eb-9eda-3e1a08df8765.JPG)

[2020-10-15 21:44] Zaydme commented on #1599
Please allow 5 minutes for the review build to be up to date, then

@rabbi08
please confirm that these bugs are fixed:
- all from [here](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-708543469)
- all from [here](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-708549000)

@Latha-FP
please confirm that [this bug](https://github.com/FightPandemics

[2020-10-15 21:52] Latha-AP commented on #1599
**Bug Fixed**

[2020-10-15 22:30] adorapham opened #1664 "some Laptop resolutions make-Home /Help Board Feed pages have issue to display the header menu(unable to see feedback and global languages icons) -English-Spanish"
All for 100% Zoom.  User need to Zoom out to see the unseen links/icons as work-around
Resolution	OS	                                                Browser	                                  Help Board Feed page
1024X768	Winddown 10/Mac 11.0                  Chrome 85/Firefox/Safari 	   Unable to see on see Join now , rating and global icon ..
1280X800	Winddown 10/Mac 11.0                  Chrome

[2020-10-15 23:11] Bhavaninalla commented on #1599
When i am testing messages using this link  https://www.amazon.com is not open and if i give amazon.com it's perfectly working in inbox messages.
<img width="960" alt="Screenshot 2020-10-15 160616" src="https://user-images.githubusercontent.com/72236992/96195153-def5cf00-0f00-11eb-8e8f-3c5b23e03df6.png">
<img width="960" alt="Screenshot 2020-10-15 160642" src="https://user-images.githubusercontent

[2020-10-15 23:55] Latha-AP commented on #1599
**1.User1 sent this link in messages to user 2.**
https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-708543469
**Now this user1 is blocked/ the site is not opening with this user using this link**
https://featuremessage-modal1457.fightpandemics.xyz/inbox

**2.User2:Receiver couldn't open the link which might be expected
![Github url conversation](https://user-images.githubus

[2020-10-16 00:46] sujatha-m commented on #1656
May i know the Slack Id of the person who created this issue?

[2020-10-16 06:36] Zaydme commented on #1599
@Latha-FP was this the one fixed or another issues?

[2020-10-16 08:00] Latha-AP commented on #1599
fixed

[2020-10-16 10:22] jyothybalusu opened #1665 "Page scrollbar missing on create profile for Organization"
I tried to login to google chrome on android device and navigated to https://staging.fightpandemics.work/.
Logged in using my profile.
I tried to add an organization to my profile.Then is navigated to create organization profile screen.
As part of registering my organization profile I entered the details and then was unable to navigate to the bottom part of the fields as the scroll bar was missing

[2020-10-16 11:58] Monica0843 commented on #1656
@sujatha-m  i'll make a video today if it's reproduced. my slack email - mahaihong85@gmail.com/Haihong Ma

[2020-10-16 13:22] claudiang1357 commented on #1599
Today (10/16), tried again, the same error is still existed

[2020-10-16 15:22] Monica0843 commented on #1656
![comments_notclickable](https://user-images.githubusercontent.com/48136524/96277129-dacdbe00-0fa1-11eb-8cc4-b04c5a7bb9e2.gif)
@sujatha-m

[2020-10-16 15:48] joshmorel commented on #1641
A few details on backend specifications.

First to note we have the two routes which have some relation to this new one:

1. `PATCH /api/users/current` - updates the current user with new properties in PATCH body
2. `POST /api/auth/change-password` - sends an Auth0 change password ticket to reset the password via email when it is forgotten.

For this one let's just use `PUT /api/auth/password`.

T

[2020-10-16 15:52] Bhavaninalla commented on #1599
I swipe down to see the message history again and again in the chat box, at the end it is redirecting to the home page.
Layout on mobile : Android
![WhatsApp Image 2020-10-16 at 8 07 26 AM (1)](https://user-images.githubusercontent.com/72236992/96280280-a13e8800-0f8c-11eb-85dd-620ba27651f1.jpeg)
![WhatsApp Image 2020-10-16 at 8 07 26 AM (2)](https://user-images.githubusercontent.com/72236992/96280

[2020-10-16 16:05] rabbi08 commented on #1599
@Zaydme
- Verified the issue -> if user click 'Done' after posting the message, and navigate to Inbox, the message is displayed as expected in the Inbox.
- Verified that 'Messages' pane is aligned with FP logo -PASS
- Verified that if user click on the message icon to see the messages is working fine: PASS

Another issues observed:
1. Unable to send the message after EDIT. Refer below GIF
![ezgif

[2020-10-16 16:19] rabbi08 commented on #1599
@Zaydme
While testing on mobile (iphone 11 pro max). following issues have been observed, thanks:

- All the messages are displayed overlapped to show on the screen. refer below GIF and screenshot.
![IMG_3391](https://user-images.githubusercontent.com/67168400/96283138-bfff4780-0fa9-11eb-845b-e1f233c69616.PNG)

![ezgif com-gif-maker (12)](https://user-images.githubusercontent.com/67168400/96283104

[2020-10-16 17:07] doheekim93 opened #1667 "GTM - Dynamic IP filtering for internal traffic"
Edit: Please read @ddveloper's comment below! We will implement the localStorage option for IP filtering. However, we will need to find a solution that will work for mobile devices.

------------------------------------------------------
To create a ["developer cookie"](https://stackoverflow.com/questions/22295538/how-to-exclude-traffic-in-google-analytics-from-dynamic-ip-addresses) that we can us

[2020-10-16 19:00] Monica0843 commented on #1656
steps to reproduce:
1. Login to FP
2. Go to Help Board
3. On the Help Board Home page,  click on the 0 Comments/1 Comment/ 2 Comments under any post.
Result:
When hover over the Comments , the cursor changes to a Hand (as expected), however when click on it, nothing happens
4. Open any post, hover over 0 Comments/1 Comment/ 2 Comments.
Result:
Cursor changed to a Hand as expected, and comment is h

[2020-10-16 19:24] Monica0843 commented on #1656
![3](https://user-images.githubusercontent.com/48136524/96300365-699f0280-0fc3-11eb-901d-c038356ee6e4.gif)
Environment: iPhone 7 (iOS 14.0.1) + Chrome, Safari
A bit different:
open a post, without any comment, click on the comment, the comment switches between gray and blue color.
Open a post with comments, when clicking on the Comment, nothing happens.

[2020-10-16 19:33] nivetheatha commented on #1599
Tested on Android Mobile
Last sent Message has no Timestamp.It would be great if it shows as Just now.
![Screenshot_20201016-152859_Chrome](https://user-images.githubusercontent.com/41587211/96301194-d1a21880-0fc4-11eb-9131-5c47347b5843.jpg)

[2020-10-16 19:40] nivetheatha commented on #1599
Tested on Android mobile.
If the post has long title and user tries to send a message then the heading is not fit into screen.
![Screenshot_20201015-151434_Chrome (1)](https://user-images.githubusercontent.com/41587211/96301892-df0bd280-0fc5-11eb-94df-faec949b8423.jpg)

[2020-10-16 19:44] nivetheatha commented on #1599
Tested in Android Mobile
Not able to update Edited chat.
![Screenshot_20201016-103724_Chrome](https://user-images.githubusercontent.com/41587211/96302263-7ffa8d80-0fc6-11eb-9681-dd4d95e59821.jpg)

[2020-10-16 19:56] nivetheatha commented on #1599
Tested on Android mobile
Inbox--->Message Settings-->Blocked accounts/Archieved Conversations --->Not able to choose Inbox from the Menu
![GIF-201016_155506](https://user-images.githubusercontent.com/41587211/96303298-2c893f00-0fc8-11eb-9472-ab3686151dfe.gif)

[2020-10-16 20:03] nivetheatha commented on #1599
Tested on Android Mobile
Inbox-->Read Message--->Select Inbox from menu-->Blank page
![GIF-201016_160055](https://user-images.githubusercontent.com/41587211/96303834-15971c80-0fc9-11eb-8ce8-d5ad8616a7f6.gif)

[2020-10-16 20:36] nivetheatha commented on #1599
Tested on Android Mobile
Inbox-->Read Message-->click on archive the messages-->Blank page
If we  refresh moved to Home page.
![GIF-201016_163101](https://user-images.githubusercontent.com/41587211/96306493-c3a4c580-0fcd-11eb-8622-279470eac94d.gif)

[2020-10-16 22:20] Zaydme commented on #1599
Thank you for testing! please confirm the below

@Bhavaninalla
- [this bug](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-709636981) was fixed.

@rabbi08
- the bugs 1,3 [here](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-710147215) are fixed.
   - for 2, we don't support text to emojis conversion yet,should we? (this will require an external

[2020-10-17 02:12] nivetheatha commented on #1599
Woks as expected
![Screenshot_20201016-220903_Chrome](https://user-images.githubusercontent.com/41587211/96326199-9c192180-0ffc-11eb-9f0d-e3112fa78da9.jpg)

[2020-10-17 02:13] nivetheatha commented on #1599
Able to update edited test.

[2020-10-17 02:13] nivetheatha commented on #1599
Able to select inbox now.

[2020-10-17 02:14] nivetheatha commented on #1599
Inbox is shown as expected.

[2020-10-17 02:17] nivetheatha commented on #1599
Works as expected now.

[2020-10-17 04:16] rabbi08 commented on #1599
@Zaydme
- I am able to edit the message successfully but the 'edited' text is displayed on the top of the screen not with the timestamp of that message. Please refer below screenshot. Can we display it along with the timestamp, below the message.
![image](https://user-images.githubusercontent.com/67168400/96328176-038b9d00-100e-11eb-884a-2570be5195dd.jpeg)

- On mobile the number of messages displ

[2020-10-17 04:26] Latha-AP commented on #1599
ISsue with Profile name Edit
1. user edited his name by going into profile.
2.In message box, it is not reflected.

I refreshed the page, I waited for long time.

https://fightpandemics.slack.com/files/U01B3L0AY15/F01D5MMAAM7/fightpandemics_-_google_chrome_2020-10-16_19-13-11_trim.mp4

[2020-10-17 05:54] shrutigupta1981 commented on #1599
Windows OS/ Chrome Browser/ Message Send to an Individual

Issue: Not able to send message again after edit done. Was not able to scroll or Zoom in too

https://files.slack.com/files-pri/T010BHVS3EF-F01DEE3Q6E4/buttonsnotaccessibleandsendingcantbedone.png

[2020-10-17 06:50] adorapham commented on #1664
- [](url)

[2020-10-17 17:35] Zaydme commented on #1599
please confirm:
@Latha-FP [this bug](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-710745824) was fixed
@shrutigupta1981 [this bug](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-710756591) was fixed

[2020-10-17 17:45] Bhavaninalla commented on #1599
All the pages staying in the same page after refreshing the pages, only messages page redirects to home page after refreshing.
![WhatsApp Image 2020-10-16 at 8 07 26 AM](https://user-images.githubusercontent.com/72236992/96349635-a7ecfe00-1065-11eb-833c-1dc1edef66a3.jpeg)
![WhatsApp Image 2020-10-16 at 8 07 26 AM (1)](https://user-images.githubusercontent.com/72236992/96349634-a7ecfe00-1065-11eb-9

[2020-10-17 17:47] Zaydme commented on #1599
@Bhavaninalla a fix has been pushed, please allow few minutes for the review build to be up to date

[2020-10-17 21:06] joshmorel commented on #1448
Thanks @Zaydme!!! Add me as a reviewer as well as @idjevm and @OzkanAbdullahoglu

[2020-10-17 21:16] Zaydme commented on #1448
@joshmorel I did, thank you.
https://github.com/FightPandemics/FightPandemics/pull/1491

[2020-10-18 00:17] Latha-FP commented on #1599
Android Device: Input box couldn't handle the emoji's
![mobile -inputbox -emoji gif](https://user-images.githubusercontent.com/72217779/96355937-a68af800-109c-11eb-9930-b999a060a7da.gif)

[2020-10-18 02:40] adorapham commented on #1664
closed by mistake

[2020-10-18 09:02] Latha-FP commented on #1599
1. user1 has Gmail account.
2. he signed up/ logged in to fight pandemics with that gamil account.
3. he posted some posts, he messaged on some posts.
4. Now, He deleted the Gmail account permanently.
5. now someother user is sending messages to this user1, which are reaching as usual.

May be , some back ground checkup might be needed if something happened to the mail id associated with the Fight

[2020-10-18 09:34] Latha-FP commented on #1599
Now We could't see Pen symbol to edit profile/account information
![no pen symbol to edit profile](https://user-images.githubusercontent.com/72217779/96363621-63f00c80-10ea-11eb-8280-3ad9178add8d.png)

[2020-10-18 18:52] mannykary commented on #1660
I think this is working as intended. Auth0 rate limits and sends back a 429 error code if there are too many requests, and we [check for that status code](https://github.com/FightPandemics/FightPandemics/blob/staging/backend/lib/endpoints/auth.js#L150-L156) and relay it back to the frontend. This change was made as part of issue #1287, and was fixed in PR #1318.

For mocha tests, I think we should

[2020-10-18 19:57] joshmorel commented on #1660
Haha yes @mannykary. Maybe this week I hope.

@jessica-lau after a given email & IP is blocked it needs to be manually unblocked.

Now when we do implement the Auth0 mock, this test below will fail unless we implement the same kind of rate limiting in front of Auth0 or alternate auth provider. I don't think we should fully duplicate their service but I wonder should we have some sort of rate limit

[2020-10-18 21:11] Bhavaninalla commented on #1599
Next line button as working as send button.so i couldn't make a text message on the next line.
![ezgif-6-89a7afcff2a9](https://user-images.githubusercontent.com/72236992/96385879-99791200-114b-11eb-9a29-eba3c9993479.gif)

[2020-10-18 22:53] mannykary commented on #1660
If we implement rate limiting in the mock, and use the mock in the mocha test, wouldn't the mocha test just be testing the mock? I'm not really seeing the point of the test.

We created issues #997 (short term NGINX implementation) and #1211 (long term AWS implementation). @git-satya started working on #997 but then realized that we don't really have a good baseline or a good idea of what "normal"

[2020-10-18 23:19] ddveloper commented on #1667
as @joshmorel suggested, the localStorage can be manually configured and the GA code can be updated based on that, this can be applied to a wider range of browsers since they all support setting localStorage value.

I tested the below code with my GA account, after manually configuring my Chrome and Microsoft Edge, with a pair key-value `qa_dev: true`, it works as expected

[code]

[2020-10-19 04:43] Latha-AP commented on #1637
on this staging link for web notifications:
https://feature1637-notifications-web-backend.fightpandemics.xyz/
1. we could create the post.
2. we could like the post: **Web notification shown.**
3. **we could n't comment on the post!**
4. 2 times, today I could able to comment on own post, but not on other.

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/72217779/96402731-7e2d

[2020-10-19 05:58] Bhavaninalla commented on #1599
Tested on Android Mobile
After I click the message request and I saw the message , but I am not able to view/click  the accept ,ignore buttons .
![ezgif-6-a7ed0fb9c0b8](https://user-images.githubusercontent.com/72236992/96406928-36ac6880-1195-11eb-9e00-d7121647eecd.gif)

[2020-10-19 06:07] Latha-AP commented on #1599
Direct message on post: testing **View message** vs **Done**
1. View message is  navigating to message box
2. After clicking Done, If we need to give another message on the same post, the **input box is not clearing the previous input.**.Same Behavior observed in mobile too.
3. **In message box, the messages are  showing repeatedly if we are adding new message(since the since the input box has pre

[2020-10-19 07:27] Latha-AP commented on #1599
If we change mobile orientation(Vertical to **Horizontal)** ,**We couldn't see Archive and Delete options along with some of the earlier messages**

![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/72217779/96414165-9741a280-11a1-11eb-87ba-32181c0cb160.gif)

[2020-10-19 07:48] Latha-AP commented on #1599
If we change mobile orientation(Vertical to **Horizontal**) ,We couldn't see what we are typing in inbox until we send the message.

![ezgif com-gif-maker (4)](https://user-images.githubusercontent.com/72217779/96416623-17b5d280-11a5-11eb-8699-4d3da46f2aa5.gif)

[2020-10-19 08:18] #1603 closed, assigned to jyclam

[2020-10-19 10:20] jyothybalusu commented on #1665
This issue can be closed as I realised that it was working. I hhad to drag with the mouse to navigate to the bottom of page and then thhe scroll bar was visible to the righht

[2020-10-19 10:20] #1665 closed, assigned to nobody

[2020-10-19 13:17] joshmorel commented on #1660
@mannykary (cc @jessica-lau) I have no plan to implement rate limiting in the mock.

To be honest, I don't think it makes sense to have automated tests for any of the `/api/auth/` endpoints because:

1. Now we are relying on an external service
2. When the mock is done it will be just a mock

The Cypress e2e tests make sense for our React code.

Unit tests might also make sense when we decouple so

[2020-10-19 13:34] galeza commented on #1660
Hi @joshmorel
We were thinking about testing/verifying error messages when incorrect data is provided with /api/auth/.

[2020-10-19 14:03] joshmorel commented on #1660
In this case, we do need develop an interface that all the auth providers (mock, Silkey, Auth0) must implement, otherwise you'd just be testing the mock (not very helpful...).

But in such a case unit tests would be equally effective as integration tests. In any case when I get a PR we can review & discuss.

I would wait on doing any more work with mocha for /api/auth. Maybe /api/posts would be a

[2020-10-19 18:30] Bhavaninalla commented on #1599
Create two users, user 1 and user 2
1: Open two login window from the same browser ( two tabs)
2: Using the first login window: login as user 1
3: In the second login window: login as user 2
In this case user 1 create a individual post and user 2 create another post and user 2 access user1 post
![ezgif-7-402287aeb6a2](https://user-images.githubusercontent.com/72236992/96494923-e4eaf900-11fb-11eb-9

[2020-10-19 19:12] rabbi08 commented on #1599
Please note this might be related to the session of the user1, in same browser, you are keeping the same session, to test multiple users, preferably use different browser to keep different sessions. So, it will be great if you can retest the same scenario and update. Thanks

[2020-10-19 19:38] nivetheatha opened #1672 "[Mobile-Android]During commting the post user press newline key it acts as Enter instead of creating new line."
Device used : Samsung Galaxy s8
Environment:staging
Browser:Google chrome
1.Login with valid user name and password.
2.Go to help board.
3.Comment on any post and click newline key in mobile keyboard.
Expected result
It has to create new line
Actual Result
It acts as enter key.
![GIF-201019_145135](https://user-images.githubusercontent.com/41587211/96503309-0e6a4b80-1221-11eb-83fa-f6096bcc4183.gif

[2020-10-19 19:40] nivetheatha commented on #1672
Environment production
It works the same way as staging.

[2020-10-19 19:45] galeza commented on #1660
@joshmorel

Ok, we will focus on /api/posts.

[2020-10-19 19:56] joshmorel commented on #1497
Closing in favor of #1672

[2020-10-19 19:58] joshmorel commented on #1672
Thanks @nivetheatha . We had this similar #1497 but the PR didn't resolve the issue and I don't think anyone else in the discussion is currently actively involved in FP. I will get a new person to start.

My suggestion on resolution:

* Enter is always newline - mobile or desktop
* Ctrl+Enter can submit (applicable to desktop only)

[2020-10-19 19:59] joshmorel commented on #1672
I'm assigning myself so no one else does until the new dev I asked in Slack responds.

[2020-10-19 20:02] Zaydme commented on #1667
@doheekim93 @ddveloper
I think the localStorage is the best way to do it, but on mobile devices you can't set a new localStorage value, so I was thinking maybe add a hidden route on front-end that will set the QA key to true.
So like you can go to `fightpandemics.com/enableqa` and that will set the localStorage key for you and redirect you.

[2020-10-19 22:40] Zaydme commented on #1599
Please wait few minutes for the review build to update and confirm this:
@Bhavaninalla
[this bug](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-711424148) was fixed.
@Latha-FP
[this bug](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-711625546) was fixed.
[this bug](https://github.com/FightPandemics/FightPandemics/issues/1599#issuecomment-7117

[2020-10-20 00:51] jessica-lau commented on #1660
Okay, thanks @joshmorel

[2020-10-20 01:21] Bhavaninalla commented on #1599
@rabbi08

   I tested different browsers with different users, so user 1 can’t access user 2 post.In this scenario it’s working fine.

[2020-10-20 04:26] rabbi08 opened #1676 "All the existing post are not displayed to logged in user."
1. Login into STG "https://staging.fightpandemics.work/"
2. Navigate to Help Board
3. Filter the results as:
Provider = 'Individual' & Requesting Help

You will observe that total 15 records are displayed (Test Data as of today 10/20)

4. Now login using valid username/pwd and navigate to Help Board.
Filter the results as:
Provider = 'Individual' & Requesting Help

You will observe that only 3 rec

[2020-10-20 06:16] emtay commented on #1599
Hi QA team, we're hoping to get some support on mobile FE. I'll post here when progress has been made.

Thanks for all the finds and thank you @Zaydme  for ALLLLL the amazing fixes!!

[2020-10-20 07:15] Zaydme commented on #1676
@rabbi08 I don't think this is an issue, some posts have limited visibility, (example: "state only"). when you are not logged in, your location is unknown so no filters are applied on the posts, but when you login, all those posts with limited visibility will disappear because now we know your location and we can compare it with the post's visibility.

[2020-10-20 15:25] rabbi08 commented on #1676
Agree @Zayd, that visibility of the post may affect the post display for any user. But how it can be that if post has visibility as 'State' and it is displayed to non-logged in user everywhere regardless of IP filtering.

If post is visible to that respective state only, then it should be displayed on the help board of that state only irrespective of login. We cant display post irrespective of the

[2020-10-20 15:44] #1305 closed, assigned to jyclam

[2020-10-20 17:17] adorapham opened #1679 "The feedback and global icon is not in view for Galaxy Tab S5"
Feature1448 misses the feedback and global languages.
Samsung Gal Tab S5E- Android-Google Chrome (Staging looks correct)
https://feature1448.fightpandemics.xyz/
https://staging.fightpandemics.work/
![image](https://user-images.githubusercontent.com/70918430/96621277-4c1cb200-12bd-11eb-97a9-33c6a20f392d.png)

If we look at the Galaxy Tab S4 10.05- Android 8.1-Google Chrome
Both Feature 1448 and Sta

[2020-10-20 17:26] joshmorel commented on #1679
Thanks @andreslarezbas there is some relation to this https://github.com/FightPandemics/FightPandemics/issues/1650

Samsung Gal Tab S5E must just meet the medium size threshold so it is showing the "desktop" view. That's not necessarily a problem but we should definitely ensure the header items are not off the screen.

I would say:

1) Decrease font size - 16px is big for navbar links. Maybe 14px

[2020-10-20 18:46] #1667 closed, assigned to Zaydme

[2020-10-20 19:11] Zaydme commented on #1676
@rabbi08
No, this is not the case. there is no location/IP sort/filtering for non-logged in users, unless they applied a location filter.

[2020-10-20 20:35] claudiang1357 commented on #1637
I was in a post to attempt updating post comment (stay for quite some time - probably expired?), error was displayed as per screenshot -> Error message is overlapped with Help Board button.
![Overlapping Error](https://user-images.githubusercontent.com/72559826/96641113-3675af80-12f2-11eb-9302-baa87e414bc2.png)

[2020-10-20 21:04] Zaydme commented on #1679
This was my solution for the search bar https://fightpandemics.slack.com/files/U019926NH0W/F01CJTQ3X9D/2020-10-20_21-59-52.mp4

[2020-10-20 21:21] #1448 closed, assigned to Zaydme

[2020-10-20 23:27] ddveloper commented on #1427
backend /unsubscribe `GET` and `PATCH` endpoint is added in #1677 , tested with Postman (set token in req.headers)
note: the 2 fields are encoded in the token { userId, expireDate }

[2020-10-21 00:16] adorapham opened #1682 "LinkedIn URL in Edit Profile should have validation for '/' like the rest of other media types"
https://staging.fightpandemics.work/
Chrome - Window 10
Login as Individual
Click on Profile =>Edit pen =>Edit Profile

provide all the values for these below and see all except LinkedIn URL give the error validation message when entering /
Facebook URL
Installgram URL
LinkedIn URL
Twitter URL
Github URL

Without providing the error message for LinkedIn URL when entering the / at the end, click on

[2020-10-21 01:18] adorapham commented on #1676
@rabbi08 -please check out #1613 that is my note for Help Board Search

[2020-10-21 03:43] rabbi08 opened #1684 "Post Search results are not matching the search criteria."
1. Open STG, and navigate to Help Board.
2. Enter search text 'HelpNextDoor.net' and hit <enter>to search

You will observe that 7 records are displayed. But only 2 post have actual searched text. All other post have no matching text. Refer below GIF.

![image](https://user-images.githubusercontent.com/67168400/96670141-adc83500-132c-11eb-9183-d88d2e508d21.png)

**More test data** :
- Wrong text i

[2020-10-21 03:53] rabbi08 opened #1685 "Desktop: The search textbox need to be aligned with post and other UI issues."
1. Open STG environment, and navigate to Help Board
2. You will see that the search textbox is not aligned on the page, It should be aligned with the post section. Refer below screenshot.

![search-align](https://user-images.githubusercontent.com/67168400/96670987-c46f8b80-132e-11eb-9409-61c65cf1d9dd.png)

Also, the text for 'HELP' for the Organization needs to be updated as per the application i.

[2020-10-21 04:13] rabbi08 opened #1686 "Mobile: Search functionality is not user friendly"
1. Open the STG url on mobile, and navigate to the help Board
2. Enter the search text in the search textbox.

Issue: You will observe that nothing will happen, nor any user message is displayed to select the 'TABs' to perform the search.
Here either it should work as like in desktop, by entering the text and selecting the TAB or user need to be notified to select the TAB before entering the searc

[2020-10-21 04:28] ddveloper commented on #1686
the [hotfix/search-function-issue](https://github.com/FightPandemics/FightPandemics/commits/hotfix/search-function-issue) has a workaround for this issue, could be a start point to work from

[2020-10-21 15:32] joshmorel commented on #1684
Yeah I guess this is based on how we want to preference our search whole words or not.

The `HelpNextDoor.net` one is actually maybe okay? It's splitting on `.` and the 2nd one matches Frenalacurva`.net`

But generally, I'm not sure if this okay enough for now (with future refinement) or we want to fix before merging into prod.

[2020-10-21 15:44] nivetheatha opened #1690 "[Mobile-Android]If we provide Search filter+Filter by options together leads to blank page."
Environment -- staging
Device used -- Sansung Galaxy s8
Browser -- Google chrome
Steps to create:
1.Go to help board.
2.Give filter in search field .(ex person as nivethetha)
3.Give filter by (ex location as sanfrancisco ca.
4.Enter apply  filter.
5.Goto search box and enter again.
Expected result:
Both filter has to apply in the search results
Actual Results:
Leads to a blank page.
![GIF-201021_1

[2020-10-21 16:06] adorapham commented on #1690
@nivetheatha , it seems the mode for the search keyword is not on.  for number 5 , can you click on this search icon
![image](https://user-images.githubusercontent.com/70918430/96747000-a3ce2280-137c-11eb-8b64-c464ce3e38b2.png)
**Update** after reading the comment from nivetheatha and try to execute : it has blank page in display after applying the filter and click on search icon.  This happens al

[2020-10-21 16:17] nivetheatha commented on #1690
@adorapham I tried to click on search icon for 5.It still leads to blank page.

[2020-10-21 16:19] rabbi08 opened #1691 "Search functionality for International languages is not working as expected and we should NOT limit the letters in a word to search"
1. Login into STG and navigate to Help Board
2. Change language to German and search for text , help i.e. 'Hilfe' in German language

Issue: You will observe that search is performed differently when the text is entered as single word or if it is entered as part of multiple words. refer below screenshot.

![search-german-1](https://user-images.githubusercontent.com/67168400/96747991-f87e9700-1396-

[2020-10-21 16:55] mathigayathri2001 commented on #1658
@doheekim93  during analysis I found out this issue is resolved after implementing the enhancement '#1448 - Add search bar on help board with a search button',

[2020-10-21 18:18] doheekim93 opened #1692 "Localisation: Dealing with multiple plural forms/rules for different languages"
We need a way to handle different plural forms and rules for different languages: [Reference 1](https://www.i18next.com/translation-function/plurals), [Reference 2](https://lingohub.com/blog/2019/02/pluralization)

[2020-10-21 18:44] Zaydme commented on #1686
fixed in https://github.com/FightPandemics/FightPandemics/pull/1693

[2020-10-21 18:46] Zaydme commented on #1685
fixed in https://github.com/FightPandemics/FightPandemics/pull/1693

[2020-10-21 18:48] Zaydme commented on #1690
fixed in https://github.com/FightPandemics/FightPandemics/pull/1693

[2020-10-21 19:02] adorapham opened #1694 "Search icon still performs the search with the current validation message for keywords"
1-click on Help Board and type less than 4 letters word then press enter
2- see the validation message display with Min. 4 characters
3- click on search icon
4- Expect the search should not perform but still see the search is executed.
![searchIcon](https://user-images.githubusercontent.com/70918430/96770302-219e2800-1395-11eb-8486-ffa9933ec121.gif)

[2020-10-21 19:11] #1690 closed, assigned to nobody

[2020-10-21 19:11] #1685 closed, assigned to mathigayathri2001

[2020-10-21 19:33] adorapham commented on #1694
#1695-change the requirement keyword length from 4 to 1 so this might not be valid.

[2020-10-21 19:52] rabbi08 commented on #1599
@zayd,
On Desktop: Following issues with scrolling while more users and long chats exist. Please see below GIF.
- The scroll is not working, I used arrow key after selecting a user/chat
- The typing textbox is move in the top of the screen and blank space on the page.
![ezgif com-gif-maker (23)](https://user-images.githubusercontent.com/67168400/96775299-59b56300-13b5-11eb-8baf-cfc7db933a28.gif)

[2020-10-21 21:16] shrutigupta1981 commented on #1599
It's still now working. I am able to scroll up and down but by default, it still showing as same. my screen size details- 14.2* 8

![image](https://user-images.githubusercontent.com/72843352/96788549-87e07600-13a8-11eb-841d-2dd4b9edee9e.png)

[2020-10-21 21:25] shrutigupta1981 opened #1696 "Create Post Module: Post visibility dropdown - order to be reversed"
Expected: Create Post Module: Post visibility dropdown - order to be reversed- for a day, for a week, for a month, forever

Actual: Create Post Module: Post visibility dropdown - order - forever, for a month, for a week, for a day

[2020-10-21 21:31] shrutigupta1981 commented on #1599
![image](https://user-images.githubusercontent.com/72843352/96789447-0db0f100-13aa-11eb-9559-baf9886a6a0b.png)

Button behavior: Text- Try Again to be shown white only on click mode

[2020-10-21 21:36] shrutigupta1981 commented on #1599
@Latha-FP I am able to scroll but buttons still not visible,by default. My screen size: 14.2* 8

[2020-10-21 21:46] shrutigupta1981 opened #1697 "Create Post Window by default should show Screen including Post button"
![image](https://user-images.githubusercontent.com/72843352/96790735-24584780-13ac-11eb-91a1-b45d401235ef.png)

[2020-10-21 22:19] shrutigupta1981 commented on #1599
Conversation spelling to be corrected

![image](https://user-images.githubusercontent.com/72843352/96793327-00e3cb80-13b1-11eb-945e-1e8eebab6ff7.png)

[2020-10-21 22:52] shrutigupta1981 commented on #1599
![image](https://user-images.githubusercontent.com/72843352/96798207-3f7b8500-13b5-11eb-8557-0128902827fe.png)

Send button label to be in bold as  followed same in Post and Next Buttons

[2020-10-21 23:45] shrutigupta1981 opened #1698 "Create Post: Unselection of Tags is to be more intuitive"
Please refer to the Video to understand the issue.
https://hippolms-storage.s3-accelerate.amazonaws.com/wiz/videos/thumbnails/v2/J0SdkzPi0Dun4ireMhYseaKkjwXSW8ykXI1DY49xnyM_play.jpg?_=1603316550

[2020-10-21 23:51] shrutigupta1981 commented on #1599
![image](https://user-images.githubusercontent.com/72843352/96801927-97b68500-13bd-11eb-8ff3-c7f9bf2e836c.png)

View Message button text size is very small and it needs to be bold

[2020-10-22 00:03] shrutigupta1981 commented on #1599
![image](https://user-images.githubusercontent.com/72843352/96802665-237ce100-13bf-11eb-9291-bdc733717141.png)
 Pls see the UX of the Send button when clicked. The progress bar or activity control shown as white just before send confirmation message.

[2020-10-22 00:26] shrutigupta1981 opened #1699 "Post sharing through LinkedIn is not working"
When I try to share my post as a registered or unregistered user, it doesn't work. Pls have a look to snapshots:
![image](https://user-images.githubusercontent.com/72843352/96803879-55437700-13c2-11eb-8090-fa60aa617cd6.png)
Click on Try Again
![image](https://user-images.githubusercontent.com/72843352/96803904-67251a00-13c2-11eb-9ef1-564ea17728c7.png)
Click on Try feed
![image](https://user-images

[2020-10-22 02:55] adorapham opened #1701 "HB Feed search result should retain the highlight searched keyword when navigating back from the post page"
1-Navigate to Help Board Feed page and enter keyword , click on search icon
2-See the result of posts that contains at least one keyword
3-Click on the post that has [view more](url) link since the post is too long and the keyword might be hidden.
4-The post page for the Post is on display.
5-**Right here,  It is nice to see the keyword is highlight on this post.**
6-After viewing the post , click

[2020-10-22 04:10] Bhavaninalla commented on #1599
fixed

[2020-10-22 05:15] adorapham opened #1702 "HB-Search keyword on people should get all the individual records having keywords matching name and/or about"
1-User enters keyword to search : for example - the
2-Click on People tab and get two records with the on about each record
3-Click on Filter and enter -San Jose , CA for location and click on Apply Filters
4-**Since the Individual 's first record checked on Don't show my address on profile , the first record is not in display as expected and the second record is on the top since Individual has Sa

[2020-10-22 11:57] #1663 closed, assigned to sujatha-m

[2020-10-22 15:00] adorapham commented on #1701
@Zaydme - can you please review this one.

[2020-10-22 15:00] adorapham commented on #1702
@Zaydme can you please review this one

[2020-10-22 15:03] adorapham commented on #1694
@Zaydme please review this one to see it is invalid

[2020-10-22 15:24] nivetheatha opened #1705 "[Mobile-Android]If the user has long user name its not fit into the screen."
Environment -- Staging
Device used -- Samsung Galaxy s8
Browser -- Google chrome
Steps to create:
1.create a organization name with 60 characters.
2.create a post on the particular organization.
3.Go to helpboard and check the post.
Expected Result:
Post title should fit into the screen.
Actual Result:
Post is not fit into the screen and not able to see three dots(with edit/delete option menu) as

[2020-10-22 17:21] ddveloper commented on #1427
an update: working on frontend now in #1677 to complete the loop, estimated finish time, these 2 days

[2020-10-22 19:33] Zaydme commented on #1694
This is outdated, please check https://github.com/FightPandemics/FightPandemics/pull/1695

[2020-10-22 19:34] #1694 closed, assigned to sujatha-m

[2020-10-22 19:36] Zaydme commented on #1676
@rabbi08 do we close this issue? as it is an expected behavior

[2020-10-22 19:45] Zaydme commented on #1691
It's actually not that frequent to search one character in Chinese, the most common I would say is 2 characters plus.
https://docs.acquia.com/acquia-search/language/non-latin/ for reference

Amazing, 2 characters should be good then

[2020-10-22 19:45] mathigayathri2001 commented on #1699
@shrutigupta1981 When I run the application locally on my machine, it is working fine when I logged out the linkedin and facebook pages . But in production, it is working fine irrespective of whether logged in or log out  .   So, I am not quite sure it is a bug.

[2020-10-22 19:50] mathigayathri2001 commented on #1698
@shrutigupta1981 above video is  not working . Can you please provide the correct link

[2020-10-22 21:00] #1686 closed, assigned to nobody

[2020-10-22 21:53] Zaydme commented on #1702
this behavior was fixed in https://github.com/FightPandemics/FightPandemics/pull/1695 for **signed in** users.

---
For the unsigned we said that there will be only full word match **(full $text search)** when no location filter is selected **(because not using $geoNear, so using full $text search and NOT regex)** so a record must have at least one 100% match for whole word. So this is why results

[2020-10-22 21:53] #1702 closed, assigned to nobody

[2020-10-22 22:12] adorapham commented on #1702
Agree with closed defect  after performing the validation on the fixed.
**not signed in**  , per DEV
For the unsigned we said that there will be only full word match (full $text search) when no location filter is selected (because not using $geoNear, so using full $text search and NOT regex) so a record must have at least one 100% match for whole word. So this is why results are less, While it can

[2020-10-22 22:35] Zaydme commented on #1637
@Latha-FP [this](https://github.com/FightPandemics/FightPandemics/issues/1637#issuecomment-711550797) was fixed

[2020-10-22 22:41] Zaydme commented on #1684
@rabbi08 I believe all of the issues listed here were fixed in https://github.com/FightPandemics/FightPandemics/pull/1695
Please confirm so I can close this issue. (just to keep what's fixed and what's not clear.)

_please note that we don't share the same db with staging, so the posts are different_

[2020-10-23 04:03] rabbi08 commented on #1676
surely we can close as of now, though little confusing. Need to do more research. will open new in case I found specific case related to this issue. Closed.

Thanks @Zaydme for the update.

[2020-10-23 04:03] #1676 closed, assigned to nobody

[2020-10-23 04:15] adorapham commented on #1682
Close this one after passing the validation n #1683

[2020-10-23 04:15] #1682 closed, assigned to sujatha-m

[2020-10-23 04:21] Bhavaninalla commented on #1599
click messages inbox
select user and sending messages to user and not able to see the sending message immediately
![ezgif-2-aa5390adb4e8](https://user-images.githubusercontent.com/72236992/96956244-784a5580-14ac-11eb-97e7-0a3759a882f9.gif)

[2020-10-23 19:55] shrutigupta1981 commented on #1599
Query related to a Scenario: I created a post and left a comment on it. I received a comment from another user saying interest. Now is it possible to reply to the same person through comment? Are we supporting thread kind of thing to maintain a chain of comments for now? No right?Rajbir Kaur  1 day ago
@Shruti Gupta please add your observation related to private message in PR#1599
https://files.sl

[2020-10-23 20:19] Zaydme commented on #1599
@shrutigupta1981 No, unfortunately we don't support replying to comments. But you will be able to click on the user's name to go to their profile, from there you can click on the message icon to start a private conversation with them.

[2020-10-23 20:25] shrutigupta1981 commented on #1637
I think second 2 is not required?
https://files.slack.com/files-pri/T010BHVS3EF-F01CWAC3K9C/image.png

[2020-10-23 20:26] shrutigupta1981 commented on #1637
Should we have scroll as notification nos increases?
https://files.slack.com/files-pri/T010BHVS3EF-F01D890UQ2W/image.png

[2020-10-23 20:28] shrutigupta1981 commented on #1637
Scenario: I created a post and left comment on it. I received comment from another user saying interested. I replied back to that comment. I myself shouldn't get notification in such a case? Right? No notification should be generated.
https://files.slack.com/files-pri/T010BHVS3EF-F01CNBE2MFH/image.png

[2020-10-23 20:32] Zaydme commented on #1637
@shrutigupta1981 this [bug](https://github.com/FightPandemics/FightPandemics/issues/1637#issuecomment-715574308) was fixed. you don't get notifications by interacting with your own post.

[2020-10-23 20:39] shrutigupta1981 commented on #1637
Not getting notifications for self. Closing the issue.Checked.

[2020-10-23 20:41] Zaydme commented on #1637
Please keep this issue https://github.com/FightPandemics/FightPandemics/issues/1637 open for future feedback and bug reports

[2020-10-23 20:41] #1531 closed, assigned to kterry1

[2020-10-23 20:43] shrutigupta1981 commented on #1696
I checked on Staging and it still not reflected. Pls have a look
![image](https://user-images.githubusercontent.com/72843352/97052360-b3449b80-1535-11eb-8a35-dfbe8aa618da.png)

[2020-10-23 20:43] #1454 closed, assigned to Zaydme

[2020-10-23 20:44] shrutigupta1981 commented on #1696
It's not fixed.

On Thu, Oct 22, 2020 at 2:12 AM galeza <notifications@github.com> wrote:

[2020-10-23 20:50] galeza commented on #1696
@shrutigupta1981 NOT on staging but we have a Build URL: https://feature1696.fightpandemics.xyz. It was not merged.
Please add your comments in the PR

[2020-10-23 21:13] ddveloper commented on #1428
The changes have been merged into PR #1677 , I'm going to close this thread

[2020-10-23 21:13] #1428 closed, assigned to Serhazor

[2020-10-23 23:18] shrutigupta1981 commented on #1696
I didn't add it to PR as it's not related so opened a separate issue. Checked on the mentioned URL. Working fine there

[2020-10-23 23:33] shrutigupta1981 commented on #1698
Pls, refer slack. I shared a video there as here the format is not supported

[2020-10-23 23:37] shrutigupta1981 commented on #1699
It's not working in staging and not working even in the private feature branch. It's working in production. Same I mentioned in slack. I was advised by the dev team to log the issue so I logged

[2020-10-23 23:42] shrutigupta1981 commented on #1599
Ok. I put it here as an Observation because was told to do so

[2020-10-24 00:47] shrutigupta1981 commented on #1599
![image](https://user-images.githubusercontent.com/72843352/97063968-bc466480-1557-11eb-8d11-72f7aaf2ad4f.png)
 buttons shape when I click on delete option given into Comment section

[2020-10-24 01:01] mathigayathri2001 commented on #1698
Thanks @shrutigupta1981 . I will check

[2020-10-24 01:02] mathigayathri2001 commented on #1698
Thanks @shrutigupta1981 . I will check

[2020-10-24 01:37] nivetheatha commented on #1599
Tested on Android mobile
When we open keypad in messenger. We are not able to see last message and not able to scroll down to last message as well.
![GIF-201023_212340](https://user-images.githubusercontent.com/41587211/97064938-e0b23900-1577-11eb-8bed-fb42ee36c665.gif)

[2020-10-24 02:21] nivetheatha opened #1708 "[Mobile-Android]If user edits/creats a post the visibility dropdown moves when we move sidebar of the screen."
Environment--staging
Browser--Google chrome
Device used -- Samsung Galaxy s8
Steps to create
1.Goto the existing post/create new post.
2.visiblity dropdown moves if we move the sidebar of screen.
![GIF-201023_221254](https://user-images.githubusercontent.com/41587211/97065777-faef1580-157d-11eb-893f-ff4f8af14106.gif)

[2020-10-24 02:32] nivetheatha commented on #1708
Environment---production
It works the same way as staging

[2020-10-25 10:14] #614 closed

[2020-10-26 03:45] Latha-AP commented on #1637
To my surprise no notifications are shown on org. profile. Am I missing something here.

I used this feature link to test
https://feature1637-notifications-web-backend.fightpandemics.xyz/feed.

![org profile](https://user-images.githubusercontent.com/72217779/97132089-264f3d00-1703-11eb-89de-710ccfbaf042.png)

![org profile2](https://user-images.githubusercontent.com/72217779/97132094-28190080-170

[2020-10-26 13:43] joshmorel commented on #1697
@shrutigupta1981 can provide a few more details - like what exactly is expected here? Thanks

[2020-10-26 15:11] Zaydme commented on #1637
@Latha-FP notifications are working for individuals only as of now, but soon they should work for organizations too, along with the messaging feature.

[2020-10-26 15:35] Zaydme commented on #1701
The feed state is not preserved, this includes pagination, filters and search. We are planing to change this behavior in a future feature. (using query strings?)
cc @joshmorel

[2020-10-26 17:05] Latha-FP commented on #1427
No Email notifications are working

![Screenshot 2020-10-26 100202](https://user-images.githubusercontent.com/72217779/97203917-b24c7d80-1772-11eb-8dc0-7fd73c80a8fd.png)
![Screenshot 2020-10-26 100253](https://user-images.githubusercontent.com/72217779/97203920-b2e51400-1772-11eb-8cc0-207debd271ac.png)
![Screenshot 2020-10-26 100411](https://user-images.githubusercontent.com/72217779/97203922-b37d

[2020-10-26 17:08] Latha-AP commented on #1637
no Email notifications are working for me. I got earlier for likes .

![Screenshot 2020-10-26 100202](https://user-images.githubusercontent.com/72217779/97204246-1a02c880-1773-11eb-98f2-79401c801696.png)
![Screenshot 2020-10-26 100253](https://user-images.githubusercontent.com/72217779/97204247-1a9b5f00-1773-11eb-9580-8b96341a84e3.png)
![Screenshot 2020-10-26 100411](https://user-images.githubuser

[2020-10-26 18:21] sujatha-m opened #1712 "LinkedIn URL in Edit Organization Profile should have validation for '/' like the rest of other media types"
https://staging.fightpandemics.work/
Chrome - Window 10
Login as Individual
Click on Profile =>Edit pen =>Edit Profile

provide all the values for these below and see all except LinkedIn URL give the error validation message when entering /
Facebook URL
Instagram URL
LinkedIn URL
Twitter URL
Github URL

Without providing the error message for LinkedIn URL when entering the / at the end, click on t

[2020-10-26 19:44] rabbi08 commented on #1684
@Zaydme
1. For non-logged in User: While searching for 'HelpNextDoor.net' I got 2 post for the search result, where first one is expected but in the second one, the matched text i.e. '.net' is not highlighted. Please see below screenshot.

![image](https://user-images.githubusercontent.com/67168400/97218408-08cfb100-179f-11eb-8857-078b8f5d4a79.png)

For logged in user: I got single search result o

[2020-10-26 19:57] Zaydme commented on #1684
@rabbi08 if we changed 2. then 3. will get worse.

This how it works now:
- if using **NON english letters**, all words above 2 characters length are searched, with partial matching: example: "щв" will match entries containing "шв" and "швц".
- if using **english letters** there are two cases:
  - words less than 3 chars, will only use full matching, so "he" will only match posts with "he" and not

[2020-10-26 20:13] adorapham opened #1714 "Health board search- Icon search has no response when clicking on it"
SC1
1-navigate to feed page
2-enter keywords and click on search icon
**3-see no response ,  so we need to press on enter key**
![searchIconNotResponseSC1](https://user-images.githubusercontent.com/70918430/97223407-f3ea2200-178c-11eb-82c0-c8a34e890ea3.gif)

SC2
1-navigate to feed page and enter one character keyword
2-see validation message -min. 2 characters
3-enter 3 characters keywords and cli

[2020-10-26 20:13] adorapham commented on #1714
@Zaydme , please review this one.

[2020-10-26 20:13] #1696 closed, assigned to sujatha-m

[2020-10-26 20:15] Zaydme commented on #1714
@adorapham thank you, this will be fixed soon.

[2020-10-26 20:33] Zaydme commented on #1714
Fixed in https://github.com/FightPandemics/FightPandemics/pull/1695

[2020-10-26 20:33] #1714 closed, assigned to nobody

[2020-10-26 21:16] adorapham commented on #1714
Verify both issues are passed after the fix #1695
SC1
![sc1_passed](https://user-images.githubusercontent.com/70918430/97229490-b2aa4000-1795-11eb-8b26-eccf7b62e0cf.gif)

SC2
![sc2_passed](https://user-images.githubusercontent.com/70918430/97229554-c5bd1000-1795-11eb-97cd-f5e69489b8e5.gif)

[2020-10-26 21:42] rabbi08 commented on #1684
@Zaydme
This explanation make sense, thanx a lot for the details.

I have below query:
for using English letters there are two cases:
- words less than 3 chars, will only use full matching, so "he" will only match posts with "he" and not with "the" or "help".
User should be able to find 'find me' both words together?

- words more than 3: will use full and partial matching, so "mask" will match "m

[2020-10-26 21:48] Zaydme commented on #1684
@rabbi08
- yes, when searching "find me" user will see posts with "find me" and both words are included in the search and will be highlighted, but as another example posts with "find medical help" in this case only the keyword "find" is used and "medical" will not be highlighted.

- Yes, we can force the matching to start from the beginning of the word, and that's actually a good idea, so for exam

[2020-10-26 21:55] rabbi08 commented on #1684
But for 'find me' keyword search -> both searched word are exact match but both are not highlighted. Please see below screenshot.
![image](https://user-images.githubusercontent.com/67168400/97232879-5acf0180-17b4-11eb-8876-4074eca8b486.png)

[2020-10-26 21:57] Zaydme commented on #1684
@rabbi08 For the highlighting, when the user is logged in it should work perfectly.
Because the highlighting functions knows what words were used in the regex (logged in) search, and it highlights them.
But when the user is not logged in, we said that we use mongodb full $text search, the highlighting function doesn't know how mongodb will perform that search, since we have no control over it, so

[2020-10-26 22:02] Zaydme commented on #1684
@rabbi08
I just looked at the code again and I see that I also made it if using english letters it only counts keywords strictly longer than 2, so:
- anything less or equal to 2 is completely excluded.
- anything above 2 but less than 3 is using full match.
- anything strictly above 3 is using partial/full match.

Do you think we should remove the "less or equal to 2 is completely excluded" and ma

[2020-10-26 22:09] rabbi08 commented on #1684
I would like to suggest that, we can make it 'less than 2'.

Also, we have very less posts data available in this feature branch i.e. even 'Sourced by FP' post are not there. Can we import some test data?

[2020-10-26 22:13] Zaydme commented on #1684
@rabbi08 Yes "less than 2" would be better.

For importing more posts there is a script that does that but I can't run it, I think @mannykary can help us with that maybe.

[2020-10-27 22:36] adorapham commented on #1613
[Defects_Search_HelpBoard.xlsx](https://github.com/FightPandemics/FightPandemics/files/5448477/Defects_Search_HelpBoard.xlsx)
[Search_HelpBoard_Note_V1.docx](https://github.com/FightPandemics/FightPandemics/files/5448760/Search_HelpBoard_Note_V1.docx)

[2020-10-28 20:05] doheekim93 commented on #1658
Hey @mathigayathri2001 -- I checked the PR (#1695) that is linked to #1448, but I don't see the fix on the build URL. Could you double check please? Thank you!!

[2020-10-28 20:20] Zaydme commented on #1658
yeah #1448 aka (#1695) doesn't change that, but what it does is adding "Help Board" to that sidebar, and because of that, we moved the language switch icon to the up a bit, but it won't fix this issue for all screen sizes.

[2020-10-29 00:35] #1684 closed, assigned to nobody

[2020-10-29 00:35] #1691 closed, assigned to nobody

[2020-10-29 20:17] nivetheatha opened #1719 "[Mobile-Android]User does more than 15 comments in a post for the first time then show more/show less is not working"
Environment-Staging
Device used -Samsumg Galaxy s8
Browser-Google chrome
Steps to create
1.Login with valid user name and password.
2.Go to the profile.
3.Click on a post.
4.Post 15 comments on the post.
5.click on "show less comments"
6.Click on "show more comments"
Expected Result:
List of comments has to expand and show all the comments.
Actual Result:
List is not expanding and not showing all

[2020-10-30 11:38] joshmorel opened #1722 "Enable Multiple Auth Providers"
We need an ability to use multiple authentication providers - Auth0, Silkey, mock for local, maybe more.

We need to decouple some of our user/authentication logic from Auth0.

[2020-10-30 17:43] Zaydme opened #1723 "Use query params for filters/search"
Using query parameters instead of React state to store filters & search, this will give the user share-able URLs, and help preserve the state when navigating back to feed.
example: `/feed/searchQuery=Face+Mask&searchCategory=1&objective=2&filter=eW91dHUuYmUvZFF3NHc5V2dYY1E=`

[2020-10-30 22:04] shrutigupta1981 opened #1725 "Like functionality is not working for searched output for People tab"
Staging env - Tested on Android 9 Mobile and Windows 10 laptop on Chrome Browser

https://www.hippovideo.io/video/view/6758057

[2020-10-30 22:11] shrutigupta1981 commented on #1725
Please the video if the above link is not working
[ezyzip.zip](https://github.com/FightPandemics/FightPandemics/files/5467877/ezyzip.zip)

[2020-10-30 22:12] shrutigupta1981 commented on #1725
Steps 1. Put any keyword and search
         2. Goto people tab
         3. See any person  posts
         4. Like the post

[2020-10-30 22:14] shrutigupta1981 commented on #1697
The window as shown in the snapshot needs to be scrolled every time we  need to create a post so by default we should show Post button too so the user need not scroll the Create a Post screen whenever want to create a post

[2020-10-30 22:15] shrutigupta1981 commented on #1698
Were you able to access the video?

[2020-10-30 23:17] shrutigupta1981 commented on #1697
![DefaultPostbuttonshouldbevisible](https://user-images.githubusercontent.com/72843352/97764319-72b3c780-1acb-11eb-96a2-ad1f296df532.jpg)

[2020-10-30 23:33] shrutigupta1981 commented on #1698
[Tagsremovalnotintuitive.zip](https://github.com/FightPandemics/FightPandemics/files/5468126/Tagsremovalnotintuitive.zip)

[2020-10-30 23:34] shrutigupta1981 commented on #1725
[LikenotworkingforPeoplesearchedresult2.zip](https://github.com/FightPandemics/FightPandemics/files/5468134/LikenotworkingforPeoplesearchedresult2.zip)

[2020-10-31 04:57] ddveloper commented on #781
draft PR #1727 has the code, it's doing an automatically linking right now, depends on the project design, we can fine-tune it.

[2020-11-01 00:27] todo[bot] opened #1729 "Add daily, weekly, biweekly Cloudwatch rules"
https://github.com/FightPandemics/FightPandemics/blob/1e8fb52e064504ba8bb62cad2067dda0ede4d983/services/notification/deploy/cloudwatch.tf#L24

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1e8fb52e064504ba8bb62cad2067dda0ede4d983 when #1720 was merged. cc @FightPandemics.

[2020-11-01 00:27] todo[bot] opened #1730 "handle frequency. For now only doing instant"
https://github.com/FightPandemics/FightPandemics/blob/1e8fb52e064504ba8bb62cad2067dda0ede4d983/services/notification/src/helpers/database-helper.js#L22-L27

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1e8fb52e064504ba8bb62cad2067dda0ede4d983 when #1720 was merged. cc @FightPandemics.

[2020-11-01 00:27] todo[bot] opened #1731 "we could consider using SES personalized emails based on templates. But I am not..."
https://github.com/FightPandemics/FightPandemics/blob/1e8fb52e064504ba8bb62cad2067dda0ede4d983/services/notification/src/helpers/mailer.js#L16-L21

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1e8fb52e064504ba8bb62cad2067dda0ede4d983 when #1720 was merged. cc @FightPandemics.

[2020-11-01 00:27] todo[bot] opened #1732 "need to come up with algorithm to go through user's notifications, and then come..."
https://github.com/FightPandemics/FightPandemics/blob/1e8fb52e064504ba8bb62cad2067dda0ede4d983/services/notification/src/helpers/template-builder.js#L38-L43

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1e8fb52e064504ba8bb62cad2067dda0ede4d983 when #1720 was merged. cc @FightPandemics.

[2020-11-01 00:27] todo[bot] opened #1733 "Email Notification Lambda - localize "email" string"
https://github.com/FightPandemics/FightPandemics/blob/1e8fb52e064504ba8bb62cad2067dda0ede4d983/services/notification/src/models/share-medium.js#L2-L7

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1e8fb52e064504ba8bb62cad2067dda0ede4d983 when #1720 was merged. cc @FightPandemics.

[2020-11-01 00:27] todo[bot] opened #1734 "handle frequency - immediate, daily, weekly, bi-weekly"
https://github.com/FightPandemics/FightPandemics/blob/1e8fb52e064504ba8bb62cad2067dda0ede4d983/services/notification/src/service.js#L19-L24

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1e8fb52e064504ba8bb62cad2067dda0ede4d983 when #1720 was merged. cc @FightPandemics.

[2020-11-01 00:27] todo[bot] opened #1735 "Notification Lambda - optimize by promise batching, or break out to separate Lambda"
https://github.com/FightPandemics/FightPandemics/blob/1e8fb52e064504ba8bb62cad2067dda0ede4d983/services/notification/src/service.js#L34-L39

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1e8fb52e064504ba8bb62cad2067dda0ede4d983 when #1720 was merged. cc @FightPandemics.

[2020-11-01 00:43] JayashreeSamantasinghar opened #1736 "Messages in "check your inbox" is incorrect or confusing for unregistered user in" forgot password "scenario"
Environment-staging
Browser - Google Chrome
Device - Windows10 laptop

Steps followed-
1.Unregistered user clicks SignIn
2.clicks forgot password button
3.provide valid emailID which is not registered
4.submit button enabled
5.User clicks submit
6."https://staging.fightpandemics.work/auth/check-email" webpage appear with message "check your inbox"

"If an account is associated with Jayas.samanta@g

[2020-11-01 01:38] mannykary opened #1737 "Daily/Weekly/Biweekly Digest Email Notifications"
Notes are based on the discussion we had in the 10/31 meeting with the Notifications team.

@CamilaArias @nfranklin9 Please edit/correct or add to my notes, and also add any sample templates/copy for the emails.

* Send digest email notifications for daily, weekly, and biweekly frequencies, which will contain an aggregation of all notifications received by the recipient over that time period (both

[2020-11-01 01:46] mannykary opened #1738 "Notifications - deduplicate likes on a single post by the same user"
Currently users are able to like/unlike a post repeatedly, which would create a distinct notification record for each like action. As a result, the recipient will receive three notifications, which is not ideal. We should deduplicate on a database level by adding a _unique compound partial index_ on the Notification model:

Compound index: https://docs.mongodb.com/manual/core/index-compound/
Parti

[2020-11-01 03:12] shrutigupta1981 commented on #1599
C to be in Caps and Close button text -> Bold
I think message not sent seems to be more appropriate than not successfully sent
its not sent at all so successfully here seems odd
![image (2)](https://user-images.githubusercontent.com/72843352/97794312-5be99f80-1bb5-11eb-9780-39361114972c.png)

[2020-11-01 17:55] #1622 closed, assigned to mathigayathri2001

[2020-11-01 18:14] rabbi08 commented on #1613
@adorapham great documentation. Thanks.

Adding below points to the list:
- For Search: While searching 1, 2 and 3 letter word search, the result will display the exact match i.e. full match, if any.
But, for 'search keyword>3' will display partial match too along with exact match. if any.
For e.g. Search 'Hil' no result, search for 'Hilf' will display the nearest matching post.

- The partial sea

[2020-11-01 22:54] mannykary opened #1739 "Refactor Notification Preferences schema"
As I was working on the logic for email digests in the Notification Lambda, I realized that our preferences schema is not ideal and is adding unnecessary complexity. Based on our [Slack discussion](https://fightpandemics.slack.com/archives/C018ZNAD62Y/p1604263168320500), we came to the following conclusions:

* DMs (`message`) should not be included in digest emails; they should only trigger insta

[2020-11-01 22:56] mannykary opened #1740 "Add commentText to Notification schema"
We need to include the truncated comment text in email notifications, so add a `commentText` field that will contain the truncated text of the comment.

[2020-11-01 22:58] mannykary opened #1741 "Instant Email Notifications for Direct Messages"
@Zaydme to add details on how to query for new DMs to send emails for.

[2020-11-02 01:22] #1739 closed, assigned to ddveloper

[2020-11-02 05:12] adorapham commented on #1613
Thank @rabbi08. I update yours in 22 and 23.

[2020-11-02 14:58] #1708 closed, assigned to smitham50, tseringn

[2020-11-02 17:48] Zaydme opened #1745 "Mobile search box breaks with international languages"
When the search category label is so long on mobile, the search box breaks to multiple lines, this is the case for some languages.
![image](https://user-images.githubusercontent.com/46847212/97901081-f07e0a00-1d3b-11eb-99d9-6c0d2720040f.png)
and other problem with translation not updating
![ezgif com-gif-maker](https://user-images.githubusercontent.com/46847212/97908401-ef060f00-1d46-11eb-8ba1-eb3

[2020-11-02 23:08] Zaydme commented on #1741
Email notifications for DMs can be achieved by querying the `threads` collection,
- looking for `participants.id` equal to user.id (`participants` is an array of objects, probably not the most efficient)

in the **matching** participant
- WHERE `newMessages` (`Number`) is greater than 0
- AND `lastAccess` (`Date`) is older than whatever the "instant" emails delay is.
- IF `status` is "accepted", j

[2020-11-03 10:40] tejasm2 opened #1748 "Messaging[Desktop][Mobile]: Re-designs profile (Individual/Organization) and add Message button on profiles."
As a user,
Given that I am on the profile page of some other Individual or Organization,
When I click on the "Message" button,
Then I should see a pop-up modal to enter the message and send a send button.

NOTE: A message sent from the "Message" button on profile will not be attached to a Post and all the messages remain in the same conversation with that specific Individual/Organization.

Designs

[2020-11-03 12:46] #1745 closed, assigned to Zaydme

[2020-11-03 16:00] joshmorel opened #1751 "Release branch doesn't build with trailing hyphen"
This didn't work https://feature840-logic-definition-for-getting-.fightpandemics.xyz/

From [Wikipedia](https://en.wikipedia.org/wiki/Domain_name):

[2020-11-03 16:23] #1698 closed, assigned to mathigayathri2001

[2020-11-03 21:09] Latha-AP commented on #1723
User opted for not sharing the location.
but while searching it is allowing to show the address and showing results accordingly

![search1](https://user-images.githubusercontent.com/72217779/98040749-a9445780-1dd5-11eb-9e18-a28ae80a4509.png)

![Screenshot 2020-11-03 130635](https://user-images.githubusercontent.com/72217779/98040745-a8abc100-1dd5-11eb-9c48-6d1dba4e35db.png)

[2020-11-04 01:34] shrutigupta1981 commented on #1725
Hi, Its not about like button count issue. Its the User not able to like the posts itself. #1754 needs recheck as its not fixed. Please confirm if I am correct!

[2020-11-04 01:37] shrutigupta1981 opened #1755 "Back button issue of the Browser on screen with text "show me posts from anywhere" in Laptop"
Pls look to the video:
[Twobackclicksneededinplaceofone.zip](https://github.com/FightPandemics/FightPandemics/files/5485012/Twobackclicksneededinplaceofone.zip)

[2020-11-04 02:02] shrutigupta1981 commented on #1599
Issue: Message button shown when clicking on Comment. It should have been shown besides Comment?
[MessagebuttonshownonCommentClickoncePeopletabisaccessedafterperformingsearchwithkeywordKhushi (1).zip](https://github.com/FightPandemics/FightPandemics/files/5485084/MessagebuttonshownonCommentClickoncePeopletabisaccessedafterperformingsearchwithkeywordKhushi.1.zip)

[2020-11-04 02:10] shrutigupta1981 commented on #1699
Emily Taylor:palm_tree:  7:17 AM
hi shruti, i misunderstood that the rest of the ‘share’ functionality works this way except LinkedIn. in that case, yes, please create a ticket and mark it as a bug.

Shruti Gupta  12:27 PM
Ok np. I will create one. Any specific PR or general? Kindly let me know if possible

Shruti Gupta  5:28 PM
#1699 created. :heart:
:+1:
1

[2020-11-04 02:11] mathigayathri2001 commented on #1725
Hi , Please refer enclosed GIF ,the earlier like button is not working correctly  before. After the fix like button fuctionality is working fine also user able to like the post itseslf. Once you review the GIF , if you still have clarification please let me know
![Recording-_2](https://user-images.githubusercontent.com/60233461/98060966-e8e06300-1e18-11eb-89ee-fb99dd0b4542.gif)

[2020-11-04 02:18] shrutigupta1981 commented on #1599
![Orgsearchresult_Messagebuttonclicked](https://user-images.githubusercontent.com/72843352/98061497-d6f2c600-1e00-11eb-81b4-48762226721e.png)
![image (4)](https://user-images.githubusercontent.com/72843352/98061501-d78b5c80-1e00-11eb-8d76-80df6b81b270.png)
![image (4)](https://user-images.githubusercontent.com/72843352/98061510-d9edb680-1e00-11eb-8743-4b17f2c5699b.png)
![Orgsearchresult_Messagebut

[2020-11-04 05:39] rabbi08 opened #1756 "Unable to Create Request Post as the visibility dropdown not working for 'Requesting Help' TAB"
1. Login into STG "https://staging.fightpandemics.work" using valid email/pwd
2. Navigate to Help board and click on '+' to create post
3. in create post pop up -> Select 'Requesting Help' TAB and click to open visibility dropdown

Issue: You will observe that the visibility dropdowns are not opening.
Please note this issue works fine for ''Offering Help' TAB but exist for both mobile and Desktop

[2020-11-04 05:56] rabbi08 opened #1757 "The user avatar does not update, if avatar is uploaded from another device, unless user logout and login again."
1. Login into STG 'https://staging.fightpandemics.work' using valid credentials from Desktop
2. Navigate to user profile and upload the avatar.
3. Open FP - STG on the mobile, and user is already logged in on its mobile device with same account.

Issue: You will observe that the user avatar is not updated on the left navigation pop up, though it is already updated on the profile and post. User nee

[2020-11-04 13:05] galeza commented on #1755
@shrutigupta1981
Please add more info like browser.

[2020-11-04 13:47] galeza commented on #1736
Hi @tejasm2
Could you look at error messages suggested and come up with a new error message.
Suggestion:
_"If an account is associated with Jayas.samanta@gmail.com, you will receive an email with further instructions on how to reset the password.

If you don't see a message within a few minutes please check spam, promotions or other incoming mail folders.
If not, then you are not registered. Join

[2020-11-04 16:31] #1756 closed, assigned to Zaydme

[2020-11-04 19:28] rabbi08 commented on #1757
@manualzuru observed the same issue in PROD, but the issue doe not fix for him after logout and login.
He also uploaded the avatar from the laptop.
Below is the GIF shared by him in #testing channel.
![ezgif com-gif-maker (44)](https://user-images.githubusercontent.com/67168400/98159120-0578ab80-1eaa-11eb-8446-8ae595c85591.gif)

[2020-11-04 20:28] galeza commented on #1755
Steps:
1. Go to need-help#Step2
2. URL is: https://staging.fightpandemics.work/need-help#Step2
3. Click Back from Browser
4. URL changes to https://staging.fightpandemics.work/need-help. We stay still on the same page
5. Click Back from Browser for the second time
6. URL is https://staging.fightpandemics.work/

[2020-11-04 23:51] rabbi08 opened #1761 "Mobile-The filters get overlapped and distorted when user select location during onboarding."
1. Login into 'fightpandemics.com'
2. Navigate Medical -> location 'chicago' -> View post

Issue: You will observe that the helpboard page is extra zoom out by default and the filters are being overlapped by the bottom navigation tabs of the phone.

3. Now navigate Medical -> 'Show me posting from anywhere'
You will observe that user land on Helpboard page and filters are displayed as expected whe

[2020-11-04 23:59] rabbi08 commented on #1761
Please note this issue exist in PROD but not in STG, looks like this might be related to some zoomed in/out data. If user explicitly, zoom in, the page is normal.

[2020-11-05 20:24] nivetheatha opened #1765 "[Mobile-Android]Question no 2 from inial flow is not enabled in the filter"
Environment--Staging
Browser-Google chrome
Device used--Samsung Galaxy s8
1.click Request help.
2.click medical.
3.provide location/show posts from anywhere
4.check filter
Expected result:
All the details got from the user should be enabled in the filter.
Actual result:
Medical supplies is not enabled in the type.
![GIF-201105_151341](https://user-images.githubusercontent.com/41587211/98292432-b35

[2020-11-05 20:32] nivetheatha opened #1766 "[mobile-Android]After the onboarding, If we click clear filter offer filter/Request help is not cleared."
Environment -Staging
Browser-Google chrome
Device used -Samsung Galaxy s8
1.click request help.
2.click medical.
3.provide address.
4.check filter.
5.click on clear filter.
Expected result
All the details in the filter should cleared.
Actual result
Request help /Offer help is still enabled.
![GIF-201105_151152](https://user-images.githubusercontent.com/41587211/98293288-0e39b200-1f7c-11eb-8283-fd2

[2020-11-05 20:35] nivetheatha commented on #1766
Environment-production
Issue exists In production as well.

[2020-11-05 20:36] nivetheatha commented on #1765
Environment-production
Issue exists in production as well.

[2020-11-08 14:46] #1740 closed, assigned to Zaydme

[2020-11-08 15:18] joshmorel commented on #1765
Thanks @nivetheatha

I've checked and it seems this will be resolved by #1728

[2020-11-08 19:27] todo[bot] opened #1772 "remove this before merging to staging"
https://github.com/FightPandemics/FightPandemics/blob/5ef46f5e58525a50d0aae35d4b92e309a732b220/.github/workflows/review-notification-service.yml#L8-L11

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5ef46f5e58525a50d0aae35d4b92e309a732b220 when #1770 was merged. cc @FightPandemics.

[2020-11-08 19:27] todo[bot] opened #1773 "Localize email notifications"
https://github.com/FightPandemics/FightPandemics/blob/5ef46f5e58525a50d0aae35d4b92e309a732b220/services/notification/src/helpers/template-builder.js#L178-L183

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5ef46f5e58525a50d0aae35d4b92e309a732b220 when #1770 was merged. cc @FightPandemics.

[2020-11-08 19:39] #1737 closed, assigned to mannykary

[2020-11-08 19:40] #1738 closed, assigned to Zaydme

[2020-11-08 22:44] #1427 closed, assigned to ddveloper

[2020-11-09 03:41] mannykary commented on #1741
Currently in progress.

[2020-11-09 22:05] Zaydme commented on #1725
## this is NOT an issue :rotating_light:
What you are seeing in the "People" (and "Organizations") tab is **NOT** a post, it's a user card, a mini version of a user profile showing their name and their "about" section.
![image (1)](https://user-images.githubusercontent.com/46847212/98601884-918a3900-22d7-11eb-809a-1cc882e30f28.png)
#### think of it like this:
![image](https://user-images.githubuse

[2020-11-09 22:18] rabbi08 commented on #1725
Actually @Zaydme
the issue is when you navigate to user post from 'People' then on that post user is not able to click 'Like' but can comment.
see this GIF

The user is able to like his own post but not other users.
![test1](https://user-images.githubusercontent.com/67168400/98602999-5b38c380-22af-11eb-9f0b-0b86572b759a.gif)

[2020-11-09 22:26] Zaydme commented on #1725
Ayyy :joy:
Thanks for the clarification @rabbi08

[2020-11-10 19:13] #1723 closed, assigned to Zaydme

[2020-11-10 19:13] #1765 closed, assigned to nobody

[2020-11-10 19:20] #1483 closed, assigned to wadehrarshpreet, kterry1, sujatha-m

[2020-11-10 19:21] #1636 closed, assigned to sujatha-m

[2020-11-10 20:48] rabbi08 opened #1777 ""About Us" page -> 'Get involved' button overlap the text when page is translated."
1. Open https://staging.fightpandemics.work/
2. Navigate to 'About Us' page and Switch the language to 'German'

Issue: You will observe that the 'Get Involved' button overlap the text as shown in below screenshot.
This issue exist when user switch to 'German. Polish, Spanish'

![image](https://user-images.githubusercontent.com/67168400/98731643-05762100-236c-11eb-89f6-d8f65d344e81.png)

[2020-11-10 21:36] #1777 closed, assigned to wadehrarshpreet

[2020-11-11 03:09] nivetheatha opened #1781 "Unsigned user clicks on create post then after login it leads to home page instead of create post page."
Environment : staging
Device used:Samsung Galaxy s8
Browser:Google chrome
1.As a  unsigned user go to help board.
2.click on plus symbol to create post.
3.Redirected to login page.
4.provide valid user name and password and click sign in.
Expected result:
It lands on post creation page.
Actual result:
It lands on home page.

[2020-11-11 03:22] mannykary commented on #1773
We will need to store the user's locale preference in the db.

[2020-11-11 03:23] #1734 closed, assigned to nobody

[2020-11-11 03:24] mannykary commented on #1733
Related to #1773

[2020-11-11 03:25] #1732 closed, assigned to nobody

[2020-11-11 03:25] #1729 closed, assigned to nobody

[2020-11-11 03:25] #1730 closed, assigned to nobody

[2020-11-11 03:26] mannykary commented on #1735
It will probably be more scalable to use SQS + another Lambda, so the current Notification Lambda can just be responsible for polling for unreads and aggregating for digests.

[2020-11-11 03:27] mannykary commented on #1731
Won't do

[2020-11-11 03:27] #1731 closed, assigned to nobody

[2020-11-11 17:45] todo[bot] opened #1785 "el mundo.","
https://github.com/FightPandemics/FightPandemics/blob/2a43825cf51e4ad56d1424c3c8858092023b9d17/client/src/locales/translations/es_ES.json#L368-L373

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 2a43825cf51e4ad56d1424c3c8858092023b9d17 when #1784 was merged. cc @FightPandemics.

[2020-11-11 17:45] todo[bot] opened #1786 "no permitido","
https://github.com/FightPandemics/FightPandemics/blob/2a43825cf51e4ad56d1424c3c8858092023b9d17/client/src/locales/translations/es_ES.json#L733-L738

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 2a43825cf51e4ad56d1424c3c8858092023b9d17 when #1784 was merged. cc @FightPandemics.

[2020-11-11 17:45] todo[bot] opened #1787 "no permitido","
https://github.com/FightPandemics/FightPandemics/blob/820550595b8b8ed0173b2e26c381acd4b08ada49/client/src/locales/translations/es_ES.json#L733-L738

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 820550595b8b8ed0173b2e26c381acd4b08ada49. It&#x27;s been assigned to @jyclam because they committed the code.

[2020-11-11 18:13] rabbi08 opened #1788 "About Us - The label for 'contact us email' need to be in sync for all languages."
1. Login into 'staging.fightpandemics.work' and navigate to 'About Us' page.
2. Scroll down on 'about Us' page to view the 'contact email'

Issue: You will observe that for en_US i.e. American English, the label for 'contact Us' email is 'Contact us at:' but for all the other languages it is 'Or contact us at:'
To keep the label in sync we need to update 'en_US language context. Also, currently in

[2020-11-11 19:58] nivetheatha commented on #1781
Environment production
It works the same way as staging.

[2020-11-12 00:38] mannykary opened #1789 "Notification Lambda - add List-Unsubscribe header to emails"
https://blog.mailtrap.io/list-unsubscribe-header/

We need to add the header to the email. The AWS SDK only allows adding headers for sendRawEmail, which is not very easy to use out of the box. Nodemailer make this easier by wrapping their API: http://nodemailer.com/transports/ses/

Setting headers in Nodemailer: https://nodemailer.com/message/custom-headers/

We should set the List-Unsubscribe he

[2020-11-12 01:23] rabbi08 opened #1790 "About Us- The linked pages like privacy policy, should have focus on the top of the page not the end when load."
1. Login into 'fightpandemics.com' and navigate to 'About Us' page
2. Navigate to the bottom of the page and click on 'Privacy Policy' link

Issue: You will observe that privacy page open but the user application focus is on the bottom of the privacy policy.
So with 'terms and condition, cookie policy, FAQ or 'About Us' page itself'
Refer below GIF.

Expected Result: after user click to view other

[2020-11-12 02:59] shrutigupta1981 opened #1791 "Notification -> The Mobile Browser daily digest mail ->edit notification preferences and unsubscribe text is very light"
![Screenshot_20201111-182647](https://user-images.githubusercontent.com/72843352/98889798-76dad000-244f-11eb-920a-b92cf668e959.jpg)
 Attaching to compare with Laptop Gmail Browser appearance
![image](https://user-images.githubusercontent.com/72843352/98889886-a689d800-244f-11eb-80b6-543d196092d4.png)

[2020-11-12 03:06] shrutigupta1981 opened #1792 "Notification-> The message when clicked on Cancel button given at Unsubscribe Screen should be more user friendly"
![Screenshot_20201111-181901](https://user-images.githubusercontent.com/72843352/98890334-96262d00-2450-11eb-8fb9-a3e919f81d8a.jpg)

[2020-11-12 03:29] ddveloper commented on #1792
any suggestions? how about "Notification update is canceled"?

[2020-11-12 03:32] shrutigupta1981 commented on #1792
Please contact @CamilaArias or @nfranklin9

[2020-11-12 03:35] shrutigupta1981 opened #1794 "Notification-> The Web App notifications doesnt has scroll so not able to see all notifications after certain number"
![image](https://user-images.githubusercontent.com/72843352/98892328-f74fff80-2454-11eb-9a44-13e4f160e2b7.png)

[2020-11-12 04:44] shrutigupta1981 opened #1796 "Notification-> The Organisation doesnt has Notification preferences in its profile like Individual has. Both need to have their own notification preferences."
Individual has
![image (6)](https://user-images.githubusercontent.com/72843352/98896650-56664200-245e-11eb-8d6c-cf7b223b124d.png)

Organisation hasn't
![image (7)](https://user-images.githubusercontent.com/72843352/98896715-7eee3c00-245e-11eb-8b11-aab81f7510c8.png)

[2020-11-12 04:50] shrutigupta1981 opened #1797 "Notification-> Organisation get email notifications though it doesnt has any notification preferences. Ideally it shouldnt have got any email notification only"
URL: https://featurenotifications.fightpandemics.xyz/
1. Individual logins and find the Organization posts through Help Board
2. He shares, likes, comments the posts
3. That Organisation checks his mailbox to see if any notifications there for him

**Actual Result: Organisation receives emails in his mailbox**

**Expected result: Organisation shouldnt get any email notifications as he doesnt has a

[2020-11-12 04:55] shrutigupta1981 opened #1798 "Notification-> Organisation received six emails when Individual commented on his posts 6 times within a span of few minutes. Is it possible to consolidate it or just put comment counts with latest or first comment so only One Email is fired in this case?"
![image](https://user-images.githubusercontent.com/72843352/98897344-0d16f200-2460-11eb-8d52-57f9a4b3a5ab.png)

[2020-11-12 05:02] shrutigupta1981 opened #1799 "Notification-> Email notifications disabled and than enabled again. User has to manually check each option. Lets just not clear the checks."
When I disable Email notifications, Is it possible to show disabled view but checked not removed so that once I enable it, all checks remain intact and I as user dont have to do that exercise manually?

**Disabled View**
![image](https://user-images.githubusercontent.com/72843352/98897819-23717d80-2461-11eb-88dd-27a847e2cdcc.png)

**Enabled view**
![image](https://user-images.githubusercontent.com

[2020-11-12 05:07] shrutigupta1981 commented on #1798
**Post ID**

https://featurenotifications.fightpandemics.xyz/post/5fac863a7c7e6d0011bb5974

[2020-11-12 05:07] shrutigupta1981 commented on #1799
Dawei Zhang  29 minutes ago
yes Shruti, that's doable

[2020-11-12 05:12] shrutigupta1981 commented on #1797
**Post URL**
https://featurenotifications.fightpandemics.xyz/post/5fac863a7c7e6d0011bb5974

[2020-11-12 06:36] shrutigupta1981 commented on #1794
URL : https://featurenotifications.fightpandemics.xyz/
Issue in Web App only

Steps:
Login to URL and and click on bell Icon

**Actual Result: Web App doesn't has scroll button for Notifications**

**Expected Result: Web App should have scroll button to navigate and click on any of the notifications****

[2020-11-12 06:42] shrutigupta1981 commented on #1791
URL : https://featurenotifications.fightpandemics.xyz/
Issue in Mobile- Browser only

Steps:
1. Login to URL and click on Help Board
2. Search the Post and like, share, comment
3. Login into mail of User whose post has been liked, shared and commented
4. See for daily digest mail

**Actual Result: The text is almost invisible in Mobile but clearly visible in Laptop Browser**

**Expected Result: Th

[2020-11-12 06:46] shrutigupta1981 commented on #1792
URL : https://featurenotifications.fightpandemics.xyz/

1. Login to Mailbox to check email notifications
2. Click on Edit Notifications Preferences or Unsubscribe link
3. Now, click on Cancel button

**Actual Result: Operation is canceled**

**Expected Result: More User friendly**

[2020-11-12 06:46] shrutigupta1981 commented on #1792
Cami Arias  3 hours ago
"No changes will be made to your notification preferences." for the cancel button
:+1:
1

[2020-11-12 06:52] shrutigupta1981 commented on #1796
URL : https://featurenotifications.fightpandemics.xyz/

Steps:

1. Login as an Individual
2. Click on Profile and My Profile
3. Click on Edit button
4. Notice the Edit Notification option given
5. Now, again click on Profile, Organisation, Organisation added
6. Click on Edit button

**Actual Result: No Edit Notification  option given**

**Expected Result: Edit Notification option should be given s

[2020-11-12 07:01] shrutigupta1981 commented on #1798
Relevant Post ID URL: https://featurenotifications.fightpandemics.xyz/post/5fac863a7c7e6d0011bb5974

Steps

1. Login into given URL and search for posts in Help Board
2. Write your comments five-six times on the same post within a minute or so
3. Now login to the mailbox of the Organisation/Individual who has written above post.
4. Check the email notifications

**Actual Result: Six emails with si

[2020-11-12 07:05] shrutigupta1981 commented on #1799
URL: https://featurenotifications.fightpandemics.xyz/

Steps:
1. Login and click on Profile
2. Click on My Profile
3. Click on Edit button
4. Click on Edit Notification
5. Toggle off Email Notification
6. Toggle on Email Notification again

**Actual Result: The Email Notifications preferences checks also gets cleared when Email Notification is disabled**

**Expected Result: The Email Notifications

[2020-11-12 08:00] Zaydme commented on #1797
I think all we need to do is add the notifications preferences link to the organization profile.
cc @ddveloper

[2020-11-12 08:00] Zaydme commented on #1794
@shrutigupta1981 this was fixed, please check and confirm.

[2020-11-12 08:03] #1792 closed, assigned to mannykary, ddveloper, Zaydme

[2020-11-12 08:04] Zaydme commented on #1796
Same solution as #1797

[2020-11-12 08:06] #1791 closed, assigned to mannykary, ddveloper, Zaydme

[2020-11-12 08:44] Zaydme commented on #1792
@shrutigupta1981 this issue was fixed, please retest, if there was any problem feel free to reopen this ticket.

[2020-11-12 08:45] Zaydme commented on #1791
@shrutigupta1981 please reopen this ticket if the issue persists after retesting.

[2020-11-12 09:40] ddveloper commented on #1799
use localStorage for now to remember the values, fixed in PR #1801
![image](https://user-images.githubusercontent.com/44758313/98922914-e2409400-2487-11eb-8faa-a74d491ba966.png)
![image](https://user-images.githubusercontent.com/44758313/98923021-fdab9f00-2487-11eb-9c02-ea243edd29eb.png)

[2020-11-12 09:50] ddveloper commented on #1797
@Zaydme  will do

[2020-11-12 10:29] ddveloper commented on #1797
didn't think about the Organisation before, need a little more work to reuse the Notification page, and update the unsubscribe page, will do it tomorrow

[2020-11-12 12:20] galeza commented on #1790
@rabbi08
FYI I think that similar issue was reported here: https://github.com/FightPandemics/FightPandemics/issues/1372
There is also a PR open: #1571 It's still open however it was accepted by several people.

[2020-11-12 12:23] galeza commented on #1788
@tejasm2 @rabbi08
If you want to change EN-US version, let me know and I'll trigger PR from Lokalise.

[2020-11-12 16:21] rabbi08 commented on #1788
Yeah we can trigger PR to fix this.

[2020-11-12 16:25] rabbi08 commented on #1790
Looks like @sujatha-m was working on #1571
@sujatha-m Can you please pick this as well and fix both issues as they are of similar nature. Thanks

[2020-11-12 17:33] sujatha-m commented on #1790
Sure Rajbir

[2020-11-12 21:08] ddveloper commented on #1796
added preference for organisations
![image](https://user-images.githubusercontent.com/44758313/98996554-e4d2d600-24e7-11eb-9de5-54f194fe063e.png)

[2020-11-12 21:09] ddveloper commented on #1797
see #1796 for the added notification preference for organisations

[2020-11-12 21:13] ddveloper commented on #1796
note: notification check values are cleared if you toggle the switch to be `off`, this will be fixed after #1799 complete

[2020-11-12 22:37] Bhavaninalla opened #1805 "Notification: after saving preferences, it redirects to profile page"
URL : https://featurenotifications.fightpandemics.xyz/
Click user edit profile icon
Click Edit notifications
Click Save changes button
After clicking save changes it redirects to the user profile page instead of staying on the same page.
![ezgif-4-39fdbe6700dc](https://user-images.githubusercontent.com/72236992/99004566-28334180-24f4-11eb-9a42-0c04d64538bc.gif)

[2020-11-13 00:08] jessica-lau opened #1806 "Set Maximum Character Limit User is Allowed to Enter in Feedback Responses"
**Environment:** https://staging.fightpandemics.work/

**Steps to reproduce:**

- Click the feedback icon on the top right of the homepage when user is not signed in.

- Answer question on screen 1. When user reaches screen 2, enter as many characters in the response fields as the user wants. When user reaches screen 3, enter as many numbers in the age response field as the user wants. Submit feed

[2020-11-13 00:29] jessica-lau opened #1807 "Backend API Validation Not Returning Correct Status Code and Message"
**Path:** https://staging.fightpandemics.work/api/feedback

**1.** Incorrect status code and message are being returned on the backend when a zero, negative integer or large integer is the value for "age". The correct status code should be a 400 Bad Request with an error message of something like "body.age should be positive integer".

![image](https://user-images.githubusercontent.com/56090896/99

[2020-11-13 03:37] ddveloper commented on #781
the basic version is done, ready for review.
one note: not sure how we're going to QA this feature, will need Auth0 account delete to repeat tests.

[2020-11-13 04:12] ddveloper commented on #1805
@Bhavaninalla I noticed it's the same behavior as the other 2 settings, `Edit Account` and `Edit Profile`, right?

[2020-11-13 04:27] mannykary commented on #1805
@CamilaArias @nfranklin9 what should the expected behavior be here? As @ddveloper mentioned, the behavior is the same as when saving in "Edit Account" and "Edit Profile", so saving on this page should mimic that behavior right?

[2020-11-13 04:30] mannykary commented on #1798
@CamilaArias @nfranklin9 Would this be something we want to implement for the MVP launch on December 5th, or would this be something we can tackle afterwards?

[2020-11-13 04:34] Bhavaninalla commented on #1805
Yes

On Thu, 12 Nov 2020, 20:12 Dawei Zhang <notifications@github.com> wrote:

[2020-11-13 05:29] Latha-AP opened #1808 "notifications"

[2020-11-13 05:32] #1808 closed, assigned to nobody

[2020-11-13 07:40] shrutigupta1981 commented on #1794
Tested and scroll there now 👍

![image](https://user-images.githubusercontent.com/72843352/99041761-5b032700-2540-11eb-809f-89dedb846b8e.png)

[2020-11-13 07:40] #1794 closed, assigned to mannykary, ddveloper, Zaydme

[2020-11-13 07:44] shrutigupta1981 commented on #1796
**Tested**

![image](https://user-images.githubusercontent.com/72843352/99042022-d82e9c00-2540-11eb-837f-f5e7338462c8.png)

**Preferences:**

![image](https://user-images.githubusercontent.com/72843352/99042045-e54b8b00-2540-11eb-9135-3872b76eb763.png)

[2020-11-13 07:44] #1796 closed, assigned to mannykary, ddveloper, Zaydme

[2020-11-13 07:55] shrutigupta1981 commented on #1799
Tested. Working for Individual. Email Settings are not getting off for Organisation.

Steps:
1. Go to Organisation
2. CLick on Edit button
3. Toggle off the Email Notifications
4.CLick on Save Changes button
5. Again, click on Edit button
6. Email Notification Settings On only

**Actual Result: Email Notification Settings are on for Organisation**
**Expected Result: Email Notification Settings sho

[2020-11-13 08:00] shrutigupta1981 commented on #1797
My point is when we didnt add any notification preferences for Organisation than how mail triggered?

[2020-11-13 08:09] shrutigupta1981 commented on #1798
**Same case for Notifications also**

![image](https://user-images.githubusercontent.com/72843352/99044322-6fe1b980-2544-11eb-8eb6-e942092d4386.png)

[2020-11-13 08:11] shrutigupta1981 commented on #1797
Shruti Gupta  1 hour ago
@Shruti Gupta the reason organisation got email is because they have default preference setting, which are all @Dawei Zhang In front end, where are the email notifications settings for Organisation? No where than emails shouldnt have triggered right? When Email notification settings doesn't exist for Organisation than how emails triggered?

New

Dawei Zhang  < 1 minute ago

[2020-11-13 08:11] #1797 closed, assigned to mannykary, ddveloper, Zaydme

[2020-11-13 08:14] ddveloper commented on #1799
yes @shrutigupta1981 , when I fixed the individual settings, the organisations' preference was not ready, now I can fix the organisation part

[2020-11-13 08:33] shrutigupta1981 commented on #1792
**Tested**
![image](https://user-images.githubusercontent.com/72843352/99046548-c13f7800-2547-11eb-8e53-f1b835677e53.png)

[2020-11-13 08:54] shrutigupta1981 commented on #1791
**Tested**

![Screenshot_20201113-004407 (2)](https://user-images.githubusercontent.com/72843352/99048640-ac181880-254a-11eb-99e2-bbfc69fa3388.jpg)

[2020-11-13 09:10] ddveloper commented on #1799
![image](https://user-images.githubusercontent.com/44758313/99050133-960b5780-254c-11eb-9152-f20bd02e7c18.png)
#1809 fixed this

[2020-11-13 12:09] galeza commented on #1788
@rabbi08

We need to change href attribute! We still have here admin@fightpandemics email. So when users clicks on contact links in the email he has admin@fightpandemics:
![Screen Shot 2020-11-13 at 13 06 24](https://user-images.githubusercontent.com/21987083/99070844-4c088d00-25b1-11eb-9bc9-36c26f4074b3.png)

It's on Prod. Please prioritise.

[2020-11-13 14:07] galeza commented on #1788
@Jameel139
This issue will trigger a change in the Lokalise Key - we will change EN-US text.

[2020-11-13 17:30] ddveloper commented on #1788
@galeza if we merge #1811 , there will be one `en_US` value change, i.e. `Contact us at: ` to `Or contact us at: ` (while all the translations may stay the same)
![image](https://user-images.githubusercontent.com/44758313/99102392-ddb4d200-2592-11eb-97ac-be643f0c5f67.png)

[2020-11-13 19:39] Zaydme opened #1814 "Translation: Add 7 new languages"
### New 7 languages to be added:
| Language           | ISO code | GTM |
|--------------------|----------|------|
| Chinese Simplified | zh_CN  | _ZN_CN |
| French             | fr       | _FR |
| Kannada (India)    | kn_IN | _KN_IN |
| Malay (Malaysia)   | ms_MY | _MS_MY |
| Telugu (India)     | te_IN | _TE_IN |
| Turkish            | tr       | _TR |
| Vietnamese         | vi       | _VI |

[2020-11-13 20:21] galeza commented on #1788
@rabbi08
May I close this issue? PR was merged?

[2020-11-13 20:21] nfranklin9 commented on #1798
@mannykary @shrutigupta1981 This is not in the original requirements, so it would be ok to wait until after the MVP launch. It's best to not add new items so close to the staging deadline. However, Manny, if you have time to investigate how much time this would take and you find that it would be quick to consolidate or group the rapid comments, then we could make this an optional/low priority item

[2020-11-13 20:35] rabbi08 commented on #1788
yeah @galeza
closed. thanks

[2020-11-13 20:35] #1788 closed, assigned to ddveloper

[2020-11-13 20:43] nfranklin9 commented on #1805
@mannykary Yes, it should mimic that behavior. But can this be changed before the staging deadline this weekend?

[2020-11-13 22:39] #1814 closed, assigned to Zaydme

[2020-11-14 01:40] mannykary commented on #1805
Then this is not a defect since the behavior is as expected. Closing the ticket.

[2020-11-14 01:41] #1805 closed, assigned to ddveloper

[2020-11-14 07:02] ddveloper opened #1818 ""Get Involved" on "About Us" page has no translation key at all"
![image](https://user-images.githubusercontent.com/44758313/99141833-e396cb80-2603-11eb-8d8d-8c0187fdf9be.png)
![image](https://user-images.githubusercontent.com/44758313/99141849-06c17b00-2604-11eb-9c3d-d5d2f761f1ba.png)

[2020-11-14 08:02] ddveloper commented on #1818
@Jameel139 @rabbi08   this will trigger 6 new keys in the Lokalise

[2020-11-14 13:14] #1818 closed, assigned to ddveloper

[2020-11-14 16:15] #1781 closed, assigned to OzkanAbdullahoglu

[2020-11-14 16:23] joshmorel commented on #1781
@nivetheatha we reviewed the code and it seems to have fully resolve the issue so went ahead and merged. If you can confirm in staging that would be great.

[2020-11-14 19:39] #1712 closed, assigned to sujatha-m

[2020-11-14 21:41] nivetheatha commented on #1781
@joshmorel sure will do.

[2020-11-15 04:09] mannykary commented on #1798
I would rather not introduce a regression this close to the staging deadline, so I'm going to play it safe and do this as an enhancement for after the launch. It's possible that I might have this done next weekend, but it obviously won't make it into the MVP launch.

[2020-11-15 13:07] Zaydme opened #1824 "Notification: web notifications dates need internationalization."
The receive date of the web notifications is displaying non-user-friendly English-only dates. will need to be made more readable and internationalized.

steps:
- switch language to something other than English.
- open the web notifications dropdown.

expected results:
- The notifications dates should be translated.

Actual results:
- Shows English only dates.

![image](https://user-images.githubus

[2020-11-15 15:12] #782 closed

[2020-11-15 16:04] #1389 closed, assigned to jeremylin8

[2020-11-15 16:07] #1498 closed, assigned to OzkanAbdullahoglu

[2020-11-15 17:28] rabbi08 opened #1827 "Navigating to any post -> Back on Help board: The users lands on the TOP of the Help board page rather than on the same post from where user start."
1. Open 'https://staging.fightpandemics.work/'
2. Navigate to Help Board -> add filter as 'provider ='Individual'
3. Scroll down and select/click any post to view/add comment to it -> Add comment -> Click 'Back' button

Issue: You will observe that user lands on the top of the Help Board page, ideally it should land on the same post/position after viewing the post.
Refer below GIF.

![ezgif com-gi

[2020-11-15 18:09] Zaydme commented on #1827
I don't have the issue above, but I have another related one, when I refresh the feed page, I find myself at the end of the posts (end of "page" 1 ) and not at the top
![ezgif com-gif-maker](https://user-images.githubusercontent.com/46847212/99192947-09dc7880-2776-11eb-8dc5-5a943d016d75.gif)

[2020-11-15 18:37] todo[bot] opened #1829 "localize"
https://github.com/FightPandemics/FightPandemics/blob/011d8a5ee15392cc01a440db6c9550be9894fbc2/services/notification/src/helpers/template-builder.js#L115-L120

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 011d8a5ee15392cc01a440db6c9550be9894fbc2 when #1821 was merged. cc @FightPandemics.

[2020-11-15 22:08] ddveloper opened #1832 "Organisation user cannot unsubscribe, return "Not Found""
Right now if trying to unsubscribe an organisation user, the page will show below "Not Found" error.

![image](https://user-images.githubusercontent.com/44758313/99198205-e00e5c00-274b-11eb-8afb-f8b3c5b67d79.png)

[2020-11-16 07:25] OzkanAbdullahoglu commented on #1827
@Zaydme I will check your founding too. I think It might be related to ScrollToTop component.
@rabbi08 I couldn't reproduce your error. I landed in the right place. But I will investigate again in the first opportunity.

[2020-11-16 07:39] OzkanAbdullahoglu commented on #1827
@Zaydme Okay, I think it is not a big deal. It is not about scrolltotop, I think I should do a better cleaning in router state. I'll check the code tonight.

[2020-11-16 14:37] nivetheatha opened #1833 "After onboarding if we click on back button its not redirecting to previous page."
Environment staging
Device used-Samsung Galaxy s8
Browser Google chrome
1.click on request help
2.click on medical
3.provide address
4.It moves to helpboard.
5.click on back button.
Expected result
It moves to the previous page
Actual result
It stays on same page.
![GIF-201116_093240](https://user-images.githubusercontent.com/41587211/99265097-4dbf9400-27ef-11eb-861d-ccd8e7fb1efd.gif)

[2020-11-16 15:48] rabbi08 commented on #1827
@OzkanAbdullahoglu
I tried again on desktop and mobile, and it is NOT working. Please see GIF from mobile and desktop.

Mobile:
![ezgif com-video-to-gif 21](https://user-images.githubusercontent.com/67168400/99274888-d8f15780-27f8-11eb-9bc8-bdad73ab9acb.gif)

Desktop:
![ezgif com-gif-maker (57)](https://user-images.githubusercontent.com/67168400/99275161-2968b500-27f9-11eb-9584-012e56158ac6.gif)

[2020-11-16 16:00] rabbi08 commented on #1827
Rested the scenario for Andriod on simulation, it is NOT working.
- Even if you do NOT add filter:

![ezgif com-gif-maker (58)](https://user-images.githubusercontent.com/67168400/99276679-e3145580-27fa-11eb-84b3-40cdfdaab839.gif)

[2020-11-16 18:47] Latha-AP opened #1834 "Notification-Web Notifications should show some difference between Individual and Organizationa."
It would be great, If we can see the difference between Individual  and organization notifications differently.
At least when I switch to Org Profile, I should be able to  see only Org Notifications..(not all

[2020-11-17 00:23] shrutigupta1981 commented on #1799
Working fine now. Tested.

[2020-11-17 00:23] #1799 closed, assigned to mannykary, ddveloper, Zaydme

[2020-11-17 00:26] shrutigupta1981 commented on #1824
Please mention actual and expected results clearly @Zaydme

[2020-11-17 00:30] Zaydme commented on #1824
@shrutigupta1981 Sorry about that, I updated the comment above.

[2020-11-17 00:48] shrutigupta1981 commented on #1824
np @Zaydme . Now I Understood . WIll check

[2020-11-17 00:50] shrutigupta1981 commented on #1824
![image](https://user-images.githubusercontent.com/72843352/99325770-d9571600-282b-11eb-97ed-4c1e18dcecf7.png)

[2020-11-17 00:53] shrutigupta1981 commented on #1824
![image](https://user-images.githubusercontent.com/72843352/99325954-2dfa9100-282c-11eb-89c6-3719315326b6.png)

[2020-11-17 00:53] #1824 closed, assigned to Zaydme, shrutigupta1981

[2020-11-17 02:21] #1594 closed, assigned to ddveloper

[2020-11-17 03:07] shrutigupta1981 commented on #1832
On and Off both working
![Screenshot_20201116-184313](https://user-images.githubusercontent.com/72843352/99341491-d6195580-283e-11eb-87bb-1c554527f8a5.jpg)
![Screenshot_20201116-184342](https://user-images.githubusercontent.com/72843352/99341511-ddd8fa00-283e-11eb-8827-7cd30b8b1e6d.jpg)
![Screenshot_20201116-184038](https://user-images.githubusercontent.com/72843352/99341522-e4677180-283e-11eb-923

[2020-11-17 03:07] #1832 closed, assigned to ddveloper

[2020-11-17 07:24] ddveloper opened #1835 "Not all user infor are necessary for the searching function, close them"
Osaigbovo and Igor discovered we have some unnecessary user information open to query

Line 139-150, should only allow necessary fields.

https://github.com/FightPandemics/FightPandemics/blob/a04509b01caa80c0bfe7c4916ed1179c3ddc3862/backend/lib/endpoints/users.js#L139

[2020-11-17 12:17] tejasm2 opened #1837 "[Desktop][Mobile]: Add banner for the Stronger Together Summit"
As a user,
Given that I am on the Landing page or Helpboard,
Then I should see a banner about the upcoming summit with "Learn More" hyperlink and "Register Now" button.
When I click on Learn More I should be taken to this [site](https://events.fightpandemics.com/) and when I click on "Register Now" button then I should be taken to this [site](https://hopin.com/events/stronger-together-summit)

Des

[2020-11-17 13:45] #1339 closed, assigned to Joeu

[2020-11-17 17:48] #1837 closed, assigned to wadehrarshpreet

[2020-11-17 19:16] skrithiga opened #1840 "Avatar Upload - Submit & Cancel button hover behavior is not consistent with the platform"
Currently, when the upload file browser opens, Submit button is highlighted. When you hover on the submit or cancel, the texxt color changes to a different shade of blue. This is inconsistent with the hover behavior of the platform.
![image](https://user-images.githubusercontent.com/5383010/99435814-aae64300-28de-11eb-9695-c6eb3c890b11.png)

In this image, the default hightlighted button is Post.

[2020-11-17 19:30] skrithiga opened #1841 "Edit & Delete commen's UI should be an ellipsis instead of individual buttons"
Currently, the comment section in a post has edit & delete as buttons.
![image](https://user-images.githubusercontent.com/5383010/99438033-3f51a500-28e1-11eb-93f5-d29910dbcca2.png)

It needs to be an ellipsis with the edit and delete as a menu bar.
![image](https://user-images.githubusercontent.com/5383010/99437988-2f39c580-28e1-11eb-93a5-19b1ce21844a.png)

[2020-11-17 20:11] OzkanAbdullahoglu commented on #1827
Hi,  this is for desktop, can I have a little help here? I couldn't reproduce the error in chrome, @Zaydme  what about you?

![2020-11-17_23-07-27](https://user-images.githubusercontent.com/34690158/99442170-01c53a00-292a-11eb-9ad1-c7105adeba57.gif)

[2020-11-17 20:23] Zaydme commented on #1827
@OzkanAbdullahoglu same, I am still unable to reproduce this issue, on both mobile and desktop.

[2020-11-17 20:25] rabbi08 commented on #1827
I got the issue @OzkanAbdullahoglu
The issues occur if user clicks on 'comment' -> add comment -> Back -> user does  NOT lands on same post on Help Board
But if user click on the post -> add comment -> Back -> user lands on the same post on help board

Refer below GIF.
![ezgif com-gif-maker (60)](https://user-images.githubusercontent.com/67168400/99443654-1af9c680-28e9-11eb-9bbf-337f0ea8f0fa.gif)

[2020-11-17 20:33] OzkanAbdullahoglu commented on #1827
Yes, now I realised too. Finally 😌

[2020-11-17 20:36] Zaydme commented on #1827
That makes so much sense now.

[2020-11-17 21:05] #1436 closed, assigned to shalinidc

[2020-11-17 21:05] #1470 closed, assigned to joshmorel

[2020-11-17 21:05] #1493 closed, assigned to joshmorel

[2020-11-17 21:05] #1725 closed, assigned to mathigayathri2001

[2020-11-17 21:07] rabbi08 opened #1843 "Switch Profile -> Individual profile user can EDIT/DEL the post, posted as an ORG and vice-versa."
As per the requirements mentioned in PR #1436 missed to be added in PR #1767

"user should only edit or delete what is based on that profile- Indiv or org. If indiv, I can only edit or delete posts I made as an indiv.

If org, I can only edit or delete posts made by that org.

If user has more than one org, they have to be acting as same org that created post to edit or delete."

Need to add this

[2020-11-17 22:58] rabbi08 opened #1847 "Feedback-> the rating for the feedback gets default selected.[Mobile]"
1. Login into 'https://staging.fightpandemics.work' on mobile.
2. Click on ''Feedback' in the side navigation bar.
You will observe that no default feedback rating is selected , as expected.

3. Now login using valid username/pwd
4. Click on 'Feedback' in the side navigation bar.
Issue: You will observe that '4' is selected as default feedback rating.

Refer below GIF.
![ezgif com-video-to-gif 28]

[2020-11-17 23:13] rabbi08 opened #1848 "Switch Org -> in profile menu -> No scroll bar if more Org exist for user"
1. Open 'https://staging.fightpandemics.work/'
2. Login as user having more than 10 Orgs under their account.
3. click on profile icon -> Switch Account

Issue: You will observe that user is unable to view/scroll the Organization at the end. there should be scroll if user is having more Orgs.

Refer below screenshot.
![image](https://user-images.githubusercontent.com/67168400/99461458-dfb6c200-28f

[2020-11-18 00:43] shrutigupta1981 commented on #1741
https://featurenotifications.fightpandemics.xyz/post/5fb46a8ae50b38001183f07a

I didnt get any email for pending status. Just got one email for message thing after clicking on Accept button though send many messages. Please check.

[2020-11-18 00:45] nivetheatha opened #1849 "Able to create post for organization when in individual profile account and vice versa."
Environment- staging
Browser -Google chrome
Device used-Samsung Galaxy s8
1.login with valid user name and password
2.click on switch account.
3.click on any organization profile.
4.click on create post as individual.
Expected result
It should not allow user to create post for individual when they are in organization account.
Actual result
It allows to create post for individual when they are in o

[2020-11-18 00:45] shrutigupta1981 commented on #1741
![image](https://user-images.githubusercontent.com/72843352/99467969-5948b300-28f4-11eb-99e3-8848523b0b9f.png)

[2020-11-18 00:46] rabbi08 opened #1850 "About Us- The button/text open after user clicks on 'Get involved' button pop up need to be adjusted to fit international languages."
1. open 'https://staging.fightpandemics.work/' and switch to 'French' language.
2. Navigate to About Us page and click on 'Get Involved' button

Issue: you will observe that the after translation the button name is getting big for the button size. See below screenshot.

![image](https://user-images.githubusercontent.com/67168400/99467993-89508000-290d-11eb-8a15-b7a79cd35a3f.png)

[2020-11-18 00:48] rabbi08 commented on #1849
Related to PR #1843
 But need to analyze, because after user clicks on 'Create Post' option as Indivi or Profile is there. to restrict user we need to remove this feature. So need some discussion.

[2020-11-18 00:49] shrutigupta1981 commented on #1741
![image](https://user-images.githubusercontent.com/72843352/99468138-c8bea280-28f4-11eb-936d-3df560acb491.png)

[2020-11-18 00:50] shrutigupta1981 commented on #1741
No timestamp in this messages and no email also generated for these messages
![image](https://user-images.githubusercontent.com/72843352/99468273-0f140180-28f5-11eb-9cf7-ea732aa1f020.png)

[2020-11-18 00:51] shrutigupta1981 commented on #1741
Email generated for only single message
![image](https://user-images.githubusercontent.com/72843352/99468327-2b17a300-28f5-11eb-99bf-dfb0da06200a.png)
![image](https://user-images.githubusercontent.com/72843352/99468374-4bdff880-28f5-11eb-98d4-f3c3cb6dce05.png)

[2020-11-18 04:00] adorapham opened #1852 "Issue for Vietnamese translation"
this is to keep track i need to check when the fixed data coming .  No coding involving

[2020-11-18 04:35] adorapham commented on #1852
![image](https://user-images.githubusercontent.com/70918430/99483881-0b43a780-2914-11eb-9846-2872fd5bb04c.png)

![image](https://user-images.githubusercontent.com/70918430/99483969-38905580-2914-11eb-9a4f-1baf6140366f.png)

![image](https://user-images.githubusercontent.com/70918430/99484060-70979880-2914-11eb-8743-6f18b37c5562.png)

[2020-11-18 04:37] mannykary commented on #1741
@shrutigupta1981 I can't really say if this is expected behavior without knowing the exact reproduction steps. but I will point out that the receiving user's inbox should not be open in your other browser session when you send a direct message to that user. Otherwise the user will be considered "online", and they will not get any email. I would recommend the following test cases be followed, and i

[2020-11-18 13:12] galeza opened #1853 "Font for Polish language - About Us page"
Please correct fonts for Polish language like in this PR: #1603 - Add medium and bold Poppins font #1669
It was done for Help Board. Could we implement it also for About Us Page?

![Screen Shot 2020-11-18 at 14 10 34](https://user-images.githubusercontent.com/21987083/99534587-eef14a80-29a7-11eb-84f3-50bed172cd06.png)

Home Page:
![Screen Shot 2020-11-18 at 14 11 53](https://user-images.githubuser

[2020-11-18 16:33] rabbi08 opened #1854 "Switch Profile - Add new user selection pop up for user switch profile option"
when user click on ‘switch profile’ then pop up should come to ask them if they want to be on same page..,

"Do you want to be on same page?"
“yes or no.” .

They will choose yes, if they want to stay in same page where they are like either in Helpboard , about us or any page. else if user choose 'No', then they will be navigated back to their respective Profile page.

[2020-11-18 17:12] nivetheatha opened #1855 "Able to edit individual account profile information from organization account."
Environment staging
Browser Google chrome
Device used-Samsung Galaxy s8
1.login with valid user name and password
2.click switch account.
3.select organization account.
4.Go to helpboard.
5.click on individual profile post and go to the profile.
6.click on pencil symbol on top right of the screen.
7.select edit account information/edit profile/edit security.
Expected result
Should not allow to edi

[2020-11-18 17:34] nivetheatha commented on #1855
Similar to #1843

[2020-11-18 18:28] galeza commented on #1853
The same issue for the Turkish language:
![Screen Shot 2020-11-18 at 19 22 42](https://user-images.githubusercontent.com/21987083/99571420-920b8980-29d3-11eb-89ba-d47aa0a20a55.png)
![Screen Shot 2020-11-18 at 19 21 44](https://user-images.githubusercontent.com/21987083/99571462-9e8fe200-29d3-11eb-848a-4b4e474c267f.png)

[2020-11-18 18:38] joshmorel commented on #1854
We did discuss this before... cc @camba95 staying on the same page is okay, it is just imperative that if you stay on the same page you do a window.reload or else the data will be wrong for the selected user (whether it is post related, messaging related, whatever).

[2020-11-18 18:41] joshmorel commented on #1843
We we're going to tackle this 2nd after getting core "account switch" working because it was already working and we wanted to keep the original PR management.

This includes and should be done as one PR (cc @camba95 @Zaydme @ddveloper ):

1) Create post - skip the whole "as user/org" - just go right to post page for active account
2) Delete/edit post - don't show for non-active even if you are own

[2020-11-18 19:21] Zaydme commented on #1849
This and #1843 should be one fix.

[2020-11-18 20:57] galeza opened #1857 "Switch accounts - login with the default user"
env: staging

1. Login with Individual user email
![Screen Shot 2020-11-18 at 21 53 25](https://user-images.githubusercontent.com/21987083/99586902-a27a2f00-29e8-11eb-8a96-6ca076a197cb.jpg)
2. Switch account to Organization:
![Screen Shot 2020-11-18 at 21 55 02](https://user-images.githubusercontent.com/21987083/99587084-df462600-29e8-11eb-82f9-ac5f8376d9b7.png)
3. Logout
4. Login once more with I

[2020-11-18 21:04] ddveloper commented on #781
the latest update, add dialog (learned from @Zaydme code : ) to remind the user

![image](https://user-images.githubusercontent.com/44758313/99587761-691cd180-299e-11eb-9c33-5ebb493d443d.png)

[2020-11-18 21:22] #1848 closed, assigned to Zaydme

[2020-11-18 21:22] #1854 closed, assigned to Zaydme

[2020-11-18 21:22] #1857 closed, assigned to nobody

[2020-11-19 01:12] rabbi08 opened #1860 "Avatar -> The user's names initials logo is not displayed when user add comments, but after avatar is uploaded it works fine"
1. Open 'Fightpandemics.com'
2. Select a profile with no avatar uploaded, should have 'user initials' as user profile logo.
3. Select any post and add comment

Issue: You will observe that user's profile logo as initials, is missing for the comments. refer below screenshot.

![image](https://user-images.githubusercontent.com/67168400/99607634-2b3d9e80-29da-11eb-8c00-18ebc993518a.png)

Please note

[2020-11-19 02:54] ddveloper commented on #1860
not sure initials is a better solution, imagine many users all share the same initials when they don't have pictures uploaded.
while on the other hand, many users share the same grey icons currently ( I cannot tell which is a better one )
any advice? @CamilaArias @nfranklin9

[2020-11-19 13:54] joshmorel commented on #1787
LoL I'm not sure if these TODO issues are that helpful for this.

In this case they are using `é` as a break which is odd? But "todo" as a separate word has different meanings in other languages so at least we should exclude all JSON.

@mannykary more generally, I think you've used them a bit but we could easily just create a new issue manually when appropriate. Should we just disable it? @manualz

[2020-11-19 16:06] rabbi08 commented on #1843
Just as an update the 'Comment' feature is working fine for both "ORG/Indivi".
- The comments added by an individual -> cannot be edit/delete by their own ORG and vice -versa. Please see below GIF.

![ezgif com-gif-maker (61)](https://user-images.githubusercontent.com/67168400/99691456-413d7480-2a57-11eb-9977-4b0151cc4adc.gif)

[2020-11-19 20:38] Zaydme opened #1865 "Messaging - QA Feedback"
Please make sure you are testing on the messaging branch review build:
https://featuremessage-modal1457.fightpandemics.xyz/inbox

Testing scope:
- User OR Org must be able to message other Users/Orgs from:
-- Post page.
-- Post in Feed.
-- Post in profile page.
-- Message button on the profile page.
-- Message button on the "Poeple" search tab.
-- Message button on the "Organizationz" search tab.

[2020-11-19 21:07] nivetheatha commented on #1865
Tested on Samsung Galaxy s8,Google chrome
1.Go to messenger .
2.click on ... and choose archive from the menu.
3.Go to message settings.
4. click on unarchive and click on back button.
Expected result
It moves to previous page.
Actual result
It lands on Blank page.
![GIF-201119_155432](https://user-images.githubusercontent.com/41587211/99724139-313a8a80-2a81-11eb-8f7a-901f7a6ed48a.gif)

[2020-11-19 21:09] nivetheatha commented on #1865
Unarchive button from the message setting is not fit into the screen.
![Screenshot_20201119-160045_Chrome](https://user-images.githubusercontent.com/41587211/99724455-a1491080-2a81-11eb-8578-c80aed1724d2.jpg)

[2020-11-19 21:29] #1860 closed, assigned to ddveloper

[2020-11-19 22:38] nivetheatha commented on #1865
1.Go to messenger.
2.Delete any message.
3.click on the deleted message and choose edit.
It leads to a blank page.
![GIF-201119_170454](https://user-images.githubusercontent.com/41587211/99732698-f1c66b00-2a8d-11eb-9d8c-eb57ab411081.gif)

[2020-11-19 23:03] jessica-lau commented on #1865
**On Desktop (chrome):**
1.  Mouse cursor should change to the pointer or default style when user hovers over the scrollbar in the message modal. The right corners of the message textbox are cut off when the scrollbar appears.

![Screen Recording 2020-11-19 at 05 27 32 29 PM](https://user-images.githubusercontent.com/56090896/99732549-af049300-2a8d-11eb-9266-69feb1e1bc19.gif)

2. Don't see option

[2020-11-20 02:28] mannykary commented on #1787
I make `TODO` comments out of habit. It's not a bad idea to keep it, but we should probably make the integration smarter. There are some configuration options that can be set: https://github.com/JasonEtco/todo#available-options

We could update it to look for only `# TODO` or `// TODO`. Let's add a `.github/config.yml` file and set some configuration options, specifically `keyword`, `caseSensitive

[2020-11-20 02:29] Bhavaninalla commented on #1865
Tested on Android mobile
1.Click on messenger icon
2.Click on user and send a message.
I am not able to see the last message
![ezgif-7-22ad5e899adc](https://user-images.githubusercontent.com/72236992/99750340-0b1ee580-2a95-11eb-9fec-85f45f0d2fae.gif)

[2020-11-20 02:52] Bhavaninalla commented on #1865
Tested on desktop
1 sign in
2.click on user profile
3. click on " Add on link "
 I observed when i click that add on link button  it redirects to Amazon page
![ezgif-7-c5c3aaff481a](https://user-images.githubusercontent.com/72236992/99751987-45d64d00-2a98-11eb-91cb-015753033c48.gif)

[2020-11-20 15:58] Zaydme commented on #1599
Please log all the new issues in this new ticked https://github.com/FightPandemics/FightPandemics/issues/1865.
Thank you!

[2020-11-20 15:58] #1599 closed, assigned to Zaydme

[2020-11-20 16:05] sheeba1 commented on #1865
I received a message from oct 14, for one of my posts. I deleted the post.then when I click on it I get the following page. Help board comes in middle. (chrome/windows 10)

![image](https://user-images.githubusercontent.com/65972693/99821011-56251100-2b06-11eb-8269-df0b59f5c1ad.png)

[2020-11-20 16:12] Zaydme commented on #1852
@adorapham you corrected these on lokalize, so you are just waiting for the new translation to be imported into the website?

@Zaydme , yes I did correct and also translate all new keys, just wait for new translation to be imported into the website.

[2020-11-20 16:50] rabbi08 commented on #1865
@Zaydme
1 Wrong count of Unread messages is displayed for 'Inbox' icon, please see below screenshot.
![image](https://user-images.githubusercontent.com/67168400/99822444-39e29d80-2b21-11eb-97d0-5294f59a1f2a.png)

2. Only on Desktop: Email received from FP, is not in readable form in user's personal inbox: The email received is having extra large icon of FP. The email is displayed for a sec and the

[2020-11-20 17:48] Zaydme commented on #1865
@Bhavaninalla this https://github.com/FightPandemics/FightPandemics/issues/1865#issuecomment-730811875 is normal behavior, because you have set "Website" to amazon on your profile settings.
![image](https://user-images.githubusercontent.com/46847212/99832503-e85a0300-2b60-11eb-8eda-85d3ad8fcf6c.png)

[2020-11-20 18:16] CamilaArias commented on #1463
This will be implemented on the new profile design.

[2020-11-20 18:16] #1463 closed, assigned to Amrit-choudhary16

[2020-11-20 18:19] CamilaArias commented on #1060
@galeza is this still an issue with the new version of the about us in prod?

[2020-11-20 18:21] CamilaArias commented on #1806
@speed-o-soundSonic 1000 char for text responses and 3 digits for age is good :)

[2020-11-20 21:14] nivetheatha commented on #1865
Tested on Samsung Galaxy s8
1.login with valid user name and password
2.Go to profile.
3.Edit profile information.
4.click on save.
Observation:
1.Edited name is not reflected in the menu.
2.Avatar is not in the menu.
3.If we sign out it leads to a blank page.
![GIF-201120_160129](https://user-images.githubusercontent.com/41587211/99850492-76c38a00-2b4b-11eb-86c1-bc55e41d3ec8.gif)

[2020-11-20 21:54] CamilaArias commented on #1853
@aleksarad if you have any questions about how this was solved in the Help Board reach out to @doheekim93

[2020-11-20 22:37] aleksarad commented on #1853
@CamilaArias thank you :)

[2020-11-20 23:47] Zaydme commented on #1835
@ddveloper As the one who worked on the search feature I can confirm that all of those projected values are required and used in the components/Feed/User.js cards.

I see that #1836 removed "about", "location", "urls", "objective" and "needs", but those are used in the front end and displayed to the end user, you can see all of them here:
![img](https://i.ibb.co/ZMHdD2r/Screenshot-20201121-004344-

[2020-11-20 23:49] #1701 closed, assigned to nobody

[2020-11-20 23:52] #1641 closed, assigned to joshmorel

[2020-11-21 02:47] adorapham commented on #1865
Testing on Window10 , chrome , laptop, will update all testing flows that I perform
**Flow 1**  - Post Help Board page
User should not be able to contact themself. (**passed**)/Org should not be able to contact itself. (**passed**) Individual can send message to Individual with post (**passed**)/Must show the number of unread conversation + requests. (**passed**)-Need to test more for every cases/

[2020-11-21 04:39] adorapham commented on #1865
**issue 1**  it might not in this scope , if you want me to put on existing defect or create a new one, please let me know
Switch Account- Profile page is not matching with account when using the switch account feature. It should behave like inbox page.
1-login in as individual - VP who has three organizations 1-Nature Food 2-Hoa Phat 3-Heineken Viet
And navigate to inbox
2-switch account to  Natu

[2020-11-21 04:48] rabbi08 commented on #1865
@adorapham
issue:1 this is intentional because as me and Zayd discussed that:
“Well maybe they want to comment on the other profile posts, or see how it looks to others.
Also if we did that, it will be very hard for them to find the first user profile, but now if they want the new selected user profile they can just click "go to my profile"

Hope that make sense. Thanks
@rabbi08 , @Zaydme ,  I  tr

[2020-11-21 08:25] ddveloper commented on #1835
Thanks @Zaydme I was wrong about that, the main goal is to remove the coordinates for privacy reason, please help to review again

[2020-11-21 11:10] Zaydme commented on #1835
@ddveloper please check line 146. There is a condition that if the user decided to hide their location when creating their account `hide.location: true`, their location is not being projected in the search results, and it returns null in that case. so there is no location/emails leaks.

[2020-11-21 13:58] galeza commented on #1060
@CamilaArias I'm closing this issue.

[2020-11-21 13:58] #1060 closed

[2020-11-21 15:23] Zaydme opened #1869 "ORG switch GTM tag update: Add the account type to the data layer"
Add `actingAsOrg` boolean to the GTM datalayer after switching to Org account.

[2020-11-21 17:16] Zaydme opened #1873 "Post moderation first issue demo"
Please ignore this issue, this was just a demo.
Description
Figma link
Requirement.

[2020-11-21 17:19] #1873 closed, assigned to Zaydme

[2020-11-21 20:28] #1440 closed, assigned to kterry1

[2020-11-21 20:28] #1453 closed, assigned to kterry1

[2020-11-21 20:28] #1455 closed, assigned to kterry1

[2020-11-21 20:28] #1457 closed, assigned to kterry1

[2020-11-21 20:28] #1865 closed, assigned to nobody

[2020-11-21 21:00] rabbi08 opened #1874 "Pvt Msg-> Non logged in user -> click on 'Message' -> login-> no Message pop up"
1. Open 'https://staging.fightpandemics.work'
2. Navigate to Help Board -> select any random post -> click on 'Message' icon
3. User is directed to sign in -> Login -> lands on post page to add comment

Issue: You will observe that as non logged in user, after landing on post page, user's focus lands to add comment until they click on the 'Message' icon again to send pvt msg.
Ideally message pop u

[2020-11-21 23:22] kellgolden opened #1875 "Create a "report" button"
Context: As a Logged In User, when I am looking at a user's post, I want the option to report or hide their post. This story is to add an ellipsis button that will populate the option for the user to report or hide another user's post. Users trying to click on these buttons need to be logged into FP. If users are not logged in, and they click on either of these buttons, they should be redirected t

[2020-11-22 00:31] Zaydme commented on #1658
This was fixed with #1767 (act as organization) as it changes the entire drawer menu for mobile.

[2020-11-22 00:34] #1658 closed, assigned to mathigayathri2001

[2020-11-22 00:59] mannykary opened #1876 "Email tracking"
For emails, we cannot use GTM, since it requires a DOM environment and requires JavaScript to run.
However, there are other ways to track email opens and link clicks on emails:
To track email opens: we can use a pixel URL, which is an invisible image, that will be hidden somewhere within the email, and when the email is opened this image will be loaded and we can know when it is loaded because the

[2020-11-22 08:43] jontkoh commented on #1807
Just wanted to confirm as to why the data type is being seen as double.

<img width="693" alt="feedback-obj-screenshot" src="https://user-images.githubusercontent.com/54458111/99899087-57b41d80-2c5b-11eb-8a66-e2b7f258e372.png">
<img width="445" alt="age-dataType-screenshot" src="https://user-images.githubusercontent.com/54458111/99899091-5da9fe80-2c5b-11eb-8fb8-eeb05700d0a3.png">

These are screen

[2020-11-22 13:07] #1869 closed, assigned to Zaydme

[2020-11-22 13:40] Zaydme opened #1878 "Messaging: F/E improvements"
1- on mobile, if there were no messages, show the empty inbox image with that go to the Help board button.
![image](https://user-images.githubusercontent.com/46847212/99905279-30e3fe80-2cd0-11eb-9fd3-ec544af7691b.png)
2- this 0 badge, should only appear if it's more than 0.
![image](https://user-images.githubusercontent.com/46847212/99905312-612b9d00-2cd0-11eb-917d-51989a2c8f9c.png)
3-  when a use

[2020-11-22 13:53] tejasm2 opened #1879 "Add city and cloud GIF to the Landing page & adding new supporters logo on About Us page. Rectifying a bug on mobile edit account/profile not clickable."
- [ ] Adding the City GIF and cloud GIF to landing page. (Only for Desktop version)
-------------------------------------
- [ ] Need to add new logos of supporters on the About Us page. Here is the [design](https://www.figma.com/file/83ZXBNA53FN605ExJZKVBs/About-Us-web-page?node-id=2%3A3422)

- [Vowel](https://www.vowel.com/) & [PCloud](https://www.pcloud.com/) as current supporters.

- [Panvala](

[2020-11-22 17:50] joshmorel opened #1881 "Location reverse geocode latitude < 0 results in error"
Call to Auckland, NZ for example `location-reverse-geocode?lat=-36.8597592&lng=174.3238532` results in:

[code]

This exludes the entire southern hemisphere.

https://github.com/FightPandemics/FightPandemics/blob/f8f3249d73c62b1c060da9694c1a1467fdd863c4/backend/lib/endpoints/schema/geo.js#L20

[2020-11-22 18:20] kellgolden opened #1882 "Post Moderation: back-end"
**Post moderation backend engineering**

Feature Summary: https://www.notion.so/fightpandemics/0562fe39e5364561a0e12f76f19f8996?v=f9b57e5e8a3448e0b63bc4154b38ddf5&p=66eab44f36204ebfbe39d7414eb11422

We want to ensure the help board contains relevant and helpful posts and comments. In instances where a post or comment is created on the help board that is in violation of our terms, contains inapprop

[2020-11-22 18:35] mannykary commented on #1876
https://htmlemail.io/blog/google-analytics-email-tracking

[2020-11-22 18:42] #1835 closed, assigned to ddveloper

[2020-11-22 18:52] nadinejuraschek commented on #1875
@kellgolden Does this issue only include the "..." and "report post" buttons or all four buttons and their functionality?
Also, I can not open the design file or find the design for this on Zeplin.

[2020-11-22 18:59] rabbi08 commented on #1790
Closed with #1851

[2020-11-22 18:59] #1790 closed, assigned to sujatha-m

[2020-11-22 19:52] #1843 closed, assigned to ddveloper

[2020-11-22 19:52] #1849 closed, assigned to ddveloper

[2020-11-22 19:52] #1855 closed, assigned to ddveloper

[2020-11-22 20:47] nivetheatha opened #1884 "Unlogged user able to messenge from the profile."
Environment staging
Browser Google chrome
Device used-Samsung Galaxy s8
1.Go to help board.
2.Click on the profile from the post shown.
3.click on message icon.
Expected result
Should not allow unlogged user to message.
Actual result
It is allowing to message. But the message is not sent.
![GIF-201122_154046](https://user-images.githubusercontent.com/41587211/99916731-d059bf00-2cd9-11eb-8d1b-ae8df

[2020-11-22 20:51] Zaydme commented on #1884
@nivetheatha
This is fixed in #1880
Please test it there.

[2020-11-22 21:03] kellgolden commented on #1875
In addition to adding the "..." and "report post", we also need the "hide post" option.

[2020-11-22 21:44] mannykary commented on #1876
For email opens, using GA is not very effective since it does not track opens by Gmail users, so we decided that it is not worth the effort to add GA's tracking pixel. We can implement our own tracker, similar to the one I developed for Andrea. This will require setting up API Gateway + Lambda on AWS, and will have to be implemented after our MVP launch.

[2020-11-22 21:53] adorapham commented on #1852
8-check cookies-policy page , mixed english and vietnamese
![image](https://user-images.githubusercontent.com/70918430/99918185-1a3aa900-2cca-11eb-81cd-46615ed96a1b.png)

[2020-11-22 22:14] todo[bot] opened #1887 "set this based on user localization preference"
https://github.com/FightPandemics/FightPandemics/blob/73acffe4883e113e6ca2d9fc655edf70e80a7cd2/services/notification/src/helpers/template-builder.js#L247-L252

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 73acffe4883e113e6ca2d9fc655edf70e80a7cd2 when #1886 was merged. cc @FightPandemics.

[2020-11-22 22:19] #945 closed

[2020-11-22 22:19] #1406 closed, assigned to nobody

[2020-11-22 22:19] #1426 closed, assigned to mannykary, joshmorel

[2020-11-22 22:19] #1507 closed, assigned to ddveloper

[2020-11-22 22:19] #1741 closed, assigned to mannykary

[2020-11-22 23:19] #1433 closed, assigned to xreic

[2020-11-22 23:19] #1435 closed, assigned to kterry1

[2020-11-22 23:19] #1521 closed, assigned to Naraujo13, lmpeixoto

[2020-11-22 23:19] #1625 closed, assigned to kterry1, Zaydme

[2020-11-22 23:19] #1748 closed, assigned to wadehrarshpreet, Zaydme

[2020-11-22 23:29] #1637 closed, assigned to Zaydme

[2020-11-22 23:30] #1876 closed, assigned to mannykary

[2020-11-22 23:56] jessica-lau commented on #1807
Hi @galeza you had screenshot the age data type in the feedback form last time. Can you please confirm if you're still seeing the data type as double instead of int as I'm not sure where you got the screenshot from :) Maybe the data type changed since then?

![image](https://user-images.githubusercontent.com/56090896/99920504-f2f7d200-2cf1-11eb-9cf3-b07b753a9b43.png)

Right now, I'm seeing the sam

[2020-11-23 02:22] mannykary opened #1891 "Notification Email Open Tracking"
We have link tracking for notification emails, which is using Google Analytics. However, we need to roll our own open tracking system since GA does not track Gmail users (which make up a large majority of our users).

We will need to implement this using API Gateway + SQS + two Lambdas. We would add a tracking pixel to the email body that would make a call to the API Gateway endpoint, which would

[2020-11-23 04:17] rabbi08 opened #1892 "Individual profile-> 'Edit Security' option is removed from Edit profile"
1. Open 'https://staging.fightpandemics.work/'
2. Login with valid username/pwd
3. Navigate to 'View Profile'-> Edit Profile

Issue: You will observe that user is NOT having the option to 'EDIT security'. Refer below screenshot.

![image](https://user-images.githubusercontent.com/67168400/99928763-86dc9480-2d18-11eb-9be1-71c9f33d6db4.png)

Please note this issue is WORKING FINE in PROD.

[2020-11-23 05:21] rabbi08 opened #1893 "Message pop up: does not initialize for the respective user, if they 'Cancel' the composed message."
1. Open 'https://staging.fightpandemics.work/'
2. Login as valid user and navigate to Help Board
3. Click on 'Message'icon for any post and type the message
4. Click 'Cancel' i.e. Do not send the message nor delete the text
5. Click on the 'Message' to again for the same user.

Issue: You will observe that the previous typed message/text still exist in message compose pop up. The message compose s

[2020-11-23 06:12] adorapham commented on #1892
@rabbi08 , it seem to me the Edit Security is only for Individual profile for its organization , we don't have the Edit security
for Individual Profile
![image](https://user-images.githubusercontent.com/70918430/99933356-ad4a0200-2d0f-11eb-82d8-2c46842a5c41.png)
for Organization Profile
![image](https://user-images.githubusercontent.com/70918430/99933403-d36fa200-2d0f-11eb-8032-2989ed621d61.png)

[2020-11-23 06:18] rabbi08 opened #1894 "Issue with Message compose pop up"
1. Open 'https://staging.fightpandemics.work/'
2. Login as valid user and navigate to help Board
3. Search 'Sample' -> Navigate to ORG tab.
4. Click on 'Message' icon to send message to the ORG selected.

Issue : You will observe that message is send to 'undefined undefined'. This works fine for 'People' TAB message icon. refer below screenshot.
![image](https://user-images.githubusercontent.com/6

[2020-11-23 06:23] rabbi08 commented on #1894
When I try to send message to user 'Rajbir K' -> view  profile -> loading err
I got below error:
![image](https://user-images.githubusercontent.com/67168400/99933954-8220dc00-2d2a-11eb-8e3f-72f5479a8d14.png)

[2020-11-23 06:30] rabbi08 opened #1895 "Avatar is not updated for social media logins"
1. Open 'https://staging.fightpandemics.work/'
2. Login through social media login and observe that profile avatar
3. Navigate to profile page and upload avatar.
You will observe that avatar is succesfully uploaded displayed at all locations.

4. Now logout and login again
Issue: You will observe that no avatar is displayed only user profile logo of initials is displayed.

Refer below GIF
![ezgif

[2020-11-23 06:32] rabbi08 commented on #1892
yes, this option is only available for individual profile. In my screenshot, its individual profile user.

[2020-11-23 06:40] rabbi08 commented on #1892
@adorapham agree, I recheck with with email /pwd user and got this, thnx:

this issue exist for individual profile logged in using social media login #1895
This works fine If I login using email/pwd but not working as Linkedin user.

nice @rabbi08  👍

[2020-11-23 07:25] ddveloper commented on #1892
Hi @rabbi08 for social account, there is no login user name / password, so I think not showing `Edit Security` make sense?

[2020-11-23 07:27] rabbi08 commented on #1892
Yes, agree.
Thanks a lot @ddveloper

[2020-11-23 07:28] rabbi08 commented on #1892
closing this issue as invalid for social accounts.

[2020-11-23 07:28] #1892 closed, assigned to ddveloper

[2020-11-23 08:21] ddveloper commented on #1895
hi @rabbi08 , please try PR #1896 , test link: https://feature1895-homePage-Avatar.fightpandemics.xyz

[2020-11-23 12:47] galeza commented on #1807
Hi,

For dev environment I use MongoDB Compass - and to connect to the DB. From docker-compose: port 27017 is exposed.
DM is more info is necessary how to connect to the local/dev DB.

For staging I use Robo 3T.
![Screen Shot 2020-11-23 at 15 40 06](https://user-images.githubusercontent.com/21987083/99975561-af10d580-2da2-11eb-9709-37d4d8f5c4fa.jpg)

There is no limitation for age, no validation -

[2020-11-23 13:53] #1895 closed, assigned to ddveloper

[2020-11-23 13:59] #1878 closed, assigned to Zaydme

[2020-11-23 13:59] #1884 closed, assigned to nobody

[2020-11-23 13:59] #1874 closed, assigned to nobody

[2020-11-23 18:08] rabbi08 opened #1900 "Notification- No notification received for 'Message' & 'Share' options"
1. Open 'https://staging.fightpandemics.work/'
2. Login as user-1 and select a post from user , who you can verify,
3. Now, Like/comment/Share/message on the post

4. Login as the user of the commented post.

Issue: You will observe that notification is received for 'Like and Comment' only but not for share and message option. Even though in preference it is checked.

Refer below screenshot
![imag

[2020-11-23 18:17] rabbi08 opened #1901 "Mobile -> Notification-> The page title of the page 'Edit Notification' is NOT displayed correctly on mobile."
1. Open 'https://staging.fightpandemics.work/'
2. On MOBILE -> Login as valid user
3. Navigate to 'View Profile'-> 'Edit Notification'

Issue: You will observe that that the page title on mobile is 'EDIT profile' or 'Edit Org Profile' for ORG.
It should be 'Notification Preference' .

Refer below screenshot from mobile
![IMG_4022](https://user-images.githubusercontent.com/67168400/99999183-c5f8fd0

[2020-11-23 18:27] rabbi08 commented on #1900
For messages, the notification is on message icon : expected

[2020-11-23 23:05] kellgolden opened #1904 "Create "Report Modal""
User Story: As a Logged In User, after I report a post, I want to be notified that the post I reported, has been reported.

Designs: https://www.figma.com/file/EMKcg0eTnOlr7bRZGFdnZu/Web-app-product-spec?node-id=88%3A2

<img width="679" alt="Screen Shot 2020-11-23 at 6 02 17 PM" src="https://user-images.githubusercontent.com/64812703/100025044-08cecb00-2db6-11eb-9705-06f28d6f36a6.png">

Success St

[2020-11-23 23:05] adorapham opened #1905 "Message deleted is still counting toward the total message not read"
Here is flow
1-Person A search and see post of person B, then send the message to person B
2- Right after that, person A delete the sent message to person B
3-Person B login and see new message coming from person A with the note- This message was deleted and Do you want to accept the message request? you can't replay until you accept the request (Accept, Ignore,Block)

My expectation is if the per

[2020-11-23 23:07] adorapham commented on #1905
@Zaydme , @rabbi08 , please check to see if it is a valid defect

[2020-11-23 23:49] Zaydme commented on #1905
@adorapham this is expected behavior.
When a message is deleted, we keep "This message was delete." As a proof that there was something before, same applies for a message request, the recipient needs to know that there was a message sent to them, even if it was deleted.

[2020-11-24 00:10] adorapham opened #1906 "No account blocked but message is delivered from one person but not the other"
here is my observation, I have 3 accounts and check each account,  have no account is blocked
1-Vince Pham
2-Adora Pham
3-Hanh Nguyen
from post page
VP can send the msg to AP successfully
AP can't send the msg to VP with message- Your message to Vince Pham concerning the "offering help for testing post was not delivered" (note : I try many times with different message and get the same result ).  T

[2020-11-24 00:11] adorapham commented on #1906
@rabbi08 @Zaydme Please check this one.

[2020-11-24 00:18] Zaydme commented on #1906
@adorapham you have a waiting message request from VP, you can notice that on the request it says "You cannot send a message until you accept this request".
So you have to accept the message request from someone before you can message them.

[2020-11-24 00:22] adorapham commented on #1906
@Zaydme , Thank you , i am able to send now  sorry  since it is a learning process :)

[2020-11-24 00:22] #1906 closed, assigned to nobody

[2020-11-24 00:25] adorapham commented on #1905
@Zaydme , i know for the tracking record but it is strange to see deleted message with the question  do you accept , ignore or block .  @rabbi08 what do you think?

[2020-11-24 00:28] Zaydme commented on #1905
I think in the case you will go to the person's/org's profile, see if they are relevant for you. if yes, you can accept the request and ask why the messaged you in the first place, if now you block them so they stop being annoying lol.
@Zaydme make sense

[2020-11-24 00:46] #1905 closed, assigned to nobody

[2020-11-24 01:52] nivetheatha opened #1907 "Request help-->medical-->location and choose people filter medical and offer help option is removed automatically."
Environment staging
Browser Google chrome
Devices used  Samsung Galaxy s8
1.choose request help.
2.choose medical.
3.provide location (ex bensalem pa)
4.select people and provide some value (ex people:nivethetha)
5.click enter.
Expected result
From the shown result people with the name nivethetha should be shown.
Actual result
Offer help and medical applied in the filter removed automatically.
![G

[2020-11-24 03:33] adorapham opened #1908 "archives message is automatically unachieved when a new message is sending over - also include ignore msg issue"
I think that should be considered as improvement because later , we will go in to have a very long history message and might have the issue to load the message.
archive-mean something we keep as history  , we can un-achieve to review them later.
here is what I observation
1-inbox one org Nature has a lot of message for AP - so it decides to achieved this message and agree with i**f you like to rea

[2020-11-24 04:22] rabbi08 commented on #1908
@adorapham
This is expected behavior for archived messages as:
From google about archive message behavior:
"When you archive a message: The message will come back to your inbox when someone replies to it." as per Gmail.

[2020-11-24 04:49] adorapham commented on #1908
@rabbi08 , yes, I see it is for Gmail message but Gmail message has many threads ,not like Direct private message, I just put it in for improvement because as I said the message will be growing and we might face issue of loading them. Developers can review and see if they can do anything about it.

[2020-11-24 05:35] rabbi08 commented on #1901
@ddveloper please update
- page title for mobile for should be 'Notification Preferences'
- The heading for 'Notification Settings' should be updated as <message icon> Notification Email Settings

Thanks.

Please see below screenshot.
![FightPandemics (18)](https://user-images.githubusercontent.com/67168400/100052898-e60bd900-2dec-11eb-9748-876d129bf5a6.png)

[2020-11-24 06:06] adorapham commented on #1908
I think it is the same for ignore message. here is what I observation (might be need to get improvement later). At this time, Achieve and Ignore work similar. Achieve has folder while ignore doesn't have folder but the way they come back to inbox is similar.
1-HM send a message request to NM
2-NM take a look and decide to ignore the message request from HM after reading the confirmation dialog box

[2020-11-24 10:09] ddveloper commented on #1901
updated, @rabbi08 please also have a check for Account setting page and Profile setting page, those title along with Notification setting page are all updated together.

[2020-11-24 12:51] joshmorel commented on #1722
FYI @ddveloper there is also this which is related #1495 all as part of this work we want to:

1) Support multiple auth providers (this ticket)
2) Create a mock dev provider for local dev & testing
3) Seed some dummy data for ease of development

We can also split up some of this work.

[2020-11-24 18:19] #1879 closed, assigned to wadehrarshpreet

[2020-11-24 19:14] adorapham commented on #1908
as discussion with @Zaydme ,that is something dev will take a look in future.

[2020-11-24 19:15] #1827 closed, assigned to OzkanAbdullahoglu

[2020-11-24 19:40] #1901 closed, assigned to mannykary, ddveloper, Zaydme

[2020-11-24 20:45] aditilamkhede commented on #1847
I tried reproducing this issue, couldn't reproduce tis. Tried on my phone, pixel 3, and also changed device in dev tools.
Did I miss anything?

[2020-11-24 20:54] rabbi08 commented on #1847
@aditilamkhede
its the click if you click on 'FEEDBACK' the issue occurs, but if you click more towards the blue area, the issue might not repro.

Thanks

[2020-11-24 21:27] rabbi08 opened #1914 "Updated First & last name updated is not reflecting in the profile header bar."
1. Login as valid username
2. Navigate to profile and update the first name and last name
look for your name in profile header menu

Issue: the name is not updated. This issue exist in PROD as well. Manu reported this morning.
Refer below screenshot.
![image](https://user-images.githubusercontent.com/67168400/100153244-d8e4fd80-2e71-11eb-8bb4-a8ed2ab335aa.png)

![image (6)](https://user-images.git

[2020-11-24 21:46] #1894 closed, assigned to nobody

[2020-11-24 21:52] Latha-AP commented on #1865
1. User 2 messaged on post of User1
2. User1 blocked User2
3 User 2 tried to send another message , he got pop like this
**"Your message to testpandas staging001 concerning the "11/24" was not delivered.".**
4. User2 tried to message in message box, he will have a message in the textbox are like this
**"You've been blocked by testpandas staging001. You can no longer message them.".**

**About thes

[2020-11-24 22:01] Latha-AP opened #1915 "Directmessage_Block message"
Current state:
1. User 2 messaged on post of User1
2. User1 blocked User2
3. 3 User 2 tried to send another message , he got pop like this
**"Your message to testpandas staging001 concerning the "11/24" was not delivered.".**
4.User2 tried to message in message box, he will have a message in the textbox are like this
**"You've been blocked by testpandas staging001. You can no longer message them."

[2020-11-24 22:03] adorapham commented on #1852
1-fixed
![image](https://user-images.githubusercontent.com/70918430/100154448-6b79a280-2e5a-11eb-98dd-4bf7416e2784.png)

2-fixed
![image](https://user-images.githubusercontent.com/70918430/100154543-99f77d80-2e5a-11eb-8caf-2ab4ba719ab4.png)

3 and 4- fixed
![image](https://user-images.githubusercontent.com/70918430/100155222-bb0c9e00-2e5b-11eb-8755-0ed625c32529.png)

5-fixed
![image](https://user-

[2020-11-24 22:03] #1852 closed, assigned to adorapham

[2020-11-24 23:15] rz-0605 commented on #1847
The issue seems to be happening only on specific device widths where the feedback button is directly on top of the selected rating (think of the side menu and rating modal appearing at the same time). When you tap the feedback button, the rating selected depends on where you press the button. So the more left you press on the button the lower the rating. The presses are almost persistent- but they

[2020-11-25 00:39] aditilamkhede commented on #1847
@rabbi08 I have tried so many times still not able to reproduce it. I tried to click on feedback or towards left side, still no ratings selected after logging in Also tried on all mobile device types on chrome dev tools, still no luck..

[2020-11-25 00:57] adorapham opened #1916 "Words/phases need to be translated to designed languages"
1-Cancel from sending Post message
![image](https://user-images.githubusercontent.com/70918430/100167998-3b8bc880-2e75-11eb-979d-bf9ea37cf40e.png)

2-Offer/Request from inbox - post type
![image](https://user-images.githubusercontent.com/70918430/100168047-55c5a680-2e75-11eb-8081-4bfc542fe031.png)

3- No more Notifications
![image](https://user-images.githubusercontent.com/70918430/100168141-860d4

[2020-11-25 01:09] Bhavaninalla opened #1917 "After refreshing the organization profile page it redirects to home page"
Testing on Andriod mobile
1.sign in
2.open organization  profile page.
after refreshing the organization page it redirects to home page instead of staying same page.
![ezgif-2-af17de0814be](https://user-images.githubusercontent.com/72236992/100169177-ac33e480-2e77-11eb-8b52-25c531c620c3.gif)

[2020-11-25 01:12] Zaydme commented on #1907
This is expected behavior, when searching for people, you can only user location filrer.
All other filters (medical supplies....) Will only work for posts.
Also help type, "offering/requesting help" will only work when you are searching for posts, not people or orgs.

[2020-11-25 03:23] mannykary opened #1920 "Notification - comments appear empty in digest emails"
![image](https://user-images.githubusercontent.com/4285073/100179206-574d9980-2e8a-11eb-8d0e-faa771e2d07e.png)

This is reproducible for a daily digest when there is a post that has no comment over the past day, but has other activity like likes and shares. For weekly and biweekly, the same thing would happen if the post has no comment over the past week or past two weeks respectively.

[2020-11-25 04:19] rabbi08 opened #1922 "The Page title for Organization profile is not updated on Mobile"
1. Open 'Staging.fightpandemics.work' on mobile.
2. Login using valid email/pwd
3. Switch to ORG profile -> view profile -> Edit Profile

Issue: You will observe that though edit profile options are displayed as options for Organization but the page title is still same as individual profile. Refer below GIF.
also, this issue works fin eon desktop.

![ezgif com-video-to-gif 34](https://user-images.

[2020-11-25 04:26] rabbi08 opened #1923 "The visibility options in the post creation pop up ->the options not displayed completely without selecting."
1. Open the FP webpage and login using valid username/pwd
2. Click on '+' to create post and click on Visibility dropdown for location

Issue: you will observe that the options are not displayed completely in the dropdown. i.e. 'Country' is not displayed fully. refer below screenshot. They should display completely.

![image](https://user-images.githubusercontent.com/67168400/100183132-34cc7800-2e

[2020-11-25 05:06] rabbi08 opened #1924 "Messages: The wrong value is displayed for user 'Last Seen:'"
1. Open FP app and login using valid email/pwd
2. Navigate to inbox; ensure you have test account to verify the actual last seen value.

Issue: You will observe that user was seen a before only , but system sayd 'Last seen :2 days ago'
Refer below screenshot
![image](https://user-images.githubusercontent.com/67168400/100185499-0356ab00-2eb2-11eb-9dad-e90bb0fe175d.png)

[2020-11-25 05:20] rabbi08 opened #1925 "Notification: No option to 'Clear' my notifications and other UI/UX issues for notification dropdown"
1. Open FP app and login using valid username and pwd.
2. Click on 'Notification' bell icon.

Issue: You will observe that user can navigate to notification preferences but cannot CLEAR the notifications.
User should be able to clear the notification as per general user experience.

![image](https://user-images.githubusercontent.com/67168400/100186394-e622dc00-2eb3-11eb-9189-cd51666378e8.png)

[2020-11-25 05:33] adorapham commented on #1924
@rabbi08 , i think the last seen seem is the person who access the inbox to read the message.  since outbound and inbound msg share the same thread.  I take the screenshot and please check if you see it makes sense.

![time](https://user-images.githubusercontent.com/70918430/100187292-adc3d380-2e9c-11eb-99f5-6d1b578d16d0.gif)

[2020-11-25 05:34] rabbi08 commented on #1924
![image](https://user-images.githubusercontent.com/67168400/100187308-dd330a00-2eb5-11eb-8979-3be118b9ad49.png)

[2020-11-25 05:39] rabbi08 commented on #1924
@adorapham
But why we should display the 'Last seen as' when that user send me message, why not actually. as its user's status nothing related to who he sends message right?
like in Whatsapp if user is online, its online whether they send me message or not, and even if they send me message their last seen is when they were online , activity done or not done doesn't matter.
Do you think that this i

[2020-11-25 05:49] adorapham commented on #1924
@rabbi08 i will try to explain what i understand , it might be wrong.  when i see last seen --never . I think the message i send to that person but that person is not reading yet, so that show me status reading message sending from me to that person - never (mean not read).  Since all the inbound or outboud message from a to b and vice versa putting into one thread, so if you access the message wh

[2020-11-25 06:01] rabbi08 commented on #1924
Sure, I think any user's 'Last seen:' timestamp should reflect when that user logged off last. This should be irrespective of whether that user responded to person-a or person b or not responded to anyone.

[2020-11-25 06:07] CamilaArias opened #1927 "Localisation: Heading missing in Italian"
The heading "FightPandemics" is missing in Italian in About Us page @Jameel139
![image](https://user-images.githubusercontent.com/25089562/100189453-1cb82100-2ecb-11eb-8f86-9cb2152e16e8.png)

[2020-11-25 06:18] CamilaArias commented on #1853
@Zaydme we still need to fix the same thing for Vietnamese

[2020-11-25 06:42] mannykary commented on #1920
I'm posting here for posterity; I tweaked a few other things based on what I observed during dev testing:

1. Show post in email digest if the post has had likes or comments since the last digest. If the post only had shares, do not show the post.
2. If all posts in the email digest has had only share activities since the last digest, and no likes or comments, then do not send an email.
3. Do not

[2020-11-25 06:45] CamilaArias opened #1928 "Desktop: Fix nav bar items behaviour and click area"
### Issue
On Desktop, the language, feedback and profile icons in the nav bar have irregular and too small click areas which makes it hard to interact with. Also these icons do not behave as the rest when hovered on.

Correct:
![image](https://user-images.githubusercontent.com/25089562/100191701-5be87100-2ecf-11eb-9952-2be5f94f36e6.png)

Incorrect:
![image](https://user-images.githubusercontent.co

[2020-11-25 07:07] CamilaArias opened #1929 "Fix delete post modal UI"
Should be [-> this <-](https://www.figma.com/file/EMKcg0eTnOlr7bRZGFdnZu/Web-app-product-spec?node-id=133%3A14)
Current:
![image](https://user-images.githubusercontent.com/25089562/100192455-c0580000-2ed0-11eb-94b3-2fcfa42b49e2.png)

[2020-11-25 07:51] CamilaArias opened #1930 "Modify Create Post button"
Should be [**-> This <-**](https://www.figma.com/file/EMKcg0eTnOlr7bRZGFdnZu/Web-app-product-spec?node-id=145%3A328)  (link to Figma file). Inspect on Figma for specs.
![image](https://user-images.githubusercontent.com/25089562/100197654-5859e780-2ed9-11eb-8ab9-c4515318dfef.png)

Current:
![image](https://user-images.githubusercontent.com/25089562/100197554-39f3ec00-2ed9-11eb-9741-e59da52e01f4.png

[2020-11-25 07:56] CamilaArias opened #1931 "Modify labels on post cards"
Should be [**-> This <-**](https://www.figma.com/file/EMKcg0eTnOlr7bRZGFdnZu/Web-app-product-spec?node-id=145%3A328) (Link to Figma). Inspect on Figma for specs.
![image](https://user-images.githubusercontent.com/25089562/100198266-5fcdc080-2eda-11eb-8b85-b19e21fa0309.png)

Current:
![image](https://user-images.githubusercontent.com/25089562/100198375-81c74300-2eda-11eb-98dd-17c2f2eaa44f.png)

[2020-11-25 08:06] #1920 closed, assigned to mannykary

[2020-11-25 10:29] #1875 closed, assigned to nadinejuraschek

[2020-11-25 15:37] nivetheatha commented on #1907
@Zaydme In that case I can close the issue.

[2020-11-25 15:37] #1907 closed, assigned to ddveloper

[2020-11-25 15:58] abideen11 commented on #1928
Correct me if I'm wrong-you want the feedback and profile icons to be bigger and want an underline to appear if the arrow hovers on top of it?

[2020-11-25 16:16] Latha-AP opened #1933 "Private Messages_IOS Mobile_Edit & Delete"
1. I as a User1 sent some message to user2 ,
2. Tried to edit or delete by long pressing on the messages.
3. I couldn’t see edit or delete options in private messages.
4. I tried on safari and chrome browsers  in IOS MOBILE.
5.. On Android Mobile ,its working fine.

![WhatsApp Video 2020-11-25 at 8 15 05 AM](https://user-images.githubusercontent.com/72217779/100253816-6ff39900-2ef6-11eb-9b4a-a7eb0

[2020-11-25 16:31] rz-0605 commented on #1847
@aditilamkhede I could only reproduce the issue on my physical device which happened to fit the description I commented about, where the feedback button and selected rating overlapped.

[2020-11-25 16:43] rabbi08 commented on #1925
We need to fix the 'blue scroll bar' in the notification dropdown, it should be same scroll bar i.e. grey like other in the application.

Thanks

[2020-11-25 19:12] kellgolden commented on #1875
@Zaydme and @rabbi08, has this been through QA, yet?

[2020-11-25 19:13] Zaydme commented on #1875
@kellgolden This is not ready for the test now, will be on Friday

[2020-11-25 23:36] #1807 closed, assigned to jontkoh

[2020-11-26 00:05] CamilaArias opened #1940 "Reorder languages in the selector menu"
Items in the Language selector menu should be sorted alphabetically, as per the language's English name.
![image](https://user-images.githubusercontent.com/25089562/100293271-e7124700-2f61-11eb-8685-f3cc0d00246d.png)

Just need to sort the index in this file in the correct order, and add in the comment that new languages should be added alphabetically as well.
https://github.com/FightPandemics/Fig

[2020-11-26 04:11] ddveloper opened #1942 "not easy to tell difference between "offer help" and "need help""
when I edit a post, though I can select "offer help" or "need help" it does not reflect on the resulting post
<kbd>
![image](https://user-images.githubusercontent.com/44758313/100307659-43259d00-2f5b-11eb-8b7e-391045f4f854.png)
</kbd>
same observation on the "Help Board", not easy to tell "offer" or "help" for each post
<kbd>
![image](https://user-images.githubusercontent.com/44758313/100307824-b0

[2020-11-26 04:21] sankethbe opened #1943 "Post moderation: Internal dashboard"
User story:
As a moderator, I should be able to:
- View reported posts in dashboard, prioritized by number of reports.
- Have the option to remove reported post or keep post.

Designs:
https://www.figma.com/file/EMKcg0eTnOlr7bRZGFdnZu/Web-app-product-spec?node-id=88%3A2
![image](https://user-images.githubusercontent.com/6366272/100276569-c4932480-2f87-11eb-85a9-9770eba30790.png)
![image](https://u

[2020-11-26 04:26] chrislemus commented on #1940
submitted pull request

[2020-11-26 05:06] adorapham commented on #1942
@ddveloper . in edit post we can see whether the post is Offering help or Requesting Help. Please see if the below explain your concern.  when clicking on **...** to edit the post , the tab of requesting help in display because the post is created for requesting help type.  if you need more explanation , i can help out.  BTW, if you know it already and still think it need improvement, please consi

[2020-11-26 05:23] ddveloper commented on #1942
just realize we have home page entrances user can choose "offer help" or "request help", so we may not need such a `prominent` icon, it could be just me but I think the "offer help" and "request help" should be much easier to access (like a label or icon on each post, or extract the "offer help / request help" option out of the `Filter`, so user can switch the view by single click instead of multi

[2020-11-26 05:32] ddveloper commented on #1942
my bad @adorapham , I think you're right, this is more like for improvement, close this for now

[2020-11-26 05:32] #1942 closed, assigned to nobody

[2020-11-26 05:35] adorapham commented on #1942
@ddveloper , that is fine, testers run into the same situation many times :)

[2020-11-26 05:42] ddveloper opened #1945 "many words are not translated"
when switching to different lanugages, the `Switch Accounts` seems stay in English
test it on https://staging.fightpandemics.work/

![image](https://user-images.githubusercontent.com/44758313/100312380-09f32a00-2f67-11eb-8113-c2cab26a4bf8.png)

![image](https://user-images.githubusercontent.com/44758313/100313164-dc0ee500-2f68-11eb-8196-fc1cec5906c3.png)

[2020-11-26 07:39] ddveloper commented on #1945
some of them (e.g. the `Switch Account`) was due to Lokalise QA warnings?? (see below picture), others are code issue
![image](https://user-images.githubusercontent.com/44758313/100321401-79711580-2f77-11eb-925a-9cc45a42e3c8.png)

[2020-11-26 16:36] adorapham commented on #1945
@ddveloper , you can search the key on home page even the word is already translated.  also you can use translation channel to get help .  I log 2 defects one for developer :#1916 and one for myself #1852 (data fixed) so you can take a look
![image](https://user-images.githubusercontent.com/70918430/100375225-50c23d80-2fc2-11eb-80b6-031c3bbbe880.png)
for the warning , it is not blocking the displa

[2020-11-26 19:42] CamilaArias opened #1947 "Add shift+enter for new line functionality for comments"
Allow to create a new line in a comment by pressing shift+enter when you're writing a comment. It's possible for editing, but not for writing a comment currently.

[2020-11-26 20:33] aditilamkhede commented on #1928
@CamilaArias let's talk about this, whenever you have chance.

[2020-11-26 21:33] CamilaArias commented on #1928
@abideen11 the icons should be the same size, the container that is clickable needs to be like those from messages and notifications icons, and yes the same underline should show up on hover :)
@aditilamkhede message me on Slack whenever :)

[2020-11-26 21:37] CamilaArias commented on #1942
@ddveloper we have designs to implement this in the post card, but next time feel free to move the ticket to the new UI/UX Feedback project so we can tackle it :D

[2020-11-26 21:56] CamilaArias opened #1948 "Make "view help board" button visible on mobile for all languages"
Spanish, portuguese, tagalog, macedonian "view help board" buttons don't show on mobile because they get hidden behind the footer. We need them to be visible and accessible and also make it responsive in a way that the layout doesn't break from a language to the other, since the other "view help board" buttons for other languages also distort the layout and this shouldn't happen ❤️

[2020-11-26 22:00] rabbi08 commented on #1925
The notification dropdown on mobile needs to be re-sized. as of now it covers the whole screen. Please see below screenshot.

![IMG_4077](https://user-images.githubusercontent.com/67168400/100393777-d7017280-3008-11eb-98d3-7325a4144402.PNG)

[2020-11-26 22:13] rabbi08 opened #1949 "Messages: UI/UX issues while chatting/messaging on iPhone"
1. On iPhone, Open FP application and login as valid user -> navigate to Inbox
2. Select any user to chat

Issue: You will observe that when user clicks in the textbox to type the the inbox zooms out and user need to zoom in again to click on 'Send' icon, its all the time zoom in-out. Not smooth user experience in the inbox.
also, when user clicks on 'message' icon some user's avatar's turn grey/l

[2020-11-26 22:16] rabbi08 opened #1950 "Mobile: Unable to 'Paste' text in the textbox while messaging"
1. Open FP app and login as valid user and navigate to Inbox
2. Select any user and tap in the textbox to have an option to Paste.

Issue: You will observe that options as 'Select/Select all' are displayed but no Paste option.

[2020-11-26 22:23] rabbi08 opened #1951 "Inbox-> The 'Online' status of the user is not showing the real time status"
1. Open 'FP' application and login as valid user
2. Navigate to Inbox, and for testing have another online user to communicate with (both as Individual and ORG)

Issue: You will observe that when user switch between Individual user and Org user the online status is not showing the real time update.

![image (1)](https://user-images.githubusercontent.com/67168400/100394674-02d22780-300c-11eb-8537-8

[2020-11-26 22:41] rabbi08 opened #1952 ""Unable to EDIT post" AND "The Post is displayed as 'edited' after user 'Like' the post""
1. Open FP app and login as valid username and password
2. Create a post and like it -> navigate to 'Back'

Issue: You will observe that the post is displayed as 'edited' post even though it is NOT edited.
Refer below GIF
![ezgif com-gif-maker](https://user-images.githubusercontent.com/67168400/100395318-74ab7080-300e-11eb-9c70-d84b3af9cfdb.gif)

[2020-11-26 23:09] aditilamkhede commented on #1952
@rabbi08 Also, when I tried to edit the post, it doesn't save the changes.

[2020-11-26 23:17] rabbi08 commented on #1952
great catch. Thanks @aditilamkhede
@ddveloper
This is critical issue.

[2020-11-26 23:24] #1929 closed, assigned to Zaydme

[2020-11-26 23:55] chrislemus opened #1953 "Navigation bar language submenu position"
Language submenu does not stick to Navbar and scrolls away with page scroll.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/61127478/100397636-bfca8100-3018-11eb-9124-ef1d530a38aa.gif)

[2020-11-27 00:16] ddveloper commented on #1952
Hi @aditilamkhede @rabbi08 , could you send the link you use to run the test? I saw it happen on https://staging.fightpandemics.work/ on my old post, then I delete that and create a new one, I am able to edit it now, would you also try create a new post to see if you can edit? (and double check again on the old post you cannot edit it)

[2020-11-27 01:09] rabbi08 commented on #1952
@ddveloper
Please see below GIF
![ezgif com-video-to-gif 37](https://user-images.githubusercontent.com/67168400/100400080-32405e80-3023-11eb-8213-fc1e9a5140c0.gif)

[2020-11-27 01:21] rabbi08 commented on #1952
@ddveloper
Please see below GIF this was created and edited on Nov 10 and it was working fine.
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/67168400/100400568-fe663880-3024-11eb-94ef-d712b0497536.gif)

Also see the screenshot, the value for 'timeline visibility' is not valid.
![image](https://user-images.githubusercontent.com/67168400/100400557-f4dcd080-3024-11eb-8082-ba60d

[2020-11-27 02:07] rabbi08 commented on #1952
If the  new or old .., post visibility is ‘forever’ it is working fine but not for other time visibility..,

[2020-11-27 02:48] mathigayathri2001 commented on #1841
Hi @skrithiga, please review the enclosed screenshot. I tried by best, but found limitation to move the ellipsis top right side. Now, it is available on bottom. But, the functionality behind both the option edit/delete working fine. Please let me know whether I can go ahead with this change. In case, if you require to move the ellipsis on top right, then I may need some help from someone in #engie

[2020-11-27 02:59] chrislemus commented on #1928
something like this? @CamilaArias

![Screen Shot 2020-11-26 at 9 57 52 PM](https://user-images.githubusercontent.com/61127478/100405890-8d2d8200-3032-11eb-83ff-d12aa9f1e53b.png)

[2020-11-27 03:01] CamilaArias commented on #1928
Yup @chrislemus that's good!

[2020-11-27 05:06] ddveloper commented on #1952
@Zaydme  the [moment.updateLocale(i18n.language](https://github.com/FightPandemics/FightPandemics/blob/addeb75f497935b1a6c34d167685086238e77137/client/src/assets/data/formToPostMappings.js#L14) is causing some problem, to reproduce the issue,
[code]
![image](https://user-images.githubusercontent.com/44758313/100412891-c235d680-302a-11eb-9390-1b1cbd36a863.png)

[2020-11-27 07:32] aditilamkhede commented on #1928
@CamilaArias I have few questions, so these 2 are dropdown menus, that's why probably they didn't add hover style to it. But if it was indeed needed even if they are drop down menu then probably missed the implementation.
Or do you want to open menu itself on hover

@chrislemus let me know if you are already working on it. I will look into another issue.

[2020-11-27 07:37] aditilamkhede commented on #1953
Just to add to  this, it only happens when you first scroll the page a little bit and then click on language menu and scroll page again.

[2020-11-27 07:47] ddveloper commented on #1945
Thanks @adorapham , this issue is duplicated with #1916 , I am closing this

[2020-11-27 07:47] #1945 closed, assigned to ddveloper

[2020-11-27 07:59] ddveloper commented on #1950
my Android view seems fine, what's your device and browser @rabbi08
![image](https://user-images.githubusercontent.com/44758313/100425051-5e6bd780-3043-11eb-8a13-74d151cf7aec.png)

[2020-11-27 12:50] Zaydme commented on #1952
@ddveloper the solution to that is to only localize the displayed value of the select menu, and not the option value.

[2020-11-27 14:54] skrithiga commented on #1841
The positioning looks weird having it at the bottom. Can you also check in mobile view?
@tejasm2 Any frontend engineer who can help?

[2020-11-27 15:25] mathigayathri2001 commented on #1841
Hi @skrithiga  Please review the attached screen shot, Now, its moved to the top left, hope it is ok.
![Untitled3](https://user-images.githubusercontent.com/60233461/100464012-cbf72280-309a-11eb-8f53-54035ea5c4b7.png)