[2020-08-01 06:02] kterry1 commented on #722
@joshmorel I'm unable to replicate this but I'm also on Chrome. Are you seeing this on Firefox? If not, I think we are alright to close this out.

[2020-08-01 18:31] joshmorel commented on #1304
Thanks @sheeba1 FYI @idjevm .

We don't support IE due to dependent libraries as well as how we implemented auth cookies. Basically we built this app on the assumption we would not support IE. Even Microsoft (as of 2019) says please don't use IE as a browser.

I discussed this at some earlier point, can't remember when, but we should display a plain text or simple html message that if they are run

[2020-08-01 18:34] joshmorel commented on #1304
@idjevm maybe change issue message to "Show browser not supported message for IE." Also not sure if this is really needed as a hotfix as I wouldn't consider it an urgent bug to fix.

Personally I think we should be releasing staging soon anyways to prod.

[2020-08-01 20:16] joshmorel commented on #722
@kterry1 same. I think there was some change to Chrome since June 15 that fixed this for us.

Closing

[2020-08-01 20:16] #722 closed

[2020-08-02 17:15] rabbi08 commented on #1303
Currently testing on the POST displayed in STG, I have observed that there is NO particular sort criteria NON-LOGGED in user. The POST should be sorted as per 'Location: Near to Far' as per current expected functionality, but currently it looks that there is no sort criteria. Refer below GIF.

https://share.getcloudapp.com/YEuolpgO

Was about to log a bug but then found this issue during search fo

[2020-08-02 17:19] anya2040 opened #1310 "FEEDBACK: Store Feedback in MongoDatabase and then transfer it to Google Sheets"
As a developer,
I want to send users' feedback in MongoDB to google sheets, so that other FP internal users can access feedback securely.

Acceptance Criteria:
- Feedback is stored in MongoDB
- Feedback is then automatically transferred to Google Sheets
- All responses from the Feedback Flow are stored in Google Sheets
- Response "Time Stamp" should be recorded and stored in Google Sheets

Feature

[2020-08-02 17:28] joshmorel commented on #1310
I'm currently working on this one - #1258 - hoping to be done in a few days. Once done that can be used as starting point for this work.

[2020-08-02 17:31] joshmorel commented on #1303
@rabbi08 - when you mean sorting by location for non-logged user are you thinking of something like this  #376 ?

[2020-08-02 17:38] joshmorel commented on #1257
This part is mostly done (developing in my own cluster) - I just need to finish the google sheets (.gs) code which consumes it.

I think it's best to save the realm files (new name for AtlasDB product which includes stitch) files as well as .gs code in a different repo (maybe `mongodb-realm-apps` ?). I would envision adding this #1310 and any similar items. Thoughts @mannykary?

[2020-08-02 17:39] rabbi08 opened #1311 "User friendly message should be displayed if the email update for an Org is successful or NOT."
1. Open "https://staging.fightpandemics.work/"
2. Login using valid email/pwd
3. Navigate to Profile -> Org_name[Already added]
4. Click on EDIT icon to edit account information
5. Update the 'Organisation email" to existing email in the system, say for e.g. try with the individual user email ID and click on 'Save Changes' button.

Issue#: You will observe that nothing will happen and only the foc

[2020-08-02 17:40] rabbi08 commented on #1303
Yes, it should be filtering the post displayed, as per the location for the onboarding user.

[2020-08-02 17:51] joshmorel commented on #1303
Just to be clear @rabbi08 this was when you clicked "Show me postings from anywhere" when going through onboarding. Since the user isn't supplying a location we'd need to use another external API (not sure if there is a free one...).

I think we should tackle this separately from this ticket.

[2020-08-02 17:54] joshmorel commented on #376
Regarding the comment in #1303 about sorting/filtering by locaiton for non-logged in user @rabbi08 cc @ppagarawal it is tagged as being post-MVP so basically not expected to be worked on anytime soon. However, I'm not sure if that was correct.

[2020-08-02 17:58] anya2040 commented on #1310
Ok Great! Should we close this issue or link it?

[2020-08-02 18:09] ppagarawal commented on #376
@joshmorel the product team is still working on prioritization of different features at the moment. There are more important features which need to be built and you can focus on them if this will be time consuming

[2020-08-02 18:57] joshmorel commented on #1310
@anya2040. No this is a different issue. But once I'm done this other work - it will provide a clear example of how to tackle this one.

[2020-08-02 18:58] joshmorel commented on #376
@ppagarawal Makes sense. I don't plan on tackling this one. But someone else can work on this one - not sure @Naraujo13 if you were still planning to do so.

[2020-08-02 20:09] mannykary opened #1314 "Set up AWS sandbox development environment for DevOps"
This environment will be used for testing new DevOps/infrastructure changes. By having a separate sandbox environment for testing DevOps changes, we eliminate the risk of impacting the review, staging, and production environments with untested changes.

This will allow us to have new DevOps engineers test changes safely. New members will be given access to this sandbox. The environment will be kep

[2020-08-02 20:12] mannykary commented on #1257
@joshmorel Yes, I think a different repo would be best for this as it's independent of the web app.

[2020-08-03 04:12] hellynyc opened #1315 "Organisation Profile | Missing App store / Play store icons"
Web: Chrome 84
Android: OnePlus 7 Pro
iOS: iPhone 6 Plus

Preconditions: User is logged in and has an organisation profile with links to App Store & Play Store

Steps to reproduce:
1. Go to the user's organisation profile

![Screen Shot 2020-08-02 at 11 55 18 PM](https://user-images.githubusercontent.com/52841932/89145072-90e64780-d51d-11ea-8037-ac914e8cc93b.png)

[2020-08-03 10:36] phuclb commented on #1304
If not IE, can we test it on Edge?

I don't have experience in back-end or some front-end areas, but I don't know why this website couldn't work under IE (at least IE10+).

Hope in the future, we will find a way to support IE.

Here is Browser Market Share:
https://www.w3counter.com/globalstats.php

And our site is designed for all people in the world, and IE still takes an important part, I guess

[2020-08-03 13:37] manualzuru commented on #1311
We should also confirm the email right @rabbi08?

[2020-08-03 13:48] manualzuru commented on #1303
@Yu-Alexa-Zhao I guess this is the initial design and not the final one as it looks different from our drowdown menus right?

[2020-08-03 13:51] manualzuru commented on #1266
@robinv85 said that he wanted to tackle this.

[2020-08-03 13:52] DevonLattrell commented on #1303
@manualzuru this is definitely initial look and feel. I just wanted to wireframe my thought process.

[2020-08-03 13:53] manualzuru commented on #1303
Thanks @DevonLattrell makes sense✌🏽. @Naraujo13 please take a look.

[2020-08-03 13:58] manualzuru commented on #1249
@joshmorel yeah you are correct. In transactional pages (Login/Signup) we want them to not be able to click on the logo so they don't leave and complete. This is a normal behavior, check Amazon checkout page.

[2020-08-03 14:31] yu-zhao-xyz commented on #1303
Yes we prototyped this feature before but took it out in MVP. Is this a V1.2 feature?

[2020-08-03 14:35] adisen commented on #1266
Okay. Awesome

Regards,
Israel Adetunji
https://adisen.me

On Mon, Aug 3, 2020, 14:51 Manuel Gonzalez Alzuru <notifications@github.com>
wrote:

[2020-08-03 14:43] idjevm commented on #1315
This is a duplicate of #1089, please any additional info there please.

[2020-08-03 14:43] #1315 closed, assigned to nobody

[2020-08-03 15:09] robvenn commented on #1266
Hey @manualzuru @adisen I was going to look at some other things first (like avatar upload) but was waiting for some more feedback and am currently busy with other things
For this feature are you working on #781 backend @adisen or does this also still need to be done? I suppose we probably have to add some API call to "confirm" the merging of the social accounts as well (so the functional requirem

[2020-08-03 17:17] rabbi08 commented on #1311
Yeah, valid email address, which should be confirmed while be added/updated for an Org just like we do for individual profiles.

[2020-08-04 02:03] #1314 closed, assigned to mannykary

[2020-08-04 02:28] kterry1 commented on #1306
@jyclam I'll take this on, but I wanted to clarify the ask here. It says "Refactor and remove OrgProfileComplete page". Am I refactoring OrgProfileComplete, or completely deleting it and just using "ProfileCompleted" where "OrgProfileComplete" is used?

[2020-08-04 02:28] kterry1 commented on #1306
Didn't mean to close. Let me know your thoughts on the above. I wanted to make sure I know what is wanted here before proceeding.

[2020-08-04 03:11] kterry1 commented on #1306
Also, how can i differentiate whether the user went through "Create Post" and then signed up, or whether they signed up the usual way.?

[2020-08-04 05:32] #1287 closed, assigned to jeremylin8

[2020-08-04 11:28] Naraujo13 commented on #376
If someone has the time to work on this, feel free, I'm a bit short currently

[2020-08-04 11:34] Naraujo13 commented on #1303
Agree with @joshmorel here.

Currently, posts are sorted by creation date when user is not logged since we didn't have a location in those cases.
Ideally, we could use an external service to get it by IP, but that is not that straightforward (not sure about free services with this either), and I think a separate issue like #376 is better.

About having different sorting options, it makes sense and

[2020-08-04 12:50] manualzuru commented on #1303
Let's start with the easiest then @Naraujo13 @DevonLattrell @joshmorel and then we can think about the trending one.

@Yu-Alexa-Zhao we decided to instead of shipping releases, we will ship continuously every two weeks the features that were added.

[2020-08-04 13:01] DevonLattrell commented on #1303
@Naraujo13 @joshmorel
Seems like for us at the moment **Comment** trends is best due to time stamp...I am not sure if the **Share** feature would help add to the trend. If the easiest and shortest way to value is showing `Whats Hot` or `Trending` through **Comments** I would begin with that and evolve the definition later.

I will check up on how other feeds define `Trending` and check back in.

[2020-08-04 13:05] manualzuru commented on #1306
Hi @kterry1, from my understanding, there are 2 different pages (UI wise) that are trying to accomplish the same function. The main difference is the 2nd CTA changes depending on the path that you went through. With the ProfileCompleted page, we should be able to do everything that is needed.

There are 3 paths with the last CTA that changes.

1- if you click in register -> Check the Help Board
2-

[2020-08-04 13:08] manualzuru commented on #1303
Sounds good to me @DevonLattrell

[2020-08-04 14:12] kterry1 commented on #1306
Thanks @manualzuru! I'll dig into it today and see what I can do.

[2020-08-04 14:34] joshmorel opened #1320 "Some posts are skipped due to lack of deterministic sorting"
This is a tricky one to reproduce but can be seen in production by:

* Visiting https://fightpandemics.com/feed  (log off if currently logged in)
* Filtering for "Requesting help" + "Providers" = "Startup" & scroll til the bottom (total displayed posts 7)
* "Covid Blood Drive" will be one of the posts
* Update filter to "Requesting help" + "Providers" in ( "Startup", "University" ) & scroll til th

[2020-08-04 14:56] joshmorel commented on #1320
In Staging (unless someone adds a new post as Startup): you can see this similarly but in different way.

For offer help both "University"/"Startup" only 14 are displayed. For "Startup" only 6 are displayed but there should be 7 ("123 Bite" is missing):

You can also see the duplicate ("Acu Holdings") fetched in both skip=0 and skip=5

![image](https://user-images.githubusercontent.com/10546720/89

[2020-08-04 17:16] rabbi08 opened #1323 "Onboarding User-> Show Post from anywhere -> There should be defined useful criteria to show relevant post to the onboarding user."
1. Open "Staging.fightpandemics.work"
2. Navigate Request Help -> Medical Help -> Show me postings from anywhere

Issue#: You will observe that there is no defined criteria to display the post for onboarding user.
Ideally if we do it as per location: near to far, that will be more helpful for the user.

Logging this issue to track the post sorting and displaying along with issue #376 and #1303

[2020-08-04 17:17] rabbi08 commented on #1303
Thnx @joshmorel ,I have logged #1323 for proper tracking of this scenario.

[2020-08-04 19:41] tejasm2 opened #1324 "[Desktop][Mobile] Display Playstore and Apple store icon on Organization profile."
As a user,
When, I have entered the Google Playstore or Apple Playstore link in the organization profile info,
Then I should see the Google Playstore icon or Apple Playstore icon on my Organization profile.

Google Playstore icon: https://zpl.io/beRoykP
Apple Playstore icon: https://zpl.io/brwWGMD

Related to [#1089](https://github.com/FightPandemics/FightPandemics/issues/1089) issue.

[2020-08-04 19:53] idjevm commented on #1324
This is a duplicate. Let's add the context to 1089...

[2020-08-04 19:53] #1324 closed, assigned to nobody

[2020-08-04 19:54] tejasm2 commented on #1089
As a user,
When, I have entered the Google Playstore or Apple Playstore link in the organization profile info,
Then I should see the Google Playstore icon or Apple Playstore icon on my Organization profile.
Google Playstore icon: https://zpl.io/beRoykP
Apple Playstore icon: https://zpl.io/brwWGMD

@joshmorel @idjevm

[2020-08-04 19:58] kterry1 commented on #1306
@jyclam @manualzuru So I did some testing with this. Since the **Sign In**, **Create a post**, and **Join Now** buttons all take you to '/auth/signup', I'm not seeing a way to conditionally render the text based on the path the user took to get to '/profile-completed' or '/create-organisation-complete' and have it all happen in one page. If the wording of that button is really important, then I'd

[2020-08-04 20:08] jyclam commented on #1306
You can probably do a conditional `sessionStorage` like here https://github.com/FightPandemics/FightPandemics/blob/487e856300292dc7e754be23134b4025d3dfdb82/client/src/pages/PostPage.js#L161-L164
https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage

[2020-08-04 20:13] kterry1 commented on #1306
I'll give that a try. Thanks!

[2020-08-05 02:11] soniaroh commented on #1311
@rabbi08 two questions regarding this one:
1. in regards to displaying a user friendly error, do we want this message to show an error under the email input filed ?
2. in regards to success message, do we want an alert to show? are we still redirecting the users back to org page?

[2020-08-05 04:17] rabbi08 commented on #1311
@nr431207 Below are the answers for the qs raised above:

1. No, the message should be displayed on the top after user update email and clicks on 'Save Changes' button.
To keep consistency throughout the application, let's display the error message in same way as we have unique email error messages on 'Create profile' page.

Please note that currently in FP we are displaying email address validati

[2020-08-05 07:10] phuclb commented on #1302
Hi @rabbi08, I'm working on this issue.

[2020-08-05 07:57] phuclb commented on #1308
Hi @Joeu, adding 'position: fixed' to the block 'am-drawer-sidebar', it will work.
Hope it helps.

[2020-08-05 10:29] robvenn commented on #715
@mannykary yeah that's also what I was thinking, not sure about expectations for traffic (it could spike e.g. when doing official launch or marketing campaign). This also makes me wonder if we have a solid way to check diagnostics and do some profiling, there are some good explanations for node.js here https://nodesource.com/blog/diagnostics-in-NodeJS-2 but might be harder in production

[2020-08-05 11:15] Joeu commented on #1308
Thanks for the tip, @phuclb ! I'm opening a PR.

[2020-08-05 11:43] Joeu commented on #1308
![Screenshot from 2020-08-05 08-22-27](https://user-images.githubusercontent.com/1004896/89409008-bcbd2500-d6f7-11ea-9ad2-fd8b259dbce4.png)

[2020-08-05 12:15] phuclb commented on #1308
You're welcome @Joeu :)

[2020-08-05 14:03] phuclb commented on #1309
Hi @kterry1,

From my experience, to make a site accessible, we have many things to do and to follow, strictly. For example, meaningful tags for specific cases with role attribute and other things to do.

Maybe a third party can help us, it's real good, but it also affects too much to the way we are going together.

My suggestion is finding a team or a person can help us to review our current site

[2020-08-05 14:09] #1308 closed, assigned to Joeu

[2020-08-05 14:27] adisen commented on #1266
Yea I'm working on Backend end, I've seen in the documentation that we can sort of like prompt the user to link the accounts when it finds that a similar email is already registered

[2020-08-05 15:41] kterry1 commented on #1306
The fix is based on jyclam's original post as it made the most sense.

[2020-08-05 21:54] soniaroh commented on #1311
@rabbi08 does the user actually need to `confirm` the changed and verified email address for an org before it gets updated?  Im not sure if Im following.

[2020-08-05 22:21] soniaroh commented on #1311
@rabbi08 ok I think I understand it now, youre talking about the email verification that is sent to the user's provided email address along with a link to confirm the account, right?

[2020-08-05 22:26] rabbi08 commented on #1311
Yes, we need to verify email, which user is trying to update.

[2020-08-06 03:28] soniaroh commented on #1311
@rabbi08 I looked into this further, and what we have in place for email verification is designed for new user signup, so our backend is currently expecting password along with other data to perform verification through Auth and we are dealing with different set of data in org profile edit page. In that case I will need some backend help on this if we are trying to implement the email confirmation

[2020-08-06 03:33] phuclb commented on #463
Hi @nadinejuraschek, can you send us some screenshot to review?

[2020-08-06 04:21] rabbi08 commented on #1311
@nr431207 Agree. Currently this email verification process is only working for Individual profile creation only.

I will suggest that's lets currently work with only error handling part for successful and unsuccessful email Update during Org ->EDIT process.

And then we can add email verification for Organisation profile while 'Creating and  updating Organisation' i.e. we have to verify the email

[2020-08-06 06:33] rabbi08 commented on #1018
@BMariscal
This issue have been observed again in STG. Hence reopening this same issue, let me know if I should log new one or we should track from here.

Add Post -> https://share.getcloudapp.com/xQuL97BZ
EDIT post -> https://share.getcloudapp.com/kpubyDpP

When user click on 'Back' button, user should be re-directed to previous page visited before.

[2020-08-06 06:50] rabbi08 opened #1331 "Org Type should be added for the "Org added by Individual user" just like we have for 'Sourced'"
1. Open "https://staging.fightpandemics.work/"
2. Login using valid email/pwd
3. Navigate to profile -> Add Org -> Create Org Profile as "Type=Non-Profit" Org
4. Add a post from the new Org or view the profile

Issue: You will observe that there is "No Org type" is displayed with the Org added by the individual users.

Refer below GIF.
https://share.getcloudapp.com/nOukYv8D

[2020-08-06 13:30] joshmorel commented on #1331
Hi @rabbi08  this was added to the actual name by me in the script to import the "Sourced by FightPandemics" posts from AirTable - https://github.com/FightPandemics/FightPandemics/blob/8aa72aeafcdc1c82ca37174368aa88ca44e57494/backend/scripts/import-posts/init-sourced-by-fp-users.js#L93.

We needed one org per type due to the way we are filtering posts by "Providers" (org types) but actually I did

[2020-08-06 13:49] DevonLattrell commented on #1303
@Naraujo13 @joshmorel
After some review, the time stamping is the most important thing for the `Trending` sort to function as expected. Ideally in the future we may have time stamps for the `Likes` on a post in order to fully encompass the sort.

I propose we start with a 'Trending' definition of posts with the most comments over a 48 hour period. Let me know what you guys think.

[2020-08-06 15:16] joshmorel commented on #1306
@kterry1 @jyclam  Sorry I didn't take a look at this early when you tagged me - since the PR is in.

I'm really apprehensive about using the same file/component for different routes. It can result in a hard to maintain situation as I see with our "Login.js" file - see #1164  (that one is more complex, so not exactly comparable but similar principle).

I think it would be better to have more re-usa

[2020-08-06 15:28] nadinejuraschek commented on #1000
Any news on the design? @ppagarawal

[2020-08-06 15:50] joshmorel commented on #1306
Also I did try to figure out what the design's flow is supposed to be after create org complete in Figma but it wasn't clear (https://www.figma.com/file/kT6SJLL4v3w06yFF2cGIun/FightPandemics-MVP?node-id=1852%3A8716). Is "View my profile" always supposed to go to MY profile as opposed to the recently created organisation's profile (current state). The latter makes more sense but the design doesn't

[2020-08-06 16:58] yu-zhao-xyz commented on #1000
Yes we have an updated design. Let me export to Zeplin in about an hour? Sorry about the delay.

[2020-08-06 17:39] joshmorel commented on #1320
Confirmed now there are 15 for filter above in production https://fightpandemics.com/feed

Thanks @rabbi08 & @sheeba1 for testing - I will close. If you have any other questions/comments let me know.

[2020-08-06 17:39] #1320 closed, assigned to joshmorel

[2020-08-06 18:14] yu-zhao-xyz commented on #1000
Hi @nadinejuraschek , the desktop version of 404 page is here: https://zpl.io/bJJMeDK, the mobile version is here: https://zpl.io/bJJMeDK

[2020-08-07 00:35] jyclam opened #1335 "Selector displaying value instead of text from options"
![Screen Shot 2020-08-06 at 5 27 24 PM](https://user-images.githubusercontent.com/26049767/89595728-23cafe80-d80a-11ea-9615-c4337e17e6a5.png)
![Screen Shot 2020-08-06 at 5 27 28 PM](https://user-images.githubusercontent.com/26049767/89595733-24fc2b80-d80a-11ea-94de-a13f0fec889d.png)

https://github.com/FightPandemics/FightPandemics/blob/bd6529ef50/client/src/assets/data/createPostSettings.js#L2-L1

[2020-08-07 00:38] doheekim93 commented on #1335
Spoke with design team:
We will adjust the wording from "The post will be visible to" to "The post will be visible to people" and go with "In my..."

[2020-08-07 01:44] jyclam commented on #1335
@doheekim93
In changing the text of the drop down, the flow of the modal gets changed sometimes. I can reduce the  spacing between `The post will be visible to` and the drop down menus to make it fit. Is this an acceptable fix?

![Screen Shot 2020-08-06 at 6 41 50 PM](https://user-images.githubusercontent.com/26049767/89599569-cc7e5b80-d814-11ea-9ae7-82d5ab9617ff.png)
![Screen Shot 2020-08-06 at 6

[2020-08-07 15:02] joshmorel opened #1337 "Update nginx config for seo4ajax crawling"
Step toward resolves #909

We have an account now and need to update nginx config so certain user agents will be redirected to seo4ajax

Docs: https://www.seo4ajax.com/docs/getting-started/

[2020-08-07 15:28] joshmorel opened #1338 "Add dynamic metatags to be read by seo4ajax bot"
Step towards resolving #909

Likely will implement in same PR with #1337

Notes:

* We don't have post images yet so we will use the same one as the main site.
* Seems like 300 characters is good for description - https://stackoverflow.com/a/9552296 - we can take the first part of post body for now if longer

So for example https://staging.fightpandemics.work/post/5f04b73849aca117671ae4cd would ha

[2020-08-07 15:30] joshmorel commented on #1338
FYI  @manualzuru does the above seem correct?

Not sure about the non og/twitter items like `name="title"`/`name="description"`, not sure if this will be used by anything if the others exist but I guess it might not hurt?

[2020-08-07 15:41] DevonLattrell opened #1339 "[Add Feature] Change Password Option in the Edit Profile section"
Part of the Feature Ratings from July.

See below for wireframe of feature. Created a simple tab in the edit portfolio called `Security Information`. This is a similar format to change passwords as other large Social Feeds (Instagram, Snapchat, and Facebook)

Requirements:
1. User must enter their old password correctly in order to meet the requirements to update the new password.
2. The password

[2020-08-07 15:53] adinath97 commented on #634
@jyclam Hello there! Do you happen to still be working on this? Let me know :)

[2020-08-07 17:14] ralbach opened #1340 "Symptoms Checker Navigation Buttons get hidden/inaccessible behind symptoms"
![Screen Shot 2020-08-07 at 9 13 02 AM](https://user-images.githubusercontent.com/11340738/89670623-5c181e80-d896-11ea-88f2-45d50cadeb10.jpg)

After starting the symptoms checker, the forwards and backwards navigation buttons get hidden behind the symptoms themself. Need to adjust them to adjust dynamically under the symptoms.

[2020-08-07 21:30] ralbach commented on #1340
I've resolved this issue locally - just need to get access to add labels and get reviewers..

[2020-08-08 02:35] jyclam commented on #1286
Hey @CeesWang, do you remember the context around this bit of code? https://github.com/FightPandemics/FightPandemics/blob/bd6529ef50e1825f35f95996b214ce82b6b6a4e1/client/src/components/Feed/FilterBox.js#L30-L36

Just want to confirm that it's safe to remove this `fromWhom` to `providers` conversion.

[2020-08-08 05:58] CeesWang commented on #1286
Changes have been made and I'm not 100% if it's safe to be removed. Might
have to look where the method is potentially being called.
On Fri, Aug 7, 2020, 10:35 PM John <notifications@github.com> wrote:

[2020-08-08 11:52] tejasm2 opened #1342 "[Desktop][Mobile] Need to update the design of "Request Help" and "Offer Help" buttons on the Landing page."
Need to update the designs of "Request Help" and "Offer Help" buttons on the Landing page.

The new updated designs without hover: https://zpl.io/V4Wzp0M
The new updated designs when user hovers: https://zpl.io/VqoL73G

[2020-08-08 12:57] Joeu commented on #1342
@tejasm2 , can you export the icons in this zeplin link or maybe are they available elsewhere?

[2020-08-08 13:02] tejasm2 commented on #1342
Hey @Joeu , I think the link I shared has the designs from zeplin. Are asking about something else?

[2020-08-08 13:10] Joeu commented on #1342
Hi, when I click on the knife icon, the .svg files are not available for download.
![Screenshot from 2020-08-08 10-09-26](https://user-images.githubusercontent.com/1004896/89711239-589c9a00-d95f-11ea-9204-a6bc3dd7b299.png)

Am I doing something wrong?

[2020-08-08 13:14] tejasm2 commented on #1342
Hey @Yu-Alexa-Zhao can you please help here.

[2020-08-08 17:35] ralbach opened #1344 "Symptoms Checker results don't show questions and return an empty item if 'none of the above is selected'"
![Screen Shot 2020-08-08 at 9 44 41 AM](https://user-images.githubusercontent.com/11340738/89716506-58ea6480-d962-11ea-9af3-36663b51a336.jpg)

1. Open https://staging.fightpandemics.work/symptoms-check
2. Complete the survey selecting all the bottom answers (i.e. 'None of the above')
3. Finish survey and see out put similar to above.

This should re-list the question so user can remember their res

[2020-08-09 02:41] #777 closed

[2020-08-09 10:15] #1306 closed, assigned to kterry1

[2020-08-10 10:32] idjevm commented on #1124
Hey @pooji02, are you able to reproduce these? Could you please take a video? I am trying to either merge the PR for this issue or request changes.

[2020-08-10 13:30] Joeu commented on #1339
@DevonLattrell , is the backend already supporting this feature?

[2020-08-10 13:46] DevonLattrell commented on #1339
@Joeu that is a great question. The Forgot Password link is already supported. @joshmorel do you know if this would be already supported by the backend or with Auth0? Thanks!

[2020-08-10 15:29] yu-zhao-xyz commented on #1342
Updated the Zeplin:
request/filled: zpl.io/25WxMoJ
request/hollow: zpl.io/V10Dm5Q
offer/filled: https://zpl.io/2EM1z98
offer/hollow: https://zpl.io/VqonGn7

[2020-08-10 15:38] tejasm2 commented on #1342
Thanks a lot @Yu-Alexa-Zhao

[2020-08-10 18:30] kterry1 commented on #1309
Thanks @phuclb! We are currently setup with a trial account for accessibe.com.
Could we set up out staging environment with the trial account?
This might require a more senior person here to approve this: @idjevm or @joshmorel

You can reach out to Yegor from hr for the credentials.

[2020-08-10 19:11] RF9A5V commented on #1254
Hey @joshmorel,

I've got a PR for this at #1348. Still a WIP, since I'm not sure what the best message to provide to the users would be for each of the cases. Right now it's set up to show the default error message associated with each error code, but that might be jarring for a non-technical user. Additionally, I've got the permissions error set up to provide a link to a support page to reset lo

[2020-08-10 20:24] ralbach opened #1349 "Symptom Check should give an option to retake test when finishing an assessment"
![Screen Shot 2020-08-10 at 1 23 51 PM](https://user-images.githubusercontent.com/11340738/89827669-bde1be00-db0c-11ea-9ee5-fe94476ad0a9.jpg)

When finishing questionnaire, options should include done (Return to home page) or retake the test (redirect to question 1).

[2020-08-10 21:07] joshmorel commented on #875
@rabbi08 so with this fix  #1320 the most recent post will display first for the exact same coordinates (regardless of author -  own or others).

I think we should close this as this will be the expected sorting order for v1.0.

We've discussed doing more complicated things with the personal help board feed but that will be v1.1.

[2020-08-10 21:24] joshmorel commented on #1254
Hey @EyeWumbo . Yeah that would be overkill. I don't even think we should provide a link (most cases - this can be resolved with them needing to go elsewhere).

The 1st goal is to have something more informative than "failed getting location" so we don't run into this #1253 (in QA or real usage). Even a potentially "jarring" message is not so bad.

Beyond that it's really about what we want the us

[2020-08-10 21:43] dhruvdpatel opened #1351 "Symptoms-Checker [Mobile]: Implement Workflow for "For Someone Else""
**Goal**:
Create a mobile page for Symptoms checker workflow for "For Someone Else"

**Requirements** from Top down

1. Global Navigation with Menu.
2. Red Banner with text: "Local Emergency Number 911"
3. Sub-Navigation with 3 Option: Health Facilities, Symptomp Checker, Feed
     - symptom Checker tab will be highlighted and underlined with blue color.
4. COVID-19 Screen Tool with static text me

[2020-08-10 21:49] #1000 closed

[2020-08-10 21:53] doheekim93 commented on #1335
@jyclam oops just saw this -- yes, the fix looks fine!

[2020-08-11 02:25] ralbach commented on #1351
@vsan626

- We can use google maps API for the local emergency number.
- Text should be rendered differently based on for others. Figma link has examples
- For now, focus on making it responsive and clean on mobile using flexbox etc.
-Zeplin link will have actual measurements for mobile breakpoints to clean up CSS later.

[2020-08-11 03:10] vsan626 commented on #1351
@ralbach I'll work on the red banner and pulling local emergency number

[2020-08-11 03:15] vsan626 opened #1355 "Symptoms-Checker [Mobile]: Global page should have a red banner with local emergency number"
![Screen Shot 2020-08-10 at 8 14 18 PM](https://user-images.githubusercontent.com/11686709/89853388-226d3f00-db46-11ea-82b6-5f26b6670b86.png)

Banner should display users local emergency number

[2020-08-11 04:46] rabbi08 commented on #875
@joshmorel Agree, As per the testing done for #1322, recent post as per location match, is displayed first. Hence we can close this.
thanks

[2020-08-11 04:46] #875 closed

[2020-08-11 06:41] #1302 closed, assigned to phuclb

[2020-08-11 10:58] Joeu commented on #1342
@tejasm2 , the updated designs were removed, do you know which styleguide should I use now?

[2020-08-11 11:05] Joeu commented on #1342
Also the unselected color is _lighter_ now than in the previous icons.

![Screenshot from 2020-08-11 08-02-11](https://user-images.githubusercontent.com/1004896/89890137-3d24cf80-dba9-11ea-8044-c7966e8e3e19.png)

[2020-08-11 13:41] tejasm2 commented on #1342
This is strange. Can you please check this @Yu-Alexa-Zhao ?

[2020-08-11 13:44] yu-zhao-xyz commented on #1342
This is weird. The only difference between old vs. new designs is the illustrations used. I think replacing the illustrations would be sufficient. In the image shown above, the border and background color should be the primary color.
Example of new design:
![image](https://user-images.githubusercontent.com/44085699/89904586-1e2d3a00-dbb7-11ea-97f3-1c64f541bde1.png)

[2020-08-11 13:49] manualzuru commented on #1351
@dhruvdpatel the Emergency number is dynamic and depends of the country where the users are located (We can use determine it by knowing the IP country). @ralbach @vsan626 the less we use google API the best, remember that we don't have infinite credits (only $2000 to start with)

[2020-08-11 13:53] manualzuru commented on #1355
This number is dynamic and we could use the IP for determining the location and then use this table: https://airtable.com/shrZOKYyIC2vZF0Px

[2020-08-11 13:54] manualzuru commented on #1351
https://airtable.com/shrZOKYyIC2vZF0Px here you can find the list

[2020-08-11 14:04] RF9A5V commented on #1254
Hey @joshmorel,

Updated according to guidance. Now we've just got the messages without anything special for links. Tested with rejecting permissions and throwing errors from the reverse location lookup endpoint.

Should now be ready for review.

[2020-08-11 14:40] RF9A5V commented on #1271
Hey @idjevm and @ppagarawal,

The fix for this is in #1356. I'm assuming that this behavior is still desired because the issue is still open, but if not, let me know and close the issue.

[2020-08-11 14:45] dhruvdpatel commented on #1351
Understood. @vsan626, can you please use that list, put it in JSON, and implement? The emergency number won't change and remain static for most of the part. With the list @manualzuru provided, we can show them by geocode.

[2020-08-11 14:50] manualzuru commented on #1271
Yes @EyeWumbo this is still desired and it makes sense what @ppagarawal is proposing!

[2020-08-11 14:55] manualzuru commented on #1302
@jyclam @rabbi08 @phuclb Is this solved?

[2020-08-11 14:58] phuclb commented on #1302
Hi @manualzuru, this issue is fixed, applied and closed.

[2020-08-11 15:40] #463 closed

[2020-08-11 16:01] vsan626 commented on #1351
@dhruvdpatel got it. I'll utilize the list from @manualzuru Thank you!

[2020-08-11 16:58] Joeu commented on #1342
Yep, you folks are correct, I've mistaken the filled/hollow naming for selected/unselected. My bad! haha!
Just the Request help icon is cut on the top and right edges, @Yu-Alexa-Zhao .

![Screenshot from 2020-08-11 13-56-38](https://user-images.githubusercontent.com/1004896/89926028-a8d36080-dbda-11ea-8d05-0b2d18c57840.png)

[2020-08-11 18:17] yu-zhao-xyz commented on #1342
Yes I think this is great, thank you! The difference in color is due to screenshotting I believe?  @Joeu

[2020-08-11 18:44] Joeu commented on #1342
Yes, it is, @Yu-Alexa-Zhao .

[2020-08-12 04:32] dhruvdpatel commented on #357
This issue is still active in the Mobile view. We need to fix following issues.

issue # 1 - Previous and Next Arrow buttons are overlapping with the symptom selections. (Mobile)
issue # 2 - When user clicks on a highlighted symptom to unhighlight, it does not remove the blue highlight. (Mobile)
issue # 3 - Once Symptoms are selected, next button is not functional. (Mobile)

Once this three issues

[2020-08-12 04:40] dhruvdpatel opened #1361 "Symptoms-Checker [Mobile]: SC-Q2 Page Bugs"
**Goal**

Fix the following bugs for SC-Q2 Pages for the Mobile view.

issue # 1 - Previous and Next Arrow buttons are overlapping with the symptom selections. (Mobile)
issue # 2 - When a user clicks on a highlighted symptom to unhighlight, it does not remove the blue highlight. (Mobile)
issue # 3 - Once Symptoms are selected, the next button is not functional. (Mobile)

[2020-08-12 04:42] dhruvdpatel opened #1362 "Symptoms-Checker [Mobile]: SC-Q3 Page Bugs"
**Goal**

Fix the following bugs for SC-Q3 Pages for the Mobile view.

issue # 1 - Previous and Next Arrow buttons are overlapping with the symptom selections. (Mobile)
issue # 2 - When a user clicks on a highlighted symptom to unhighlight, it does not remove the blue highlight. (Mobile)
issue # 3 - Once Symptoms are selected, the next button is not functional. (Mobile)

[2020-08-12 04:44] dhruvdpatel opened #1363 "Symptoms-Checker [Desktop]: SC-Q3 Page Bugs"
**Goal**

Fix the following bugs for SC-Q3 Pages for the Desktop view.

issue # 1 - Previous and Next Arrow buttons are overlapping with the symptom selections. (Mobile). Please add them into the bottom of the page that is visible.

[2020-08-12 04:47] dhruvdpatel opened #1364 "Symptoms-Checker [Desktop]: Fix Previous and Next Arrow Buttons"
**Goal**

Currently, the Desktop view for symptoms-checker previous and next arrow buttons are disproportional. Cosmetic fixes are required. Make sure those changes won't affect the Mobile view.

[2020-08-12 06:03] sheeba1 opened #1365 "created an Organization with an email in invalid format"
Issue: I was able to create an Organization with an email  in invalid format ex:sheebag@com(refer figure 2 )
Steps: sign into staging.fightpandemics.work and navigate to 'Help Board''
2. click 'Create Post' and Choose 'Organization'
3. Click create new org
4. Enter the required fields and email as  abc@com
5.click 'Create Profile'. Organization is created

Expected behaviour: A validation message

[2020-08-12 09:46] ppagarawal commented on #1311
@idjevm @nr431207

Please display the message for any updates made in the fields.

Rest looks good

[2020-08-12 14:31] tejasm2 opened #1367 "[Desktop][Mobile] Need to display a general error message if there are no relevant posts available."
As a user,
When I filter the posts as per "Location", "Type" and "Providers" and if no relevant posts exists as per my filters,
Then I should be displayed the following message: "Sorry, there are currently no relevant posts available. Please try using different tags or create your own post."

![image](https://user-images.githubusercontent.com/66698276/90018722-0050f980-dccb-11ea-8081-969921c4c554.

[2020-08-12 14:31] joshmorel commented on #786
@robinv85 from what I've been reading it seems the recommended path for a monorepo is to add a root level npm project for husky/lint-staged.

https://github.com/typicode/husky#monorepos
https://www.horacioh.com/writing/setup-lint-staged-on-a-monorepo

This [repo is an example using lerna](https://github.com/sudo-suhas/lint-staged-multi-pkg) but with two non-lerna alternates. [This seems](https://g

[2020-08-12 17:48] robvenn commented on #786
@joshmorel interesting information, I will look at the links you provided and give it some thought
I am not sure if the long term vision here is to keep the backend and the web frontend in a monorepo, also because there are mobile apps as clients?
About Lerna, I have seen that this is often successfully used for libraries and tools such as Babel and Lodash but I am wondering if this would fit our

[2020-08-12 18:30] joshmorel commented on #786
@robinv85 - For `lerna` I think you're right - not just overkill but inappropriate for us.

I'm not sure about the long term vision but in the medium term I can't see this changing anytime soon (~6 months). For one thing, I have a feeling the feasibility of running cypress e2e tests might depend on keeping f/e & b/e together in one repo.

[2020-08-12 20:38] nivetheatha opened #1369 "Not able to logout if user has more than 10 organisation."
Environement: Staging
Device used:Dell (Windows os)
Browser:Google Chrome
Steps to create:
1.Login with valid user name and password.
2.Create 10 Organisation under the profile.
3.Click on profile.
Expected Result:
Able to see all the item in the list/Able to scroll to access all the item in the list.
Actual Result:
Not able to access logout in the menu.Not able to scroll as well.
![Logout](https:

[2020-08-12 23:10] joshmorel commented on #1369
Good find @nivetheatha . I think putting Logout then Feedback then Add Organisation and finally the org list would be best.

Alternatively we could have a manage organizations button if there are more than X (5?) orgs. But we'd need a page or section on the user's profile to manage orgs.

[2020-08-13 01:35] mannykary commented on #786
I think for the short-term we can just follow [this method](https://github.com/sudo-suhas/lint-staged-multi-pkg#install-lint-staged-at-the-package-root) as @joshmorel mentioned as we will likely break up frontend and backend into separate repos at some point. They will likely be independently deployable and independently scalable as well since as @robinv85 mentioned there are more frontend clients

[2020-08-13 07:29] #1248 closed

[2020-08-13 12:34] tejasm2 opened #1371 "Symptom Checker [Desktop][Mobile]: Add new updated information on question 1 (For myself)."
**Goal:** Create a screen for question 1 on Symptoms Checker for myself.

**Requirements from top down:**

1. The question number should be displayed in the following format: "Question 1/8"
2. Question to be displayed: "Is this an Emergency?"
3. Next line to be displayed: "Stop and call your local emergency number if you are experiencing any of these symptoms:" (in Bold)
4. List of symptoms to be

[2020-08-13 13:10] pemika-me opened #1372 "Redirect the user to the top of the page when switch/refresh"
**Expected result:** The user should be always redirected to the top of the page when
   - Refresh the current page
   - Switch to the any new page (e.g. All feeds, Request, Offer, About us, FAQ, Privacy policy, etc.)

**Current result:** When switching to new page after scrolled down for a while - it redirects to the new page, but lands the user to the exact point where they left off on the previ

[2020-08-13 13:15] tejasm2 opened #1373 "Symptom Checker [Mobile][Desktop]: Need to specify correct question number for Q2 screen."
Need to display "Question 2/8" instead of "Question 1/9" for "How old are you?" and change the question to "What is your age?" on this screen: https://staging.fightpandemics.work/symptoms-check#Step1

Mobile Design for reference: https://zpl.io/a7M8Rlv
Desktop Design: https://zpl.io/a3W8pD8

[2020-08-13 13:29] pemika-me commented on #1372
**Expected result:** The user should be always redirected to the top of the page when
   - Refresh the current page
   - Switch to the any new page (e.g. All feeds, Request, Offer, About us, FAQ, Privacy policy, etc.)

**Current result:** When switching to new page after scrolled down for a while - they seem to redirect to the new page, but to the exact point I left off on the previous page as wel

[2020-08-13 20:30] #1271 closed, assigned to RF9A5V

[2020-08-13 20:31] #1247 closed

[2020-08-13 21:14] sheeba1 commented on #1125
On Windows-chrome I was notable to reproduce this error. Also observed , once i click any radio button it remains selected , for my next feedback attempt.

[2020-08-14 03:21] ppagarawal opened #1374 "Customize the authentication page which grants profile access"
Customize the auth0 page with Facebook integration to show that the user is providing Facebook profile access to FightPandemics and not auth0.

Acceptance criteria
- [ ] Change the text from auth0 to FightPandemics
- [ ] Change the Auth0 logo to Fightpandemics logo

![image](https://user-images.githubusercontent.com/6276256/90210211-fe8e4f80-de0a-11ea-80dd-d3d04343884a.png)

[2020-08-14 14:00] kterry1 commented on #1373
I'll review and work on this tomorrow.

[2020-08-14 14:55] tejasm2 opened #1376 "Symptom Checker [Mobile][Desktop]: Add new screen for question 3 (For myself)."
**Goal:** Create a screen for question 3 on Symptoms Checker for myself.

**Requirements from top down:**

1. The question number should be displayed in the following format: "Question 3/8"
2. Question to be displayed: "Are you feeling ill?"
3. Button with text: "Yes"
4. Button with text: "No"
5. Back button
6. Next button

**Acceptance Criteria:**
Only one button can be selected. The next button

[2020-08-14 15:37] tejasm2 opened #1377 "Symptom Checker [Mobile][Desktop]: Add new screen for question 4 (For myself)."
**Goal:** Create a screen for question 4 on Symptoms Checker for myself.

**Requirements from top down:**

1. The question number should be displayed in the following format: "Question 4/8"
2. Question to be displayed: "In the last two weeks before you felt sick, did you have contact with someone diagnosed with COIVD-19?"
3. Button with text: "Yes"
4. Button with text: "I don't know"
5. Button wit

[2020-08-14 15:48] #233 closed

[2020-08-14 17:04] rabbi08 commented on #1125
@JamesonRudolph
unable to reproduce currently, hence closing this one as 'Unable to reproducible'. Will log again If I got the same observation again.

Thanks.

[2020-08-14 17:04] #1125 closed

[2020-08-14 19:45] #1311 closed, assigned to soniaroh

[2020-08-15 20:09] mannykary opened #1379 "Terraform - pin to v0.13.0 to prevent breaking changes"

[2020-08-16 02:55] kterry1 commented on #1373
A few things here before I make any changes:
- This question is actually in the Step1 component: https://share.getcloudapp.com/nOuknL7e
- Am I changing the name of Step1 to Step2 for the whole codebase as well? If so, is the Step2 component becoming Step1?
- Can we just hard code the current question and the total questions? It seems convoluted to have props.currentState and props.totalSteps in th

[2020-08-16 17:53] tejasm2 commented on #1373
Hey @kterry1 , I think for entire codebase "How old are you?" screen should be step 2 and the current step2 component should actually be step 5, for which I will make a separate ticket. Also I have updated the design link. cc: @ralbach

[2020-08-16 18:42] kterry1 commented on #1373
Thanks @tejasm2!

[2020-08-16 21:54] #1254 closed

[2020-08-16 22:01] ethanKocheril commented on #840
I'm going to try to work on this, this is for mongoDB, right?

[2020-08-16 22:36] joshmorel commented on #1256
Related - but #1372 also affects Firefox.

[2020-08-17 12:54] tejasm2 opened #1384 "Symptom Checker [Mobile][Desktop]: Add new screen for question 5 (For myself)."
Goal: Edit the current screen with question "Are they experiencing any of these symptoms?" and make it as question 5.

Requirements from top down:

1. The question number should be displayed in the following format: "Question 5/8"
2. Question to be displayed: "Do you have any of the following? (Check Any)"
3. Multiple select buttons with following options:
* Fever or feeling feverish (such as chil

[2020-08-17 13:27] tejasm2 opened #1385 "Symptom Checker [Mobile][Desktop]: Step 7 on current implementation should be Step 6 i.e Question 6 (For Myself)"
**Goal:** Change the current screen with question "Do they live in a care facility?" and make it as question 6 (Step 6) and replace it with "Do you live in a care facility?" question.

Replace the "Question 7/9" to  "Question 6/8"

**Acceptance Criteria:**
Only one option can be selected. The next button should remain disabled unless any of the option buttons are selected. When any of the option b

[2020-08-17 13:35] tejasm2 opened #1386 "Symptom Checker [Mobile][Desktop]: Edit the current screen with "Do they work in a medical facility?" question and make it as Step 7 in flow (Myself)."
**Goal:** Change the current screen with question "Do they work in a medical facility?" and change that question to "In the last two weeks, have you worked or volunteered in a healthcare facility or as a first responder? "

Replace the "Question 8/9" to  "Question 7/8"

**Link to current implementation:** https://staging.fightpandemics.work/symptoms-check#Step8

**Requirements from top down:**

1.

[2020-08-17 13:41] joshmorel opened #1387 "Add meta (counts) to GET /posts"
This is for chatbot pagination but would be useful elsewhere. Currently we are returning `[...]` we should still default to this & include a parameter to include a meta object (common among REST APIs) that we can add other stuff to.

The result would be:

[code]

Where `"total"` is the number in the result set based on filters EXCEPT for pagination parameters (skip/limit).

An alternate might be r

[2020-08-17 14:01] tejasm2 opened #1388 "Symptom Checker [Mobile][Desktop]: Edit the current screen with "Do any of these apply to them ?" question and make it step 8 in the flow (For myself)."
**Goal:** Change the current screen with question "Do any of these apply to them?" and make it as question 8 (Step 8) and replace it with "Do any of these apply to you? (Check Any)" question.

Replace the "Question 3/9" to  "Question 8/8"

**Requirements from top down:**

1. The question number should be displayed in the following format: "Question 8/8"
2. Question to be displayed: "Do any of thes

[2020-08-17 14:51] DevonLattrell opened #1389 "Add visible Timestamp to posts on Feed"
We currently store a timestamp for post creation and last update on posts. We currently do not show this on the posts themselves. As users move through their feed they will want to know how relevant the post is and how new it is.

We are current discussing on issue #1303 the sort by feature, but in order for clarity on the feed, even with the sort by feature, it will be crucial to show the timesta

[2020-08-17 15:26] yu-zhao-xyz commented on #633
In terms of styling, I think we can reuse the style in this screenshot: https://zpl.io/aRJ6eYK

[2020-08-17 15:44] joshmorel commented on #1304
Hi @phuclb Edge has been confirmed to work by others and definitely should be supported.

It's not trivial at this point as it was never considered from the start. We'd need to:

1. Implement polyfills for the libraries we depend and the libraries they depend on etc + maybe switch to other libraries if they do not support IE11 at all
2. Change our method for secure persistent authentication
3. Add

[2020-08-17 15:49] joshmorel opened #1390 "Show text that message that IE11 is not support"
See issue #1304 for discussion. Due to current usage of libraries without polyfills, use of modern style rules & mechanism for secure persistent login we do not support IE11.

It would be a significant effort to implement and maintain such browser support so a decision to do so would require prioritization against other desired features.

We should display a message - "To ensure a secure and pleas

[2020-08-18 02:19] #1337 closed, assigned to joshmorel

[2020-08-18 02:19] todo[bot] opened #1391 "move to separate sidecar container"
https://github.com/FightPandemics/FightPandemics/blob/865e48c8438986dbeb44f2398d3286113e4a4bf3/client/nginx/nginx.conf#L1-L6

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 865e48c8438986dbeb44f2398d3286113e4a4bf3 when #1378 was merged. cc @FightPandemics.

[2020-08-18 02:20] todo[bot] opened #1392 "move to separate sidecar container"
https://github.com/FightPandemics/FightPandemics/blob/5e59a2a7885c675a41050b19b922dd8b6b40b2e4/client/nginx/nginx.conf#L1-L6

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5e59a2a7885c675a41050b19b922dd8b6b40b2e4. It&#x27;s been assigned to @joshmorel because they committed the code.

[2020-08-18 05:47] #1379 closed, assigned to mannykary

[2020-08-18 13:41] kterry1 commented on #1309
@robinv85 Any thoughts on this? Not that we have an accessibe account, should we start implementing it or do we not want to use a third party?

[2020-08-19 00:10] AshBha243 commented on #1365
@sheeba1 : Hi Sheeba! I am newly joined to FP. When I login and got to create post, it create user profile and not the organization profile.
How to create organization profile?
Thanks

[2020-08-19 03:42] sheeba1 commented on #1365
@AshBha243  , Hello ,When you click on create post, choose 'Organisation'.Click  ' create new one'. You just need to follow steps in the description above.

Please let me know if you come across any issues. thx!

[2020-08-19 12:39] #1391 closed, assigned to nobody

[2020-08-19 12:54] #1392 closed, assigned to joshmorel

[2020-08-19 14:19] tejasm2 commented on #1342
Hey @Joeu , we now have the correct design icons for this, can you please check them if you have not checked yet.

[2020-08-19 16:11] ppagarawal opened #1394 "Reset password condition and sign in password condition do not match"
As a User, I should be able to use the password I reset to log in so that I can access the portal.

I received an error after resetting the password for logging in.  Please check the conditions and importantly, the special character condition for logging in.

Expected behaviour:
The password setting criteria must be common for sign up, sign in and resetting links.

[2020-08-19 16:21] joshmorel opened #1395 "Devise process to produce a useful changelog and/or release notes automatically"
Through the use of standardized commit messages + tools.

Look into:

* Conventional Commits: https://www.conventionalcommits.org/en/v1.0.0/
* conventional-commits: https://github.com/conventional-changelog
* cz-cli: https://github.com/commitizen/cz-cli

And more

[2020-08-19 16:29] joshmorel commented on #1338
Resolved by #1378

[2020-08-19 16:29] #1338 closed, assigned to joshmorel

[2020-08-19 16:31] joshmorel commented on #342
Will be resolved by #1375

[2020-08-19 16:39] ppagarawal opened #1396 "Send email to the user on password update"
When a user updates his password, then he should get email for this change on his registered email informing him that his password has been updated. Please use the below message in the email.

Your password has been updated

If you believe that someone else has reset your password, please reach out to the support team for immediate help on contact@fightpandemics.com

- [ ] The email in the message

[2020-08-19 17:02] joshmorel opened #1397 "Organisation profile - stuck loading if not logged-in; redirects to own profile if logged in (staging)"
Not logged in:

![image](https://user-images.githubusercontent.com/10546720/90667359-a8f7df80-e21c-11ea-9e78-c51afd9fdd55.png)

Logged in:

![logged-in-org-redirect](https://user-images.githubusercontent.com/10546720/90667382-b0b78400-e21c-11ea-9483-8f10561ecdb4.gif)

This needs to be fixed before releasing.

This was the cause - https://github.com/FightPandemics/FightPandemics/pull/1341

[2020-08-19 17:05] rabbi08 opened #1398 "Create/EDIT my POST -> Click on Back button -> Lands on FEEDs page, rather than previously navigated page."
Please note this issue occur again. Earlier reported and fixed issue #1018 and #1093

Earlier I reopened old issue but I think I should open new one and link old.

1. Open "https://staging.fightpandemics.work/"
2. Login using valid email/pwd
3. Navigate Profile -> My Profile
4. EDIT any comment and after "EDIT or comment" on any Post, click on 'BACK' button

Issue: You will observe that user lands

[2020-08-19 17:05] rabbi08 commented on #1018
Closing this issue and opening new one #1398

[2020-08-19 17:05] #1018 closed

[2020-08-19 17:33] joshmorel commented on #1149
We introduced a bug - #1397 - so I will revert so we can safely release to production today. I will re-open this one so we have more time to work on getting it right.

[2020-08-19 18:14] #1397 closed, assigned to joshmorel

[2020-08-19 19:22] joshmorel commented on #842
Resolved by #1095

[2020-08-19 19:22] #842 closed

[2020-08-19 19:30] joshmorel commented on #909
I will close this once I confirm #1378 works in production.

[2020-08-19 20:27] joshmorel commented on #909
This works

![image](https://user-images.githubusercontent.com/10546720/90686009-ae632300-e238-11ea-8724-304b89767df6.png)

HOWEVER, SEO4Ajax stopped crawling after 14 posts. It crawled 40 total results then stopped (final 15 were profile links then). This likely can be fixed in SEO4Ajax settings - not our code/config.

I might need to dynamically generate a sitemap.xml - https://github.com/kuflas

[2020-08-19 22:14] manualzuru commented on #183
@silenceway can you still help us with this one?

[2020-08-19 23:48] joshmorel commented on #1257
Closing as we have a 1st iteration - new issues should be added in https://github.com/FightPandemics/FightPandemics-RealmApps

[2020-08-19 23:48] #1257 closed

[2020-08-19 23:48] joshmorel commented on #1258
Closing as we have a 1st iteration - new issues should be added in https://github.com/FightPandemics/FightPandemics-RealmApps

[2020-08-19 23:48] #1258 closed

[2020-08-20 01:32] ashminbhandari commented on #1390
![sc_invalid_browser](https://user-images.githubusercontent.com/22779514/90706524-ec713e80-e25a-11ea-8330-fcbab4bfb8fc.PNG)

Hey Josh, this is what I came up with. I basically worked on the index.html file to check for the browser and wrote the above HTML to the DOM if the browser was IE 11 or lower. How do you suppose I should add language support?

[2020-08-20 03:16] ashminbhandari commented on #1390
![fightpandemics_invalid_browser](https://user-images.githubusercontent.com/22779514/90712830-7f18da00-e269-11ea-90ec-cbfb6432b81e.PNG)

The above screenshot is from an old laptop running IE11. The links should automatically adapt to the browser language setting based on my tests.

[2020-08-20 11:41] Joeu commented on #1342
![Screenshot from 2020-08-20 08-01-45](https://user-images.githubusercontent.com/1004896/90765748-d8f8be80-e2c0-11ea-8fed-35aa14a533c2.png)
![Screenshot from 2020-08-20 08-03-14](https://user-images.githubusercontent.com/1004896/90765751-da29eb80-e2c0-11ea-9dbc-946b2db4df27.png)

Folks, I've created another PR (and closed the previous) to avoid a bunch of conflicts regarding some deleted files.

[2020-08-20 12:48] joshmorel commented on #1390
Wow this is great thanks @ashminbhandari

I'm wondering if we need to include Safari, however. I'd assume all of the people who might visit with IE would be running Windows so I think Chrome/Firefox/Edge is sufficient. Thoughts?

[2020-08-20 14:13] ashminbhandari commented on #1390
Yes, that makes sense because this page is only shown for those using IE. I will make changes and proceed accordingly.

[2020-08-20 14:27] joshmorel opened #1401 "Do not redirect bots for images (social sharing - facebook, etc)"
In nginx we redirected the bots to the SEO4Ajax API but for the `og:image` (only one right now) https://fightpandemics.com/Offer-Help-Request-Help.png

These should not be redirected. (eventually they will be on CDN).

[2020-08-20 17:31] rabbi08 opened #1402 "Clicking on the deleted post generate "Loading error""
1. Open "https://staging.fightpandemics.work/"
2. Navigate to Help board
3. Filter the Post as below:
"Requesting Help -> Provider=Individual' and View Results
4. Click on profile icon on RK-> with post details having word"visibility"

Issue: You will observe that following error is displayed:
Failed loading profile, reason: Not Found

Refer below GIF to repro this issue:
https://share.getcloudapp

[2020-08-20 17:40] rabbi08 opened #1403 "Update valid email address for "Sourced By FightPandemics" post <Discussion Pending>"
In STG env:
- The email for "Sourced By FightPandemics" post is not valid and working. Mail delivery failure notification is received while trying to send email on this Org post.

Issue:

Address not found
--
Your message wasn't delivered to sourcedby-type-startup@fightpandemics.com because the address couldn't be found, or is unable to receive mail.

Currently, @joshmorel is discussing the soluti

[2020-08-20 18:11] tejasm2 commented on #1171
@doheekim93

[2020-08-20 18:13] tejasm2 commented on #888
Need an update @idjevm @joshmorel

[2020-08-20 18:47] tejasm2 commented on #1396
Hey @DevonLattrell , review this ticket.

[2020-08-20 18:53] DevonLattrell commented on #1396
Hey @tejasm2 , Is this to be in conjunction with this feature?
https://github.com/FightPandemics/FightPandemics/issues/1339

[2020-08-20 20:41] SubhaSarojini opened #1405 "f_Profile/Account (Feature Pod- Avatar for Profiles)"
PM - Subha Srikumar, Krithiga Sundar Raj
Feature Link
https://www.notion.so/fightpandemics/Avatars-for-Profiles-e4af32c040c94035a041c76b3c9a1e97

[2020-08-20 21:08] nfranklin9 opened #1406 "Notifications for Web App [Desktop-Mobile] - Send notification to post author when a comment is added"
As a commentor/author of a post, I want to receive a notification on every comment posted, as well as when a post or comment is edited.

Current Scenario: When someone comments on my post, I don't know right away because I'm not sent an email or notification.

Expected results: As soon as someone comments on my post or edits it, I should be sent a notification to alert me.

**Acceptance Criteria:*

[2020-08-20 22:23] dhruvdpatel commented on #342
Local Emergency Number is a feature that goes on the first page of the symptoms checker. Once this code component is developed, dev can reuse that component on this page.

[2020-08-20 22:48] joshmorel commented on #888
@tejasm2 I'm just going to remove the `TODO` comments and close this (tomorrow) . I will re-word and create a new issue. Maybe for these kinds of issues we should use "refactoring" or "tech debt" label

[2020-08-20 22:52] joshmorel commented on #213
I'm going to close this. It's kind of stale & we need to fix #786 first putting effort into adding more rules.

[2020-08-20 22:52] #213 closed

[2020-08-20 23:00] joshmorel commented on #427
I'm closing this - it's old, low priority and the resolution is unclear. If we get feedback from a user we can revisit.

[2020-08-20 23:00] #427 closed

[2020-08-20 23:14] joshmorel commented on #507
I can't recreate on Firefox, Edge or Chrome. I'm going to close because there hasn't been an update for awhile and we should focus our efforts on other things.

[2020-08-20 23:14] #507 closed

[2020-08-20 23:18] joshmorel commented on #471
We updated the location input so it's consistent across the app. The medical step 2 input is similar but not the same as the design screenshot above. We can iterate based on feedback later or update the design to match. I will close this one.

[2020-08-20 23:18] #471 closed

[2020-08-20 23:29] joshmorel commented on #726
This seems like it was fixed when we merged this massive PR including the new Loader graphic - #661

[2020-08-20 23:29] #726 closed

[2020-08-20 23:36] joshmorel commented on #1063
@nivetheatha do you still experience this? It seems like it's been fixed. If not what is your specific phone model.

[2020-08-21 00:43] dhruvdpatel commented on #304
This issue is not reproducible. Also, design bugs are addressed in other tickets. This can be closed.

[2020-08-21 00:43] #304 closed

[2020-08-21 00:46] dhruvdpatel commented on #352
This is not reproduced and fixed already so closing it. Thanks.

[2020-08-21 00:46] #352 closed

[2020-08-21 00:48] dhruvdpatel commented on #357
Bugs are opened for this ticket separately. Closing it.

[2020-08-21 00:48] #357 closed

[2020-08-21 00:50] dhruvdpatel commented on #354
Working as expected. Closing this.

[2020-08-21 00:50] #354 closed

[2020-08-21 00:54] dhruvdpatel commented on #351
Working as expected. Closing this.

[2020-08-21 00:54] #351 closed

[2020-08-21 01:07] nivetheatha commented on #1063
@joshmorel It looks like this now.
![Screenshot_20200820-210505_Chrome](https://user-images.githubusercontent.com/41587211/90840865-2a3c9880-e329-11ea-84e9-236724bab4ce.jpg)
I am using Samsung Galaxy s8.

[2020-08-21 01:09] dhruvdpatel commented on #353
@ralbach this bug is still active. Let me know if any questions. CC @tejasm2

[2020-08-21 01:19] ralbach commented on #353
Thanks for heads up will fix tonight

On Thu, Aug 20, 2020 at 6:09 PM Dhruv Patel <notifications@github.com>
wrote:

*Rylan Albach*

rylanalbach@gmail.com

[2020-08-21 06:53] CamilaArias commented on #1406
"New comments are highlighted for user to easily find them" this is a "Nice To Have". Please remove to avoid confusion :)

[2020-08-21 15:26] anjanarao24 commented on #1338
This ticket is closed(Github prioritization exercise)

[2020-08-21 15:54] dhruvdpatel commented on #1339
@joshmorel can you please get this verified? Thanks.

[2020-08-21 16:10] joshmorel commented on #1339
@Joeu @DevonLattrell @dhruvdpatel

Apologies for the late response. We could use the forgot password route but the user  would need to change via their email.

If we want a form we need another backend route.

[2020-08-21 16:23] DevonLattrell commented on #1339
Ok - so for this specific feature we will have to build this up on the backend, as this is the currently not supported.  @Joeu @joshmorel @dhruvdpatel

[2020-08-21 20:21] joshmorel commented on #888
Haha lol okay I see 79229e366eb85cf34f74ce233b65c185f28707c5 did indeed resolve it but not in the way I intended. I meant overall let's come up with an approach. I'll be more careful of my todo messages here on out...

We need to use redux for user/profile state management (e.g. updating org name) at least until we have a new approach 33ec75cf51bdd1b4c129573de90e87fa6455cbc3 .

I'll create a new i

[2020-08-21 20:29] joshmorel opened #1409 "Organisation name not updated in menu after update"
Org name is not updated in menu list after editing.

![org-name-not-updated](https://user-images.githubusercontent.com/10546720/90931840-76401980-e3cb-11ea-8336-f87f8e46ffb8.gif)

That is until page refresh. This is a React state management issue.

This can be resolved by re-implementing changes in this commit for `EditOrganisationAccount.js` file 33ec75c

[2020-08-21 22:46] doheekim93 commented on #1089
Updated playstore icons can be found here: [https://zpl.io/brwWGMD](https://zpl.io/brwWGMD)

[2020-08-22 16:10] skrithiga commented on #1300
@joshmorel Can you review this ticket? It is currently not assigned to anyone.

[2020-08-22 16:12] skrithiga commented on #1298
@joshmorel Can you review this ticket? It is currently not assigned to anyone.

[2020-08-22 16:30] joshmorel commented on #1298
@skrithiga - I think we need more information (thus the "question" label).

@tty128 I don't quite understand what the concern is here, was this a suggestion by an automated scan?

[2020-08-22 17:33] pemika-me opened #1411 "Keep track between refreshes via URL parameters for Request/Offer filters on Help Board"
**Expected result:** When the user already filtered Request or Offer then click to refresh, these two objective filters must not be cleared. Refers to this [discussion](https://fightpandemics.slack.com/archives/C015KDNRJ7K/p1598114866000700?thread_ts=1597318498.014300&cid=C015KDNRJ7K).

**Current result:** Any refresh on Help Board always clear all filtered.

**Josh's suggestion:** keeping track b

[2020-08-22 17:51] davidoduk opened #1412 "Display the number of confirmed cases based on my location"
** This issue is linked to https://github.com/FightPandemics/FightPandemics/issues/1201

As a user, I'd like to see the number of COVID confirmed cases for my city, country and the world when I select the "Health Facilities Tab"

**Acceptance Criteria**

- Display confirmed cases in my city
- Display confirmed cases in my country
- Display global confirmed cases

**Feature requirements**
https://w

[2020-08-22 18:04] pemika-me commented on #1411
Close as concerning that user would not know if Request/Help filters are still selected after refreshing for mobile web version if enhance this. (Mobile web doesn't show selected filters like Desktop) To keep functionality consistent, Prateek advised to cancelled this ticket.

[2020-08-22 18:04] #1411 closed, assigned to nobody

[2020-08-22 18:27] #1390 closed, assigned to ashminbhandari

[2020-08-22 19:36] kterry1 commented on #1412
@davidoduk Is there a recommended API for pulling this data?

[2020-08-22 21:14] joshmorel commented on #1201
I'll outline the current state of geolocation in the app here for whomever works on this.

We are using the backend to query the [Google Maps API (aka gmaps)](https://cloud.google.com/maps-platform/pricing). The rationale is to have one place to control the logic of converting an address or coordinates into our standardized location model for multiple clients. Additionally, it's we can easily prot

[2020-08-22 21:43] Serhazor commented on #1369
I can work on putting the log out button on the top as you suggested, but maybe adding the sliding out list of organisations as sub menu would be a better option?

[2020-08-23 16:39] joshmorel commented on #1201
@inblack67 why did you close this issue?

[2020-08-23 17:19] joshmorel commented on #1201
Anyways I'm re-opening because this is a unfinished work item to get f_healthfacilities done.

FYI @davidoduk this likely will include some backend work although I mentioned in slack its mostly frontend. I can work with whoever volunteers. I need to think a bit more about the map & using frontend vs backend for integrating with gmaps.

[2020-08-23 17:46] kterry1 commented on #1373
I'm unassigning this.
@ralbach I think we need a bit more decisions made on what needs to be done here. If we change Step 1 to Step 2 and Step 2 to Step 5 per @tejasm2's recommendation, then we have to change Step 5 to another step and so on for the rest of the steps. I'm not sure this is really necessary.

[2020-08-23 22:43] #1401 closed, assigned to joshmorel

[2020-08-24 00:53] kterry1 commented on #1409
Just fixed this. I'll push up the changes in a bit.

[2020-08-24 02:43] kterry1 commented on #1367
@tejasm2 @dhruvdpatel What do you think about something basic like this?
![image](https://user-images.githubusercontent.com/40950641/90998556-645ca300-e592-11ea-944b-c056efb22e51.png)

[2020-08-24 03:05] davidoduk commented on #1412
@kterry1 , this page lists lots of APIs that have updated COVID numbers. Looking through, I would go with
No. 1: WHO, No. 4: The COVID Tracking Project or No. 5: COVID19-Tracker-REST API

[2020-08-24 03:32] doheekim93 commented on #1029
@silenceway I'm closing this ticket since the PR has been merged! Please reopen it if the issue hasn't been solved. Thanks!

[2020-08-24 03:32] #1029 closed

[2020-08-24 03:37] doheekim93 commented on #1002
@omarzoghayyer Hey Omar, did we find a solution for this issue?

[2020-08-24 03:39] doheekim93 commented on #986
@ppagarawal @idjevm Hey guys, what's the status of this ticket?

[2020-08-24 03:45] doheekim93 commented on #978
@dabartlett @rabbi08 Hey guys, we had another issue for this (#701). Do you guys still see this issue?

[2020-08-24 03:51] doheekim93 commented on #945
@skrithiga @nfranklin9 I assigned this ticket to you guys, so you can keep track of all the open github tickets relating to notifications! You can unassign yourselves and assign engineers when you find someone to work on this ticket 😄

[2020-08-24 03:53] doheekim93 commented on #939
@sheeba1 Hey Sheeba, could you remind me -- is this still an issue or can we close it? Thanks!

[2020-08-24 03:58] doheekim93 commented on #930
@anjanarao24 Hey Anjana, are you still leading this "adding new sections in profile page" feature pod?

[2020-08-24 04:35] rabbi08 commented on #978
This issue is fixed now. Please see #1366. There were various issues related to the UI. This one is last merged for post UI issue fix.

[2020-08-24 04:40] kterry1 commented on #1412
@davidoduk Thanks! It looks like this will be pretty easy to build out but we are waiting on #1201 to be further defined first.

[2020-08-24 06:10] ppagarawal commented on #986
This needs to be changed as discussed to provide better user experience. @idjevm can you or someone please take this up?

[2020-08-24 06:10] ppagarawal commented on #986
The section click has to be extended

[2020-08-24 11:49] #1342 closed, assigned to Joeu

[2020-08-24 12:12] #1409 closed, assigned to kterry1

[2020-08-24 12:36] tejasm2 commented on #909
Hey @joshmorel , is this already implemented or are we need to work on it? For now just adding P4 label.

[2020-08-24 12:39] joshmorel commented on #1412
Hey @kterry1 I think you (or whoever) can start working on this independently from #1201 to get it working at least.

We will need to query the COVID numbers API based on a location object, with some different examples here in this test file - the `expected` objects like:

https://github.com/FightPandemics/FightPandemics/blob/274df09ca9c3f12dd2f1b1997c43d4d418bacd86/backend/lib/components/Geo/gmap

[2020-08-24 12:39] tejasm2 commented on #895
Hey @mannykary , is this ticket still needs to be worked on? Just adding P4 label as priority for now. Please change the priority label if you think this is on high priority.

[2020-08-24 12:41] tejasm2 commented on #894
Hey @mannykary is this still being worked on?

[2020-08-24 12:44] tejasm2 commented on #851
Hey @jyclam @mel-chiu , an update on this issue?

[2020-08-24 12:48] joshmorel commented on #909
Hey @tejasm2  - this is implemented just need to resolve the issue above.

I can create a new specific issue.

[2020-08-24 12:48] #909 closed

[2020-08-24 12:49] tejasm2 commented on #828
Hey @joshmorel , do we need  to work on this?

[2020-08-24 12:53] tejasm2 commented on #792
I think this is implemented and should be closed? @ppagarawal @stavares843 @joshmorel ?

[2020-08-24 12:56] tejasm2 commented on #787
Hey @rabbi08 , is this issue implemented already or still needs to be worked on?

[2020-08-24 12:59] tejasm2 commented on #786
Hey @joshmorel @mannykary are we still working on this issue? Just adding p4 label for now please change it as per its current priority.

[2020-08-24 13:00] joshmorel commented on #786
@tejasm2  - yeah we need it . I will try to fix within 2 weeks - but will ask in #engineering if anyone wants to take this on.

p4 is fine.

[2020-08-24 13:02] tejasm2 commented on #782
Hey @joshmorel should I add this to "done"?

[2020-08-24 13:04] tejasm2 commented on #781
Hey @adisen @joshmorel @robinv85 , do we have an update on this issue?

[2020-08-24 13:06] tejasm2 commented on #765
Any update on this @joshmorel ? Should this be closed?

[2020-08-24 13:07] tejasm2 commented on #760
Hey @joshmorel , we dont see anyone assigned to this ticket, so if this is not resolved should we assign someone?

[2020-08-24 13:08] joshmorel opened #1416 "seo4ajax not completing scroll - implement dynamic sitemap.xml or next post link"
SEO4Ajax stopped crawling after 14 posts. It crawled 40 total results then stopped (final 15 were profile links then). After talking to SEO4Ajax support they indicate that getting the crawler to complete infinite scroll to the end is not a reliable way to get all links.

Three options are:

1. Dynamically generate a sitemap.xml - https://github.com/kuflash/react-router-sitemap - this would be easi

[2020-08-24 13:09] tejasm2 commented on #758
Is this resolved @idjevm @joshmorel ?

[2020-08-24 13:25] #792 closed

[2020-08-24 13:42] joshmorel commented on #828
I couldn't recreate my own issue :laughing: . Maybe they were two different cities differentiated by accent.

I will close

[2020-08-24 13:42] #828 closed

[2020-08-24 14:29] adisen commented on #781
Sorry I've been unable to implement this. Someone can pick it up

[2020-08-24 16:21] rabbi08 commented on #787
Yes this issue still exist and it should be fixed.

[2020-08-24 16:51] sheeba1 commented on #939
@doheekim93  , you may close this one. thx!

[2020-08-24 16:58] adisen commented on #787
Yes. The PR has been since. No movement
https://github.com/FightPandemics/FightPandemics/pull/937

[2020-08-24 17:12] mannykary commented on #894
Yes, but not high priority.  Please set priority to p4.

[2020-08-24 17:13] mannykary commented on #895
Yes, p4 is fine

[2020-08-24 17:38] doheekim93 commented on #939
@sheeba1 Thanks Sheeba!

[2020-08-24 17:38] #939 closed

[2020-08-24 17:41] doheekim93 commented on #978
@rabbi08 Okay, I will close this issue for now. If you see this happen again, please either reopen this ticket or open a new one! Thanks :)

[2020-08-24 17:41] #978 closed

[2020-08-24 17:47] mel-chiu commented on #851
@tejasm2 Yess, I'm still working on it. Will send a PR tomorrow :)

[2020-08-24 19:20] mannykary opened #1417 "Fix review build not reviving"
Review builds are terminated after 1 day of inactivity. They are supposed to be brought back up when a new commit is pushed to the review branch, or when the Github Action build for the branch is re-run, but this is not happening.

[2020-08-24 21:15] #1309 closed, assigned to kterry1

[2020-08-25 00:46] kterry1 commented on #1361
@altays Thanks for helping out! Continuing the conversation from Slack, could you clarify where you are running into an issue? Let's start by seeing if the issue still exists. Try reproducing what Dhruv stated is occurring. If they are still occurring, then you can begin narrowing down where those issues are coming from. If they aren't then you can ask that someone close it out. Just provide the s

[2020-08-25 01:02] dhruvdpatel commented on #1367
Hi @kterry1 here is the message we want to implement when there are no search results available:

“Sorry, there are currently no relevant posts available. Please try using a different filter search or create a post.” where Create a post should be highlighted, clickable and opens a “Create a post” action.

[2020-08-25 01:20] kterry1 commented on #1367
@dhruvdpatel Thanks! Any specific look or is the red text enough?

[2020-08-25 02:13] dhruvdpatel commented on #1367
@kterry1 red text should be enough. Thank you.

[2020-08-25 03:17] kterry1 commented on #1367
@dhruvdpatel Here is what I have so far.
I'll work on highlighting **Create a Post** and push up the code.
![gif](https://p35.f2.n0.cdn.getcloudapp.com/items/4gu9Z05J/Screen%20Recording%202020-08-24%20at%2011.14.38.26%20PM.gif)

[2020-08-25 06:00] CamilaArias opened #1421 "Update loading spinner"
Loading spinner needs to be updated in these two instances:
- When we show the generic spinner in the Help Board
- When we show "loading"

If someone can provide more detail as to where else it needs to be updated please comment.
Attaching the gif.
[Link to original Notion task](https://www.notion.so/fightpandemics/Loading-Spinner-5a671330cc1b4afdafcb73391d29ed78)
![FP-Loading-Spinner](https://use

[2020-08-25 06:42] emtay commented on #1365
@sheeba1  @AshBha243
While touching the email field for Organizations, can you also remove the 30 character limit? We found it with user testing and it's a problem if users have longer than 30 character emails which can be more likely with organizations than individuals.

[2020-08-25 07:10] emtay opened #1422 "Remove Email Sign-up Question 3 from Initial Flows"
As a user, I don't want to provide my email when I'm just starting to engage with the platform.

Remove email signup page as it is a barrier for entry for users and they're prompted to login as soon as they interact with the posts.

![image](https://user-images.githubusercontent.com/43509421/91143346-39904e80-e667-11ea-9033-cfff4b235ef4.png)

As part of this story, please also update first two onb

[2020-08-25 09:11] tejasm2 commented on #786
Thanks @joshmorel

[2020-08-25 14:42] lmpeixoto opened #1424 "Open port on mongo docker container"
The objective of this issue is to open a port on mongo docker container to connect with the host machine and use with Compass or Robo 3t.

[2020-08-25 14:47] kterry1 commented on #1367
Thanks @idjevm. It looks like Prettier wasn't formatting the doc. I made the fix but before I push the new commit up, can we get a design team member to provide another hightlight recommendation? @dhruvdpatel are you able to chime in here since you created #1420.

[2020-08-25 15:02] #1405 closed, assigned to ashminbhandari

[2020-08-25 15:03] skrithiga commented on #1405
This is a duplicate of https://github.com/FightPandemics/FightPandemics/issues/715
@ashminbhandari will be working on the original issue #715

[2020-08-25 16:41] sheeba1 commented on #1365
@emtay , it should be ok as long as PM suggests /ok with it. What is the new limit.?
@AshBha243 , Whats your thoughts? Any design constraints?

[2020-08-25 16:43] joshmorel opened #1425 "Suggest meaningful feature/hotfix branch names"
Currently there are a lot of branches with just the issue number `feature/#1455` or `feature/1234` - probably by newer contributors following an example and that idea spreading.

It's easier to work with meaningful branch names - especially for those doing lots of reviews and/or managing AWS  review environment.

For example:

`feature/revive-review-build` is better than `feature/1417`

However, i

[2020-08-25 16:47] nfranklin9 opened #1426 "Notification Backend and DB [Desktop][Mobile] - for creating notifications"
As a commentor/author of a post, I want to receive a notification for every comment posted, as well as when a post or comment is edited.

Current Scenario: When someone comments on my post, I don't know right away because I'm not sent an email or notification.

Expected results: As soon as someone comments on my post or edits it, I should be sent a notification to alert me.

This ticket is to crea

[2020-08-25 17:06] nfranklin9 opened #1427 "Notification Settings [Desktop][Mobile] - for users to turn Notifications on or off"
I want to be able to turn Notifications on or off, so I can receive Notifications when I want them (when I have an active post) and turn them off when I don't need them.

Expected results: A Notification Settings page where users can toggle Notifications to be either on or off.
Actual results: Does not exist

To start (version 1), we can just have booleans on the user - on or off for all emailNoti

[2020-08-25 17:41] nfranklin9 opened #1428 "Web Notification front end [Desktop]"
As a commentor/author of a post, I want to receive a notification for every comment posted, as well as when a post or comment is edited.
Current Scenario: When someone comments on my post, I don't know right away because I'm not sent an email or notification.

Expected results: As soon as someone comments on my post or likes/shares it, I should see a web notification to alert me, (similar to notif

[2020-08-25 18:09] AshBha243 commented on #1365
@sheeba1 @emtay I shall reach out to PM

[2020-08-25 18:15] AshBha243 commented on #1365
@dhruvdpatel Hi! can we  change the character limit for email address of organization? if yes what would be?

[2020-08-25 18:19] emtay commented on #1365
@AshBha243 @sheeba1 @dhruvdpatel how about 200 characters to be safe? the design shouldn't need to change.

[2020-08-25 20:06] altays commented on #1361
Hi @kterry1, I was able to reproduce the first issue on the third page of the questionnaire. Because there are so many checkboxes, the questionnaire ends up rendering over the navigation buttons.

I did some digging and saw that the checkbox container and nav buttons are siblings within the same parent container (flex I think?), and that parent container is a sibling of the top navigation div. Rem

[2020-08-25 21:03] sheeba1 commented on #1365
I think 200 is a bit high.

[2020-08-25 21:41] joshmorel commented on #1307
Closing as I added the engineering portion in Notion. For this with access see: https://www.notion.so/fightpandemics/Process-Importing-Posts-Sourced-by-FightPandemics-from-AirTable-d2af2f3a4c6147d0a00fc4153bb08d48

[2020-08-25 21:41] #1307 closed, assigned to joshmorel

[2020-08-25 22:10] #1403 closed, assigned to joshmorel

[2020-08-25 22:27] AshBha243 commented on #1365
are you sure for email, 200 chars will be needed..looks on higher side

[2020-08-25 22:38] Akhila2406 opened #1431 "Symptoms checker (Desktop) - Question 2 page (SC-Q2-soe) should have "Back" & 'Next" button options."
**Link to the webpage:**
https://staging.fightpandemics.work/symptoms-check#Step2

**Description:**
Question 2 page of symptom checker for myself doesn't have the option to move to next or previous page. Should have "Back" & "Next" button options. Think it is hidden behind the options displayed on the page.

![sc-1](https://user-images.githubusercontent.com/69996947/91234788-e52db300-e6e8-11ea-83d

[2020-08-25 22:46] emtay commented on #1365
yea, i just figured it could be high because we don't really need a constraint since we have the validation. is there a database concern?

i found this on a simple google search for email length:
To help the confused rookies like me, the answer to "What is the maximum length of a valid email address?" is 254 characters.
If your application uses an email, just set your field to accept 254 character

[2020-08-26 00:24] kterry1 commented on #1431
This is a duplicate.
Closing out.
https://github.com/FightPandemics/FightPandemics/issues/1340

[2020-08-26 00:24] #1431 closed, assigned to nobody

[2020-08-26 04:43] #1417 closed, assigned to mannykary

[2020-08-26 05:10] emtay commented on #945
@skrithiga @nfranklin9 it may be easier to close this ticket and open a new one with the same tags and your most recent requirements for email notifications?

from thread above, i agree with prateek:

- author of post gets emails for all comments to the post from other users (but no email needed for when they add their post or edit their post)
- commenter on post get notification of future comment

[2020-08-26 05:14] emtay commented on #1057
Closing issue as this as we're actually going to remove the social media URLs with another issue.

@tejasm2 an idea from this story for your story is that there can be a greyed out URL instead of a hard URL so that people pasting in the link from Facebook and LInkedIn can overwrite it.

[2020-08-26 05:14] #1057 closed

[2020-08-26 05:20] emtay commented on #1402
Let's  move this to P3 and see if there are more reports of this issue.

[2020-08-26 05:27] emtay commented on #1396
@DevonLattrell  yes i think so!

[2020-08-26 05:37] emtay commented on #1389
@dhruvdpatel @tejasm2 - just fyi on this issue per our conversation. will want the designs for the "duration" indicator that the user selected when creating the post to account for this.

[2020-08-26 05:49] emtay commented on #1406
@nfranklin9 @CamilaArias per slack, we'd remove 'yearly' right? can we add 'daily' as an option?

Also, do users really want a notification if someone edited their comment? Maybe we can leave that out for now?

[2020-08-26 05:58] emtay commented on #841
@joshmorel anything valuable in this ticket to leverage for "private comment" version of direct messaging MVP?

@tejasm2  FYI

[2020-08-26 06:11] emtay commented on #1127
@mannykary is this done?

[2020-08-26 06:27] emtay commented on #1213
Let's wait to see if it can be recreated.

[2020-08-26 06:45] emtay commented on #930
@dhruvdpatel @tejasm2  here is ticket to show expired tag. leverage this for your updates? (will be separate from the "section" in the profile page that Do Hee mentioned)

should it be P2? would be important for people or organizations to know that their posts are no longer being found because they expired

[2020-08-26 06:53] mannykary commented on #1127
Yes. This should have been automatically closed when the linked PR was merged but for some reason it did not. Closing now.

[2020-08-26 06:53] #1127 closed

[2020-08-26 07:02] emtay opened #1432 "Messaging: Create Private Message Object in DB"
As a user, I want to be able to have a private message between me and the author of a post regarding a post so that I can share private information securely.

This story should create the DB objects to allow for the "private message."
This can leverage the comment data model, so this story is to extend Backend to allow for next level of "nested comment."

Requirements:
- These should be Identified

[2020-08-26 07:24] emtay opened #1433 "Messaging: Add "Message" Button to Post"
As a user, I want to send a message to the Author of a Post in order to connect with them to figure out how to help or how to get help without other users seeing my message.

This story is to add the message button on the post within the Help Board and to check for authentication when clicked.

https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=10956%3A15744

![i

[2020-08-26 11:57] tejasm2 commented on #930
Yes, I think we can simply indicate the expiry labels which user selects. For example, "Expires in a day", "Expires in a Week", "Expires in a Month", "Never Expires"....something like that...may be design team can propose. I think displaying these tags on the posts should not be that difficult. If we are displaying the timestamp of when the post is created as well as these labels, then it should b

[2020-08-26 12:13] tejasm2 commented on #1389
Yes, mentioned regarding this in issue #930 . I think showing the timestamp and the duration label on posts should work. FYI @Yu-Alexa-Zhao

[2020-08-26 12:22] tejasm2 commented on #1171
Somehow this is working perfectly in staging. But in production, needs to refresh the page to see the changes in the dropdown.  FYI @joshmorel @BMariscal

[2020-08-26 12:33] tejasm2 commented on #1406
Yes I agree with @emtay  on notifying user when a comment is edited for now. Also wont "daily" option be same as forever, and if it means a user needs to mute notifications for a given day..then we have the "24 hrs" option

[2020-08-26 13:15] #1367 closed, assigned to kterry1

[2020-08-26 14:27] SubhaSarojini commented on #715
Feature Pod : https://www.notion.so/fightpandemics/Avatars-for-Profiles-e4af32c040c94035a041c76b3c9a1e97

[2020-08-26 16:01] sheeba1 commented on #1365
@emtay  Can you please open another ticket for increasing field length as it might need approval and more validations etc.

@AshBha243 If this  ticket is fixed , proceed with review

[2020-08-26 16:15] emtay opened #1435 "Messaging: [Desktop] [Mobile] Create "Inbox" for Private messages and Indicate Read/Unread"
As a user,
I want to be able to find all my active messages in one place so that I can read them and reply to them efficiently.

This story is for the Left Side "inbox" and read vs. unread messages:
1. All private messages that user is a part of is on left side.
2. Each message should display the user avatar, name of the user, title of the post through which the user messaged (upto 15 chars max),

[2020-08-26 16:28] joshmorel commented on #1201
@davidoduk

Here is my proposal for the *Nearest Facility Map*:

I think we can meet the requirements, reduce complexity, keep handling of Google Maps integration on the backend & minimize usage of our Google Maps API credits if we use the [Map Static API](https://developers.google.com/maps/documentation/maps-static/overview)

* Instead of a dynamic/interactive map it returns an image (PNG by defa

[2020-08-26 16:43] emtay opened #1436 "Header: Update Profile to be logged in user (Individual or Organization)"
As a user who has both an individual and an organization profile, I want to clearly know when I'm acting as myself or as an organization.

In header, the "Profile" link should be the Individual's name when the individual user is selected.

![image](https://user-images.githubusercontent.com/43509421/91331679-e827b280-e77f-11ea-8edc-cd994c1097ee.png)

https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNn

[2020-08-26 16:45] emtay commented on #1436
@manualzuru @doheekim93 @tejasm2  i think this came up in one of our meetings. agree it is P1?

anyone have a screenshot of having an organization?

@dhruvdpatel @CamilaArias FYI

[2020-08-26 16:49] emtay opened #1437 "Email Validation: Extend email to more than 64 (max supported by Auth0) characters and consolidate email validation"
As a user, I want email validation to be consistent across my individual and organization profiles and for email length to be 200 characters so that I can be sure my email will fit.

Within this story, all email validation should be in one configuration so that we ensure consistency.

Email validations should be:

Empty field: “Email is required”
Not a valid email address: “Email is invalid”
Over

[2020-08-26 16:53] joshmorel commented on #1201
As a final point if it makes more sense to request especially the static map (but even the facilities list) directly from the frontend, that's fine. We can add a 2nd key and protect it via HTTP referrer restriction:

![image](https://user-images.githubusercontent.com/10546720/91333059-1070da80-e79b-11ea-889e-df2b22a08433.png)

[2020-08-26 16:59] emtay commented on #1365
@sheeba1 good call. i've created a new one: https://github.com/FightPandemics/FightPandemics/issues/1437

[2020-08-26 17:14] rabbi08 commented on #1367
Tested in STG, it is working fine, refer below screenshot. Thanks

<img width="1319" alt="image" src="https://user-images.githubusercontent.com/67168400/91335206-14522c00-e79e-11ea-9bba-76991616ea45.png">

[2020-08-26 17:19] rabbi08 commented on #1342
Tested in STG, the designs are updated. Refer below screenshot. Thanks

<img width="1326" alt="image" src="https://user-images.githubusercontent.com/67168400/91335649-b114c980-e79e-11ea-928a-063e708d2a57.png">

[2020-08-26 18:06] tejasm2 opened #1440 "Messaging [Desktop]: Create a window modal for sending messages via a Post."
As a user,
Given that I am on the Helpboard,
When I click on the "Message" button on any post,
Then a modal window should pop-up,
When I click on the textbox on the modal window,
Then the textbox border becomes blue and I should be able to enter the text.
When I click on the  "Send" button,
Then the message is sent to that particular user.

Components on modal window from top to bottom:
1. Display

[2020-08-26 18:27] adisen commented on #1421
Also, when we want to view more on a single post

[2020-08-26 18:54] tejasm2 opened #1442 "[Desktop][Mobile] The placeholder social media links from Edit Organization profile and edit individual profile should be temporarily visible."
As a user,
Given that I am on the "Edit Individual Profile" or "Edit Organization Profile" page,
When I tap on the toggle button,
Then a textbox should appear,
When I click on the text box to enter the link,
Then the placeholder text (in grey) should disappear and the user should be able to enter the link.

![newEditOrgProfile](https://user-images.githubusercontent.com/66698276/93874143-8dd33080-f

[2020-08-26 21:43] doheekim93 commented on #1436
@emtay do we have the backend setup to handle likes and comments (and other tasks) done by organisations?

[2020-08-26 22:51] sheeba1 opened #1445 "No error message displayed , if unregistered email is given for password recovery"
Issue: No error message displayed , if unregistered email  is given for password recovery
steps1: go to https://staging.fightpandemics.work/auth/login
2. click on "Forgot password"
3. Enter email which is NOT registered with FP
4. click on 'Email Recovery'
Actual: No error message, redirected to recovery message page

Expected: Error message:similar ' We couldn't find your account with that email'

[2020-08-26 23:37] sheeba1 commented on #1445
Checked with @joshmorel . Closing this as he will be working with rate limiter.

[https://postmarkapp.com/guides/password-reset-email-best-practices#how-do-i-make-sure-my-password-reset-emails-are-secure](url)

[2020-08-26 23:37] #1445 closed, assigned to nobody

[2020-08-27 00:48] davidoduk commented on #1201
@joshmorel , Is it possible to have a link on every highlighted H on the returned static image? If so, let's do it. Answers to the questions
1. Makes sense to display all health care facilities/doctors offices
2. Agreed with this, I think we should display the nearest 10 regardless of how close or far they are. A future upgrade can have the user select their search distance

[2020-08-27 06:57] lmpeixoto commented on #1121
Everything seems to work flawlessly when uncommenting the code. Is there something I'm not catching?

[2020-08-27 10:13] lmpeixoto commented on #1121
#1438 keep track of what user submitted feedback

[2020-08-27 13:19] tejasm2 commented on #1416
Got it @joshmorel , will see if any PM can work on this.

[2020-08-27 13:52] SubhaSarojini commented on #715
AWS S3, Lambda Architecture ideas were discussed in this link: https://fightpandemics.slack.com/archives/C010QR5D4KY/p1598307761061900

[2020-08-27 14:39] Zaydme opened #1448 "[Desktop][Mobile] Add search bar on help board with a search button"
## Feature Summary

Please read [this comment down below](https://github.com/FightPandemics/FightPandemics/issues/1448#issuecomment-691365032).

## Value

Search keyword feature will make the search capability of Fight Pandemics very effective for the users. This in turn will greatly improve user experience and help users quickly find relevant help.

## End Goal

User lands on the post, organizati

[2020-08-27 16:39] joshmorel commented on #1201
Hey @davidoduk  - no for that you'd need either:

1) [Maps JavaScript API](https://developers.google.com/maps/documentation/javascript)
2) [Maps Embed API](https://developers.google.com/maps/documentation/embed/get-started)

The latter might be the simpler option of the two. Anyways, I've never actually done anything with the Maps API just geocoding/autocomplete.

So whoever takes the lead needs t

[2020-08-28 01:11] #1369 closed, assigned to Serhazor

[2020-08-28 02:23] idjevm commented on #1121
@lmpeixoto no need to close issues manually. It will automatically be closed once the PR gets merged.

[2020-08-28 02:24] idjevm commented on #1121
We also decided that we will allow the user to submit as much feedback as they want. So we don't need this feature as of right now.

[2020-08-28 02:34] idjevm commented on #1121
Closing this for now. We might bring it up later but we have decided to allow the user to submit more than one feedback.

[2020-08-28 02:34] #1121 closed

[2020-08-28 11:28] tejasm2 opened #1453 "Messaging [Desktop][Mobile]: Create Inbox for messaging with user. (Part 2 of #1435)"
**New Version:**

As a user,
Given that I am on the HelpBoard,
When I click on the message icon on a particular post, send a message & view the message,
Then the message should be displayed in a chat with the author of that post, attached with the post information (Title & Description) as a reference (as shown in the designs).

Note: If the user clicks on that referred post in the chat, then that

[2020-08-28 11:28] joshmorel commented on #981
We will address this with #1437

[2020-08-28 11:28] #981 closed

[2020-08-28 11:40] joshmorel commented on #781
No problem @adisen. Thanks for giving us an update.

@tejasm2 :

* we are going to just return an error for now when addressing issue #1437 if a user tries to sign up with same email
* I think we still want this - but likely put it on the back burner (i.e. low priority)

[2020-08-28 12:18] tejasm2 opened #1454 "Messaging [Desptop][Mobile]: Display the number of unread messages along with message icon on menu bar."
As a user,
I should be able to see the number of unread messages along with message icon on the menu bar.

Note: As I open/read a message, the number should be updated accordingly.

![DM menubar](https://user-images.githubusercontent.com/66698276/91557660-810e2780-e952-11ea-95d0-847d4219f998.png)

Design Desktop (Figma): https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page

[2020-08-28 12:32] tejasm2 opened #1455 "Messaging[Desktop][Mobile]: Create a screen when there are no messages."
As a user,
Given that I am on the main message screen,
When I do not have any message,
Then the screen should indicate that with generic text displayed as "You have not received any message yet. Come back to Help Board to find Offers and Requests to respond to." along with a "Go to Help Board" button.

![Message page_No message received](https://user-images.githubusercontent.com/66698276/91561067-

[2020-08-28 13:21] tejasm2 opened #1457 "Messaging [Desktop][Mobile]: Create a confirmation modal window pop up when a message is sent via posts."
As a user,
Given that I am on the "Send a message" modal window,
When I click on the "Send" button,
Then I should see a pop up modal window, which indicates a confirmation of sent message with "Your message was successfully sent" message and two buttons: "View Message" & "Done"
_When_ I click on the "View Message" button,
_Then_ I should be redirected to that particular message.
or
_When_ I click

[2020-08-28 18:44] git-satya commented on #1239
@joshmorel ,  I will start on this request.

[2020-08-28 18:49] mannykary commented on #1239
This is required for avatar profile image upload. We will be saving upload avatar images to S3, and save the Cloudfront distribution URL for these images in MongoDB (this will be part of another ticket).

[2020-08-28 21:43] CamilaArias opened #1459 "Make drawer draghandle not visible"
### The issue

Handler of the drawer menu on the right-hand side is visible and looks like a bug, it doesn't provide useful information to the user either, as the hamburger icon already indicates how to access the menu.

![image](https://user-images.githubusercontent.com/25089562/91616306-cc790380-e95b-11ea-8623-2bcd75a93cd8.png)

### Suggestion to fix
Remove background colour
[code]

[2020-08-28 23:36] joshmorel commented on #1424
Not sure why you closed this but this will address - #1456. Was it opened for this issue or something else (testing?) @galeza ?

[2020-08-28 23:59] CamilaArias opened #1460 "Adjust spacing of navbar on smaller screens"
### The Issue

Navbar looks fine on Desktop, but on smaller screens, padding-left is 15px on the left-navbar when it should be 23px as per Zeplin, and there's no space above the entire navbar. It just doesn't look good having the logo touching the top of the screen, no space in-between.

![image](https://user-images.githubusercontent.com/25089562/91621016-00f2bc80-e968-11ea-888c-96d2cd616578.png)

[2020-08-29 00:51] #1304 closed, assigned to idjevm

[2020-08-29 00:53] joshmorel commented on #1304
I'm closing this as we have a resolution message wise.

We're not tracking stats as we'd need to setup GTM outside of react. We could but it seems like it would be way down on the priority of desired features.

[2020-08-29 01:06] CamilaArias opened #1461 "Show border on posts in My Activity [Firefox]"
UPDATE: This seems to be happening on Firefox, but not on Chrome. I guess it has to do with those resolutions? I've no idea on this. It might affect other browsers?

### The Issue

On desktop, post cards in the Help Board have a border, this helps separate them visually. On My Activity, border is missing.

This:
[code]
is overriding this:
[code]
However, this also affects the individual post view,

[2020-08-29 01:58] #1424 closed, assigned to galeza

[2020-08-29 03:42] CamilaArias opened #1462 "Improve Create Account experience Indiv/Org"
### First Issue
_Mainly on mobile_

User hasn't selected an address, and nothing says it's mandatory (and because it doesn't look like it is, they don't choose one, because they might not want to give an address).
They only need to agree to Privacy Policy and T&C for the "Create Profile" button to become active. They click it and it turns white. Nothing happens, no feedback.

![image](https://user

[2020-08-29 03:53] CamilaArias opened #1463 "[Profile] Change text "I Need Help/I want to offer help" for their icons"
SVG for I want to offer help [here](https://fightpandemics.com/static/media/offer-help-unselected.aca98093.svg)

![image](https://user-images.githubusercontent.com/25089562/91627923-7c1c9880-e991-11ea-94a4-8f6755078c80.png)

For I need help [here](https://fightpandemics.com/static/media/request-help-unselected.c4adb941.svg)

![image](https://user-images.githubusercontent.com/25089562/91627940-9e16

[2020-08-29 04:26] CamilaArias opened #1464 "Improve Create Post Experience"
### Issue

User has set their address at country level (one very valid reason could be not giving much detail for privacy).
They want to create a post for either offering or requesting help, and they choose City/State for visibility.

The post shows only the country, and is displayed at country level, therefore not working like the user intended to.
Remember, we never tell them that the posts will

[2020-08-29 06:13] emtay commented on #1406
@tejasm2  there is the frequency setting of getting the email and the duration of the muting.

Mute notifications
Email: 24 hours / 1 week / 1 month / Forever
App: 24 hours / 1 week / 1 month / Forever

Change frequency of notifications to weekly/monthly/yearly.

Turn on/off email notifications

[2020-08-29 06:26] CamilaArias opened #1465 "[Mobile UI bug] Org Account drop-down causes page to stretch up to the limits of the screen"
### The Issue
If user edits organisation's type or industry:
Depending on the length of the option chosen, drop-down width is adjusted, causing the entire screen to be stretched beyond the space it should be within, and therefore length of divider lines and button's padding are stretched out and left-aligned elements are placed in the limit of the screen.

### Steps to reproduce
On mobile, go to o

[2020-08-29 06:48] CamilaArias opened #1466 "[Mobile UI bug] Profile elements are out of the screen"
### The Issue
On mobile, when opening Organisation or Individual Profile settings, elements already start outside of the screen:
![Screenshot_20200829-030432](https://user-images.githubusercontent.com/25089562/91630535-86965c80-e9a8-11ea-84f7-c428fce4706b.png)

When clicked on a field to complete, it gets worse:
![Screenshot_20200829-030454](https://user-images.githubusercontent.com/25089562/91630

[2020-08-29 07:20] CamilaArias opened #1467 "Missing Facebook, Instagram and GitHub options and icons in Org Profile"
As an organisation I would like to display our Facebook, GitHub and Instagram links on our profile.

We need to add these options along the already present Twitter and LinkedIn links. Bear in mind Facebook doesn't use usernames, so this option should allow the user to paste the entire link, because usually people don't know what the link to their profile is, so they check, copy and paste the whole

[2020-08-29 08:03] CamilaArias commented on #1466
I put it as P2 because it makes things straight up unreadable and it'd be expected that most of our users would be from mobile. But please change it if it's not appropriate.

[2020-08-29 08:36] CamilaArias opened #1468 "[Mobile UI bug] Long addresses break screen"
### The Issue
Long addresses wouldn't be super rare, and atm they cause the address field to stretch out of the screen pushing elements outwards and practically breaking the screen.

### Example to reproduce
Type "Santiago del Estero" and select first option.
![Screenshot_20200829-050856](https://user-images.githubusercontent.com/25089562/91632440-f7447580-e9b6-11ea-9e29-7a7c766ed968.png)

Similar

[2020-08-29 08:39] CamilaArias commented on #1468
Another P2 because it really breaks the screen and makes some options unaccessible. Feel free to change if it should be less prioritised.

[2020-08-29 10:25] CamilaArias commented on #1457
Hey @tejasm2 small thing, we're capitalizing the first letter of each word in CTAs (View Message).

I think one detail that might be missing is what would it look like with a long post title and 2 or more tags?
Are the tags really needed?
Maybe just to identify the post we could do we with:

Author - title of post (multiline if needs be)
Short description

If the tags are needed, maybe they can be

[2020-08-29 13:17] joshmorel commented on #1432
From backend perspective:

* We can extend the [comment model](https://github.com/FightPandemics/FightPandemics/blob/fa495aaf70b856e87bc1adbc35f39a881e37a17e/backend/lib/models/Comment.js#L7) for this. I would say a `private` and `read` booleans should be sufficient.
* Adding/updating the queries within posts/users/organisations endpoints will be the more complicated part:
   * Update endpoint sch

[2020-08-29 13:37] tejasm2 commented on #839
Do we have an update on this @mel-chiu ?

[2020-08-29 14:07] geobde commented on #1463
@CamilaArias can you provide a direct link

[2020-08-29 14:24] lmpeixoto opened #1469 "New Organisation type and industry drop-down"
When the user creates a new Organisation both the type and industry drop-downs don't show the complete text with smaller resolutions. Even when the option is selected the user can't see the complete text even when the mouse is over.

![cp_1](https://user-images.githubusercontent.com/43410947/91638993-4b794500-ea0b-11ea-8b82-a0fb5565353f.PNG)

![cp_2](https://user-images.githubusercontent.com/43410

[2020-08-29 14:50] manualzuru commented on #715
@ashminbhandari should we move this as in progress?

[2020-08-29 14:52] manualzuru commented on #1433
@xreic should we move this to "In Progress"?

[2020-08-29 15:14] mel-chiu commented on #839
yes. But I found the problem right now is that the button doesn't show at all or everything moves to the same place.
![1](https://user-images.githubusercontent.com/56417930/91640034-078e3c00-ea1b-11ea-9c1c-507d5e10a976.jpg)
![2](https://user-images.githubusercontent.com/56417930/91640037-12e16780-ea1b-11ea-900d-ce379e09db22.jpg)

[2020-08-29 15:14] xreic commented on #1433
Thank you for pointing it out @manualzuru !
I'll do so immediately.

[2020-08-29 15:23] manualzuru commented on #1433
No worries, I just want to make sure that we have a clean board so new engineers don't need to expend time figuring out if a feature/issue is being worked on or not

[2020-08-29 17:01] tejasm2 commented on #1457
Yes @CamilaArias , the designs are updated will add those here soon

[2020-08-29 18:38] Serhazor commented on #1469
From the way it looks like on screenshot, it seems that it's cut cause of the length of the box with a drop down menu, will you be okay if the box length if extended by a bout a half?

[2020-08-29 18:46] Serhazor commented on #1469
Can't recreate the issue as it seems that boxes are wide enough. @lmpeixoto can you check if the issue is still there?

![image](https://user-images.githubusercontent.com/44921903/91644037-54c8d880-ea30-11ea-816f-65ba9a1a544f.png)

[2020-08-29 19:14] lmpeixoto commented on #1469
Yes Serhazor. If you start with a small window you only have one div... Here you have the drop-down perfectly sized.

![size1](https://user-images.githubusercontent.com/43410947/91644453-fdc50280-ea33-11ea-9a7b-4e51fdf4f3ec.png)

When you enlarge the window, just when you begin with two divs side by side, it's there when the boxes are small...

![size2](https://user-images.githubusercontent.com/43

[2020-08-29 19:22] lmpeixoto commented on #1469
Resolution 1024x768 - Chrome (85.0.4183.83) Windows 10

[2020-08-29 20:11] joshmorel commented on #1432
I think we should add also add something like `recipientId` on the comment model so we can more easily query ALL the comments that should be in a user's inbox.

The other things we need - like with create post is `organisationId` so the author can be an organisation when they "change context" or toggle - https://github.com/FightPandemics/FightPandemics/blob/1e4944b1db27826ca1accb07798dd622b51577e4

[2020-08-29 20:14] joshmorel opened #1470 "Add authorization middleware to check user has right to act as organisation"
This is backend work to support #1493

See also comment: https://github.com/FightPandemics/FightPandemics/issues/1432#issuecomment-683336966

Code improvement so we're not relating code when checking that user is authorized to act as or update an organisation.

[2020-08-30 00:36] ashminbhandari commented on #715
Yes! @manualzuru

[2020-08-30 00:46] CamilaArias commented on #1463
Hey @geobde they're in the hyperlinks, but here they go again:
https://fightpandemics.com/static/media/offer-help-unselected.aca98093.svg
https://fightpandemics.com/static/media/request-help-unselected.c4adb941.svg

[2020-08-30 00:53] CamilaArias commented on #1469
@lmpeixoto I suppose whoever looks into this could also take a look at #1465 ?

[2020-08-30 06:46] lmpeixoto commented on #1469
Yes sure @CamilaArias

[2020-08-30 09:35] pemika-me commented on #1243
Hi all @ppagarawal @galeza  @rabbi08 @sheeba1

As per my understanding, if a post with > 5 comments already displayed all of them, when the user click to show less comment, only the latest 5 comments will be left for display, is that correct?

But what if there is **exactly** 5 comments in a post, and as per all details in this ticket - should it show the "show less comments" button at the bottom

[2020-08-30 11:13] pemika-me opened #1473 "[UI Bug] Blue outline left on comment's delete button after cancel deleting a comment"
### Issue
When the user clicks on the "Delete" button at the bottom of a comment they created and the confirm modal window popped up - if they click to cancel the deleting request, the modal window will disappear but left BLUE outline on the comment's "Delete" button.

**Desktop:** will show blue outline text box for Delete button for a while, then it will disappear by itself.
**Mobile Web:** will

[2020-08-30 13:14] joshmorel commented on #1230
@vsan626 @jpmitri  - please pause working on this for now.

@sheeba1 cc @emtay I think we should close this OR we need at least more details how this scenario should be handled (more below).

I initially created this to allow access to all based on this discussion https://fightpandemics.slack.com/archives/C014JQYVB89/p1592923444017100 . We are hiding the most sensitive things (email, address if th

[2020-08-30 13:18] joshmorel opened #1474 "Show 404 page for not found profile/organisation"
Noted in #1230 - cc @sheeba1 @jpmitri @vsan626 @emtay

This would be a good first step until we make a decision about the other issue.

Currently if you visit profile/:id or organisation/:id and it is not found you get this ugly error message:
![image](https://user-images.githubusercontent.com/10546720/91660037-93e34200-eaa1-11ea-9c62-fdbce3ee6255.png)

Let's instead redirect them to 404 page:
![i

[2020-08-30 13:32] emtay commented on #1230
@joshmorel @manualzuru i don’t think unlogged in users should see profiles. We don’t even let them see a full post if not logged in- and without more privacy settings it seems risky to let profiles be accessed outside the platform.

This option seems right:

On FE feed in the post header where you can click to visit the profile link - if logged off then make it redirect to log-in similar to how we

[2020-08-30 13:36] jpmitri commented on #1230
let me see if i understood this right you want us to redirect them to the log in page if they try to access a post and after they log in should i redirect them to that post or just let logging page redirect them to where it normally dose?

[2020-08-30 13:41] emtay commented on #1230
No, that’s an example of how we want the redirect to work.

What I’m proposing for this story is:

Given user Is logged in
When user clicks on profile of another user
Then they see the other profile

Given user Is NOT logged in
When user clicks on profile of another user
Then they will be redirected to login and
Given they then log in, they’ll proceed to other user‘s profile (their original intent

[2020-08-30 15:48] joshmorel commented on #1425
Looks like the practice is based on this wiki: https://github.com/FightPandemics/FightPandemics/wiki/How-to-create-a-Pull-Request

There is a 40char limit for terraform building the url.

A good option would be either:

* `feature/short-meaningful-name-1417`
* `feature/1417-short-meaningful-name`

But just in case it doesn't build we should truncate the string in the github action file so `feature

[2020-08-30 19:13] joshmorel opened #1476 "Add SEO4Ajax logo to /about-us partners"
From: https://www.seo4ajax.com/ for our social sharing & SEO.

```data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAAAeCAYAAAC143KyAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAIkQAACJEBafl3xgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAA1zSURBVHja7V0LcBXVGV6RN3f37t0EKKhgLYJCbYGqBeojKaC0Qqu01goDVmXUylTEqjgWNCCCosUO+KDCTOsoFKMkN8+GGV5FO0ixCAURShGFyiOSCuFNQrb/v/ck2Vz28Z/ds3uXxJ35JjfJnte/e777n/9xjqTrumSG

[2020-08-30 22:14] vsan626 commented on #1474
@joshmorel should we include a message on why the user is being redirected? (Ex. an alert saying ''Incorrect User") before re-routing to * route

[2020-08-30 22:29] joshmorel commented on #1474
Generic may be okay for now but @emtay if you have a suggestion please share

[2020-08-30 22:30] emtay commented on #1474
If you can, great! “User not found”?

But not big deal if lots of extra work- can be generic.

On Sun, Aug 30, 2020 at 3:29 PM Josh Morel <notifications@github.com> wrote:

[2020-08-30 22:32] mannykary opened #1478 "Set up CI/CD for microservices"
Set up CI/CD for microservices. In the 8/30 DevOps meeting, we decided to keep the services in the main repo for now, and break out later if necessary. The microservices will live in the `services` folder, and we will create Github Actions workflows for each service and environment.

[2020-08-30 22:35] joshmorel commented on #1230
@emtay as mentioned earlier the posts redirect is not about privacy it's about trying to get a user to sign up.

But I'm on board for profiles until we have more specific privacy settings. Is individual users only not orgs or is it both?

But @jpmitri don't worry about posts for this one as it's already handled. It's the profile link we're interested in here.

[2020-08-30 22:39] jpmitri commented on #1474
we have the alert ready with a generic msg but commented out in the code we submitted so it is just a matter of un-commenting that and writing what you think is best or it can display the error msg that was returned( dose not look appealing tho)

[2020-08-30 22:46] emtay commented on #1474
The standard 404 is probably fine. Where would the other message show up?

![A6BE6CEC-0D1B-4230-AF91-F136AF1B4F05](https://user-images.githubusercontent.com/43509421/91671036-dc1d5700-ead7-11ea-8646-974878618380.png)

[2020-08-30 22:53] jpmitri commented on #1474
the other msg was written as an alert so it will pop up and once you hit okay it will redirect you to 404 we have it commented but ready to be implemented later on if need be
i think we could also style it with ant to be similar to a toast (msg that appears momentarily and disappears on it's own)

[2020-08-30 22:57] emtay commented on #1230
Per conversation with @joshmorel and @manualzuru :

1: Individual profiles require users to be logged in
2: Organization profiles can be viewed by logged in or not logged in

**AC for individual profile:**
Given user Is logged in
When user clicks on profile of another individual user
Then they see the other profile

Given user Is NOT logged in
When user clicks on profile of another individual user

[2020-08-30 23:02] manualzuru commented on #1473
Also, when the outline appears, it shouldn't be that blue but our main color.

[2020-08-30 23:06] manualzuru commented on #1469
I agree the boxes should be definitely bigger. Currently is hard to read.

[2020-08-30 23:07] manualzuru commented on #1463
This apply for both, org profile and individual profile and it should have an alt text. Like: "Requesting Help" "Offering Help"

[2020-08-30 23:12] manualzuru commented on #1457
@tejasm2 do we also need a message when the message (post as we are leveraging the post feature) doesn't get sent?

[2020-08-30 23:14] manualzuru commented on #1468
P2 is fine

[2020-08-30 23:15] manualzuru commented on #1466
@CamilaArias i also think that the disability icon might be better to have on the right side? Wdyt?

[2020-08-30 23:15] manualzuru commented on #1467
Instagram icon looks completely different in comparison to the rest @CamilaArias

[2020-08-30 23:36] manualzuru commented on #1454
@tejasm2 Where is the notification icon? If the notifications for message work, then the normal notifications should as well work as it's basically the same feature

[2020-08-30 23:37] manualzuru commented on #781
We should definitely be able to link the accounts Auth0 enables this quite easily. But let's put P3 maybe.

[2020-08-30 23:38] manualzuru commented on #1453
@tejasm2 can we add the new designs?

[2020-08-30 23:45] manualzuru commented on #1416
This is really necessary as this will be one of those things that will help us accelerate growth.

[2020-08-30 23:47] manualzuru commented on #1436
@emtay Yes, this is P1 and yes, the backend should allow to behave as an organization. Right @Naraujo13 @joaofnds?

[2020-08-30 23:53] manualzuru commented on #1342
@rabbi08 im seeing it like this on mobile production. @Joeu please take a look ![image](https://user-images.githubusercontent.com/35108827/91672134-a9ea1480-eb2c-11ea-8d0d-b6dd615d0de7.png)

[2020-08-31 00:36] Naraujo13 commented on #1436
@manualzuru the data model treats org as another user and so does the backend I think, so I think it is covered up.
I think @joshmorel can confirm if this is the current state

[2020-08-31 01:17] joshmorel commented on #1436
This is why I created #1470

It would be like post as org but we'd need to handle it on every case with organisationId param. A plugin/middleware/decorator should be created to address this

To be more specific a user can only authenticate as themself via Auth0 jwt which can be used in any needed "individual user" situation. But they could be authorized to act for an organisation as an owner (or l

[2020-08-31 06:35] emtay commented on #1432
@joshmorel - do we need a to track some id associated to the thread?

User1 Posts X
User2 sends message to User1
threadID= unique to post and between User2 and User1
?

Would that help with data migration to future direct message solution?

[2020-08-31 08:27] galeza commented on #1422
Hi @emtay
I have a question about this issue. @jessica-lau is going to write automated tests for this page. Please let us know how Question3 page will be changed?

[2020-08-31 13:17] tejasm2 commented on #1454
Yes Manu, will update the design with the notifications icon.

[2020-08-31 13:40] jessica-lau commented on #1422
@galeza thanks for mentioning me in this. Yes, @emtay if you could please keep me in the loop on how Q3 will be changed that would be great. Thanks!

[2020-08-31 16:48] sheeba1 commented on #1230
@joshmorel , shall I leave it open as the requirements have been defined as above.

[2020-08-31 17:17] sheeba1 commented on #1474
@joshmorel , This scenario can happen only when user deletes his account OR his Org account. (ref #1458). correct?

[2020-08-31 17:30] emtay commented on #1230
@sheeba1 @joshmorel I think we're aligned and can move forward- correct?

@emtay , I am good. Thanks!

@jpmitri or @vsan626 - which of you were taking this?

[2020-08-31 17:37] Naraujo13 commented on #1432
I'm not sure that using the same model for private messages and comments is a good choice for this.
This might bloat comments collections (probably performance problems here, would need to shard it) and be hard to iterate, since we would have two very different features on the same collection.

I'm not sure how compromised we're into this, but I can take a look later today and try to sketch how to

[2020-08-31 17:45] manualzuru commented on #1432
@Naraujo13 please give us a hand here. We really need to get this started. Also have a chat with @lmpeixoto and @Zaydme who want to work on this.

[2020-08-31 17:56] Zaydme commented on #1432
@manualzuru is this the real time messaging feature or just private comments? I am very confused.
Are these two separate features or the same? If different, which one we are working with here?

[2020-08-31 18:34] vsan626 commented on #1230
@emtay we were pair programming on this

[2020-08-31 22:05] joshmorel commented on #1432
@Zaydme @Naraujo13 we discussed in Slack and a meeting today. Were definitely going with a new model. We agreed to just do REST calls via HTTP for the launch. We can add bidirectional real time aspects with websockets post launch. I'll add more details to my proposal for backend endpoints in Slack first for feedback hopefully tomorrow.  Wednesday at the latest.

[2020-09-01 00:15] Naraujo13 commented on #1432
Ok, REST calls should be enough for a basic MVP and good starting point. I'm looking at the specs and will sketch something up from the data model perspective and them we can merge them

[2020-09-01 00:18] Naraujo13 commented on #1432
I think the feature is real-time messaging.
The confusion is probably because earlier, it was proposed to be implemented as an MVP as a private comment to try to reuse the comment code we already have.

Anyway, we seem to be going towards the opposite direction now, implementing a "real-time" chat with a new model and HTTP requests and then migrating to real real-time with sockets (and keeping the

[2020-09-01 01:10] joshmorel commented on #1432
@manualzuru @Naraujo13 yeah we've decided to nix the private comment and go with a message model. We can do websockets later for something more like FB messenger, slack etc but for feasibility of timely implementation start with standard REST API over HTTP. We could even use polling on the inbox page to make it real time enough but we need to get the inbox working at all to begin with.

[2020-09-01 04:45] kterry1 commented on #1435
@emtay Do you know where the github ticket is for the rest of that design that isn't squared in red? It easier to build it out all together, so I wanted to make sure someone else wasn't working on the other part as well.

[2020-09-01 04:47] emtay commented on #1435
@kterry1 yep this one! https://github.com/FightPandemics/FightPandemics/issues/1453

[2020-09-01 04:52] emtay commented on #1453
@kterry1 @tejasm2 just realized we don't have a design for error if not sent on this design. i'll double check figma and then will ping kelly/yu if not there.

[2020-09-01 05:00] kterry1 commented on #1435
@emtay Thanks!!

[2020-09-01 05:17] rabbi08 commented on #1243
@pemika-me
As per my understanding, NO additional buttons for 'More/Less'  should be displayed, if comments are <5 and 'Show more is displayed when comments are >=5. This is also currently the default behavior.

Please share your thoughts/observations if any.

[2020-09-01 05:23] pemika-me commented on #1243
@rabbi08 Thank you for your clarification, that's totally reasonable! :) I just would like to confirm for commenting a test script - comments part.

[2020-09-01 05:49] emtay commented on #1436
@joshmorel is 1470 required for this or an enhancement that can be done any time after this? anything else needed before this ticket can be played?

also, is this required for organizations to be able to send and receive messages?

[2020-09-01 05:58] emtay commented on #1422
@galeza @jessica-lau it's going to be removed. so just question 1 (type) and question 2 (location) and then help board results

[2020-09-01 06:05] emtay commented on #1466
@CamilaArias should it be P1?

[2020-09-01 06:08] emtay commented on #1468
@CamilaArias just so i'm clear- issue is on edit when addresses are super long. then user gets stuck to the right and it breaks the rest of the page?

what's the solution you're wanting?
1- don't mess up other elements
2-have the cursor of address line be scrolled to the far right?

[2020-09-01 06:16] emtay commented on #1464
@CamilaArias great callout. how about adding 'location' field and pre-populating based on user location but it is editable to be another city or state. (is it weird for user of one country to choose another country as location?)

good call on error out if location=country and display is city or state, etc.

[2020-09-01 08:04] galeza commented on #1422
@emtay
Thanks for clarification!

[2020-09-01 10:37] joshmorel commented on #1436
@emtay  this work can start in parallel.

What I would suggest for FE - we already have array of organizations user owns. We can keep track of the org they are acting as through a new state variable I guess.

Then pass `organisationId` to BE (as param or prop). The BE middleware or decorator I'm thinking of will confirm logged in users is authorized to act as the org then perform the action as the

[2020-09-01 12:13] joshmorel commented on #1230
@emtay @vsan626 @jpmitri  I think there was one issue with my suggestion for backend but I see with both open tickets - they are front end only? I guess I could do the backend as I have in my mind how to handle this.

I think it would be better to return 404 if the user is not logged in and visits the profile. This is what Facebook does for example above.

Once we have privacy settings on the prof

[2020-09-01 12:20] tejasm2 opened #1483 "[Desktop][Mobile] : Update the About Us page."
As a user,
When I click o the About Us button on the main men bar,
Then I should be able to see all the information about FightPandemics organization along with 2 CTAs: "Get Involved" and "Go to Help Board" buttons.

- When I click on the "Get Involved" button,
Then a popup should appear with 3 buttons: "Join as Volunteer", "Join as Ambassador" and "Join Student Program"
(These there buttons shoul

[2020-09-01 12:26] joshmorel commented on #1230
We can use this for now - at line 125 of `backend/lib/endpoints/users.js` . You can add to #1482 instead of me opening new PR. I will take a review of frontend code after other questions are resolved.

[code]

[2020-09-01 17:18] jessica-lau commented on #1422
@emtay Thanks!

[2020-09-01 18:08] Ritika92 commented on #1448
We discussed this on our chat and thought it would be useful adding it here:
1.Separate flow for logged in / non-logged in users. Cards to exactly match the designs already in place for both scenarios.
2.  When on “All posts”, search for:
          a. “posts”: should return all relevant posts ordered by relevancy or activity
          b.  “Organizations” : should return list of organizations sorte

[2020-09-01 19:33] cjohlmacher commented on #1473
I looked into this issue and will push proposed change to branch feature/1473 when I get access.  Thanks.

[2020-09-02 01:34] joshmorel commented on #1252
FYI @doheekim93 this is the ticket...

@j-collier I'm not sure if that tutorial will work it seems like it's for iOS<->Auth0 but I'm not sure if that we'll work (at least easily) with our current set-up. We're using machine-to-machine, with the backend as intermediary to Auth0 from the web client. I could be wrong, but I think it'll need to be the same with iOS, Android. It's what I can help with

[2020-09-02 14:55] CamilaArias commented on #1468
@emtay It's not getting stuck to the right but the fact that the length of the address seems to dictate the width of the container of the page. The solution is making it work like when you create the account, which works fine, so I guessed someone who looks at the code would be able to find out why that is. I can add this to the ticket too.

[2020-09-02 20:32] cjohlmacher commented on #1466
Hi, I looked into this as a first issue for me to get acquainted with the project.   My conclusion was that the Background component needed a width defined when screen size does not meet the tablet or desktop minimum width.   I also found that the input content overflowed off the page in some cases where the prefix is too long (LinkedIn and Facebook for example), so I changed the FormInput overflo

[2020-09-02 20:42] maskowe commented on #1201
Josh and David,   To start -- is it a final decision to go with the Map Static API?   Let me have an answer to this before I start, because it would probably be easier for me to start with the google-maps-react npm package.   Thanks!

[2020-09-02 21:21] davidoduk commented on #1201
@maskowe , yes let's go with the Map Static API. I'll go with Josh's suggestion

[2020-09-02 22:33] maskowe commented on #1201
OK -  It might be limited to 25 markers (I know that initial requirements are for 10).   Will verify that later.

[2020-09-03 00:07] davidoduk commented on #1201
We shouldn't need up to 25, I think 10 is plenty enough

[2020-09-03 09:25] galeza commented on #1422
Hi @emtay
I have a question about Q3 screen removal. Are we going to modify Question 2 screen as a result of Question 3 removal?
We have a Next button thats open Q3 screen and a link "Show me postings from anywhere" that opens currently Q3 screen. They will open Help Board? Or maybe we will remove one of them?

[2020-09-03 19:21] nfranklin9 commented on #1427
Future work: settings for Web App Frequency: Daily, Weekly, Monthly
For initial launch, we're just doing on/off

[2020-09-03 19:49] mannykary opened #1490 "Github Actions: strip out all non-alphanumeric characters from branch name"
This [build](https://github.com/FightPandemics/FightPandemics/pull/1489/checks?check_run_id=1068648895) failed because there is an underscore in the branch name. While underscores are valid for git branch names, they are not valid for subdomains. We should update the build script to strip out all non-alphanumeric characters from the branch name.

[2020-09-03 21:06] davidoduk opened #1493 "Switch login to organization when org name is selected"
As a user who is an authorized admin for an organization, I'd like to be able to switch profiles and interact as my organization

**Acceptance Criteria**
- Create new posts using organization account
- Leave comments on existing posts
- Send messages using organization account

**Requirements**
https://www.notion.so/fightpandemics/Interact-as-an-organization-switch-accounts-dd17a9eea26143bf8782ef2

[2020-09-04 00:06] rabbi08 commented on #1448
@Ritika92 @Zaydme

I have question for the requirement under below scenario:
 As mentioned above:
             “individuals/members” : should return list of individuals sorted by activity. (match just name for now right?)
All Post:
- Navigate to Help Board ->Select Individual from search dropdown -> enter<TEST>
so the word <test> should be searched within the individual posts and displayed in sort

[2020-09-04 00:35] Zaydme commented on #1448
@rabbi08  Yes, results are stored based on a "textScore" which is the score associated with the corresponding query for each matching document.
The textScore signifies how well the document matched the search term or terms, you referred to it as exact/partial match.
Posts that have less matching keywords get a lower score.
Posts that have all keywords get a high score. And posts that have all the

[2020-09-04 12:19] joshmorel commented on #1474
@sheeba1 - there are 3 scenarios (only 2 potential for orgs):

1) Deleted account - org for now, I think there is work underway for individual user account deletion
2) Wrong link - org/individual, unlikely but probably more so if we switch to using friendly urls (e.g. like https://www.facebook.com/FightPandemics/) instead of Mongo ObjectId
3) If the user is not logged in, we're hiding individual f

[2020-09-04 13:17] #1466 closed, assigned to cjohlmacher

[2020-09-04 13:19] #1467 closed, assigned to paulms1

[2020-09-04 17:35] joshmorel opened #1495 "Mock Auth backend component for local dev"
This would be similar in purpose to #882 .

By mocking the Auth component we would decrease new dev onboarding friction while also reducing the need to widely share the dev auth account secret.

If the `AUTH_SECRET_KEY` is not present it will use the mock, otherwise Auth0 itself.

Users specifically developing auth features would add the key and thus be able to work with the real thing. Those not

[2020-09-04 20:10] cjohlmacher commented on #1468
Hi, can you check to see if this is still an issue in the latest build in staging?
I think the changes for feature 1466 would have also addressed the issue here.
Ref: [Pull Request 1488](https://github.com/FightPandemics/FightPandemics/pull/1488)
Ref:  [Build for Pull Request 1488](https://feature1466.fightpandemics.xyz)

[2020-09-04 22:22] emtay commented on #1468
@CamilaArias is it better now after Chris' fix?

[2020-09-05 13:44] pemika-me opened #1496 "Error message for the user to complete the existing comment before starting the new one"
### Issue
(Staging) Found the user can create a new comment while they haven't done editing the exist comment yet.

### Steps to reproduce
1. Access any post as a logged-in user, write a comment and send
2. Click to edit that comment, but do not save the change yet
3. Write a new comment, and send. You will see that the new comment was created while the first comment is pending editing.

### Expec

[2020-09-05 13:53] pemika-me opened #1497 "Shift+Enter to create a new line while commenting"
### Issue
(Staging) The user can't start a new line while writing a new comment. Both Enter or Shift+Enter are considered as sending the comment (The user is able to press Enter to begin the new line while editing the existing comment though.)

### Steps to reproduce
1. Access any post as a logged-in user, write a comment but not press the icon on the right to send it yet
2. Try press "Enter", you

[2020-09-05 14:13] pemika-me opened #1498 "To retain the filter values when user clicks back from an individual post"
### Issue
When the user clicks on back button from any individual post to go back to the Help Board, found all filters was cleared and lead the user to the top of Help Board.

### Steps to reproduce
1. Log in (to be able to access a post), and go to Help Board
2. Select at least one filter, then scroll down the page for a while
3. Click to access any post there
4. Once redirect to the post, click

[2020-09-05 14:36] pemika-me commented on #1243
@rabbi08 Sorry, but I read it again, shouldn't it be 'Show more' is displayed when comments are >5, while no any additional buttons in case of <=5? (Because all 5 comments are already showing up)

[2020-09-05 17:13] joshmorel commented on #1497
Thanks @pemika-me

Thought - maybe you should always need to hit button to post the comment? Looking at other sites it seems only with messaging that enter submits (with shift+enter adding new line).

But if we stick with enter->post then we do at least need shift+enter. Maybe even provide a note? in Slack:
![image](https://user-images.githubusercontent.com/10546720/92310148-774f7a00-ef79-11ea-84d

[2020-09-05 19:40] #1490 closed, assigned to mannykary

[2020-09-05 20:37] #1089 closed

[2020-09-06 02:27] pemika-me commented on #1497
Such a good point! Thank you @joshmorel for your great perspective.

Dear PM @doheekim93 @dhruvdpatel @ppagarawal
May you consider Josh's comment and give us a decision?

[2020-09-06 06:28] pemika-me commented on #1497
By the way, I think just require the user to hit the button to post a comment is the simplest one - as it's more reasonable for the user who accesses our website on Mobile web. (I have never pressed Shift :arrow_up: + Enter button to create a new line on my mobile keyboard) So both Desktop web and Mobile web can work with the same logic. (Enter to create a new line, and only send/post a comment wh

[2020-09-06 06:45] CamilaArias commented on #1468
@emtay @cjohlmacher it's better now! Thanks :)

[2020-09-06 06:46] #1468 closed, assigned to nobody

[2020-09-06 07:28] cjohlmacher commented on #1462
**Status Update:**

For First Issue:

I've pushed to feature/1462 two things to resolve the issue:
1.  Added text "Required" to the Address field.
2.  Create Profile button is disabled if the Address field is not filled in.

-----
Still need to address email issue for organizations and also the suggestion:
"Display any errors on top of the "Create Profile" button, which is where the user is lookin

[2020-09-06 07:52] CamilaArias commented on #1462
@cjohlmacher I'm going to create another ticket for the email issue, as it's going to need design as well! But thanks for getting started on the other stuff!

[2020-09-06 07:59] CamilaArias commented on #1464
I'm going to move this back to a Notion page.

[2020-09-06 07:59] #1464 closed, assigned to nobody

[2020-09-06 15:57] ppagarawal commented on #1497
Typically, settings provide an option to decide what the enter should do. Here, I recommend that
Desktop: Enter must correspond to post action. Shift + Enter can be used for new line. (Think of UX here for using 1 device here instead of 2 devices to post)

Mobile: use the button to post. Pressing shift must toggle the send button to change to enter a new line.

@joshmorel @pemika-me

[2020-09-07 02:36] shalinidc commented on #1436
@joshmorel @emtay : Tejas asked me to look into this and I am looking into the FE part of this. @joshmorel you are right, we already have an array of orgs the user owns. I can use the path to get the current organization and display the right organization name in the header. This is my first task, am I overlooking something here or will this fix work? Below is the snippet:

`    let url = window.l

[2020-09-07 15:20] joshmorel commented on #1498
Thanks @pemika-me - definitely something we need for users when going from feed > post/profile > feed.

@OzkanAbdullahoglu I know you had looked into how Twitter handles list data from pagination perspective is there anything else that points to a resolution for this one?

In any case let's get the new pagination fixed and merged then someone can work on this one.

[2020-09-07 17:22] emtay commented on #1422
@galeza good callout we can change "Next" to "Submit". i'll update the story

[2020-09-07 17:39] emtay opened #1499 "Turn a URL within text (Post, Comment, future- message) into hyperlinks"
As a user, when I enter a URL in a post or comment, I expect those to become hyperlinks so that users can easily click on them and have it open a new tab.

This will require recognizing text as URL based on www. or https://www. etc.
Form into hyperlink and upon click, open to a new tab (not go to website in current tab because we want to keep FightPandemics tab open).

Note, we're not validating t

[2020-09-07 18:48] #1473 closed, assigned to cjohlmacher

[2020-09-07 20:12] #1365 closed, assigned to AshBha243

[2020-09-08 06:55] OzkanAbdullahoglu commented on #1498
@joshmorel In twitter when you chose a trend and then when you go back to the feed, filters resets , and also It looks like same in advanced search too, actually all filtering activities handling with searching. Neither I analysed deeply, nor I am a great fan of twitter, but it seems like technically they desire to show off more posts in numbers.
It is a decision though after we merge new paginati

[2020-09-08 14:34] joshmorel commented on #1436
Hi @shalinidc the idea with this toggle is that it could be done from any path. So for example I could be on https://fightpandemics/feed and switch to an org, then when I, for example like a post, I am **acting as** that org instead of myself.

Does this sound right  @davidoduk @emtay @tejasm2?

Anyways @shalinidc I'm still figuring out the backend but I'm pretty sure any applicable route where on

[2020-09-08 16:28] joshmorel commented on #1436
Wanted to confirm something else @tejasm2 , @emtay or @davidoduk about this feature.

Now we should edit/delete menu for any post created by yourself or an org you own. For future state will it only only show the menu for the selected user?

![image](https://user-images.githubusercontent.com/10546720/92502977-96931500-f1ce-11ea-9ec4-a9a40888acf9.png)

And if you're curious what will be easier - on

[2020-09-08 16:58] davidoduk commented on #1436
Hey @joshmorel, to clarify, this is the easier scenario?
-User will only see a menu for the posts they are logged in as i.e. if logged in as "Josh", the will not see a menu for posts by "Josh's org"

[2020-09-08 17:05] joshmorel commented on #1436
@davidoduk Yes if we keep it consist across the features that only the "selected user" is shown options such as these it would be easier I believe. Not just here - but we'll also need to address showing Edit button or not in comment etc.

[2020-09-08 17:10] davidoduk commented on #1436
Agreed, that looks like the best way to implement this from a UX perspective as well

[2020-09-08 18:12] rabbi08 commented on #1448
@Zaydme thanks for clarifying.
I have another question, this search will take preference over the filters?
For e.g. If user filter the post as per provider = 'Individual' and the search for any keyword like test, Medical, mask, then this search feature will search for keyword in the individual user posts having specific keyword in the post title or description or author name?
Also, I have observed

[2020-09-08 18:20] Zaydme commented on #1448
@rabbi08
- The first question:
If you select individual from the filters and searched "mask" it will show you all the posts posted by an individual and contains the word "mask", so the filters and the search keyword work together.
- The second question:
No, filters and "tabs" are different, if you selected the "individual" filter, and searched on the posts tab, it will show you posts made by indiv

[2020-09-08 18:28] rabbi08 commented on #1448
Thanks @Zaydme

Sorry for asking so many questions, Thanks for the clarification.

[2020-09-08 18:38] Zaydme commented on #1448
@rabbi08
Just a small clarification, we don't look for the search keyword in the location, so if you searched "New York" it won't show you users that are in New York, but who's name or description contains the word "New York". Location is instead used to sort search results by distance from the user.
So if you are logged in and you searched "Doctor" in the Individuals tab, you will get a list of a

[2020-09-08 19:30] emtay commented on #1436
@davidoduk @joshmorel user should only edit or delete what is based on that profile- Indiv or org. If indiv, I can only edit or delete posts I made as an indiv.

If org, I can only edit or delete posts made by that org.

If user has more than one org, they have to be acting as same org that created post to edit or delete.

I think that’s what you have above but wanted to confirm

[2020-09-08 19:35] cjohlmacher commented on #1462
Okay.

With regards to the issue of "Display any errors on top of the "Create Profile" button, which is where the user is looking. Feedback is important and needs to be instantly visible.",  I pushed up new changes which duplicate the error message that appears if there is an issue when trying to add the user/organization to the server.

Originally this message appeared just at the top of the page

[2020-09-08 21:42] nivetheatha opened #1503 "[Mobile-android]Long Address cause the page stretch up to the limits of the screen and the content not fully visible to the user."
Environment: fightpandemics.com
Device:Samsung Galaxy s8
Browser:Google Chrome.
Steps to create:
1.Login with valid username,password.
2.Choose Request help/offer help.
3.Choose Medical/Other Help.
4.Provide address that is long.(ex:Type 19020 choose the option Avenue of americas,19020....)
5.It moves to Email address page.Click on back arrow.
The page is stretched up due to the long address and t

[2020-09-08 21:51] joshmorel commented on #1503
Thanks @nivetheatha I think I have someone to work on this. I would do exactly what google itself does

![Screenshot_20200908-175034_Maps](https://user-images.githubusercontent.com/10546720/92531238-e3d9ab80-f1fb-11ea-9383-387806a9069d.jpg)

[2020-09-08 22:08] joshmorel commented on #1503
@nivetheatha actually nvm it's fixed in staging should be in prod soon. https://github.com/FightPandemics/FightPandemics/issues/1468

[2020-09-08 22:43] nivetheatha commented on #1503
@joshmorel thanks for letting me know. Will close this issue.

[2020-09-08 22:43] #1503 closed, assigned to nobody

[2020-09-09 01:31] CamilaArias commented on #1462
@cjohlmacher I think it's fine to keep just above the create profile button!

[2020-09-09 04:56] cjohlmacher commented on #1462
Okay, pull request created with the error only appearing above the create profile button.  Thanks for the input!

[2020-09-09 13:02] joshmorel commented on #1387
Resolved by #1446

[2020-09-09 13:02] #1387 closed, assigned to lmpeixoto

[2020-09-09 15:28] sheeba1 commented on #1365
Tested Org email validation by adding new orgs and editing email

[2020-09-09 16:49] sheeba1 commented on #1473
tested on staging for both desktop and IOS

[2020-09-09 19:34] rabbi08 commented on #1468
Verified in STG on iphone 11 pro max, working fine, refer below screenshot.

https://share.getcloudapp.com/Qwu0yogB
https://share.getcloudapp.com/jkuZjp9g
https://share.getcloudapp.com/rRu7dD4e
https://share.getcloudapp.com/DOuxLE54

But if user click on "View profile" of any Organisation say, "Sourced By FightPandemics(Other)"
You will observe that there is delay in the post loading, which leads

[2020-09-09 20:36] sheeba1 commented on #1369
Tested on staging and working fine

[2020-09-09 20:56] sheeba1 commented on #1424
testing before prod release.
docker-compose.yml entry below:

version: "3"
services:
  mongo:
    image: mongo
    container_name: mongo
    environment:
      MONGO_INITDB_DATABASE: fightpandemics
    restart: always
    ports:
      - "27017:27017"
    networks:
      - fp_network

[2020-09-09 20:58] joshmorel commented on #1468
Hi @rabbi08 yeah that loading issue is related to the fact we don't have pagination for activity. There's an WIP pr hope to resolve soon - #1274 - that will resolve it.

[2020-09-09 21:40] rabbi08 commented on #1467
Verified in STG and it is working fine.

![image](https://user-images.githubusercontent.com/67168400/92657856-80b34c00-f2c3-11ea-8084-e4c0e7f66cc8.png)

[2020-09-09 21:44] sheeba1 commented on #1467
Tested on both desktop and IOS device . Looking good
![image](https://user-images.githubusercontent.com/65972693/92658195-01b21980-f2ab-11ea-8f85-3bd6bd408fec.png)

[2020-09-09 23:25] nfranklin9 opened #1507 "Notifications: Email Notification Unsubscribe link"
I receive email notifications when users interact with my post. I need a link at the bottom of these emails to "Unsubscribe" me from these emails and access the Notification Settings page to change my email preferences. The "Unsubscribe" link may either link directly to the Notification Settings page, or unsubscribe the user in some other way (and a different link goes to the Notification Settings

[2020-09-09 23:54] AshBha243 commented on #1463
@CamilaArias hi! Is this a still pending issue? I could see the Offer help and Need help images on the staging page.

[2020-09-10 17:31] haoxianZ commented on #1499
Hi, I was working on this since it was assigned through slack, please take a look of the pull request of this branch. Sorry for not assigning myself here.

[2020-09-10 17:56] rabbi08 opened #1510 "Help Board -> No Post available -> 'Create Post' message displayed ->is overlapped with white screen on the phone"
1. Open 'Staging.fightpandemics.work'
2. Navigate to Helpboard and add filter as "Provider = Individual and University"
You will observe that no results i.e. No posts are displayed under the given criteria.
"Sorry, there are currently no relevant posts available. Please try using a different filter search or create a post."

Issue: The user message is overlapped by the white screen and user need t

[2020-09-10 18:03] ashminbhandari commented on #1499
Ah, got it. Thanks for LMK.

[2020-09-11 00:26] AshBha243 commented on #1497
@pemika-me so finally what should be the result o pressing Enter and Shift+Enter?

[2020-09-11 01:57] nivetheatha commented on #1145
The bug is able to create organization profile with same name,same addresses, same type.
Ex: A has automobile industry in the name xyz at abcd address,xyz@gmail.com.
A able to create the same record again with different email I'd like name:xyz address:abcd type:automobile email:xyz1@gmail.com.FP is not restricting to create a duplicate record.
Here emailid is considered as primary key.
Instead we

[2020-09-11 03:21] pemika-me commented on #1497
@AshBha243 Please refer to @ppagarawal comment above.

@ppagarawal and would we add a footnote as per Josh's recommendation? (Similar to Slack's)

[2020-09-11 09:59] galeza opened #1512 "E2E tests Mocha service - Test User is not able to log in with the wrong credentials fails locally"
env: dev
Mocha service
Test User is not able to log in with the wrong credentials fails when it runs multiple time. I need to change test data.
 1) User is not able to log in with the wrong credentials:
[code]

[2020-09-11 10:03] galeza opened #1513 "E2E Cypress test - Test "Login fail alert appears when incorrect email & password are entered and submitted by user" fails"
Env: Dev

Test "Login fail alert appears when incorrect email & password are entered and submitted by user" fails when it runs multiple times.
Expected error message: Login failed, reason: Wrong email or password.
Actual error message: Login failed. Maximum number of sign in attempts exceeded.

[code]

![FightPandemics Sign In Page -- User signs into account -- Login fail alert appears when incorr

[2020-09-11 11:06] galeza opened #1514 "Feedback - error message and error presentation when age is empty"
env: staging

Steps:
1. Open FeedBack
2. Select How well does FightPandemics meet your needs?
3. Click Next
4. Age is empty
5. Submit Feedback

Actual result:
Error message: _Could not submit feedback, reason: body.age should be integer_
Error message should be corrected.

How are we going to present error message?

![Screen Shot 2020-09-11 at 12 58 58](https://user-images.githubusercontent.com/21

[2020-09-11 11:06] galeza commented on #1514
Please prioritise.

[2020-09-11 11:08] galeza commented on #1514
DUP
I found #1124

[2020-09-11 11:08] #1514 closed, assigned to pthoma14, ppagarawal

[2020-09-11 18:00] Elohina commented on #1243
@pemika-me are you working on this issue?

[2020-09-11 20:44] LincolnNowell commented on #1459
if add a media query to the webkit-scrollbar that changes the width to zero it might work

`::-webkit-scrollbar{
  width: 5px;
  background-color: ${WHITE};
  @media screen and (max-width: ${mq.phone.wide.maxWidth}) {
    width: 0px;
  }
}`

[2020-09-11 20:46] LincolnNowell commented on #1459
![Screenshot (9)](https://user-images.githubusercontent.com/45523380/92971373-f3e4cb80-f445-11ea-8344-b1de96eb3727.png)

[2020-09-11 21:31] CamilaArias commented on #1459
Hey @LincolnNowell I think that's for the scrollbar and not the drawer menu handle? I might be wrong

[2020-09-12 00:31] Ritika92 commented on #1448
**This is the updated requirement (for User stories please check the feature pod : https://www.notion.so/fightpandemics/Search-Keyword-aba03fb8cd804629a690e331cd11dea4)**

## Feature Summary

1. A search bar will be available on top of the Help Board section.
2. The user can type in keywords and hit enter. The user will have see **3 new TABS** below the search bar: **a. "Posts", b. "Individuals" a

[2020-09-12 07:59] pemika-me commented on #1243
@Elohina No, I am not an engineer.

[2020-09-12 17:41] #1478 closed, assigned to mannykary

[2020-09-12 23:04] kterry1 commented on #1459
@CamilaArias I'll push up the fix for this in a bit.

[2020-09-12 23:06] mannykary opened #1518 "Investigate PubNub for notifications and direct messaging"
We received partnership with [PubNub](https://www.pubnub.com/) (1 year free). The scope of this ticket is limited to investigating PubNub APIs and how they can be leveraged for features that can leverage the publish/subscribe pattern (such as notifications and direct messaging).

Please read through the PubNub [documentation](https://www.pubnub.com/docs/platform/home) (specifically the [Chat](http

[2020-09-13 01:44] jessica-lau opened #1520 "Up and Down Arrows in Age Question Field on Feedback Screen Should Be Removed [DESKTOP]"
**Environment:** https://staging.fightpandemics.work/

**Steps to reproduce:**

1. Click the feedback icon on the top right of the homepage when user is not signed in.

2. Answer questions on screens 1 and 2 until user reaches screen 3.

3. On screen 3, hover over the input field for the "What is your age?" question, an up and down arrow appears on the right side of the input box. When no value is

[2020-09-13 15:30] #1459 closed, assigned to kterry1

[2020-09-13 15:30] #1510 closed, assigned to kterry1

[2020-09-13 17:08] kterry1 commented on #1422
@emtay Did you still want a submit button when adding the location or clicking "Show postings from anywhere" automatically moves the user to the next step, which in this case is the feed? If you are alright with how the below looks, I'll push up the code.
![url](https://p35.f2.n0.cdn.getcloudapp.com/items/wbu7pWvz/Screen%20Recording%202020-09-13%20at%2001.05.58.56%20PM.gif?source=viewer&v=8309421b

[2020-09-13 17:16] jessica-lau commented on #1513
@galeza I believe the number of times a user can enter the same wrong password/email combination to see the "Wrong email or password" error is up to 10 times. Starting the 11th time, when the user enters the same wrong password/email the error changes to "Maximum number .... was exceeded". With that being said, I did run the test continuously for 25+ times and didn't encounter the test failing (I'

[2020-09-13 17:38] joshmorel commented on #1520
Hey @jessica-lau we have an open PR when we decide how to resolve open questions this will be resolved. I will link this issue.

[2020-09-13 21:35] emtay commented on #1422
@kterry1 I think that looks good and more streamlined!

@manualzuru @doheekim93 @dhruvdpatel @tejasm2 @CamilaArias - thoughts on kevin's post above?

[2020-09-13 21:58] emtay opened #1521 "Messages: Backend Services"
As a product team, we need new API services to support messages so that we can manage:

1. Conversation/message thread creation

2. Message creation

3. Update "Read" status after message was opened/read

**AC**

- Final contract
- Demo conversation creation
- Demo message creation with post
- Demo message creation without post
- Demo read status update

[2020-09-14 00:04] WillHiggs opened #1522 ""View Profile" Button is buggy"
When I hover my mouse over the "view my profile" button after creating a profile in the staging environment on my desktop, the text on the button. What could be causing this issue and what are some steps I or someone else could take to address it?

[2020-09-14 00:14] WillHiggs commented on #1521
How could I build this?

[2020-09-14 01:22] kterry1 commented on #1522
Hi, @WillHiggs. Could you provide more details here? When you say "the text on the button", I'm not sure what the issue is. Please add a screenshot or screen recording or provide steps to reproduce the issue. Feel free to slack me if you have any questions on this.

Thanks!

[2020-09-14 09:04] galeza commented on #1422
@kterry1
I like your idea. It looks good and I agree that it is more streamlined.

[2020-09-14 11:48] galeza commented on #1513
Hi @jessica-lau

I run branch feature/cypress-test-feedback-modal several times.
1. I haven't seen any issues related to Footer
2. But the test Sign In Login fail alert appears when incorrect email & password are entered and submitted by user fails each time.
[code]

[2020-09-14 18:42] tejasm2 commented on #1422
Yes this looks good @kterry1

[2020-09-14 18:59] rabbi08 commented on #1243
@pemika-me
Sorry for late reply, nice observation. Yeah, agree with your comments. 'Show more' button should be displayed if number of comments >5. If the number of comments are <= 5, No button should be displayed.

[2020-09-14 19:54] jessica-lau commented on #1513
@galeza just added the random email generator code, like how you did for the mocha backend test. Please refer to PR#1500. Let's see if you still encounter the error. :)

[2020-09-14 20:37] nivetheatha opened #1526 "[Mobile-Android] Infomation provided in the initial flow is not populated in the filter."
Environment -Staging
Device-Samsung Galaxy s8
Steps to create:
1.Click on Request Help.
2.Click on Medical.
3.Provide Address (ex:19020 Bensalem).
4.Skip Email.
Expected Result:
If we check the filter,the information provided should be updated .
Actual Result:
All the filter details are not updated such as location is blank ,Type (Medical is not enabled),Offer/Request help(Request help is not enab

[2020-09-14 20:39] nivetheatha commented on #1526
For the production only Request/Offer help is not enabled in filter.Other filters works fine.

[2020-09-15 01:44] #1512 closed, assigned to galeza

[2020-09-15 02:15] cjohlmacher opened #1527 "NavLink on NearestHospital page not working"
The NavLink on the /nearest-hospital page is not working with console warning:

"The component Styled(Drawer) with the id of "sc-pRsKx" has been created dynamically.
You may see this warning because you've called styled inside another component.
To resolve this only create new StyledComponents outside of any render method and function component."

StyledDrawer needs to be moved out of the function

[2020-09-15 13:21] joshmorel commented on #1527
This also will fix the fact that there is no smooth animation in the slider as these examples.

Current state you see it is abrupt unlike examples: https://ant.design/components/drawer/

![drawer-abrupt](https://user-images.githubusercontent.com/10546720/93215696-c2fde280-f734-11ea-8fb8-9c8090092334.gif)

[2020-09-15 13:36] #1527 closed, assigned to cjohlmacher

[2020-09-15 15:39] joshmorel commented on #1526
Thanks @nivetheatha

The 1 issue (affecting desktop/mobile) was caused by #1519 & solved by #1528. Staging service might have been serving an old version to you as it was recently deploy. Can you check again and if it's okay close this issue. You may need to close your browser tab & re-open (the React code will still be the old code).

This seems to be an older issue affecting mobile only. Can we

[2020-09-15 16:02] joshmorel commented on #1526
Resolved by #1528

[2020-09-15 16:02] #1526 closed, assigned to nobody

[2020-09-15 16:13] joshmorel opened #1530 "[Mobile] Onboarding offer or request help filter not applied"
Noted #1526 along with another issue with a different cause

This affects all mobile viewports (dev tools, iOS, Android) since offer/request help filters are handled different for mobile vs desktop view.
All environments: staging/production/etc

**Steps:**

1. Visit https://staging.fightpandemics.work/ or https://fightpandemics.com/ (with mobile device or in dev tools mobile view)
2. Click "Reques

[2020-09-15 16:53] CamilaArias opened #1531 "Web notifications dropdown"
••• [Design for Desktop and Mobile](https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=16204%3A9) •••
![image](https://user-images.githubusercontent.com/25089562/93241468-c193e080-f75b-11ea-9149-149f124123b5.png)

#### Access to dropdown
Notifications will only be available for a **logged-in** user. In the nav-bar there will be a notification bell icon which when

[2020-09-16 03:33] kterry1 commented on #1522
Closing out. No further details provided here from OP. Reached out to OP in Slack as well.

[2020-09-16 03:33] #1522 closed, assigned to nobody

[2020-09-16 06:09] #1422 closed, assigned to kterry1

[2020-09-16 16:15] leon-i commented on #1530
Hi, I believe I found a fix for this.

[2020-09-17 19:42] #1432 closed, assigned to lmpeixoto

[2020-09-18 19:04] #1513 closed, assigned to jessica-lau

[2020-09-19 12:37] tejasm2 opened #1538 "Add "We are here to offer" section in Create Organization and Edit Organization Account screens."
As a user,
When I am on the "Create Organization" or "Edit Organization account" page,
Then I should be able to see a section "We are here to offer:" along with "We are here to request:" section with the following options:

- Donations

- Volunteers

- Staff

- Information

- Resources/Tools

- Others

These options would be same for both "We are here to offer:" and "We are here to request:" secti

[2020-09-19 21:35] mannykary opened #1539 "Avatar upload backend"
Backend ticket split from #715

[2020-09-19 21:36] mannykary commented on #715
Replaced `BACKEND` label with `FRONTEND` for this ticket, and split the backend ticket to https://github.com/FightPandemics/FightPandemics/issues/1539

[2020-09-20 15:15] #1530 closed, assigned to leon-i

[2020-09-20 17:47] joshmorel commented on #1538
@tejasm2 is there a separate BE ticket for this or should it all be done together. As you can see this requires a backend & data model changes. https://github.com/FightPandemics/FightPandemics/blob/872629d9b75c8251a16d9c2afdf8c6c070e070b2/backend/lib/models/OrganisationUser.js#L13

If the later I'd add the appropriate labels. And @Elohina are you comfortable taking this on - shouldn't be too hard

[2020-09-20 20:13] emtay opened #1542 "Messages: Socket.io POC"
This ticket tracks progress on a basic Socket.io application to demonstrate how to use Socket.io for managing direct messaging.

Benefit of this approach vs. Rest API:
1. Best support scale and performance
2. Can support "chat" real-time message style to increase interactivity
3. Basis for extending to group chats
(likely others)

Here is proposal for Socket.io flow from @Zaydme
![image](https://u

[2020-09-20 20:28] emtay commented on #1521
@WillHiggs we're evaluating Socket.io instead of Rest API. Meeting Tuesday 12 pm PT/9 pm CEST to review demo from this story: https://github.com/FightPandemics/FightPandemics/issues/1542

Please join us!

[2020-09-21 10:29] Elohina commented on #1538
@joshmorel I think that I can work on all together. I took a look at what needs to be done in the back end and I could see that I just need to change the organization's model and the schema in order to add the new needs.

[2020-09-21 12:23] galeza commented on #1495
Hi @vnessa-su @joshmorel
I think that this solution will also be ideal for automation tests.

@jessica-lau  Issue important for automation QA team :)

[2020-09-21 12:30] tejasm2 commented on #1538
Ohh yes @joshmorel , this needs a backend ticket. Thanks for the call out. @Elohina do you need a separate backend ticket for the same?

[2020-09-22 15:15] Elohina commented on #1538
No, I think it is ok how it is @tejasm2

[2020-09-22 21:15] elba3184 commented on #1002
@nivetheatha @doheekim93 Hi team, has this issue been resolved? I'd love to tackle it if I can. Let me know!

[2020-09-22 23:08] sheeba1 commented on #1448
Update: Tested the fix for bug below. Looking Good

------------------------------------------------------------------

getting "500 " error as a non-logged in user as below:

![image](https://user-images.githubusercontent.com/65972693/93946342-de955a00-fced-11ea-80f8-f4549f676de5.png)

[2020-09-23 02:50] #1539 closed, assigned to mannykary

[2020-09-23 11:36] #927 closed

[2020-09-23 12:49] joshmorel commented on #1461
@CamilaArias I can't see this at all. Screenshots?

[2020-09-23 18:00] sheeba1 commented on #1437
For Sign-up, 200 character email is giving "Internal server error" as below:

email used: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefgh@gmail.com

![image](https://user-images.githubusercontent.com/65972693/94050868-afcdc100-fd8b-11ea-8025-823449d4950c.pn

[2020-09-23 18:54] idjevm commented on #1437
Hey @emtay, reopening this since it looks like Auth0 only supports emails that are less than 64 chars. @paulms1 could you make the quick update or should I go ahead and open a PR for this one? Let me know if not I will go ahead and submit a PR.

[2020-09-23 19:10] sheeba1 commented on #1437
Tested Create and Edit Org -worked fine .

[2020-09-23 19:10] rabbi08 commented on #1437
Closed by mistake, reopening.

[2020-09-23 19:55] #1465 closed, assigned to Elohina

[2020-09-23 20:14] sheeba1 commented on #1437
any new PR? @emtay , Please confirm you are aware of the changes. Thanks!

[2020-09-23 20:38] joshmorel commented on #1437
I think we should update details here or just create a new one @paulms1 @emtay @rabbi08 @idjevm.

Let's use the same email validator function FE/BE that should work with Auth0 given recent error @sheeba1 found .

local is 64 max, domain is 255 max overall but each part separated by . is max 63. So testing this sounds complicated... Let's use our existing regex but with following lengths check.  No

[2020-09-23 21:36] rabbi08 opened #1545 "Org Profile page does NOT refresh, as the post of the selected ORG are not displayed."
1. Open "Staging.fightpandemics.com"
2. Log in using valid username/pwd
3.  Navigate to Help board-> click any random user profile to view -> Navigate to profile and click on any own Org to view the Org profile, following issues observed:

1. The navigation side bar doesn’t close after selection as it do, when user click on "Profile" to view its own profile.
2. So, now we have to clicks on ‘x’ to

[2020-09-23 21:38] rabbi08 commented on #1545
PR #1274 also introduce below issue:

Tested this PR on mobile and Desktop in STG:

- Desktop version is working fine: PASS
- Clicking on company profile on mobile, the UI is not distorted as reported above: PASS
- But on the mobile the loading spinner exist along with the message about no post. "Filter" is not working in STG on mobile. : FAIL
Refer below screenshot:
Devices Tested:
iphone 11 pro

[2020-09-23 23:26] emtay commented on #1542
Here is the demo of Zayd's websocket solution:
https://fp-socket-demo.surge.sh/ 
https://github.com/Zaydme/socket.io-demo

@Zaydme  @tejasm2 I will close this out and open a ticket for the actual Socket.io build.

[2020-09-23 23:26] #1542 closed, assigned to Zaydme

[2020-09-24 11:34] joshmorel commented on #1545
@OzkanAbdullahoglu also as part of this fix. For profile activity also if there is no activity just leave it blank like current state:

![image](https://user-images.githubusercontent.com/10546720/94139869-5bcce600-fe38-11ea-8f3c-8c788237e12e.png)

Instead of :
![image](https://user-images.githubusercontent.com/10546720/94139905-6c7d5c00-fe38-11ea-856d-089112ced83a.png)

CC @sheeba1

[2020-09-24 13:12] OzkanAbdullahoglu commented on #1545
@joshmorel  and what about Org Profile activity? Should I keep it blank too?

[2020-09-24 13:50] OzkanAbdullahoglu commented on #1545
I  think I covered all of them, BTW article 5 is not about pagination. It is still there before #1274
Pls check and advise If there are any more bug.

[2020-09-24 16:02] rabbi08 commented on #1545
@OzkanAbdullahoglu @joshmorel

Verified below issues on the feature build:
1. The Org profile page refresh when Org is selected from the dropdown after viewing other profiles.: PASS
Refer below GIF
https://share.getcloudapp.com/jkuDdeO7

2. Filter Post -> Loading spinner on Mobile is working fine: PASS
Refer below GIF
https://share.getcloudapp.com/geuqv42q

3. The activity page is Blank for the in

[2020-09-24 19:58] OzkanAbdullahoglu commented on #1545
@rabbi08 Thank you for your review. I will handle #4 and commit.
#5 existed because of below code, there was no trigger in NavItemBrief (sub-menu of organisation)

[code]
Maybe am I missing something more important here?

[2020-09-24 23:40] pemika-me commented on #1498
Hi team, I am the ticket's author and just decided to leave FP. Please contact PM or engineer lead in case you would need some info or review related to this ticket. Thanks. 😊

[2020-09-24 23:40] pemika-me commented on #1497
Hi team, I am the ticket's author and just decided to leave FP. Please contact PM or engineer lead in case you would need some info or review related to this ticket. Thanks. 😊

[2020-09-24 23:41] pemika-me commented on #1496
Hi team, I am the ticket's author and just decided to leave FP. Please contact PM or engineer lead in case you would need some info or review related to this ticket. Thanks. 😊

[2020-09-24 23:41] pemika-me commented on #1372
Hi team, I am the ticket's author and just decided to leave FP. Please contact PM or engineer lead in case you would need some info or review related to this ticket. Thanks. 😊

[2020-09-25 10:52] OzkanAbdullahoglu commented on #1498
@pemika-me thanks for your help until now.:)
@joshmorel  I think resetting filters is a better practice then keep them. After new pagination, this logic is still persisted.

[2020-09-25 15:20] #1545 closed, assigned to OzkanAbdullahoglu

[2020-09-25 18:28] CamilaArias commented on #1463
@AshBha243 I'm so sorry I never saw this, I need to figure out how to de-clutter my notifications! Where did you see the images? Looking right now and it's just text.
On Individual profile
![image](https://user-images.githubusercontent.com/25089562/94303063-a1c2a080-ff43-11ea-8ec1-ef377b84bdce.png)

[2020-09-25 18:55] CamilaArias commented on #1461
@joshmorel I checked again and the borders are there now, maybe someone fixed it or something changed, I don't know... Closing this.

[2020-09-25 18:55] #1461 closed, assigned to nobody

[2020-09-25 20:51] jyclam opened #1554 "Create Organisation Profile Type and Industry Dropdowns are too narrow"
## Currently:
![Screen Shot 2020-09-25 at 1 41 27 PM](https://user-images.githubusercontent.com/26049767/94314820-2c9c9e80-ff36-11ea-9ecf-b3f4c4d936e3.png)

[2020-09-26 18:38] joshmorel commented on #1497
Thanks @pemika-me ! I'll take ownership of this one

[2020-09-29 12:06] #1425 closed, assigned to nobody

[2020-09-29 13:10] #1243 closed

[2020-09-29 16:21] #1398 closed, assigned to sujatha-m

[2020-09-29 21:14] sheeba1 opened #1561 "User(logged IN/NOT) is unable to LIKE a post from the profile of an Individual/Organisation who posted the post"
Scenario 1:
staging - User is not signed in
1. Go to Help board
2. Go to the Individual profile  OR Org profile -for a particular post.
3. Click on the 'like '  button of a post listed under activity.
Expected: Clicking on 'like' should redirect user to login page.
Actual: 'Like' is not clickable from profile page

Scenario 2:
staging - User is logged in.
1. Go to Help board
2. Go to the Individua

[2020-09-29 22:20] leon-i commented on #1561
Hi, I'd like to grab this issue, so I've assigned myself

[2020-09-30 01:27] Monica0843 opened #1562 "There is no warning message when file is over 5MB for Profile Photo"
When choosing a supported profile photo type but size is over 5MB, there is no warning message or anything alike.
Steps:
1. Sign in and click Profile - My Profile on the right top corner
2. Hover over the camera icon and click when it turns to a hand pointer
3. Choose a file of supported type (e.g., .jpeg) but size over 5MB and click Open/Choose(depends on the OS)

Expected Result: A warning messa

[2020-09-30 15:55] kannan1001 commented on #1562
In addition to this issue, the user is not able to remove profile picture/photo
Steps to reproduce:

        1.Sign in and Select Profile - My Profile
        2.click on camera icon and choose a supported file  which you wanted to upload and click on open
        3.Click on submit
Once the profile picture is uploaded the user is able to change the picture but not remove the picture.
As a user if I

[2020-10-01 13:43] #1286 closed, assigned to tr1503, jyclam, doheekim93

[2020-10-01 13:43] #1335 closed, assigned to jyclam

[2020-10-01 13:43] #1554 closed, assigned to jyclam

[2020-10-01 16:30] mvijays opened #1567 "There is no warning message when file is over 5MB while uploading photos"
Please work on improving the user experience. A warning to be given when the picture or photo is over 5MB.

P4 priority

[2020-10-01 17:22] mvijays opened #1568 "There is no warning message when profile photo is over 5MB"
When choosing a supported profile photo type but size is over 5MB, there is no warning message or anything alike. #1568

Expected Result: A warning message telling User that file cannot be over 5MB (or something alike)
Actual Result: The window just get dismissed.

Not reproducible environment - MacOS + Safari

[2020-10-01 17:23] mvijays commented on #1568
P4 priority

[2020-10-01 17:27] #1568 closed, assigned to nobody

[2020-10-01 17:27] mvijays commented on #1568
Duplicate issue

[2020-10-02 13:30] guvarallo commented on #787
Hey @adisen is there anyone working on this? If not I can do it.

[2020-10-02 13:32] adisen commented on #787
@guvarallo No. I was supposed to work on it. But couldn't. So you can sure pick it up.
Tag me in the PR when you have something

[2020-10-02 15:58] mvijays opened #1570 "Project Management for FP"
Mock auth back end component for local development.

This would be similar in purpose to #882 .

By mocking the Auth component we would decrease new dev onboarding friction while also reducing the need to widely share the dev auth account secret.

Back end, Devops, P4

[2020-10-02 17:11] mvijays opened #1572 "Adjust screen for Navbar"
The Issue

Navbar looks fine on Desktop, but on smaller screens, padding-left is 15px on the left-navbar when it should be 23px as per Zeplin, and there's no space above the entire navbar. It just doesn't look good having the logo touching the top of the screen, no space in-between.

Suggestion to Fix

Adjust padding-left on left-navbar
If we can't keep the same height value for some reason then m

[2020-10-02 17:12] joshmorel commented on #1570
Hi @mvijays . What's this issue been created for? It's the same text as #1495 but with a different title...

[2020-10-02 19:39] mvijays commented on #1570
Hi Josh,

Let me research a bit on that and get back to you.

Regards
Vijay

On Fri, Oct 2, 2020 at 1:12 PM Josh Morel <notifications@github.com> wrote:

[2020-10-02 21:52] doheekim93 opened #1574 "Localisation: Change globe icon and change location of icon"
1. Update the globe svg icon in the nav bar with the new [blue svg icon](https://zpl.io/2ZeQ6e4) for **Desktop**
2. Update the globe svg icon in the menu with the [white svg icon](https://zpl.io/br4wk8L) for **Mobile**

3. Change location of the globe icon to be on the right side of the Feedback icon in the nav bar for **Desktop**

**Current:**
<img width="528" alt="Screen Shot 2020-10-02 at 4 43

[2020-10-02 22:35] mvijays commented on #1570
Same issue as #1495 and a duplicate.

[2020-10-02 22:35] #1570 closed, assigned to nobody

[2020-10-02 22:41] doheekim93 opened #1576 "Localisation: Adding German translations to webapp"
Since we are adding a new language, please follow the instructions below to add German correctly to our codebase. We are using this ticket to test whether our instructions are clear enough :)

Instructions:

[2020-10-03 20:20] mannykary opened #1578 "Investigate Serverless architecture"
See discussion in Slack thread here: https://fightpandemics.slack.com/archives/C018ZNAD62Y/p1601568218011000

@bmroh965 mentioned the benefits of Serverless in this [post](https://fightpandemics.slack.com/archives/C018ZNAD62Y/p1601688795015900?thread_ts=1601568218.011000&cid=C018ZNAD62Y)

This ticket will involve the investigating the following:
* Level of effort required to move our backend to Se

[2020-10-04 02:08] mannykary opened #1579 "Add Redis ElastiCache Cluster"

[2020-10-04 19:59] vnessa-su commented on #1495
I don't feel comfortable implementing this at my level since it looks like doing it wrong might cause a security issue.

Seeding the database with dummy users will allow mocking/bypassing the Auth0 component but then there's still the issue of the tokens. You can mock/bypass the auth plugin for making a token and authentication. I don't know if doing this is going to cause a security gap to do sin

[2020-10-04 23:59] mannykary opened #1582 "Localisation: en_US.json has references to "organisation" instead of "organization""
I first noticed this in the navbar:
![image](https://user-images.githubusercontent.com/4285073/95030168-a03f5980-0662-11eb-95a5-cc5a13427442.png)

Looking at the locale JSON file for [en_US](https://github.com/FightPandemics/FightPandemics/blob/staging/client/src/locales/translations/en_US.json), I noticed that "organization" is being spelled as "organisation" in some places. This should be correc

[2020-10-05 12:31] guvarallo commented on #1582
Hi @mannykary you are right, in en_GB is ok to use with 's', but en_US is strictly with 'z'. Are you on it? If not I can fix it.

[2020-10-05 12:46] galeza commented on #1495
Hi @joshmorel
Do you know any backend dev who could help us with this?

[2020-10-05 13:21] joshmorel commented on #1495
@galeza I think I'll do this one now. If someone isn't already familiar with Auth0 or JWT they may be challenged by this one.

[2020-10-05 13:39] mvijays opened #1584 "System for creating manually on demand emergency tags"
System for creating manually on demand emergency tags.

We could predict an increase on people requesting and offering help during big emergencies, such as it just happened in Beirut. In these moments of great, unexpected need, we should support people by making their requests of help more visible than others in the same area that were pre-emergency. This also helps people offering help to find th

[2020-10-05 13:45] mvijays opened #1585 "Add accessibility features on website"
Accessibility features on website (e.g. tabIndex, keyboard support)

User experience; P4

[2020-10-05 13:47] mvijays opened #1586 "Recommend posts based on user interaction"
We should recommend relevant posts to the user based on the post user has created(either offer or request), by matching the tags, location and keywords.
For Example: As a user, when I create a post requesting for help with groceries in NYC, then after I have made a post, if there is any post offering groceries in NYC (whenever such a post appears or is created by someone), then that offer post sho

[2020-10-05 13:51] mvijays opened #1587 "UTM and source of new users tracking"
We want to know how new users joined our platform. BI will setup UTMs but we need to also track which user came from which utm or social media/email etc

Feature

Growth ; P4

[2020-10-05 14:12] mvijays opened #1588 "Privacy settings"
Privacy setting (example allow user to share or hide location in profile)

Feature

Grow of User experience

[2020-10-05 14:13] mannykary commented on #1582
@guvarallo no, you can go ahead and pick up this ticket.

[2020-10-05 16:41] joshmorel commented on #1588
Hi @mvijays is this linked to a feature in Notion? Are there any designs? For a developer to work on this we need more details.

For example - https://github.com/FightPandemics/FightPandemics/issues/1499

[2020-10-05 16:58] galeza commented on #1495
@joshmorel
Thank you!

[2020-10-05 17:01] mvijays commented on #1588
Hi Josh,

This is linked to a profile anybody creates in Notion. In the profile,
there is notification and settings option with a wheel symbol. But users
must be able to turn off or on  certain specific options like location etc.
and be able to manage profiles.

Regards
Vijay Suryavanshi

On Mon, Oct 5, 2020 at 12:41 PM Josh Morel <notifications@github.com> wrote:

[2020-10-05 19:55] #787 closed

[2020-10-05 20:00] #1582 closed, assigned to doheekim93

[2020-10-05 20:44] nivetheatha opened #1592 "Visibility of the post based on the distance of searched location."
Environment-Staging
Tested on Samsung Galaxy S8
Browser-Google chrome
Steps to create:
1.Create a post (Ex. Created  post on Request help ,Offer help each in location Bensalem,Pa,USA ).
2.Goto help board and search the same location.(ex: search as Bensalem, PA then post is visible in the help board.)
3.Search Nearby location Ex: Bristol,Pa (6 miles from Bensalem,Pa).
Expected Result:
Posts should

[2020-10-05 21:14] jessica-lau opened #1594 "Sign Up/Sign In Backend Server Validation Messages and Status Codes"
When running backend tests on staging regarding signup/sign in there are:

1. return of some validation messages from the server that need to be rephrased
2. incorrect HTTP status code/error being returned from server

The below tests are based on the valid email format (64max)@+(63max)+‘.’+(tld) within the max char limit of 254 implemented by Auth0.

**Scenario 1: _**Sign Up**_**
When I enter mor

[2020-10-05 21:24] jessica-lau commented on #1594
@galeza I'm adding you to keep you in the loop. This is regarding issues with the backend tests for signup/sign in we've come across and discussed on Slack. Please let me know if I'm missing anything.

[2020-10-05 22:30] ddveloper commented on #1594
I'd like to start working on the error code part for now and see what we conclude on the rate limitation.

[2020-10-06 02:34] rabbi08 commented on #1592
@nivetheatha
Please check the location "visibility" of the post when it is created. If the visibility is set as "city" then the post only be visible when that particular city is selected. Mostly the post's visibility depends on the location visibility selected while post creation. Thanks

[2020-10-06 02:45] nivetheatha commented on #1592
@rabbi08 Thanks for letting me know. Yes I didn't check the visibility option in the post.

[2020-10-06 02:45] #1592 closed, assigned to nobody

[2020-10-06 07:42] galeza commented on #1594
@ddveloper

The goal should be: use the same **validator/lib/isEMai**l function in backend (the same validations as for the frontend)

[2020-10-06 09:21] ddveloper commented on #1594
Thanks @galeza

I made 3 changes based on the frontend validation code, plan to test them soon with Jessica's script
please have a look and let me know if the changes make sense.

- [add required packages for email validation](https://github.com/ddveloper/FightPandemics/commit/3662687c71c776e2c3207fc047d2528d40468fdc)
- [use same email validation code from front-end](https://github.com/ddveloper/F

[2020-10-06 09:44] galeza commented on #1594
Hi @ddveloper

You can create draft PR and we will ask other developers for a review :)

[2020-10-06 10:22] ddveloper commented on #1594
created one draft PR while it didn't pass the check "Post Review Build URL", error message: "403 - Resource not accessible by integration", I will need some help to understand this error ...

[2020-10-06 10:40] galeza commented on #1594
Hi @ddveloper
I think that you use a fork?
Please see links:
https://fightpandemics.slack.com/archives/C010V0DDHLN/p1589775520305100?thread_ts=1589768215.304500&cid=C010V0DDHLN
https://github.com/FightPandemics/FightPandemics/#review-branches

[2020-10-06 15:57] #1579 closed, assigned to mannykary

[2020-10-06 16:08] ddveloper commented on #1594
Draft PR #1598 is created for code review, (I need to run Jessica's tests before merging)

[2020-10-06 18:28] emtay opened #1599 "Feedback for v1 messages"
Great foundation for messaging feature. Here is consolidated feedback:

1.
This:
![image](https://user-images.githubusercontent.com/43509421/95946113-b9ea4a80-0da0-11eb-9cc4-b31dee8370b3.png)

Should look like this: https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=17173%3A87887
![image](https://user-images.githubusercontent.com/43509421/95244642-165cd100-07c7-1

[2020-10-06 19:11] #1572 closed, assigned to guvarallo

[2020-10-06 19:13] mvijays commented on #1572
Ok thanks, I will close #1572 if it is my request that I opened.

Regards
Vijay

On Tue, Oct 6, 2020 at 3:11 PM Josue V <notifications@github.com> wrote:

[2020-10-06 19:34] mvijays opened #1601 "Save filter settings for frequent users."
As a frequent help provider in [city], or of [type of help], or both, or someone who needs help and keeps checking FP for anyone offering the help they need, where they need it, I don't want to go over the process of setting those filters every time I open the app.
This could be solved with:
- Never clearing filters unless the user explicitely does that.
- Allowing the user to create and save a se

[2020-10-06 19:39] mvijays opened #1602 "Save a draft of post you are creating."
save a draft of post you are creating.

User growth and experience.

Feature

P4

[2020-10-06 20:16] doheekim93 opened #1603 "Localisation: Font not showing up correctly for certain characters"
As mentioned by @galeza in a previous PR, certain characters are not displayed correctly (i.e. shown in a different font).

The example images shown here are for Polish, but this may be an issue for other languages that have special characters
![image](https://user-images.githubusercontent.com/66695502/95252976-592ca200-07e3-11eb-99bc-1912b471e53b.png)

We found that some parts of the webapp do di

[2020-10-07 02:09] ddveloper commented on #1594
tested with Mocha integration tests, #1598 has the latest code
- scenario 1-4 should be resolved (except the error message is in a different format, translation keys are used currently)
- for scenario 5, I guess the rate limit comes from [Auth0 Rate Limit Policy](https://auth0.com/docs/policies/rate-limit-policy), not sure how to get around it, @mannykary @joshmorel

[2020-10-07 11:47] galeza opened #1604 "Localisation - incorrect language name"
env staging

Please correct Polish language name. It should be Polski. (not Polski**e**)

![Screen Shot 2020-10-07 at 13 46 10](https://user-images.githubusercontent.com/21987083/95326841-7de84e80-08a3-11eb-9a6a-8b292dc6c5c0.png)

[2020-10-07 12:25] #1177 closed

[2020-10-07 14:29] joshmorel commented on #1470
I've decided to merge this before FE. We will use CASL policy package for mongoose - https://github.com/stalniy/casl

[2020-10-07 16:06] mvijays opened #1606 "Verify trusted users badge"
"Verified"/ "Trusted" Users Badge

P4

User feedback, Reward system

Feature

[2020-10-07 16:11] mvijays opened #1607 "Rating or reviewing with feedback"
Rating or reviewing with feedback

Did the poster get what they want or needed ?

How was the experience ?

User Feedback

P4

[2020-10-07 16:16] mvijays opened #1608 "Blog creation"
We need to have a subdomain maybe something like blog.fightpandemics.com and we need to host there our blog which will be powered by Ghost.
https://github.com/TryGhost/Ghost

Feature

Grow users

P4

[2020-10-07 16:41] emtay commented on #1002
@elba3184 here is the UI updates with the right asterisks:

![image](https://user-images.githubusercontent.com/43509421/95360936-f38ef300-0880-11eb-92a6-fae85a9add68.png)

can we allow for clicking on post and giving user error messages in red for what is missing?

"**Please enter a title**"
"**Please enter post information**"
"**Please choose at least one tag**"
"**Please select the visibility of

[2020-10-07 18:49] #1576 closed, assigned to Elohina

[2020-10-07 19:00] #1604 closed, assigned to sujatha-m

[2020-10-07 21:07] doheekim93 opened #1611 "Localisation: Add ID attribute to Language Selection"
**Please make sure the id attributes are updated for the mobile version as well!!**

Please assign the following elements with the listed JSX 'id' attributes.

| #  | Element on page | JSX 'id' attribute |
| --- | --- | --- |
| 1. | Globe icon | NAV_LS |
| 2. | Chinese Traditional | NAV_LS_ZH_TW |
| 3. | English (American) | NAV_LS_EN_US |
| 4. | English (British) | NAV_LS_EN_GB |
| 5. | Polish |

[2020-10-07 22:38] idjevm commented on #1574
This has been resolved by #1590

[2020-10-07 22:38] #1574 closed, assigned to tr1503, jyclam

[2020-10-08 14:47] joshmorel commented on #1437
Resolved by #1566

[2020-10-08 14:47] #1437 closed, assigned to paulms1

[2020-10-08 16:06] joshmorel commented on #1611
Resolved by #1612

[2020-10-08 16:06] #1611 closed, assigned to tr1503

[2020-10-08 16:11] adorapham opened #1613 "Search for Help Board on Web Test Documentation related to #1448"
**Note**: This is how the FP system work for the Help Board Search. Update the note basing on logged defects and f_searchkeyword chanel (Slack) . Defect’s information is attached on the excel sheet along.

1-	Click on Help Board link/View Help Board link to navigate to Help Board Feed page.
2-	Validate the Search Bar in between Fight Pandemics logo and About Us  (for Web).
3-	Validation the Search

[2020-10-08 16:12] rabbi08 commented on #1437
STG: User is able to create account with email containing 64 or less characters but not more: PASS

Individual Profile:
User can enter 64 chars without space to create email ID with 64 chars, if the char exceed, 'error shows up as 'Email is invalid' as shown in below screenshot.
Email used:
Valid email:    test123456789012345678901234567890124567890123456767890000000000@gmail.com

![image](https:/

[2020-10-08 16:16] mvijays opened #1614 "Sync Linkedin, outlook and gmail contacts to join"
Linkedin, Gmail, Outlook Contacts sync to invite contacts to join.

Grow users

Features

Reward system

P4

[2020-10-08 16:19] mvijays opened #1615 "Referral system and a profile badge for users with more than 10 invitees"
Referral system and a profile badge for users whose more than 10 invitees have joined the platform.

Rewards system

Feature

Grow users

P4

[2020-10-08 16:25] mvijays opened #1616 "Login without password using phone number or email."
Login without password (phone number and email)

Feature

P4

[2020-10-08 16:27] mvijays opened #1617 "Map view of nearby offers or requests"
Map view of nearby offers / requests

Feature

Feed UI

P4

[2020-10-08 16:39] mvijays opened #1618 "Reward with points or Virtual currency."
As a User, I should be rewarded with points or with a virtual Currency (can use some catchy nam like Good Will Points?), that I then can spend to unlock elements of personalization on the platform (maybe even a little store with items from partnerships?). This helps the user to stay motivated and be engaged in the platform.

Recognition of the points could be enough: Gamification of helping/Being

[2020-10-08 16:46] manualzuru commented on #1618
@mvijays thanks for this. I think we should be opening issues once they have the specs. This looks to me more like an exploration. Would be nice if you could talk to @tejasm2 @skrithiga @dhruvdpatel @emtay

[2020-10-08 16:48] mvijays commented on #1618
Thanks for letting me know. Emmanuel .

I will check with the concerned team to gather specs and update the
requested ticket.

Regards
Vijay

On Thu, Oct 8, 2020 at 12:46 PM Manuel Gonzalez Alzuru <
notifications@github.com> wrote:

[2020-10-08 16:58] #1618 closed, assigned to nobody

[2020-10-08 16:58] mvijays commented on #1618
The complete specs have to be developed for this per Emanuel Alzuru.

[2020-10-08 18:22] rabbi08 commented on #1527
Verified in STG, the drawer is rendering smoothly no grey sliding area is observed on the phone:
Devices tested on : iphone 11 pro max
Simulation:
Google Pixel 3A
https://share.getcloudapp.com/8LurjAL8

iPhone XR
https://share.getcloudapp.com/P8uyE4jw

[2020-10-08 18:49] rabbi08 commented on #1510
Verified in STG, working fine, refer below GIF

Simulation : iphone XR
https://share.getcloudapp.com/nOun80oJ

[2020-10-08 19:15] rabbi08 commented on #1465
Verified in STG on mobile, its working fine in both create and edit ORG page, refer below screenshot:

![FightPandemics (13)](https://user-images.githubusercontent.com/67168400/95503172-f66d0f00-0978-11eb-8001-aec5ff82420a.png)
![FightPandemics (12)](https://user-images.githubusercontent.com/67168400/95503174-f705a580-0978-11eb-9f6b-879ef98f1453.png)

[2020-10-08 21:04] rabbi08 commented on #1243
Verified in STG, working fine. Refer below GIF.

https://share.getcloudapp.com/7Ku8mB1R

[2020-10-08 21:08] skrithiga commented on #1588
@mvijays We are not finalized on the requirements for this feature yet and this could branch out to privacy settings and visibility settings for posts, profile information etc. Until specs are reviewed/approved in Notion for features, we should not be creating tickets in github.

[2020-10-08 22:00] nivetheatha opened #1619 "[Mobile-Android]Request/Offer help is not enabled in the intial flow"
Environment - Staging
Device -Samsung s8
Browser-Google chrome
Steps to create:
1.Click on Request help/offer help
2.Click on any options
3.Click on "show me the postings from anywhere"
4.check filters.
Expected result:
Request help/offer help should be enabled.
Actual Result:
Request help/Offer help is not enabled.But providing the correct result.

[2020-10-08 22:19] mvijays commented on #1588
Ok sounds good. I have closed the ticket for this already.

Regards
Vijay

On Thu, Oct 8, 2020 at 5:08 PM Krithiga Sundar Raj <notifications@github.com>
wrote:

[2020-10-08 22:34] rabbi08 commented on #787
Verified in STG, working fine:
User is able to login using <enter> key, Refer below GIF
https://share.getcloudapp.com/2Nuj5K7E

User is able to 'Join Now' using <enter> key, Refer below GIF:
https://share.getcloudapp.com/2Nuj5KWg

[2020-10-08 22:53] rabbi08 commented on #1582
Verified in STG, it is working fine, Refer below GIF:

For American English "Organization' is displayed whereas, for British English "Organisation" is displayed.
https://share.getcloudapp.com/X6udorBk

[2020-10-08 23:02] rabbi08 commented on #1572
Verified in STG as working fine. Refer below screenshot.
https://share.getcloudapp.com/7Ku8mdEb
![image](https://user-images.githubusercontent.com/67168400/95521916-bf0e5a80-0998-11eb-81c8-f2a939b62969.png)

[2020-10-08 23:06] rabbi08 commented on #1604
Verified in STG the spellings are correct, refer below screenshot.

![FightPandemics (14)](https://user-images.githubusercontent.com/67168400/95522164-5b386180-0999-11eb-89b3-fcec5897a1a0.png)

[2020-10-08 23:14] rabbi08 commented on #1576
In STG, able to view/select 'German' language in the frontend. Refer below image:

![image](https://user-images.githubusercontent.com/67168400/95522592-7bb4eb80-099a-11eb-9990-95a4b136c8b1.png)

[2020-10-08 23:30] rabbi08 commented on #1177
Verified the fix in STG, it is working fine.  Post is retained after EDIT as well. Refer below GIF.

https://share.getcloudapp.com/Z4uyYJvP
https://share.getcloudapp.com/L1uQp4Pd

[2020-10-08 23:37] rabbi08 commented on #1574
Verified in STG as working fine, Refer below screenshot.
![globeicon](https://user-images.githubusercontent.com/67168400/95523829-afdddb80-099d-11eb-9713-5d42dae743d3.png)

[2020-10-09 03:42] mvijays commented on #1588
1588 ticket is closed because this will branch out into small requirements per Krithiga.

[2020-10-09 03:42] #1588 closed, assigned to sujatha-m

[2020-10-09 05:12] rabbi08 commented on #1335
Verified in STG, values are displayed as shown on below image:
![image](https://user-images.githubusercontent.com/67168400/95545632-76709480-09cc-11eb-9338-2c3bbad4a870.png)

[2020-10-09 05:25] rabbi08 opened #1620 "create Org -> existing email -> Error message contains the error category along with error message"
1. Login into STG using valid email/pwd and add Org with already existing email in the system.

Issue: You will observe that following error message is displayed:
error.failedCreatingOrg Email is already in use or cannot be validated

Expected Result: User should get user friendly message as below
"Email is already in use or cannot be validated"

Refer below image:
![image](https://user-images.git

[2020-10-09 05:41] rabbi08 opened #1621 "EDIT Organisation Profile Type and Industry Dropdowns are too narrow"
Please note that, Organisation Profile Type and Industry Dropdowns are too narrow on EDIT Org page but they are fixed on 'Create Org Page as per PR #1554

The Organisation Profile Type and Industry Dropdowns should also be fixed i.e. should not be narrow on EDIT Org Page.

refer below image
![image](https://user-images.githubusercontent.com/67168400/95547010-fd733c00-09cf-11eb-89e4-a737c86b56be.pn