[2020-07-02 18:03] ppagarawal commented on #908
We should be good. I assume that these changes are being applied globally.

[2020-07-02 18:04] WafaaAly commented on #909
@indirabhowmick I asked for a designer in the standup today, and asked Yu for one too. Still couldn't get one yet.

[2020-07-02 18:07] Joeu commented on #908
Yes. Since the elements are using rem units.

[2020-07-02 18:09] indirabhowmick commented on #909
I think we can implement with MVP 1.1 or 1.2 @vikjoshi @pthoma14 @ppagarawal - what are your thoughts?

[2020-07-02 18:10] ppagarawal commented on #909
We can have it in later releases as well.

[2020-07-02 18:13] pthoma14 commented on #909
@indirabhowmick yea I think it will also depend on when we can get the design team to take a look into this

[2020-07-02 18:15] WafaaAly commented on #909
So, how long does it take to do so normally?

[2020-07-02 18:18] sheeba1 commented on #928
@idjevm @BMariscal The issue is resolved .Working fine for individual and organization posts, but not Fixed for  Mobile.

So wondering fix has to be applied for mobile too.Please advise.

[2020-07-02 18:33] pthoma14 commented on #909
I'm not sure how long their process is normally but they are actively trying to onboard more help.

[2020-07-02 18:34] vikjoshi commented on #909
@WafaaAly @indirabhowmick @pthoma14 @ppagarawal - agreed that this would be a great way to grow the platform and something @manualzuru and I had discussed a while ago as well. However, I dont  think we can prioritize it for soft launch given the work involved.

I think we should include it on the list of potential items for MVP-v1 launch and have the discussion on whether to implement for MVP or n

[2020-07-02 18:34] #857 closed

[2020-07-02 18:40] WafaaAly commented on #909
@vikjoshi I couldn't get a designer till now, can you help with that?
Also, @joshmorel introduced that it might not be straightforward, so I want a front-end dev from now to develop a POC that highlights the challenges in this feature _if any_.

[2020-07-02 18:42] joshmorel commented on #909
Beat me to it @WafaaAly . Getting some design work started wouldn't hurt but work can be started on getting tags working with our React SPA code base. I asked in frontendengineering channel for help.

@vikjoshi  Is this part of posts feature pod?

[2020-07-02 18:59] vikjoshi commented on #909
@joshmorel @WafaaAly - yeah I would think it would be part of the posts feature pod. Like Phil mentioned, the Design team may be a bit backed up given that they do not have too many folks and are onboarding new people.

[2020-07-02 19:21] #957 closed

[2020-07-02 19:41] vikjoshi commented on #931
We should follow what we are doing for Likes on the Profile page. The Likes icon is highlighted on the profile page when there is a new like- same should be the case for Comment. If we can also show the new number of comments, that would be great as well

[2020-07-02 19:50] vikjoshi commented on #868
@idjevm @Naraujo13 , can you help @kylejvh with this question here?

[2020-07-02 19:59] vikjoshi opened #967 "Create an organization profile for Sourced by FP org account"
Some open questions here- @manualzuru

1. Which individual user account should this be linked to? Do we have some type of an admin user profile?

2. Does it make sense to include this in the soft launch (e.g., are mutual aid groups going to be commenting/trying to connect with the requests that are sourced by FP)? If so, on our end, we also need to have this be linked to our support accounts or so

[2020-07-02 20:07] vikjoshi opened #968 "Clicking on profile avatar in Comments should redirect user to the profile page"
For any posted comments, as a logged in user, clicking on the avatar of the author of the comment should take me to their profile (individual profile if the comment is made by an individual and org profile is the comment is made by an organization).

Thoughts on whether we need this for MVP-Critical? @ppagarawal @manualzuru @indirabhowmick @pthoma14 ? What is the end goal of the user clicking on t

[2020-07-02 20:10] nivetheatha opened #970 "Text Overlapping in login page while using android mobile devices"
-Go to sign in page .
-There is text overlapping while providing Email address.
![Screenshot_20200702-154256_Samsung Internet](https://user-images.githubusercontent.com/41587211/86404796-40f63580-bc7e-11ea-8dfa-6a00ef14c26a.jpg)

[2020-07-02 20:11] kylejvh commented on #868
I looked at how this was handled in other parts of the app and tried to build out something consistent with what was in place. Let me know of any needed changes, please.

[2020-07-02 20:12] joshmorel commented on #868
Interesting, it's like this isn't working `mongoose-unique-validator` isn't working for organization even though I see no difference at all in b/e for one vs the other. This message is coming back from mongodb.

@Naraujo13  is this a hint to why this might be occurring? https://github.com/blakehaswell/mongoose-unique-validator/pull/85/commits/8949fdc57217da287177b5678c695f6ad4bfa70b

We could alwa

[2020-07-02 20:24] sheeba1 opened #971 "unable to edit/delete Organization posts created(from feed Or My profile) by loggedin user, as Ellipsis is missing"
Issue: Unable to edit/delete Organization posts created(from feed Or profile) by loggedin user, as Ellipsis is missing
Expected Results: Organization posts created via Feed OR My profile should have edit/delete functionality by providing the ellipsis

Steps:
1. Log into https://staging.fightpandemics.work/
2. Go to feed->Create Post
3. Choose Organization and create a post and select 'view  your p

[2020-07-02 21:37] doheekim93 opened #972 "Update URLs"
We need to rename some URLs (after the domain names: fightpandemics.work, fightpandemics.com):

- [ ] **current path:** /need-help    -->    **new path:** /request-help#Step1
- [ ] **current path:** /need-help#Step2    -->    **new path:** /request-help#Step2
- [ ] **current path:** /need-help#Step3    -->    **new:** /request-help#Step3
- [ ] **current path:** /auth/login    -->    **new:** /auth

[2020-07-02 22:36] doheekim93 opened #973 "Update texts"
The following pages have texts that require changes
1. Nav Bar (for users _not_ signed in)
2. Nav Bar (for users signed in)
3. Home Page
4. Sign In Page
5. Join Now Page
6. Help Board Page

### Changes needed for each page:
**1. Nav Bar (for users _not_ signed in)**

Desktop:
Feed --> Help Board
Login --> Sign In
Register --> Join Now
<kbd>
    <img width="1440" alt="Screen Shot 2020-07-02 at 4 18

[2020-07-02 22:47] pthoma14 commented on #973
Hi @doheekim93,

I believe we spoke about these text changes awhile ago and I'm not sure how much of an impact it will be development-wise.

For example, **Feed --> Help Board**, this name change would have to be updated and would propagate throughout the entire codebase for consistency. Which  you could imagine would be extremely timely and wouldn't make sense for Soft Launch.

We need to verify

[2020-07-02 22:59] kylejvh commented on #442
@tiagocostasilva This should be resolved by #974

[2020-07-03 04:39] idjevm commented on #971
This is a duplicate of #906, please add more info to #906 instead.

[2020-07-03 04:39] #971 closed

[2020-07-03 04:49] sheeba1 commented on #906
@idjevm  added more info from #971. thanks!

[2020-07-03 05:49] dabartlett opened #977 "Create your Profile - [Mobile -IOS] - The email within the field is too light in color."
On "Create your profile" page the email within the field is too light in color.

Steps to Reproduce:

 1 - Using IOS mobile not simulator (I used Iphone 6s)> navigate to staging.fightpandemics.work, click on 3 lines on the top right
 2 - Click on Login/Register> Sign up
 3 - Enter email> Password> Password> Sign up
 4 - Navigate to email to confirm
 5 - After confirming the email, return to stagin

[2020-07-03 06:37] dabartlett opened #978 "Feed [Mobile - IOS] - Under "Sourced by FightPandemics" the blue dot for "US" is collapsing with "Community""
Under "Sourced by FightPandemics" the blue dot for "US" is collapsing with "Community"

Steps to Reproduce:

1 - Using Mobile IOS (I used Iphone 6s) > Be on Feed page (staging)
2 - scroll down to  "Sourced by FightPandemics"

Current Results: The blue dot for "US" is collapsing with "Community"
Expected: The blue dot should be moved below the community

*** Sorry can't paste image here*****

[2020-07-03 06:43] idjevm commented on #978
You actually can paste an image, anyhow if you prefer to use a different tool, think of using this one -> https://www.getcloudapp.com/

[2020-07-03 06:43] idjevm commented on #978
Also please refer to this page, in how to properly create issues. https://www.notion.so/fightpandemics/How-to-create-a-ticket-or-a-pull-request-on-GitHub-3ee2abb2d7f24b90ac35553dd0a117c4

[2020-07-03 06:46] dabartlett opened #979 "Create your Profile [Mobile - IOS] - After entering the address and selecting one of the pop up messages, page breaks"
![ ] (images/IMG_8257)

[2020-07-03 06:51] dabartlett commented on #979
Create your Profile [Mobile - IOS] - After entering the address and selecting one of the pop up messages, page breaks

1 - Using Mobile IOS ( Staging)> first create a new user in Sign in/Register and follow steps .
2 - Navigate to to Sign in /Register after the email is confirmed and enter all required fields until address displays
3 - On address field, enter an address and select an option that d

[2020-07-03 06:52] idjevm commented on #979
https://www.notion.so/fightpandemics/How-to-create-a-ticket-new-issue-on-GitHub-4405fe4ef57e4875b18fce25043d3d6a

Please add the proper things needed. Read up on this notion link

[2020-07-03 06:53] dabartlett commented on #978
![image](https://user-images.githubusercontent.com/67716598/86440388-30b27a80-bcbf-11ea-9491-79471dc641b6.png)

[2020-07-03 06:59] dabartlett commented on #978
![image](https://user-images.githubusercontent.com/67716598/86440872-19c05800-bcc0-11ea-9c93-9a0caf40b724.png)

[2020-07-03 07:02] idjevm commented on #978
please @dabartlett give a read to this document -> https://www.notion.so/fightpandemics/How-to-create-a-ticket-new-issue-on-GitHub-4405fe4ef57e4875b18fce25043d3d6a

There are a few more things that we need to add to a new issue / labels, linking the project, assigning the proper PM...

[2020-07-03 07:06] dabartlett commented on #978
Thank you, I will revise it again - I have been able to add the image for now, but I think a permission may be missing to edit and add the labels.
![image](https://user-images.githubusercontent.com/67716598/86441307-db776880-bcc0-11ea-9a9d-1d7dbc63f3d2.png)

[2020-07-03 15:18] manualzuru commented on #968
We need this for soft launch. Without this is impossible to see who is commenting on your post and impossible to close the loop.

The goal is seeing who is offering/requesting you the resources, services.

[2020-07-03 15:21] manualzuru commented on #967
We just need to have an organization account linked to all of those post. Maybe admin@fightpandemics.com. @joshmorel how can we link them?

[2020-07-03 15:32] joshmorel commented on #967
@manualzuru @vikjoshi

We have organization account linked but there's no about, contact info or anything because I only populated required elements.

See:
https://staging.fightpandemics.work/organization/5edc1d3efe8dbf11199b26ad

The individual owner account has email sourcedby@fightpandemics.com

I can create an account password etc so someone can go in and & manage their profiles - there are 9

[2020-07-03 16:02] joshmorel commented on #945
@idjevm @ppagarawal  Hmm... we have to think about this a bit more. We can notify the poster that they received a comment but sharing the email - right now this doesn't happen with facebook/twitter etc - the email/phone number remains private.

I think in such a case we would need to add an option when someone comments like "share my email with author" or something.

Prioritizing DMs for V1.1 migh

[2020-07-03 16:03] joshmorel commented on #945
And I think this is hard IMHO or at least somewhere between medium and hard.

[2020-07-03 16:34] joshmorel opened #981 "Own unique email validation with 409/422 error message"
We implemented `mongoose-unique-validator` but it doesn't seem to be [working correctly](https://github.com/FightPandemics/FightPandemics/issues/868#issuecomment-653200812
) maybe let's just roll our own?

Basically a plugin that checks if email is unique and if not sends a 409 or 422 error (NOT 500 like current library does).

Should be used in user create, org create, org update.

[2020-07-03 17:09] joshmorel commented on #967
I'll update to admin@fightpandemics.com . The problem is email needs to be unique so the orgs need to use something else.

If the owner is notified this shouldn't be a problem. Unless we want to update logic so email only needs to be unique for IndividualUser or maybe email/type is a unique combination?

[2020-07-03 18:45] WafaaAly commented on #909
@vikjoshi do you mean this Pod [MVP - Create/Edit Post](https://www.notion.so/MVP-Create-Edit-Post-8aefbb0b90724eccbf79af0d1b7236c1), I can't edit it.

[2020-07-03 19:32] #938 closed

[2020-07-03 19:32] #959 closed

[2020-07-03 19:48] vikjoshi commented on #968
@manualzuru clarification question on this- even if they view the profile that doesn’t close the loop right? There’s no email address or anything on the profile that they can reach out to. They see where the org or person is based and some of the basics we have on the profile but i don’t think that closes the loop.

[2020-07-03 20:20] nivetheatha opened #984 "Accepts Invalid Email id"
-In the sign up/Register page.
-It accepts Invail email id(ex:nive@gmail.com.com)
![Screenshot_20200703-160456_Samsung Internet](https://user-images.githubusercontent.com/41587211/86495768-b6c6d380-bd48-11ea-8bc9-47c76fc9532c.jpg)
![Screenshot_20200703-160527_Samsung Internet](https://user-images.githubusercontent.com/41587211/86495773-b9292d80-bd48-11ea-9d6e-fd38879ba48e.jpg)

[2020-07-03 20:21] #876 closed

[2020-07-03 20:28] nivetheatha opened #985 "Not able to identify my location using GPS on Android mobile devices."
Steps to create:
 Device used (Samsung Galaxy)
-Login with valid emailid,password.
-click on request help.
-click on medical.
-click on share my location
![Screenshot_20200703-153806_Samsung Internet](https://user-images.githubusercontent.com/41587211/86496181-28535180-bd4a-11ea-9174-020c1378b10f.jpg)

[2020-07-03 20:43] nivetheatha opened #986 "Drop down menu in Feed using Android mobile devices"
Steps to create:
-Login with valid email id,Password.
-Go to feed.
-Select location drop down.
-It has to show results  related to location.(similarly if we choose provider or type.it has to show the respective results only)
-But it shows drop down menu again.
![Screenshot_20200703-154333_Samsung Internet](https://user-images.githubusercontent.com/41587211/86496632-4fab1e00-bd4c-11ea-80ec-48694346

[2020-07-03 20:45] idjevm commented on #968
Hey guys, please continue the conversation in #944, this is a duplicate of that issue. Feel free to add as many more comments as you can on #944.

[2020-07-03 20:45] #968 closed

[2020-07-03 20:56] idjevm commented on #945
Yeah, I totally agree with you Josh, probably at a hard level. I gave it a thought and started draft ideas, but after speaking with @ppagarawal, decided to put it on hold on my end since it seems that this needs to be done ASAP and there might be other engineers who might develop it faster.  (this was before the call)

[2020-07-03 20:58] idjevm commented on #986
Yeah this is something I have previously brought up, I mentioned that we should have a button called `Filters` on top, and then open this modal when that button is pressed, similar to what we have in Desktop Version. @ppagarawal Any thoughts?

[2020-07-03 21:15] #869 closed

[2020-07-03 21:15] #878 closed

[2020-07-03 21:23] #984 closed

[2020-07-03 21:48] dabartlett commented on #986
Same on IOS (I tested using Iphone 6S).

[2020-07-03 21:59] pthoma14 commented on #931
@vikjoshi is this issue a MVP-Critical issue? Could this be an MVP-Release 1 issue?

[2020-07-03 22:03] #877 closed

[2020-07-03 22:06] joshmorel commented on #985
@nivetheatha  The message indicates the browser geolocation didn't work. There could be a few different reasons for this.

Did you give permission to "use your device's location"?

If so maybe it couldn't get geolocation from the device for some reason.

What browser are you using and do other sites work with geolocation? Samsung Android worked fine for me.

Anyways, it's expected that this might

[2020-07-03 23:13] dabartlett opened #987 "Feed - [Mobile - IOS] - When "Make Surgical Masks: Materials and..." is clicked the content does not fit to page"
When "Make Surgical Masks: Materials and..." is clicked the content does not fit to page

Steps to Reproduce:
**Pre-requisite:** Have a user created to sign in

1 - Using mobile (IOS - I used Iphone 6S and simulator 7, 8, X) - staging.fightpandemics.work
2 - Click on 3 line Sign in/Register -> follow sign in steps
3 - Click on Request help -> Medical> Enter any zip/address -> Skip
4 - On Feed: Scr

[2020-07-03 23:23] doheekim93 opened #988 "Home Page and Nav Bar: Add ID attribute for elements on these pages"
**Please make sure the id attributes are updated for the mobile version as well!!**

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element.
Example: not just the text "Next", but the entire button (including Next and arrow symbol)
<img width="150" alt="Screen S

[2020-07-04 00:01] doheekim93 opened #990 "Request Help: Add ID attribute for elements on these pages"
**Please make sure the id attributes are updated for the mobile version as well!!**

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element.
Example: not just the text "Next", but the entire button (including Next and arrow symbol)
<img width="150" alt="Screen S

[2020-07-04 00:08] BMariscal commented on #939
@sheeba1  is this still an issue in mobile? Can you show me an example if so. Thanks!

[2020-07-04 00:27] doheekim93 opened #991 "Offer Help: Add ID attribute for elements on these pages"
**Please make sure the id attributes are updated for the mobile version as well!!**

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element.
Example: not just the text "Next", but the entire button (including Next and arrow symbol)
<img width="150" alt="Screen S

[2020-07-04 00:36] omarzoghayyer commented on #970
Hi @nivetheatha - I was wondering what browser are you using? I am using chrome and it seems to have no issues with overlapping.

<img width="312" alt="Screen Shot 2020-07-03 at 5 35 14 PM" src="https://user-images.githubusercontent.com/49251966/86502030-905a6580-bd53-11ea-88b5-dbc3b2ed2c15.png">

[2020-07-04 00:44] doheekim93 opened #992 "Sign In and Sign Up Page: Add ID attribute for elements on these pages"
**Please make sure the id attributes are updated for the mobile version as well!!**

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element.
Example: not just the text "Next", but the entire button (including Next and arrow symbol)
<img width="150" alt="Screen S

[2020-07-04 00:48] omarzoghayyer commented on #970
@nivetheatha I will open a PR and please let me know if that is enough padding from top.

[2020-07-04 00:48] nivetheatha commented on #970
Try to give email...the text will overlap..I am using chrome browser .

[2020-07-04 00:49] joshmorel commented on #945
@idjevm @manualzuru @ppagarawal I'm a little unclear with this two points:
cc @mannykary

Why would the get an email for editing a post? I would suggest - since we don't have opt in/out settings - we limit to two scenarios to start with:

1. Post author emailed when comment made
2. Comment author emailed when comment replied to (we don't have replies yet but should soon - will add a F/E ticket for

[2020-07-04 01:12] nivetheatha commented on #970
Hope it will resolve..kindly letme know..once you fixed the issue.

[2020-07-04 02:24] nivetheatha commented on #985
It's not working in Samsung internet browser.
But working well in chrome and firefox.

[2020-07-04 04:11] silenceway opened #994 "Filter's "View Result" and "Quit Filters" button has the wrong styles."
After changing the `BaseButton` from antd-mobile Button to antd Button, the "View Results" button in filters has issues with the background, and the "Quit Filters" button has issues in hover state.

Expected:

![Captura de Pantalla 2020-07-03 a la(s) 11 03 59 p  m](https://user-images.githubusercontent.com/877561/86504758-5c4a6900-bd82-11ea-9d42-40148d85e365.png)

Current:

![Captura de Pantalla 2

[2020-07-04 04:54] #970 closed

[2020-07-04 05:03] idjevm commented on #994
This is already being resolved with #910. There was a PR that was merged that I sadly I didn't get on time to review and broke some styling across the platform.

[2020-07-04 05:03] #994 closed

[2020-07-04 05:58] idjevm commented on #945
Yeah I wanted to keep it simple to just notify that a user that there is a new comment, but I believe @ppagarawal wanted to have that implemented as well? Not sure as if we keep overthinking this feature, it will keep getting complex and complex...

[2020-07-04 06:28] ppagarawal commented on #945
@idjevm @joshmorel The feature is complete only when the request and supply is matched. By notifying only 1 end, we don't really close the loop. This was the reason why I had recommended to have email notifications for comments and posts to the author of the post and the commentor.

I understand that the implementation will be difficult but I think that a partial implementation will not fulfill th

[2020-07-04 06:32] idjevm commented on #945
Yeah that makes sense, I guess? I mean until we don't have notifications in place, then I guess the best way will be just to email notifications every time there is a change. I don't think we should do this for `on comment edit` or `on post edit` notification though, I don't think that's necessary. Think of it like a slack thread, do you get notified if I change edit the original message? I think

[2020-07-04 06:34] ppagarawal commented on #986
@idjevm this was supposed to be changed when @adisen would rework on the changes he merged. It is from the same 'pull request'. Reach out to me for more information.

[2020-07-04 06:36] ppagarawal commented on #945
Let's begin on this to send notification to the author for every change in state for the first release. It would be great to get this moving rather than spending time only on discussions.

[2020-07-04 06:43] idjevm commented on #986
@ppagarawal so no actually, this is not in the scope of what Israel is doing, @adisen is just working to get the formatting back to how it was, which is this ->
![image](https://user-images.githubusercontent.com/25408660/86506628-2b2c6180-bd9f-11ea-9935-603ac6ad1871.png)

but besides that, as @dabartlett mentioned, it makes no sense to have the filters as shown in this image, and then again ask th

[2020-07-04 06:46] idjevm commented on #986
Take a look at this gif -> it will make more sense @ppagarawal, a valid point that makes no sense to have these dropdowns, we should just have a `Filter by` button or text `Filter by` and then a button called `Filters` and that will open up the menu...

[2020-07-04 06:46] idjevm commented on #986
https://share.getcloudapp.com/7KumzmGg

[2020-07-04 06:53] idjevm commented on #945
I mean the discussion is needed, else we will not consider things that otherwise would've been ignored. For example, had I started just implementing this without discussing, I would've started to find these blockers and other things that I did not initially consider that are concerning.  Let's hope that for now, we have a better idea of how this will move forward.

[2020-07-04 07:24] Naraujo13 commented on #868
You're probably right on the hint @joshmorel. We use discriminator to have both `IndividualUser` and `OrganizationUser` on the same collection. The unique validator is in the base `User` model, but we use the specific Organization model at the endpoint, so this is probably the cause for this.
In our case we need to use the more specific model, so we can't switch to the generic one like in the fix

[2020-07-04 07:40] ppagarawal commented on #986
@idjevm Please go ahead with the changes. It certainly makes no sense to have the user select the filters twice. I recommend that the implementation be as below but must open up the exact filter option when the modal window appears.

This is to let the user know what filters he can apply to.

![image](https://user-images.githubusercontent.com/6276256/86507649-8b4ef200-bdf7-11ea-8d83-8f6746e1ec18.p

[2020-07-04 07:40] idjevm commented on #987
@dabartlett can you include the link of the post? -> Posts are shown as nearest to my location, and there are a couple thousand so I won't be able to scroll to find this since I am not sure where the location is. Better if you include the post link here. I want to test cuz I think this is being resolved...

[2020-07-04 07:48] idjevm commented on #987
I actually fond it since I figured you were looking at posts near Nevada or the US in general, and yeah I tested and this is the same issue as #928, and it is being addressed there. I will close this but feel free to test it on the Build URL of this PR -> https://github.com/FightPandemics/FightPandemics/pull/989

[2020-07-04 07:48] #987 closed

[2020-07-04 08:06] ppagarawal opened #995 "Change in the hompepage verbiage"
Current text:
"A place to offer and receive help"

![image](https://user-images.githubusercontent.com/6276256/86508119-21384c00-bdfb-11ea-91c6-83b3f9ba4efb.png)

Desirable text on homepage:
"A place to offer and request help"

[2020-07-04 08:07] ppagarawal commented on #995
So quick @idjevm ! :)

[2020-07-04 08:14] idjevm commented on #995
Yeah I mean these are small fixes so they can be done quickly to let other engineers focus on a bit bigger tasks x)

[2020-07-04 08:29] idjevm commented on #986
This will require some code refactoring/logic thinking, If you look at the filters from the feed in the Desktop View, the user has the option to click on the "Filters" button and then the filters are displayed. Why not implement something like that?

[2020-07-04 08:32] idjevm commented on #986
![image](https://user-images.githubusercontent.com/25408660/86508604-58810b80-bdaf-11ea-9170-0733e6ab0b96.png)
Like here, the user must click on filters first before the filters are shown

[2020-07-04 08:34] BMariscal opened #997 "Implement a rate limiter in our user-facing API"
Implement a rate limiter for our user-facing API to control the amount of incoming and outgoing traffic.

Possible options:
https://github.com/fastify/fastify-rate-limit
https://www.npmjs.com/package/bottleneck

[2020-07-04 08:45] #928 closed

[2020-07-04 08:45] #952 closed

[2020-07-04 09:04] idjevm commented on #986
+ as a user, what if I want to apply more filters, then I will have to click on a different filter, then view results, and then again and again and again. I think using the implementation like the feed desktop is much better, where the user clicks on the filters button and is able to see all the filters available, then the user can choose all the desired filters before applying, once the user is d

[2020-07-04 10:10] #995 closed

[2020-07-04 10:19] ppagarawal commented on #986
@idjevm I understand your point. But for now, lets stick to the design and I will work with the design to make any changes required in the future releases.
Also, selecting the filter criteria must directly open the criteria in the modal.

Please find the diagram below:
![image](https://user-images.githubusercontent.com/6276256/86510498-c3f9c600-be0d-11ea-8919-70301a24c7c7.png)

![image](https://us

[2020-07-04 10:23] idjevm commented on #986
Then based on this design, there doesn't need to be changes done, or do you want to just have pop up all the filters as it is right now but the section clicked extended?

[2020-07-04 13:09] joshmorel commented on #868
@Naraujo13 I guess my wording was wrong. I don't mean to implement something similar but achieve the same result we were trying to do with `mongoose-unique-validator`

I think we should either:

1) As you suggest just catch Mongo exception and return better error message. Easiest and somewhat similar to what @kylejvh has already done for this specific issue. Maybe best to begin with. We can change

[2020-07-04 13:34] joshmorel commented on #985
:man_shrugging: Hmmm it is working for me in Samsung Browser.

Anyways, I think we should close this issue. The [browser's Geolocation API](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API) can not always be relied on to work depending on various issues with browser, device, user not providing permission, other random issues. That's why we suggest they manually enter the address in

[2020-07-04 15:01] joshmorel commented on #927
CC @vikjoshi I will work on this and then we can create one org profile for Sourced by FP.

[2020-07-04 15:54] sheeba1 commented on #939
@BMariscal ,Sent in flowdock screen shots of Post behaviour(View more) on Desktop version . would like to get your feed back .Thanks!

[2020-07-04 16:59] sheeba1 commented on #928
Working fine for mobile too! Thanks.Closing the bug

[2020-07-04 17:29] sheeba1 opened #999 "Post tags,Post title, and description should be left aligned with name"
Issue: Feed Posts are not left aligned on staging(Refer Figure 1)
Expected Result:   Post tags,Post title, and description should be left aligned with name. It is applicable to Feed->Posts,post details for both desktop and mobile

Figure1:
![image](https://user-images.githubusercontent.com/65972693/86517805-95192b00-bde0-11ea-9f0c-f6f9026a64f6.png)

[2020-07-04 17:41] nivetheatha commented on #985
Ok will close this issue.

[2020-07-04 17:41] #985 closed

[2020-07-04 17:46] ppagarawal opened #1000 "Create a 404 page for invalid URLs"
Please create a 404 page for invalid URLs.

The page must centre align the FightPandemics logo.
The page must contain the link to redirect to Homepage and support email.
This must work on mobile and web both for all the invalid URLs

[2020-07-04 18:13] #906 closed

[2020-07-04 18:22] BMariscal opened #1001 "On comment PATCH, display an 'edited' tag and the relative update time timestamp in the comment"
On comment edit, the comment should display something like
`5 hours ago · edited 3 hours ago` where
`${relative create time timestamp} · edited ${relative update time timestamp}`

Similar to Reddit's approach:

---
![](https://i.ibb.co/S3SkfgD/Screen-Shot-2020-07-04-at-11-09-43-AM.png)
This will require some work on the backend as well as some frontend changes.

---
Please see the comments here fo

[2020-07-04 18:40] nivetheatha opened #1002 "Post Creation without a mandatory field"
Steps to create:
-Login with valid userid,password.
-Goto profile.
-Select + symbol to create post.
-Select Individual/Organisation.
-When user left out any mandatory field required to create a post.(I suggest to add * to show the user the mandatory fields)
-User tries to click on post.
-There should be a pop up message saying "You have to Provide title/description{whichever the field the user lef

[2020-07-04 21:02] joshmorel opened #1003 "No profile _id after create profile"
Because create user doesn't return `id` but instead just `_id`

![image](https://user-images.githubusercontent.com/10546720/86520959-661eab80-be18-11ea-9058-a0f3f5f0ff55.png)

![image](https://user-images.githubusercontent.com/10546720/86520961-6dde5000-be18-11ea-8784-78c9879308e3.png)

[2020-07-04 21:28] doheekim93 opened #1007 "Create Individual Profile and Profile Page: Add ID attribute for elements on these pages"
**Please make sure the id attributes are updated for the mobile version as well!!**
*This ticket is for ONLY individual profiles (not organisation profiles) and the id should apply for ALL individual users.

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element

[2020-07-05 00:36] dabartlett commented on #987
ok - apologies - I see that it is fixed and here is the link just in case: https://staging.fightpandemics.work/post/5eea73164b96a349da599533

[2020-07-05 03:48] #1003 closed

[2020-07-05 04:14] omarzoghayyer commented on #1002
@nivetheatha I like your proposal, but currently a the 'Post Button' is unclickable unless all fields are full. Are you suggesting to change this method and perhaps show a red text underneath
 the field instead?

[2020-07-05 05:55] jyclam commented on #988
@doheekim93 Just wanted to confirm that the Login / Register button gets **one** tag: `NAV_SI`

[2020-07-05 06:39] #944 closed

[2020-07-05 09:45] #918 closed

[2020-07-05 15:16] doheekim93 commented on #988
@jyclam Hi, yes for the mobile version, Login/Register gets **one** tag NAV_SI (the text links to the sign in page only).

[2020-07-05 16:01] joshmorel opened #1012 "blank page error undefined error - getInitialsFromFullName edge case with multiple spaces"
@idjevm there must be some edge case bug introduced from #1005. I'm having a hard time pinpointing it can only recreate in staging.

When you scroll to what is currently `api/posts?limit=5&skip=15` for unathenticated (no geo sort) I get undefined error (blank page) that debugger indicates comes from `.map((n) => n[0].toUpperCase())` in:

It's from "Nivethetha  Sankar " specifically - there are 2 s

[2020-07-05 16:03] idjevm commented on #1012
Makes total sense! Thank you so much! I def did not test that one out. And yeah I thought of using a regex instead lol~ making a fix asap~ Thank you

[2020-07-05 16:56] #1012 closed

[2020-07-05 18:04] rabbi08 opened #1017 "Feed-> Add comment -> Login-In -> Lost track of the FEED on which user wanted to comment"
1. Open "https://staging.fightpandemics.work/"
2. Click on Request help -> Medical -> Share my location -> Enter email -> Click on Submit
3. From the FEEDs displayed, user select specific feed as per his/her requirement
4. On the selected Post click on 'Comment' icon

You will observe that user is directed to LOGIN screen.
5. Login using valid email/pwd

Issue#: User land on FP home page rather th

[2020-07-05 18:07] jyclam commented on #988
Perfect, thanks for confirming.

[2020-07-05 18:26] rabbi08 opened #1018 "EDIT my POST -> Click on Back button -> Lands on FEEDs page, rather than previously navigated page."
1. Open "https://staging.fightpandemics.work/"
2. Login using valid email/pwd
3. Navigate Profile -> My Profile
4. EDIT any comment  and after "EDIT or comment" on any Post, click on 'BACK' button

Issue: You will observe that user lands on 'FEED' home page rather that 'My Profile' page from where I navigated.

So actually, BACK button should navigate to the previous page that user navigated, i.e.

[2020-07-05 21:56] pthoma14 commented on #1017
@rabbi08 thank you for catching and logging this issue.

@ppagarawal I believe this issue should be tagged for MVP launch instead of Soft Launch. Thoughts?

[2020-07-05 22:54] rabbi08 opened #1019 "Onboarding User -> Lands on wrong FEEDs page i.e. User Requesting help lands on Requesting help FEED page"
1. Open "https://staging.fightpandemics.work/"
2. As a non-logged in user -> Onboarding
3. User requesting help -> medical help -> share the location -> Enter valid email -> submit ->

Issue# All the FEEDs related to Individuals or Org, who are already requesting help are displayed, so how user will find who can help him as all others along with him are requesting help in that forum.

Expected Res

[2020-07-05 22:55] rabbi08 commented on #1019
@indirabhowmick comments from slack: If the user is not signed up but goes through the onboarding flow you have mentioned above, they should see posts offering to help with tags medical, based on the location.

[2020-07-06 00:00] vikjoshi commented on #931
@pthoma14 , I believe this is somewhat necessary to fix prior to MVP launch because otherwise the poster has no indication when there are new comments on their post. If we need to launch without it, we probably can but would be good to have this functionality in place a few days after initial launch.

@tr1503 , how is the issue coming along? Is it looking difficult?

[2020-07-06 00:06] vikjoshi commented on #868
@joshmorel @Naraujo13 , seems like for now we could go with what @kylejvh did here https://github.com/FightPandemics/FightPandemics/pull/969 for now right? And implement either 1 or 2 from comment above later?

[2020-07-06 00:22] Naraujo13 commented on #868
Yeah, I think we can go with this now

[2020-07-06 00:26] vikjoshi commented on #904
@joshmorel @Naraujo13 , just tested on staging and it looks like we are still seeing the issue where if the org. address is in a different city/state/country than the individual profile address, then the post does not show up under the org. profile page. Are one of you or someone else working on that?

[2020-07-06 00:40] pthoma14 commented on #931
@vikjoshi Got it 👍 That makes sense

[2020-07-06 00:59] vikjoshi opened #1020 "Add underline to Privacy Policy and Terms&Conditions to show that it is a clickable link"
Lets add an underline to the Privacy Policy and Terms & Conditions links on the sign up ages for Create User Profile and Create organization profile. We should only underline the highlighted parts from the image below

![image](https://user-images.githubusercontent.com/41554004/86546366-5e7b0780-bee9-11ea-9d33-02526f28fc50.png)

[2020-07-06 02:00] joshmorel commented on #868
I had been meaning to investigate this - https://github.com/FightPandemics/FightPandemics/pull/969#discussion_r449754127 -

But I guess as mentioned, it's better then clicking submit and nothing happens.

[2020-07-06 04:04] tr1503 commented on #931
@vikjoshi It is more difficult than what I thought. But I already found some clues to do it and I think I can complete it these two days.

[2020-07-06 04:10] morrme commented on #1020
@vikjoshi I'd like to help Should this be done on the component or inline?

[2020-07-06 04:13] Sridevi2014 commented on #1020
@vikjoshi I am working on this task

[2020-07-06 05:44] hellynyc opened #1021 "[Mobile Android] Edit Profile | Titles/Text Fields are cut off on the left (when display is set to large-largest)"
Device/OS/Browser: OnePlus 7 Pro / OS10 / Chrome

Expected Result: Titles / Text Fields should be visible on screen even if font/display is set to largest.
Actual Result: Titles/Text Fields are cut off on the left of the screen (when the display size is set to large/larger/largest on your phone)

![Screenshot_20200703-004131](https://user-images.githubusercontent.com/52841932/86559551-32cc4180-bf2

[2020-07-06 06:09] hellynyc opened #1022 "[Mobile] Edit Profile | Cannot edit Facebook / LinkedIn / Twitter / Github fields"
Device/OS/Browser: OnePlus 7 Pro / OS10 / Chrome

Expected Result: User should be able to change their Facebook / LinkedIn / Twitter / Github URLs.
Actual Result: Facebook / LinkedIn / Twitter / Github URLs fields have default text that cannot be edited.

[2020-07-06 06:34] #868 closed

[2020-07-06 06:40] hellynyc opened #1023 "[Mobile Android] Feed | Bottom half of the page is blank"
Device/OS/Browser: OnePlus 7 Pro / OS10 / Chrome

Steps to Reproduce:
1. Log in as an authorized user
2. Click on "Request Help" or "Offer Help" icons
3. Select preferred choices in the next screen
4. Enter address for "Where are you located?"
5. Enter email for "What is your email address?"

Expected Result: User lands on Feed Page and can see the entire page and can scroll up to see additional p

[2020-07-06 07:42] Sridevi2014 commented on #1020
added an underline to the Privacy Policy and Terms & Conditions links on the sign up ages for Create User Profile and Create organization profile.

I didn't create pull request. I will talk with JV then I will create pull request.

Just I have attached screen shots
![screencapture-localhost-3000-create-organization-profile-1594020762938](https://user-images.githubusercontent.com/28641604/86568112-

[2020-07-06 08:09] idjevm commented on #1020
👀 Seems good however, I wam wondering why does the left side show like that 👀

[2020-07-06 09:28] idjevm commented on #1022
I think you are supposed to add only your username for each platform instead of a whole link - so the default text is the URL and the only thing missing should be your username. Not an issue so closing this one. Also please refer to this document in [how to create an issue for our GitHub Repo](https://github.com/FightPandemics/FightPandemics/wiki/How-to-%22Properly%22-create-a-ticket---new-issue)

[2020-07-06 09:28] #1022 closed

[2020-07-06 13:35] joshmorel opened #1024 "Migrate antd-mobile components to antd (discussion/low-priority)"
`antd` is for react projects for mobile/desktop browsers. `antd-mobile` is for react-native projects only - https://mobile.ant.design/docs/react/introduce#Environment-Support

It's use has introduced at least one bug - not being able to hit enter to a form. It maybe introduce others. It seems we should be using `antd` only.

This is not urgent and requires further discussion because the effort mig

[2020-07-06 13:39] sheeba1 commented on #929
@silenceway  @idjevm  This is Not resolved  for posts from Feed ->Posts.

[2020-07-06 13:48] nivetheatha commented on #1002
Showing red text underneath is also a good option.The unclickable post button is not visible that much(maybe due to the colour of the button).
I have created the bug because I was not able to create a post.since I thought title as heading and I left it as blank.what if the same thing happened to  user ?.Its good to provide a pop up or red text to show the user why he is not able to create a post.

[2020-07-06 14:23] idjevm commented on #910
So we will close this one since I have reverted #813.

[2020-07-06 14:23] #910 closed

[2020-07-06 14:24] idjevm commented on #787
Reopening this one @adisen since we would like maybe to find a way to do this without messing up the styled, let's continue the work on #937

[2020-07-06 14:29] silenceway commented on #929
Changes are done, PR wasn't merged yet. It contains the fix for the feed page. It was added with comments changes because we need to update the current flow. You can see some of the changes in client/src/pages/Feed.js file.

[2020-07-06 14:31] idjevm commented on #929
Yeah that's true, changes are not on staging yet but the PR is ready. @silenceway is the PR ready to be merged?

[2020-07-06 14:34] #990 closed

[2020-07-06 15:03] #988 closed

[2020-07-06 15:33] doheekim93 opened #1026 "Create Organisation Profile and Profile Page: Add ID attribute for elements on these pages"
**Please make sure the id attributes are updated for the mobile version as well!!**
*This ticket is for ONLY organisation profiles (not individual profiles) and the id should apply for ALL organisations.

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element (i

[2020-07-06 15:39] joshmorel opened #1027 "Blank page after create user go to feed - user.organizations undefined"
Steps to recreate.

1. sign up
2. create user profile
3. go to /feed

Result:

Blank page

[code]

Because organizations virtual array is not returned all the time. We should either use

``` virtuals: {toObject: true, toJSON: true}``` on backend schema

OR

safe navigation operator on F/E

OR

both

[2020-07-06 16:11] gkjain82 opened #1029 "[Mobile iOS] Feed | Like functionality doesn't work."
Steps to Reproduce:

Goto: staging.fightpandemics.work
Log in as an authorized user
Click on the Hamburger icon and select "Feed "
Select like button for any post.
The like functionality button doesn't work.

Expected Result:
The user should be able to like any post successfully.

Actual Result:
The user is not able to like any post.
![Video 07-06-2020 11 47](https://user-images.githubusercontent.

[2020-07-06 16:36] joshmorel commented on #1029
Yeah this is a WIP - I think this affects all platforms... #834 . I think it's almost done @silenceway ?

[2020-07-06 16:55] doheekim93 opened #1031 "Post Page: Add ID attribute for elements on all posts' page"
**Please make sure the id attributes are updated for the mobile version as well!!**

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element (including any _clickable_ WHITE SPACE around text).
Example: not just the text "Next", but the entire button (including N

[2020-07-06 16:56] nivetheatha opened #1032 "Text overlapping in Forgot password page using Android mobile device"
Step to create:
-Goto signin page.
-click on forgot password.
-provide email id.
-There is a text overlapping while providing email id.
![Screenshot_20200706-115217_Chrome](https://user-images.githubusercontent.com/41587211/86619152-09420300-bf88-11ea-9cdc-fa44195ca2c5.jpg)

[2020-07-06 16:59] #1027 closed

[2020-07-06 17:22] sheeba1 opened #1033 "Existing organizations are not displayed from My Profile-> Create Post->Organization"
Issue : Existing organizations are not displayed from My Profile-> Create Post->Organization

[2020-07-06 17:55] dabartlett opened #1035 "Feed - When adding a post the box "Organization' is spelled "Organisation" with s. *** We need to update with S everywhere on Mobile****"
When adding a post on Feed, the box "Organization' is spelled "Organisation" with s.

Steps to Reproduce:

Pre-Requisite: Be signed in

1 - Click on the 3 lines on the top right of the page
2 - Click on Feed
3 - Click on Plus icon

Current Result: Organisation
Expected: Organization (as per Figma)

![image](https://user-images.githubusercontent.com/67716598/86623851-1acedf00-bf77-11ea-84c0-df379c3

[2020-07-06 18:16] #1033 closed

[2020-07-06 18:26] BMariscal commented on #1035
Hello @dabartlett We are using British English in the app so `Organisation ` is correct.

[2020-07-06 18:31] ppagarawal opened #1036 "Redirect the user to step 3 after clicking on "Show me posts from anywhere" on step 2"
When the user clicks on "Show me posts from anywhere" on step 2, when requesting or offering help,
then he should proceed to step #3 to provide emails

[2020-07-06 18:32] joshmorel opened #1037 "Add email to organization profile"
Use envelop symbol - `client/src/assets/icons/envelope.svg` but with solid blue (create a copy `envelop-blue.svg` and use same color as `social-twitter-blue.svg` and the height should be the same.

Next to other social links:
![image](https://user-images.githubusercontent.com/10546720/86626251-7065b480-bf94-11ea-9336-8bc7dba6246d.png)

[2020-07-06 18:33] joshmorel opened #1038 "Add external links to post page"
This is mainly so we have connecting info for sourced by FP posts. If we want to add this to form later for user posts we can but contact with other users/orgs will mostly be done via profile.

[2020-07-06 18:33] dabartlett commented on #1035
Hi @BMariscal, on that case we would need to change it in other locations such as below to be the same:
![image](https://user-images.githubusercontent.com/67716598/86627082-8d8e8900-bf7c-11ea-9250-2b6fcc8757a4.png)

[2020-07-06 18:35] ppagarawal commented on #1017
@pthoma14 You're correct
@rabbi08 This is a good bug. 👍

@silenceway @idjevm Can either of you help with it? What do you think about the timelines?

[2020-07-06 18:35] #967 closed

[2020-07-06 18:36] BMariscal commented on #1035
https://fightpandemics.slack.com/archives/C010P7A17V3/p1591063767149200?thread_ts=1591062823.148900&cid=C010P7A17V3

[2020-07-06 18:36] BMariscal commented on #1035
Yes! correct

[2020-07-06 18:45] vikjoshi commented on #931
Thanks @tr1503 ! Keep me updated on your status with this- if you are able to get this fixed before code freeze in the next couple days, then we can include it in the soft launch

[2020-07-06 18:47] vikjoshi commented on #904
@Naraujo13 let @joshmorel and I know whether you are able to address my comment above- if not Josh will take this on so we can get it in prior to code freeze this week

[2020-07-06 18:50] vikjoshi commented on #1033
Very quick. Thank you @nr431207 and @idjevm !

[2020-07-06 19:11] manualzuru commented on #1035
@dabartlett, @BMariscal is right. We are using British English and it should be with S everywhere.

@Yu-Alexa-Zhao can you please create a design ticket so we update all our designs with "S"?

[2020-07-06 19:12] joshmorel opened #1039 "Organization Profile linkedin not saving"
Organization LinkedIn not being sent to B/E on Organization Profile form:

![image](https://user-images.githubusercontent.com/10546720/86630307-a73ec900-bf9a-11ea-8c5f-23d7cfcf436d.png)

Maybe has to do with?
`Warning: [antd: Checkbox] `value` is not a valid prop, do you mean `checked`?`

[2020-07-06 19:13] hellynyc commented on #1022
I see. Gotcha. It's not very intuitive. Maybe there can be grayed out text that says enter your username or something?

And sorry about the inconsistency, I also didn't have full access to Github, I will follow the guidelines for creating issues moving forward. Thanks for the help!

[2020-07-06 19:23] idjevm commented on #779
This isssue has been resolved.

[2020-07-06 19:23] #779 closed

[2020-07-06 19:23] idjevm commented on #604
This issue has been resolved.

[2020-07-06 19:23] #604 closed

[2020-07-06 19:32] idjevm commented on #1022
Please request GitHub access to @manualzuru in Slack. And yeah, I mean that is for enhancement but bring it up on the engineering frontend channel :)

[2020-07-06 19:32] joshmorel opened #1040 "Change Organization Profile form label from "Personal Website" to "Website""
Will do this with other PR for efficiency

[2020-07-06 19:44] hellynyc commented on #1022
Yea, I have access now. Thanks, JV!

OK, I will bring up the idea with frontend engineering. Thanks.

[2020-07-06 20:01] #1040 closed

[2020-07-06 20:08] joshmorel opened #1043 "Add social-website-blue.svg icon for website profiles"
Currently we are using smiley-icon.svg.

![image](https://user-images.githubusercontent.com/10546720/86636524-621e9500-bfa2-11ea-920a-90ec21ed429d.png)

I guess a placeholder because there wasn't anything.

Use from design system

[code]

[2020-07-06 20:15] joshmorel opened #1044 "Remove R&D organization type"
It's not in About Page, while it is in both industry and post type.

[2020-07-06 20:39] #1037 closed

[2020-07-06 20:54] doheekim93 opened #1045 "Feed Page: Add ID attribute for elements on this page"
**Sorry, this is a MASSIVE one!!!**
**Please make sure the id attributes are updated for the mobile version as well!!**

Please assign the following elements with the listed JSX 'id' attributes.

Please also note, when assigning id attribute, to assign it to the area that encompasses the entire button or element (including any _clickable_ WHITE SPACE around text).
Example: not just the text "Next"

[2020-07-06 21:11] sheeba1 commented on #1033
Verified the defect and is working fine Thanks!

[2020-07-06 21:37] sheeba1 commented on #971
verified working fine for desktop and mobile

[2020-07-06 22:34] sheeba1 commented on #929
@silenceway  @idjevm  wanted to check with you if this fix is good for mobile too?

[2020-07-06 22:37] sheeba1 commented on #914
@cvaldez98 , we need this fix for mobile too. Thanks!

[2020-07-06 23:11] sheeba1 commented on #929
@silenceway  @idjevm added Mobile tag too. Let me know if I need to create another defect Thanks!

[2020-07-07 00:17] silenceway commented on #1029
@joshmorel  That PR is waiting for review and merge some days ago.

[2020-07-07 00:37] silenceway commented on #1017
This can be reviewed with the like button, too: Like -> Login -> Home (not feed). But it depends in https://github.com/FightPandemics/FightPandemics/pull/834 merge.
The like button saves to storage to allow the like after the login, it can be applied something like this to comment.
But I cannot work on this issue now. If nobody can, I will do it at the weekend. (I can review the PR if somebody did

[2020-07-07 00:44] sheeba1 opened #1050 "When I 'like'/unlike' a comment on my Iphone,( IOS device) , the post goes down few posts and I have to scroll down to see that particular post"
Issue Summary:When I 'like'/dislike' a comment on my Iphone,( IOS device) , the post goes down a few posts and I have to scroll down to see that particular  post

1.
ON iphone  browser , sign into staging url https://staging.fightpandemics.work/feed

(I used IPhone XR and safari) .

2. Like/unlike a comment to notice that particular post moves down a few posts and need to scroll down to see the po

[2020-07-07 01:23] nr431207 commented on #1039
@joshmorel @idjevm  the `formData` thats being sent to the backend does have the correct data in it, and the request body on the server side also receives the correct data, I traced it a bit deeper and it looks like upon get request of server from db, the result doesnt even have the key `linkedin` in the urls object, isnt it supposed to at least have the key `linkedin: ' '` when it is empty?

[2020-07-07 01:42] joshmorel commented on #1039
I'm wondering if it has to something to do with key name case in F/E config vs everywhere else?. linkedin vs linkedIn  w capital I

[2020-07-07 05:23] omarzoghayyer commented on #1002
@nivetheatha I actually experienced the same issue. I wasn't able to post for a weird reason and I realized that I am missing the title.  Im going to share it with the team and see what approach we should take.

[2020-07-07 05:43] hellynyc opened #1054 "[Mobile Android] Feed | Comment | Send button placement is off (when phone display size is set to large-largest)"
Device/OS/Browser: OnePlus 7 Pro / OS10 / Chrome

Expected Result: The "Send" button should be on the right of the text field.

Actual Result: When the phone's display setting is set to large/larger/largest, the "Send" button moves to the bottom of the page.
![Screenshot_20200707-012015](https://user-images.githubusercontent.com/52841932/86720112-b3567500-bff2-11ea-8d83-adecd7e47f72.jpg)

[2020-07-07 05:44] hellynyc commented on #1054
Related to issue #1021

[2020-07-07 05:48] hellynyc commented on #1023
I realized this is the same issue as #948. Closing this ticket.

[2020-07-07 05:48] #1023 closed

[2020-07-07 05:49] hellynyc commented on #948
Related to #1023

[2020-07-07 06:26] hellynyc opened #1055 "[Mobile Android] Profile | Bottom half of the page is blank (after updating social media URLs)"
Device/OS/Browser: OnePlus 7 Pro / OS10 / Chrome

Steps to Reproduce:
1. Sign in as a user on [staging.fightpandemics.work](staging.fightpandemics.work)
2. Go to Profile page
3. Click on the pencil icon to edit Profile
4. Edit any one of these fields (Facebook, LinkedIn, Twitter, Github or Personal Website)
5. Click on the "Save Changes" button

Expected Result: User returns to the Profile page wi

[2020-07-07 06:28] hellynyc commented on #1055
Similar to issue #1023 & #948

[2020-07-07 06:55] vikjoshi commented on #1050
Definitely not ideal but reassigning to @doheekim93 and @ppagarawal to determine whether or not this is MVP-Critical

[2020-07-07 06:55] #1043 closed

[2020-07-07 07:04] #1031 closed

[2020-07-07 07:04] ppagarawal commented on #1050
@sheeba1 Please clarify if the like/unlike is for a post and not a comment. Can you please share a gif of the scenario replicating the bug. I could not replicate it.

[2020-07-07 07:28] nr431207 commented on #1039
aah that was it! thank you so much! took me hours to trace and check everything lol

[2020-07-07 07:29] hellynyc opened #1057 "Edit Profile: Add a "username" placeholder for social media URLs"
Adding a grayed out "username" placeholder for social media URLs could help users understand how to edit the fields better.

![Screenshot_20200707-023450](https://user-images.githubusercontent.com/52841932/86736679-b6a52d00-c001-11ea-8853-d68a135fcb21.jpg)

[2020-07-07 07:43] hellynyc opened #1058 "[Mobile Android] Profile | Website icon (for personal website) is missing"
Device/OS/Browser: OnePlus 7 Pro / OS10 / Chrome

Steps to Reproduce:
1. Log in as a user on [staging.fightpandemics.work](staging.fightpandemics.work)
2. Go to Profile page
3. Click on edit, and fill out Personal Website field, and click "Save Changes"

Expected Result: User returns to Profile page and sees website icon for personal website

Actual Result: User sees a smiley face for personal web

[2020-07-07 08:02] idjevm commented on #1058
This is a duplicate from #1043 and has been resolved already. Please check on staging (make sure you are in incognito/private or clean your cache and cookies).

[2020-07-07 08:02] #1058 closed

[2020-07-07 08:39] idjevm commented on #1039
Yeah lol looks like the schema on the backend expects `linkedin` and not `linkedIn`. Good catch haha

[2020-07-07 11:32] #1039 closed

[2020-07-07 11:34] idjevm commented on #888
This was resolved with #1056

[2020-07-07 11:50] #1032 closed

[2020-07-07 12:01] #882 closed

[2020-07-07 12:11] #1017 closed

[2020-07-07 12:29] nivetheatha commented on #1050
It works fine for android mobile.The post stays at same level even after liking the post.
![Screenshot_20200706-223748_Chrome](https://user-images.githubusercontent.com/41587211/86781284-af931480-c02b-11ea-814e-af6281821546.jpg)
![Screenshot_20200706-223727_Chrome](https://user-images.githubusercontent.com/41587211/86781320-b883e600-c02b-11ea-9985-79aa923f74bf.jpg)
![Screenshot_20200706-223618_Chr

[2020-07-07 12:49] idjevm commented on #539
Seems like this issue was a misunderstanding. The expected behaviour is to return you to the homepage if you refresh.

[2020-07-07 12:49] #539 closed

[2020-07-07 12:50] #916 closed

[2020-07-07 12:50] #917 closed

[2020-07-07 12:50] #1020 closed

[2020-07-07 13:57] #1024 closed

[2020-07-07 13:57] joshmorel commented on #1024
Closing. Some use of antd-mobile is okay but we need to be careful.

[2020-07-07 14:11] doheekim93 commented on #1045
Hey @Gtstride, sorry I missed 2 id's, could you add these, please?

| #  | Element on page | JSX 'id' attribute |
| --- | --- | --- |
| 47. | Quit Filters Button | HB_FI_QF |
| 48. | View Result Button | HB_FI_VR |

<img width="700" alt="Screen Shot 2020-07-07 at 9 06 15 AM" src="https://user-images.githubusercontent.com/66695502/86794089-b58bf400-c031-11ea-97f6-488b75ebd5d2.png">

[2020-07-07 15:04] doheekim93 commented on #1045
And also this one (only appears on the mobile page, not on desktop version):
| #  | Element on page | JSX 'id' attribute |
| --- | --- | --- |
| 49. | Need or give help text and + button <br>(and any clickable white space around) | HB_FI_RO |
<img width="200" src="https://user-images.githubusercontent.com/66695502/86800741-f6d3d200-c038-11ea-9fab-aea1a3012929.PNG">

[2020-07-07 15:26] #931 closed

[2020-07-07 16:07] nivetheatha commented on #1002
@omarzoghayyer ok

[2020-07-07 16:17] dabartlett commented on #1035
Examples - this is from "Create Organisation": https://staging.fightpandemics.work/create-organization-profile

![image](https://user-images.githubusercontent.com/67716598/86811243-8924a780-c032-11ea-9e7b-6f5fa8cac95a.png)

[2020-07-07 16:39] #1044 closed

[2020-07-07 16:45] dabartlett commented on #999
There are others places os mobile (IOS and android) where needs alignment: https://staging.fightpandemics.work/organization/5f04a4a9e2ee740013423bac

![image](https://user-images.githubusercontent.com/67716598/86813935-9abb7e80-c035-11ea-9242-a275e0f1e331.png)

https://staging.fightpandemics.work/
![image](https://user-images.githubusercontent.com/67716598/86814348-2503e280-c036-11ea-95bb-8b87801c

[2020-07-07 17:05] vikjoshi commented on #1020
@Sridevi2014 @idjevm , this looks great across both profile types and mobile web and desktop. Thank you!

[2020-07-07 18:13] dabartlett commented on #1021
it's cut off as soon as you click on profile as well: used IOS (6s) and Developer tool Galaxy S5

Steps to reproduce:

Pre-Requisite: Have already logged in

1 - Click on the 3 lines from the top right
2 - Click on profile

Current Result: Page is cut off
Expected Result: Page should fit into place:

![image](https://user-images.githubusercontent.com/67716598/86824292-cd1fa880-c042-11ea-84dc-47718

[2020-07-07 18:39] kaydeejay commented on #842
I've added the `{ useFindAndModify: false }` option to the query in `backend/lib/endpoints/posts.js`, but now when I try to 'like' a post on the UI, the request seems to go through successfully but the like icon does not change. Oddly enough, if I load the page and the post is already liked, I can 'unlike' it, but not 'like' it again. [Demonstration](https://imgur.com/PskFmAM)

[2020-07-07 18:39] galeza opened #1060 "[Mobile] About us | missing sponsor logos"
env: staging

**Seen on Chrome v.81**

Steps:
1. Open About us page
2. Go to the Our supporters sections. Logos are missing:
![Screenshot_2020-07-07-20-35-32-461_com android chrome](https://user-images.githubusercontent.com/21987083/86827164-f3b90000-c091-11ea-9b89-6f0d174c2f11.jpg)

[2020-07-07 18:43] idjevm commented on #1060
@galeza I think it is not that they are missing, but that they have not loaded yet. Can you please re test, and maybe wait for a bit? I think we have to find a solution to reduce the size of this page as it is quite heavy with all the pics and logos.

[2020-07-07 18:45] nivetheatha commented on #978
It's happening for android devices as well.

[2020-07-07 18:46] rabbi08 commented on #978
This issue also exist for Android, as the company location is overlapped by the company type as shown in below screenshot:

![image](https://user-images.githubusercontent.com/67168400/86827912-9193d700-c060-11ea-85da-5dc49192704f.png)

[2020-07-07 18:47] sheeba1 opened #1061 "Individual posts under My Profile missing ellipses for Edit/Delete"
Issue:  Individual posts under My Profile missing ellipses for Edit/Delete

Expected :Individual posts under My Profile  should have ellipses for Edit/Delete

Steps: Loginto http://staging.fightpandemics.work/

2. Go to Profile->Myprofile.
Individual posts do not show ellipses for Edit/delete

[2020-07-07 18:56] rabbi08 commented on #1060
@ppagarawal @galeza
Unable to reproduce the issue on iPhone n andriod devices:

![image](https://user-images.githubusercontent.com/67168400/86828980-e421c300-c061-11ea-8742-af7a2ac67558.png)

[2020-07-07 18:59] nr431207 commented on #1000
@ppagarawal is there a specific design for this?

[2020-07-07 19:06] ppagarawal commented on #1000
There is but in Figma. Unfortunately, my laptop is in trouble now. @vikjoshi @Yu-Alexa-Zhao can either of you please help here?

[2020-07-07 19:17] nivetheatha opened #1063 "Editing organization profile in Android mobile device(Half of the page is cut )"
Steps to create:
-Login with valid username,password.
-Go to the organization already created.
-click on Edit and select Edit profile.
-Half of the page is not fit into the screen.
![Screenshot_20200707-145538_Chrome](https://user-images.githubusercontent.com/41587211/86831523-fcdfa800-c064-11ea-9da1-add5f9919b1c.jpg)

[2020-07-07 19:22] nivetheatha opened #1064 "Comment on the post [Mobile-Android]"
Steps to create:
-Login with valid username,password.
-Go to feed.
-Click on comment.
-As you can see the enter button for comment is below the comment box.
![tempFileForShare_20200707-150116](https://user-images.githubusercontent.com/41587211/86832090-b8084100-c065-11ea-9e61-cd252f22a55b.jpg)

[2020-07-07 19:26] galeza commented on #978
As per @ppagarawal request I'm adding this comment.
Please get a line space between the footer and the last text on the Feed page

[2020-07-07 19:45] galeza commented on #1060
Hi @idjevm
I refresh a page but still nothing.
I have an impression that they are loaded.
I'm using chrome://inspect/#devices and remote debugging:

![icons](https://user-images.githubusercontent.com/21987083/86834431-1dc2f000-c09b-11ea-8f58-90fb293b612d.gif)

[2020-07-07 20:20] #973 closed

[2020-07-07 20:40] #1064 closed

[2020-07-07 20:41] nivetheatha commented on #1064
#1054 and this one are same.

[2020-07-07 20:55] nivetheatha opened #1066 "Edit Profile-[Mobile Android]"
Steps to create:
-Login with valid user name,password.
-Goto profile.
-Click on edit button.
-Select Edit profile.
-Half page is not displayed.
![Screenshot_20200707-164710_Chrome](https://user-images.githubusercontent.com/41587211/86842004-995c7700-c072-11ea-960a-52e2fb7e70f9.jpg)

[2020-07-07 20:59] idjevm commented on #1060
It might be an issue with this environment, @rabbi08, @sheeba1, @galeza, @hellynyc, @nivetheatha can you all go to https://staging.fightpandemics.work/about-us from your phones please? I think this is only on this environment.

[2020-07-07 21:07] hellynyc commented on #1060
@idjevm The sponsor logos load fine in staging on my androids (OnePlus 7 Pro & Google Pixel), both running OS10.

[2020-07-07 21:11] #442 closed

[2020-07-07 21:12] doheekim93 commented on #1050
@ppagarawal
I see it on my phone (iPhone XS and Chrome)
Note on video: I liked post titled "UK Parliament"

<img width="200"  src="https://user-images.githubusercontent.com/66695502/86843568-5b5c5480-c06c-11ea-9a5c-f1776119a2d5.gif">

[2020-07-07 21:13] idjevm commented on #1066
Closing this one as it is a duplicate of #1021, please add more info to that issue instead.

[2020-07-07 21:13] #1066 closed

[2020-07-07 21:14] galeza commented on #1060
@idjevm
No it's not environment. When I use my tablet samsung galaxy tab I see all icons.

[2020-07-07 21:16] galeza commented on #1060
![Screenshot_20200707-231448](https://user-images.githubusercontent.com/21987083/86844119-dabb4980-c0a7-11ea-8960-8484262382ba.png)

[2020-07-07 21:20] idjevm commented on #1060
Looks like this works fine in all devices @galeza, I think it is an issue only from this emulator or the tool you are using to test. Let's wait for @sheeba1, @nivetheatha, @rabbi08  to test out on their devices, and then we should decide whether to explore or just close this issue.

[2020-07-07 21:25] idjevm commented on #954
This was resolved with #1052! Thanks @sheeba1  for pointing this out :)

[2020-07-07 21:25] #954 closed

[2020-07-07 21:26] idjevm commented on #1063
This is a duplicate of #1055, please add any comments or more details there.

[2020-07-07 21:27] galeza commented on #1060
@idjevm
No, I test on a device.
It is a problem with a chrome browser. With 81 icons are not visible. I upgraded to version 83 and it works

[2020-07-07 21:29] galeza commented on #1060
![Screenshot_2020-07-07-23-28-50-698_com android chrome](https://user-images.githubusercontent.com/21987083/86845383-b6f90300-c0a9-11ea-884b-e3cb6f1d9b63.jpg)
![Screenshot_2020-07-07-23-28-43-994_com google android gms](https://user-images.githubusercontent.com/21987083/86845386-b7919980-c0a9-11ea-8ce2-5cd10ea14973.jpg)

[2020-07-07 21:31] idjevm commented on #1060
True! OMFG great catch! Just tested on my reg browser on my phone and they didn't load :O I will have to check why is that though !

[2020-07-07 21:45] sheeba1 commented on #954
verified

[2020-07-07 22:26] nivetheatha commented on #1060
@idjevm I can able to see the logos.Mine is Samsung Galaxy
![Screenshot_20200707-182409_Chrome](https://user-images.githubusercontent.com/41587211/86850467-5228b300-c07f-11ea-81b3-6591397b9df0.jpg)

[2020-07-07 22:31] nivetheatha commented on #1063
@idjevm its a different issue from 1055. While editing organization profile in mobile.As,you can see from the screenshot the display of content is half cut.

[2020-07-07 23:09] nr431207 commented on #852
#1067 also fixed this bug.

[2020-07-07 23:09] #852 closed

[2020-07-08 02:22] sheeba1 commented on #1060
@idjevm , working fine for me  iphone XR
![image](https://user-images.githubusercontent.com/65972693/86867122-1bef3180-c087-11ea-9718-4ea478f75b66.png)

[2020-07-08 02:30] sheeba1 commented on #931
Verified on mobile desktop

[2020-07-08 04:16] sheeba1 commented on #939
@BMariscal Thank you for all clarifications regarding the requirements.
@BMariscal @doheekim93 Tested on desktop and mobile. 'View more' starts after 123 characters. Let me know if any change is needed.

[2020-07-08 04:19] #1035 closed

[2020-07-08 04:19] todo[bot] opened #1069 "Maybe add search param in query string?"
https://github.com/FightPandemics/FightPandemics/blob/993368fff1b4976e94172e79920778fbfb4fc71e/backend/lib/endpoints/schema/organisations.js#L47-L52

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 993368fff1b4976e94172e79920778fbfb4fc71e when #1068 was merged. cc @FightPandemics.

[2020-07-08 04:50] BMariscal commented on #726
The infinite scroller is still jumping. This could be an option: https://github.com/danbovey/react-infinite-scroller

[2020-07-08 07:41] #908 closed

[2020-07-08 09:13] #992 closed

[2020-07-08 10:33] #1054 closed

[2020-07-08 11:55] #1036 closed

[2020-07-08 13:25] joshmorel commented on #904
I'll take this one on as I have bandwidth. Hope to have PR this morning.

[2020-07-08 13:54] joshmorel commented on #930
@Yu-Alexa-Zhao they won't show up in the feed. But the idea is to show them in under organization/user activity.

@vikjoshi  maybe displaying the expiry date for all posts somewhere would be helpful (for more than just this) and if it's expired it's highlighted red or something like that?

I can add a param - e.g. `includeExpired` once we are ready with a design.

[2020-07-08 14:07] #991 closed

[2020-07-08 14:20] #1001 closed

[2020-07-08 14:47] sheeba1 commented on #1050
@ppagarawal  I updated Description and Title of the bug with POST.(Not comment)

[2020-07-08 15:58] nivetheatha opened #1074 "Not able to view the selected post in feed by unsigned user [Mobile-Android]"
Steps to create:
-Go to Staging environment.
-Select Request help/Offer help.
-Select show me the posting from anywhere.
-Skip email id
-Select any post from the feed.
![Screenshot_20200708-114148_Chrome](https://user-images.githubusercontent.com/41587211/86941576-18ed5300-c112-11ea-9c6e-c160e97e956a.jpg)

[2020-07-08 15:58] joshmorel opened #1075 "Compress served frontend files"
A quick win to decrease file size (especially initial JS) for improved performance (particularly for wireless).

Some guides:
https://medium.com/@selvaganesh93/how-to-serve-webpack-gzipped-file-in-production-using-nginx-692eadbb9f1c
https://itnext.io/nginx-create-react-app-gzip-tripple-your-lighthouse-performance-score-in-5-minutes-627465c3f445

gzip is on for our nginx.conf but only for `text/pla

[2020-07-08 15:58] nivetheatha commented on #1074
We can able to see the selected post from feed when we are logged in.

[2020-07-08 16:37] joshmorel commented on #361
Compression is done - the easiest win and biggest impact to performance as I expected - #1076 .

We should break other items out into specific (lower priority) tickets and close this one.

1. Webpack chunk optimization
2. Importing SVGs instead of using img tag
3. Import fonts via CDN

[2020-07-08 16:40] joshmorel opened #1078 "Import SVGs instead of img src for improved performance"
From @robinv85 (#361 )

[2020-07-08 16:43] joshmorel opened #1079 "Serve fonts from CDN for improved performance (low priority)"
From @robinv85 (#361 ):

[2020-07-08 16:46] joshmorel opened #1080 "Investigate webpack chunk optimization to improve performance (low priority)"
Would require ejecting from create-react-app.

See here: https://web.dev/react/

After enabling compression our performance score (from https://developers.google.com/speed/pagespeed/insights/) is:

![image](https://user-images.githubusercontent.com/10546720/86946840-f7439a00-c118-11ea-8e5c-f87c234f6e76.png)

[2020-07-08 16:46] robinv85 commented on #1079
yeah not sure if the info that I posted before is still accurate at the moment

[2020-07-08 16:47] joshmorel commented on #361
Closing for:

PR/issue:
#1076 / #1075

Issues:
#1078
#1079
#1080

After these are done we can re-evaluate and look into further options.

[2020-07-08 16:47] #361 closed

[2020-07-08 17:14] joshmorel commented on #1079
Ah okay. @robinv85  feel free to edit the main comment or close this if not relevant.

Josh

[2020-07-08 17:18] rabbi08 commented on #1060
Working fine on iPhone 10, 11, ZTE Blade Max(Andriod), Mac with Chrome (Version 83.0.4103.116 (Official Build) (64-bit))

[2020-07-08 17:20] galeza commented on #1060
@rabbi08
It was seen for Chrome v.81

[2020-07-08 17:50] nivetheatha commented on #1074
Only old organization posts are not displaying. Other posts working fine.

[2020-07-08 17:52] idjevm commented on #1074
Yup this was affected by #1068. @BMariscal should we move the contents on the db from`organization` to `organisation`? or should we just have people create new orgs/posts?

[2020-07-08 17:52] #1074 closed

[2020-07-08 18:18] #904 closed

[2020-07-08 18:18] doheekim93 opened #1081 "GTM ID Fixes"
Please include all elements in component!

## Need Help Flow
### url path: /need-help
| Element on page | JSX 'id' attribute |
| --- | --- |
| Medical Help Button | RES1_MH |
| Other Help Button | RES1_OH |

### url path: /need-help#Step2
| Element on page | JSX 'id' attribute |
| --- | --- |
| "Share My Location" Button (including icon <br>and the entire clickable whitespace area) | RES2_SL |

##

[2020-07-08 18:52] joshmorel opened #1083 "improperly renamed Organizations in map-airtable-data"

[2020-07-08 19:02] nr431207 opened #1085 "Posts are not displayed after creation if the confirmation modal is closed"
#### Steps to recreate:
1) go to Feed/Help Board or Profile page or Org page
2) create a post
3) close the modal instead of clicking the `view post`
4) the post is not in the list of posts
5) refresh the page
6) the post is now in the list

#### Expected behavior:
post should be visible when the user closes the modal

#### Current Behavior:

![FightPandemics (2)](https://user-images.githubusercont

[2020-07-08 19:09] dabartlett opened #1086 "Offer Help [Mobile - IOS] - On "How do you want to contribute" if I click on "As a volunteer" the option moves down to the bottom"
On "How do you want to contribute" if I click on "As a volunteer" the option moves down to the bottom

Steps to Reproduce:

1 - Using Iphone (Safari only not chrome) Navigate to https://staging.fightpandemics.work/ ->igned in
2 - navigate to Offer Help
3 - On "How do you want to contribute" -> select first option "As a volunteer"

Current Result: Option moves down to the bottom
Expected Result: ch

[2020-07-08 19:10] nr431207 commented on #1085
@ppagarawal FYI

[2020-07-08 19:23] dabartlett opened #1087 "Offer Help [Mobile - IOS] - Cannot select all or delete the location"
Cannot select all or delete the location after retuning from step 3 of 3:

Steps to Reproduce:

1 - Using Iphone (Safari only not chrome) Navigate to https://staging.fightpandemics.work/ ->sign in
2 - Navigate to Offer Help
3 - Select any option from step 1 of 3
4 - Enter any location-> Select one of the options that appear on the bottom
5 - After it moves to steps 3 of 3, click on back to move to

[2020-07-08 19:48] rabbi08 commented on #1018
@BMariscal @idjevm
while validating this issue, it is not working in STG, hence reopening.
PR# 1067
https://share.getcloudapp.com/NQugBgWx

[2020-07-08 19:51] #1061 closed

[2020-07-08 19:58] lelecanfora opened #1088 "Send User ID to google tag manager (to use in analytics)"
To enrich Google Analytics we'd like to send user IDs for logged in users, via google tag manager.

We're currently using this module for GTM: https://www.npmjs.com/package/react-gtm-module

Please add the userId (when available) to the data layer for GTM to ingest as described in the module example.

The end result is that we can retrieve the User ID from the data layer in GTM and send it to GA (

[2020-07-08 19:59] joshmorel opened #1089 "Get AppStore & PlayStore icons/links working properly"
@vikjoshi - we require a design for icons to complete this fully.

Once that is done we can update the icons here.

* [x] Also `appleStore` should be `appStore` in the form - it's not updating B/E otherwise. (this specific issue is resolved with #1099 )

![image](https://user-images.githubusercontent.com/10546720/86963064-ece1ca00-c131-11ea-99a1-2f014742c197.png)

Affects also post page - see #103

[2020-07-08 19:59] #1083 closed

[2020-07-08 20:01] idjevm commented on #1088
Thanks for logging this issue @lelecanfora, but please add info and the right labels to it -> this might help -> https://github.com/FightPandemics/FightPandemics/wiki/How-to-%22Properly%22-create-a-ticket-%7C-new-issue-on-the-FightPandemics-repo

[2020-07-08 20:04] joshmorel commented on #842
Hey Kevin - this issue actually seems to be related to
________________________________
From: Kevin <notifications@github.com>
Sent: July 7, 2020 2:39 PM
To: FightPandemics/FightPandemics <FightPandemics@noreply.github.com>
Cc: Josh Morel <morel.josh@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [FightPandemics/FightPandemics] Mongoose findOneAndModify deprecation warning (low prio

[2020-07-08 20:08] joshmorel opened #1090 "Can't like a post after 1st signing up"
@kaydeejay I think this issue is related to #923

This endpoint doesn't work after signing up because the POST users/ returns `_id` as `_id` not `id`

[code]

I wish we had always sent back `_id` as `_id` instead of sometimes `id` but for now can you fix this one?

[2020-07-08 20:08] lelecanfora commented on #1088
Done, thanks

[2020-07-08 21:00] BMariscal commented on #1018
@rabbi08  it is working on staging when tested in Firefox but not on Chrome. Interesting. Can you check if it's working for you on Firefox?

[2020-07-08 21:05] rabbi08 commented on #1018
@BMariscal
I tested in FF, and its not working in FF too including chrome & safari

Please refer below GIF from FF:
https://share.getcloudapp.com/GGuodppd

[2020-07-08 21:17] BMariscal commented on #1018
thanks @rabbi08

I'll use the Window.history object instead since it seems document.referrer doesn't always work.

Thanks for letting me know!

[2020-07-08 23:05] #1081 closed

[2020-07-08 23:28] jyclam commented on #1063
I'm unable to re-create this with Chrome devtools mobile emulator, nor on my phone running Android 10 with Chrome 83.

@nivetheatha What device / Chrome version are you using?

[2020-07-08 23:34] #1019 closed

[2020-07-08 23:57] nivetheatha commented on #1063
@jyclam  I am using chrome 83,Samsung Galaxy.

[2020-07-09 01:52] rabbi08 opened #1094 "Onboarding User -> Offer Help -> Volunteer/Donor/Investor are redirected to individuals who request help and Org offering help redirects to Org requesting help"
1. Open "https://staging.fightpandemics.work/"
2. As an onboarding user -> non logged In
Offer Help -> As a Volunteer -> Share my location -> Skip

Issue# You will observe that the Posts are filtered on the basis of 'Geo Location' and 'Individual'
So, the post are filtered on the basis of 'Individual' and 'Organization' along with Geo Location.

This means, an Individual offering help is redirecte

[2020-07-09 02:15] kaydeejay commented on #1090
Sure thing, @joshmorel ! Happy to take a look at it.

[2020-07-09 10:13] robinv85 commented on #395
@joshmorel yeah so I remember adding that more detailed password validation for client-side validation in the forms.

I thought it was also asked by designers to show the validation rules below the text input when signing up, and not only show the error message if it's invalid. (so that is also "improving UX" for the password validation).

There are also mobile apps that should get the same valida

[2020-07-09 17:14] joshmorel commented on #1089
@vikjoshi @manualzuru @Yu-Alexa-Zhao  Or maybe we should use official badges instead???

They wouldn't look good inline with other social icons but maybe on another line?

https://lh3.googleusercontent.com/cjsqrWQKJQp9RFO7-hJ9AfpKzbUb_Y84vXfjlP0iRHBvladwAfXih984olktDhPnFqyZ0nu9A5jvFwOEQPXzv7hr3ce3QVsLN8kQ2Ao=s0

https://developer.apple.com/app-store/marketing/guidelines/images/badge-example-prefer

[2020-07-09 17:51] #1038 closed

[2020-07-09 17:52] todo[bot] opened #1096 "add once design is done"
https://github.com/FightPandemics/FightPandemics/blob/237d9af18ab7a2dd5452a41c3e110846ea648f2c/client/src/components/Feed/Post.js#L47-L52

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 237d9af18ab7a2dd5452a41c3e110846ea648f2c when #1073 was merged. cc @FightPandemics.

[2020-07-09 18:23] sheeba1 commented on #1061
verified profile individual posts on  desktop and mobile

[2020-07-09 20:17] nivetheatha opened #1097 "Location filter not fit into the screen[Mobile-Android]"
Steps to create:
1.click on view help board.
2.click on location.
3.If we open keypad while trying to provide the address manually.The location box is cut on top.Not able to track what we are typing.
![Screenshot_20200709-111749_Chrome](https://user-images.githubusercontent.com/41587211/87086338-71e6e500-c1ff-11ea-8b15-7a529a15e19b.jpg)
![Screenshot_20200709-111757_Chrome](https://user-images.gith

[2020-07-09 20:32] joshmorel opened #1098 "Organization profile urls.appStore misspelled"
Currently `appleStore` on F/E.

[2020-07-09 20:46] #1098 closed

[2020-07-09 20:53] joshmorel commented on #1097
Hi @nivetheatha . What specific device, browser and even keyboard app are you working with? I could not recreate in dev tools or my own phone (Samsung Galaxy A20, Chrome as well as Samsung browser, Samsung keyboard)

[2020-07-09 20:54] joshmorel commented on #1096
Duplicate of #1089

[2020-07-09 20:54] #1096 closed

[2020-07-09 21:01] nivetheatha commented on #1097
@joshmorel I am using Samsung Galaxy, chrome browser 83,Samsung keyboard.

[2020-07-09 21:02] joshmorel commented on #1097
Thanks @nivetheatha . I'll look more into it  tomorrow

[2020-07-09 21:04] nivetheatha commented on #1097
@joshmorel let me know if you are not able to recreate it.

[2020-07-09 21:23] joshmorel commented on #395
@robinv85 My rationale was to have a backend specific issue since the F/E seems to be addressed.

[2020-07-09 21:24] joshmorel commented on #1075
Resolved by #1076

[2020-07-09 21:24] #1075 closed

[2020-07-09 21:38] nivetheatha opened #1102 "Unsigned user not able to view the long posts on the feed redirects to sign in page"
Steps to create:
1.Click on view help board.
2.If user wants to access the long post(so he has to click on view more).
3.It redirects to sign in page.
![Screenshot_20200709-120241_Chrome](https://user-images.githubusercontent.com/41587211/87093200-d2c7ea80-c20a-11ea-97ef-c379e0776b1e.jpg)
![Screenshot_20200709-120248_Chrome](https://user-images.githubusercontent.com/41587211/87093226-dc515280-c20a

[2020-07-09 21:43] idjevm commented on #1102
This is not an issue. This is an expected behaviour. They can have a preview of the post but they cannot interact, view completely, or comment on it without joining / signing in. @manualzuru can explain this better though 🙏

[2020-07-09 21:43] #1102 closed

[2020-07-09 22:01] nivetheatha commented on #1102
@idjevm oh ok thanks for explaining.

[2020-07-10 00:32] natasoz27 opened #1104 "My pofile|Create a Post|Like button doesnt work [Desktop]"
Environment:
OS X Yosemite/ Firefox
Steps to reproduce:
1. Navigate to sign in page
https://staging.fightpandemics.work/auth/login
2. Sign in
3. Navigate to your profile
4. Create a new individual post
5. Click on View you post
6. Click on like button
Expected result:
Heart icon should change the color, and number of likes should change
Actual result: nothing changed
![Screen Shot 2020-07-09 at 8

[2020-07-10 01:22] #1007 closed

[2020-07-10 01:22] #1026 closed

[2020-07-10 02:22] idjevm commented on #1104
This is a duplicate from #914. Please if you have any other thoughts, add them there. Also there is a PR already open #834  to try to resolve this issue.

[2020-07-10 02:22] #1104 closed

[2020-07-10 03:01] #1094 closed

[2020-07-10 05:50] tejasm2 opened #1106 "[Desktop][Mobile] Back button disappears when clicked on the comment icon in a post."
As a user,
Given that I open a post either from the feed or from my activity,
Then the back button should always be visible.

Currently,
When a post is opened and if I click on the comment button, then the back button disappears. But ideally the back button should always be visible when a post is opened.

![Back button not visible](https://user-images.githubusercontent.com/66698276/87120838-0ce2cc

[2020-07-10 05:57] tejasm2 opened #1107 "[Mobile] The "+" icon on feed is very small in mobile version."
The "+" icon on the feed is very tiny in the mobile version.

![Create post icon small](https://user-images.githubusercontent.com/66698276/87121194-dfe2e900-c29f-11ea-951a-38e500974cc2.gif)

[2020-07-10 07:16] nadinejuraschek commented on #1107
I'll work on this once I get the .env variables. I currently can't see the feed :)

[2020-07-10 12:31] idjevm opened #1108 "Add SendGrid config to terraform file"
@mannykary has already added the secrets to the store, now we just need to modify the `main.tf` file to be able to pull those secrets from the aws store

[2020-07-10 13:55] nadinejuraschek opened #1113 "Footer links alignment / layout"
- footer links are not centered or laid out well

<img width="284" alt="Screen Shot 2020-07-10 at 3 53 49 PM" src="https://user-images.githubusercontent.com/53962732/87161960-90afaf00-c2c5-11ea-86a9-39978cd9dd46.png">

[2020-07-10 16:08] dabartlett opened #1116 "Feed [Mobile] Feed page title has been changed to "Help Board" on desktop, but not on mobile"
Feed page title has been changed to "Help Board" on desktop, but not on mobile

Steps to Reproduce:

1 - Using a mobile device or developer tool navigate to staging (I used iphone 6s and developer tool (Moto G4, Galaxy S5, Iphone, 7,8 and X)
2 - Navigate to Request Help -> 1 of 3 - select any option -> 2 of 3 - enter address or share my location -> 3 of 3 skip

Current Result: Title is "Feed'
Expe

[2020-07-10 17:05] #1108 closed

[2020-07-10 17:26] #1116 closed

[2020-07-10 18:17] dabartlett commented on #1116
Re- tested and it is good now. Thank you,

[2020-07-10 18:47] #761 closed

[2020-07-10 18:47] #914 closed

[2020-07-10 19:16] idjevm commented on #1090
@joshmorel so if I refresh it works, doesn't it have to do with state or something like that?

[2020-07-10 19:20] joshmorel commented on #1090
@idjevm No it's because of the data sent from the backend. After creation the user object has _id where as get current user (called on refresh) it's id

Renaming _id to id in some routes was a mistake imho

[2020-07-10 19:23] idjevm commented on #1090
aaaaht that makes sense. :O Damn hopefully we can get this done soon @kaydeejay, let us know if you have any questions

[2020-07-10 20:56] kaydeejay commented on #1090
Will do @idjevm , I plan to spend a good of time on this tomorrow and Sunday morning (EST). I'll reach out to you or @joshmorel if I have any questions. Thanks!

[2020-07-10 21:08] nivetheatha opened #1118 "[Mobile-Android]While clicking on Particular person's profile from feed not able to view the content fully."
Device used:Samsung Galaxy on staging,Google chrome.
Steps to create:
1.Login with valid user name,password.
2.Select request help.
3.Select medical help.
4.Skip Email.
5.Choose location New York,NY,USA.
6.From feed click on 'Sourced by FightPandemics (Community)' profile.
7.This particular page takes lot of time to load.Its not showing any loading circle/pop up message (ex: loading please wait).

[2020-07-10 21:09] dabartlett opened #1119 "Help Board [Mobile - IOS] Location filter is not displaying address options to select after a zip code, Address or City is entered"
Location filter is not displaying address options to select after a zip code, Address or City is entered

Steps to Reproduce:

1 - Using mobile Iphone 6s (works fine on developer tool), navigate to staging
2 - Request or Offer Help> select arrow to pass steps 1 2 and skip 3
3 - On Help Board click on location filter + icon
4 - Enter a zip code or address or City

Current Result: address options do

[2020-07-10 21:10] pooji02 opened #1120 "Organisation names with long names is displayed/extends beyond the space allocated [DESKTOP] [MOBILE]"
**Environment** : https://staging.fightpandemics.work/

**Steps to reproduce**
1. Create an organisation whose name is more than 25 characters

2. After successful creation of organisation profile -> go to org profile ->Click on Create a post - > click Organisation
                                                            OR
Help Board - > Post Creation ->continue posting as : Organisation

3.

[2020-07-10 21:36] pooji02 commented on #1085
This issue also happens when after post creation -> go back to the profile who created the post-> under activity doesn't display the new post created , only after refreshing the post is visible in the activity feed.
I believe this issue is a known one @idjevm

[2020-07-10 21:38] nr431207 commented on #1085
@pooji02 yes thats correct, is basically happens anywhere the post gets created  👍

[2020-07-10 22:43] todo[bot] opened #1121 "update backend to keep track of what user submitted feedback and save it in the ..."
https://github.com/FightPandemics/FightPandemics/blob/2e0f7a3b908dc26619e39968fda905ad307881a9/backend/lib/endpoints/feedback.js#L10-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2e0f7a3b908dc26619e39968fda905ad307881a9 when #623 was merged. cc @FightPandemics.

[2020-07-10 23:47] joshmorel commented on #1119
@dabartlett what browser are you using? If it works on dev tools but not your phone it might be a JS feature not supported by the browser.

[2020-07-11 13:58] joshmorel commented on #1097
Hi @nivetheatha  - couldn't reproduce in dev tools because they don't pop up a keyboard.

Couldn't reproduce in my own phone because it must be greater in height than yours. Do you know your screen height (or which specific samsung model)?

Are you able to scroll the screen back up to view the input? Just trying to figure out how critical it is... It would affect a subset of devices with a small s

[2020-07-11 15:01] joshmorel opened #1123 "Logged off like redirect not working"
This seems to only "like" the post if you visit /feed directly after logging in. Here I visit profile 1st and it's not working:

![like-redirect-not-working](https://user-images.githubusercontent.com/10546720/87226977-8fce5a00-c365-11ea-8628-e24606200cae.gif)

I think we should redirect after log-in to /post/:id directly similar to clicking comment button. Thoughts @ppagarawal ?

I'm not sure if t

[2020-07-11 15:17] ppagarawal commented on #1123
Good catch @joshmorel 👏

[2020-07-11 16:41] pooji02 opened #1124 "Able to enter characters, special characters and negative numbers under Age field in feedback screen [DESKTOP] [MOBILE]"
**Environment:**   https://staging.fightpandemics.work/

**Steps to reproduce:**

- 1. Click the feedback icon top right when not signed in or the feedback option under hamburger menu when signed in
- 2. Select options and enter values in screen 1 and screen 2 .
- 3. Under screen 3  What is your age ? question . I am able to enter  only  the below other than numbers strangely.

1. " e " character

[2020-07-11 17:01] pooji02 commented on #1124
Update : After submitting a value other than a number or just leaving the age field blank **ONLY for the first time** I am thrown the error saying " Could not submit feedback reason: body.age should be integer. While submitting a feedback for the **second time** or more on the same device if i follow the same procedure I am not getting the error message.

[2020-07-11 17:03] pooji02 commented on #1124
![IMG-20200711-WA0000~2.jpg](https://user-images.githubusercontent.com/5065427/87229555-e42e0580-c376-11ea-9a55-71c845d2032d.jpg)

[2020-07-11 17:07] rabbi08 opened #1125 "FEEDBACK: Error message need to be specific when AGE field is NULL"
1. Open "https://staging.fightpandemics.work"
2. Click on EMAIL icon on homepage, to provide FEEDBACK
3. Provide Ratings -> Enter details in Feedback form -> Do NOT enter age or select anything
4. Click on 'Submit FeedBACK' button

Issue: You will observe that error is displayed as :
Could not submit feedback, reason: body.age should be integer
<img width="1280" alt="Screen Shot 2020-07-11 at 12 5

[2020-07-11 17:29] rabbi08 opened #1126 "FEEDBACK- The 'Thank you!' message needs to be more appropriate"
1. Open "https://staging.fightpandemics.work"
2. Click on EMAIL icon on homepage, to provide FEEDBACK
3. Provide Ratings -> Enter details in Feedback form -> enter valid age & select option
4. Click on 'Submit FeedBACK' button, 'Thank You!' message is displayed in the pop up.

Issue#: You will observe that the 'Thank You!' statement contains statement "help us help you and others'

Ideally, this f

[2020-07-11 17:44] rabbi08 commented on #1126
Also, as a suggestion the FP logo in 'Thank You!' pop up window should be clickable and lands on FP home page.

[2020-07-11 17:47] rabbi08 commented on #1125
This issue is displayed on Mac but is not displayed on iPhone, hence it don't initialize the radio buttons present in the FEEDBACK pop up i.e. previously selected options, remains selected when user clicks on FEEDBACK option again.

[2020-07-11 19:01] joshmorel opened #1127 "Update deployment branches - production, staging"
`staging` will be replace `master` as main target branch and deploy to `staging` environment

`production` will be new and deploy to `production` environment

[2020-07-11 19:20] nivetheatha commented on #1097
@joshmorel  Mine is Samsung Galaxy s8 and height of the phone is 5.8 inch.
Not able to scroll up to view the location.
Ok will rename it .

[2020-07-11 19:26] #1045 closed

[2020-07-11 19:41] joshmorel commented on #1097
Thanks @nivetheatha

My viewport device height is 892px while yours is 740px which is actually similar to a lot of phones. Keyboard size factors in here as well. Not sure how iPhone works out here - do you have one or another QA?

Maybe we need something like Browser Stack to more easily troubleshoot these kinds of things...

[2020-07-11 19:46] jessica-lau opened #1129 ""Check your inbox" heading out of alignment after signing up for an account [DESKTOP]"
Environment: https://staging.fightpandemics.work/

Steps to reproduce:
1.  Go to https://staging.fightpandemics.work/
2. Click "Join Now" and enter info in email, password, and confirm password fields. Click "Join Now".
3. User will be redirected with a "Check your inbox message".

Actual results:
The "Check your inbox" heading is aligned above the message towards the right.

Expected result:
The

[2020-07-11 20:38] mannykary opened #1130 "Document git branch/merge process"
Create a draft document in Github

Related: #1127

[2020-07-12 01:38] mannykary commented on #1130
Preliminary thoughts from Slack. Not yet finalized.

I envision that we will be getting rid of the master branch and instead have a production branch which would reflect what is deployed to the production environment, and a staging branch which would reflect what is deployed to the staging environment. The feature/* branches deploy to dev/qa environments.

I think after a PR is approved for a feat

[2020-07-12 02:06] mannykary commented on #1130
A thought: we could make the `staging` branch stable - so we don't merge in `feature/*` branch code directly into `staging` but rather into a `rc/v*` branch. The `rc/v*` branch will have its own review build (we'd need to add a branch matcher for this). Then when we are about to do a release to production, we first merge the `rc/v*` branch to `staging` to deploy to staging, and regression test in

[2020-07-12 04:17] nr431207 commented on #804
@idjevm Ive checked and this issue doesnt exist any more, can you also double check and close this ?

[2020-07-12 04:56] omarzoghayyer commented on #1125
I didnt see the issue on mac/chrome.

[2020-07-12 09:58] idjevm commented on #804
Yup that's right. I think it was not closed cuz it was not linked to the PR. Thanks for checking!!

[2020-07-12 09:58] #804 closed

[2020-07-12 13:05] #1106 closed

[2020-07-12 17:10] rabbi08 commented on #1125
@omarzoghayyer
I too can't reproduce the error, but that's the reason that the previously selected radio button is selected by default the next time too. Will look into this little more and will update also, will close it in case

[2020-07-13 02:25] #1126 closed

[2020-07-13 02:45] #929 closed

[2020-07-13 04:25] hellynyc opened #1134 "[Mobile] Feed | Create post "+" button is too small"
Device/OS/Browser/Env: OnePlus 7 Pro / OS10 / Chrome 83 / Staging

Steps to Reproduce:
1. Log in and go to "Help Board"

![Screenshot_20200712-235754](https://user-images.githubusercontent.com/52841932/87270753-15a1f080-c49f-11ea-9d35-c1f6e0cbe338.jpg)

[2020-07-13 04:44] hellynyc commented on #1097
@joshmorel here are my testing results. let me know if you need screenshots.

OnePlus 7 Pro / viewport 412 x 892 - Only the word "Location" is cut off. Still can see what I'm typing.
Google Pixel / viewport 360 x 640 - Same issue. Can't see the editing field.
iPhone XR / viewport 414 x 896 - No issue. Everything is visible.
iPhone 6S Plus / viewport 414 x 736 - No issue. Everything is visible.

[2020-07-13 04:56] idjevm commented on #1134
This is a duplicate of #1107, and it is not MVP - Critical. Please add more info to the mentioned issue. Thanks.

[2020-07-13 04:56] #1134 closed

[2020-07-13 05:32] BMariscal opened #1135 "Remove .DS_Store from repo and add to .gitignore"
https://github.com/FightPandemics/FightPandemics/blob/rc/v1.1/.DS_Store

[2020-07-13 14:28] joshmorel commented on #1097
Thanks @hellynyc that's enough info for us to work on this.

[2020-07-13 15:54] joshmorel opened #1137 "Feed filter "offer or request help" not working [Mobile]"
It is adding this to `filter={"offer or request help"%3A["Offer Help"]}` instead of `objective=request` or `objective=offer` as in Desktop sidebar. The result is no filter is applied (both are sent back).

Filter from onboarding does work however.

FYI @ppagarawal @pthoma14  . Not sure with code freeze how we are deciding what should be done as hotfix or not and how to label.

[2020-07-13 16:11] pthoma14 commented on #1137
@joshmorel great point.
1. Maybe we can first define what a hotfix would be vs. not.
2. Then we could potentially use "hotfix" as a tag.

[2020-07-13 16:13] #1107 closed

[2020-07-13 16:40] sheeba1 commented on #1097
iphone XR is good

[2020-07-13 16:48] nr431207 commented on #1120
@ppagarawal @idjevm do you guys know if there should be a count limit for org names?

[2020-07-13 16:49] joshmorel commented on #1097
I'm going to tweak the spacing so it works on most devices ("Location" header may be cut off for smaller ones with large keyboards). I have an idea for a more comprehensive solution but I need input from design (I will ask in slack channel).

[2020-07-13 16:50] ppagarawal commented on #1120
@vikjoshi Can you please help here?

[2020-07-13 16:52] galeza commented on #821
Screen design:
https://www.figma.com/file/4cV84H1jyMo0rJEAl3HNnJ/FightPandemics-landing-page?node-id=12174%3A45410

[2020-07-13 16:53] galeza commented on #821
hi @pthoma14

We have both screens design. Please prioritize this issue.
Thank you,
Agnieszka

[2020-07-13 16:57] galeza commented on #821
Hi @pthoma14

Please prioritize. It's just a text to change for desktop. Currently we have a text: We just emailed a link to galeza_agnieszka@gmail.com. Click the link to confirm your account and complete your profile. If you don't see a message within a few minutes please check your spam folder.
We should have:
![Screen Shot 2020-07-13 at 18 56 50](https://user-images.githubusercontent.com/219870

[2020-07-13 16:59] galeza commented on #821
The same for mobile: Text should be changed.
Text is here:https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed562d60bba151f41673497

[2020-07-13 17:01] pthoma14 commented on #821
Hi @galeza thanks for the tagging me. I'll discuss with the product team on the best way to prioritize this issue.

[2020-07-13 18:18] idjevm commented on #1137
👀 Ohh damn, was this perhaps introduced by one of my changes? 🤔 Can I take a look at this one @joshmorel ?

[2020-07-13 18:24] #1113 closed

[2020-07-13 19:24] rabbi08 opened #1140 "While adding social media links special character '/' should also be allowed."
1. Open "https://staging.fightpandemics.work"
2. Login using valid email/password
3. Click on 'Profile' -> select Org-> 'EDIT Profile icon'
4. Click 'EDIT Profile'
5. EDIT the Organisation Linkedin/twitter link [as shown in below screenshot]

Issue: You will observe that:

Following errors are displayed if there are max characters or special character like '/'
- Invalid entry: only alphanumeric ch

[2020-07-13 19:47] #1120 closed

[2020-07-13 19:55] vikjoshi commented on #1140
@rabbi08 - I do not think you can have company/fight pandemics in the url because they dont allow for / in setting the public URL. So I actually do not think that needs to be modified.

We definitely should not have a character limit though if twitter and linkedin do not have one

[2020-07-13 20:07] rabbi08 commented on #1140
@vikjoshi Actually on linkedin every company URL is like this
company/google/

Below are the examples/reference of the linkedin links of the Organizations:

https://www.linkedin.com/company/google/ [Complete URL]
so if we do not enter 'company/......' the link don't work

https://www.linkedin.com/company/time/
https://www.linkedin.com/company/fightpandemics/
https://www.linkedin.com/company/cisco/

[2020-07-13 20:18] jyclam opened #1141 "StyledComponent called in PostSocial component"
Console error when editing profile.
[code]

[2020-07-13 20:37] joshmorel opened #1143 "Hide post.author.location coordinates & address"

[2020-07-13 21:01] vikjoshi commented on #1140
Ahh @rabbi08 thanks, so I guess the public url link settings are different for org vs individual.

@jyclam, looks like you assigned yourself to this- thank you! Lets make the following changes:

1.  Go ahead and update the permissions here to allow for '/' and remove from the linkedin URL, it should be: https://www.linkedin.com/

2. Lets remove the character max limit on all fields for now

3. For

[2020-07-13 21:03] vikjoshi commented on #1140
FYI- @joshmorel and @idjevm this is needed for soft launch

[2020-07-13 21:10] jyclam commented on #1140
@vikjoshi Noted, will do

[2020-07-13 21:29] rabbi08 commented on #1140
@jyclam @idjevm
As stated by @vikjoshi please fix google and apple links, as per example I got for google play store:

Sample test URL for google play:

https://play.google.com/store/apps/developer?id=Mutual+Aid
and again issue with ? =
Invalid entry: only alphanumeric characters are allowed

So I think special characters should be allowed, don't have sample TEST URL for apple.

But reference URL

[2020-07-13 21:39] jyclam commented on #1140
@rabbi08 noted, thanks for details

[2020-07-13 21:40] nivetheatha opened #1145 "Able to create organisation profile with same name,same address,same type of industry."
Steps to create:
1.Login with valid user name and password.
2. Go to profile.
3.Create a new organisation profile with the same name,same address,same type and industry of the organisation already exist.
Expected result:
It should not allow user to create duplicate organisation profile.
Actual result:
It allows user to create duplicate profiles.
![Screenshot_20200713-161659_Chrome](https://user-im

[2020-07-13 21:41] pooji02 commented on #1126
As I am testing the feedback feature can you let me know what was the agreed final text to be displayed on clicking submit feedback

[2020-07-13 21:43] rabbi08 commented on #1126
This issue is fixed in "rc/v1.1" not in STG. It is working as it was before.

[2020-07-13 23:09] doheekim93 opened #1147 "GTM ID's not showing up"
**How to set up GTM debugging on Local: [https://www.notion.so/fightpandemics/GTM-Debugging-on-Local-68eba58926a445cc9e2447843bdef255](https://www.notion.so/fightpandemics/GTM-Debugging-on-Local-68eba58926a445cc9e2447843bdef255)

The following IDs have already been assigned to the correct components. Issue is that GTM does **not** pick up on these IDs.

### 1. Filter Categories (url path: /feed)

[2020-07-14 00:15] BMariscal opened #1148 "Let users deactivate/delete their accounts"
Task should process account deletion requests where all posts and account-related information is deleted.

[2020-07-14 00:17] BMariscal opened #1149 "Let users delete an organisation"
Deletes organisation and all posts created by the organisation

[2020-07-14 00:19] dabartlett commented on #1118
Same happens on IOS

[2020-07-14 00:34] vikjoshi commented on #821
Hi @galeza , I tried to test this and it is working as expected for me.

See below for screen I am seeing:
![image](https://user-images.githubusercontent.com/41554004/87367180-24d07f00-c52f-11ea-94fa-3fd7a86b66e3.png)

[2020-07-14 03:10] mannykary opened #1151 "Redirect prod subdomains to fightpandemics.com"
We want to redirect any random subdomain like thisobviouslyisntarealsubdomain.fightpandemics.com and www.fightpandemics.com to fightpandemics.com.

[2020-07-14 04:04] omarzoghayyer commented on #1129
Hi @jessica-lau  - I am unable to reproduce the issue. Can I ask what browser or environment are you using?

<img width="1440" alt="Screen Shot 2020-07-13 at 9 02 54 PM" src="https://user-images.githubusercontent.com/49251966/87382619-3aa06d00-c54c-11ea-8534-94d851c780ac.png">

[2020-07-14 05:15] rabbi08 opened #1152 "Individual user profile create page- 'Privacy Policy/Terms and Conditions' doesn't open first time."
1. Open "staging.fightpandemics.work"
2. Sign up as new user say 'Linkedin User'
3. On User profile creation page:
- Click 'Privacy Policy' OR
- Click 'Terms and Conditions'

Issue: You will observe that FP home page OPEN in new TAB rather than privacy policy page, when user clicks on either 'Privacy Policy' or 'Terms and Conditions' initially. The second clicked options and later works as expecte

[2020-07-14 05:19] rabbi08 opened #1153 "'FightyPandemiccs' logo on 'Individual User profile create' page should be clickable."
1. Open "staging.fightpandemics.work"
2. Sign up as new user say 'Linkedin User'
3. On User profile creation page, scroll over 'FP' logo present in top left corner.

Issue: you will observe that FP logo is NOT clickable

[2020-07-14 05:42] galeza commented on #821
Hi @vikjoshi

No it's not correct. Please look carefully at the text message: Click the link to confirm your account and complete your profile. If you don't see a message within a few minutes please check your spam folder.
This is a text and screen for Sign-up! : https://staging.fightpandemics.work/auth/verify-email

Here user doesn't have to complete Profile, confirm account. He/She should see: R

[2020-07-14 05:46] rabbi08 opened #1154 "When ANY user click to view profile of deleted User-> error is displayed."
1. Open "https://staging.fightpandemics.work"
2. Onboarding User -> Click on 'Offer Help' -> Volunteer
3. Enter zip code as '08536' -> skip

Issue: Most probably you will view the POST by the user having logo as 'NS' -> Click on this user logo to view the profile.
Below error is displayed:

Failed loading profile, reason: Not Found

Hence, this issue exist if user profile is deleted but the POST o

[2020-07-14 05:55] rabbi08 opened #1155 "User Friendly message should be displayed -> if the shared post is Deleted and viewed -> after sharing."
1. Open "https://staging.fightpandemics.work"
2. Login using valid email/pwd
3. Share own post using 'Share'

Test data - https://staging.fightpandemics.work/post/5f0d4323632a6c00124017c4 [link of shared post]

The post will shared successfully i.e. can be viewed from other phone or browser or so.

4. Now, delete the above shared post:

Issue: The shared link will not work and will be stuck in 'Lo

[2020-07-14 07:02] phuclb commented on #677
This is because of wrong color for border:
<a.am-button> uses rgb(66, 90, 242) while its pseudo (:before) uses #108ee9

Replace one by the other will fix the issue.

[2020-07-14 12:10] joshmorel commented on #1154
Hi @rabbi08 - Right now there is no mechanism to delete users or organizations through the app. If we do manually in the DB then we should also delete posts I guess... (I will do so now for)

However, as a fallback, we have an issue to create a 404 page #1000 . If a user/ID , post/ID etc is not found we should redirect to that page (once it is created).

Later if we give users an ability to delete

[2020-07-14 12:12] joshmorel commented on #1155
I'm not sure if we should have a specific message or redirect to 404. Thoughts @ppagarawal ?

[2020-07-14 12:51] ppagarawal commented on #1155
For such scenarios, we need to let the user know that the post has been deleted. This will be different from 404 message. Please update the user with a message "This post has been deleted.
Check our help board for more posts"
Embed a link on the helpboard to the helpboard.

@Yu-Alexa-Zhao it'll be good to create a new page design for such use cases.

[2020-07-14 13:27] jessica-lau commented on #1129
Hi @omarzoghayyer I was using the staging environment on Chrome v83.0 on Windows10. However, I just rechecked this issue by doing another sign up process and everything seems to be looking good now.

[2020-07-14 13:29] jessica-lau commented on #1129
This issue can be closed.

[2020-07-14 13:59] pooji02 opened #1157 "The FEEDBACK-END screen does not disappear after 3 seconds [DESKTOP] [ MOBILE]"
**Environment:**  https://staging.fightpandemics.work/

**Expected  Results:**  System visualizes **FEEDBACK-END** screen which disappears after 3 seconds.

**Actual Results:** The FEEDBACK-END screen does not disappear after 3 seconds

**Screenshots :**

**MOBILE**
![image](https://user-images.githubusercontent.com/5065427/87433686-9eac4b00-c5b7-11ea-8929-82272c888dab.png)

**DESKTOP**
![image](h

[2020-07-14 14:39] pthoma14 commented on #1157
Thank you @pooji02, I'll review this issue for MVP-Release 1

[2020-07-14 14:54] pthoma14 opened #1158 "User Privacy Settings"
**As a** user,
**I want** to decide what I display in my user profile
**so that** I can keep some personal information private.

**Acceptance Criteria:**

(Coming Soon)

[2020-07-14 15:23] joshmorel commented on #1143
Resolved by #1144

[2020-07-14 15:23] #1143 closed

[2020-07-14 15:37] doheekim93 commented on #1088
Hey @indirabhowmick, can we get this implemented for the soft launch?

[2020-07-14 15:48] joshmorel commented on #1097
@nivetheatha @hellynyc  can you test on this branch - https://featureimprove-filters-height-responsiveness.fightpandemics.xyz/feed

I checked in free version of BrowserStack and it seems like it will be okay. The smaller devices might have "Location" label cut off but you can still type.

A longer term solution - I asked for input on my idea in design channel https://fightpandemics.slack.com/archi

[2020-07-14 16:00] hellynyc commented on #1097
@joshmorel I tested on the same 4 devices mentioned above, and it looks good. Like you said, it cuts off slightly on the smaller device, but still can see what I'm typing.

[2020-07-14 16:01] vikjoshi commented on #821
Ahh yes thank you @galeza , I was looking at your first post and thought the issue was you were not seeing any text. Got it!

@idjevm or @joshmorel- quick update to the text on Recover Password Screen once the email is sent. Currently, it shows what we show for create profile

Current State:
![image](https://user-images.githubusercontent.com/41554004/87448347-90a6fc00-c5b0-11ea-9e5a-a1b9c00f35e3.p

[2020-07-14 16:16] nivetheatha commented on #1097
@joshmorel Only word location is cut off.I can able to track what I am typing.
![Screenshot_20200714-121303_Chrome](https://user-images.githubusercontent.com/41587211/87449961-e046f100-c5cb-11ea-9ad7-ae26b7b37e34.jpg)

[2020-07-14 17:04] dabartlett opened #1161 "Create New Organisation - Replace wording on button after the Organisation profile is created from "Check the feed" to "Check the Help Board"."
Create New Organisation - Replace wording on botton after the Organisation profile is create from "Check the feed" to "Check the Help Board".

Steps to reproduce:

Pre-requisite: User is logged in

1) In stagig from Help Board, click on plus icon
2) Select "Organisation"
3) "Create New One"
4) Enter Organisation name, contact email (not used yet), address, select any option under "what are you loo

[2020-07-14 17:45] dabartlett commented on #1021
One more item to note, I see Linkedin and other logos in Zeplin that are not displayed on profile:

![image](https://user-images.githubusercontent.com/67716598/87458596-12058b00-c5bf-11ea-89be-9ee9d7981ead.png)

[2020-07-14 18:15] joshmorel commented on #821
@vikjoshi @galeza - this is fixed you can check it out here
https://featurecorrect-password-change-content.fightpandemics.xyz/auth/check-email

I needed to re-use the verify-email page for this so I renamed the path to `check-email` as it works for both. All our auth pages for login etc need to be refactored. It's become a bit of a mess. We really should have one page per path with common componen

[2020-07-14 18:17] joshmorel opened #1164 "Refactor auth pages structure"
Right now we have one page `Login.js` that is used for many different paths. This has become overly convoluted and hard to work with.

More ideally we would have one page per path but a lot of common components so the layout is consistent across them.

So we'd have `components/Auth` with all the components.

`pages/Auth` with the related pages (one per path).

[2020-07-14 18:27] sheeba1 opened #1165 "Iphone XR not displaying dropdown list with location data"
Issue : On my Iphone XR , as I enter location data (for Ex: zipcode), drop down list with related data not showing up.
steps:(on safari)
1.Go to Staging. https://staging.fightpandemics.work/
2.navigate to 'View Help Board'
3.Go to location
3.Enter zipcode
4.No drop-down list dispalyed  as shown in video below
https://share.getcloudapp.com/p9uPyZW7

expected: drop-down list with related data should

[2020-07-14 18:31] sheeba1 commented on #1165
@vikjoshi ,please feel free to change  release label , if needed

[2020-07-14 18:35] sheeba1 commented on #1165
@rabbi08  tested .fine on iphone 11 https://fightpandemics.slack.com/files/U015XBKFRHA/F01795GFRTN/rpreplay_final1594751316.mp4

@nivetheatha tested and fine on samsung galaxy

[2020-07-14 18:35] #1141 closed

[2020-07-14 18:56] joshmorel commented on #1165
His @sheeba1 Something similar was reported earlier https://github.com/FightPandemics/FightPandemics/issues/1119#issue-655037639 but they never responded to my question.

I had a feeling it is something related to a feature that antd is using that the browser doesn't support.  BUT now I have been trying BrowserStack I see with onboarding it works, but for filters it doesn't so that may be a clue.

[2020-07-14 18:59] vikjoshi commented on #1165
@joshmorel on both safari and chrome

[2020-07-14 19:05] vikjoshi commented on #821
@joshmorel thank you! This looks good to me via the url. I will test on staging once deployed.

[2020-07-14 19:18] nivetheatha opened #1166 "[Mobile-Android]Copyright on the footer should be center aligned"
Tested using: Samsung galaxy s8, Google chrome.
Environment:Staging
Actual result:
Copyright present in the footer of all the pages are left aligned.
Expected result:
Copyright should be center aligned .
![Screenshot_20200714-125337_Chrome](https://user-images.githubusercontent.com/41587211/87466717-c1a12400-c5e4-11ea-8468-e9bb0cc7a7ee.jpg)

[2020-07-14 19:22] joshmorel commented on #1165
Interesting. I am pretty sure it has something to do with z-index https://stackoverflow.com/a/58490946/4582054

Both the modal (from `antd-mobile`) and the select (from `antd`) utilize z-index and the modal has `translateZ(1px)` and might be related. Another time where using `antd-mobile` and `antd` together is causing some weird issues...

[2020-07-14 20:09] idjevm commented on #1166
This  is actually resolved already on `rc/v1.1` branch.

[2020-07-14 20:09] #1166 closed

[2020-07-14 21:06] nivetheatha commented on #1166
@idjevm But the links on footer is still left aligned .In the desktop version entire footer is center aligned.
![FP_webversion_footer links are center aligned1 (1)](https://user-images.githubusercontent.com/41587211/87476396-51020380-c5f4-11ea-8e0f-a4fd56fd738f.JPG)

[2020-07-14 21:12] idjevm commented on #1166
Yeah but staging is not deployed on the latest version, this was merged recently, I think yesterday with #1114

[2020-07-14 21:13] idjevm commented on #1151
Oh weird, this is already resolved, wonder why it did not autoclose 🤔

[2020-07-14 21:13] #1151 closed

[2020-07-14 22:24] sheeba1 opened #1170 "on My Profile , Post is deleted without asking for confirmation."
Issue: on My Profile ,  Post is deleted without asking for confirmation.

Steps
1.Login to https://staging.fightpandemics.work/
2.Go to Profile->My Profile  and a Create a Post as Individual/Organization.
3.From My Profile choose the post to be deleted
4.Click on ellipsis and select delete.
Result: Post is deleted without asking for confirmation.
Expected: A confirmation dialog box should be displ

[2020-07-14 22:26] idjevm commented on #1170
This is actually resolved in the `rc/v1.1` branch that we might merge very very very soon to master with a lot of little changes minor ones that will take effect once we merge iit to master.

[2020-07-14 22:26] #1170 closed

[2020-07-14 22:30] BMariscal opened #1171 "Organisation name is not updated in the Profile drop-down menu after its name is changed"
![](https://i.ibb.co/THXZQ1Q/Screen-Shot-2020-07-14-at-3-13-08-PM.png)

[2020-07-14 23:25] rabbi08 opened #1172 "Onboarding User -> Add comment -> Login using 'Social Media' option -> BACK button from Post lands on FP SIGN in page"
1. Open "https://staging.fightpandemics.work"
2. As Onboarding User-> Request Help -> Medical -> Share location -> skip

All the FEEDs on help board are displayed.
3. Click on any FEED to add comment

User will be directed to SIGN In as expected.
Now, Sign in as Facebook user or through any social media option.

4, After successful login add comment and click on BACK button or icon.

Issue: You wi

[2020-07-14 23:45] dabartlett commented on #1165
I think this is the same issue I entered on 1119 defect.

[2020-07-15 00:18] joshmorel commented on #1171
We need to dispatch refetchUser after organization update success. I thought this was working before but I may be wrong. I wonder if there's been a regression?

[2020-07-15 00:43] vikjoshi commented on #1165
@joshmorel , I am assigning this to you for right now because it is related to geolocation but can reassign if needed. Thanks!

[2020-07-15 01:15] joshmorel commented on #1165
@vikjoshi that's okay for now. I'm getting an idea of what might be the issue.

Having an iPhone device to emulate for more than 1 minute would be helpful. Until we partner with BrowserStack or other maybe we can use AWS Device Farm. I'll ask @mannykary .

[2020-07-15 01:16] vikjoshi commented on #1165
@joshmorel i have access to an XR- let me know if I can help

[2020-07-15 01:20] joshmorel commented on #1165
Thanks @vikjoshi I will ask you & @sheeba1 to confirm when I think I've got it.

If the situation is complicated (I'll need to override some the styles from one or both of 2 external dependencies) an emulator would be helpful but I can make do for now (+ hopefully it's not too complicated - maybe only a single CSS rule?).

[2020-07-15 01:23] joshmorel commented on #1171
No it's not a regression - we just need to use `refetchUser` in `EditOrganisationAccount.js` similar to how it's used here: https://github.com/FightPandemics/FightPandemics/blob/19fa3aeb1e7aee9c6f125a562ae1828cfeb3fca7/client/src/pages/OrgProfileComplete.js#L68

@BMariscal Feel free to assign me or take this on yourself.

[2020-07-15 01:43] #1135 closed

[2020-07-15 13:09] BMariscal commented on #1171
I can take this one. Thanks @joshmorel

[2020-07-15 16:12] #545 closed

[2020-07-15 17:05] sheeba1 opened #1177 "Loosing Post description text (after 123 characters ) if a post is edited and posted, when the Post Description is in 'view More ' mode."
Loosing Post description text (after 123 characters ) if a post is edited and posted, when the Post Description is in 'view More ' mode.

1.Log into staging
2. Create a post with post description >123 characters, so that 'View More' option will be displayed. Ex description is given below.
".abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz

[2020-07-15 18:29] joshmorel commented on #1165
@vikjoshi @sheeba1 @dabartlett Can you test on https://featurefix-iphone-overlay-bug.fightpandemics.xyz

I tried once on Safari on BrowserStack and it worked. I couldn't test Chrome because I ran out of time on time and valid devices*.

*It seems BrowserStack doesn't upgrade emulated devices to newer OS version.

This isn't supported (used on feed for infinite scroll) up to iOS 12.01 and I think w

[2020-07-15 18:50] pooji02 commented on #1124
Hi @bittricky is this work in progress?

[2020-07-15 18:56] vikjoshi commented on #1165
@joshmorel tested on both safari and chrome on iPhone XR and it is working as expected!

Yeah, for now lets not worry about pre iPhone 6s

[2020-07-15 19:23] jyclam commented on #1140
Discussed with team to add LinkedIn prefixes `/in` and `/company` for individuals and companies respectively.

[2020-07-15 21:12] sheeba1 commented on #1165
tested and worked fine on iphone XR ,safari
![image](https://user-images.githubusercontent.com/65972693/87596599-418ec300-c6a5-11ea-8b8d-6844810c691f.png)

[2020-07-15 21:26] sheeba1 commented on #1165
@rabbi08 @nivetheatha can you please test on your devices ,just to make sure its working fine and did not breaking already working code.Thanks!

[2020-07-15 21:41] #1119 closed

[2020-07-15 21:41] #1165 closed

[2020-07-15 22:07] rabbi08 commented on #1140
@jyclam
but what about, universities/schools as they have category as '/school/' like

https://www.linkedin.com/school/rutgersu/

[2020-07-15 22:09] idjevm commented on #1147
Weird, it did not automatically close, so closing this manually.

[2020-07-15 22:09] #1147 closed

[2020-07-15 23:42] idjevm commented on #1140
WEIRD! issues are not being automatically closed :O not sure why (might be because master is not default)

[2020-07-15 23:42] #1140 closed

[2020-07-15 23:42] idjevm commented on #1140
Also @rabbi08 there is not `company/` for twitter.

[2020-07-15 23:44] #821 closed

[2020-07-16 00:25] nivetheatha commented on #1165
@sheeba1 works fine in Android devices.

[2020-07-16 00:57] idjevm commented on #1088
Hey @lelecanfora this has been completed. Please verify on staging! We set the `userId` on the dataLayer as follows.
![image](https://user-images.githubusercontent.com/25408660/87614322-aa922d00-c6dd-11ea-94d4-f9339eb9529d.png)

[2020-07-16 00:57] #1088 closed

[2020-07-16 01:02] rabbi08 commented on #821
Tested on Desktop and iPhone:

Recovery Password feature and screens working as expected. I receive the email in my hotmail INBOX as shown below:
<img width="1037" alt="image" src="https://user-images.githubusercontent.com/67168400/87614270-8c2c3180-c6dd-11ea-8386-051e60822d41.png">

GIF Showing change password process:

https://share.getcloudapp.com/6qu249Ag

I am able to login with new updated p

[2020-07-16 01:06] joshmorel commented on #821
Thanks @rabbi08 . I'm curious we're you redirected to /auth/login after changing the password in Auth0? We've had some inconsistent results on that recently so I plan to look into Auth0 settings tomorrow.

[2020-07-16 01:22] rabbi08 commented on #821
I click -> Forgot pwd -> Enter Email -> Send recovery link -> On the notification page -> Reload the FP home page by appending the URL as shown in below GIF:

https://share.getcloudapp.com/9ZujnGrY

[2020-07-16 01:31] idjevm commented on #1137
This has been resolved.

[2020-07-16 01:31] #1137 closed

[2020-07-16 01:32] joshmorel commented on #821
Ah okay @rabbi08 - I was thinking of clicking from the email sent by Auth0.

![image](https://user-images.githubusercontent.com/10546720/87595889-42cbea00-c6bd-11ea-83b1-d66b27e32a47.png)

After changing the password it should redirect you back to /auth/login.

Anyways don't worry I'm pretty sure this isn't working at least consistently. I will look into fixing tomorrow.

[2020-07-16 01:34] vikjoshi commented on #821
@joshmorel , it does not redirect me back to FP. Works as expected E2E though!

![image](https://user-images.githubusercontent.com/41554004/87616430-ddcac100-c6c9-11ea-9fe8-d0f254c959af.png)

[2020-07-16 01:38] joshmorel commented on #821
Thanks @vikjoshi . I'll look into the Auth0 settings tomorrow. Hopefully it's that and not an Auth0 bug but in that case I'll contact them.

[2020-07-16 01:50] vikjoshi commented on #1140
Thank you @jyclam and @idjevm ! It looks good to me- @rabbi08 feel free to test as well

[2020-07-16 05:17] BMariscal commented on #1171
@joshmorel  I couldn't find the time to work on this today and won't be able to work on it until next week. I'm unassigning myself for now. I can pick it up again on Monday if no one has picked it up by then. cc @ppagarawal

[2020-07-16 05:37] rabbi08 commented on #821
Yes you are right, and actually I didn't expect that to work from there as there is no link to FP or so available after password resets. Though you are full aware of the issue, just sharing the above thoughts as QA/End-user. Thanks

[2020-07-16 05:49] rabbi08 commented on #1140
This is working fine I am able to add following links for the linkedin:

https://www.linkedin.com/school/rutgersu/
https://www.linkedin.com/company/fightpandemics/

Thanks

[2020-07-16 05:51] rabbi08 commented on #1165
I have re-tested on iPhone-11 and it is working as expected. Thanks

[2020-07-16 06:00] rabbi08 opened #1181 "NO Icon for "Google playstore & iTunes links" displayed for Organisation"
1. Open "https://staging.fightpandemics.work"
2. login using valid email/address and Navigate to Profile -> Org_name -> EDIT profile
3. APPEND following test data for both Google playstore and apple iTunes links:

https://play.google.com/store/apps/developer?id=Mutual+Aid
https://itunes.apple.com/store/apps/developer?id=Mutual+Aid

You will observe that user is able to successfully add the links f

[2020-07-16 06:05] rabbi08 commented on #1181
Please note that links are working too i.e. if u click on boxes user is directed to the sample company app page. Thanks

[2020-07-16 06:31] ppagarawal commented on #1171
Cc: @indirabhowmick
@joshmorel can you take it up please?

[2020-07-16 06:44] jyclam commented on #1181
Thanks Rabbi! But this is a duplicate issue, see #1089

[2020-07-16 06:44] #1181 closed

[2020-07-16 13:53] joshmorel commented on #1171
@ppagarawal Okay. Is this targeting Soft Launch (`master`) instead of `rc/v1.1`?

I can get a PR in today I think and I would suggest yes to target `master` if that is okay

[2020-07-16 14:14] ppagarawal commented on #1171
I won't suggest this for soft launch @joshmorel as the frequency of change of organization name is not so frequent.

[2020-07-16 16:14] dabartlett commented on #1165
Tested with iphone 6S after upgrading to version 13 and it works as well. thank you

![image](https://user-images.githubusercontent.com/67716598/87695719-b238ec80-c744-11ea-95c9-ea717d722ff2.png)

[2020-07-16 16:15] dabartlett commented on #1119
Tested with iphone 6 after upgrading to version 13 and it works as well. thank you

![image](https://user-images.githubusercontent.com/67716598/87695719-b238ec80-c744-11ea-95c9-ea717d722ff2.png)

[2020-07-16 16:54] #677 closed

[2020-07-16 16:55] joshmorel commented on #1153
Hi @rabbi08 - this does relate to my response to @idjevm  here: https://github.com/FightPandemics/FightPandemics/pull/1163#issuecomment-659019138

As well as the issue I created here #1164

I assume you are referring to this logo:

![image](https://user-images.githubusercontent.com/10546720/87699455-e1f6ed00-c762-11ea-8453-983f54ac34c3.png)

As best as I can explain and understand, what's happenin

[2020-07-16 17:02] joshmorel opened #1185 "Update Sourced by FP avatar url"
The current URL to SendGrid is broken (I think the logo is deleted). We can use the GitHub logo instead like we do in Auth0.

![image](https://user-images.githubusercontent.com/10546720/87700528-74e45700-c764-11ea-8290-89062e21e5b9.png)

@vikjoshi @pthoma14 FYI this is very easy and shouldn't impact E2E testing at all. So I'm going to target `master` (Soft Launch).

[2020-07-16 17:04] pthoma14 commented on #1185
@joshmorel sounds good. Thank you

[2020-07-16 17:16] joshmorel opened #1186 "Create user error - no authorizations cookies [only in prod?] [requires reproduction]"
After trying to create user - but it doesn't consistently happen....

Never occurred in staging or review branches. I think it is F/E but unsure.

![image](https://user-images.githubusercontent.com/10546720/87701648-52ebd400-c766-11ea-90a5-231381b61a24.png)

This might only affect testers (those creating a user, signing out, then creating another user - not that it shouldn't be fixed). A fix to th

[2020-07-16 19:00] rabbi08 opened #1188 "Any user can "attempt" to EDIT/DELTE post of other users but don't happen in the end"
1. Open "https://staging.fightpandemics.work"
2. Login using valid email/pwd
3. Navigate to 'Home Board' page
4. Filter the posts as per 'Provider -> Individual and type= Medical Supplies' to view less post, and click on any User Profile say'TT -Test Test' to view its profile

Issue: You will observe that under the 'Activity' of the user, the post are displayed and 'ellipse' are displayed for the

[2020-07-16 20:00] jyclam opened #1190 "Extra GTM <noscript> added when navigating between pages"
**Steps to recreate:**
1. Sign in to your account
2. Go to homepage on staging https://staging.fightpandemics.work/
3. Click on **any** links eg `About Us`, `Help Board`, `Request Help`, `Offer Help`...
4. Observe that an extra <noscript> tag is added

It's a GTM related element
[code]

![Screen Shot 2020-07-16 at 12 52 21 PM](https://user-images.githubusercontent.com/26049767/87716488-c50ee980-c7

[2020-07-16 20:11] joshmorel commented on #1188
Thanks @rabbi08 . We should disable the menu if they aren't the author, or don't own the organization who authored the post.

[2020-07-16 21:08] sheeba1 opened #1191 "number of comments should reflect Total number of comments ,when there are more than 5 comments and 'show more' button is displayed"
Expected:number of comments should reflect Total number of comments ,when there are more than 5 comments and   'show more' button is displayed
Actual: for ex:  When there are 8 comments exist for a post, only 5 comments are displayed (number of comments also shown as 5)and rest of the comments are displayed with 'show more' option.  After clicking,'show more' then the total becomes 8.

Expected be

[2020-07-16 21:46] idjevm commented on #1188
@joshmorel  I agree, that's exactly what I was telling @manualzuru on the call !

[2020-07-16 23:16] jyclam commented on #1188
I'm not seeing this at the tip of master but I do see it on staging. Tried viewing Individual profiles and also Organisation profile.

[2020-07-16 23:58] nr431207 commented on #1191
I think for this one the total number of comments should also be aggregated in the backend as well, thoughts? @joshmorel

[2020-07-17 00:16] dabartlett commented on #1161
I see that this has been already fixed and it is in production
![image](https://user-images.githubusercontent.com/67716598/87734641-1630d480-c788-11ea-837c-8953b7c06dac.png)

[2020-07-17 00:16] #1161 closed

[2020-07-17 00:16] dabartlett commented on #1161
Please see comment above

[2020-07-17 00:35] nr431207 commented on #1190
@idjevm I think this is potentially due to the `TagManager.initialize` with UserIs in the navBar?

[2020-07-17 02:08] mannykary opened #1194 "Add missing partners from About Us page"
I noticed a couple of partners missing from the About Us page: https://fightpandemics.com/about-us

* Datadog: https://www.datadoghq.com/
* Pagerduty: https://www.pagerduty.com/

[2020-07-17 04:18] dabartlett opened #1195 "Edit Organisation profile - Adding a word such as "edit or test" next to Link to "App Store and Google Play" causes to add a broken icon"
Edit Organisation profile - Adding a word such as "edit or test" next to Link to "App Store and Google Play" causes to add a broken icon

Steps to Reproduce:

Pre-Requisite - user is logged in and Oganisation profile exists

1) On https://fightpandemics.com/ navigate to 3 lines at the top of the page> click on exiting organisation
2) on Profile page, click on "pencil" from the top right of the pag

[2020-07-17 04:21] idjevm commented on #1195
Yeah the issue is that there's not icon for those 2 right now. So you can add pretty much anythin, including the actual url and it will be the same

[2020-07-17 04:28] dabartlett opened #1196 "Help Board - Location Filter is not displaying only location selected *** will add details tomorrow****"
Help Board - Location Filter is not displaying only location selected

![image](https://user-images.githubusercontent.com/67716598/87748547-08d91180-c7ab-11ea-94f0-46a2caeb7d8d.png)

![image](https://user-images.githubusercontent.com/67716598/87748504-e47d3500-c7aa-11ea-870f-8202023a97d0.png)

[2020-07-17 08:58] idjevm commented on #1196
Thanks for logging this issue @dabartlett, but this is not an issue, there just aren't any posts besides yours in Vegas. The next close ones are Irvine and Anaheim, which are both in California.

[2020-07-17 08:58] #1196 closed

[2020-07-17 09:15] idjevm commented on #1196
Also, the way it works is that it will display all posts of the location you selected, if there are no posts, then it will display any other posts that are near to that location, and if not, then it will display posts that are worldwide.

[2020-07-17 09:20] idjevm commented on #1195
@vikjoshi Do we have icons or can we have the design team make some for us?

[2020-07-17 09:26] idjevm commented on #1190
@nr431207 Yes def, I believe it is because of that. What if we move the initialize to when the user signs in? So we add the userId to the datalayer just then (not sure if it will be kept on the datalayer, but we can test).

[2020-07-17 09:33] idjevm commented on #1191
@nr431207 So actually the num of comments comes from the backend. This might be a FE issue rather than a backend one. I think we just have to change some logic on the FE on when to display the num of comments and what that would be...

[2020-07-17 09:37] idjevm commented on #1191
Yeah so it looks like there is a limit on how many comments should be showed, and the initial `numOfComments` has that limit which is 5...

[2020-07-17 09:40] idjevm commented on #1191
![image](https://user-images.githubusercontent.com/25408660/87772642-051bae00-c7f0-11ea-8c17-b8ebcec99299.png)

for reference for you guys...

[2020-07-17 09:41] idjevm commented on #1188
@jyclam You have to be logged in, else it will not display..

[2020-07-17 10:58] galeza opened #1198 "[Desktop][Mobile] Organisation Profile | Improve error message when location is empty"
env: https://staging.fightpandemics.work/

Steps:
1. Log in
2. Go to Profile - Add Organisation
3. Add name, email, leave location empty.
Add other details.
4. Press Create Profile button

Error message is not user friendly: Creating organisation failed, reason: body.location should have required property 'address', body.location should have required property 'coordinates'

Could we change this?

[2020-07-17 11:39] idjevm commented on #1198
Wait, are you able to submit the form without having the address??

[2020-07-17 11:56] joshmorel opened #1199 "Remove location from comment.author"
Not needed at all.

[2020-07-17 12:10] galeza commented on #1198
@idjevm

No, you can't submit without location. You have an error. It's just about the message that is not user friendly.

Another question - how application should work when the checkbox "We are a global organisation" is selected? Should we enter location? Currently it's required. You select checkbox and you have to enter location.

[2020-07-17 15:22] pthoma14 opened #1201 "Google Maps Display for Local Health Facilities"
“As an individual,
I want to visually see the nearest health facilities to my current location
so that I can see how far I might have to travel to get to them”

**Acceptance Criteria:**
* Display 10-mile (16km) radius
* Display Nearest Health Facilities within that radius

**Feature Requirements:**
https://www.notion.so/fightpandemics/a729bd46f001461393a0ad707161f299?v=16cb1b0a7a1c4d5ba0a1aea6184c

[2020-07-17 15:45] doheekim93 opened #1202 "GTM ID's changed/not working as intended on prod"
**How to set up GTM debugging on Local: [https://www.notion.so/fightpandemics/GTM-Debugging-on-Local-68eba58926a445cc9e2447843bdef255](https://www.notion.so/fightpandemics/GTM-Debugging-on-Local-68eba58926a445cc9e2447843bdef255)

The following IDs are not working as they were on staging previously. **Please make sure the id attributes are working the same way for the mobile version as well!!**

##

[2020-07-17 16:02] nivetheatha opened #1203 "Unsigned user not redirected to post page clicked on"
Environment:Staging
1.As a unsigned user click on help board.
2.Click on long post(see more).Directs user to sign in page.
3.User logs in by entering valid username ,valid password.
Expected Result:
User has to land on the particular long post.
Actual Result:
User lands on home page.

[2020-07-17 16:11] joshmorel commented on #1203
Thanks @nivetheatha . This could be solved with similar to how we are redirecting when an unsigned user clicks comment.

[2020-07-17 16:13] joshmorel commented on #1198
@galeza I had asked about this before. The understanding I got that it was more marketing list related - so we can identify potential partners. So it's not related to any functionality currently. But you can ask more about that in Slack #mvp_organizationprofile channel.

[2020-07-17 16:15] joshmorel commented on #1203
@nivetheatha perhaps a more specific issue title would be helpful - "Unsigned user not redirected to post page clicked on" ?

[2020-07-17 16:19] nivetheatha commented on #1203
@joshmorel will rename it.

[2020-07-17 16:19] nr431207 commented on #1191
@idjevm yes thats right, it does come from the backend however it is being paginated, so it sends 5 comments per load, I still think the total num also needs to be aggregated from the backend, I will look into this more tho, looks like for having multiple aggregations `$facet` stage is used? @joshmorel

[2020-07-17 16:23] nr431207 commented on #1190
@idjevm yes will try that, it shouldn't affect it being kept on the datalayer.

[2020-07-17 16:44] dabartlett commented on #1195
Will message the design team on it.

[2020-07-17 16:45] sheeba1 opened #1204 "User-friendly message should be displayed if the user did not enter address,while creating organization"
objective:User-friendly message should be displayed if the user did not enter address,while creating a new ORGANIZATION
Expected: Address is required. (as we did for other field for ex: below)

![image](https://user-images.githubusercontent.com/65972693/87810407-cd256280-c811-11ea-9273-aec7faa67044.png)

Actual: Refer image below

![image](https://user-images.githubusercontent.com/65972693/8781002

[2020-07-17 17:05] vikjoshi commented on #1195
Thanks @dabartlett . FYI @idjevm , not critical for soft launch so going to put the MVP-Release 1 tag on it

[2020-07-17 17:07] vikjoshi commented on #1198
Thanks @galeza for identifying. Lets move this into MVP- Release 1 for now

[2020-07-17 17:13] rabbi08 commented on #1195
similar issues:

#1089, #1181

[2020-07-17 17:22] galeza commented on #1195
Close as duplicate #1089

[2020-07-17 17:22] #1195 closed

[2020-07-17 17:33] jyclam commented on #1188
Yeah, I was logged in on two separate individual accounts looking at each others' individual profile and organisation profile.

@rabbi08 any idea what other configuration I should try?

[2020-07-17 17:44] sheeba1 opened #1205 "The user should be able to sign up("Join Now") by pressing'Enter' key, after entering email and password and 'confirm password' fields"
objective: The user should be able to sign up("Join Now") by pressing'Enter' key, after entering email and password and 'confirm password' fields

Actual behaviour: Need to click 'Join Now ' button to signup.

Expected: after entering email and password and 'confirm password' fields, the **'Join Now'** button should be enabled and user should be able to sign up , if the user press Enter key (same

[2020-07-17 18:01] sheeba1 opened #1206 "'Like','comments' labels should be removed for mobile posts"
'Like','comments' labels should be removed for mobile posts.

@ppagarawal Please comment if we need to remove 'share' label too for mobile posts

[2020-07-17 18:07] ppagarawal commented on #1206
I think that the design also needs to change a bit to match for the overlap between icon and the post boundary

![image](https://user-images.githubusercontent.com/6276256/87817386-7a39c280-c886-11ea-8dfa-2e990964e7c9.png)

[2020-07-17 18:11] rabbi08 commented on #1188
@jyclam
This issue exist for Individual profile i.e. if I click to view the profile of an individual user profile from his/her post, but this is working fine for Organisation post. I have attached GIF, showing the difference.

Please let me know if this is helpful :
https://share.getcloudapp.com/L1upA2Xj

[2020-07-17 18:11] vikjoshi opened #1207 "Org Users in Production cannot use the same email for sign up as their individual user email"
In staging, we allow users to sign up for **1** organization with the same email as their individual user email. In production, we do not allow for this behavior.

@galeza - please confirm that you are still seeing this behavior in prod vs staging

Ideally, production should reflect staging. Thoughts? @idjevm @joshmorel

[2020-07-17 18:28] rabbi08 commented on #1207
I have tested the just now and yes:
In STG ->  Org Profile can be created once with the same email as of Individual user.

Test data used in STG and PROD: test.rajbir.qa@gmail.com

In PROD -> Unable to create the Org with the email of the individual user.
![image](https://user-images.githubusercontent.com/67168400/87818831-41273100-c839-11ea-8603-1aceaf16fc9d.png)

[2020-07-17 18:29] rabbi08 commented on #1205
Duplicate of #787

[2020-07-17 19:11] sheeba1 commented on #1205
I came across similar issue with sign-up, so re-worded the original ticket as it was duplicate of #787

[2020-07-17 19:11] nivetheatha opened #1209 "[Mobile-Android]Bottom of the page is blank when we open keypad and menu at the same time."
Environment : Staging
Steps to create:
1.Login with valid username and password.
2.Go to Help board.
3.Try to comment on the post.
4. Keypad  will open.
5.Open the menu at the same time.
6.Menu cut off at the bottom.
![Screenshot_20200717-125141_Chrome](https://user-images.githubusercontent.com/41587211/87822551-a7af4d80-c83f-11ea-888e-2ed92dd54fd3.jpg)

[2020-07-17 19:21] ppagarawal commented on #1206
Note that the share button will be the three dots not the one on the Figma image

[2020-07-17 19:27] nivetheatha opened #1210 "Organisation Name start to dissapear (when we have more than 10 organisation) during post creation ."
Environment:Staging
Steps to create:
1.Login with valid user name,password.
2.Go To Profile.
3.Create a Post as Organization.
4.If we have more than 10 organisation then name of the organisation is started to dissapear.
![Screenshot_20200717-145442_Chrome](https://user-images.githubusercontent.com/41587211/87823421-4f794b00-c841-11ea-8db3-a91fea324988.jpg)

[2020-07-17 19:42] idjevm commented on #1207
Yeah Ideally we want production to reflect staging, but I think right now we should focus on production since we have already deployed, and then figure out staging once soft launch is done.

[2020-07-17 20:07] #1194 closed

[2020-07-17 20:14] mannykary commented on #997
I think it would be better to handle this using NGINX https://www.nginx.com/blog/rate-limiting-nginx/

It is both easier and better because any excess requests will be suppressed and will shield our web server.

[2020-07-17 20:15] Naraujo13 commented on #1191
Hey guys, we're talking about the `numComments` field at `GET /api/posts/:postId`?

[2020-07-17 20:20] mannykary commented on #997
For soft launch, let's rate limit within NGINX. After the soft launch, we can look into rate limit in AWS: https://aws.amazon.com/blogs/aws/protect-web-sites-services-using-rate-based-rules-for-aws-waf/. I will create another ticket for this.

[2020-07-17 20:21] nr431207 commented on #1191
@Naraujo13 yes!

[2020-07-17 20:22] mannykary opened #1211 "API rate limiting on AWS load balancer using WAF"
In #997 rate limiting is implemented using NGINX. It would be more robust to also rate limit in AWS on the load balancer itself using WAF: https://aws.amazon.com/blogs/aws/protect-web-sites-services-using-rate-based-rules-for-aws-waf/

This is not critical for soft launch. We will do #997 for soft launch, and take care of this after soft launch.

[2020-07-17 20:27] mannykary commented on #997
Config file to update: https://github.com/FightPandemics/FightPandemics/blob/master/client/nginx.conf

[2020-07-17 20:37] Naraujo13 commented on #1191
I worked on this before, I can take a look at the aggregation (though I think it is a condition that is wrapping it).

Anyway, this endpoint seems to return the post + first page of comments.
Is the frontend using the comments returned here or directly calling `GET /api/posts:/postId/comments` for all pages?

[2020-07-17 20:47] nr431207 commented on #1191
Thatd be great, Thanks @Naraujo13 !
for this case`Post.js` component is using this endpoint `/api/posts/${postId}/comments?limit=${
      limit.current * page
    }&skip=${skip}` with the limit of 5, so we dont have access to total numComments when it loads the page the first time.

[2020-07-17 20:50] Naraujo13 commented on #1191
Okay, so can I remove the comments from `GET /api/posts:/postId`?

This way, `GET /api/posts:/postId/comments` would return solely the post info (content, title, author, etc + total number of comments).

While `GET /api/posts:/postId/comments` would be the comments themselves.

[2020-07-17 20:56] nr431207 commented on #1191
isnt there already a route like that? that returns that information?

[2020-07-17 21:02] Naraujo13 commented on #1191
Currently, `GET /api/posts:/postId/comments` returns the whole post + first page of comments.
Currently,  `GET /api/posts:/postId/comments` returns a page of comments.

I'm just asking if the first page of comments returned in the first endpoint is really necessary since the second can be used for that.
It's just that paging the comments to return on the first endpoint + counting them all will req

[2020-07-17 21:12] nr431207 commented on #1191
I think as I long as I can have access to the total num of comments and be able to keep the pagination, either way works for the FE 👍

[2020-07-17 21:16] #1199 closed

[2020-07-17 23:42] dabartlett opened #1213 ""Loading" is not displaying according to Zeplin"
"Loading" is not displaying according to Zeplin, instead of below it only display "Loading"

Steps to Reproduce:

Pre- Requisite: user is logged in and also has an Organisation already created

1) https://fightpandemics.com, click on 3 lines and click on Profile (pay close attention)

Current Results Only "Loading" displays
Expected Results: Same as screen shot below should display

![image](https

[2020-07-17 23:44] dabartlett commented on #1186
I saw this message once, but after I cleared cache I could not reproduce it again.

[2020-07-18 00:01] jyclam commented on #1202
Seeing an issue not documented, clicking on `Show me postings from anywhere` in addition to the correct triggers, it also triggers wrong tag **RES3_SA**
![Screen Shot 2020-07-17 at 4 57 26 PM](https://user-images.githubusercontent.com/26049767/87839292-07612500-c84f-11ea-8c85-4bdd2d96afef.png)
![Screen Shot 2020-07-17 at 4 57 35 PM](https://user-images.githubusercontent.com/26049767/87839293-07f9b

[2020-07-18 00:20] eyturner commented on #1153
Just to add on to @joshmorel, in`RouteWithSubRoutes.js` the line causing the redirect is specifically for the case where the user is authenticated but hasn't created a profile. Clicking the logo actually does take the user to the home page, but the home page then immediately redirects to the create-profile page to ensure the user completes their profile setup. I think this is the intended behavior

[2020-07-18 00:52] eyturner commented on #1152
I'd like to take a crack at this one if no one has assigned themselves yet!

[2020-07-18 01:11] idjevm commented on #1153
Well @joshmorel same idea here, but for the verify email/email sent pages, I think there on those pages, we should allow the user to click on the logo and go back home, but for this page, it is ok to not have this logo clickable, enforcing the user to complete their profile which is what we want. Closing this issue as this behavior is ok for this page. @manualzuru feel free to reopen if you think

[2020-07-18 01:11] #1153 closed

[2020-07-18 05:01] Naraujo13 commented on #1191
I've updated the endpoint at #1215 (it was always returning 0 because of some recent changes) and now is returning the correct amount.

But checking the results, the frontend is still displaying the incorrect amount.
It seems to be dynamically showing the number of loaded comments instead of the static number returned by the endpoint since it seems to start with 5 and increase when you load more.

[2020-07-18 05:11] nr431207 commented on #1191
@Naraujo13 thanks for making the changes, I will look into the FE portion and will update you if more changes need to be made :)

[2020-07-18 11:21] adisen commented on #1205
This issue already exists. #787 and is being worked on at #937. So I'm gonna just close this.

[2020-07-18 11:21] #1205 closed

[2020-07-18 14:25] joshmorel commented on #1207
So the index was missing and there were many duplicates in staging :shrug: . I resolved that by tweaking duplicate org emails and added the index manually so both environments should disallow this:

![image](https://user-images.githubusercontent.com/10546720/87854597-07aa0080-c8e1-11ea-8c26-42b758526396.png)

I guess we should close this.

[2020-07-18 15:28] joshmorel opened #1217 "Revisiting other page after aborted /complete-profile bug (edge case, low priority)"
This resolution #1187 has likely resolved the one edge-case error while creating another.

This only happens if you visit another page after aborting `/complete-profile` and can be quickly resolved by refreshing the page . So it should NOT be considered a Soft launch priority.

I'll take some time to figure out the best way to address this.

![error-after-aborted-complete-profile](https://user-ima

[2020-07-18 16:07] OzkanAbdullahoglu commented on #1206
just posts? or in feeds too ?

[2020-07-18 16:57] sheeba1 commented on #1206
@ppagarawal  @OzkanAbdullahoglu  Anywhere the posts are displayed,ex:  feed,profile,post detail page etc.

[2020-07-18 17:35] ppagarawal commented on #1206
@OzkanAbdullahoglu Please refer to the designs in Zepelin for this and feel free to reach out here in case you need any confirmation

[2020-07-18 17:38] joshmorel commented on #1186
I will close this as I think it's resolved but there is a new different edge case error: #1217

[2020-07-18 17:38] #1186 closed

[2020-07-18 17:39] joshmorel commented on #1185
Resolved by #1189

[2020-07-18 17:39] #1185 closed

[2020-07-18 18:14] OzkanAbdullahoglu commented on #1206
@ppagarawal  @sheeba1  thank you both. I ll look and get back to you.

[2020-07-18 19:20] rabbi08 opened #1220 "ZenDesk: Delayed Acknowledgment on the email send to the support FP."
For Zendesk email:
- In PROD, Navigate to 'About us' -> lookup for the support email.
- Send email "contact@fightpandemics.com "

Issue: The acknowledgment is delayed by 25 mins and it shows the number of the request to the user.

Test Data: I send email on Jul 16, 2020 @12:45 pm EST today and get the ack email @1:08pm EST i.e. around after 25 mins,
also, still Zendesk show the email count i.e.

Y

[2020-07-18 20:16] vikjoshi commented on #1207
Closing this

[2020-07-18 20:16] #1207 closed

[2020-07-18 20:39] #1129 closed

[2020-07-18 22:12] mannykary commented on #1130
Another option is to follow the standard [git flow](https://nvie.com/posts/a-successful-git-branching-model/) model, which is quite well known. The `release/*` branch would be created to freeze the code to be released to production. This would also deploy to the staging environment. Any bug fixes would be created in a `bugfix/*` branch and merged into the `release/*` branch. After the `release/*`

[2020-07-18 23:24] idjevm commented on #1190
Resolved by #1212

[2020-07-18 23:24] #1190 closed

[2020-07-18 23:28] idjevm commented on #1202
This issue was resolved by #1214

[2020-07-18 23:28] #1202 closed

[2020-07-18 23:33] #1210 closed

[2020-07-19 04:27] indirabhowmick commented on #1152
@eyturner - that would be awesome. Thanks so much. Please let me know once you have fixed the bug, I can test it in Staging

[2020-07-19 04:31] idjevm commented on #1188
This should've been resolved by #1221

[2020-07-19 04:31] #1188 closed

[2020-07-19 16:51] rabbi08 commented on #1188
Verified in STG, this is working fine. Thanks.

Refer attached GIF.

https://share.getcloudapp.com/wbuWlKmx

[2020-07-19 21:21] rabbi08 commented on #1152
@eyturner @indirabhowmick @idjevm
On User Create Profile Page -> Earlier when user click on 'Privacy Policy' it loads, home page but now it turn BLANK. It looks it is generating error, while adding new user profile:
"Create user failed, reason: No Authorization was found in request.cookies"

In Cookies: Failed to load resource: the server responded with a status of 401 ()

Error displayed if user

[2020-07-19 21:27] bittricky commented on #1124
I am currently working on this issue.

[2020-07-19 22:56] mannykary opened #1225 "Add traffic monitoring on NGINX"
Related to #997. In order to monitor abnormal traffic due to bots/scrapers/DDoS, we need to add some monitoring. Some possible solutions:

https://blog.snort.org/2017/11/snort-30-with-elasticsearch-logstash.html
https://docs.datadoghq.com/integrations/nginx/

[2020-07-19 23:33] git-satya commented on #997
I can work on this request. Looking to set limits to 1 req/sec for per ip and 10 req/sec for per server on nginx.

Per IP: $ binary_remote_addr,   rate=1r/s;
Per Server : $server_name  rate=10r/s;

[2020-07-20 02:42] doheekim93 opened #1226 "Add Feedback ID on mobile"
`Feedback` button on mobile menu needs ID to be added: NAV_FDB

(ask the parent, not the child)

[2020-07-20 03:28] phuclb commented on #1079
Beside that, we re-set font-family even it use the same global font.

For example (component FaqContainer, FootNote, CookieAlert,...):
[code]

and element:
[code]

1. Why do we have to declare a very long web font-stack live above?
2. Why don't we switch to Google Embed Font for better performance?

Thanks.

[2020-07-20 05:31] #1157 closed

[2020-07-20 06:33] #1203 closed

[2020-07-20 12:40] tejasm2 opened #1227 "[desktop][mobile] Multiple orgs are not being displayed properly, when trying to create post as an Organisation. (edge case))"
The organization list should be scrollable, when trying to create a post as an Organization.

Currently, when we have many organizations,  they arent displayed properly.

**Note:** This is an edge case.

Check this out:
![Multiple orgs](https://user-images.githubusercontent.com/66698276/87938378-1eed1780-cab4-11ea-8254-dc6667799cd9.gif)

[2020-07-20 12:48] joshmorel opened #1228 "Can't complete profile after opening new tab (privacy, terms & conditions)"
This is because opening a new tab (or any start-up of the app) queries `/users/current` to authenticate and fetch the JWT cookie.  But because the user isn't created yet it clears the authentication cookie created in the 1st tab after sign-up before complete-profile.

@vikjoshi @pthoma14 @indirabhowmick  FYI

Looks like @rabbi08 was the only one to e2e test sign-up INCLUDING opening the privacy/te

[2020-07-20 15:59] sheeba1 opened #1230 "An unlogged user can access profile information(email,FB,etc) of another user through the user profile, from a post on View Board"
summary/Issue: An unlogged  user can access profile information(email,FB,etc) of another user through the user profile, from a post on View Board

[2020-07-20 17:03] idjevm commented on #1228
Should've been resolved this by now!

[2020-07-20 17:03] #1228 closed

[2020-07-20 17:04] idjevm commented on #1152
This has been resolved with #1228

[2020-07-20 17:04] #1152 closed

[2020-07-20 17:10] galeza commented on #1230
@vikjoshi
Please prioritise.

[2020-07-20 17:11] idjevm commented on #1226
Should be resolved by #1232

[2020-07-20 17:11] #1226 closed

[2020-07-20 17:26] vikjoshi commented on #1230
Hmm yeah this is something we hadn’t thought about. @indirabhowmick @manualzuru do you think we should just not allow non logged in users to see the profile pages of the users/orgs? Should be addressed in Release 1 though

[2020-07-20 17:41] joshmorel commented on #1217
Resolves by #1186

[2020-07-20 17:41] #1217 closed

[2020-07-20 18:29] nr431207 opened #1233 "Edit/delete ellipsis conditional rendering needs to be refactored"
subMenuButton ellipsis conditional rendering needs to be refactored due to multiple checks.

[2020-07-20 20:21] jyclam commented on #1227
I think this is a duplicate of #1210 which was fixed in rc1.1 by #1216.

[2020-07-20 21:42] doheekim93 opened #1235 "Create meta tags for fightpandemics.com"
We need to create a (static) Meta Tag to allow a preview of our website. **Please make sure the meta tag works on mobile as well!**

Please host the following image on our domain: [meta tag image](https://fightpandemics.slack.com/files/U012VFCCLSJ/F014WR8JNBZ/offer_help_request_help.png)

*I will update ticket when we get the updated image url!

[code]

[2020-07-21 01:16] mannykary opened #1239 "Set up Cloudfront/S3 CDN on AWS"
https://www.learnetto.com/blog/cloudfront-s3

Ideally this should be done using Terraform: https://www.terraform.io/docs/providers/aws/r/cloudfront_distribution.html

Our Terraform infrastructure code lives in https://github.com/FightPandemics/infrastructure

[2020-07-21 01:20] #1206 closed

[2020-07-21 01:53] #1233 closed

[2020-07-21 02:58] idjevm commented on #1235
Resolved by #1238

[2020-07-21 02:58] #1235 closed

[2020-07-21 06:00] OzkanAbdullahoglu commented on #1209
I don't think that it is about opening the keypad, the menu also is cutting off at the bottom and able to scroll, am I missing something here? Also May I learn that which device is this snapshot coming from?

[2020-07-21 06:06] OzkanAbdullahoglu commented on #1198
this is kinda duplicate of #1204 and I have already opened a PR #1219.

[2020-07-21 07:36] galeza commented on #1198
Closing

[2020-07-21 07:36] #1198 closed

[2020-07-21 09:18] #999 closed

[2020-07-21 09:55] ppagarawal opened #1242 "Remove the additional text on homepage"
A text "FightPandemics" in white colour has been found on the homepage of the product. Please remove this to ensure clean content.

![image](https://user-images.githubusercontent.com/6276256/88040103-0ccbb180-cb66-11ea-94fc-4ccf5a9cee6e.png)

[2020-07-21 09:56] idjevm commented on #1242
We cannot remove it, we just need to change the logic to not show this on mobile. This is the text that shows on the desktop, on top of the text.

[2020-07-21 10:39] nivetheatha commented on #1209
@OzkanAbdullahoglu yes able to scroll it.If we open keypad simultaneously with menu the screen looks like the above picture. If we open menu only then it looks fine.I don't know exactly it happens because of keypad.
I am using Samsung Galaxy s8,Google chrome.

[2020-07-21 10:57] galeza opened #1243 "[Desktop][Mobile] POST | View more comments button"
env: staging

Steps:
1. Go to Help Board
2. Create post with ex. 10 comments
3. Click on a post

First 5 comments is displayed and button Show more comments is displayed. I click Show more comments button and next 5 comments is displayed. There's no more comments but button Show more comments is still shown.

![Screen Shot 2020-07-21 at 11 39 12](https://user-images.githubusercontent.com/21987083/

[2020-07-21 10:59] galeza commented on #1243
@ppagarawal
Please prioritise

[2020-07-21 12:58] inblack67 commented on #1201
@pthoma14 Has the functionality of converting the address submitted from the client to the GeoJSON field which will contain the lat long been handled on the Node.JS backend or not?

[2020-07-21 13:04] pthoma14 commented on #1201
@inblack67 No, I don't believe it has.

I was working with @Chimaobi-Johnson back in May and the last thing we discussed is that the google map api key was not integrated yet.

[2020-07-21 13:08] joshmorel commented on #927
Sorry @vikjoshi never added you back to prioritize, and find someone to work on this at the appropriate time.

[2020-07-21 13:09] robinv85 commented on #395
@joshmorel fine by me. We could also update thi issues and specify that it's for the backend only.
The other thing that I mentioned, not sure if that is fixed: "show the password validation rules to the user, before they have to enter it", so probably as a green text below the input field.
Since that was mentioned on Slack but might be be clearly shown in the designs or in the requirements.

[2020-07-21 13:14] ppagarawal opened #1244 "Fit the screen on varying screen sizes to an acceptable limit"
As a user, I want to have seamless user experience on the mobile so that I have less efforts in interacting with the mobile.

Eg: Make the product homepage, onboarding and post view accessible in a single screen and avoid scrolling unless the content is too long(in post).

Assigning to @Yu-Alexa-Zhao as well to get her comments wherever needed.

Sample:
Actual Image:
![File (1)](https://user-image

[2020-07-21 13:16] robinv85 commented on #1079
@phuclb generally a lot of people worked on this code base and lots of code got merged without proper review or alignment with other developers...
I also noticed that really long font stack before, can't remember who added that, it's not necessarily a big problem, but usually it would be enough to have only a few in there (although nowadays there are a lot of different browsers, operating systems

[2020-07-21 13:43] ppagarawal opened #1245 "Product front end cleanup"
Clean up the right side vertical grey line on the screen
- [ ] Homepage
- [ ] Onboarding
- [ ] About us
- [ ] Feed
- [ ] Posts
- [ ] Individual profile
- [ ] Org profile
Reachout to me for screenshot/video.

The ticket also intends to remove any unessential elements like horizontal scroll for
- [ ] individual profile
- [ ] org profile

[2020-07-21 13:46] ppagarawal opened #1246 "Separate posts with horizontal rule"
As a user I want to have clear distinction between different posts on Help Board so that I they are readable.

Currently, there is no separation between different posts on helpboard.

[2020-07-21 13:50] OzkanAbdullahoglu commented on #1209
I can't reproduce this error in Iphone6 even in safari or chrome. Maybe you guys can reproduce? @idjevm @nr431207

[2020-07-21 14:06] ppagarawal opened #1247 "Fetch user details from social login"
As a user, I want to share my personal details with FightPandemics so that my time to create a profile reduces

Fetch the following details and input in the fields when creating an individual profile when a user registers using social media accounts
- [ ] First Name
- [ ] Last Name
- [ ] Address
- [ ] Email

[2020-07-21 14:14] ppagarawal opened #1248 "Fix the shivering elements across the platform"
The text elements when hovered over distort the other elements. Please fix them to have stability and not distort other elements or introduce a scroll bar on the page
Please check this in the following pages/features
- [ ] filter with location
- [ ] header
- [ ] visibility of posts in the post modal window
- [ ] onboarding pages
- [ ] Individual profile
- [ ] Create org profile
- [ ] Sign in page

[2020-07-21 14:38] joshmorel commented on #888
Was closing this a mistake @idjevm - this doesn't seem related at all to #1056

[2020-07-21 16:02] idjevm commented on #888
Oh lol I think I remember why! Thing is that I just change that one file to not use redux haha But yeah makes sense as this was meant to the whole platform right?

[2020-07-21 16:06] joshmorel commented on #888
Yeah the todo issues arent exactly great for broader issues. I guess I could close this one and author another myself.

[2020-07-21 16:58] galeza commented on #1243
@ppagarawal @rabbi08
Comment from @rabbi08 :

suggestion: if we can change the button to "show less comments" after all the comments are displayed, rather than nothing? So that user can again view the default newer comments only?

Refer attached GIF:
https://share.getcloudapp.com/E0uzk7zB

[2020-07-21 17:24] #1191 closed

[2020-07-21 18:53] sheeba1 opened #1249 "while sign-up, the link for 'FightPandemics' on 'Check your inbox' page is not working"
Issue: while sign-up, the link for 'FightPandemics' on 'Check your inbox' page is not working . Refer picture below:

steps:1. Go to  https://rcv11.fightpandemics.xyz/ , Navigate to Join Now

2.Enter email,password and confirm password and click 'Join Now'
3.'Check your Inbox' page is displayed
4. click on FP link on top left
Issue: FP link is not working

![image](https://user-images.githubuserco

[2020-07-21 19:01] joshmorel commented on #1249
Thanks @sheeba1 .

This is behaving as such for similar reasons explained in #1153. It wouldn't be easy to change (because of multiple functions depended on the same redirect logic) without refactoring to auth (which I'm working on slowly).

I'm thinking the best solution now and maybe even later is for these auth pages:

* create-profile
* auth/signup
* auth/login
* auth/check-email
* auth/forgot

[2020-07-21 19:24] sheeba1 commented on #1249
Comment from Manu, "@Sheeba Jose in most of the transactional features we don't want them to click anywhere else. Please check Amazon checkout page"

So we can make logo unclickable?

[2020-07-21 20:01] cweave commented on #1244
Solving #1242 should provide enough space to fix this.

[2020-07-21 20:03] joshmorel commented on #1249
@sheeba1  Yeah that was my thought. It would be fairly easy.

Right now it's wrapped in a `<Link>` like such:

[code]

Where we don't want it clickable we just omit wrapping it in a `<Link>`.

If this is a go then either we can reword this issue or close this and create a new one.

[2020-07-21 21:56] #1085 closed

[2020-07-21 22:37] #1242 closed

[2020-07-21 23:11] OzkanAbdullahoglu commented on #1246
Hi @ppagarawal, in Zepplin I found out this one [feed-help-m](https://zpl.io/boqZxkW), How is it look to you?

[2020-07-22 02:24] phuclb commented on #1079
@robinv85, we can embed Google Font in via <link> tag, it's also a CDN load, no need to use API with script.

I can review and remove all redundant code (font-family), and shorten font stack if necessary, to improve performance, a bit.

Let me know final decision.
Thanks.

[2020-07-22 03:31] ppagarawal commented on #1246
@OzkanAbdullahoglu the changes you have in the pull request is good. May I know what exactly do you mean to change here in the image you've attached?

[2020-07-22 05:26] #1246 closed

[2020-07-22 09:04] OzkanAbdullahoglu commented on #1246
I meant I tried to make similar changes in PR up to Zepplin. Glad to hear that you like it :)

[2020-07-22 14:11] tejasm2 commented on #1227
Thanks @jyclam , closing the ticket.

[2020-07-22 14:11] #1227 closed

[2020-07-22 19:22] DevonLattrell opened #1252 "Integrate Apple social auth in Auth0 and B/E"
To enable bio metric identification for FP (Touch ID or Face ID) user authentication [https://developer.apple.com/documentation/sign_in_with_apple/sign_in_with_apple_rest_api/authenticating_users_with_sign_in_with_apple](url)

[2020-07-22 20:01] nivetheatha opened #1253 "[Mobile-Android]Not identifying GPS Location."
Environment
https://rcv11.fightpandemics.xyz/
Device used: Samsung Galaxy
Browser:Google chrome
Steps to create:
1.Click on Request Help.
2.Click "I have a symptoms of covid-19".
3.Click on share my location.
![Screenshot_20200722-155308_Chrome](https://user-images.githubusercontent.com/41587211/88222809-7fa35e00-cc34-11ea-8826-7b74ade60bb8.jpg)

[2020-07-22 20:12] joshmorel commented on #1253
Hi @nivetheatha are you able to use geolocation on other sites?

The other thing - can you click the lock and share a screenshot. Maybe you blocked Location at some earlier point. It should say "Location - Allowed".

We discussed this one before #985 but no I can maybe use BrowserStack to see if it is device/browser specific.

What specific galaxy are you using?

[2020-07-22 20:20] nivetheatha commented on #1253
@joshmorel  yes am able to use geo location on other sites.It works well on the earlier staging environment (https://staging.fightpandemics.work/).
I am using Samsung Galaxy s8.

[2020-07-22 20:22] nivetheatha commented on #1253
@joshmorel #985 it works well on Google chrome. But now it's not working on Google chrome as well.

[2020-07-22 20:26] joshmorel commented on #1253
@nivetheatha if it works on staging but not production I'm wondering if you blocked it earlier. It's hard to tell. You need to click on the lock icon next to the URL.

If it says "Location - Blocked" like below that would explain it.

![image](https://user-images.githubusercontent.com/10546720/88225174-17567b80-cc38-11ea-86e7-cb043cfc9f51.png)

If not then I'm definitely puzzled on this one.

[2020-07-22 20:34] nivetheatha commented on #1253
@joshmorel yes you are right my mobile blocked the link from accessing gps.Now its working.Thanks.

[2020-07-22 20:34] #1253 closed

[2020-07-22 20:43] joshmorel commented on #1253
Thanks @nivetheatha . We can display more specific error messages (such as permission denied) to make it clearer to the user. I can add a new issue.

[2020-07-22 20:46] joshmorel opened #1254 "Customize "Share My Location" geolocation error message"
Instead of generic message on failure - https://github.com/FightPandemics/FightPandemics/blob/35b8a913070f92ede237d00a9083c500d0012703/client/src/utils/geolocation.js#L10 - customize the error message based on error code: https://developer.mozilla.org/en-US/docs/Web/API/GeolocationPositionError

Most importantly for the case where it was previously denied - so it is clear to the user and they can

[2020-07-22 21:02] Serhazor commented on #1254
Changed and submitted PR, getting an error, not sure what it means :-)

[2020-07-22 21:15] sheeba1 opened #1256 "After user applies a filter on Help Board, the user focus should be redirected to the filtered post"
Steps:
1. Navigate to https://rcv11.fightpandemics.xyz
 2.Navigate to View Help Board
3. Scroll Down a few posts on Help Board
4. Click on Filters-> location
5. Enter 'Irvine' ->choose Irvine, CA 92602
6.Click View Result

Filtered Post goes to the top. But the user observes some scroll on the page but not redirected to the filtered post. (I can share video on slack)

Expected: User should be redi

[2020-07-22 22:22] joshmorel commented on #1256
@sheeba1 I'm not seeing the issue here. Can you share a video?

[2020-07-22 22:32] mannykary opened #1257 "[post moderation] Set up prod MongoDB cluster to expose posts endpoint"
https://www.mongodb.com/blog/post/creating-a-data-enabled-api-in-10-minutes-with-mongodb-stitch

Create the Stitch endpoint to expose the posts view (we only need to the post ID and the post content, and maybe the timestamp)

[2020-07-22 22:34] mannykary opened #1258 "[post moderation] Set up Google Sheet to call Mongo Stitch posts endpoint"
Depends on #1257

Create a Google Sheets script that can be run on demand to call this endpoint to populate the Google Sheet with all the posts returned. Then post moderators can sift through the posts and flag any inappropriate posts. The flagged post IDs can then be passed on to a lead engineer to delete in the MongoDB database.

See https://www.mongodb.com/blog/post/stitching-sheets-using-mongo

[2020-07-22 22:38] OzkanAbdullahoglu commented on #1256
reproduced like in below gif.

![2020-07-23_01-29-23](https://user-images.githubusercontent.com/34690158/88236233-329ba800-cc85-11ea-91c2-7f1ff0d3ea93.gif)

[2020-07-22 22:50] sheeba1 commented on #1256
@OzkanAbdullahoglu , thanks for reproducing it and adding to Git.(reproduced exactly  !).  Ididnt know how to add a video

[2020-07-23 00:37] OzkanAbdullahoglu commented on #1172
also, same error was reproducing when "view more" clicked.

[2020-07-23 03:31] phuclb commented on #1248
Hi @ppagarawal, I think I can take this task, but I need time because it occurs in many pages.

[2020-07-23 03:57] ppagarawal commented on #1248
Sure @phuclb . I recommend that you go step by step and ship the first 2 checkboxes first and get it merged. Then proceed with the next. I can create additional tickets to breakdown the work. Let me know if you need more tickets.

[2020-07-23 07:20] phuclb commented on #1248
Hi @ppagarawal,

Filters' Location & Header are updated.
Please check it out and let me know your feedback.

If they are ok, we can continue with others.
Thanks.

[2020-07-23 07:22] ppagarawal commented on #1248
Please share the link to the vm you are making chages to @phuclb

Cc:@idjevm @rabbi08

[2020-07-23 07:49] phuclb commented on #1245
Hi @ppagarawal,

I think this is a big problem related to the way global layout is produced.
I used devtools to debug and I think we need to update some places to make it works.

Phuc.

[2020-07-23 11:38] #1172 closed

[2020-07-23 11:41] #1155 closed

[2020-07-23 16:50] nivetheatha opened #1262 "[Mobile-Android]New user not able to see their profile for the first time."
Environment: https://rcv11.fightpandemics.xyz/
Device used: Samsung galaxy s8
Browser: Google chrome
Steps to create:
1.New user sign up with valid user name,valid password.
2.Confirms mail id.
3.Signin with the same mail id,password.
4.Create your profile by providing all valid details.
5.Goto profile.
![Screenshot_20200722-153451_Chrome](https://user-images.githubusercontent.com/41587211/8831449

[2020-07-23 16:53] nivetheatha commented on #1262
This happens only for the new user.If we logged out and log in again ,then the bug doesnt exist.

[2020-07-23 16:54] joshmorel commented on #1256
@sheeba1 & @OzkanAbdullahoglu I can confirm this works with Firefox but not Chrome.

I was wondering if it is because the antd layout content is using non-standard ::--webkit-scrollbar pseudoelement? It works fine in Firefox using the main scrollbar so maybe if there's a way to disable it so it behaves similar in other browsers? I couldn't immediately see anything here: https://ant.design/componen

[2020-07-23 17:03] joshmorel commented on #1262
Weird I thought we fixed this. Maybe there was a regression or maybe not entirely.  I will assign myself to fix

[2020-07-23 17:11] idjevm commented on #1262
@nivetheatha Could you do the same on https://staging.fightpandemics.work ? I am curious if it is still there.

[2020-07-23 17:11] joshmorel commented on #1090
Resolved by #1136

[2020-07-23 17:11] #1090 closed

[2020-07-23 17:12] joshmorel commented on #1262
@idjevm (cc @nivetheatha)  - it's mobile-only. We didn't fix the nav link for `AuthenticatedMenu` (mobile only). I have a fix very soon

[2020-07-23 17:16] nivetheatha commented on #1262
@joshmorel it exists in iphone too..Not sure about web version.
@idjevm  I will check in staging as well.

[2020-07-23 17:21] joshmorel commented on #1262
@nivetheatha don't worry I was able to recreate the issue. I just check that it is resolved here on any mobile device or dev tools mobile view: https://hotfixmobile-profile-id-undefined.fightpandemics.xyz/

[2020-07-23 18:17] nivetheatha commented on #1262
@idjevm it works well in staging. Bug doesn't exist.

[2020-07-23 18:55] #1262 closed

[2020-07-23 20:03] #1204 closed

[2020-07-23 20:10] OzkanAbdullahoglu commented on #1256
stroll to the top can be a solution but I 'll dig a bit when I find the time, the first solution which you mentioned would be better I think.

[2020-07-23 20:49] nivetheatha opened #1266 "User able to signup again with same emailid by using facebook,linkedin,google."
Environment: https://rcv11.fightpandemics.xyz/
Device used: Samsung galaxy s8
Browser: Google chrome
Steps to create:
1.Signup with a mail id(ex:abc@gmail.com).
2.The user have a facebook account with the same email id abc@gmail.com.
3.If the user tries to signup with facebook account again.
Expected Result:
It should not allow user to create new account with same email id.
Actual Result:
It allow

[2020-07-23 22:18] joshmorel commented on #1266
Thanks @nivetheatha. Email is supposed to be unique so this is expected.

There are 2 things we can do long term and short for this:

1. Long term: Account linking #781 - more on this here https://auth0.com/docs/users/concepts/overview-user-account-linking
2. Short term: Check if the email exists before sign-up so they get an error message earlier.

Thoughts @indirabhowmick @vikjoshi ? We definite

[2020-07-24 17:31] #1244 closed

[2020-07-24 18:53] robvenn commented on #715
I can take a look at this. All the approaches that were mentioned seem possible, so we can make some choices and decide about the required functionality first. I think Auth0 checks if a gravatar exists for the e-mail address when signing up, and also uses the social media avatar when using a social media account to sign up. (this can also affect how user accounts are linked if that's implemented (

[2020-07-24 19:12] robvenn commented on #781
@adisen yes there is a setting for this on Auth0, so first need to enable on the dev environment and later also on the other environments, there is also a lot of documentation on Auth0 how that works, I looked at it before but then we didn't have the premium features yet so it was not supported in the free version. I think it should be possible to use their API for this, and we can show a custom p

[2020-07-25 13:35] adisen commented on #781
Yes Robin, similar to what is on eBay. A user get prompted, if when they want to signup with a social media account with the same email, to link the 2 accounts.

[2020-07-25 13:38] adisen commented on #1266
Yeah.
https://github.com/FightPandemics/FightPandemics/issues/781

[2020-07-25 14:22] tejasm2 opened #1267 "[Desktop] Update the feedback icon"
The feedback icon (envelope icon) needs to be updated by this new icon : https://zpl.io/bWOKBQM

![feedback icon 0](https://user-images.githubusercontent.com/66698276/88459078-192a7400-ceb0-11ea-9f42-b43647977abe.png)

[2020-07-25 21:00] mannykary commented on #715
@robinv85 Yeah, if we want to offload image uploads and processing from the main server, we could create an API Gateway endpoint that accept image upload requests, place them onto an SQS queue, and add a trigger to the queue to invoke a Lambda to process the image upload request and upload to S3. The tricky part is authentication though, since the endpoint would be called from the frontend. So thi

[2020-07-26 08:11] ppagarawal opened #1271 "Redirect a logged in user to the help board when he clicks on the logo"
As a logged in user, I want to be redirected to the Help Board when I click on the FightPandemics logo from any page.

For a non-logged in user, clicking on the FightPandemics logo will redirect them to the homepage.

[2020-07-26 08:16] idjevm commented on #1271
I don't find that logic correct. The logo should redirect to one place, and one place only. We could redirect the user to either just the help board if logged in or to the sign-in page if not signed in. But makes no sense to have it to one place or the other based on authentication. We could implement it but is it really that what we want?

[2020-07-26 08:18] idjevm commented on #1271
But then again, how will a signed in user get to the home page? or is the idea to have logged in users not have access to the home page + onboarding pages?

[2020-07-26 08:26] ppagarawal commented on #1271
Home page and onboarding is for the user to get to know the platform and get onboarded. Once the onboarding is done, the user is not required to undergo a re-onboarding. He can access all the required features from the filters itself. For non-logged in user, it is reasonable to have him on the homepage because he would still be need to get familiar with the platform. Moreover, the design is such t

[2020-07-26 11:44] tejasm2 opened #1272 "[Desktop][Mobile] The name of Individual and Organization needs to be limited to 60 chars max."
Scenario 1: Individual
As a user,
Given that I am on the Create Individual Account/ Edit Individual Account page,
Then I should be able to enter only 30 chars max in my First Name and 30 chars max in my Last Name.

Scenario 2: Organization
As a user,
Given that I am on the Create Org Account/ Edit Org Account page,
Then I should be able to enter only 60 chars max in my Organization Name.

[2020-07-26 15:00] git-satya commented on #1239
Working on CDN recently. If no one has started on this, then I can take this request.

[2020-07-26 18:37] joshmorel opened #1276 "Center align header right/left navlinks [desktop]"
Currently the links on the right are lower than the left (logo):

![image](https://user-images.githubusercontent.com/10546720/88484115-618e7400-cf3a-11ea-963d-8e359f335f06.png)

Should this be fixed? It would look better

The design is currently not also center aligned:

![image](https://user-images.githubusercontent.com/10546720/88486669-6d376600-cf4d-11ea-8273-7f4c39a346a6.png)
https://app.zepli

[2020-07-26 19:01] tejasm2 commented on #1276
Yes totally agreed @joshmorel, we should have it center aligned. May be @Yu-Alexa-Zhao can suggest here.

[2020-07-26 22:24] rabbi08 opened #1277 "Address is displayed twice for an Individual and Organisation in their profile."
1. Open "https://rcv11.fightpandemics.xyz"
2. Navigate to HelpBoard
3. 'Click on Profile icon of an Org to view the its details

Issue: You will observe  that the address for an organisation is displayed.

Refer below screenshot.

<img width="1440" alt="Screen Shot 2020-07-26 at 6 21 50 PM" src="https://user-images.githubusercontent.com/67168400/88491024-a41d7400-cf6d-11ea-8a91-81b7e0ac7e9e.png">

[2020-07-26 22:34] rabbi08 commented on #1277
Please note this is regression, this issue does not exist in STG. i.e. staging.fightpandemics.work

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67168400/88491106-8e5c7e80-cf6e-11ea-8e07-dde6b47022fd.png">

[2020-07-27 00:01] yu-zhao-xyz commented on #1276
Yes it could be centered!

[2020-07-27 00:32] OzkanAbdullahoglu commented on #1277
This is about #1250. @cweave

[2020-07-27 01:15] OzkanAbdullahoglu commented on #1245
It seems like these issues are handled? @idjevm

[2020-07-27 01:50] kterry1 commented on #1276
@joshmorel @tejasm2 @Yu-Alexa-Zhao This is a pretty easy fix. Just add `align-items: normal` to the **.am-navbar-right** class. I'd fix it myself, but I can only find the class using dev-tools. I can't seem to find it in the source code. I just finished onboarding today, so I'll do some more digging and see if I can find it.

[2020-07-27 08:06] phuclb commented on #1276
Hi @kterry1, please consider the border when hovering menu item, the border-bottom should reach to end of header block

[2020-07-27 09:11] ghost opened #1278 "[Security] X-Frame-Options Header Not Set, Rank: Medium"
Platform: Desktop and Mobile

Environment: Staging

Description of issue: After a vulnerability assessment, the following URLs do not have X-Frame-Options Header configured, which can be exploitable, and allow attackers to implement Clickjacking attacks on the website. Clickjacking is also known as "UI redress attack", when the attacker uses transparent or opaque layers to track a user into click

[2020-07-27 09:51] OzkanAbdullahoglu commented on #1000
Hi @ppagarawal, I couldn't find any design in Figma which is related to 404 page.  Maybe It is updating?

[2020-07-27 10:05] ppagarawal commented on #1000
Thanks for raising this @OzkanAbdullahoglu Let me check this with @Yu-Alexa-Zhao and get back.

[2020-07-27 14:41] joshmorel opened #1279 "Fix incorrect PRIMARY constant & "Join Now" font color"
As discussed in #1268

"Join Now" button should use the same color `#425af2"` as our design system's primary color
https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed038667f1f399a291b343e

This could be addressed in one of two ways - **1)** just update the rule(s) to use `#425af2`.

Or **2)** refactor our `client/src/constants/colors.js` constants file and usage. We have `PRIMARY` se

[2020-07-27 15:04] idjevm commented on #1276
I have a solution locally already so I will be submitting this soon.

[2020-07-27 15:07] #1267 closed, assigned to Joeu

[2020-07-27 15:45] robvenn commented on #715
@mannykary yeah that is more or less what I was thinking, but wasn't sure if we would need API gateway and how to integrate that with our existing authentication.

But do you think we should only use this for organizations though? And for individual users use Auth0 instead of storing images on S3? If we go though our own API to Auth0 it would create a similar problem when using the main node.js se

[2020-07-27 16:06] kterry1 commented on #1279
@joshmorel   Looks like a simple fix but I'll review and let you know if I have any questions.

[2020-07-27 17:22] #1277 closed, assigned to cweave

[2020-07-27 18:10] sheeba1 commented on #1204
verified: refer #1219
verified for individual and Organization profile creation and editing and received message as expected

"Address is required. Please enter your address and select it from the drop-down"

[2020-07-27 18:38] sheeba1 commented on #1191
Comment numbers are displayed correctly.

Enhancements needed for 'Show More'/'show less' button. Refer(1243)

[2020-07-28 14:33] #1276 closed, assigned to idjevm

[2020-07-28 14:40] #1279 closed, assigned to kterry1

[2020-07-28 15:04] ppagarawal commented on #777
@idjevm @rixiobarrios we can add more more spacing between elements for web as well

[2020-07-28 18:44] #1272 closed, assigned to OzkanAbdullahoglu

[2020-07-28 18:54] #853 closed

[2020-07-28 22:53] ghost opened #1284 "[Security] Cross-Domain Misconfiguraiton, Rank: Medium"
Platform: Desktop and Mobile

Environment: Staging

Description of issue: The CORS misconfiguration on the web server permits cross-domain read requests from arbitrary third party domains, using unauthenticated APIs on this domain. Web browser implementations do not permit arbitrary third parties to read the response from authenticated APIs, however. This reduces the risk somewhat. This misconfigu

[2020-07-28 23:25] sheeba1 opened #1285 "User should be redirected to login page when he clicks on 'comment' on a post he accessed through a shared link and not just message that they should be logged in."
Summary:

 1. a)User should be redirected to login page when he clicks on 'comment' on a post, he accessed through a shared    link and
    b) should land on post details page ,after he logs in
 2. Comment button should Not be highlighted when there are no comments for a post which is accessed via shared
                      link as in figure below:

![image](https://user-images.githubusercontent

[2020-07-29 01:23] doheekim93 opened #1286 "f_Internationalisation: Integrate language translation data to our platform"
Use react-i18n to integrate translated data from Lokalise to our platform!

[2020-07-29 02:51] ghost opened #1287 "Incorrect error message after multiple failed login attempts"
Platform: Desktop and Mobile

Environment: Staging

Description of issue: When inputting incorrect credentials in the login page: https://fightpandemics.com/auth/login, with multiple failed attempted, an error message showed the following: "Login failed, reason: Internal Server Error". This can cause confusion if the credentials are incorrect or the frontend is not able to communicate with the bac

[2020-07-29 05:37] ghost opened #1288 "[Security] Incomplete or No Cache-control and Pragma HTTP Header Set, Rank: Medium-Low"
Platform: Desktop and Mobile

Environment: Staging

Description of issue: The cache-control and pragma HTTP header have not been set properly or are missing allow the browser and proxies to cache content. Even after the session has been closed, there are cases where its possible to access private or sensitive data exchanged within the session through the web browser cache.

***This security issue

[2020-07-29 06:05] ghost opened #1289 "[Security] X-Content-Type-Options Header Missing, Rank: Medium-Low"
Platform: Desktop and Mobile

Environment: Staging

Description of issue: The Anti-MIME-Sniffing header X-Content-Type-Options was not set to 'nosniff'. This allows older versions of Internet Explorer and Chrome to perform MIME-sniffing on the response body, potentially causing the response body to be interpreted and displayed as a content type other than the declared content type. Current (early

[2020-07-29 06:29] tr1503 commented on #1286
For integrating translated data from Lokalise to our platform, we need to finish the following stuff:

- [x] Install the package react-i18n and its associated packages
- [x] Initialise react-i18n and add translate function to every displayed word
- [x] Find all missing words that don't have in Lokalise data and add them to Lokalise
- [x] Design and create the button for switching the language

[2020-07-29 06:29] phuclb commented on #1248
Hi @ppagarawal,

All pages are updated.
Please check it again.

Phuc.

[2020-07-29 17:19] idjevm opened #1290 "Meta image is not displaying in Twitter"
We need to fix this for twitter:
![image](https://user-images.githubusercontent.com/25408660/88831948-0f4d8d00-d19e-11ea-9e17-24de499138da.png)

Follow the convo here:
https://fightpandemics.slack.com/archives/C015BC1EMMG/p1595966724089300

[2020-07-29 20:30] sheeba1 opened #1297 "'Share' post is not working for telegram"
Issue: 'Share' post is not working for telegram. Post details/link is not shared for telegram.

Steps:
Have telegram installed on your dektop.
1.Click on share button for a feature and choose telegram .
2. It goes to message 'Open Telegram...' message opening telegram
3. Then it stays on 'Choose recipient'

Issue: Post details/link is not shared for telegram.

[2020-07-29 22:13] #701 closed

[2020-07-29 23:23] jyclam commented on #1285
To clarify, this isn't really related to the share button, sharing is just a way a non logged in user can get a specific post's url. A non logged in user can view a post if they have the url.

[2020-07-29 23:36] jyclam commented on #1297
It seems to work for me, did you choose a recipient in your contact list on the left?

I've also double check our implementation and also the implementation on the module we're using (`react-share`) and it seems to be correct.

![Screen Shot 2020-07-29 at 4 34 57 PM](https://user-images.githubusercontent.com/26049767/88864259-9fe59680-d1b9-11ea-9edb-3b0e061fac01.png)

[2020-07-30 01:14] ghost opened #1298 "[Security] Information Disclosure - Sensitive Information in URL, Rank: Medium"
Platform: Desktop and Mobile

Environment: Staging

Description of issue: The request appeared to contain sensitive information leaked in the URL. This can violate PCI and most organizational compliance policies. You can configure the list of strings for this check to add or remove values specific to your environment.

Vulnerable URLs:
https://staging.fightpandemics.work/api/posts?ignoreUserLocati

[2020-07-30 03:04] phuclb commented on #1290
Hi @idjevm, do we need to use absolute path for twitter image?
Here is reference: https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image

[2020-07-30 05:14] kterry1 commented on #722
@pokiza I tried to replicate this on Chrome and was unable to. Are you still seeing this? I'm curious it if it was fixed in a different PR.

[2020-07-30 05:38] mannykary commented on #715
Yeah I guess it would be much simpler to just implement one thing. We probably won't encounter scalability issues until later, so we can just roll our own avatar upload for now (and just keep it simple by having the main web server process it and upload to S3). If we encounter scalability problems, we'll need to reassess.

[2020-07-30 06:56] phuclb commented on #304
This part has several issues to check:
1. Modal layout
2. Step layout
3. Button (Next/Back) issue

To resolve all things and make it works better, I suggest:
1. Update modal & step layout
2. Update all issues (if existed) in each step

I'm considering this issue to do.
Let me know if there's any feedback.

PS: It looks like this part is also missing some steps, reported in other issues.

[2020-07-30 07:36] ghost opened #1300 "[Security] /api/auth/signup susceptible to HTTP flood attack, Rank: Medium-High"
Platform: Desktop and Mobile

Environment: Staging

Description of issue: HTTP flood attack is a type of volumetric distributed denial-of-service (DDoS) attack that is designed to send out multiple, and distributed http requests to overwhelm the server. In this case, the sign up page does not have a rate limit or temporary ip ban mechanism for preventing attackers from making multiple requests on

[2020-07-30 14:15] joshmorel opened #1301 "Update Sourced by FP logo to use staging"
Master is gone: https://raw.githubusercontent.com/FightPandemics/FightPandemics/master/images/fp_logo.png

https://raw.githubusercontent.com/FightPandemics/FightPandemics/staging/images/fp_logo.png

Also need to update Auth0 logos.

[2020-07-30 16:03] sheeba1 commented on #1297
@jyclam , I was able to make it work. Thanks John! for the suggestion to choose recipient.
 I had only one user and I was hoping to see the shared link to be pasted on the chat window.

[2020-07-30 16:44] joshmorel commented on #1301
Resolved by re-creating rump `master` branch

[2020-07-30 16:44] #1301 closed, assigned to joshmorel

[2020-07-30 17:34] #1297 closed, assigned to nobody

[2020-07-30 18:31] rabbi08 opened #1302 "Overlapping issue in the POST with address and Post TAGs."
PR#1182: Still doesn't work on iPhone 11 Pro max and now reproducible in Mac- safari too.

Please note- I have cleared my cache.
Devices tested on- Mac, iPhone 11 Pro max, ZTE Blade Max(Andriod)

This issue exist on Mac-Safari but not in Chrome

iPhone 11 Pro max: Safari

ZTE Blade Max(Andriod): Working fine

1. Open "staging.fightpandemics.work'
2. Navigate to 'Help Board'

Issue: The Address ->

[2020-07-30 18:56] jyclam commented on #1302
The [PR](https://github.com/FightPandemics/FightPandemics/pull/1182) that fixed this isn't in staging / production yet. I've tested Safari locally just now and it's fine but I suspect that the iPhone bug still remains as that wasn't addressed yet.

[2020-07-30 20:01] DevonLattrell opened #1303 "Add Feature - Different Options to sort feed by (location, timestamp, relevance)"
Links to Screen Shots of Wireframe view of feature below. This feature is for the feed to be sorted by location (near to far), post timestamp (new to old), most liked post (most to least), trending (most comments and shares to least).

Ideally the Sort Search tab is a click button that leads to the drop down to exclusive sorting by category. (see Sort Search top right)

![Sort Search FP](https://u

[2020-07-30 21:28] j-collier commented on #1252
The backend can already support this. The implementation needs to be enabled in Auth0 and added to the mobile client [by following this quickstart](https://auth0.com/docs/quickstart/native/ios-swift-siwa)

[2020-07-31 00:14] nivetheatha opened #1304 "Staging/Prod Environment not working in IE Browser."
Environment: https://staging.fightpandemics.work/
Browser:IE
![image (1)](https://user-images.githubusercontent.com/41587211/88986490-1f01ca00-d2a1-11ea-8de5-822e095bfb09.png)

[2020-07-31 00:17] rabbi08 opened #1305 "Share Post-> While sharing the post via EMAIL, the post title should be added as EMAIL subject"
1. Open "staging.fightpandemics.work"
2. Navigate to Help Board
3. Click on any Post to share as select as 'EMAIL'

Issue: You will observe that email is composed with the post description as email body with FP link, but the email SUBJECT is NULL/empty. This is consistency issue over email sharing of the post on the web.

Refer below screenshot.

<img width="1133" alt="Screen Shot 2020-07-28 at 6

[2020-07-31 00:21] idjevm commented on #1304
Both environments don't load up on IE. I will be exploring this issue today and tomorrow and do a hotfix once the solution comes up!

[2020-07-31 01:14] jyclam opened #1306 "Refactor and remove OrgProfileComplete page, instead use the ProfileCompleted page"
The call to action button should say `View Help Board` unless the unlogged in user clicked on `Create a Post` and went through the sign up process, in which case it should say `Continue posting`

# Currently the pages look like this:

## OrgProfileComplete
![screencapture-localhost-3000-create-organisation-complete-2020-07-30-17_47_07](https://user-images.githubusercontent.com/26049767/88989335-38

[2020-07-31 15:00] joshmorel opened #1307 "Document scraped posts to FightPandemics process"
Document process to get/edit posts in AirTable, caveats as well to how to run/troubleshoot import job into FightPandemics DB.

[2020-07-31 15:44] nivetheatha opened #1308 "[Mobile-Android]Menu adds on space depends on the number of post in the page."
Environment:https://staging.fightpandemics.work/
Browser:Google Chrome
Mobile:Samsung Galaxy
Steps to create:
1.Login with valid username,password.
2.Goto HelpBoard.
3.Scroll down to the middle post of the page.
4.Open Menu.
Expected Result:
Able to see all items in the menu .(The list has to be freezed it should look the same way when we open from top of the page or bottom of the page)
Actual Res

[2020-07-31 16:30] joshmorel commented on #1258
I will work on this using my own mongodb atlas cluster. Some familiarity with mongo & our data model is useful here so not necessarily good for a new user. Once this is done I will get a review then we can replicate the realm/stitch settings to the prod cluster (issue #1257).

[2020-07-31 17:40] kterry1 opened #1309 "[Accessibility] Create standards for accessibility or use a third party"
### We currently don't have any accessibility standards for our Product, Design, or Front End Engineering Team to follow. Although I don't have a lot of experience with accessibility, I've done a bit of research and it actually looks like it would be easier to just use a third party company that uses AI to add accessibility.
---
### Here is a website I found that would do just that: https://access