[2020-06-04 21:47] #369 closed

[2020-06-04 22:42] #572 closed

[2020-06-05 01:42] #571 closed

[2020-06-05 03:09] Yu-Alexa-Zhao commented on #583
HI design team here! I think it is okay if the close icon is not vertically centered on the banner. The way it is right now (on top right) seems good to me (i.e., like in a browser, the close button is always on top instead of being centered) if it makes sense :-)

[2020-06-05 03:10] joshmorel commented on #590
@joaofnds so is using the library referenced above best or do you have another suggestion?

[2020-06-05 07:11] idjevm commented on #583
Alright, so I think I just should change this ->
![image](https://user-images.githubusercontent.com/25408660/83847157-c5828200-a6d9-11ea-8c10-2c93442042b5.png)

to look like this originally if the screen resolution is high (i.e the text fits in the screen without having to have a second line)-> have the text well centered basically @Yu-Alexa-Zhao.
![image](https://user-images.githubusercontent.com

[2020-06-05 09:18] idjevm commented on #590
We can start implementing the mongoose-unique-validator or https://mongoosejs.com/docs/api/model.html#model_Model.exists,

I can start implementing the first one and see how it goes...

[2020-06-05 09:21] #594 closed

[2020-06-05 09:21] galeza commented on #594
Merged

[2020-06-05 09:31] Gtstride commented on #590
I think this can be done in the model set-up, the email field should have a unique property to its field, and then we could use a the `package `above, I think, this should have been in the set-up all along from the start.

[2020-06-05 10:48] idjevm commented on #449
@nadinejuraschek are you still working on this issue? Or I am not sure if I am missing some details...

[2020-06-05 11:36] #583 closed

[2020-06-05 11:39] idjevm commented on #468
@robinv85 Do you want to add specifically the .env file?

I noticed that the `.env.example` file is already included there like this ->
![image](https://user-images.githubusercontent.com/25408660/83872186-7c452900-a6ff-11ea-8078-47f90ed839b7.png)

 Perhaps add somewhere on Eng onboarding to request for the Airtable API Key and the baseId. or I can make an update to just have the baseId, and have n

[2020-06-05 11:45] galeza opened #604 "[Desktop][Mobile] Give Help | Question 3 screen link Skip"
env: https://staging.fightpandemics.work/offer-help#Step3

Steps:
1. Go to Give Help Question 3 screen
2. Click **Skip** link
3. Open empty https://staging.fightpandemics.work/AirTableCOVID screen

**Should open Feed with the address given as a filter.**

![Screen Shot 2020-06-05 at 11 49 25](https://user-images.githubusercontent.com/21987083/83872688-c693cd80-a732-11ea-90e6-d9df68086f5d.png)

[2020-06-05 12:26] galeza opened #605 "[Desktop][Mobile] Create post dropdown options"
env: https://staging.fightpandemics.work/feed

Steps:
1. Go to Feed
2. Create new post
3. Section visibility. Currently we have:
![Screen Shot 2020-06-05 at 14 18 56](https://user-images.githubusercontent.com/21987083/83875565-9d297080-a737-11ea-8e68-8a453d6a4db8.png)

In figma design we have a different options dropdown:
![Screen Shot 2020-06-05 at 13 52 38](https://user-images.githubusercontent.

[2020-06-05 12:47] joshmorel commented on #493
@pthoma14 @indirabhowmick

The [related code is in the other repo](https://github.com/FightPandemics/Auth0/pull/2
) for both account confirmation & welcome email. They are also saved in our Auth0 dev, staging & prod Auth0 environments.

The review environment - because it has the variable subdomain (_featureXYZ_.fightpandemics.xyz) is not going to work for these so in Auth0 I disabled the welcome

[2020-06-05 13:27] joshmorel opened #606 "Recover Password Backend"
Create route to recover password and functionality to request through Auth0:

Likely endpoint: https://auth0.com/docs/api/management/v2#!/Tickets/post_password_change

Related front-end issue is #63

[2020-06-05 14:23] Yu-Alexa-Zhao commented on #605
You are right about the data model being incorrect - I checked the data model again and thinks that the correct options should be "**in my neighborhood, in my city, in my country and worldwide**".

I think we can **keep the dropdown design** for now maybe at the next iteration we can think of something more intuitive lol

[2020-06-05 14:28] ppagarawal opened #609 "Screen standardization for access from tablets"
The product is not compatible with tablet screen sizes. This needs to be fixed to have better compatibility with tablet screens like iPad.

An example screenshot is given below:
![image](https://user-images.githubusercontent.com/6276256/83888001-d7f6cd00-a766-11ea-984e-815ae512f875.png)

Please reach out to me for any questions you may have.

[2020-06-05 15:24] idjevm commented on #604
So I am not sure about the filters since they don't seem to be working on my end, however, I can change this to go to the feed instead for now.

[2020-06-05 15:32] TiagoaTavares commented on #523
@idjevm ... It is "Worldwide" | "month" ! not "forever" !
--> https://github.com/FightPandemics/FightPandemics/issues/523#issuecomment-637720525

[2020-06-05 16:19] galeza commented on #605
Hi @Yu-Alexa-Zhao

So we will have:
The post is visible  in my neighborhood (or **neighbourhood???**) | in my city | in my country | worldwide"

[2020-06-05 16:20] galeza commented on #523
Hi @idjevm

#605 I asked @Yu-Alexa-Zhao about correct spelling and dropdown options

[2020-06-05 16:35] TiagoaTavares commented on #523
For now, focus on another issue .. This doesn't influence the functionality...

[2020-06-05 17:33] galeza commented on #523
Hi @TiagoaTavares @idjevm

Just a question. I checked data model and we don't have "state" option:
![Screen Shot 2020-06-05 at 19 10 04](https://user-images.githubusercontent.com/21987083/83906063-20ac8700-a763-11ea-98b3-3f46923d746d.png)
What do we insert into db while selecting this option? Should I check it with data engineers?

[2020-06-05 17:49] tiagocostasilva commented on #541
Waiting on an answer https://fightpandemics.slack.com/archives/C010QR5D4KY/p1591379359060100

[2020-06-05 18:05] robinv85 commented on #442
Going to put this ticket back to "new" since it seems like it's not in progress

[2020-06-05 18:07] robinv85 commented on #493
@pthoma14 @indirabhowmick @joshmorel is this in progress? if so, can probably be updated on the project tracker since it's still in the first "new:" column right now

[2020-06-05 18:09] robinv85 commented on #50
@CeesWang i'm working on this to finish some details and integrate with API

[2020-06-05 18:13] #261 closed

[2020-06-05 18:13] #263 closed

[2020-06-05 20:42] joshmorel commented on #493
@robinv85  I put it in review. Once I get confirmation from  @indirabhowmick that the updated verification email (+ welcome email) are okay we can move it to done.

[2020-06-05 20:53] robinv85 commented on #468
@idjevm for now, these are in `.env` but airtable will be removed from the frontend eventually
otherwise we could move them to the `client/config.js` too, but i think it's not needed
so the only thing really needed here is when we remove airtable just add `.env` to git and then the problem is solved i think :)
I don't know if there is a ticket to remove airtable or where it's used currently, if yo

[2020-06-05 20:57] robinv85 commented on #468
see #342 i think that depends on geolocation backend update first which is now highest priority

[2020-06-05 21:13] #565 closed

[2020-06-05 22:03] vikjoshi commented on #427
@tiagocostasilva , based on this thread, I'm moving this down the priority list for MVP-Release 1. Feel free to remove the MVP-Release 1 label altogether if you'd like.

[2020-06-05 22:06] vikjoshi commented on #164
I don't think can be complete until we finish https://github.com/FightPandemics/FightPandemics/issues/469

[2020-06-05 22:10] vikjoshi commented on #551
@silenceway , #378 has been merged. Are there any other blockers to being working on this?

[2020-06-05 22:12] vikjoshi commented on #486
@BMariscal - #378 has been merged. Any other blockers for this issue?

[2020-06-05 23:06] BMariscal commented on #486
No other blockers from what I can tell @vikjoshi I recently picked up this issue: https://github.com/FightPandemics/FightPandemics/issues/606 and will be spending time on it for the next few days. I'm going to remove myself as the assignee here but will pick it back up if it hasn't been picked up by someone else by Monday.

[2020-06-05 23:09] vikjoshi commented on #486
Makes sense- thanks!
CC: @ppagarawal

[2020-06-05 23:23] robinv85 commented on #427
@vikjoshi yeah the tag was already removed, I've removed it from the milestone as well
this gets a bit confusing I guess... but the milestones are just not as visible as the tags as far as I can see, not sure if we can do something about that

[2020-06-06 13:35] joshmorel opened #614 "User login error - check email not verified first"
If I try to login without verifying my email I get this error:

![image](https://user-images.githubusercontent.com/10546720/83945293-b97cea00-a7d7-11ea-84c7-1f2c21a9f636.png)

Due to:

[code]

Should we check for the 4XX error first similar to `POST users/` before the 5XX error:

[code]

[2020-06-06 13:45] robinv85 commented on #604
Eh 2 questions
isn''t this conflicting with the email validation that was added (merged for need help, offer help is open PR right now #610

[2020-06-06 13:49] robinv85 commented on #614
hmm ah yeah that's perfectly possible, guess I didn't test this enough, getting quite complex to get the steps right,  this one should be fixed first

[2020-06-06 13:57] robinv85 commented on #614
yeah after thinking about it more, i don't think this makes sense, users are able to log in and they get an access token (JWT) but they can't do anything except for confirming emails and creating user etc. before they can do anything else, so seems like this can't be right, maybe it's another problem / solution that's needed for the error?

[2020-06-06 14:21] robinv85 commented on #614
Ok so I think this is because originally I thought we shouldn't add the mongo_id on the Auth0 side until the email is verified, see https://github.com/FightPandemics/Auth0/blob/master/rules/mongo_id.js#L2
and then I added the error handler to prevent invalid Auth0 configurations
so now this means if you first sign up, and then you log in again before verifying the email, this error also returns, s

[2020-06-06 16:07] idjevm commented on #604
@galeza So based of @robinv85 comments I think it would be better to wait till #610 has been merged to figure out the next steps.

I also think that page is deleted. Not sure what would you suggest @robinv85 as I was looking into how the filters work, but they seem to be broken/not working correctly. So as for now, We should have it go to /feed rather than just to /AirTableCOVID since that page se

[2020-06-06 16:18] galeza opened #615 "[Desktop][Mobile] Need help | Question 3 screen | submit button is disabled"
env: https://staging.fightpandemics.work/need-help#Step3

1. Go to Need Help Question 3 screen
2. Press Submit button
3. Button is disabled. Feed screen is not open

![Screen Shot 2020-06-06 at 18 13 59](https://user-images.githubusercontent.com/21987083/83949075-18ffe780-a822-11ea-8a6c-f87e0d149501.png)

and with my email:
![Screen Shot 2020-06-06 at 18 35 21](https://user-images.githubuserconten

[2020-06-06 16:39] pthoma14 commented on #604
@tiagocostasilva @ppagarawal wanted to include you in this discussion about the Home page feature.

[2020-06-06 18:29] tiagocostasilva opened #616 "Create FAQ page to be accessed from the footer"
Hello Team,
We need to create a page for FAQ do add on the footer.
Can you please align with Andrea Steves to get which info will exist there ?

This issue is related with https://github.com/FightPandemics/FightPandemics/issues/541.

Thanks,
Tiago

[2020-06-06 18:32] CeesWang commented on #50
@robinv85 awesome let me know if theres anything I can do regarding this issue

[2020-06-06 18:33] idjevm commented on #616
Is there a specific design for the FAQ page?

[2020-06-06 18:38] tiagocostasilva commented on #541
@PriyalPatney  can you check this one https://github.com/FightPandemics/FightPandemics/issues/616 ?

[2020-06-06 18:39] PriyalPatney commented on #541
on it

[2020-06-06 18:52] tiagocostasilva commented on #616
I would risk to say that for MVP we could do something simple like the other privacy pages that are on the footer: https://staging.fightpandemics.work/terms-conditions . Only if Andrea has some specific need.

[2020-06-06 19:13] vikjoshi commented on #468
@robinv85 @idjevm - from our product/engineering meeting today: we need to add feature flags so we can hide/unhide certain features if they are not ready for launch. Robin's comment on how to do that:
"i wonder, feature flags always need the .env file i guess? because that ESLint stuff for frontend would require to put the .env file in git so might be related"

[2020-06-06 20:21] robinv85 commented on #468
yeah I don't see another way, I think @mannykary also suggested we could use multiple `.env` files so for example one that we add to git and one that can contain things like keys. but in the frontend I don't think we will need that if we remove the airtable keys here.
Only other configs is currently in `config.js` the password min and max length but that isn't really needed either I think

[2020-06-06 21:25] ppagarawal opened #619 "Geolocation page is different for giving and offering help"
The geolocation page (onboarding step 2/3) for giving and offering help is different.
It is recommended to streamline the two pages and have the Give help standard (with location dropdown) for both the onboarding flow

Need help:
![image](https://user-images.githubusercontent.com/6276256/83954571-fc869e00-a867-11ea-9cab-761725ccc4da.png)

Give Help:
![image](https://user-images.githubusercontent.c

[2020-06-06 22:53] joshmorel opened #620 "Add "Tech" to Post.types enum"
It is in [frontend](https://github.com/FightPandemics/FightPandemics/blob/15543d5be1daa72a6f2a0a30cd42baecff0a3cfa/client/src/assets/data/filterOptions.js) and [design](https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed56903c8ea1d3df663c6eb) but not in backend Posts.js types.enum

[2020-06-06 22:58] indirabhowmick commented on #604
@robinv85 @idjevm @galeza @TiagoaTavares @ppagarawal - If the user clicks on the skip button, it should be redirected to the Feed Page.

[2020-06-06 23:07] idjevm commented on #604
Yup, that should be already implemented on staging! Was updated on the last PR merged.

[2020-06-06 23:08] idjevm commented on #604
We should keep this issue open as we should update it later than we should skip to the Feed Page, and apply the filter of the location once that gets up and running.

[2020-06-06 23:10] indirabhowmick commented on #493
@joshmorel @robinv85 - I did get the confirm your email address mail, but when I click on confirm account button in the email, it is throwing  404 page not found an error.

[2020-06-06 23:12] indirabhowmick commented on #604
@idjevm - I agree, I was about to mention that in the comments. Thanks for pointing that out.

[2020-06-06 23:49] joshmorel commented on #493
@indirabhowmick Hmm. It was working before. Wonder if it has to do with SendGrid? I will look into tomorrow.

[2020-06-06 23:59] idjevm commented on #616
Sweet, I will get a PR right now for this one, I guess I will add a few FAQs there so we can at least have something and worry about the design later.

[2020-06-07 01:29] #620 closed

[2020-06-07 04:08] omarzoghayyer commented on #619
@ppagarawal Are you asking that you need to have `Needs help page Step 2/3 ` to be same as Give Help Page?

[2020-06-07 09:02] idjevm commented on #541
hey @PriyalPatney, I actually just noticed that you have to have your link set up this way -> `<Link to={"/faq"}>FAQ</Link>`, I can review once you open up a PR.

[2020-06-07 09:08] PriyalPatney commented on #541
yes @idjevm , I'll request PR shortly!

[2020-06-07 09:29] ppagarawal commented on #619
That's right @omarzoghayyer . @joshmorel please take a note here.

[2020-06-07 12:05] galeza opened #629 "[Desktop][Mobile] Create Profile | select address from drop down"
env: https://staging.fightpandemics.work/create-profile

Steps:
As PR with dummy location was merged (#617 ) I wanted to create profile for a new user
1. Go to Sign Up screen - then confirm email
2. Go to the Login screen, enter email, password. You are redirected to the Create User profile screen
3. In the address field we see dummy location: New York
4. I wanted to select this loc from dropdown

[2020-06-07 12:14] galeza opened #630 "[Desktop][Mobile] Create User profile screen | logo is disabled"
env: https://staging.fightpandemics.work/create-profile

Steps:
1. Sign Up - confirm email
2. Go to Sign In screen and you'll be redirected to Create User Profile screen.
3. Click logo
Logo is disabled. On all other screens logo redirects user to the home/main page.
In case of Create User Profile screen - is it allowed to quit this screen (press logo) and go to the home screen?

![Screen Shot 2020

[2020-06-07 12:31] robinv85 commented on #630
ah, good point, this is not really because the logo is "disabled" I think
I made it in such a way that the redirection logic will redirect you to the create-user profile if you are logged in and account is not active yet.
otherwise this might get even more complex, because some routes are available for both logged-in and not-logged-in users, so that means we cannot use the `isAuthenticated` check

[2020-06-07 12:33] robinv85 commented on #629
@galeza this shouldn't be reported as a bug yet since the location hasn't been implemented yet

[2020-06-07 14:10] tiagocostasilva commented on #288
@snowiesuet is there something missing on this issue?

[2020-06-07 14:21] #541 closed

[2020-06-07 14:23] ppagarawal commented on #563
This issue seems to have come up again but with respect to size and alignment.

![image](https://user-images.githubusercontent.com/6276256/83971139-44a0d180-a8f7-11ea-926c-979135d4e1f6.png)

[2020-06-07 16:00] galeza commented on #629
Ok, so I'm closing this issue.

[2020-06-07 16:00] #629 closed

[2020-06-07 16:21] #207 closed

[2020-06-07 17:59] vikjoshi opened #632 "Login via FB App Bug"
When testing E2E user login flow, if I use FB to sign up, it throws back the following error:
![image](https://user-images.githubusercontent.com/41554004/83976253-bfdd9580-a8ad-11ea-9ae3-765a9efcdff8.png)

[2020-06-07 18:07] vikjoshi opened #633 "Set PW Requirement"
As a new user, I go to the sign up screen. When I'm setting my PW, requirement is that it is 8 characters. However, after I enter the 8th character, new PW requirements come up. See attached video.

[RPReplay-Final1591552893.zip](https://github.com/FightPandemics/FightPandemics/files/4742648/RPReplay-Final1591552893.zip)

Expected behavior is that all pw requirements are visible from the beginning

[2020-06-07 18:11] ppagarawal opened #634 "Create a new page "Volunteer with us""
As a user I would like to share my details so that I can volunteer with FightPandemics.

Please create a new webpage with the below details:

Link: fightpandemics.com/volunteer-with-us

Use the below script for embedding the lists:
<script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
<script type='text/javascript' charset='utf-8'>
whr(document).ready(function(){

[2020-06-07 18:56] ppagarawal opened #636 "Skip button in a post enable the control flow to originating page"
Current functionality:
On clicking the skip button the user is redirected to login page.
Actual functionality:
It must redirect to the originating page ie the feed.

![image](https://user-images.githubusercontent.com/6276256/83977513-9a3ca480-a91e-11ea-8501-cd30858533ab.png)

[2020-06-07 19:12] galeza commented on #630
I'm closing this issue. Work as design

[2020-06-07 19:12] #630 closed

[2020-06-07 19:16] stavares843 commented on #632
if on staging environment is using the facebook on development mode, your email needs to be added on facebook developer console to be able to work

[2020-06-07 19:39] ppagarawal commented on #563
Another image:

![image](https://user-images.githubusercontent.com/6276256/83978383-bcd1bc00-a924-11ea-8158-2839b39628c4.png)

[2020-06-07 19:48] #547 closed

[2020-06-07 20:12] joshmorel opened #638 "Set-up Amazon SES for transactional emails"
Without a SendGrid pro account we need to switch to Amazon SES.

Emails will be from X@fightpandemics.com

[2020-06-07 20:25] mannykary opened #639 "Production - make highly available, and set up autoscaling"
Production should be highly available (i.e. at least two Fargate tasks, one in each availability zone). We should should also scale up/down depending on certain metrics (i.e. high CPU or memory usage, or high amount of traffic).

[2020-06-07 20:29] indirabhowmick commented on #493
@joshmorel I was able to test the functionality this morning. Thanks!

[2020-06-07 21:23] robinv85 commented on #633
Might need to check with designer how this should look, possible the same as the green "sub label" that is added on another form component (I think address on create profile at the moment)

[2020-06-07 22:30] mannykary commented on #638
Followed instructions here, up until step 7: https://auth0.com/docs/email/providers#configure-amazon-ses

I set up Amazon SES, and submitted a support case to AWS to request our account be brought out of sandbox mode.

Once we have our production setup, we can add the AWS credentials in Auth0.

[2020-06-07 22:59] #632 closed

[2020-06-08 03:32] umerhassan opened #641 "On the website, the location filter is not working."
![image](https://user-images.githubusercontent.com/33638819/83990244-31493280-a906-11ea-8ca2-ab00c91d17da.png)

https://fightpandemics.com/feed

When clicking on the location: I am getting: [object Object] as seen in the screenshot attached.

[2020-06-08 03:33] umerhassan opened #642 "SSL Certificate"
![image](https://user-images.githubusercontent.com/33638819/83990310-753c3780-a906-11ea-8d27-b22167d10063.png)

SSL Certificate is not configured properly on the website.

[2020-06-08 07:09] ppagarawal opened #643 "Content update on Cookies policy page"
Please update the content to remove extra line in cookies policy page

![image](https://user-images.githubusercontent.com/6276256/84001770-f1756000-a984-11ea-9f3e-0894ebefac81.png)

Output should look like:
I. This website uses...

[2020-06-08 07:16] ppagarawal opened #644 "Update content on terms and conditions page"
Please correct the term "Fight Pandemics" to "FightPandemics" wherever applicable. There are total 80 instances found

![image](https://user-images.githubusercontent.com/6276256/84002364-f090fe00-a985-11ea-99a9-3bf01abba13d.png)

[2020-06-08 07:17] #644 closed

[2020-06-08 10:49] nadinejuraschek commented on #616
This issue can be closed right? @idjevm @tiagocostasilva

[2020-06-08 11:05] idjevm commented on #616
Hey @nadinejuraschek, let's leave it open for now. As we still need to make more updates to the FAQ page.

[2020-06-08 11:07] idjevm commented on #616
@tiagocostasilva I have pushed a new version of the FAQ page, and have some thoughts of what else I can do to make it more user friendly. Please pass along the designers the word to review -> https://staging.fightpandemics.work/faq

I have to deploy the changes to staging though, looks like the latest changes are not in staging yet.

[2020-06-08 11:29] #50 closed

[2020-06-08 11:37] idjevm commented on #642
@mannykary @manualzuru This probably has to do with the things you guys have been doing right?

[2020-06-08 11:43] adisen commented on #575
Quick question: Is the update individual route supposed to be in the backend/endpoints/posts.js file?

[2020-06-08 12:06] galeza opened #646 "[Desktop][Mobile] Add post when user is sign in - pop up"
env: https://staging.fightpandemics.work/profile

**It's a question about flow when user is sign in and profile was created.**

Steps:
1. Go to Sign In page - log in. Your profile is already created.
2. Click Profile from navbar. You can see Profile page with all your information.
3. Click plus sign and add a post
4. Save post
5. You will see confirmation: Success and button "Create profile"

When

[2020-06-08 12:12] galeza opened #647 "[Desktop] Profile | doubled add post sign"
env: https://staging.fightpandemics.work/profile

1. Sign In
2. Go to Profile
3. For desktop application "plus" sign is shown twice (create post and at the bottom of the page):
![Screen Shot 2020-06-08 at 14 06 53](https://user-images.githubusercontent.com/21987083/84028946-e70d9300-a991-11ea-8e43-2396a180eabb.png)

For mobile is ok:
![Screenshot_2020-06-08-14-08-19-862_com android chrome](https:/

[2020-06-08 12:42] #513 closed

[2020-06-08 13:09] idjevm commented on #581
This issue was solved with PR #608

[2020-06-08 13:09] #581 closed

[2020-06-08 13:32] joshmorel commented on #642
No this is because this image is served over http. It's a mixed content warning

![image](https://user-images.githubusercontent.com/10546720/84035962-8c147580-a96a-11ea-83fa-f8cea803cd9b.png)

This is logo for sourced by pandemics. I can change to https and I think it will work but really we should be storing this on S3 instead especially now that we are switching emails to Amazon SES (instead of

[2020-06-08 15:03] BMariscal commented on #449
@idjevm These are ESLint warnings and this ticket is keeping track of those that have been fixed. LMK if you want to work on this ticket and resolve all the remaining warnings.

[2020-06-08 15:07] idjevm commented on #513
@BMariscal Should we reopen this issue?

[2020-06-08 16:49] Joeu commented on #564
Fixed with this [PR](https://github.com/FightPandemics/FightPandemics/pull/650)

[2020-06-08 17:15] joshmorel commented on #641
Hi @umerhassan This I'll resolve with further work related to #649 .

[2020-06-08 17:16] joshmorel commented on #605
Hey there was executive decision to remove zip code but the designs weren't updated. We can add in my neighborhood much later (once we get user feedback post MVP) if it makes sense - but it might be too granular.

[2020-06-08 17:24] BMariscal opened #651 "Implement forgot password page"
In the `/auth/login` page, there's a `Forgot Password` link that redirects the user to `/auth/forgot-password`.

Implement the frontend page and integrate it to call this API: https://github.com/FightPandemics/FightPandemics/pull/631

https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed032f5d3540eb8c20e1748

Related PR with abandoned work:
https://github.com/FightPandemics/FightPandem

[2020-06-08 17:26] joshmorel commented on #523
Until we set up some kind of data model process again the source of truth is the master branch model files - e.g.   https://github.com/FightPandemics/FightPandemics/blob/master/backend/lib/models/Location.js

We can decide about that post soft launch once we've stabilized a bit.

The two related PRs for this - we discussed in Slack with Manu - the designs weren't updated, can you ask someone?

htt

[2020-06-08 17:51] joshmorel commented on #615
@robinv85 though you were working on getting this step wizard refactored/working (offer-help/need-help)?  Is this work in progress?

[2020-06-08 17:58] joshmorel commented on #164
I asked about this in slack. For authenticated is it supposed to overwrite user's own location for filtering (e.g. if my location is New York City but I ask for Buffalo now share_with city "Buffalo" posts will be visible).

[2020-06-08 18:10] #647 closed

[2020-06-08 19:21] joshmorel commented on #642
#652 fixes but only for Sourced By FP. When new users add avatars, if we're just storing a URL then well we have no control over this.

We'd need to upload images ourselves to S3. Probably a good idea but can be done post-MVP.

[2020-06-08 19:32] galeza commented on #523
Hi @joshmorel,

For now I'm closing #523 and #605

[2020-06-08 19:33] galeza commented on #605
Hi @joshmorel,

For now I'm closing #523 and #605

[2020-06-08 19:33] #605 closed

[2020-06-08 20:38] tiagocostasilva commented on #616
@ppagarawal can you please follow-up here? @idjevm are the all the changes done already? I saw the faq page still has some missing questions:
![imagem](https://user-images.githubusercontent.com/45389561/84078133-4a1e1a80-a9d0-11ea-8c57-5485cbc8d362.png)

But regarding the design, i think you did a great job on it ;)

[2020-06-08 22:23] joshmorel commented on #468
This will be resolved with #649

[2020-06-08 22:25] joshmorel commented on #336
I'm going to resolve this with #649 or a 2nd PR related to geolocation front-end integration.

[2020-06-08 22:27] joshmorel commented on #223
This I think has been resolved maybe with #224 ?

[2020-06-08 22:27] #223 closed

[2020-06-08 22:31] joshmorel commented on #63
Closing in favor of #649. We do need to start from scratch and it is good to have visibility at the top

[2020-06-08 22:31] #63 closed

[2020-06-08 23:50] robinv85 commented on #642
yeah definitely cannot store an external URL as image, I think we can close this ticket @joshmorel @umerhassan ?

[2020-06-09 00:32] robinv85 opened #653 "`postProps` undefined in `PATCH /api/posts/:postId`"
Seems like I've spotted a bug here

https://github.com/FightPandemics/FightPandemics/blob/master/backend/lib/endpoints/posts.js#L348

[code]

And makes me wonder why this got merged, should probably be caught by ESLint and preventing to commit...

[2020-06-09 00:56] #493 closed

[2020-06-09 03:59] indirabhowmick opened #655 "Desktop/Mobile web UI- Hide email address on View User profile screen when viewing other user's profile"
- [ ] Hide email address on View User profile screen when viewing other user's profile
https://zpl.io/bWzjANx

[2020-06-09 07:15] #639 closed

[2020-06-09 07:15] mannykary commented on #639
Set desired count to two, and set up auto-scaling based on CPU utilization.

[2020-06-09 12:34] galeza opened #656 "[Desktop][Mobile] persist login session after refresh"
env: https://staging.fightpandemics.work/

Steps:
1. Log in to app
2. Go to Profile page (See you email, account data)
3. Refresh page
4. Login screen is shown. User is logged off.

Should add "keep me logged in" feature.

[2020-06-09 12:46] robinv85 commented on #615
@joshmorel I wasn't working on this, I did this couple of weeks ago, not sure if anyone is currently working on it. I recently just added email validation and realised that the requirements weren't clear regarding
- is email required to submit?
- what do we do with the data?

[2020-06-09 14:37] #564 closed

[2020-06-09 16:27] galeza commented on #646
We need a confirmation popup for a logged in user

[2020-06-09 16:42] galeza commented on #615
Hi @robinv85 I'm reassigning this issue to PMs to get answers to your questions.

[2020-06-09 16:46] galeza commented on #615
Hi @ppagarawal @tiagocostasilva

We have questions about submit button on Need Help (on question 3 screen) and also Give Help  (on question 3 screen):

- is email required to submit?
- what do we do with the data?

[2020-06-09 17:06] ppagarawal commented on #615
@manualzuru @Yu-Alexa-Zhao Can you please help answer these questions?

[2020-06-09 17:10] #416 closed

[2020-06-09 17:10] #420 closed

[2020-06-09 17:36] galeza commented on #615
Button submit is also disabled on Give Help Question 3 screen

[2020-06-09 18:02] joshmorel commented on #642
I think we should close this ticket as is. But we need a plan/ticket for updating avatars and storing photos. Should we create a ticket for v1.1 milestone or are you currently working on this as part of edit profile @robinv85?

[2020-06-09 18:24] agmaal1 commented on #561
Some doubts:
What is the "+add new one button" expected to do?
What route "feedback" points to?

[2020-06-09 18:27] #642 closed

[2020-06-09 18:28] Yu-Alexa-Zhao commented on #615
I think users are able to skip the third step in the process. The button is disabled until the user enters a valid email address to continue.
![image](https://user-images.githubusercontent.com/44085699/84185677-5dc39280-aa5d-11ea-9f9c-2617a61a239f.png)

[2020-06-09 18:30] BMariscal commented on #575
I don't remember unassigning you @robinv85  or even seeing this ticket D: Sorry!!!

[2020-06-09 19:03] ppagarawal commented on #615
@Yu-Alexa-Zhao Do we need to store this data?

[2020-06-09 19:24] joshmorel commented on #619
I'll fix this with other geolocation integrations. FYI we discussed in #mvp_posts and for now the search input & dropdown will be the same as for create/update profile address. So it will look a little different. This is to reduce effort given timelines. After soft launch or MVP we can correct or more ideally come up with a consistent design for a single location/address search component.

[2020-06-09 20:05] #653 closed

[2020-06-09 20:24] Yu-Alexa-Zhao commented on #615
I think @manualzuru can better answer this question. The back story for this feature is for markets to gather users' email to send them promotions even if they are not registered with us.
So I gather it depends on the marketing team if they are planning to utilize user email.
1) If marketers have a plan to use user emails, then there is a need to store this data
2) If they don't for have a plan in

[2020-06-09 20:27] ppagarawal opened #660 "Content changes for Terms conditions | Privacy policy | Cookies Policy"
Please replace the contents in the 3 pages with changes as mentioned below:

Terms & Conditions
- [ ] replace "Fight Pandemics" to "FightPandemics"
- [ ] replace "FIGHT PANDEMICS" to "FIGHTPANDEMICS"
- [ ] Initial styling (bold, italics, underline, font, size, case) has not been affected
- [ ] Do not make any changes in the email addresses

![image](https://user-images.githubusercontent.com/627625

[2020-06-09 20:33] ppagarawal commented on #615
@manualzuru In that case, I believe that it will be good to inform the users that their email is being captured for marketing mails. The current screen does not convey that. Please let me know the purpose so that we can proceed accordingly.

[2020-06-09 21:01] joshmorel commented on #468
Will be resolved by #649

[2020-06-09 21:11] adisen commented on #551
This is like replying to comments right?

[2020-06-09 21:13] vikjoshi commented on #551
@adisen , yes that's right

[2020-06-09 21:16] adisen commented on #551
Okay.

[2020-06-09 22:06] joshmorel opened #663 "MongoDB substrBytes bug"
Got this error:

[code]

[2020-06-09 22:40] idjevm commented on #643
Closing this issue as it will be resolved with #665

[2020-06-09 22:40] #643 closed

[2020-06-09 22:49] larryabim commented on #655
Am I allowed access to zeplin so I can see the issue

[2020-06-09 23:11] umerhassan opened #666 "Unable to see feed page due to Auth"
To reproduce the issue:
1) Go to https://fightpandemics.com/feed
2) Click on the "heart" icon on any of the posts. It will take you to the Login page (which is correct).
3) Now, if you don't want to login, you can not see feeds no matter what you do. If you go back to the feed page it will take you back to login. This behavior doesn't seem right.

[2020-06-09 23:38] #663 closed

[2020-06-09 23:53] joshmorel commented on #666
This has to do with https://github.com/FightPandemics/FightPandemics/blob/643849048765b4d7e67dd4d5aed0111685d6516e/client/src/pages/Feed.js#L273

Haven't investigated too much about how the user is handled on front-end. @robinv85 maybe you know or is this related to another open issue?

[2020-06-09 23:53] idjevm commented on #666
I totally see what you mean, @galeza @robinv85 @joshmorel should we add the header to the `auth/login` path so that way the user can still click on the feed or other links?

I also noticed that the logo is placed not in the same place as the home page?

[2020-06-10 00:06] joshmorel commented on #574
I will start development but wait til  #654 is merged so it can be more easily tested.

[2020-06-10 02:47] joshmorel opened #667 "Dont show emergency num for mvp"
This seems to be only mobile related. We're not providing emergency numbers as part of MVP s let's not show this for now.

![Screenshot_20200609-224311_Samsung Internet](https://user-images.githubusercontent.com/10546720/84221407-27106b00-aaa3-11ea-9bc5-c8dbfe70b7d3.jpg)

[2020-06-10 04:02] indirabhowmick commented on #655
@larryabim - please request for access from @manualzuru
@robinv85 - Tagging Robin since he is working on this feature.

[2020-06-10 04:09] indirabhowmick commented on #636
@ppagarawal - Once the user has submitted the post, this is the modal window that should pop up.
![image](https://user-images.githubusercontent.com/57240870/84225904-34bef400-aa95-11ea-864d-df8799a664df.png)

On clicking on the skip button, success modal should disappear and the user should be able to see the Feed UI.

[2020-06-10 05:02] omarzoghayyer commented on #539
@robinv85 should we close issue for now?

[2020-06-10 05:24] omarzoghayyer commented on #667
@joshmorel I just uncommented it, so that its easier to get it back to normal once we decided to show it.

[2020-06-10 06:17] omarzoghayyer commented on #563
@BMariscal Im not sure why I was unassigned on this issue. I was working on it since @ppagarawal reopened it, and I already have a PR open for it.

[2020-06-10 07:14] nadinejuraschek commented on #449
@idjevm No, I'm not working on this :) Feel free to take over the ticket!

[2020-06-10 07:53] ppagarawal opened #671 "Navigation buttons overlay adjustments on mobile UI"
Issue:
The user faces trouble during navigation in onboarding due to partial visibility/non-visibility of the buttons.

Current visual:
The mobile UI of the onboarding pages has next and back buttons which gets behind the visuals.

Expected visual
The next and back buttons in the UI must go in front of the visuals.

![image](https://user-images.githubusercontent.com/6276256/84241256-e0f7ed80-ab1c-

[2020-06-10 11:30] Joeu commented on #563
I'm assigning to you then, @omarzoghayyer , since you already have a PR fixing this.

[2020-06-10 11:39] #667 closed

[2020-06-10 12:53] LastedGuide opened #673 "[Web] Problems with editing account information/profile"
**Steps to recreate:**

1. Create a new account
2. Go to you profile
3. Press the edit button (the pen icon)
4. Select _edit profile_ or _edit account information_
5. The page is blank and there is an error in the console
6. You may also notice that you were logged out of your account if you go back in your browser.

![image](https://user-images.githubusercontent.com/20052500/84269637-78e2e080-aaf

[2020-06-10 17:05] galeza opened #677 "[Desktop][Mobile] Light blue border Need Help | Give Help buttons (LOW PRIORITY)"
env: https://staging.fightpandemics.work/

**THIS IS LOW PRIORITY**

Open home screen: Need Help, Give Help have light, blue borders:
![Screen Shot 2020-06-09 at 18 31 30](https://user-images.githubusercontent.com/21987083/84297082-45cb3c00-ab4d-11ea-96d1-c930204bc2e4.png)

[2020-06-10 19:17] joshmorel opened #679 "Integrate feed filters with posts endpoint"
Once this is merged #678 we need the filters to actually work.

![image](https://user-images.githubusercontent.com/10546720/84308398-7b136200-ab2c-11ea-8465-22673a09b186.png)

There are two kinds of filters:

1. The main links:
    1. "All posts": no objective query param
    1. "Requesting help": `objective=request`
    1. "Offering help": `objective=offer`
1. Filters: These should be sent as str

[2020-06-10 22:52] robinv85 commented on #468
@vikjoshi and @joshmorel If I understand then this issue is resolved so the `/client/.env` is now in git version control
This doesn't provide feature flags functionality, but if we add that functionality, it will probably use this `.env` file to set them, at least for development
Also I think @MohamedEl1 asked about setting the GTM id in the frontend, I suppose this is also related, not sure if we

[2020-06-10 23:35] #562 closed

[2020-06-10 23:36] #561 closed

[2020-06-10 23:39] #184 closed

[2020-06-11 01:13] Joeu commented on #562
They are, @ppagarawal . Probably the extension that I used to capture the gif tweaked the colors.

[2020-06-11 03:57] mannykary commented on #638
We have been approved for production access for SES. I set up the AWS credentials in each of our Auth0 tenants, and sent test emails, which worked.

I have submitted another request to lease two dedicated IP addresses. This will boost our sender reputation, making it less likely for us to be blacklisted from email providers. The IP addresses will also be automatically warmed. But as far as this ti

[2020-06-11 03:57] #638 closed

[2020-06-11 08:52] galeza commented on #677
Please refer also to the PR #289

Tested 11 June:
![Screen Shot 2020-06-11 at 10 48 14](https://user-images.githubusercontent.com/21987083/84365329-95ebe200-abd1-11ea-9cfe-21c1eeaeb704.png)

[2020-06-11 09:15] galeza opened #683 "[Mobile] Terms&Conditions | text alignment"
env: https://staging.fightpandemics.work/terms-conditions

**This is LOW PRIORITY**

Steps.
1. Open Terms&Conditions on your mobile phone.
Scroll to General Security Principles, 1. Requirements to use the services.
Text is alignment to the right. Could we somehow improve readability and alignment of this text?
Currently it's hard to read:
![Screenshot_2020-06-11-11-09-38-684_com android chrome](ht

[2020-06-11 10:47] Gtstride commented on #673
I think, since we are sure, that since Robin is working on this, it can be assigned to him, so persons, would be well informed.

[2020-06-11 13:48] robinv85 commented on #673
@LastedGuide the feature is not implemented yet so I will close this ticket, I've been working on it and my PR is in draft at the moment if you want to check it and test it: #654
Please first check if there is already a ticket or work in progress before opening new issues

[2020-06-11 13:48] #673 closed

[2020-06-11 15:25] doheekim93 opened #684 ""Health Facilities" and "Symptom Checker" tabs still showing on Feed page"
**Issue**
We are only launching Feed UI for MVP. However, on mobile web, the tabs for "Health Facilities" and "Symptom Checker" are still showing (and are clickable!) on the Feed page.

![image](https://user-images.githubusercontent.com/66695502/84405122-5ae7af80-abcd-11ea-92a1-fc7a53ec7d7d.png)

[2020-06-11 15:29] ppagarawal opened #685 "Incorrect redirection to login when the user wants to see the feed"
The user is being redirected to the sign in page when he should be redirected to the feed only. He must not necessarily be signed in for that.

The redirection to the sign in page should not happen

Flow:
![bug](https://user-images.githubusercontent.com/6276256/84406166-c7db6380-ac26-11ea-8b7c-2140a0d71073.gif)

[2020-06-11 15:31] #606 closed

[2020-06-11 15:33] joshmorel opened #686 "Add format("email") validation to backend schemas"
We are not validating the `prop("email")` format as email in backend/lib/endpoints/schema/auth.js. This would be a good addition (although we are also already validating on frontend so not urgent). There might be additional endpoints schemas besides `auth.js` where `format("email")` could be added.

[2020-06-11 16:33] ppagarawal commented on #589
@idjevm Please note that the content has been updated. Please refer to the notion page. The logos for sponsors are here: https://www.notion.so/fightpandemics/5aaff03347214a53ab647b217e426887?v=7c48c174e5ae443e9c898f16476a29ee

And the video shared on slack with you.

[2020-06-11 16:49] ppagarawal opened #687 "Post only the success message after posting"
As a logged in user, I would like to get a clear confirmation message that my post was successful

Current scenario:
I get a message to create my profile after my post is successful. Even when my profile is created and I am logged in.

Expected behaviour:
Display only post successful message. Please ensure that this works for both organization and individual profiles.

![image](https://user-images

[2020-06-11 17:13] ppagarawal opened #688 "Skip button is missing and submit button is not working"
Steps to replicate
1. Go to Need help
2. Press next, go to step 2
3. Press next, go to step 3

- [ ] The submit button validates but also has to redirect the user to the feed after the users presses it.

![image](https://user-images.githubusercontent.com/6276256/84418095-44287380-ac34-11ea-970c-344b3ad0947b.png)

- [x] Create a skip button following the same steps as above. It should look like the

[2020-06-11 17:22] Joeu commented on #671
The PR was merged, @ppagarawal , therefore I'm closing this issue.

[2020-06-11 17:22] #671 closed

[2020-06-11 19:29] ppagarawal opened #689 "Transition from home page to onboarding pages (Nice to have)"
The flow of screen from the home page to onboarding is instant. The user needs to have a smooth experience while navigating.

Current behaviour:
![current](https://user-images.githubusercontent.com/6276256/84430676-adfe4880-ac47-11ea-96c2-156188ef99cd.gif)

Expected behaviour, transition has to be similar to below:
![expected](https://user-images.githubusercontent.com/6276256/84430832-e9991280-ac4

[2020-06-11 22:19] Naraujo13 commented on #551
This was already implement in # as discussed in #672.

[2020-06-11 22:20] #551 closed

[2020-06-11 22:21] pthoma14 commented on #634
Hi @ppagarawal I don't think this issue is MVP-Critical "Soft Launch" is it possible this can be launched with MVP- Release 1 instead?

[2020-06-11 22:41] robinv85 commented on #551
Ok I think @silenceway wass working on this in the frontend, might have been a misunderstanding that this wasn't implemented yet...

[2020-06-12 00:08] omarzoghayyer commented on #685
@ppagarawal I think it has been already fixed on other branch. I just tried it and it redirect to feed page.

<img width="518" alt="Screen Shot 2020-06-11 at 5 08 03 PM" src="https://user-images.githubusercontent.com/49251966/84450789-1debdf00-ac06-11ea-99d0-e7986fc74808.png">

[2020-06-12 00:11] omarzoghayyer commented on #688
@robinv85 What do you suggest regarding this? should we work on it now?

[2020-06-12 04:40] idjevm commented on #563
Reopening this issue instead of creating a new one, the problem is still happening, so let's try to get it as it is on the design.

Need help step 3 design:
https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed0378f0c4a0f97f183cf26

Offer help step 3 design:
https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed03866f134a6b47f0746c0

Right now we match neither of these desig

[2020-06-12 04:44] idjevm commented on #685
@ppagarawal I think here actually we should still continue to step three which gives the option to the user to give the email and for us to capture their email. Having it jump from step 2 to the feed would skip that extra step. Either way, on step 3, the user would have the option to skip inputting their email so I think from here you should move to step 3 @omarzoghayyer. Let's wait to see what @p

[2020-06-12 04:48] idjevm commented on #563
Also, I would want to know if in the need help we are trying to force the user by not giving it the chance to skip on step 3? or should both the `need help` and `offer help` be equal and have the option to skip (step 3 (email input) )? @manualzuru @galeza @ppagarawal ?

[2020-06-12 04:55] idjevm commented on #563
Some more context here:
- [x] Create a skip button for the need-help page. It should look like the one similar to the one on the link https://staging.fightpandemics.work/offer-help#Step3
- [x] Skip must redirect the user to the feed.

[2020-06-12 04:58] idjevm commented on #688
@ppagarawal I marked the create skip button as resolved since that will be resolved by #563 once it is merged. I think we can have this issue entirely for the submit button and validation. However, based on previous conversations, I don't think the API is set yet on the backend handle the submit button. I remember talking about this a few weeks ago. @robinv85 If I am not mistaken, the validation f

[2020-06-12 04:59] idjevm commented on #688
I do remember that I offered to simply have the submit button redirect to the feed for the time being. But I think there were a few other conversations that happened that stopped me from doing that.

[2020-06-12 05:01] idjevm commented on #687
@Gtstride I think @Joeu  is working on this based on a few conversations that we had yesterday.

Have you started on this one yet? or @Joeu did you not start this one yet? If not, then I guess it would be fine that Godstime has taken the issue.

[2020-06-12 05:24] Gtstride commented on #687
Yes, i have, once i make a PR, this should be fixed.

[2020-06-12 05:37] idjevm commented on #636
@indirabhowmick @ppagarawal Hey guys, so I am thinking about this modal and was wondering if as for now we should have it just show a success message. Implementing the `complete profile` would require actually checking in the backend for this user profile and notifying the frontend that the user has not yet completed the profile, perhaps we could add a flag or something when the user doesn't finis

[2020-06-12 05:56] #684 closed

[2020-06-12 06:25] mannykary commented on #468
I think we should not add the GTM key (or any other secrets) to the `.env` file committed to git. We should store secrets/keys used by the client container either Github Secrets (in repo settings), or in an encrypted S3 bucket. Since we don't have a lot of secrets for the client, we can store them in Github Secrets for now. We would just pull the keys from Github Secrets and append them to the `.e

[2020-06-12 11:01] galeza commented on #688
Submit button: this is duplicate
issue: https://github.com/FightPandemics/FightPandemics/issues/615 with a discussion how submit should work

[2020-06-12 11:31] galeza opened #695 "[Desktop] Need Help| Give Help | Question 1 screen | back button"
env: https://staging.fightpandemics.work/

1. Open Need Help|Give Help Question 1 screen
2. Could we correct back button: have the same space between arrow and text like on the Question 2 screen:

Question 1 screen back button:
![Screen Shot 2020-06-12 at 13 29 21](https://user-images.githubusercontent.com/21987083/84498419-edad4a80-acb0-11ea-81f2-51d3c5f846b6.png)

Question 2 screen back button:

[2020-06-12 11:31] Joeu commented on #563
Sure, @idjevm , but I'm seeing that we have already two PRs linked to this issue, and one of those is already merged.

[2020-06-12 12:00] idjevm commented on #695
Hey @Joeu remember about this bug that I mentioned you? Now we have an issue for :)))

[2020-06-12 12:03] galeza opened #696 "[Desktop] Feed | feed page after scrolling is emty"
env: https://staging.fightpandemics.work/feed

Steps:
1. Open Feed
2. Scroll down to the bottom of the page (no more feeds to display)
3. Click Request help, then Offer Help , and All posts. Screen is empty.
Gif below:

![Jun-12-2020 14-01-21](https://user-images.githubusercontent.com/21987083/84500704-5dbdcf80-acb5-11ea-85a7-0a3f4e475389.gif)

[2020-06-12 12:03] idjevm commented on #563
Which ones are those PRs?

[2020-06-12 12:17] Joeu commented on #563
Taking this one per conversation with @idjevm .

[2020-06-12 12:56] idjevm commented on #688
I agree with @galeza. Let's close this issue but move the conversation to #615 since this issue has been already opened for some time.

If you guys think it should be open, please feel free to reopen it.

@omarzoghayyer take a look to #615 for more context.

[2020-06-12 12:56] #688 closed

[2020-06-12 13:34] ppagarawal commented on #685
@idjevm @omarzoghayyer
I understand your point. However, the next button available also enables the user to go to step 3/3. I think that it is fine to have it redirect to feed for now.

[2020-06-12 13:45] Joeu commented on #695
A gif showing the result of my change:

![backButtonIssue](https://user-images.githubusercontent.com/1004896/84509295-df9fff80-ac99-11ea-8d6e-4058640ba478.gif)

[2020-06-12 14:06] joshmorel commented on #468
@robinv85 I see now this is only partially resolved. For some reason I missed the part not related to the `REACT_APP_AIRTABLE*` stuff. These are all removed from F/E resolved part.

But committing the `client/.env` file with `ESLINT=true` - that wasn't done it's still in `.gitignore`. Is the reason we want to commit because people aren't always copying the `.env.example` file? Could we add a `RUN`

[2020-06-12 14:13] robinv85 commented on #656
@galeza following your description of the issue
is it ok if I rename the title to "persist login session after refresh" or something like that?
then we can look at a more advanced "keep me logged in" feature  later which is not only session after refresh, but can keep a logged in user later, also depending on token expiration time etc.

[2020-06-12 14:15] pthoma14 commented on #641
Hi @joshmorel since #649 has been merged. Do you still want this issue open or would you like me to close it?

[2020-06-12 14:18] pthoma14 commented on #619
@joshmorel if this UI fix can be fixed up for the MVP launch. Can we remove the soft launch tag "MVP-Critical" from this issue and keep the "MVP - Release 1" tag?

[2020-06-12 14:51] joshmorel commented on #641
This one will be addressed with #679 which is more broadly addresses integration of all the feed filters (incl location) with the now ready backend. I'll close this one.

[2020-06-12 14:51] #641 closed

[2020-06-12 15:37] idjevm commented on #696
So I took a look at this issue, and it looks that what happens that there are not more requests made to the server for posts once `skip` reaches 100; @robinv85 @joshmorel Should we reset the skip value to 0 or  what do you guys think a solution would be for this?

[2020-06-12 16:26] galeza commented on #695
@Joeu

it looks good!

[2020-06-12 16:38] galeza commented on #656
Hi @robinv85

I'm changing the title of this issue to "[Desktop][Mobile] persist login session after refresh"
Should I add a new issue "[Desktop][Mobile] Add advanced "keep me logged in" feature" or sth like that? Just I want to keep track of this problem?

[2020-06-12 17:00] doheekim93 opened #698 "Share button (on posts) functionality not working - does not copy link"
env: [https://staging.fightpandemics.work/feed](url)

Expected: User clicks share button --> Link is copied to user's clipboard --> "Link copied!" dialog pops up

Current (Desktop): User clicks share button --> "Link copied!" dialog pops up
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/66695502/84527787-2a267980-aca4-11ea-8526-a4b41c16763e.gif)

Current (Mobile): User clicks

[2020-06-12 17:05] #695 closed

[2020-06-12 17:17] BMariscal commented on #563
I'm so sorry @omarzoghayyer I don't recall doing this. I think what happened is that I checked out the issue on my phone and accidentally unassigned you.

[2020-06-12 17:23] mannykary opened #699 "Add Google Tag Manager environment variable to client container"
We need to store the secrets in Google Secrets and then inject them into the client `.env` while building the Docker container.

[2020-06-12 17:39] #699 closed

[2020-06-12 17:50] Gtstride commented on #634
is there a design template for the page, and I think, if it isn't stopping any of the major functionality, then I don't think it should be critical to the **Soft Launch**

[2020-06-12 18:07] doheekim93 commented on #696
Hey @idjevm, do you know why the page bounces when the posts are loading? You can see it in the Gif above. It happens both on Desktop and Mobile.

[2020-06-12 18:17] doheekim93 opened #701 "Users with long names overlap location text"
env: [https://staging.fightpandemics.work/feed](https://staging.fightpandemics.work/feed)
This issue is only seen on mobile.

Users with short names, there is no wrapping issue:
![IMG_4903](https://user-images.githubusercontent.com/66695502/84533850-8ee6d180-acae-11ea-803b-23964658206a.jpg)

Users with long names, the name wraps and overlaps the location text:
![IMG_4904](https://user-images.githu

[2020-06-12 18:28] #575 closed

[2020-06-12 18:39] robinv85 commented on #83
@MohamedEl1 this is done?

[2020-06-12 18:42] robinv85 commented on #288
@tiagocostasilva @snowiesuet is this still not fixed?

[2020-06-12 18:43] robinv85 commented on #428
@tiagocostasilva @snowiesuet this still has to be fixed?

[2020-06-12 18:45] robinv85 commented on #365
@snowiesuet I think the limit is 1 reply level
does this mean this can be closed? @jyclam @indirabhowmick

[2020-06-12 18:49] robinv85 commented on #655
@indirabhowmick I worked on the view profile for your own user, but we don't have support to view another user profile at the moment, and you can never see the email address.

[2020-06-12 18:51] ppagarawal commented on #328
@tiagocostasilva and me had worked to get this sorted. Different tickets were raised to have the desired UI and behaviour.

[2020-06-12 18:51] #328 closed

[2020-06-12 19:00] Joeu commented on #563
Just pushed some code. Screenshots below:

![submitButton1](https://user-images.githubusercontent.com/1004896/84537263-cad96100-acc5-11ea-89eb-75e7396a5f1e.png)
![submitButton2](https://user-images.githubusercontent.com/1004896/84537269-cc0a8e00-acc5-11ea-95a9-900f1074bb05.png)
![submitButton3](https://user-images.githubusercontent.com/1004896/84537270-cc0a8e00-acc5-11ea-9154-b65d23676110.png)

[2020-06-12 19:20] ppagarawal opened #704 "Sorting posts on feed based on location"
Please follow the requirement for feed for posts sorting.
Business Rule: Land on the Feed without filter, and sorting by the location with the IP (nearest posts first)
This is applicable for landing from any page to the feed for all the users.

Acceptance criteria:
- [ ] The sorted feeds remain the same unless there are new posts from areas close by.
- [ ] The order should not change while navigat

[2020-06-12 19:31] robinv85 commented on #656
@galeza maybe we should ask to product / designers if it should be added on the login page

[2020-06-12 19:37] robinv85 commented on #636
@idjevm @ppagarawal well this seems confusing to me, I see 2 different messages on the popup here:
- create profile
- complete profile

The first one is "creating a user" in mongodb, currently you get it back at `/login` but we could also make the extra request explicit to `/users/current` after login.

If "complete profile"  has another meaning and a separate screen (I just implemented the "edit

[2020-06-12 19:40] ppagarawal commented on #288
@robinv85 I believe that this is fixed with better UI. @idjevm has made the changes as per the design. We need to close it without impacting the changes @idjevm has made.

[2020-06-12 19:45] joshmorel commented on #704
Hey @ppagarawal . Right now it should be sorting correctly if the user is authenticated and has a location. We are working on the feed filters (specify a location) but IP - there is another issue flagged as post MVP - #376 that's about this. So is this the same as 376 or something else and if the same as 376 is it v1.1 or MVP?

[2020-06-12 19:46] joshmorel opened #705 "Improved location input"
Make it work with create & edit individual profile, clean up the react code to better utilize `react-form-hooks` and also on backend schema make it required for create user (optional for update user). On the location object, the coordinates are required but nothing else.

[2020-06-12 19:46] idjevm commented on #563
- [ ] Add skip button to both Offer Help and Need Help flows, and the skip button should redirect to /feed.
- [ ] The size of the submit button should be the same as the container of the enter your email address.
- [ ] Submit button should initially be disabled and only become available once a correct email has been put in the field
- [ ] All the NEXT buttons should become white when hovered over

[2020-06-12 19:48] ppagarawal commented on #704
Good catch @joshmorel . It is the same as 376.

[2020-06-12 20:01] galeza commented on #563
@idjevm
"Submit button should initially be disabled and only become available once a correct email has been put in the field"
- Could we add some error message. Something like "Email is required."

[2020-06-12 20:10] idjevm commented on #696
So based on what I understood by looking at the codebase, every time that you reach the end, this page makes an API call to get the next 5 posts, and it does so until the skip is 100; What do you think @robinv85 ? I am not sure if we could change this or perhaps use a debounce function or set timeout to allow the API to get those next 5 posts.

[2020-06-12 21:03] idjevm commented on #563
Yes! We will implement this as well! Thank you so much @galeza for pointing this out.

[2020-06-12 22:12] idjevm commented on #615
Ohh, I understand now, so as of now there is no really any usage of the submit button. 🤔 commenting here to follow what we would decide to do with the user data.

[2020-06-13 08:15] ppagarawal opened #710 "Fix the header navigation bar"
The header bar currently is fixed to the top location and is not fixed when the user scrolls down.

As a user I want to have access to the top nav bar which includes FP logo, Feed button, Profile, etc. on the header so that I can access them even when I am browsing the feed by scrolling down.

Current behaviour:
![header](https://user-images.githubusercontent.com/6276256/84563806-ca9b9d00-ad7b-11e

[2020-06-13 16:32] galeza opened #711 "[Desktop][Mobile] Create post reset values"
env: https://staging.fightpandemics.work/feed

Steps:
1. Go to Feed
2. Add new post
3. Add post Title, text, tags and the visibility of the post
4. Click Request Help and then come back to Offering Help
5. All values were reset except post visibility. **Why we reset all values except visibility?**
![Screen Shot 2020-06-13 at 18 27 45](https://user-images.githubusercontent.com/21987083/84573911-a48

[2020-06-13 16:37] galeza commented on #656
@robinv85
I'll ask product/designers.

[2020-06-13 16:47] galeza commented on #656
@indirabhowmick @ppagarawal

Are we going to implement an advanced "keep me logged in" feature. Some application have checkbox:  keep me logged in?
If yes, I'll create a separate issue for that.

[2020-06-13 17:18] umerhassan opened #712 "Images not showing up on Feed page"
![image](https://user-images.githubusercontent.com/33638819/84575010-7be40800-ad67-11ea-834e-9ae4ed9bed3e.png)

Maybe add a default image if the image is not found.

[2020-06-13 17:34] idjevm commented on #712
I think this is not an issue. As I mentioned on Zoom. You should be looking at https://staging.fightpandemics.com

Closing this issue as it is not an issue in staging.

[2020-06-13 17:34] #712 closed

[2020-06-13 17:34] pthoma14 commented on #656
Hi @galeza I think an advanced "keep me logged in" feature is a great idea!  I personally think for now though we should add it to our Product backlog on Notion to be discussed further. I'm not sure adding it as an issue right now is the best strategy as we're all laser-focused on launching our MVP-Critical features.

[2020-06-13 17:49] doheekim93 opened #713 "Post text limit and "View More" functionality"
env: [https://staging.fightpandemics.work/feed](url)

**For signed in users**
Expected: The posts are limited to 25 words --> User clicks "View More" --> Post shows all text

Fix:
- Limit posts to 25 words
- When "View More" is clicked --> expand post to show rest of text

**For users unregistered or not logged in**
Expected: The posts are limited to 25 words --> User clicks "View More" --> User i

[2020-06-13 17:59] manualzuru commented on #713
@doheekim93 Actually we do need this. We just need to be consistent and only show 25 words right @Naraujo13?

[2020-06-13 18:00] manualzuru commented on #713
The idea is to have consistency in how long the posts are.

[2020-06-13 18:12] #69 closed

[2020-06-13 18:12] #177 closed

[2020-06-13 18:12] #419 closed

[2020-06-13 18:17] Naraujo13 commented on #713
Not sure how it is done in the frontend but the `/posts` endpoint is limiting already based on wether the user is logged in or not.

If the user is logged the backend returns full content, otherwise it limits to 120 char (Twitter limit I think, we talked about this being easier to do a while agora @manualzuru).

[2020-06-13 18:22] doheekim93 commented on #713
From Figma:
<img width="334" alt="Screen Shot 2020-06-13 at 1 20 11 PM" src="https://user-images.githubusercontent.com/66695502/84576228-b013f480-ad78-11ea-81e0-e36343143e49.png">
I think this is why the text is not limited to 25 words for logged in users? Like @Naraujo13 said, the text IS limited for unregistered/not logged in users though, so we can make it consistent between all users if we wan

[2020-06-13 18:25] Naraujo13 commented on #713
Not sure ai got that. You mean limiting for logged users also?

[2020-06-13 18:32] doheekim93 commented on #713
@manualzuru Do you want to limit text for logged in users as well?

[2020-06-13 19:22] pthoma14 commented on #685
@ppagarawal Indira, Vik, and I just ran the test and we believe it's working Prateek.

[2020-06-13 19:28] pthoma14 commented on #599
@ppagarawal we believe this is fixed now

[2020-06-13 19:34] #599 closed

[2020-06-13 20:02] doheekim93 commented on #713
@Naraujo13 Let's streamline it, so posts are always defaulted to 25 words regardless of whether the user is logged in or not. I will update the ticket!

[2020-06-13 20:37] Naraujo13 commented on #713
But defaulting to 25 words is against the requirements...

I'm not seeing the problem here.

Wouldn't it be:

If the user is not logged, he sees only 25 words, with no view more. This was what is said at the requirements, to direct them to signing up.

If he is logged he sees 25 words with the view more, being able to see the whole post.

Is that it @manualzuru ?

[2020-06-13 21:43] joshmorel commented on #712
For sourced by fightpandemics stuff, I got it fixed review/prod/staging (staging: https://staging.fightpandemics.work/feed not .com)

We should be storing this images in S3 so we have control and not rely on external urls but that is post launch issue (we should create an issue at least).

If they truly do not provide a photo we do have an alternate avatar based on initials:

![image](https://user

[2020-06-13 21:47] Naraujo13 commented on #713
Oh I see now the description @doheekim93, that is exactly what I thought. The backend already does that, we should add to the frontend to always show 25 words and the view more and then, based on wether the user is logged or not, we redirect him to sign-in/sign-up or expand the post

[2020-06-13 21:49] joshmorel opened #715 "Implement avatar photos"
We need to allow upload of avataor photos or organization & individual users. But we should set restrictions (size/format) & store ourselves (S3) instead of an external URL.

[2020-06-13 21:50] joshmorel commented on #712
I added an issue for v1.1 #715

[2020-06-13 22:06] joshmorel commented on #715
This is MVP but not soft launch critical.

[2020-06-13 22:37] indirabhowmick commented on #656
@galeza @robinv85 @ppagarawal - I like the idea of having a persist login session after a refresh. Like @ppagarawal mentioned - we can add to the product backlog and prioritize for later release. Thanks so much!

[2020-06-13 23:21] indirabhowmick commented on #636
@idjevm @ppagarawal @robinv85 - Usecase - Let's say a user is checking out the platform without Signing up or Logging in. On the Home Page, clicks on "View Community Postings", lands on the Feed Page. Then decides to create a post, the user will be redirected to the signup screen, after signing up, creating a profile, will be back on creating the post. Once the post has been created, the system wi

[2020-06-13 23:38] indirabhowmick commented on #655
@robinv85 @larryabim - I agree with @robinv85 . We do not have the design for it. For now, when a user clicks on other user's profile, we can display the view profile page, but hide the email address. Nothing should be editable on that page.
![image](https://user-images.githubusercontent.com/57240870/84581258-37bb2c80-ad94-11ea-9d87-d8ec9df3c714.png)

Tagging @Yu-Alexa-Zhao @manualzuru since we do

[2020-06-13 23:43] indirabhowmick commented on #365
@snowiesuet @robinv85 @jyclam - Yes, the issue can be closed. I just tested the functionality. Thanks!

[2020-06-14 00:42] Joeu commented on #563
Hello, everyone.

Please, let me know what you think about those changes.
I just added some translation in the active state for the buttons, so the user can have some feedback when clicking, I'm also changing the colors on hover.
@idjevm , @galeza , I'll wait for your feedback before pushing those changes.

![wizardFlowChanges](https://user-images.githubusercontent.com/1004896/84582148-bd53d200-ad

[2020-06-14 01:07] joshmorel commented on #705
K I merged a temporary fix #714 but it is temporary. But this doesn't fully solve the issue.

[2020-06-14 04:58] pokiza opened #717 "The View More in the Feed page is not clickable"
Staging:
https://staging.fightpandemics.work/feed

1.Go to Feed Page
2.Try to click **View More** after any post..
3.Observe

**View More** hyperlink on the Feed page isn't enabled.

![FightPandemics](https://user-images.githubusercontent.com/55517631/84585075-cdc57600-add9-11ea-9fbc-3ba49cb654c7.png)

[2020-06-14 05:21] idjevm commented on #717
This is a duplicate issue #713

[2020-06-14 05:21] #717 closed

[2020-06-14 15:52] #563 closed

[2020-06-14 20:42] mannykary commented on #715
We could potentially use Gravatar so that we don't have to deal with image uploads/storing of avatars. Otherwise, we would have to create a microservice that is responsible for processing image uploads to compress and store them on S3 or some other CDN in order to offload that work from the main web server.

Gravatar API: https://en.gravatar.com/site/implement/

[2020-06-14 20:46] joshmorel opened #718 "Consistent "Health care provider" across app"
We have different spellings and capitalization across the app. "Health Care Provider", "Health Care Providers", "Health care provider".

This will mess up filters - let's be consistent "Health care provider" like in backend/lib/models/Author.js

[2020-06-14 20:53] mannykary commented on #715
If we were to implement this ourselves, we could actually get away with not having a microservice if we pre-resize the image client side (see this [StackOverflow post](https://stackoverflow.com/questions/10333971/html5-pre-resize-images-before-uploading) for an example). Then we can upload the image to S3 directly from the backend, and store the URL to the S3 image URL in the database.

[2020-06-15 14:23] manualzuru commented on #713
On the frontend we should have consistency that's for sure. So I'd say that yes we need to show X amount of characters always (they can click on view more).

[2020-06-15 16:04] #686 closed

[2020-06-15 17:10] adisen commented on #590
what's up with this?

[2020-06-15 20:24] joshmorel commented on #164
Will be resolved with #721

[2020-06-15 20:46] omarzoghayyer commented on #685
@pthoma14  Thank you for testing it.
We will close this issue for now, and we will reopen it if needed.

[2020-06-15 20:46] #685 closed

[2020-06-15 20:57] pokiza opened #722 "Home Page Layout Cutoff"
1)Go FightPandemic staging homepage
2)Minimize the screen to mobile layout
3)On the mobile layout click nav bar --> exit nav bar
4)Expand the layout to desktop layout
5)Observe...

![FightPandemics_and_Slack_____testing___FightPandemics⚛️___1_new_item](https://user-images.githubusercontent.com/55517631/84705306-2eaf9400-af29-11ea-8021-8be3d630e6cc.png)

[2020-06-15 21:10] #164 closed

[2020-06-15 21:10] #705 closed

[2020-06-15 21:15] joshmorel commented on #722
I've noticed the same thing @pokiza on Chrome (albeit not consistently), however not Firefox. Certainly I don't expect our users for the most part to open dev tools so low priority and also might be a browser bug (not ours) but might be a good issue for a new front end engineer to look into.

[2020-06-15 21:19] joshmorel commented on #590
You mean who's working on it and what's the status? Not sure. @Naraujo13 not sure if you were planning to look into this. Otherwise, @adisen feel free to take it on! (message on Slack with further details)

[2020-06-15 21:20] joshmorel commented on #679
Resolved by #716 & #721 . A few minor spelling issues to resolve soon - see #718

[2020-06-15 21:20] #679 closed

[2020-06-15 22:24] pokiza opened #723 "Login Forgot Password issue"
This issue is occurring in FightPandemics page, web and mobile,
and it is occurring in chrome, safari and firefox..
1)Click Login
2)Click Forgot password
3)Observe..
4)The page is blank

[2020-06-15 22:31] idjevm commented on #723
Closing this as this will be solved when #651 is merged. The page is blank because it does not exist yet.

[2020-06-15 22:31] #723 closed

[2020-06-15 23:13] Naraujo13 commented on #590
I'm on it, should submit a PR today!

[2020-06-15 23:15] Naraujo13 commented on #713
At the backend it is currently done by char

[2020-06-16 01:18] manualzuru commented on #213
@robinv85 should we move this to closed?

[2020-06-16 01:37] manualzuru commented on #431
Should we move this issue to Done? @tiagocostasilva @nadinejuraschek @snowiesuet

[2020-06-16 01:39] manualzuru commented on #428
@tiagocostasilva is in vacations for 1 more week. @ppagarawal can you help us here? We also need the meta tags! Andrea Ang and Sanchit Finished them.

[2020-06-16 01:41] manualzuru commented on #545
@Yu-Alexa-Zhao was this added to Zeplin?

[2020-06-16 01:44] manualzuru commented on #496
@CeesWang did you take this or should we put this in New? To me it doesn't seem fixed, it has a weird bug.

[2020-06-16 01:52] manualzuru commented on #656
But let's eitherway keep them logged for softlaunch. For a later release we give them the option.

[2020-06-16 02:45] silenceway commented on #696
This issue was reviewed and fixed in https://github.com/FightPandemics/FightPandemics/pull/720. Filters weren't implemented when this issue was created.
FYI @CeesWang and @robinv85

[2020-06-16 03:03] idjevm commented on #696
True, we should close this issue for now. I checked and it is already resolved as mentioned by @silenceway. I do think that we should address what @doheekim93 mentioned though. Closing this for now and will open a new one to address the bouncing when the end is reached.

[2020-06-16 03:03] #696 closed

[2020-06-16 03:16] idjevm opened #726 "Feed page bouncing every when loading more comments"
Sometimes when the user is scrolling the feeds page, you will notice that as it is loading more posts, there is some bouncing.

Ideally, we would want the feed page to stay stable and only show or not show that more posts are being loaded.

I have attached the gif below, displaying the issue. Just part of the gif shows the problem.

Tagging @doheekim93 as she pointed out this issue, feel free to e

[2020-06-16 04:56] idjevm commented on #616
Marking this issue as done as it has been already merged and resolved.

[2020-06-16 04:56] #616 closed

[2020-06-16 06:48] ppagarawal commented on #428
@robinv85 Please close this as the changes in this tickets have been made. I will raise another ticket for metatags

[2020-06-16 06:53] ppagarawal commented on #636
@Gtstride Please let me know if you have all the information to proceed or need any clarification.

[2020-06-16 10:17] robinv85 commented on #213
@manualzuru it's not fixed yet, we have ESLint configuration but if we change the rules then we have to update all the code so this is probably not a good time right now when a lot of development is happening, it will cause a lot of merge conflicts

[2020-06-16 11:22] #589 closed

[2020-06-16 14:05] joshmorel commented on #512
Superceded by #574

[2020-06-16 14:05] #512 closed

[2020-06-16 14:23] joshmorel opened #731 "Send onboarding email to marketing list"
If a non-logged in user provides their email during onboarding add them to the appropriate SendGrid list: https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/index.html

[2020-06-16 14:54] #590 closed

[2020-06-16 18:07] BMariscal commented on #183
fyi @idjevm  --- unassigning @robinv85 here was not an accident lol.

[2020-06-16 18:09] #619 closed

[2020-06-16 20:18] galeza commented on #523
As stated in the PR #603 comments:
Default should be: City - Month

[2020-06-16 21:37] joshmorel commented on #656
@galeza @manualzuru @indirabhowmick @pthoma14 This will be resolved with #732.

With regards to keeping them logged in - I set it for a week expiry for now. We can either ask them to keep them logged in (after browser close) or just do it for them. Because this isn't an app where, for example, you aren't moving funds around like a banking app, the later may be better. GitHub, as one example, does

[2020-06-16 22:13] robinv85 commented on #656
@joshmorel i think this should probably be aligned with token expiration time?
And we don’t have refresh tokens configured yet either.

[2020-06-17 04:37] mannykary commented on #715
@robinv85 also mentioned that we could get the avatar through Auth0, which uses Gravatar. So we may not need to use the Gravatar API directly.

[2020-06-17 11:08] nadinejuraschek commented on #431
I think so

[2020-06-17 12:22] Joeu commented on #711
Regarding the text area, what do you think about this approach below, @galeza ?

![createPostTextArea](https://user-images.githubusercontent.com/1004896/84897532-1bf9a400-b07c-11ea-8a4e-949cf1b32775.gif)

[2020-06-17 13:52] joshmorel opened #737 "Fix Filter Feed for Mobile"
@CeesWang because you worked on this and we got it working for desktop can you look into this issue for mobile.

* It seems like it's sending the API request to the backend with the right filter for location/provider/type but it's not updating the actual list.
* For need help/give help, it's not adding that to `objective` parameter correctly.

![image](https://user-images.githubusercontent.com/105

[2020-06-17 14:57] joshmorel commented on #545
@manualzuru  I'm pretty sure this can be worked on. We have the design except maybe for resend component - but someone can certainly start working on this.

[2020-06-17 15:00] Joeu commented on #689
@ppagarawal , the animation should be applied for other pages transitions too?

[2020-06-17 15:40] ppagarawal opened #738 "Integrating posts and Org profile"
The modal window displays 2 notion organization pages by default. These modal windows should
- [x] check for existing organization
- [x] display all the existing organizations which user is a part of, if any
- [x] display the create an organization button (this is existing, do not change it)
- [x] changes need to be done for desktop and mobile
- [x] there should be no organization displayed by def

[2020-06-17 16:05] gullwings13 commented on #496
Sorry I thought this resolved. I will try to figure out why this might be happening

[2020-06-17 16:10] ppagarawal commented on #704
Closing as this is a duplicate issue

[2020-06-17 16:10] #704 closed

[2020-06-17 16:56] galeza commented on #711
Hi @Joeu
I like this approach. I would ask @manualzuru and @Yu-Alexa-Zhao about it.

[2020-06-17 18:02] Yu-Alexa-Zhao commented on #711
I agree with you @Joeu here! Cleaning the tab value can be frustrating to users indeed

[2020-06-17 18:20] Joeu commented on #711
So is it okay for me to proceed with the suggestion? @Yu-Alexa-Zhao , @galeza

[2020-06-17 18:53] #651 closed

[2020-06-17 20:09] ppagarawal opened #742 "Integrate onboarding answers w feed filter including geolocation"
Requirement:
- [ ] The posts in the feed should be sorted from near to far based on geolocation input from the left pane.
- [ ] The resultant sorted order has to be consistent in the session unless the location has been changed by the user.
- [ ] The results must also be consistent across devices
- [ ] Absence of geolocation data must result in all the posts in the feed
- [ ] The input values have

[2020-06-17 20:20] Yu-Alexa-Zhao commented on #545
Yes it was exported to zeplin:https://zpl.io/bJJMeDK

[2020-06-17 20:48] gullwings13 commented on #496
The issue affected any icon. The issue is fairly intermittent, but I was able to reliably recreate the issue in firefox, in the end, it seems to be related to the width of the text in the button. Decreasing the left and right padding seems to alleviate the issue.
![happens with google icon](https://user-images.githubusercontent.com/629700/84948701-191da400-b0ba-11ea-938f-60a98d4e044c.PNG)
![relate

[2020-06-17 20:51] Naraujo13 commented on #742
Isn't this already working?

When I implemented #204, the geo sorting was one of the implemented features. Later on @joshmorel implemented the location filter.

If I'm not mistaken, the implemented behavior is the following:

The posts are sorted by distance to the user, using the location at his profile. If the user uses the location filter, it overrides the location, sorting by distance to that

[2020-06-17 21:52] joshmorel commented on #742
By sending location captured at question 2 we should achieve the above through the onboarding flow.

By going through need-help flow we set objective=request

By going through offer-help flow we set objective=offer

The 1st question - this I think is just for our contact list. So can be added w email to send to SendGrid w issue #731

[2020-06-17 21:57] joshmorel commented on #731
We also need to send ancillary data - location, give-help vs need-help as well as question 1 answers:
![image](https://user-images.githubusercontent.com/10546720/84954777-0c9e4900-b0c4-11ea-98ef-208a31f5a0b2.png)

[2020-06-17 23:15] CeesWang commented on #737
https://github.com/FightPandemics/FightPandemics/pull/720

[2020-06-18 03:02] Joeu commented on #711
![formOfferRequestHelp](https://user-images.githubusercontent.com/1004896/84973195-e3e37700-b0f6-11ea-966c-c995b0694bd7.gif)

[2020-06-18 10:42] lelecanfora opened #747 "The GTM ID is the same on staging and production, needs to be changed"
Staging and production should have 2 separate Google Tag Manager IDs, the staging environment is for testing. Currently they both use the staging one.

Staging gtmId: GTM-TT348T3
Production gtmId: GTM-5N4PCVS

[2020-06-18 15:00] joshmorel opened #748 "Set proper locationSchema requirements"
locationSchema should be required on user create (but not user update).

It currently is required on organization create but `    .prop("location", organization.location.required())` this results in the last property of location object being required (`zip`) not the whole object.

[code]

On the object itself, `coordinates` and `address` should be required - they are also provided by geoservice wh

[2020-06-18 16:26] #748 closed

[2020-06-18 17:31] nadinejuraschek commented on #467
@manualzuru @robinv85 Can this issue be closed? We decided on keeping the Submit button instead of changing it to a Next button right? Or did that change in the past two weeks (sorry I haven't been able to find a clear update on this on Slack)?

[2020-06-18 17:33] #428 closed

[2020-06-18 17:44] idjevm commented on #449
Hey @nadinejuraschek ! Yes! Weirdly enough the last PR didn't automatically closed it! Thank you for pointing that out!

[2020-06-18 17:44] #449 closed

[2020-06-18 18:03] galeza commented on #467
@nadinejuraschek

We decide to have Submit button :)
I'm closing this issue.

[2020-06-18 18:03] #467 closed

[2020-06-18 18:15] #417 closed

[2020-06-18 18:15] #418 closed

[2020-06-18 18:15] todo[bot] opened #750 "integrate location w proper react-hook-forms use"
https://github.com/FightPandemics/FightPandemics/blob/b65ec773536714f9d4d64778817bfc51ef1b72bf/client/src/pages/EditOrganizationAccount.js#L68-L73

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b65ec773536714f9d4d64778817bfc51ef1b72bf when #709 was merged. cc @FightPandemics.

[2020-06-18 22:50] vikjoshi opened #752 "Profile Dropdown on Desktop"
As a logged in user, I have no way to add an organization or view my org. profiles on Desktop.

Current:
As a user, if I am logged in on Desktop and click on Profile at the top right, I am taken to my User (Individual) Profile

Expected:
As a user, if I am logged in on Desktop and click on Profile on the top right:

1. Dropdown should pop up with the following options:

- [x] a. My Profile--> Redi

[2020-06-18 22:51] vikjoshi commented on #752
@joshmorel and @robinv85 , created this ticket to address the profile nav button issue for org. profiles on desktop.

Would it make sense to have @MohamedEl1 take this on?

[2020-06-18 23:13] idjevm opened #753 "Update Need Help and Give Help email page to have terms and conditions"
Currently we have:
![image](https://user-images.githubusercontent.com/25408660/85080466-41c79b80-b197-11ea-8f47-8e9b50bc0ffb.png)

but we want to add the small copy just bellow the "what is your email address?" just as the picture below:
![image](https://user-images.githubusercontent.com/25408660/85080488-4ee48a80-b197-11ea-895a-2b9bc043d9e6.png)

copy -> We respect your privacy. Please read our T

[2020-06-19 11:25] #711 closed

[2020-06-19 12:10] adisen commented on #614
What's up with this?

[2020-06-19 15:06] kaydeejay commented on #698
I'm happy to try to fix this. I've recreated a simple implementation of react-copy-to-clipboard and done a little bit of debugging on the application. I estimate I could have it working by Monday 2020-06-22.

[2020-06-19 16:16] joshmorel commented on #698
Hi @kaydeejay before you go to far I think this will also be resolved with pr @BMariscal is merging for related stuff #661

[2020-06-19 19:28] #710 closed

[2020-06-19 21:09] nr431207 opened #755 "Facebook logo needs a color fix"
### The Facebook logo in profile page currently has this different blue color, but we want it to be the same color as LinkedIn and Twitter logo.
![Image from iOS](https://user-images.githubusercontent.com/37174253/85179423-cbc64180-b235-11ea-8c2f-77a86b8872f2.png)

[2020-06-20 06:59] #753 closed

[2020-06-20 07:44] idjevm commented on #288
This issue seems to be fixed. Closing this for now.

[2020-06-20 07:44] #288 closed

[2020-06-20 07:50] idjevm commented on #713
@BMariscal isn't this also being taken care of by the big CRUD PR that is pending? Thought I saw this functionality on the demo video, we should assign it to you and link this issue on that PR

[2020-06-20 07:56] idjevm commented on #336
This has been resolved by #649 so closing this up.

[2020-06-20 07:56] #336 closed

[2020-06-20 08:40] ppagarawal opened #757 "Invalid redirection bug"
Clicking on the feed redirects the user to login page.

Expected behaviour:
There should not be any involuntary redirection. I believe that this issue was fixed earlier but now has been reproduced.

Please refer to the gif below to replicate

![feedbug](https://user-images.githubusercontent.com/6276256/85197587-9be37080-b2ff-11ea-8ebc-1d05b1d25bcb.gif)

[2020-06-20 13:00] #496 closed

[2020-06-20 13:32] joshmorel opened #758 "Convention for git commits"
Some things to include:

* Useful commit messages
* When to keep commits separate and when to squash
* Definitely: Rebase on master before opening PR
* TBD: After opening a PR - handling merge conflicts with master (rebase vs merge)
* Other tips & tricks, links

[2020-06-20 14:17] #718 closed

[2020-06-20 14:17] #737 closed

[2020-06-20 14:56] joshmorel commented on #758
I had originally planned to do this one but it turned out to be a little more nuanced then I had initially thought #441

My Original Comment:

The thing that is not quite so clear cut - _The reviewer making the 2nd approval should merge immediately into master if_ - it does kind of depend. Sometimes 2nd approval can approve and make optional suggestion for author to implement if they feel like it.

[2020-06-20 14:56] joshmorel commented on #441
To be resolved with #758

[2020-06-20 14:56] #441 closed

[2020-06-20 16:14] joshmorel commented on #757
I think the reason this is happening, is if you like a post while logged this is stored in session storage:

![image](https://user-images.githubusercontent.com/10546720/85206276-f6c09c00-b2ee-11ea-8a8b-717b0b32ac1b.png)

The app logic want's you to login, I guess to complete the like? The problem is now it will keep trying even if you navigate/refresh because the item is still in session storage.

[2020-06-20 16:29] galeza commented on #83
@robinv85
Will ask Federica Zanini. I think it was done.

[2020-06-20 16:35] #83 closed

[2020-06-20 16:41] galeza commented on #456
Hi @tiagocostasilva @nadinejuraschek

I think that this is a bug in the design figma/zeplin. All other screens have back button at the bottom.
Do we want to keep this issue open? Maybe it would be better to close it and add a comment/description in the Zeplin?

[2020-06-20 16:50] ppagarawal commented on #456
@galeza @nadinejuraschek
Tiago is unavailable. I think that this has been fixed to look much better. It will be good to close this ticket Galeza.

[2020-06-20 17:06] galeza commented on #456
@ppagarawal

Thank you! I'm closing this issue

[2020-06-20 17:43] #117 closed

[2020-06-20 18:35] #182 closed

[2020-06-20 18:35] #698 closed

[2020-06-20 18:35] todo[bot] opened #760 "add pagination"
https://github.com/FightPandemics/FightPandemics/blob/0ae8e512b910f8be44adf9f1f6a34340b0712564/backend/lib/endpoints/posts.js#L266-L271

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0ae8e512b910f8be44adf9f1f6a34340b0712564 when #661 was merged. cc @BMariscal.

[2020-06-20 18:44] joshmorel commented on #523
This is resolved right @galeza ?

[2020-06-20 18:47] joshmorel opened #761 "Liking/unliking posts API integration"
Will add details later...

[2020-06-20 18:49] joshmorel commented on #761
Might be some backend changes required especially w GET posts/:id

[2020-06-20 19:03] mannykary opened #762 "Add Datadog"
https://docs.datadoghq.com/integrations/ecs_fargate/#pagetitle

NOTE: not critical for MVP soft launch.

[2020-06-20 19:05] vikjoshi commented on #183
@manualzuru @silenceway , we're prioritizing liking/unliking posts over comments so I'm going to unassign @silenceway from here and assign him to https://github.com/FightPandemics/FightPandemics/issues/761

[2020-06-20 19:52] ppagarawal opened #763 "Change the text for onboarding step 3/3"
Please change the text on step 3/3 to  "We respect your privacy. Please read our Terms and Conditions and Privacy Policy"
- [x] Please ensure to have proper links to the Terms and Conditions and Privacy Policy page
- [x] the text is center aligned
- [x] Changes reflect for mobile and web
- [x] Changes reflect for need and give help

[2020-06-20 20:21] ppagarawal opened #764 "Header footer issue for feed"
Please correct the header and footer for feed.
- [x] Header is on top and fixed
- [x] "Feed" text is on top and is scrollable
- [ ] footer background is transparent

[2020-06-20 20:41] #656 closed

[2020-06-20 20:41] todo[bot] opened #765 "do something with error -- user succesfully authenticated but can't find user (r..."
https://github.com/FightPandemics/FightPandemics/blob/618d47c3b70a724be11177c5e6868f9bf3970a56/client/src/actions/authActions.js#L22-L27

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 618d47c3b70a724be11177c5e6868f9bf3970a56 when #732 was merged. cc @FightPandemics.

[2020-06-20 21:36] doheekim93 commented on #713
@idjevm Yes, I think that was taken care by the big CRUD PR. However, there are posts that are less than the char limit that shows "View More", like this post here:
<img width="980" alt="Screen Shot 2020-06-20 at 4 35 22 PM" src="https://user-images.githubusercontent.com/66695502/85212012-28982980-b314-11ea-8318-6122617c4991.png">

[2020-06-20 22:31] joshmorel commented on #761
K @silenceway @vikjoshi I think this is mostly done f/e wise but there are some changes needed on the b/e for GET posts/:id. Let me know if you need help with that

[2020-06-21 01:29] silenceway commented on #731
@joshmorel Maybe we need to add a boolean to the SendGrid options, If somebody clones repository and SendGrid is not required, it will create errors or unnecessary flows.

[2020-06-21 03:14] jyclam commented on #764
@ppagarawal @idjevm
So the "Feed" text is actually a single tab from a tab bar (the rest of the tabs are temporarily disabled.)

I've reenabled the other tabs to demonstrate:

![Screen Shot 2020-06-20 at 7 55 46 PM](https://user-images.githubusercontent.com/26049767/85215608-17f5ac80-b330-11ea-81d2-2ea0051f0fe6.png)

Are we intending to keep both the tab bar and the header bar for mobile view? I'm

[2020-06-21 03:16] ppagarawal commented on #764
@jyclam Please disable the other tabs. They were intentionally disabled.

[2020-06-21 03:33] jyclam commented on #764
@ppagarawal Right will do, I only enabled them to take a screen shot.

I found designs in Zeplin with both the header bar and the tab bar, so that answers my question above.

https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed565218587a93f917fdb89

@ppagarawal When you said '"Feed" text is on top and is scrollable', do you mean that the tab bar should scroll away too?

[2020-06-21 03:43] ppagarawal commented on #764
For this release, yes

[2020-06-21 04:04] BMariscal commented on #713
@doheekim93  Please take a look at these changes: https://streamable.com/pajksg

Now the user can click on the div itself (the title and description section) to access the post's page and can share the post's link from the feed.

[2020-06-21 04:27] doheekim93 commented on #713
That looks so good!!! Definitely better UX this way. Thanks, @BMariscal!

[2020-06-21 04:30] ppagarawal commented on #615
@idjevm Can we close this as this has been merged?

[2020-06-21 09:05] idjevm commented on #615
Yeah I will close this one up as it will get resolved once we merge #731 as we have decided what to do with the data atm.

[2020-06-21 09:05] #615 closed

[2020-06-21 09:40] idjevm commented on #713
Since this functionality has already been implemented by @BMariscal, let's close this issue, and open any new issue to iterate and update if needed.

[2020-06-21 10:01] jyclam commented on #764
PR submitted. I'm not seeing the transparent background issue. I do find it hard to even see the footer in the feed due to the infinite scroll.

[2020-06-21 10:44] idjevm commented on #764
@ppagarawal I believe that we wanted to have it as it was before but I was checking and the footer has kinda always been at the bottom of the page during scrolling. We should decide whether we want that, or just have it fixed OR completely remove it and add those links to the sidebar.

[2020-06-21 10:44] idjevm commented on #764
For me, the sidebar makes more sense. @jyclam what do you think ? '

[2020-06-21 14:08] #456 closed

[2020-06-21 15:12] ppagarawal commented on #738
@MohamedEl1 Mohamed, are there any updates on this ticket?

[2020-06-21 15:16] joshmorel commented on #757
@silenceway will this be resolved by finishing work related to liking/unliking posts? #761

[2020-06-21 15:26] MohamedEl1 commented on #738
Hi @ppagarawal i have been working on #752 lately so as soon as iam done i can start this unless there is an available engineer ready

[2020-06-21 22:26] rabbi08 commented on #545
Also, Kindly make the FP logo clickable in this page, so that user can directly navigate to home page to login after the sign up.

[2020-06-21 22:54] rabbi08 opened #771 "Email received during Sign Up (email valid...) is having 'Password change' instructions"
Currently the email validation send while new user sign up, is having the content related to password change request.
<img width="836" alt="Screen Shot 2020-06-21 at 6 35 26 PM" src="https://user-images.githubusercontent.com/67168400/85236814-34a4e980-b3ef-11ea-9712-922617cbdd69.png">

The expected content for email validation should be like:

Please click the button to validate your account.

[2020-06-21 23:57] joshmorel commented on #771
I think this is fixed by changing Auth0 template but there is some other unexpected staging issue I need to look into.

[2020-06-21 23:58] rabbi08 opened #772 "Improved duplicate email sign-up error handling"
**Update from @joshmorel**:

This error occurs because the email is already associated with a email/password or prior social auth sign-up using the same email.

This should not be too commonly encountered by normal users so not soft launch critical but a better error reporting would be ideal. E.g. check if email exists at attempted sign-up & warn them before they go through whole create user proce

[2020-06-22 00:02] rabbi08 opened #773 "getServerToken error - Expired token received for JSON Web Token validation"
**Update from @joshmorel**:

Adding to this with technical details. It seems resolved now in staging (rebuild after merge?) but I saw this in papertrail relating to  https://github.com/FightPandemics/FightPandemics/blob/d66f9e6a3d402578711808a8b34a4cb605628ea2/backend/lib/plugins/auth.js#L97 used by email/password sign-up. I guess it still used the token in the cache which had expired - but the fp

[2020-06-22 06:59] #755 closed

[2020-06-22 08:14] galeza commented on #523
Yes. I'm closing this issue

[2020-06-22 08:14] #523 closed

[2020-06-22 08:33] idjevm commented on #773
@rabbi08 I tested this issues on staging and it seems to be working fine. @joshmorel I am able to sign up with new email and sign in fine, as well as signing in with a previously created account.

[2020-06-22 08:35] idjevm commented on #772
I logged in with my LinkedIn account on staging, and it seems to also be working fine. I am not sure if it has to do with your linkedin settings? did you authorize when it asked you @rabbi08 ? @joshmorel @robinv85  not sure if it is happening to all users, but for my end everything works fine..

[2020-06-22 08:37] idjevm commented on #771
@joshmorel seems to be working fine on my end, are able to reproduce the issue @rabbi08  or it only happened once?
![image](https://user-images.githubusercontent.com/25408660/85266517-f258c800-b441-11ea-8a93-eecea50c8e94.png)

[2020-06-22 09:00] ppagarawal opened #775 "Back button from posts"
When a user clicks on the back button in a post detailed view, then he should be able to go back to the location in the feed where he came from so that the to and back navigation is complete.

Existing case:
There is no back button in the detailed post view

Expected scenario:
- [ ] A back button has to be visible to redirect the user to the exact location on the feed where he came from
- [ ] This

[2020-06-22 09:12] galeza opened #776 "[Mobile] Navbar on Feed screen not visible when screen opens"
env: staging

This is a question about Mobile Navigation bar on Feed screen.
Did we decided to make NavBar for feed screen invisible?
When you open Feed screen Navigation bar is not visible. You have to scroll down to see.
Zeplin shows logo - navBar:
https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed565218587a93f917fdb89
Steps:
1. Open Feed screen
2. NavBar (with logo) is not visibl

[2020-06-22 09:16] #764 closed

[2020-06-22 09:25] ppagarawal commented on #776
@galeza This has been closed via https://github.com/FightPandemics/FightPandemics/issues/764

[2020-06-22 09:26] idjevm commented on #776
Closing this as it was resolved by @jyclam with #764

[2020-06-22 09:26] #776 closed

[2020-06-22 09:26] idjevm commented on #776
Yes, now we just need to update if needed!

[2020-06-22 09:27] idjevm commented on #775
@ppagarawal is there any design? if not what would be the preference?

[2020-06-22 09:28] idjevm commented on #775
@nr431207 perhaps you can work on this on next 😄 ?

[2020-06-22 09:29] #689 closed

[2020-06-22 09:35] ppagarawal commented on #775
There is no design for this yet. I recommend you to reuse the back button from the elements in onboarding pages. The back button from mobile can be used in mobile UI and the one in desktop be used on desktop UI.

[2020-06-22 09:38] galeza opened #777 "[Mobile] NeedHelp|GiveHelp Question3 screen"
env: staging

This is a question.

Steps:
1. Go to NeedHelp or GiveHelp Question3 screen.
Could we improve this screen for Mobile by adding eg. more space between a href Terms & Conditions and div Enter your email address?
For desktop it looks better, more separated. For mobile it's little clustered.

Mobile:
![Screenshot_2020-06-22-10-58-45-371_com android chrome](https://user-images.githubuserco

[2020-06-22 10:04] ppagarawal commented on #777
@galeza Thanks for pointing this out. We can rectify this in future releases. Our main focus for the soft launch is to get the core functionalities working. Moreover, I think that it will be good to have the whole onboarding steps vertically centre aligned with proper spacing.

[2020-06-22 10:14] ppagarawal opened #778 "Change email in About us page"
Please change the email address to contact@fightpandemics.com with appropriate mailto link

![image (6)](https://user-images.githubusercontent.com/6276256/85276292-2f9f7300-b49f-11ea-8dc3-20f784432372.png)

[2020-06-22 11:08] galeza opened #779 "[Desktop][Mobile] NeedHelp|GiveHelp Question1 screen load time"
env: staging

Related to the #770

Could we improve load time when opening Question 1 screen.
Steps: Home screen -> NeedHelp|GiveHelp -> Question1 screen

Transitions from Question 1 ->2->3 screens are faster then transition Home -> Question 1

[2020-06-22 11:29] #763 closed

[2020-06-22 11:29] lelecanfora commented on #747
@MohamedEl1 I saw you requested the initial pull, I could not find the latest change but it's fixed on the production website

[2020-06-22 13:14] joshmorel commented on #772
Hi @rabbi08 - this issue comes from a requirement that email must be unique - if you add a google account that uses xyz@gmail.com and a linkedin account that uses xyz@gmail.com you will get the error. We plan to add auth0 user account linking functionality - https://auth0.com/docs/users/concepts/overview-user-account-linking - for this case but we're not considering it launch critical, however, as

[2020-06-22 13:14] joshmorel commented on #771
@rabbi08 - Should be fixed please confirm and then close this issue.

[2020-06-22 14:03] joshmorel opened #780 "create-organization-profile - duplicate "* What are you looking for" and validateStatus error"
At https://staging.fightpandemics.work/create-organization-profile , the "What are you looking for" checkbox is duplicated:

![image](https://user-images.githubusercontent.com/10546720/85296225-11ba1a00-b46f-11ea-9053-433227bbdccc.png)

And there is also this error:
`Warning: React does not recognize the `validateStatus` prop on a DOM element. If you intentionally want it to appear in the DOM as a

[2020-06-22 14:13] #574 closed

[2020-06-22 15:21] joshmorel opened #781 "Auth0 user account linking (v1.1+)"
We don't allow duplicate emails so if someone tries to signup with a social account and the same email already registered under they get an error (see #772).

Eventually we want to enable user account linking in such a case. Not critical - release v1.1 (or later).

https://auth0.com/docs/users/concepts/overview-user-account-linking

[2020-06-22 16:39] rabbi08 commented on #772
Linkedin integration is working. Agree with @joshmorel, to display user friendly message.

[2020-06-22 18:07] galeza opened #782 "Auth0 user should be logged off from all tabs"
env: staging

Steps:
1. Open staging in the first tab and log in. Go to profile screen
2. Open staging in the second tab. You are already logged in and you can open your Profile page.
3. In the second tab click Logout
4. Go to the first tab
In the first tab Navigation bar shows Profile (it's for a logged in user). When you click Profile you'll see error: Failed loading profile, reason: No Authoriz

[2020-06-22 18:22] joshmorel commented on #782
Thanks @galeza. I guess we could run setInterval on `App.js` that checks the remember cookie every second or few seconds and if it's not there dispatches `AUTH_LOGOUT`. @robinv85 if you have another suggestion let me know. I'll start work on this later today.

[2020-06-22 18:37] rabbi08 commented on #772
Closing this issue and will track the #781  . Thanks

[2020-06-22 18:37] #772 closed

[2020-06-22 19:06] rabbi08 commented on #771
Validate with new user account, It is working fine as shown in below screenshot.

<img width="721" alt="image" src="https://user-images.githubusercontent.com/67168400/85325669-ff090a80-b499-11ea-8d43-679bb9fc5e75.png">

[2020-06-22 19:06] #771 closed

[2020-06-22 20:13] adisen commented on #781
Will I need access to auth0 to work on this?

[2020-06-22 20:22] cvaldez98 opened #784 "Verifying your account through emails navigates user to error page"
To reproduce:
1. Sign up as new user
2. Click `Confirm Account` on the email sent to your account.
3. Clicking on the link should take you to an inaccessible web page, but you will now be verified.

To fix:
Add a prompt stating that your account has been verified.

![Kapture 2020-06-22 at 13 17 50](https://user-images.githubusercontent.com/18559927/85331634-581d7200-b48b-11ea-8ee3-1ea3ea8827ed.gif

[2020-06-22 20:36] #784 closed

[2020-06-22 21:50] joshmorel commented on #782
I checked Facebook, LinkedIn & Amazon and none will log you out of the other tab with something like `setInterval` doesn't mean it's not a bad idea but dunno what the best practice is. Facebook does log you out after OG graph API call returns error (not sure if they are timed or random).

No matter, clicking a LoggedIn only page (like Profile in example) when the `remember` cookie is not present s

[2020-06-22 21:51] #778 closed

[2020-06-22 22:04] joshmorel opened #786 "Run husky in docker & local"
We use husky to run eslint before committing but this doesn't work when running docker. Warning:

[code]

We want this to work for people working with and without docker. Here is one potential resolution but it might work only for docker: https://github.com/MadeInHaus/react-starter/pull/30/files

Needs to be added to both `client/package.json` & `backend/package.json`

[2020-06-22 23:38] BMariscal commented on #757
OH I just saw this @joshmorel I know the function where this is happening. I can take care of it.

[2020-06-22 23:47] rabbi08 opened #787 "user should be able to logged in using <enter> key also."
Steps to reproduce:

1. Open "https://staging.fightpandemics.work"
2. Click on 'Login'
3. Enter valid email/password used during SignUp
Press <enter>
You will observe nothing happen

So then. 4. Click on 'Sign In' button

User is successfully logged in.

Issue: User should be able to SIGN IN using <enter> key along with clicking on 'Sign In' key.
Please note that <enter> key does not work during s

[2020-06-23 00:10] nr431207 commented on #775
@ppagarawal does this look good for the desktop UI?
<img width="653" alt="Screen Shot 2020-06-22 at 5 08 13 PM" src="https://user-images.githubusercontent.com/37174253/85346759-4fd52f00-b4ab-11ea-8a50-5d0f571e85d9.png">

[2020-06-23 00:13] #490 closed

[2020-06-23 00:17] manualzuru commented on #761
@silenceway @joshmorel should we put this on in progress?

[2020-06-23 00:19] manualzuru commented on #752
@MohamedEl1 @vikjoshi should we put this in progress?

[2020-06-23 00:29] manualzuru commented on #304
@snowiesuet @omarzoghayyer are you still working on this?

[2020-06-23 00:30] manualzuru commented on #353
@minsu3 are you still working on this issue?

[2020-06-23 00:31] manualzuru commented on #355
@snowiesuet @vikjoshi should we close this?

[2020-06-23 00:35] manualzuru commented on #357
@vikjoshi @snowiesuet

[2020-06-23 01:22] vikjoshi commented on #752
@manualzuru , yes it should be. Just moved it

[2020-06-23 01:47] vikjoshi commented on #357
@manualzuru that page is behaving pretty funky right now so think we should keep this open until we have the time to go back to it after MVP

[2020-06-23 01:48] vikjoshi commented on #355
@manualzuru that page is behaving pretty funky right now so think we should keep this open until we have the time to go back to it after MVP

[2020-06-23 04:15] ppagarawal commented on #775
@nr431207 it'll be great if you can share a gif. That'll help me visualise the interaction

[2020-06-23 04:30] nr431207 commented on #775
@ppagarawal
![FightPandemics](https://user-images.githubusercontent.com/37174253/85360978-7d33d400-b4cf-11ea-896d-49bb40a54db4.gif)

[2020-06-23 04:34] ppagarawal commented on #775
Lgtm @nr431207

[2020-06-23 04:41] idjevm commented on #775
@nr431207 It's better if you open a Draft PR, so that way we can see your changes and also there will be a BUILD URL that we can review the changes and ask you if there needs to be changes...

[2020-06-23 05:17] omarzoghayyer commented on #304
@manualzuru I believe @snowiesuet wanted to work on it.

[2020-06-23 05:45] #365 closed

[2020-06-23 05:58] idjevm commented on #775
Closing this as it was resolved with #788

[2020-06-23 05:58] #775 closed

[2020-06-23 08:42] galeza commented on #782
Hi @joshmorel

Ok, agree. So we can redirect user to Home screen or maybe Login screen?

[2020-06-23 14:02] joshmorel commented on #782
@galeza That's okay I think the title is fine.

[2020-06-23 15:21] kaydeejay commented on #765
If no one else has started on this or if anyone is working on it and could use some help, I'd like to work on it.

[2020-06-23 16:04] ppagarawal opened #792 "Change the text in the buttons"
Please change the text on the buttons
- [x] from 'give help' to 'offer help'
- [x] from ' need help' to 'request help'

![image](https://user-images.githubusercontent.com/6276256/85427291-30b4cb00-b599-11ea-81da-024b5e73781e.png)

[2020-06-23 16:28] stavares843 commented on #792
https://github.com/FightPandemics/FightPandemics/pull/793

[2020-06-23 17:37] #780 closed

[2020-06-23 18:18] rabbi08 opened #795 "Unable to ADD social media links in my profile."
1. Open "https://staging.fightpandemics.work"
2. Login using valid email/password
3. Click on 'Profile' -> 'EDIT Profile icon'
4. Click 'EDIT Profile'
5. Try to add your either Facebook/github/Linkedin/twitter link

Issue: You will observe that:
1. You will not be able to DELETE or EDIT the URL address already written in these social media URL test box.
2. Below error is displayed when user enter

[2020-06-23 18:25] joshmorel opened #796 "Skipping user profile completion, user not created but cookies persist"
So when they refresh browser or go to /feed the user isn't found. For feed this results in forbidden error:

![image](https://user-images.githubusercontent.com/10546720/85441567-3d1b3280-b55d-11ea-8776-3f6b1cf4dec7.png)

[2020-06-23 18:44] rabbi08 opened #797 "Cannot CHANGE profile logo"
1. Open "https://staging.fightpandemics.work/"
2. Login using valid email/password
3. Click on 'Profile' -> edit profile icon
4. Click on 'EDIT PROFILE'
5. Click on 'Change' present in blue under profile logo present in the top right corner of the FP page.

Issue: You will observe that 'Change' is NOT clickable, hence user is not able to change their logo image which is AGAINST the option we are d

[2020-06-23 19:25] jyclam opened #798 "Viewing a post in feed in a new tab results in uncaught TypeError, post is not rendered"
**Steps to reproduce:**

1. Navigate to /feed
2. Open `View More` for any post in a new window

Error shown when replicated on local dev build: https://pastebin.com/mwQNtu9X

Problem might be the same as described here? https://github.com/ReactTraining/react-router/issues/5883

[2020-06-23 20:23] rabbi08 commented on #795
<img width="920" alt="Screen Shot 2020-06-23 at 4 13 22 PM" src="https://user-images.githubusercontent.com/67168400/85457337-ecf89c00-b56d-11ea-8ffc-796f446a2f83.png">

[2020-06-23 21:26] gkjain82 opened #800 "[Desktop] User cannot post comments on the posts in the Feed Section as there is no post button available. Also user cannot access comment button directly from the post list."
Steps to Reproduce:
Open "https://staging.fightpandemics.work/"
Login using valid email/password
Click on 'Feed' -> Comment on any Post
The comment would not get posted as there is no post button available.

Expected Result:
Users should be able to post comments on any post.

Actual Result:
The user is not able to post comments on any post.

![Comment Bug](https://user-images.githubusercontent.com

[2020-06-23 21:38] Joeu commented on #304
There are a lot of issues regarding the SymptomsCheck page, but I have a specific question about it. Right now the steps are held inside a modal, but in [zeplin](https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5ed0346a6f722bba0e0e6943) it is a normal page, should I remove the modal approach, @manualzuru , @galeza , @snowiesuet , @omarzoghayyer ?

[2020-06-23 21:58] joshmorel commented on #800
Hi @gkjain82 this should be resolved with #769

[2020-06-23 21:59] joshmorel commented on #797
This will be added post soft launch. But I think we should hide "Change" text for now so initial users aren't confused.

[2020-06-23 22:11] rabbi08 commented on #797
Yeah that will quick solution to avoid confusion.

[2020-06-23 22:17] vikjoshi opened #801 "Org. Profile- UI + Functionality Updates"
On the Create Org Page, let's make the following updates:
![image](https://user-images.githubusercontent.com/41554004/85470510-fda41480-b563-11ea-9360-eca58ed97933.png)

1. Add all industries from the "Soft Launch MVP- Industry List" tab into the "Industry" dropdown field from this Google Doc- https://docs.google.com/spreadsheets/d/1kAfWucnSdnbuqMF8qBrql7dDCRRujsvslr3dB4UwHoY/edit?copiedFromTrash#

[2020-06-23 23:36] #773 closed

[2020-06-23 23:38] joshmorel commented on #765
Hey @kaydeejay this one will actually be resolved in a way with PR #799

[2020-06-24 00:16] Joeu commented on #476
Based on the screenshot, seems like an overflow in the body when the visible space decreases. Maybe setting the overflow-y to hidden can solve this.
Assigning it to me.

[2020-06-24 06:15] idjevm opened #804 "Posts back button should be displayed regardless of View More being extended"
I believe the button should be always displayed.

To reproduce, go to feed, click on view more, you will be redirected to the post's page, then click on view less, and the back button will disappear.
Changes that need to be applied :

- Center the back button
- Make sure the back button is visible at all times

Refer to the image below.
![Screen Recording 2020-06-24 at 02 09 AM](https://user-image

[2020-06-24 13:14] joshmorel opened #805 "Route for IndividualUser Public Profile"
Exclude email

Also need to consider location what to keep private (coordinates) vs public (city/state) - but also address and whether to hide (need IndividualUser field hideAddress).

[2020-06-24 14:15] ppagarawal commented on #431
Hey @nadinejuraschek
This is fixed and can be closed. Tiago/Snowie are not active at the moment. Please reach out to me for any clarifications.

[2020-06-24 14:27] joshmorel opened #806 "Add IndividualUser hideAddress field and uncomment from form"
Required for public user profile.

[2020-06-24 17:43] MohamedEl1 commented on #646
will it be better to change it to 'view profile' instead?

[2020-06-24 18:26] ppagarawal commented on #646
This is being handled here:
https://github.com/FightPandemics/FightPandemics/issues/687

[2020-06-24 18:29] kylejvh commented on #804
I can start working on this.

[2020-06-24 18:32] doheekim93 opened #809 "Not logged-in user is unable to access Feed page after liking a post (stuck on Sign In/Up page)"
How to recreate: As a not logged-in user, go to Feed page and like any post --> User is automatically redirected to sign up page (as expected) --> User tries to access Feed page again (without logging in) --> User keeps getting redirected to sign up page

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/66695502/85611760-da3da000-b61d-11ea-8c07-db5db1a5b83a.gif)

Expected fu

[2020-06-24 18:33] #809 closed

[2020-06-24 18:35] doheekim93 commented on #809
Addressed by #757

[2020-06-24 18:42] ppagarawal commented on #804
@idjevm @kylejvh I believe that this has been fixed via another ticket.

[2020-06-24 18:45] ppagarawal commented on #804
Closed via https://github.com/FightPandemics/FightPandemics/issues/775

[2020-06-24 19:09] galeza commented on #646
@ppagarawal @MohamedEl1

I'm closing this issue

[2020-06-24 19:09] #646 closed

[2020-06-24 19:48] jyclam opened #810 "Post header hidden underneath global header"
**Expected behaviour:**
Post header should be fully visible. Post and post header should scroll underneath global header

**Actual behaviour:**
Post header is not fully visible for posts with a long body.

![post-header-issue](https://user-images.githubusercontent.com/26049767/85618176-410a8b80-b615-11ea-9be5-b574973460b2.png)

[2020-06-24 19:50] joshmorel opened #811 "Filter posts on authorId"
**authorId**:

Optional param in getPostsSchema:

This will be used when viewing profiles in F/E:

* Own profile - from session.user._id
* Other's profile - from path
* Organization profile - also from path

The F/E is currently querying this right-now -https://github.com/FightPandemics/FightPandemics/blob/5ea28d6cb0fb22adb86ac415284b07d941556048/client/src/pages/Profile.js#L119 - but there is no

[2020-06-24 20:28] nr431207 opened #812 "Post back button position"
#### Post back button position needs to be centered and positioned outside of the post border  so that when the post is collapsed, the back button should be still visible (currently the back button disappears when post is collapsed):
![image](https://user-images.githubusercontent.com/37174253/85624271-7ebfe200-b61e-11ea-8d44-099d384fb1fe.png)

[2020-06-24 22:57] idjevm commented on #804
The issue still exists. Please test it out on the comment page.

@ppagarawal the issue you mentioned just adds the button to the feed. This issue happens with that button on the feeed that makes the the button disappear if you click view less. Feel free to take it over Kyle and reach out for any clarification.

[2020-06-24 23:05] nr431207 commented on #804
@idjevm this is a duplicate of the ticket I created earlier and self assigned (#812), if @kylejvh wants to work on it instead no worries I can delete the one I created

[2020-06-24 23:07] idjevm commented on #812
This is a duplicate issue. See #804 I created yesterday.

[2020-06-24 23:08] idjevm commented on #812
Let's edit the other one and close this duplicate for now.

[2020-06-24 23:08] #812 closed

[2020-06-24 23:10] idjevm commented on #804
Let's address those issues here. @nr431207 since you worked on that button could you take this one then? And also center the button as mentioned on the duplicate issue #812 ?

[2020-06-24 23:11] nr431207 commented on #804
Just edited this ticket, thanks for closing #812

[2020-06-25 10:33] robinv85 commented on #795
Hi @rabbi08 thanks for reporting, yeah for LinkedIn I couldn't find the exact validation rules, I thought it was alphanumeric based on my own profile and their description in the documentation for custom profile URL's states this:

But this is for custom URL's. so I suppose your example might be automatically generated, and also contains dashes.
So I will just adjust it to allow 5-30 alphanumeric

[2020-06-25 11:41] galeza opened #817 "[Desktop][Mobile] Post Visibility - post with a visibility one day shown after a couple of days"
env: staging

Steps:
1. User was logged in
2. Post was created with a visibility one day. CREATE DATE: 22 JUNE 2020 19:45
3. 25 June post is still shown on the Feed screen (I'm not logged in):
![Screen Shot 2020-06-25 at 11 23 56](https://user-images.githubusercontent.com/21987083/85713133-58b34400-b6e9-11ea-839c-cc8e5c9d3f06.png)

Please review it. I expected that my post will not be shown after

[2020-06-25 11:47] #817 closed

[2020-06-25 11:55] galeza opened #818 "[Desktop][Mobile] Create Post - cannot set visibility to DAY"
env: staging

Steps:
1. Login
2. Go to Feed and add a new post
3. Select visibility DAY:
![Screen Shot 2020-06-25 at 13 50 36](https://user-images.githubusercontent.com/21987083/85714951-3c180b80-b6eb-11ea-99b7-c264861bd8a9.png)
4. Save your post
5. Open Feed screen and scroll down to your post
6. Click View more and then edit
7. Visibility is displayed as Month:
![Screen Shot 2020-06-25 at 13 51

[2020-06-25 13:20] #806 closed

[2020-06-25 13:27] #811 closed

[2020-06-25 13:59] joshmorel commented on #818
Definitely a frontend issue during post creation (not edit) only:

[2020-06-25 14:16] #796 closed

[2020-06-25 14:22] joshmorel commented on #805
Now that #805 is merged we should use users/:userId and return the same as users/current/ with following current exceptions:

* If `hide.address === true` don't return `location.address`
* Never return `email`
* Never return `location.coordinates`
* Never return `hide`

[2020-06-25 15:47] nr431207 commented on #738
@ppagarawal just to clarify, we do NOT want the default notion organizations to show in the modal, and instead we want to see the existing organizations. If there is no organizations created, what do we want to see instead of the two default notions?

[2020-06-25 15:54] ppagarawal commented on #738
@nr431207 We do not want the default notion organizations to show in the modal. The user wants to see the existing organizations. If he is not associated with any organization we give him an option to create one. If there are organizations created, we still provide him an option to create an org.

[2020-06-25 16:01] #795 closed

[2020-06-25 16:53] rabbi08 opened #820 "Profile explanation for NEED/WANT TO help is displayed as one sentence"
1. Open "https://staging.fightpandemics.work/"
2. Login using valid email/password
3. Click on 'Profile'

Issue: You will observe that if user NEED help and WANT TO help, then the message is displayed as one sentence i.e.
"I need help I want to help"
 in profile explanation, as shown in below screenshot.
<img width="971" alt="Screen Shot 2020-06-25 at 12 51 50 PM" src="https://user-images.githubus

[2020-06-25 16:54] rabbi08 commented on #820
[FightPandemics.pdf](https://github.com/FightPandemics/FightPandemics/files/4832711/FightPandemics.pdf)

[2020-06-25 16:55] rabbi08 commented on #820
![FightPandemics](https://user-images.githubusercontent.com/67168400/85763989-30c0e200-b6e3-11ea-85e9-bb18dc25f8d3.png)

[2020-06-25 18:07] galeza opened #821 "[Desktop] [Mobile] Recovery password screens are incorrect when email with a recovery link was sent"
env: staging

Steps:
1. Go to the login screen and press Forgot password? hyperlink
2. Enter email and click: Email me a recovery link
3. For a desktop you'll see:
![Screen Shot 2020-06-25 at 19 55 25](https://user-images.githubusercontent.com/21987083/85773200-e27d0480-b71d-11ea-83d6-590306b3fe4c.png)

For a mobile you'll see:
![Screenshot_2020-06-25-19-57-24-003_com android chrome](https://user-

[2020-06-25 18:09] ppagarawal opened #822 "Reuse the checkboxes in onboarding"
As a user I want to have a good user experience for onboarding when I offer help.

The checkboxes used in the step 1/1 of 'onboarding help' needs changes to the checkboxes. Please reuse the checkbox element  from https://staging.fightpandemics.work/create-organization-profile under "What are you looking for" and replace the existing ones. Note that the inputs from the checkboxes will be used in th

[2020-06-25 18:18] #801 closed

[2020-06-25 18:39] kylejvh commented on #818
I'll give this one a shot.

[2020-06-25 18:51] #797 closed

[2020-06-25 18:51] joshmorel commented on #797
@rabbi08 I merged PR to hide "Change" text for now. Issue #715 is to implement to functionality.

[2020-06-25 19:03] kylejvh commented on #818
There's a lot of prop drilling going on here. Some of the passed props going into the onChange handlers are undefined. Have we committed to using useReducer or Context? The state handling could use a refactor here.

[2020-06-25 19:39] jyclam commented on #636
@ppagarawal @idjevm
Confirming what we discussed. The final requirements for this ticket with consideration for mvp delivery is to:
* remove create profile button
* re-route skip button to link to newly created post

[2020-06-25 19:40] jyclam commented on #687
@ppagarawal @idjevm

See #636 for updated requirements.

[2020-06-25 19:40] ppagarawal commented on #636
The first bullet is for a logged in user only

[2020-06-25 19:47] jyclam commented on #636
@ppagarawal @idjevm
Discussed off thread, non logged in user is redirected to main login / sign up page. Can revisit ux flow after mvp

[2020-06-25 19:51] joshmorel commented on #818
Hi @kylejvh haha no. State handling is an open discussion - I'll send some links in Slack if you'd like to contribute to discussion. For this issue, now, I guess get it working in line with mostly with the current approach around creating a post. Refactoring state handling plus general guidelines in approach is something we definitely need however.

[2020-06-25 19:56] vikjoshi opened #824 "Have users' posts show up on profile"
MVP-Critical: As a user, if I go to my individual profile page, under "My Activity" I should see the posts that I've created
![image](https://user-images.githubusercontent.com/41554004/85789133-e8092900-b6e2-11ea-88a1-dc7caec94577.png)

Post-MVP Launch: Activity should also show any posts that the user has liked or commented on

B/E Ticket that is complete: https://github.com/FightPandemics/FightP

[2020-06-25 20:02] vikjoshi opened #825 "Have posts from organization show up under organization profile"
MVP-Critical: As a user associated with an organization, if I go to my organization page, under "My Activity" I should see the posts that anyone in my organization has created. As part of the logic, you should use the Author ID to filter posts for the specific organization

![image](https://user-images.githubusercontent.com/41554004/85789546-a88f0c80-b6e3-11ea-9a6b-62aa2abf1d95.png)

Post-MVP Laun

[2020-06-25 20:30] rabbi08 commented on #795
Fix validated, I am able to append the social media links.
But if user by mistake enters <space> error is displayed, but that is low priority issue which can be addressed in next upcoming releases.

[2020-06-25 21:00] rabbi08 opened #827 "After adding a POST user should land on FP Feed page."
1. Open "https://staging.fightpandemics.work"
2. Login using valid email/password
3. Create a POST and if you have multiple POST existing, then the POST will be added randomly but not as new/recent POST on the top.

Issue#1: User should land on FEED page rather than FP home page.
Issue#2: While adding multiple POST, the recent POST should be added on the top, currently it is added at the last of t

[2020-06-25 21:12] #818 closed

[2020-06-25 21:13] joshmorel opened #828 "Visibility filter doesn't seem to be working correctly with non-ASCII"
E.g. visibility: state where state = Aragón.

This requires more investigation & may have to do with inconsistency with how "state" is returned by geolocation for different addresses - "Aragon" sometimes, "Aragón" other times.

Or something maybe something else?

NOT a good first issue :slightly_smiling_face:

[2020-06-25 21:22] idjevm commented on #827
I will be closing this issue since we have already something on going for this. @ppagarawal and @jyclam have decided that we will give the option to the user to navigate to the newly created post (view post) or close the modal of success on post creation. Please refer to #636 & #687.

[2020-06-25 21:22] #827 closed

[2020-06-25 21:27] idjevm commented on #827
Also, I would highly encourage you to use a tool such as this one -> https://www.getcloudapp.com

This app will allow you to record short gifs for about 15secons and short videos if you need to and give you a URL that you can post here, and Engineers will be able to see it on the cloud without having to download a file, and then unzip and then play...

[2020-06-25 21:43] kylejvh commented on #825
@cvaldez98 @vikjoshi Will the fixes here carry over to #824 ?
I assume they will for the most part. Wanted to make sure before I started work on it.

[2020-06-25 21:47] idjevm commented on #825
@kylejvh Great question. I don't think they will be carried over so you can start working on the user profile one. But also we can ask @joshmorel,  @robinv85, and @Naraujo13 who have been working on the data model as well as some of these features.

Guys, what are your thoughts?

[2020-06-25 21:53] cvaldez98 commented on #825
Hey all, I'm starting this ticket and will ask if I run into any issues. Thanks!

[2020-06-25 23:05] joshmorel opened #830 "Add location to "source by FP" users"
So viewing profile doesn't error out.

Generic location with required properties is fine:

[code]

[2020-06-25 23:20] kylejvh commented on #824
Just wanted to verify that I understand correctly:

The `?skip=0` query string is used to tell the database to skip the specified number of documents in a response. It looks like the backend sets this to zero by default if nothing is specified. So in this situation, I can safely remove it from the posts get request, which is what I ended up doing.

Am I getting this right?

[2020-06-25 23:34] joshmorel commented on #824
Yeah I think you can omit this in the query string

[2020-06-25 23:35] vikjoshi commented on #824
Hmm @idjevm , is this something you may know the answer to?

Also, @kylejvh , just a note from @joshmorel on logic for this feature. you can set (authorId={ME})

[2020-06-25 23:47] #830 closed

[2020-06-26 00:52] kylejvh commented on #824
@joshmorel Maybe you can explain the (authId={ME}) bit? I saw there was talk about maybe making more endpoints for this in Slack, but I'm not seeing any backend code that will support this.

Also, do you have any input on the post activity limit? I left it at 5 for now but I see there's support for to fetch with no limit, maybe we can add pagination as a post MVP feature.

[2020-06-26 01:32] Naraujo13 commented on #825
Not sure I got that.
Do you guys mean if changes to #824 will be carried over to this one (#825)?

[2020-06-26 01:43] kylejvh commented on #825
Yeah, that was what I wanted to know. User post activity just needed a quick fix so you can disregard.

[2020-06-26 01:51] rabbi08 opened #833 "Unable to SUBMIT -> "Offer/Request HELP" without Signing In"
1. Open "https://staging.fightpandemics.work"
2. Click on 'Request Help -> Medical -> Share My location -> Enter valid email address
3. Click on 'Submit' button

Issue# You will observe that nothing happens.
'SKIP' button works.

[2020-06-26 02:57] silenceway commented on #761
PR with frontend changes created.
@joshmorel In backend we need to receive liked and likesCount in /post/:postId as we receive it in /posts.

[2020-06-26 04:00] #824 closed

[2020-06-26 04:05] idjevm commented on #833
Duplicate with #731 and it will be resolved with #731 and  #742. Please refer to those issues. Closing this for now

[2020-06-26 04:05] #833 closed

[2020-06-26 05:01] idjevm commented on #824
@joshmorel I think @Naraujo13 will also have some insight on this.

And as for the input post activity limit, that's fine kyle, I merged your PR, and now let's have QA and PMs test it and we can revisit later as needed. We def would want to add pagination, not sure if that is something the team is looking for for the soft launch, @vikjoshi should have more input on that. So far looks great to load

[2020-06-26 06:01] Naraujo13 commented on #824
Yeah, skip defaults to 0 and limit to 5 if none is passed. Also, passing -1 as limit turns off pagination.

About the feature itself, probably @vikjoshi probably has more input on that, but the idea on profile was to display everything, wasn't it?
Ideally we would paginate it, but to not overload with this additional frontend task we would use everything at soft launch.

One thing I am curious is

[2020-06-26 06:23] nr431207 commented on #738
@ppagarawal in the list of orgs that are going to show in the modal, are users supposed to see all the organizations that were created by others as well as the ones they create themselves or just the ones they own/create?

[2020-06-26 06:25] ppagarawal commented on #738
@nr431207 the user should see only the organizations he/she created. No other organization should be visible

[2020-06-26 12:07] galeza opened #839 "[Mobile] Recover password - Back button overshadows Email me a recovery link button"
env: staging

Steps.
1. Open staging on your mobile phone
2. Go to Login screen and click hyperlink Forgot password
3. On the Recover Password screen - start typing your email.
4. When soft keyboard on your phone is launching Back to the Login screen hyperlink moves and overshadows Email me a recovery link button.
5. When I wanter to click Email me a recovery link button I ended up on the SignIn s

[2020-06-26 14:11] joshmorel opened #840 "DRY-up logic for returning own user from DB (low priority)"
As F/E is using `session.user` for a variety of things the fields included with user object returned from db might differ depending on if it is `POST /api/auth/oauth` `POST /api/auth/login` and `GET /users/current`.

This should be put into some util function (maybe plugin?).

Note: the main difference with respect to DB user for `GET /users/current` vs auth routes is for the former if user is nul

[2020-06-26 15:58] #550 closed

[2020-06-26 15:58] #713 closed

[2020-06-26 15:58] #757 closed

[2020-06-26 15:58] #798 closed

[2020-06-26 15:58] #800 closed

[2020-06-26 15:58] todo[bot] opened #841 "Add comment replies, like button and number of likes."
*From @joshmorel*:

This is low priority for MVP soft launch (although still part of MVP).

When we have replies - it is one level max (even though DB enables infinitely nested). This needs to be defined in some kind of constant maybe.

---

https://github.com/FightPandemics/FightPandemics/blob/0500fff272408a57026073525de785010ec6fa0e/client/src/components/Feed/NestedComments.js#L109-L114

---

##

[2020-06-26 16:36] joshmorel opened #842 "Mongoose findOneAndModify deprecation warning (low priority)"
We get this warning where we are using `findOneAndUpdate`
[code]

We should use `    useFindAndModify: false,` option

[2020-06-26 16:56] rabbi08 commented on #827
Sure, thnx for sharing.

[2020-06-26 17:07] joshmorel opened #843 "Include Post liked and likesCount in GET posts/:postId"
So F/E work in this PR works #834

Just like here in GET posts/ https://github.com/FightPandemics/FightPandemics/blob/d959a2ef4e605e827d039caf6e54d6005fb9ff10/backend/lib/endpoints/posts.js#L181

[2020-06-26 19:00] joshmorel opened #845 "/profile error due to null post & not rendering posts"
Merging #769  broke #831 . /profile

@BMariscal I think we didn't take into account that are now using Posts component for profile activity (recent PR by @kylejvh )

Only occurs if user created posts.

In staging I see this:

[code]

In local dev we have error about undefined `post`.
![image](https://user-images.githubusercontent.com/10546720/85891757-b2853e00-b7bd-11ea-9afe-6e40c103525c.png)

Fix

[2020-06-26 19:02] joshmorel commented on #845
@BMariscal - Kyle says he has time now so he'll look into fixing this

[2020-06-26 19:18] joshmorel opened #846 "Filter for provider=Individuals does't work due to spelling mismatch"
Should be "Individual" but type `IndividualUser` is lowercase unlike `OrganizationUser`  so need to update but then also update staging DB.

[2020-06-26 19:31] BMariscal commented on #845
oh oh. Thanks @joshmorel

[2020-06-26 19:35] rabbi08 opened #847 "Profile page is BLANK"
1. Open ""
2. Login using valid email/password
3. Click on 'Profile'

Issue: You will observe a BLANK page loads.
Please see attached GIF.

https://share.getcloudapp.com/KouBYzgA

[2020-06-26 19:35] BMariscal commented on #845
Yeah I didn't test the profile page. Oops.

[2020-06-26 19:36] rabbi08 commented on #847
Duplicate of #845

[2020-06-26 19:36] #847 closed

[2020-06-26 21:59] jyclam opened #851 "State update on unmounted component"
**Steps to recreate:**
1. Log in
2. Create a post

[code]

[2020-06-26 22:04] jyclam opened #852 "React warning on Post screen: <a> cannot appear as a descendant of <a>"
**Steps to recreate:**
1. Log in
2. Navigate to feed
3. Click view more on any post

[code]

[2020-06-26 22:08] #846 closed

[2020-06-26 22:34] #845 closed

[2020-06-26 23:58] rabbi08 opened #853 "'Feed' share link not working as expected (only copy, no links to social media)"
1. Open ""
2. Login using valid email/password
3. Click 'FEED' and click on 'Share' icon to share the FEED

Issue: Mismatch with the FP design, because as per Zeppelin design, the user should be directly be able to share the link on email/whatsapp/msg, etc. But currently it say that the link is copied.

Note: Though user is able to explicitly copy/paste the Link.

Please refer attached screenshots

[2020-06-27 03:45] ppagarawal commented on #687
@jyclam please make the size of view post a little smaller or enlarge the size of success by 3-4 pt. You should be good to go then.

[2020-06-27 03:54] omarzoghayyer commented on #304
@Joeu I am not 100% sure but i think the main cause of this issue is the modal approach. But i'd definitely check with @robinv85 first.

[2020-06-27 06:07] ppagarawal opened #856 "Change the share icon for posts"
Please change the share icon for posts to
![image](https://user-images.githubusercontent.com/6276256/85915973-bc647b00-b869-11ea-89aa-55b59f5f8c04.png)

- [x] Changes have to reflect in mobile and desktop
- [x] This option must appear and work for both logged in and guest users
- [x] On clicking share, the icon must turn blue
- [ ] Mobile UI must show the number of shares -> needs more work not be

[2020-06-27 06:22] ppagarawal opened #857 "Create a send button for posting comments"
Please create a send button for posting comments

![image](https://user-images.githubusercontent.com/6276256/85916153-81fbdd80-b86b-11ea-9069-bd0f5a03eeb8.png)

- [ ] The user is able to create a comment via keyboard and button, both
- [ ] The send button is placed on right end of the text box

[2020-06-27 07:42] tejasm2 opened #858 "[Desktop][Mobile] Add Checkboxes to accept Terms & Conditions and Privacy Policy on Create Individual Profile Page."
As a user,
Given that I am on the Create your Profile page,
Then I should have an option (checkboxes) to accept Terms & Conditions and Privacy Policy.

Desktop:
![Create Profile- Terms n Condi 0](https://user-images.githubusercontent.com/66698276/85917165-7dd4bd80-b875-11ea-9656-4b843cf47553.png)

Mobile:
![Create Profile- Terms n Condi Mobile 0](https://user-images.githubusercontent.com/66698276/

[2020-06-27 08:26] idjevm commented on #858
Isn't this issue already resolved?? @tejasm2 where did you get this from?

 Where are you checking??

[2020-06-27 08:26] idjevm commented on #858
Closing this as this already exists.

[2020-06-27 08:57] idjevm commented on #858
Seems like it is still an issue for the user profile! We have this already for ORG profile!

[2020-06-27 12:10] idjevm commented on #857
@BMariscal Are you covering this on your PRs too? I could put my hands on this one but I know a lot of things are going on your end on the posts so probably leave this to you?

[2020-06-27 12:36] tejasm2 opened #861 "Redirect to Main Profile page after the editing is complete and saved."
**Currently:**
When we click on “Save Changes” button on the Edit Profile/Edit Account Information page, it redirects to that same page. (Check the gif below).

**Expected:**
As a user,
Given that I am on the Edit Profile page (same for Edit Account Information/ Profile Information),
When I fill up/edit  the required information and click on “Save Changes” button,
Then I should be redirected to th

[2020-06-27 14:02] joshmorel opened #864 "Update session state on organization add/update"
We need to update the session.user state after an organization is added or updates so the navigation menu is updated.

[2020-06-27 14:07] joshmorel opened #865 "Add organization list in mobile navbar + fix desktop key prop"
Similar to work on desktop but we also need to add here:

https://github.com/FightPandemics/FightPandemics/blob/f2cd1e9b875cb516776005650e1813d01e9777e0/client/src/templates/layouts/NavigationLayout.js#L210

Also let's just fix this other issue here:

React expects a key for list of items. So we need a key={organization._id} on `<Menu.Item>` for desktop as well.

Warning: Each child in a list shou

[2020-06-27 16:44] rabbi08 opened #867 "Profile -> Org name -> Create POST -> Org POST -> BLANK page is displayed."
1. Open "https://staging.fightpandemics.work"
2. Login using valid email/pwd
3. Navigate Profile -> Org Name(created earlier) -> Create POST icon -> Create Posting as 'Organisation'

Issue# You will observe BLANK page is displayed as shown in below GIF.

https://share.getcloudapp.com/6qu2E8zA

Please note, I am able to create 'Organisation' note from my individual user profile.

[2020-06-27 16:49] idjevm commented on #731
Reopening this since the only thing that has ben merged was the backend part.

[2020-06-27 16:52] rabbi08 opened #868 "Unable to ADD new Organization (Show message that email is not unique)"
1. Open"https://staging.fightpandemics.work"
2. Login with valid email/password
3. Navigate Profile ->Add Organization
4. Enter all the details in 'Add Organization' page and click on 'Create Profile' button

Issue# You will observe nothing will happen, user stay on same page, no message or error is displayed.
P.S. attached GIF.

https://share.getcloudapp.com/X6uo8eKy

[2020-06-27 16:57] idjevm commented on #867
@kylejvh this is referring to that change you did yesterday here -> https://github.com/FightPandemics/FightPandemics/blob/master/client/src/components/CreatePost/CreatePost.js#L61

Mind taking a look?

[2020-06-27 17:00] idjevm commented on #868
The attached gif does not contain your whole process. You might want to use cloudapp to record a small video instead, same process, just allows you to record up to 1 min

[2020-06-27 17:01] pthoma14 commented on #858
@idjevm thank you for clarifying this issue will be resolved with the #860 PR. I'm going to remove the "MVP-Critical"  tag

[2020-06-27 17:02] idjevm commented on #868
And I actually figure out your issue, it looks like you are using the email that is attached to a user. The org email has to be different than the one you have as a user.

[2020-06-27 17:02] rabbi08 commented on #868
https://share.getcloudapp.com/rRulNGKe

[2020-06-27 17:03] idjevm commented on #868
@joshmorel I guess we can display a message saying this to the user? so far the user just sees that nothing happens, but the api call just fails cuz there is a user with the same email already.

@rabbi08
![image](https://user-images.githubusercontent.com/25408660/85927826-a1e4ce80-b876-11ea-975e-7950281a2b96.png)

[2020-06-27 17:04] idjevm commented on #868
I guess we can tell the user this?

[2020-06-27 17:09] rabbi08 commented on #868
I created Org Profile with new email ID, and it WORKS with that, so lets display user friendly message, that email already exist.

[2020-06-27 17:21] rabbi08 opened #869 "By default Org is created as 'I Need Help'"
1. Open "https://staging.fightpandemics.work"
2. Navigate Profile -> Already Created Organizations

Issue# You will observe that it display 'I need HELP' for the Organizations I have created by DEFAULT
Even can't edit the status for the org.

P.S refer GIF.
https://share.getcloudapp.com/X6uo8eZ5

[2020-06-27 17:38] robinv85 commented on #861
@tejasm2 @idjevm
Was this approved by PM's? I think it's not a good idea, what if you want to edit both profile & account? Or you made a mistake?
I mentioned this before and in my opinion a good UX would indicate the update was successful but stay on the same page.

[2020-06-27 17:42] idjevm commented on #861
I believe it was @indirabhowmick who wanted this change originally. I do agree with you about showing a message that the changes were saved correctly. And yeah dirty checking is already enabled when you created it I believe.

[2020-06-27 17:54] joshmorel opened #870 "Undefined org error after create profile"
Due to no organization sent back after POST /users

Will return empty array

[2020-06-27 18:05] idjevm commented on #738
Resolved with #849! :) @nr431207 Thank youu!

[2020-06-27 18:05] #738 closed

[2020-06-27 18:05] joshmorel opened #871 "Bad request on create org no ownerId"
This is hapening inconsistently and I don't know why.

![image](https://user-images.githubusercontent.com/10546720/85929008-3bb07980-b87f-11ea-8897-9333b917fd5c.png)

Perhaps we can just do this on the backend from req userId.

[2020-06-27 18:13] joshmorel commented on #867
I think the issue is user is undefined sometimes.

We have this CreatePost component used in 3 places - so I think one of these is not correct.

![image](https://user-images.githubusercontent.com/10546720/85929148-5fc08a80-b880-11ea-94a1-81fca55a7333.png)

[2020-06-27 18:24] jyclam commented on #687
@ppagarawal done!

[2020-06-27 18:25] ppagarawal opened #872 "Hamburger icon for mobile needs to appear"
The hamburger icon is not being displayed on mobile

![image](https://user-images.githubusercontent.com/6276256/85929235-cf5e6600-b8d0-11ea-8177-820343e04107.png)

[2020-06-27 18:36] joshmorel commented on #867
It's the OrganizationProfile one that is the issue. Posting from Feed.js or Profile.js is okay. @kylejvh or @nr431207 however feels like taking this on and can fix by today/tomorrow assign yourself. If no one's assigned by tomorrow I will fix.

[2020-06-27 18:41] #636 closed

[2020-06-27 18:41] #687 closed

[2020-06-27 18:43] indirabhowmick commented on #861
@idjevm @robinv85 - I am going to test to see if the dirty checking is enabled

[2020-06-27 18:45] joshmorel opened #874 "Make organization author if creating post as organization"
We need both backend and frontend changes but backend is predominat issue.

We can split out F/E to different ticket if needed in `posts.js` `app.post(`.

Backend we need to accept organization object with `createPostSchema`. If it's set then we need to use that organization as author instead of authenticated user in .

Frontend we need actually send organization - set here https://github.com/Figh

[2020-06-27 18:59] #752 closed

[2020-06-27 19:03] rabbi08 opened #875 "Recent POST is not added at the top for the respective user (ON HOLD)"
1. Open "https://staging.fightpandemics.work"
2. Login using valid email/password
3. Navigate FEED -> Create POST
4. Enter the details for the POST and click on POST, to create the POST.

Issue: You will observe that POST is created successfully but it is not displayed on top.
P.S attached screen recording.

https://share.getcloudapp.com/4gujZnBP

[2020-06-27 19:09] idjevm opened #876 "Removing the state of the modal after a successful post"
So after successfuly creating a post, the state of the create post button is not being reset,
Ideally we would want to be able to create a new post instead of having the message from the last post.

Refer to the gif here:
https://share.getcloudapp.com/o0uvZeWE

[2020-06-27 19:11] #858 closed

[2020-06-27 19:14] #870 closed

[2020-06-27 19:32] sheeba1 opened #877 "City Name is not displayed , only country name is displayed for a Post( Feed->Post)"
Summary : City Name is not displayed , only country name is displayed for a Post( Feed->Post)

Steps:
Go to Url,  https://staging.fightpandemics.work/feed

Actual Result: Only country name is displayed for a Post
![post](https://user-images.githubusercontent.com/65972693/85930343-62b37f00-b870-11ea-8558-82f61d055602.png)

Expected Result:
As per zeplin,City name is displayed along with country nam

[2020-06-27 19:38] vikjoshi commented on #869
@rabbi08 - my thinking for this is that Org should not show "I need help/want help" at all because it's not part of the Org. Profile sign up. Let's go ahead and remove it for now- what do you think?

[2020-06-27 19:40] rabbi08 commented on #869
Agree, we should remove 'I need Help' from Org profile.

[2020-06-27 19:45] joshmorel commented on #877
Good first issue if someone wants to take it on. Note that currently for location we can have just "California, US" or even just "US" so city is optional (plus some of sourced by FP posts - have no country at all).

[2020-06-27 19:49] vikjoshi opened #878 "Edit Org Profile- Account Information Bug"
Steps to Reproduce:

1. Log into test account: vjoshi2614+newtest1@gmail.com, PW: Clarify123 on https://staging.fightpandemics.work/
2 Go to Masks for All organization
3. Click on pencil icon-->Account Information
4. Under "What are you looking for", one box should be checked. Check an additional box
5. Click on Save Changes
6. Refresh the page

Expected Behavior: Two boxes should be checked
Actua

[2020-06-27 19:49] vikjoshi commented on #878
@rabbi08 - FYI logged this bug for Edit Org Profile

[2020-06-27 19:53] ppagarawal opened #879 "Heading mismatch with button text"
Please change the heading from "A place to give and get help" to "A place to offer and receive help"

![image](https://user-images.githubusercontent.com/6276256/85930913-d5a70f00-b8dd-11ea-853c-c1c033dd0526.png)

[2020-06-27 19:54] joshmorel commented on #875
According to this - https://stackoverflow.com/questions/18777130/mongodb-sorting-by-geonear-and-date - we can't use `$geoNear` with `$sort` to sort by distance then createdAt. Any thoughts @Naraujo13 ?

https://github.com/FightPandemics/FightPandemics/blob/43f8f80d2c887ccb4e5c108f72cd53415372e111/backend/lib/endpoints/posts.js#L127

@rabbi08  I'd say this is "Low Priority" (but still should be res

[2020-06-27 20:05] Naraujo13 commented on #875
The new post is shown not as first or just isn't shown at all?
Just to be sure, the first case is sorting, second one probably just not making the request to update the feed after completing the posts creation.

@joshmorel this link is about sorting on find. We are using geonear on aggregate, it generates a distance field. If sorting by creation date as a second criteria is really important we can

[2020-06-27 20:23] rabbi08 commented on #868
Adding @vikjoshi

[2020-06-27 20:36] rabbi08 commented on #867
@vikjoshi FYI

[2020-06-27 21:06] joshmorel commented on #875
@Naraujo13 it would really only affect the user's own posts within the global feed so personally I'm not sure how important that is. Within profile activity - if we omit location part of search maybe that would suffice? (so it skips location just like if it's unauthenticated)

[2020-06-27 21:31] indirabhowmick commented on #861
@robinv85 @idjevm - Dirty checking is not enabled. Save button should be enabled only when the user makes some changes on the UI

[2020-06-27 21:58] Naraujo13 commented on #875
Yeah, I think so.

That could work.
Other option would be to add a parameter to the endpoint that sets the sorting and defaults to location?

[2020-06-27 22:27] joshmorel commented on #875
I think a parameter would work. Either way I dont think this is critical for soft launch so we should focus on other issues for now.

[2020-06-27 22:45] joshmorel opened #882 "Mock geolocation for local dev"
So we don't overuse external API (Google Maps currently) and to avoid needing to deal with errors for those doing unrelated development we should mock geolocation result.

Basically if env is dev and there is no key we should return a limited set of results.

Currently this is low priority

[2020-06-27 22:49] joshmorel commented on #853
Thanks @rabbi08 I think we should aim to do this post mvp or at least post soft launch.

[2020-06-27 23:45] kylejvh commented on #867
Trying to reproduce from the staging link above doesn't work for me but I'm taking a look and I'll try to fix it.

[2020-06-28 00:21] joshmorel commented on #861
I would say we should be consistent with typical UX. What does facebook/linkedin/etc do?

[2020-06-28 00:25] kylejvh commented on #867
`OrganizationProfile` and `Profile` use a lot of the same code, yet `OrganizationProfile` does not know about the user, and `Profile` does. This is why this breaks. I'm working on fixing it so that the right information is passed, but we should make `Profile` work in a way that it can display information for both organizations and users.

[2020-06-28 00:51] kylejvh commented on #867
Since there are a lot of common components that require information off of user state, maybe we should wrap the entire application with `withUserContext` or Redux `connect()`. This would help fix a lot of the blank screen issues we've been having with `CreatePost` and `Profile`. @robinv85 @joshmorel
Thoughts?

[2020-06-28 01:02] mannykary opened #883 "Move Terraform module in tf-fargate-task repo to main repo"
This Terraform code is currently in a separate repo, but this makes deployments brittle since all branches in the main repo point to the master branch of the other repo. So any change to that repo will reflect across all branches in this repo when it pulls in the module in `main.tf`.

We should copy the module code to this repo so that deployments do not break across branches whenever a change is

[2020-06-28 01:24] joshmorel commented on #867
@kylejvh I agree. We still haven't decided on state management approach but since current user is in redux that makes sense for this component for now

[2020-06-28 01:57] kylejvh commented on #865
The key warnings should be addressed with PR #885.

[2020-06-28 04:23] #883 closed

[2020-06-28 04:37] kylejvh commented on #865
I just finished up the rest of the issue with PR #886 . Sorry @MohamedEl1 if you were working on this one.

[2020-06-28 04:55] #872 closed

[2020-06-28 05:00] #879 closed

[2020-06-28 07:50] #864 closed

[2020-06-28 07:50] todo[bot] opened #888 "implement consistent approach to state management"
https://github.com/FightPandemics/FightPandemics/blob/33ec75cf51bdd1b4c129573de90e87fa6455cbc3/client/src/pages/EditOrganizationAccount.js#L356-L360

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 33ec75cf51bdd1b4c129573de90e87fa6455cbc3 when #866 was merged. cc @FightPandemics.

[2020-06-28 08:49] idjevm commented on #861
@joshmorel I agree with you actually. But yeah, all of them have a modal nowadays, so basically on save, the modal sometimes closes, or on x button. sometimes it will ask you if you had made any changes if you want to discard them.

[2020-06-28 12:56] robinv85 commented on #861
hmm I think it currently only has "valid" check but not "dirty" for all the forms with react-hook-form that I worked on

[2020-06-28 13:02] joshmorel commented on #861
@idjevm yeah was looking at some examples and it kind of depends - some use modals so it closes and you see the updated profile, also on mobile both LinkedIn/Facebook redirect back. Some things on Facebook keep you there after save on desktop.

[2020-06-28 19:26] #861 closed

[2020-06-28 19:40] idjevm opened #893 "Fix footer position -> needs to be at the bottom of the page"
![image](https://user-images.githubusercontent.com/25408660/85956722-b77cf580-b955-11ea-9c5b-cd48b8b081ba.png)
Remove extra white space after the footer and have only the footer as the last thing on the page.

[2020-06-28 19:42] mannykary opened #894 "Add Datadog trace performance monitoring"
https://docs.datadoghq.com/tracing/setup/nodejs/

We need to install the npm package for Node.js, and add in the code to enable trace monitoring with Datadog.

Not critical for soft launch.

[2020-06-28 19:45] #874 closed

[2020-06-28 22:12] #762 closed

[2020-06-28 23:24] mannykary opened #895 "Datadog - add monitors"
We have added basic monitors for high CPU and high memory usage for the Fargate containers. These monitors will send an alert to Slack and PagerDuty. I have set the warn threshold at 50% and the alert threshold at 75% for these two monitors.

We will need to add monitors for MongoDB Atlas. I am not sure what is considered normal performance for MongoDB Atlas, so we will need to do some investigati

[2020-06-29 03:38] rabbi08 opened #897 "Profile -> My profile -> My activity -> All user's own POSTs are not visible"
1. Open "https://staging.fightpandemics.work"
2. Navigate 'Profile -> My Profile "
3. Under 'My Activity'

as logged in user, user is supposed to their own generated POSTs.

Issue: You will observe that only few POSTs are displayed, For. eg for my user NS, only 5 POSTs are displayed under 'My Activity' But under FEEDs, all of my POSTs are displayed.

P.S below GIF

https://share.getcloudapp.com/qG

[2020-06-29 03:54] idjevm commented on #897
@rabbi08 Yeah I think this was something discussed with @kylejvh & @Naraujo13, I think that we are only showing the latest 5 posts. Kyle / Nicolas, wasn't this something that was at least mentioned on the PR that was merged to display posts on user profile?

[2020-06-29 04:19] indirabhowmick commented on #897
There might be a limit on the number of posts that are being fetched from the backend. Tagging @joshmorel @robinv85 @vikjoshi

[2020-06-29 06:10] idjevm commented on #897
That's correct @indirabhowmick, I believe when @kylejvh implemented the feature to display the posts on the profile, it was limited / or it is limited by default to 5.

[2020-06-29 07:38] Naraujo13 commented on #897
I remember talking about this, but I thought we settled with an unlimited number for the profile.
Anyway, it is probably just changing the `limit` parameter to -1.

[2020-06-29 11:11] idjevm commented on #897
Alrighty, let's do that, for now, @Naraujo13, and revisit later for pagination.

[2020-06-29 12:32] ppagarawal opened #901 "Add 'Blog' link in the footer"
As a User, I would like to read about blog posts published by FightPandemics so that I can know more about the organization.

Link to the blog: https://medium.com/@FightPandemics

Acceptance criteria:
- [ ] Add the "Blog" link to the footer in the third position from left after "FAQ"
- [ ] The link must be accessible from desktop and mobile both
- [ ] The link is working and the link opens up in a

[2020-06-29 13:51] #897 closed

[2020-06-29 14:45] #843 closed

[2020-06-29 14:52] joshmorel commented on #871
Thought's on this one @robinv85 ? Do you think it would be best to move this logic to B/E, `const { userId: ownerId } = req`

[2020-06-29 14:54] joshmorel commented on #867
Resolved by #885

[2020-06-29 14:54] #867 closed

[2020-06-29 14:58] joshmorel opened #904 "Sort posts by most recent in profile activity"
Mentioned here #875 we should sort posts by most recent in profile activity pages.

@Naraujo13 we need to ignore location in this case. We talked about another parameter but I also wonder, at least for now if authorId is set then they are viewing the profile activity so in such a case ignore location. Or is this not explicit enough?

[2020-06-29 14:59] joshmorel commented on #875
@rabbi08  I created a separate issue - #904 for profile page. This one requires further discussion to decide on how we want to order the main feed and is v1.1 or later I think.

[2020-06-29 15:01] joshmorel opened #905 "Update airtable import location mapping"
Might use our own service now that it exists or add to mapping... Either way there are new locations that are failing import and this needs to be fixed for launch.

[2020-06-29 15:44] Joeu commented on #304
Yeah, @omarzoghayyer . That's why I need to know in which direction we should move (keeping or removing the modal).

[2020-06-29 15:56] Naraujo13 commented on #904
I would prefer having a sort parameter where we can choose the location criteria so it is more explicit.

It won't require much change in the frontend, just adding this param to the r request.

[2020-06-29 15:57] joshmorel opened #906 "Update/delete posts made as organization"
#891 enabled posting as organization but a user still needs to update & delete posts of organizations that they own (similar to their own posts).

From Sheeba Jose:
I am adding more info copied from #971  as suggested by JV.

Issue: Unable to edit/delete Organization posts created(from feed Or profile) by loggedin user, as Ellipsis is missing
Expected Results: Organization posts created via Feed O

[2020-06-29 17:03] rabbi08 opened #907 "Org POST are displayed as Individual POSTs"
1. Open"https://staging.fightpandemics.work"
2. Login using valid email/pwd
3. Navigate to the Org Profile " Profile -> <Org_Name> [Already created & displayed under profile]
4. Click on 'Create Post' icon
5. Add Organization Post and Add new post

Issue: You will observe that POST is created with the profile logo/details of the respective Individual user NOT as a Organization from which is the PO

[2020-06-29 17:04] rabbi08 commented on #907
@vikjoshi

[2020-06-29 17:50] joshmorel commented on #904
Feel free to take this on and do b/e only. I can add f/e in separate issue or with PR review.

[2020-06-29 18:43] joshmorel commented on #907
@rabbi08 Strange I can't recreate it. Do the exact same and it's posted with the author as org. I'm going to ask in devops to see if I can troubleshoot some other way.

Somewhat related but more from a UX wise @vikjoshi @indirabhowmick do you think it makes sense if the picking the individual/org is skipped if I create a post from my profile.

Currently we can create a post from 3 places:

1. Feed

[2020-06-29 19:12] rabbi08 commented on #907
@joshmorel I am still able to reproduce the issue. Here another video of the steps, for reference, in case something from missed from written steps:

https://share.getcloudapp.com/Z4uY7ojB

[2020-06-29 19:44] joshmorel commented on #907
Thanks @rabbi08 I'll dig more into this.

[2020-06-29 19:45] pthoma14 commented on #893
Hi @idjevm thank you for logging this issue!

Just letting you know that as the product team starts to prioritize issues for the soft launch we want to make sure UI issues don't have the "MVP-Critical" tag if they don't seriously interfere with the functionality of the product.

This is an issue that does need to be addressed. We just want to be cautious when it comes to using this tag.

Does that

[2020-06-29 19:47] vikjoshi commented on #907
Thanks @rabbi08 @joshmorel - yeah this would be good to fix. @joshmorel , guessing the issue @rabbi08  found is a back-end issue but let me know what you think after troubleshooting.

For the UX question- agreed that it should default to individual if you're on the indiv profile and org. if you're on the org profile. That would be a nice to have but don't think we need to prioritize it for now

[2020-06-29 19:54] pthoma14 commented on #865
@kylejvh should this issue be closed?

[2020-06-29 19:57] vikjoshi commented on #865
@MohamedEl1 @pthoma14 @kylejvh - I'm going to go ahead and close this issue because it has been resolved

[2020-06-29 19:57] #865 closed

[2020-06-29 20:21] joshmorel commented on #907
Good call @vikjoshi we can create another issue for that.

Truly, this might be F/E, B/E or infrastructure. I really can't tell yet. I'll ask a bit more in Slack.

[2020-06-29 20:43] #901 closed

[2020-06-29 21:28] kylejvh commented on #907
FWIW, I tried reproducing this as written and was also unable to reproduce.

[2020-06-29 22:14] kylejvh commented on #868
@idjevm I'm trying to reuse the alert functionality from user sign up to show an error. I'm wondering why you had a different error message. It seems you had the correct validator error message while I get the default. Any idea why? Is it different in production?

![Org_Fail](https://user-images.githubusercontent.com/49110126/86061163-37798d00-ba34-11ea-8dfb-fa1d728c2995.jpg)

[2020-06-30 02:45] pthoma14 commented on #655
@joshmorel I see you mentioned this issue yesterday. Is this issue still open or should it be closed?

[2020-06-30 04:07] rabbi08 commented on #907
Currently me too unable to reproduce the issue. It looks as it was session error. Because I was testing with continue session from while back in my morning before the other organization merge, as I can now add new organization and no blank page is coming for the Organization profile page.

The Organization POST are displayed with Org Profile Details. as shown in below screenshot.

<img width="1276

[2020-06-30 04:16] rabbi08 commented on #907
But, They are still NOT displayed under 'Profile -> Org_name -> My Activity'

Also, the profile logo is  different in the POST, i.e. while in Org Profile its T2 and on Post its only 'T',
will log separate issue for that as I need more time to investigation around.

Thnx

<img width="1332" alt="image" src="https://user-images.githubusercontent.com/67168400/86082571-1893ee80-ba66-11ea-9812-7bf018344

[2020-06-30 04:29] vikjoshi commented on #907
@rabbi08 , just FYI- @cvaldez98 is working on integrating posts/org profile so posts show up under "My Activity". It's logged here: https://github.com/FightPandemics/FightPandemics/issues/825

[2020-06-30 04:29] vikjoshi commented on #907
Also, I think we should close this ticket out unless someone sees this issue pop up again in the next few days

[2020-06-30 04:35] #907 closed

[2020-06-30 05:27] Naraujo13 commented on #904
Ok!

[2020-06-30 06:29] ppagarawal opened #908 "Fix home page sizing to fit different screen"
As a User, I want to have consistent UI experience across devices.

Currently, the components of the homepage are not proportionate to the different screen sizes. The frontend needs to be proportionate across screens. This change has to be implemented across all the different features.

Eg:
![image (4)](https://user-images.githubusercontent.com/6276256/86091054-db147d00-bac8-11ea-8ae3-c3ace1cda991

[2020-06-30 10:18] #742 closed

[2020-06-30 12:06] WafaaAly opened #909 "Add new Feature: Share FightPandemics website posts to the social media"
As a FightPandemics website's user, I want to be able to share blog posts to the social media, so that I can discuss the content with my friends.

Acceptance Criteria:
1. The open graph tags are added to the posts.
2. There are tags for the following properties: url, type="website", description, image
3. The Links are tested on the [Facebook Sharing Debugger](https://developers.facebook.com/tools/

[2020-06-30 13:29] kaydeejay commented on #842
I'd like to fix this bug

[2020-06-30 14:10] idjevm opened #910 "Fix styles in the onboarding flow <> other places in the platform."
I believe that PR #813 messed up some stuff in the frontend.

Please refer to this slack post -> https://fightpandemics.slack.com/archives/C010J3BMS9H/p1593525056033700

[2020-06-30 14:14] Joeu commented on #476
Not reproducible anymore. Closing this issue.

![Screenshot from 2020-06-30 11-14-09](https://user-images.githubusercontent.com/1004896/86136830-e82e6d80-bac2-11ea-9f38-3337d3da1c77.png)

[2020-06-30 14:14] #476 closed

[2020-06-30 15:07] joshmorel opened #912 "Feed filter button styling broken"
@adisen  I think this might have broken these ones https://github.com/FightPandemics/FightPandemics/pull/813

If you're able take it on and fix within 1-2 days please assign yourself, otherwise let me know and we can ask someone to volunteer.

I guess just update `FiltersSidebar.js` to use `SubmitButton` based on recent commit but we should check anywhere else the it is used.

![feed-buttons-broke

[2020-06-30 15:10] idjevm commented on #912
Yeah, I think this is a duplicate, I will update the other issue, since the changes on 813 probably affected all buttons.
https://github.com/FightPandemics/FightPandemics/issues/910

[2020-06-30 15:10] #912 closed

[2020-06-30 15:10] idjevm commented on #910
also #912 @adisen let's just address them here.

[2020-06-30 15:29] joshmorel commented on #904
@Naraujo13  hey I asked PMs in Slack and for activity we should exclude all visibility filters.

So for activity we should have some query param flag that totally ignores user location stuff (both geo sorting & visibility filters) - so a similar result to non-logged in user with no location filter.

I say we address both here

Not sure what we want to call it maybe `ignoreLocation=true`

[2020-06-30 15:54] ppagarawal commented on #893
Please note that this needs to be fixed for mobile as well

![image](https://user-images.githubusercontent.com/6276256/86148314-168a6800-bb18-11ea-8494-136db4ae6250.png)

[2020-06-30 15:59] pthoma14 commented on #908
@ppagarawal this is a great issue! Thanks for logging this.

Maybe for these UI type issues we don't use the "MVP-Critical" tag but rather "MVP-Release 1" and "Good First Issue" tags

Thoughts?

[2020-06-30 16:04] pthoma14 commented on #655
@indirabhowmick is anyone assigned to this issue? Do you believe we can push this UI issue to the real MVP launch instead of the soft launch?

[2020-06-30 16:07] pthoma14 commented on #825
@vikjoshi is this issue still open?

[2020-06-30 16:08] indirabhowmick commented on #655
@pthoma14 - functionality has already been implemented. @robinv85 @joshmorel @idjevm - Please confirm

[2020-06-30 16:11] pthoma14 commented on #488
@BMariscal - hey is this issue still open or can we close it?

[2020-06-30 16:13] Naraujo13 commented on #904
So we would ignore location, expiration and visibility filters, right?

[2020-06-30 16:20] idjevm commented on #825
@pthoma14 Yes it is still open but almost to be closed. As you can see, there is a pending PR for this issue.

[2020-06-30 16:23] pthoma14 commented on #825
@idjevm - Thank you JV! Sorry I didn't see the PR for this issue.

[2020-06-30 16:49] sheeba1 opened #914 "Like should be clickable on Post details page"
On Feed, user can click 'Like' for his  Post, but cannot click 'Like' (Like is disabled) when he clicks and selects his post as shown below:

![image](https://user-images.githubusercontent.com/65972693/86152266-ca5a0c00-bab4-11ea-830c-efdbf0ebf084.png)

steps:
Login and Go to feed and Create a Post. On feed page you can click on 'Like', But if you go to Post page by clicking the post, you cannot c

[2020-06-30 17:19] #822 closed

[2020-06-30 17:31] #825 closed

[2020-06-30 17:31] ac5144 commented on #877
I would like to solve this issue

[2020-06-30 17:35] vikjoshi commented on #904
@indirabhowmick @joshmorel @Naraujo13 , since we're adressing the visibility filters for posts under profile, I moved this into MVP-Critical

[2020-06-30 17:53] joshmorel commented on #904
Location & visibility definitely. I think expiration might be tricky unless, if we include these on activity we need some kind of display to clarify that the post is no longer valid.

My inclination would be for still filter out expired posts out until we decide how that information should be conveyed.

Thoughts @vikjoshi ?

[2020-06-30 18:13] rabbi08 opened #916 "User is unable to view 'Privacy Policy or Terms & Conditions' while signing up."
1. Open "https://staging.fightpandemics.work"
2. Click on Register -> Sign Up -> Create your profile
3. Enter the details to create new profile
4. Click on 'Privacy Policy' or ' Terms and Conditions' link

Issue#1: You will observe that NO 'Privacy policy' or 'Terms & Conditions' are displayed.
Issue#2: All the data entered by the user to create profile is erased/deleted.

Refer attached GIF.
http

[2020-06-30 18:21] rabbi08 opened #917 "User need to enter 'Add Org' data again if they navigate to privacy or terms& condition links"
1. Open "https://staging.fightpandemics.work"
2. Navigate Profile -> Add Organization
3. Enter the details to create new Organization.
4. Click on 'Privacy Policy' or ' Terms and Conditions' link
5. Click on 'BACK' button of the browser to come back to finish adding new Organization

Issue: You will observe that user's entered data to create Organization profile is deleted and user need to re-ente

[2020-06-30 18:27] rabbi08 opened #918 "Profile "Logo" is different than which is displayed on the POSTs added by the respective Organizations"
1. Open "https://staging.fightpandemics.work"
2. Login using valid email/Password
3. Navigate to Profile -> [Org_name_added before]
4. Create a POST

Issue# You wil observe that the profile logo displayed on Company profile is different than its display on the POST added by them.

Refer below GIF.

https://share.getcloudapp.com/NQuglJ90

[2020-06-30 18:27] rabbi08 commented on #918
@vikjoshi FYI

[2020-06-30 18:27] rabbi08 commented on #917
@vikjoshi FYI

[2020-06-30 19:11] joshmorel opened #919 "Require user to be owner to update organization profile"
Current anyone can do it.

Also on f/e hide edit & create post buttons if not owner.

[2020-06-30 20:26] #805 closed

[2020-06-30 20:26] todo[bot] opened #923 "consistently return _id or id or both"
https://github.com/FightPandemics/FightPandemics/blob/9ea7f55d4bb194f269b9d931df0e78e3a5a23a5e/client/src/pages/EditAccount.js#L108-L112

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9ea7f55d4bb194f269b9d931df0e78e3a5a23a5e when #889 was merged. cc @FightPandemics.

[2020-06-30 20:26] todo[bot] opened #924 "consistently return _id or id or both */}"
https://github.com/FightPandemics/FightPandemics/blob/9ea7f55d4bb194f269b9d931df0e78e3a5a23a5e/client/src/pages/ProfileCompleted.js#L26-L30

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9ea7f55d4bb194f269b9d931df0e78e3a5a23a5e when #889 was merged. cc @FightPandemics.

[2020-06-30 20:34] rabbi08 opened #925 "Error is displayed while user click on 'Comment' icon for Post of Organization-> My Activity"
1. Open "https://staging.fightpandemics.work/"
2. Navigate to Profile -> [Org_name(prev added)] -> My activity
3. click on 'Comment' icon on any post existing.

Issue# You will observe that following error is displayed:
"Failed loading profile, reason: Cast to ObjectId failed for value "post" at path "_id" for model "OrganizationUser"

Please note this feature is working fine for Individual post a

[2020-06-30 20:34] rabbi08 commented on #925
@vikjoshi FYI

[2020-06-30 20:51] #893 closed

[2020-06-30 21:15] joshmorel commented on #924
Duplicate of #923

[2020-06-30 21:15] #924 closed

[2020-06-30 21:39] #810 closed

[2020-06-30 21:44] idjevm commented on #917
Easy solution for this will be to have those links open up on a new tab. What do you think @rabbi08 ?

[2020-06-30 21:57] pthoma14 commented on #655
@indirabhowmick I've confirmed that this functionality is currently working.

[2020-06-30 21:59] #655 closed

[2020-06-30 22:00] joshmorel commented on #655
Yeah this one wasn't linked because it was the 2nd tagged after "Resolves" keyword

[2020-06-30 22:01] pthoma14 commented on #655
Ahh got it. Thanks @joshmorel

[2020-06-30 22:04] joshmorel opened #927 "Add pagination for profile activity"
We added a skip pagination (via `limit=-1`) to posts endpoint to get this working quickly.

However, some definitely take awhile to load for sourced by fp due to hundreds of posts. So we should add pagination similar to scroll on feed.

Ideally this would be some kind of higher order component but copy/paste is okay for now if that is not straight forward.

[2020-06-30 22:14] rabbi08 commented on #917
Yeah that's will be quick and easy fix. Thnx

[2020-06-30 22:15] sheeba1 opened #928 "Post description goes beyond the Post detail page"
Post description goes beyond the Post detail page as shown in picture 2.
Steps: login staging FP and go  to feed,create Post as Individual/Organization. Enter the description until the entire row is filled.Create Post and view post.

![image](https://user-images.githubusercontent.com/65972693/86181896-b37ede00-bae3-11ea-9283-cacf53fee872.png)

Picture 2
![image](https://user-images.githubuserconte

[2020-06-30 22:35] sheeba1 opened #929 "Confirmation for delete a post is Not getting displayed ,while deleting a post from Feed"
Steps
1.Login to https://staging.fightpandemics.work/
2.Go to Feed and a Create a Post as Individual.
3.Go back to Feed where posts are displayed
4.Click on ellipsis and select delete.
Result: Post is deleted without asking for confirmation.
Expected: A confirmation dialog box should be displayed as shown below:

![image](https://user-images.githubusercontent.com/65972693/86183618-48cfa180-bae7-11

[2020-07-01 00:55] vikjoshi commented on #918
@rabbi08 given we are only showing initials on the avatar, Im going to prioritize this for MVP-Launch, not soft launch

[2020-07-01 00:56] vikjoshi commented on #917
@rabbi08 @idjevm, given that this is not urgent, i will prioritize this for MVP release, not soft launch

[2020-07-01 00:59] vikjoshi commented on #904
Based on Slack convo, we will just remove the filter for soft launch for expiration. I will create a new ticket to address a tag or something like that to differentiate between expired and unexpired posts- to be tackled post soft launch.

CC: @Naraujo13 @joshmorel @indirabhowmick

[2020-07-01 01:05] vikjoshi commented on #925
Hmm @rabbi08 I just tried to replicate and I am seeing this work as expected. Could you try one more time?

![image](https://user-images.githubusercontent.com/41554004/86191572-3f046900-bafc-11ea-8297-27e2a7735558.png)

[2020-07-01 01:07] vikjoshi commented on #877
@ac5144 assigning this to you

[2020-07-01 01:14] Yu-Alexa-Zhao commented on #908
Is it possible to -
1) For both the left and right sections to take up the entire height?
2) Ideally the two boxes would take up to 75% of the height of the div ...

Not sure if I am being descriptive here...
![image](https://user-images.githubusercontent.com/44085699/86192057-a29b9000-bb16-11ea-8b90-f8cb6c038a56.png)

[2020-07-01 01:20] Naraujo13 commented on #904
Okay, but that is just for the profiles right?

At the feed we maintain the filter?

[2020-07-01 01:22] vikjoshi commented on #904
@Naraujo13 yup exactly! This is just for what shows up on the View Profile page for Individual and Org profiles

[2020-07-01 01:27] vikjoshi commented on #919
Good catch @joshmorel ! Tagging myself here to test once youre done implementing

[2020-07-01 01:35] vikjoshi opened #930 "Add Expired tag to expired posts on View Profile page"
As an individual user or organizational user, I can see all posts that i have created under My Activity on the View Profile page. For posts that have expired, can we add an Expired tag to differentiate between active and inactive posts?

Need some Design input so tagging @Yu-Alexa-Zhao here for now.

To be prioritized for post soft-launch

[2020-07-01 02:23] omarzoghayyer commented on #918
Ill look into this issue and try to get it done soon.

[2020-07-01 02:47] omarzoghayyer commented on #910
Also the submit button on >>Needs help page >> Step 3

[2020-07-01 03:11] idjevm commented on #910
Yeah the onboarding is the Needs help/ Offer Help pages, but this ticket addresses all the buttons across the platform. Most of them got messed up, so working with @adisen to find a solution. @adisen make sure you check all buttons, filters, creating a post, mobile/desktop, onboarding page, creating profile/organization. I noticed that a lot of them got messed up.

[2020-07-01 04:03] rabbi08 commented on #925
Unable to replicate, will keep this scenario for further testing.
Currently closing as no longer replicate.

[2020-07-01 04:03] #925 closed

[2020-07-01 04:20] sheeba1 opened #931 "User Profile:My Profile should have the comment element highlighted along with number of comments , if user's post has comments added"
Objective: An user should be notified if someone comments on his post. Right now, the user can go to My Profile to see the comments for his posts. If his post has comments added, the comment element should be Highlighted so that the user notices it conveniently. Right now it does not show comment element highlighted. The snippet below (picture 1) is from user profile. The post has 2 comments(refer

[2020-07-01 06:30] #731 closed

[2020-07-01 08:01] ppagarawal opened #932 "Add video to About us page and validate for spacing"
As a user, I want to know more about FightPandemics culture, so that I can know more about FightPandemics

Design: https://app.zeplin.io/project/5ecaed1b2522d9280f1a4792/screen/5edd9fc31fa688993818434a

Link to the video: https://www.youtube.com/watch?v=d1mgFeH8l_4

Acceptance Criteria
- [ ] Insert the video in the about us page
- [ ] The video should be playable on the about us page. No redirecti

[2020-07-01 09:54] adisen commented on #910
Working on it. Gonna push the code today.

[2020-07-01 12:16] galeza opened #933 "[Mobile Web] Feed | Country code covered by post info"
env: staging

Steps:
1. Open Feed page
2. Filter by Location: Deutschland
3. First post is displayed incorrectly.
4. Feed post information covers country code:
![Screenshot_2020-06-30-11-32-47-567_com android chrome 2](https://user-images.githubusercontent.com/21987083/86242677-5c414200-bba5-11ea-80c5-01ce27054db6.jpg)

[2020-07-01 12:21] galeza opened #934 "[Desktop] Feed | View Result button invisible"
env: staging

1. Open Feed screen
2. Open Filters on the Feed screen
2. View Result button for Filters is not visible
![Feed Buttons](https://user-images.githubusercontent.com/21987083/86243065-fbfed000-bba5-11ea-8272-9be9d211f9de.gif)

[2020-07-01 13:13] Joeu commented on #908
@Yu-Alexa-Zhao , can you check how it is now in https://staging.fightpandemics.work/ and give you thoughts about it? I just pushed a fix for other issue that deals with this blue part on the home page.
I'd also like to know which screen sizes we are going to support, so we can change the proportions using the font-size approach.

[2020-07-01 14:11] idjevm commented on #934
Closing this as this is a duplicate of #910. @adisen is currently working on a fix for these styles.

[2020-07-01 14:11] #934 closed

[2020-07-01 14:11] idjevm commented on #934
@galeza if you see anything funky with styles, please refer it and add it to #910, all the buttons across the platform got messed up but are being fix at the moment.

[2020-07-01 14:16] idjevm commented on #928
Can you guys try again in incognito mode in staging?? I am not seeing this issue on my end
![image](https://user-images.githubusercontent.com/25408660/86254549-f6908e00-bb83-11ea-9e78-2459de0ae793.png)

[2020-07-01 14:22] idjevm commented on #932
will close this for now since we are not asking for a video anymore. @ppagarawal please contact @manualzuru  and @tingtingandrea to ask for specifications / design for the image that we want to put there.

[2020-07-01 14:22] #932 closed

[2020-07-01 14:32] doheekim93 commented on #928
@idjevm I think the error happens when it's one long string with no spaces!

[2020-07-01 14:35] doheekim93 commented on #933
Hi @galeza, I believe this is a duplicate of #701

[2020-07-01 14:59] idjevm commented on #928
Yup that's correct @doheekim93 I don't think this is a critical issue. This was probably there since the very beginning and briceida didn't think of the posibility of someone creating a one line long without spaces post.

[2020-07-01 14:59] idjevm commented on #928
We should change the tags of this as this is not critical, and probably not happen unless the user makes a mistake and has no spaces on their post? I don't see it happening though

[2020-07-01 15:12] Yu-Alexa-Zhao commented on #908
Yes I think the design now makes perfect sense to me

[2020-07-01 15:15] idjevm commented on #908
I am not sure about supporting 4k resolutions, I mean I guess we should consider having a bit screen resolution but most probably will ok without 4k res.

[2020-07-01 15:15] pthoma14 commented on #928
@idjevm agreed. We should definitely fix this bug, but it's not critical for Soft Launch.

[2020-07-01 15:20] joshmorel commented on #928
A good first F/E issue but agreed, not critical for soft launch. See: https://css-tricks.com/almanac/properties/o/overflow-wrap/

[2020-07-01 15:42] Yu-Alexa-Zhao commented on #930
We were working previously under the assumption that expired posts will not show up in the feed. What are the benefits of showing them in the feed?

[2020-07-01 15:46] #486 closed

[2020-07-01 15:54] joshmorel opened #938 "Fix comments age reactivity issue"
The time ago only updates as you write a new comment. Best to make it non-reactive (like YouTube) so basically only updates on page refresh.

But probably won't affect most people at first.

Or we can send from b/e.

![comment-time-ago-reactive](https://user-images.githubusercontent.com/10546720/85928416-c642aa00-b87a-11ea-8085-180de6b0d615.gif)

[2020-07-01 15:59] vikjoshi commented on #931
Reassigning to @ppagarawal . @ppagarawal , how are we handling post notifications currently?

[2020-07-01 16:03] #871 closed

[2020-07-01 16:03] #919 closed

[2020-07-01 16:07] sheeba1 opened #939 "Post description -Text is less then 120 signs -> no View More link"
The Picture Below displays a Post description text = 118, but view less,view more link

![image](https://user-images.githubusercontent.com/65972693/86265801-225a4680-bb79-11ea-9519-1616a6a29347.png)

[2020-07-01 16:27] joshmorel opened #940 "Prefer Optimistic UI updates (low priority)"
AKA "eventual consistency" for example likes - increment like count and then rollback if something went wrong.

So here - https://github.com/FightPandemics/FightPandemics/blob/1ae090dc0a094b979c1cc579aab194e45b9a6f56/client/src/components/Feed/Post.js#L202 - instead of waiting for backend response update F/E immediately but revert if there is an error.

We need design for errors however.

See for

[2020-07-01 16:29] #933 closed

[2020-07-01 16:31] joshmorel commented on #938
Maybe better to follow YouTube example - sent from B/E:

![image](https://user-images.githubusercontent.com/10546720/86268828-c8687980-bb96-11ea-8a06-d950e8881555.png)

![image](https://user-images.githubusercontent.com/10546720/86268794-b71f6d00-bb96-11ea-8184-1f6ba5389cab.png)

[2020-07-01 17:30] joshmorel commented on #488
Resolved by #859

[2020-07-01 17:30] #488 closed

[2020-07-01 17:32] joshmorel commented on #199
This seems to be resolved

[2020-07-01 17:32] #199 closed

[2020-07-01 17:37] joshmorel commented on #395
@robinv85 this is implemented F/E now (https://github.com/FightPandemics/FightPandemics/blob/1ae090dc0a094b979c1cc579aab194e45b9a6f56/client/src/utils/validators.js#L12) but not on API-level validation (although also checked by Auth0).

Should we close this one as resolved and open a low priority one for B/E or are we good?

[2020-07-01 17:38] joshmorel commented on #431
Seems like it's done - closing

[2020-07-01 17:38] #431 closed

[2020-07-01 17:40] joshmorel commented on #747
This is resolved - closing

[2020-07-01 17:40] #747 closed

[2020-07-01 17:55] rabbi08 opened #941 "Feeds -> Filters-> "Quit Filter & View Result" buttons visibility is fluctuating"
1. Open "https://staging.fightpandemics.work"
2. Navigate to Feed -> Filters

You will observe that 'Quit Filter' is displayed and when scroll around, "View Result" button shows up.
hence the the visibility of filter buttons is fluctuating.

Refer attached GIF.
https://share.getcloudapp.com/qGuKxXED

[2020-07-01 17:56] idjevm commented on #941
This is a duplicate issue! Please review that there are not issues already open regarding to styles. This is being resolved by #910. I have mentioned this on slack as well :)

[2020-07-01 17:56] #941 closed

[2020-07-01 18:00] rabbi08 commented on #941
Oh, I did try to search, but can't find specific terms of the issue, looking for. hence I logged. and might missed the part on slack too.

[2020-07-01 19:09] galeza opened #942 "[Desktop] Post | close modal window with the x and not "view your post""
env: staging

Steps:
Go to the Feed screen:
1. Try to create a new post
2. Enter data,
3. Click Post button and you will see Success modal window
3. Close Success modal window with **the x and not "view your post"**
4. Try to create a new post,
5.  It keeps on sending user back to the success div element

[2020-07-01 19:21] idjevm commented on #942
This is a duplicate issue - it is already being investigated on #876  and resolved by @jyclam.

[2020-07-01 19:28] joshmorel opened #943 "Error when viewing organization profile"
Only happening on staging for some reason not local master.

The page is blank and dev tools indicates an undefined here on

https://github.com/FightPandemics/FightPandemics/blob/1ae090dc0a094b979c1cc579aab194e45b9a6f56/client/src/pages/OrganizationProfile.js#L194

[2020-07-01 19:28] joshmorel commented on #943
FYI @manualzuru

[2020-07-01 19:33] joshmorel opened #944 "Clicking on profile avatar in Comments should redirect user to the profile page"
Similar to how it's done in Post:

https://github.com/FightPandemics/FightPandemics/blob/1ae090dc0a094b979c1cc579aab194e45b9a6f56/client/src/components/Feed/Post.js#L81

Should probably move `authorProfileLink` as a utility function so it's the same for post Post & Comment

Currently, I think only individuals can comment but we should account for potential for orgs to comment later.

For any poste

[2020-07-01 19:37] idjevm opened #945 "Send an email to commentor/author of a post for every update to the post"
As a commentor/author of a post,
I want to receive the notifications on every comments posted/edits made from each of the commentor,
so that I can close my requirements.

Acceptance Criteria:
- [ ] All the users receive email
- [ ] The email is triggered for posting, commenting, editing posts, editing comments
- [ ] When the author is org profile, the mail must reach on the org email as stored on

[2020-07-01 20:28] idjevm commented on #945
Hey @joshmorel so I will be taking into this issue and investigate it in about 6hrs (after I wake up). I was wondering what are your thoughts when it comes to collecting the emails / commenter's id (maybe having an endpoint?) so that way we can set up some sort of communication between the commenter and the post author. So far I think @ppagarawal wants to have a feature such as GitHub where it not

[2020-07-01 20:37] nivetheatha opened #948 "Page content is not fully fit in to the android mobile device.Half of the page is blank."
Steps to Create:
-Select any android mobile device (ex:Samsung galaxy S8)
-Navigate to https://staging.fightpandemics.work/
-Offer Help(For request help results also displayed in half screen)
-Choose as a Volunteer
-Enter zip(18020)
-Enter mail
-Submit
Feed is displaying on half page on the Android device(Samsung Galaxy)
-But working properly on Emulated version.
![Screenshot_20200701-160628_Samsu

[2020-07-01 20:39] BMariscal commented on #928
@idjevm I can take of this. easy fix.

[2020-07-01 20:44] idjevm commented on #928
Sounds good BRI :D yes it is just a css issue :D

[2020-07-01 20:48] idjevm opened #949 "Fix like counter to change to likes when more than 1 like + add space between the word and number"
Currenlty the following is displayed ->
![image](https://user-images.githubusercontent.com/25408660/86289774-438f5700-bbba-11ea-8367-f8d7e3bb9805.png)
 and
![image](https://user-images.githubusercontent.com/25408660/86289861-6b7eba80-bbba-11ea-9e42-ba563419aa3d.png)

We want to display plural if more than one like and also add the spacing between the like counter and the word like / likes.

[2020-07-01 20:51] doheekim93 opened #950 "Line is missing on posts that is less than 120 char"
env: [https://staging.fightpandemics.work/feed](url) and also on profile (indv and org) page

Posts that have texts that are less than 120 char is missing the line separating the text and the post engagement icons:
<img width="1052" alt="Screen Shot 2020-07-01 at 3 45 15 PM" src="https://user-images.githubusercontent.com/66695502/86290150-8baa7b80-bbb2-11ea-8220-49501238e000.png">

Expected:
We sh

[2020-07-01 21:01] doheekim93 opened #952 "Fix post width dimensions"
env: [https://staging.fightpandemics.work/feed](url)

When user is on a single post's page (i.e. click on a post from feed or under My Activity - [example](https://staging.fightpandemics.work/post/5ef8e463ebf82400121b1d29), the post width size should be fixed. It should not be dynamically changing depending on the contents (length of text) of the post.

![ezgif com-video-to-gif (2)](https://user-i

[2020-07-01 21:09] #943 closed

[2020-07-01 21:11] #856 closed

[2020-07-01 21:18] sheeba1 opened #954 "Post comment feature- 'Comment/s' label and number of comments should be present"
Expected Behaviour:

For the post comments, there should be a   label, **Comment/Comments** along with **number** of comments. It is applicable to posts on Feed and post details page as well. (only required for Desktop)

Current behaviour is shown below:
On Feed
![image](https://user-images.githubusercontent.com/65972693/86291162-737f3000-bba3-11ea-91f3-1c52ab070c0e.png)

Post details page

![imag

[2020-07-01 21:21] BMariscal commented on #939
hello @sheeba1  the limit is set to 120 characters, not letters. The example you posted has 214 characters.

[2020-07-01 21:31] BMariscal commented on #914
This functionality is being addressed here: https://github.com/FightPandemics/FightPandemics/pull/834

[2020-07-01 22:03] #950 closed

[2020-07-01 22:23] #949 closed

[2020-07-02 00:30] BMariscal opened #957 "Fix the on-hover colors of edit and delete post buttons to match our styleguide"
"The Hover color of buttons is a blue that isn't in our styleguide"

[2020-07-02 01:30] BMariscal opened #959 "Display time in comments with spacing"
The time within the comments is currently display without spacing (i.e. "10days ago" instead of "10 days ago")

[2020-07-02 02:36] silenceway commented on #929
Fixed in: https://github.com/FightPandemics/FightPandemics/pull/960

[2020-07-02 03:37] omarzoghayyer opened #962 "Post Creation page design doesn't math Zeplin"
After posting an organization/individual post, the after post message doesn't match the one on Zeplin.

ACTUAL
<img width="521" alt="Screen Shot 2020-07-01 at 8 34 35 PM" src="https://user-images.githubusercontent.com/49251966/86313661-89f4ae00-bbda-11ea-9305-63c2eab31f57.png">

ZEPLIN
<img width="786" alt="Screen Shot 2020-07-01 at 8 34 30 PM" src="https://user-images.githubusercontent.com/492519

[2020-07-02 04:34] #905 closed

[2020-07-02 05:58] ppagarawal commented on #962
@omarzoghayyer There were a few changes made on the designs. I would like to know what changes you are referring to here. Please reach out to me before making changes.

[2020-07-02 05:59] ppagarawal commented on #962
@omarzoghayyer The changes we have in staging is fine and does not need any change. Please close this ticket without any changes.

[2020-07-02 06:11] idjevm commented on #962
This is a duplicate. And a loooong discussion has been going on. Closing this one as this changes are not needed. Please keep do not make any changes @omarzoghayyer

[2020-07-02 06:11] #962 closed

[2020-07-02 06:13] omarzoghayyer commented on #962
@ppagarawal no changes were made. Lets try to follow Zeplin as the current design doesn't look good.

[2020-07-02 06:24] idjevm commented on #962
@omarzoghayyer yeah for this one we decided to change it since there isn't a way to check yet if the user has completed the profile or not and what does that look like? Do they miss something or a new profile? Yeah there were a lot of things that we considered. Also, the design looks a bit funky because there was a PR that was merged that messed up some of the buttons design. It is already being r

[2020-07-02 08:19] idjevm commented on #929
Reopening this as it is not resolved yet but will be resolved once PR #960 gets merged. Reopening so people avoid creating a new issue with this since the feature is not in staging yet.

[2020-07-02 14:17] pthoma14 commented on #909
@ppagarawal @indirabhowmick @vikjoshi  I believe this should be prioritized for the MVP launch and not the Soft Launch.

Thoughts?

[2020-07-02 14:21] pthoma14 commented on #914
@BMariscal Is it possible to link this issue with #834 or should we just close this issue?

[2020-07-02 14:30] WafaaAly commented on #909
@pthoma14  Can I know why this is not MVP-Critical? I mean what is the difference between MVP - Release 1 and MVP-Critical?

[2020-07-02 14:37] pthoma14 commented on #909
Hi @WafaaAly,

The "MVP-Critical" tag  =  **Soft Launch** Features (Alpha Launch)
The "MVP-Release 1" tag = **MVP Launch** Features (Beta Launch)

For the Product team we are prioritizing which features are **absolutely** critical for the Soft Launch as we approach a code-freeze this upcoming Monday. Therefore a new feature like this I believe is **Critical** but for the MVP Launch (V1.1 or V1.2 r

[2020-07-02 14:41] ppagarawal commented on #909
You're correct @pthoma14

[2020-07-02 15:17] BMariscal commented on #914
@silenceway @cvaldez98  fyi ^

[2020-07-02 15:44] joshmorel commented on #909
Hey @ppagarawal @pthoma14 @WafaaAly there was a similar issue reported last week (the title wasn't fully descriptive so I updated it). I will close this one in favor of the original  #853

[2020-07-02 16:43] WafaaAly commented on #909
@joshmorel I don't think they are the same. the title of the mentioned one is still indicating that 'no links to social media'.
This one is for website unlike issue[853](https://github.com/FightPandemics/FightPandemics/issues/853) which is for mobile. Also, there is no design for this feature yet.

[2020-07-02 17:01] joshmorel commented on #909
@WafaaAly you are totally right. I'm sorry I didn't read the details more carefully. I'm wondering if title would be better - "add social media header meta tags".

The title made me immediately thing of the other issue about a button to share to various sites.

[2020-07-02 17:07] WafaaAly commented on #909
@joshmorel The target of this is to share to Facebook for example unlike the other User Story.
To share to Facebook and the different sites we need to have the tags.
So adding the tags is only a part of it.
Clear now?

Again, I would appreciate if we have a discussion about things first and _I_ will apply the changes we agree upon.

[2020-07-02 17:12] joshmorel commented on #909
Also, I don't know how well this might work without using SSR like Next.js OR maybe rendering metadata only for social media crawlers... So this will be hard based on where we are right now but definitely necessary in the long run. I will ask in our F/E channel for ideas, maybe not "MVP - Release 1".

Apologies for closing without discussing and I will change the title back so you can edit.

This

[2020-07-02 17:12] joshmorel commented on #909
I will add the question label now when further information is required.

[2020-07-02 17:18] WafaaAly commented on #909
@joshmorel metadata for social media crawlers that we need are the Open Graph/OG meta tags.

Are you a back-end developer?

[2020-07-02 17:22] WafaaAly commented on #909
what is the F/E channel?

    To share to Facebook and the different sites we need to have the tags.
    So adding the tags is only a part of it.

We can a call to discuss that.

[2020-07-02 17:39] Joeu commented on #908
I made a lot of changes to deal with sizing and proportion. Now we are able to set the proportion by adjusting the font-size in the GlobalStyles.js file.

@idjevm , @jyclam , @manualzuru , @Yu-Alexa-Zhao , @ppagarawal , please check and make comments regarding the screenshots below (representing 4k screens):

![4kScreenProportions1](https://user-images.githubusercontent.com/1004896/86392135-57e25b

[2020-07-02 17:57] indirabhowmick commented on #909
Can we please prioritize this feature for a release first? I donot think there is a design for it yet. Thanks!

[2020-07-02 17:58] ppagarawal commented on #908
This looks good @Joeu
How will the other pages like feed, post, profile look like? Will the changes be applied there as well?

[2020-07-02 17:59] ppagarawal commented on #908
Also we may need to change the 'view more' button depending on screen size apparently, in the future releases

[2020-07-02 18:01] Joeu commented on #908
I put screenshots for those pages also, @ppagarawal

[2020-07-02 18:02] Joeu commented on #908
I uploaded prints for those pages too, @ppagarawal .